@font-face {
    font-family: 'RobotoslabRegular';
    src: url('./fonts/robotoslab-regular.eot');
    src: url('./fonts/robotoslab-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/robotoslab-regular.woff') format('woff'), url('./fonts/robotoslab-regular.ttf') format('truetype'), url('./fonts/robotoslab-regular.svg#RobotoslabRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoslabBold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/robotoslab-bold.eot');
    src: url('./fonts/robotoslab-bold.eot?#iefix') format('embedded-opentype'), url('./fonts/robotoslab-bold.woff') format('woff'), url('./fonts/robotoslab-bold.ttf') format('truetype'), url('./fonts/robotoslab-bold.svg#RobotoslabBold') format('svg');
}

@font-face {
    font-family: 'RobotoslabLight';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/robotoslab-light.eot');
    src: url('./fonts/robotoslab-light.eot?#iefix') format('embedded-opentype'), url('./fonts/robotoslab-light.woff') format('woff'), url('./fonts/robotoslab-light.ttf') format('truetype'), url('./fonts/robotoslab-light.svg#RobotoslabLight') format('svg');
}

@font-face {
    font-family: 'TwCenMTCondensed';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/twcenmt-condensed.eot');
    src: url('./fonts/twcenmt-condensed?#iefix') format('embedded-opentype'), url('./fonts/twcenmt-condensed.woff') format('woff'), url('./fonts/twcenmt-condensed.ttf') format('truetype'), url('./fonts/twcenmt-condensed.svg#TwCenMTCondensed') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/roboto-regular.eot');
    src: url('./fonts/roboto-regular?#iefix') format('embedded-opentype'), url('./fonts/roboto-regular.woff') format('woff'), url('./fonts/roboto-regular.ttf') format('truetype'), url('./fonts/roboto-regular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/roboto-bold.eot');
    src: url('./fonts/roboto-bold?#iefix') format('embedded-opentype'), url('./fonts/roboto-bold.woff') format('woff'), url('./fonts/roboto-bold.ttf') format('truetype'), url('./fonts/roboto-bold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('./fonts/robotocondensed-regular.eot');
    src: url('./fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/robotocondensed-regular.woff') format('woff'), url('./fonts/robotocondensed-regular.ttf') format('truetype'), url('./fonts/robotocondensed-regular.svg#RobotoCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rabiohead";
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/rabiohead.eot');
    src: url('./fonts/rabiohead?#iefix') format('embedded-opentype'), url('./fonts/rabiohead.woff') format('woff'), url('./fonts/rabiohead.ttf') format('truetype'), url('./fonts/rabiohead.svg#Rabiohead') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans-regular.eot');
    src: url('./fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/opensans-regular.woff') format('woff'), url('./fonts/opensans-regular.ttf') format('truetype'), url('./fonts/opensans-regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OCRAExtended';
    src: url('./fonts/OCRAExtended.eot?#iefix') format('embedded-opentype'), url('./fonts/OCRAExtended.woff') format('woff'), url('./fonts/OCRAExtended.ttf') format('truetype'), url('./fonts/OCRAExtended.svg#OCRAExtended') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BadScriptRegular';
    src: url('./fonts/badscript-regular.eot');
    src: url('./fonts/badscript-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/badscript-regular.woff') format('woff'), url('./fonts/badscript-regular.ttf') format('truetype'), url('./fonts/badscript-regular.svg#BadScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}