<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=EG-D-WEB07\SQL2014_Web;Initial Catalog=storage-autotests.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=Easy123!" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <authorization audience="storage-autotests.easygenerator.com" xdt:Transform="SetAttributes">
    <issuers>
      <issuer name="localhost" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <issuer name="rpetriv.easygenerator.com" identityUrl="//rpetriv.easygenerator.com/auth/identity" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
	  <issuer name="autotests.easygenerator.com" identityUrl="//autotests.easygenerator.com/auth/identity" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    </issuers>
  </authorization>

  <appSettings>
    <add key="CorsOrigins" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>

  <convertion url="//convertion-staging.easygenerator.com/convertion/tickets" xdt:Transform="SetAttributes" />
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

</configuration>
