<section class="fill-in-the-blank">

    <div class="content-section-wrapper">
        <div class="content-section" data-bind="with: fillInTheBlank">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded" data-bind="click: toggleExpand">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'fillInTheBlank' }">Fill in the blank</span>
                <div class="expand-collapse-panel-btn"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed" data-bind="click: toggleExpand">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'fillInTheBlank' }">Fill in the blank</span>
                <div class="expand-collapse-panel-btn"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="content-section-wrapper answer-options" data-bind="with: fillInTheBlank">
        <!-- ko if: isExpanded -->
        <div class="question-answer-options-area">
            <div class="content-section">
                <!-- ko if: isContentDefined -->
                <div data-bind="fillInTheBlank: { name:'blankContent', createButtonSelector: '.create-blank', localizationManager: $root.localizationManager, eventTracker: $root.eventTracker}">
                    <div class="fib-wrapper fib-content">
                        <div class="question-learning-content selectable blankContent" data-bind="attr:{ id: 'blankContent'}, ckeditor: { fillInTheBlank: true, data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, focus: beginEditText, blur: function (data, event) { updateText(data, event), endEditText(data, event); }, autosaveInterval: $parent.autosaveInterval, localizationManager: $root.localizationManager }">
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="create-blank-wrapper">
                            <span class="create-blank-hotkey">(Ctrl+Q)</span>
                            <div class="action-item-btn btn create-blank">
                                <span class="create-blank-text" data-bind="localize: {text: 'addBlank' }">Add blank</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: isContentDefined -->
                <div class="fib-wrapper" data-bind="click: addFillInTheBlank">
                    <div class="fib-add-button-text-wrapper">
                        <span class="fib-add-button-text selectable" data-bind="localize: { text: 'defineTheContentWithBlank' }">Define the content with blanks</span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>

</section>