<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=china.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=8ZgPEeesU2" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ElmahDBConnection" connectionString="Data Source=.;Initial Catalog=china.easygenerator.com-elmah;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=8ZgPEeesU2" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
  </connectionStrings>

  <fileStorage MaximumFileSize="10485760" Path="../live.easygenerator.com.cn(FileStorage)" xdt:Transform="SetAttributes" />
  
  <templateStorage CustomTemplatesPath="../live.easygenerator.com.cn(CustomTemplates)" xdt:Transform="SetAttributes" />

  <wooCommerce serviceUrl="https://www.easygenerator.com.cn" apiKey="SaswuCHA82gegaharu64aphAxUTAWAbr"  autologinKey="hecre5rubr6Ched5kesuwruqacucuquw" autologinVector="4abrej6nE4ADrecrUdEPe4T66ruMeWRa" xdt:Transform="SetAttributes" />
   
  <mailChimp serviceUrl="" apiKey="" listName="" xdt:Transform="SetAttributes" />
	
  <aim4You serviceUrl="" userName="" password="" xdt:Transform="SetAttributes" />
  
  <publication serviceUrl="http://elearning.easygenerator.com.cn" apiKey="8F23E3E1E45A4D389CE40B93CF5CC712" xdt:Transform="SetAttributes" />
  
  <externalApi>
    <apiKeys>
      <apiKey name="wooCommerce" value="6FFA4BC402CC4D5297BA56DC720453B8" xdt:Transform="SetAttributes"/>
    </apiKeys>
  </externalApi>

  <mailSender interval="120" enable="true" xdt:Transform="SetAttributes">
    <mailTemplates>
      <mailTemplate name="SignedUpUserTemplate" to="easygenerator@casengomail.com" from="info@easygenerator.com" subject="Registration for free edition of easygenerator." xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="ForgotPasswordTemplate" from="noreply@easygenerator.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="FeedbackTemplate" to="sales@easygenerator.com" from="info@easygenerator.com" subject="Feedback from user (easygenerator web)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="NewsletterSubscriptionFailedTemplate" to="support@easygenerator.com" from="info@easygenerator.com" subject="Problem with Mailchimp Auto Subscribe" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="HttpRequestFailedTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="Failed to send http request" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
    </mailTemplates>
  </mailSender>

  <appSettings>
    <add key="MixPanelToken" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="NudgespotToken" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalyticsAccount" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalyticsDomain" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PasswordRecoveryTicketExpirationInterval" value="1440" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <location path="api/aim4you/publish">
    <system.web>
      <httpRuntime executionTimeout="600" xdt:Transform="SetAttributes"/>
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" port="25" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <elmah>
    <errorLog type="easygenerator.Web.Components.Elmah.SqlErrorLogExtended, easygenerator.Web" connectionStringName="ElmahDBConnection" applicationName="easygenerator" xdt:Transform="Insert" />
  </elmah>
  
</configuration>