<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=EG-D-WEB07\SQL2012;Initial Catalog=integration-tests.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=Easy123!" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="deploymentUrl" value="https://integrationtests.easygenerator.com:44300" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="wooCommerceSecurityKey" value="51dc0c99b1d2420d9aef279ffa8a50fb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>
