<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=EG-D-WEB07\SQL2012;Initial Catalog=integration-tests.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=Easy123!" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <fileStorage Path="../FileStorage" xdt:Transform="SetAttributes" />

  <publication serviceUrl="//elearning.integrationtests.easygenerator.com" xdt:Transform="SetAttributes" />

  <externalApi>
    <apiKeys>
      <apiKey name="wooCommerce" value="51dc0c99b1d2420d9aef279ffa8a50fb" xdt:Transform="SetAttributes" />
    </apiKeys>
  </externalApi>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" port="25" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
