<?xml version="1.0"?>
  <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=.\sql2014_web;Initial Catalog=live.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=OT1Km21iO2" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)" />
      <add name="ElmahDBConnection" connectionString="Data Source=.\sql2014_web;Initial Catalog=live.easygenerator.com-elmah;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=OT1Km21iO2" providerName="System.Data.SqlClient" xdt:Transform="Insert"
      />
    </connectionStrings>

    <fileStorage MaximumFileSize="10485760" Path="../live.easygenerator.com(FileStorage)" xdt:Transform="SetAttributes" />

    <authorization issuer="live.easygenerator.com,beta.easygenerator.com" xdt:Transform="SetAttributes">
      <endpoints>
        <endpoint name="storage" scopes="storage,auth" audience="storage.easygenerator.com" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" apiKey="cZ5QY8epz28lCKsO0PAu2FP6SIV12E17" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
        />
        <endpoint name="auth" scopes="auth" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <endpoint name="lti" scopes="lti" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <endpoint name="api" scopes="api" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <endpoint name="preview" scopes="preview" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <endpoint name="signalr" scopes="signalr" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <endpoint name="upgradeAccount" scopes="upgradeAccount" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <endpoint name="settings" scopes="settings,auth" audience="app" secret="5DliLTP4ioPpec682CUWWltvJt6herUGawU3f/1MKFr3r6n5lVawlQBFO4HHHzy9TN7z9sjS9BInkWzUnq5CAw==" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </endpoints>
    </authorization>

    <templateStorage CustomTemplatesPath="../live.easygenerator.com(CustomTemplates)" xdt:Transform="SetAttributes" />

    <wooCommerce serviceUrl="https://www.easygenerator.com" apiKey="6Dpr7no691iRc33Y9bF480tZLx8Y6t8P" autologinKey="hecre5rubr6Ched5kesuwruqacucuquw" autologinVector="4abrej6nE4ADrecrUdEPe4T66ruMeWRa" xdt:Transform="SetAttributes" />

    <mailChimp serviceUrl="https://us5.api.mailchimp.com/2.0" apiKey="3dad0daa4028dc8c114439efae302427-us5" listName="easygenerator free edition newsletter" xdt:Transform="SetAttributes" />

    <publication serviceUrl="//elearning.easygenerator.com" apiKey="C9019F3B949C45979737DBBB4D1B27D8" xdt:Transform="SetAttributes" />

	<branchtrack serviceUrl="http://apps.branchtrack.com" xdt:Transform="SetAttributes">
    <apiKeys>
      <apiKey name="Default" value="5xdw4s6ufytnp87ik2lgvz0jobaqh9em" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <apiKey name="AcademyBT" value="2rxuwb6qc4gnftsmvjoh9a7dlez0pik5" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </apiKeys>
    </branchtrack>
	
	<wintoweb serviceUrl="http://wintoweb.easygenerator.com/tickets" apiKey="f6c801f6-ae94-4dae-a48e-51c8049b11fb" xdt:Transform="SetAttributes" />
	<intercom serviceUrl="https://api.intercom.io/users" appId="cwuwa9qh" apiKey="735d721fdf797132af0def622cddbd5510743d19" xdt:Transform="SetAttributes" />
	<coggno serviceUrl="https://coggno.com/" serviceProviderUrl="https://coggno.com/easygenerator/sp/saml_login" assertionConsumerServiceUrl="https://coggno.com/easygenerator/sp/consume" issuer="http://coggno.com" publicationUrl="http://coggno.com/easygenerator/documents/create" apiKey="t49va22b9xogjzofl07q9kjs" xdt:Transform="SetAttributes" />
	
    <externalApi requiresHttps="true" xdt:Transform="SetAttributes">
      <apiKeys>
        <apiKey name="wooCommerce" value="6FFA4BC402CC4D5297BA56DC720453B8" xdt:Transform="SetAttributes" />
      </apiKeys>
    </externalApi>

    <mailSender interval="120" enable="true" xdt:Transform="SetAttributes">
      <mailTemplates>
        <mailTemplate name="SignedUpUserTemplate" to="easygenerator@casengomail.com" from="info@easygenerator.com" subject="Registration for free edition of easygenerator." xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
        <mailTemplate name="ForgotPasswordTemplate" from="noreply@easygenerator.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
        <mailTemplate name="FeedbackTemplate" to="sales@easygenerator.com" from="info@easygenerator.com" subject="Feedback from user (easygenerator web)" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
        <mailTemplate name="NewsletterSubscriptionFailedTemplate" to="support@easygenerator.com" from="info@easygenerator.com" subject="Problem with Mailchimp Auto Subscribe" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
        <mailTemplate name="HttpRequestFailedTemplate" to="noreply@easygenerator.com;ua@easygenerator.com" from="info@easygenerator.com" subject="Failed to send http request" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      </mailTemplates>
    </mailSender>

    <appSettings>
      <add key="MixPanelToken" value="36724a410b75d1f874ceed24f2b79201" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="NudgespotToken" value="075234c5525bf9b5eaa3b4b1946e591c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="GoogleAnalyticsAccount" value="UA-24274283-1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="GoogleAnalyticsDomain" value=".easygenerator.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="PasswordRecoveryTicketExpirationInterval" value="1440" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="demoCourses.allowedUsers" value="sales@easygenerator.com;v.kontsedaylo@ism.nl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="preview.allowedUsers" value="admin@easygenerator.com;sales@easygenerator.com;v.kontsedaylo@ism.nl;r.vanvalkengoed@easygenerator.com;r.mulder@easygenerator.com;n.spiro@easygenerator.com;k.spiro@easygenerator.com;b.dejong@easygenerator.com;support@easygenerator.com;olexandrabezverkha@gmail.com;olgazt92@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="dashboard.allowedUsers" value="admin@easygenerator.com;sales@easygenerator.com;v.kontsedaylo@ism.nl;r.vanvalkengoed@easygenerator.com;r.mulder@easygenerator.com;n.spiro@easygenerator.com;k.spiro@easygenerator.com;b.dejong@easygenerator.com;support@easygenerator.com;olexandrabezverkha@gmail.com;olgazt92@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="StorageServiceUrl" value="storage.easygenerator.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ConvertionServiceUrl" value="convertion.easygenerator.com/convertion" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="PlayerUrl" value="player.easygenerator.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="WinToWebConvertionServiceUrl" value="wintoweb.easygenerator.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	  <add key="ImageLibraryOnlyHttps" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>

    <system.web>
      <compilation debug="false" xdt:Transform="SetAttributes" />
    </system.web>

    <system.net>
      <mailSettings>
        <smtp>
          <network host="127.0.0.1" port="25" xdt:Transform="SetAttributes" />
        </smtp>
      </mailSettings>
    </system.net>

    <elmah>
      <errorLog type="easygenerator.Web.Components.Elmah.SqlErrorLogExtended, easygenerator.Web" connectionStringName="ElmahDBConnection" applicationName="easygenerator" xdt:Transform="Insert" />
      <errorMail from="info@easygenerator.com" to="ua@easygenerator.com" xdt:Transform="Insert" />
    </elmah>

  </configuration>
