<?xml version="1.0"?>
  <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=.\sql2014_web;Initial Catalog=elearning.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=OT1Km21iO2" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)" />
    </connectionStrings>

    <appSettings>
      <add key="apiKey" value="C9019F3B949C45979737DBBB4D1B27D8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="allowIndexing" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>

    <system.web>
      <compilation debug="false" xdt:Transform="SetAttributes" />
    </system.web>

  </configuration>