<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=EG-D-WEB07\SQL2012;Initial Catalog=yrsavchuk.easygenerator.com;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=Easy123!" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ElmahDBConnection" connectionString="Data Source=EG-D-WEB07\SQL2012;Initial Catalog=yrsavchuk.easygenerator.com-elmah;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=Easy123!" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
  </connectionStrings>

  <fileStorage Path="../FileStorage" xdt:Transform="SetAttributes" />
  
  <templateStorage CustomTemplatesPath="../CustomTemplates" xdt:Transform="SetAttributes" />

  <mailSender interval="120" enable="true" xdt:Transform="SetAttributes">
    <mailTemplates>
      <mailTemplate name="SignedUpUserTemplate" to="v.kontsedaylo@ism.nl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="FeedbackTemplate" to="v.kontsedaylo@ism.nl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="NewsletterSubscriptionFailedTemplate" to="v.kontsedaylo@ism.nl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
      <mailTemplate name="HttpRequestFailedTemplate" to="v.kontsedaylo@ism.nl" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"></mailTemplate>
    </mailTemplates>
  </mailSender>

  <publication serviceUrl="http://elearning.branches.easygenerator.com" xdt:Transform="SetAttributes" />
  
  <externalApi requiresHttps="false" xdt:Transform="SetAttributes">
  </externalApi>

  <appSettings>
    <add key="MixPanelToken" value="2437bde765c21c653b058ba64a5c2cfa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalyticsAccount" value="UA-35530889-1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" port="25" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>

  <elmah>
    <errorLog type="easygenerator.Web.Components.Elmah.SqlErrorLogExtended, easygenerator.Web" connectionStringName="ElmahDBConnection" applicationName="easygenerator" xdt:Transform="Insert" />
  </elmah>

</configuration>
