<section id="notSupportedBrowser" class="not-supported-browser">
    <h2>Your browser is currently not supported.</h2>
    <p>
        Don’t worry, there is an easy fix. All you have to do is click one of the icons below and follow the instructions.
    </p>
    <ul class="unstyled">
        <li class="pull-left">
            <a href="http://www.google.com/chrome" target="_blank">
                <img src="img/chrome.png?v=exam" alt="Google Chrome"></a>
        </li>
        <li class="pull-left">
            <a href="http://www.mozilla.com/firefox" target="_blank">
                <img src="img/firefox.png?v=exam" alt="Mozilla Firefox"></a>
        </li>
        <li class="pull-left">
            <a href="http://support.apple.com/kb/DL1531" target="_blank">
                <img src="img/safari.png?v=exam" alt="Apple Safari"></a>
        </li>
        <li class="pull-left">
            <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie" target="_blank">
                <img src="img/ie10.png?v=exam" alt="Microsoft Internet Explore 10"></a>
        </li>
    </ul>
</section>