<section id="introduction" class="unselectable">
    <div class="content">
        <header class="page-header">
            <h1 class="course-title">
                <span class="course-name">Course: </span><span class="course-caption" data-bind="text: courseTitle">"course_name"</span>
            </h1>
            <div class="course-action-block intro">
                <a class="small-page-action-btn start-btn" href="#" data-bind="click: startCourse">Start course</a>
            </div>
        </header>
        <div class="intro-content-wrapper">
            <div class="course-intro-text" data-bind="html: content"></div>
        </div>
    </div>
</section>
