<section id="question" class="question unselectable">

    <div class="navigation-link-container clearfix">
        <div class="pull-left">
            <a class="navigation-link navigation-link-left" href="/#" data-bind="click: backToObjectives">
                <div class="navigation-link-left-image"></div>
                <span>Back to objectives</span>
            </a>
        </div>
        <div class="questions-navigation-container">
            <div class="questions-navigation-title"><span>Questions</span></div>
            <div>
                <a class="question-navigation-button previous" data-bind="attr: { href: navigationContext.previousQuestionUrl, title: isPreviousQuestionAvailable() ? 'previous question' : '' }, css: { disabled: !isPreviousQuestionAvailable() }">&nbsp;</a><span class="questions-counter" data-bind="text: navigationContext.currentQuestionIndex + ' of ' + navigationContext.questionsCount"></span><a class="question-navigation-button" data-bind="attr: { href: navigationContext.nextQuestionUrl, title: isNextQuestionAvailable() ? 'next question' : '' }, css: { disabled: !isNextQuestionAvailable() }">&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="loader" data-bind="visible: isLoadingNewQuestion()">
        <div class="loader-image"></div>
    </div>    
    <!-- ko ifnot: isLoadingNewQuestion -->
    <div class="content-holder" data-bind="visible: !isLoadingNewQuestion()">
        <!-- ko if: learningContents.length > 0 -->
        <!-- ko compose: 'learningContents.html'-->
        <!-- /ko -->
        <!-- /ko -->
        <div class="content">
            <div class="caption">
                <div class="caption-inner shadow-bottom-curve">
                    <div class="caption-icon">
                        <div class="caption-icon-image"></div>
                    </div>
                    <div class="caption-text">
                        <span class="selectable" data-bind="text: title"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ko if: content -->
        <div class="question-content" data-bind="compose: { model: { url: content }, strategy: 'strategies/externalContentStrategy' }"></div>
        <!-- /ko -->
        <div class="content">
            <ul class="question-answers unstyled" data-bind="foreach: answers">
                <li class="question-answer" data-bind="click: $parent.checkItem">
                    <div>
                        <a class="question-answer-checkbox" data-bind="css: { checked: isChecked() }"></a>
                    </div>
                    <div class="question-answer-text selectable" data-bind="text: text"></div>
                </li>
            </ul>
            <!-- ko if: !isAnswered() -->
            <div class="btn-submit-wrapper" data-bind="visible: !isAnswered()">
                <button class="btn-submit grey-btn" data-bind="click: submit">Submit</button>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko if: isCorrectAnswered() -->
        <div class="feedback-content" data-bind="visible: isAnswered, scrollIntoView: isAnswered">
            <div class="feedback-correct">
                <span class="feedback-icon"></span>
                <span class="feedback-text">Correct answer</span>
            </div>
            <div class="feedback-btn-holder">
                <button class="middle-page-action-btn blue-btn" data-bind="click: navigateNext, text: isNextQuestionAvailable() ? 'Next' : 'Go to learning objectives'">Next</button>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: isWrongAnswered() -->
        <div class="feedback-content feedback-incorrect" data-bind="visible: isAnswered, scrollIntoView: isAnswered">
            <div class="feedback-incorrect">
                <span class="feedback-icon"></span>
                <span class="feedback-text">Incorrect answer</span>
            </div>
            <div class="feedback-btn-holder">
                <button class="middle-page-action-btn red-btn" data-bind="click: tryAnswerAgain">Try again</button><!--
                    --><span class="feedback-btn-whitespace"></span><!--
                        --><button class="middle-page-action-btn grey-btn" data-bind="click: navigateNext, text: isNextQuestionAvailable() ? 'Next' : 'Go to learning objectives'">Next</button>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="navigation-link-container clearfix">
        <div class="questions-navigation-container">
            <div>
                <a class="question-navigation-button previous" data-bind="attr: { href: navigationContext.previousQuestionUrl, title: isPreviousQuestionAvailable() ? 'previous question' : '' }, css: { disabled: !isPreviousQuestionAvailable() }">&nbsp;</a><span class="questions-counter" data-bind="text: navigationContext.currentQuestionIndex + ' of ' + navigationContext.questionsCount"></span><a class="question-navigation-button" data-bind="attr: { href: navigationContext.nextQuestionUrl, title: isNextQuestionAvailable() ? 'next question' : '' }, css: { disabled: !isNextQuestionAvailable() }">&nbsp;</a>
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>
