<div class="header" data-bind="css: 'module-' + cssName()">
    <ul class="navigation-menu">
        <li class="navigation-menu-item">
            <!-- ko if: viewSettings().rootLinkEnabled  -->
            <a href="#objectives">
                <img alt="" src="" class="main-logo" data-bind="attr: { src: logoUrl }">
            </a>
            <!-- /ko -->
            <!-- ko ifnot: viewSettings().rootLinkEnabled -->
            <span>
                <img alt="" src="" class="main-logo" data-bind="attr: { src: logoUrl }">
            </span>
            <!-- /ko -->
        </li>
        <!-- ko if: viewSettings().navigationEnabled -->
        <!-- ko foreach: router.navigationModel -->
        <li class="navigation-menu-item" data-bind="css: { active: isActive }">
            <a class="navigation-menu-item-link pull-right" data-bind="html: settings.caption, attr: { href: hash }"></a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
</div>
<div class="loader" data-bind="visible: isNavigatingToAnotherView()">
    <div class="loader-image"></div>
</div>
<section id="content" class="content-wrapper" data-bind="visible: !isNavigatingToAnotherView()">
    <!--ko router: { cacheViews:false }-->
    <!--/ko-->
</section>
