<section id="xapiNotSupported" class="xapiNotSupported unselectable">

    <link rel="stylesheet" href="App/xApi/css/xapiNotSupported.css" />

    <div class="content" data-bind="focusHandler: {}">
        <header class="page-header">
            <h1 class="course-title">
                <span class="course-name">Course: </span><span class="course-caption" data-bind="text: courseTitle">"course_name"</span>
            </h1>
        </header>

        <div class="xapi-message-holder">
            <div class="xapi-message-info">
                <h2 class="xapi-message-title page-caption selectable">Progress tracking cannot be established</h2>
                <p class="xapi-message-text">
                    Sorry, this course does not support progress tracking in Internet Explorer 9. Please use one of the following browser: <strong>Chrome</strong>, <strong>Firefox</strong>, <strong>Safari</strong>, <strong>IE10+</strong> in order to track your progress, or just start the course without tracking.
                </p>
            </div>

            <div class="xapi-btn-container clearfix">
                <a class="xapi-nav-link" href="#" data-bind="click: skip">Do not report, just start</a>
            </div>
        </div>
    </div>

</section>
