<section id="xapiError" class="container xapi-error-section">
    
    <link rel="stylesheet" href="App/xApi/css/xAPIError.css" />

    <div class="xapi-error-container">
        <div class="xapi-error-container-img"></div>
        <h1 class="xapi-error-container-header">Something is wrong</h1>
        <span class="xapi-error-container-description">If you continue without restarting, your learning progress will not be reported.</span>
        <button class="xapi-error-container-button restart" data-bind="click: restartCourse">Restart course</button>
        <button class="xapi-error-container-button continue" data-bind="click: continueLearning">Continue anyway</button>
    </div>
</section>