<section class="feedback unselectable">

    <div class="navigation-link-container">
        <div class="pull-left">
            <a class="navigation-link navigation-link-left" href="/#" data-bind="click: backToObjectives">
                <div class="navigation-link-left-image"></div>
                <span>Back to objectives</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="content">
        <div class="caption">
            <div class="caption-inner shadow-bottom-curve">
                <div class="caption-icon">
                    <div class="caption-icon-image"></div>
                </div>
                <div class="caption-text">
                    <span>Score</span>
                </div>
            </div>
        </div>
        <div class="question-progress">
            <canvas width="217" height="217" data-bind="context: triggerRedraw, contextCallback: redrawCanvas"></canvas>
            <div class="question-progress-score selectable" data-bind="text: score + '%'"></div>
        </div>
        <div class="navigation-btn-container clearfix">
            <a class="navigation-btn-left pull-left" href="#" data-bind="click: showExplanations ">Show explanations</a>
            <!-- ko if: isShowNextQuestionButton()-->
            <a class="navigation-btn-right pull-right" href="#" data-bind="click: chooseNextQuestion">Choose next question</a>
            <!-- /ko-->
            <!-- ko if: isShowTryAgainButton() -->
            <a class="navigation-btn-right pull-right" href="#" data-bind="click: tryAgain">Try again</a>
            <!-- /ko-->
            
        </div>
    </div>
</section>
