<section class="feedback">

    <div class="navigation-link-container">
        <div class="pull-left">
            <a class="navigation-link navigation-link-left" href="/#" data-bind="click: backToObjectives">
                <div class="navigation-link-left-image"></div>
                Back to objectives</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="content">
        <div class="caption">
            <div class="caption-inner">
                <div class="caption-icon">
                    <div class="caption-icon-image"></div>
                </div>
                <div class="caption-text">
                    <span>Score</span>
                </div>
            </div>
        </div>
        <div class="question-score">
            <span data-bind="text: score"></span>%
        </div>
        <div class="navigation-btn-container">
            <a class="navigation-btn-left" href="#" data-bind="click: showExplanations ">Show me explanations</a>
            <a class="navigation-btn-right" href="#" data-bind="click: chooseNextQuestion">Choose next question</a>
        </div>
    </div>
</section>
