<section class="home">
    <ul class="unstyled objective-brief-list" data-bind="foreach: objectives">
        <li>
            <a href="#" class="objective-brief" data-bind="click: toggleExpand">
                <div class="objective-brief-indicator"></div>
                <div class="objective-brief-image-wrapper">
                    <div class="objective-brief-image-border">
                        <div>
                            <img class="objective-brief-image" src="" alt="" data-bind="attr: { src: image }">
                        </div>
                    </div>
                </div>
                <div class="objective-brief-title" style="" data-bind="text: title"></div>
                <div class="objective-brief-expand-collapse-wrapper" style="">
                    <div data-bind="css: { 'btn-collapse': isExpanded(), 'btn-expand': !isExpanded() }"></div>
                </div>
                <!--<div class="objective-brief-title-expand-collapse-wrapper">
                    <div class="objective-brief-title-expand-collapse">
                        <div data-bind="css: { 'btn-collapse': isExpanded(), 'btn-expand': !isExpanded() }"></div>
                    </div>
                </div>-->
            </a>
            <!-- ko if: isExpanded() -->
            <ul class="unstyled question-brief-list" data-bind="foreach: questions">
                <li class="question-brief">
                    <a class="question-brief-title" href="#" data-bind="text: title, attr: { href: '#/objective/' + $parent.id + '/question/' + id }"></a>
                    <!--<ul data-bind="foreach: answers">
                        <li>
                            <span data-bind="text: text"></span>
                            <span data-bind="text: isCorrect"></span>
                        </li>
                    </ul>
                    <ul data-bind="foreach: explanations">
                        <li>
                            <a href="#" data-bind="text: id, attr: { href: '#/objective/' + $parents[1].id + '/question/' + $parent.id + '/explanation/' + id }"></a>
                        </li>
                    </ul>-->
                </li>
            </ul>
            <!-- /ko -->
        </li>
    </ul>
</section>
