<div class="not-supported-browser">
    <h2>Your browser is currently not supported.</h2>
    <p>
        Don’t worry, there is an easy fix. All you have to do is click one of the icons below and follow the instructions.
    </p>
    <div class="browser-icons-wrapper">
        <div class="browser-group">
            <a href="http://www.google.com/chrome" target="_blank">
                <img src="img/chrome.png" alt="Google Chrome">
            </a>
            <a href="http://www.mozilla.com/firefox" target="_blank">
                <img src="img/firefox.png" alt="Mozilla Firefox">
            </a>
        </div>
        <div class="browser-group">
            <a href="http://support.apple.com/kb/DL1531" target="_blank">
                <img src="img/safari.png" alt="Apple Safari">
            </a>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie" target="_blank">
                <img src="img/ie10.png" alt="Microsoft Internet Explore 10">
            </a>
        </div>
    </div>
</div>
