<li>
    <div class="r-table">
        <div class="r-text question" data-bind="localize: { text: 'reportingQuestionTitle' }"></div>
        <div class="r-question-text selectable">
            <p>
                "<span data-bind="text: lrsStatement.name"></span>"
                <!-- ko if: !hasScore && (hasAnswer || !!isSurvey) -->
                <!-- ko ifnot: answerShown -->
                <span class="r-show-details" data-bind="localize: { text: 'reportingShowDetails' }, click: showAnswer"></span>
                <!-- /ko --> 
                <!-- ko if: answerShown -->
                <span class="r-show-details" data-bind="localize: { text: 'reportingHideDetails' },click: hideAnswer"></span>
                <!-- /ko --> 
                <!-- /ko --> 
            </p>
        </div>
        <div class="r-score" data-bind="css: { correct: correct, 'no-result': !hasScore }">
            <p>
                <!-- ko if: hasScore -->
                <span data-bind="text: lrsStatement.score + '%'"></span>
                <!-- /ko --> 
                <!-- ko ifnot: hasScore -->
                <span data-bind="localize: { text: 'reportingInfoNotAvailable' }"></span>
                <!-- /ko -->
            </p>
        </div>
    </div>
    <!-- ko if: !hasScore && (hasAnswer || !!isSurvey) && answerShown -->

    <!-- ko ifnot: !!isSurvey -->
    <div class="r-answer-container">
        <div class="r-answer">
            <div class="r-answer-title" data-bind="localize: { text: 'reportingLearnersAnswer' }"></div>
            <div class="r-answer-text selectable" data-bind="text: lrsStatement.response"></div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: !!isSurvey -->
    <!-- ko compose: { view: 'reporting/views/questionStatements/surveyModeViews/'+ questionType +'.html', model: $data }--><!-- /ko -->
    <!-- /ko -->

    <!-- /ko -->
</li>