################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo

bower_components/
node_modules/
src/content/
src/css/*.css
src/vendor/
/.output
Web.config
