.clearfix:after {
  clear: both;
  content: "";
  display: block;
}
body {
  color: #4d4d4d;
}
.content {
  width: 980px;
  margin: 0 auto;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  min-height: 600px;
}
h1 {
  color: #4d4d4d;
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}
h2 {
  color: #4d4d4d;
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
}
h3 {
  color: #4d4d4d;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.content-section {
  margin-bottom: 30px;
  border-bottom: 1px solid #4d4d4d;
}
.article-example {
  width: 400px;
  float: left;
  margin-bottom: 30px;
}
aside {
  width: 550px;
  float: left;
  border-left: 1px solid #4d4d4d;
  padding-left: 20px;
}
.element-container-caption {
  text-align: center;
  color: #469dd5;
}
.element-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 2px solid #469dd5;
  text-align: center;
  vertical-align: middle;
}
.element-wrapper-caption {
  text-align: center;
  color: #65bd77;
}
.element-wrapper {
  margin: 0 10px;
  padding: 10px;
  border: 2px solid #65bd77;
  text-align: center;
}
.element-image {
  display: inline-block;
  width: 153px;
  height: 28px;
}
.code.correct {
  color: #469dd5;
}
.code.incorrect {
  color: #ff0000;
}
footer {
  width: 980px;
  margin: 0 auto;
}
