<li class="expandable" data-bind="css: { expanded: isExpanded }">
    <div class="r-table" data-bind="click: isExpanded() ? collapse : expand">
        <div class=" r-text">OBJECTIVE:</div>
        <div class="r-title selectable">"<span data-bind="text: lrsStatement.name"></span>"</div>
    </div>
    <!-- ko if: isExpanded -->
    <ul class="r-question">
        <!-- ko foreach: children -->
        <!-- ko compose: { view: 'views/reporting/questionStatement', model: $data } --><!-- /ko -->
        <!-- /ko -->
    </ul>
    <!-- /ko -->
</li>