@using AccountRes
@{
    ViewBag.Title = "InvalidRestorePassword";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module invalid-password-recovery">
    <div class="user-title">@Resources.PasswordRecovery</div>
    <p>@Resources.RequestError</p>
    <p style="color: red">@Resources.CouldNotVerifyPasswordRecovery</p>
</section>
