@using ViewsResources
@{
    ViewBag.Title = Resources.PasswordRecovery;
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module invalid-password-recovery">
    <div class="user-title password-recovery">@Resources.PasswordRecovery</div>
    <div class="user-message-holder password-recovery">
        <p class="user-message-text">@Resources.RequestError</p>
        <p class="user-message-text error">@Resources.CouldNotVerifyPasswordRecovery</p>
    </div>
</section>