@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Account/_Layout.cshtml";
}
<section class="view-module log-in">
    <div class="user-columns">
        <div class="user-column form">
            <div class="user-title">Sign in</div>
            <form class="user-form" id="signinForm" action="#" method="post" data-bind="submit: submit">
                <div class="user-form-row" data-bind="css: { error: hasError }">
                    <label class="user-form-label email">E-mail</label>
                    <div class="user-form-input-holder">
                        <input class="user-form-input" type="text" name="email" data-bind="value: username, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div class="user-form-row" data-bind="css: { error: hasError }">
                    <label class="user-form-label password">Password</label>
                    <div class="user-form-input-holder">
                        <input class="user-form-input" type="password" name="password" data-bind="value: password, valueUpdate: 'afterkeydown', attr: { type: isPasswordVisible() ? 'text' : 'password' }" />
                        <a href="#" class="user-form-password-eye" data-bind="css: { revealed: isPasswordVisible }, click: togglePasswordVisibility"></a>
                    </div>
                </div>
                <!-- ko if: hasError -->
                <div class="user-form-notification warning">
                    <span class="user-form-notification-text" data-bind="text: errorMessage"></span>
                </div>
                <!-- /ko -->
                <div class="user-form-row submit">
                    <div class="formBtn">
                        <input class="green btn" type="submit" value="Sign in" data-bind="css: { disabled: !canSubmit() }">
                    </div>
                </div>
            </form>
        </div>
        <div class="user-column image">
            <img class="user-column-image" src="~/Content/images/account/log-in.png" alt="#" />
        </div>
    </div>

    <div class="social-block">
        <ul class="social-block-list">
            <li class="social-block-item">
                <a href="#" class="social-block-link facebook">
                    <span class="social-block-link-text">facebook</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link youtube">
                    <span class="social-block-link-text">youtube</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link linkedin">
                    <span class="social-block-link-text">linkedin</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link twitter">
                    <span class="social-block-link-text">twitter</span>
                </a>
            </li>
        </ul>
    </div>
</section>
