@using SharedResources
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = Resources.PrivacyPolicy;
}

<section class="view-module privacy-policy">
    <h1 class="document-title">Privacy policy</h1>
    <div class="document-subtitle">
        <div class="italic">
            This text is an extract from the 
            <a href="~/Content/eula/easygenerator_EULA.pdf" target="blank">easygenerator EULA</a> (End-User License Agreement).
             Please read it carefully. By using this service, you agree to the complete text of the
             <a href="~/Content/eula/easygenerator_EULA.pdf" target="blank">easygenerator EULA</a> including, but not limited to the following:
        </div>
    </div>
    <ol start="4" class="numeric-list">
        <li class="document-numeric-list-item">Data privacy & security
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    In providing you the service we shall maintain all administrative and technical safeguards to protect the security, confidentiality and integrity of your data.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator will only ever access your account upon your request for technical assistance. You will be asked to provide explicit consent each time an employee of
                    easygenerator needs to access your account. No employee of easygenerator will access your account without prior permission; unless required to do so by law.
                </li>
                <li class="document-marked-list-item">
                    Intellectual property rights. Easygenerator shall maintain all rights, title and interest in our respective patents, inventions, copyrights, trademarks, domain
                    names, and any other intellectual or property and/or proprietary rights . The rights granted to you to use the Service do not convey, by extension, any title to
                    patents, inventions, copyrights, trademarks, domains name or any other intellectual property owned by easygenerator.
                </li>
                <li class="document-marked-list-item">
                    Any feedback, enhancement suggestions or recommendations received from you can be incorporated into the easygenerator service: worldwide; royalty-free;
                    in perpetuity; and to any other easygenerator product(s) by transfer. You cannot claim any rights to these incorporations, either now or in the future.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator has the option to track and trace the results from your learners. This option is by default enabled. You can disable it in the settings in the application. These results will only be visible to you as the author, not to anyone else. The learner will at the start of the course get a login screen asking him for his permission to track and trace the results of his activities and will have an option to take the course without tracking his results.
                </li>
            </ul>
        </li>
    </ol>
</section>
