@using ViewsResources
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = Resources.PrivacyPolicy;
}

<section class="view-module privacy-policy">
    <h1 class="document-title">Privacy policy</h1>
    <div class="document-subtitle">
        <div class="italic">
            This text is an extract from the 
            <a href="~/Content/eula/Easygenerator_EULA.pdf" target="blank">Easygenerator EULA</a> (End-User License Agreement).
             Please read it carefully. By using this service, you agree to the complete text of the
             <a href="~/Content/eula/Easygenerator_EULA.pdf" target="blank">Easygenerator EULA</a> including, but not limited to the following:
        </div>
    </div>
    <ol class="numeric-list">
        <li class="document-numeric-list-item">
            Data privacy & security and copyrights
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    In providing you the service we shall maintain all administrative and technical safeguards to protect the security, confidentiality and integrity of your data.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator will only ever access your account upon your request for technical assistance. You will be asked to provide explicit consent each time an employee of Easygenerator needs to access your account. No employee of Easygenerator will access your account without prior permission; unless required to do so by law.
                </li>
                <li class="document-marked-list-item">
                    Intellectual property rights. Easygenerator shall maintain all rights, title and interest in our respective patents, inventions, copyrights, trademarks, domain names, and any other intellectual or property and/or proprietary rights . The rights granted to you to use the Service do not convey, by extension, any title to patents, inventions, copyrights, trademarks, domains name or any other intellectual property owned by Easygenerator.
                </li>
                <li class="document-marked-list-item">
                    Any feedback, enhancement suggestions or recommendations received from you can be incorporated into the Easygenerator service: worldwide; royalty-free; in perpetuity; and to any other Easygenerator product(s) by transfer. You cannot claim any rights to these incorporations, either now or in the future.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator has the option to track and trace the results from your learners. This option is by default enabled. You can disable it in the settings in the application. These results will only be visible to you as the author, not to anyone else. The learner will at the start of the course get a login screen asking him for his permission to track and trace the results of his activities and will have an option to take the course without tracking his results. Easygenerator does have the right to analyze this data for general trends and figures, but not on a personal or customer level, unless that customer has approved that.
                </li>
                <li class="document-marked-list-item">
                    All content created in the Free Plan of Easygenerator is owned (including copyrights) by the user who created it. By accepting this End User License Agreement (EULA) the user gives Easygenerator permission to share all content created by the user on the Easygenerator platform with other Easygenerator users. The user also gives permission for other users to have an unlimited and unrestricted right to reuse, change, create derivative works or publish this content. The goal of content sharing is to help other users in creating better e-Learning based on the experience of others. All free content will also be indexed by search engines.
                </li>
                <li class="document-marked-list-item">
                    All content created in the Paid Plans (Starter, Plus and Academy) of Easygenerator is owned (including copyrights) by the user who created it. The content from the paid Plans will not be indexed by search engines.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Third parties
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    To deliver our service to you, Easygenerator may utilize third party services. Your acceptance of these services confirms your compliance with the terms and conditions of these third party services. Easygenerator is not responsible for, nor does it endorse, the governance of your rights by third party companies. Easygenerator is not liable for any damage or loss attributed to, or connected to, your access or the uptime of a third party’s services.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Disclaimer of warranties
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    The service, including the site and content, and all server and network components are provided on an “as is” and “as available” basis, without any warranties of any kind to the fullest extent permitted by law, and Easygenerator expressly disclaims any and all warranties, whether express or implied, including, but not limited to, the implied warranties of merchantability, title, fitness for a particular purpose, and noninfringement. You acknowledge that Easygenerator does not warrant that the service will be uninterrupted, timely, secure, error-free or virus-free, and no information or advice obtained by you from Easygenerator or through the service shall create any warranty not expressly stated in these terms.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Limitation of liability
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    No consequential damages. Under no circumstances and under no legal theory (whether in contract, tort, negligence or otherwise) will either party to these terms, or such party’s affiliates or their respective officers, directors, employees, agents, suppliers or licensors be liable to the other party or any third party for any indirect, incidental, special, exemplary, consequential, punitive or other similar damages, including lost profits, lost sales or business, lost data, business interruption or any other loss incurred by such party in connection with these terms or the service, regardless of whether such party has been advised of the possibility of or could have foreseen such damages.
                </li>
                <li class="document-marked-list-item">
                    Limits on monetary damages. Notwithstanding anything to the contrary in these terms, Easygenerator’s (including any of its affiliates) aggregate liability, for damages (monetary or otherwise) under these terms claimed by you or any third party arising from our service, shall be limited to the lesser of (i) actual damages incurred, or (ii) payments made by you for the service during the twelve (12) months preceding the claim. The parties acknowledge and agree that the essential purpose of this section 11.2 is to allocate the risks under these terms between the parties and limit their potential liability given the fees charged under this agreement, which would have been substantially higher if Easygenerator were to assume any further liability other than as set forth herein. The parties have relied on these limitations in determining whether to enter into these terms.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Indemnification
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    Indemnification by Easygenerator. Easygenerator will indemnify and hold you harmless, from and against any claim against You by reason of Your use of the Service as permitted hereunder, brought by a third party alleging that the Service infringes a valid patent or copyright, or misappropriates a third party’s trade secret (such claims, collectively, “Claim”). Easygenerator shall, at its expense, defend such Claim and pay damages finally awarded against You in connection therewith, including the reasonable fees and expenses of the attorneys engaged by Easygenerator for such defense, provided that (i) You promptly notify Easygenerator of the threat or notice of such Claim, (ii) Easygenerator will have the sole and exclusive control and authority to select defense attorneys, defend and/or settle any such Claim, and (iii) You fully cooperate with Easygenerator in connection therewith. If Your use of the Service has become, or in Easygenerator’s opinion is likely to become, the subject of any such Claim, Easygenerator may at its option and expense (a) procure for You the right to continue using the Service as set forth hereunder; (b) replace or modify the Service to make it non-infringing; or (c) if options (a) or (b) are not reasonably practicable, terminate these Terms and repay You any unused Service fees. Easygenerator will have no liability or obligation under this Section 12.1 with respect to any Claim if such claim is caused in whole or in part by i) compliance with designs, data, instructions or specifications provided by You; ii) modification of the Service by anyone other than Easygenerator; or iii) the combination, operation or use of the Service with other hardware or software where the Service would not by itself be infringing.
                </li>
                <li class="document-marked-list-item">
                    The provisions of this Section 12.1 state the sole, exclusive and entire liability of Easygenerator to You and constitute Your sole remedy with respect to a Claim brought by reason of Your permitted use of the Service.
                </li>
                <li class="document-marked-list-item">
                    Indemnification by You. You agree to defend, indemnify, and hold harmless Easygenerator from and against any claims, actions or demands, including, without limitation, reasonable legal and professional services fees, arising or resulting from Your breach of these Terms, or Your and Your end users’ access to, use, misuse or illegal use of the Service. Easygenerator will provide You notice of any such claim, suit, or proceeding. Easygenerator reserves the right to assume the exclusive defense and control of any matter which is subject to indemnification under this section, in which case You agree to cooperate with any reasonable requests to assist Easygenerator’s defense of such matter.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Assignment; entire agreement; revisions
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    Either party may assign or transfer these Terms, in whole or in part, without restriction, provided the assignee agree to be fully bound by these Terms. These Terms supersede prior versions of these Terms, or any other discussions, agreements or understandings by or among the parties (other than written agreements expressly accepted and executed by both parties). We may amend these Terms from time to time, in which case the new Terms will supersede prior versions. We will notify You of such changes and direct You to the latest version.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Severability
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    If any provision in these Terms is held by a court of competent jurisdiction to be unenforceable, such provision shall be modified by the court and interpreted so as to best accomplish the original provision to the fullest extent permitted by law, and the remaining provisions of these Terms shall remain in effect.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Relationship of the parties
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    The parties are independent contractors. These Terms do not create a partnership, franchise, joint venture, agency, and fiduciary or employment relationship among the parties.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Governing law and dispute resolution
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    This Agreement shall be governed by and construed in accordance with the laws of The Netherlands. Any dispute or claim arising out of or in connection with this Agreement or the performance, breach or termination thereof shall be finally settled by the competent court in Amsterdam, The Netherlands.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            No Other Rights
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    No other rights or licenses are granted under this Agreement, by implication, estoppel, statute or otherwise, except as expressly provided herein.
                </li>
            </ul>
        </li>
    </ol>
</section>
