@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = "Privacy policy";
}

<section class="view-module privacy-policy">
    <h1>Privacy Policy</h1>
    <div class="line-for-title"></div>
    <div class="italic-text">
        <p>
            This text is an extract from 
        <a href="~/Content/eula/easygenerator_EULA.pdf" target="blank">easygenerator EULA</a>
            (end-user license agreement). Please read this End-User License Agreement carefully.
        </p>
        <p>
            By using this service, you agree to the complete text of <a href="~/Content/eula/easygenerator_EULA.pdf" target="blank">easygenerator EULA</a> including, but not limited to the following:
        </p>
    </div>
    <ol start="4" class="numeric-list">
        <li class="numeric-list-item">Our responsibility to you, the customer. Data privacy & security
            <ul class="user-form-tooltip-list">
                <li class="user-form-tooltip-list-item">In providing you the service we shall maintain all administrative and technical safeguards to protect the security, confidentiality and integrity of your data.
                </li>
                <li class="user-form-tooltip-list-item">Easygenerator will only ever access your account upon your request for technical assistance. You will be asked to provide explicit consent each time an employee of
                    easygenerator needs to access your account. No employee of easygenerator will access your account without prior permission; unless required to do so by law.

                </li>
                <li class="user-form-tooltip-list-item">Intellectual property rights. Easygenerator shall maintain all rights, title and interest in our respective patents, inventions, copyrights, trademarks, domain 
                    names, and any other intellectual or property and/or proprietary rights . The rights granted to you to use the Service do not convey, by extension, any title to 
                    patents, inventions, copyrights, trademarks, domains name or any other intellectual property owned by easygenerator.

                </li>
                <li class="user-form-tooltip-list-item">Any feedback, enhancement suggestions or recommendations received from you can be incorporated into the easygenerator service: worldwide; royalty-free; 
                    in perpetuity; and to any other easygenerator product(s) by transfer. You cannot claim any rights to these incorporations, either now or in the future.
                </li>
            </ul>
        </li>
    </ol>
</section>
