@using AccountRes
@{
    ViewBag.Title = Resources.SignUp;
    Layout = "~/Views/Account/_Layout.cshtml";
}

<section class="view-module sign-up-second-step">
    <div class="user-columns">
        <div class="user-column form">
            <div class="user-title">@Resources.CreateAccountTitle</div>
            <div class="user-form-row">
                <label class="user-form-caption">How many people at your company are authoring courses?</label>
                <div class="user-form-input-holder">
                    <div class="user-form-selectbox" data-bind="selectBox: { options: [{ name: 'Choose answer' }, { name: '1' }, { name: '2' }, { name: '3-5' }, { name: '5-10' }, { name: '>10' }], optionsText: 'name', optionsValue: 'name', value: howManyPeopleAnswer, defaultText: 'Choose answer' }"></div>
                </div>
            </div>
            <div class="user-form-row">
                <label class="user-form-caption">How soon do you need an authoring tool?</label>
                <div class="user-form-input-holder">
                    <div class="user-form-selectbox" data-bind="selectBox: { options: [{ name: 'Choose answer' }, { name: 'now' }, { name: '1-3 months' }, { name: '>3 months' }, { name: 'just looking' }], optionsText: 'name', optionsValue: 'name', value: authoringCourseAnswer, defaultText: 'Choose answer' }"></div>
                </div>
            </div>
            <div class="user-form-row">
                <label class="user-form-caption">How do you author courses today?</label>
                <div class="user-form-input-holder">
                    <div class="user-form-selectbox" data-bind="selectBox: { options: [{ name: 'Choose answer' }, { name: 'PowerPoint' }, { name: 'another authoring tool' }, { name: 'nothing' }, { name: 'other' }], optionsText: 'name', optionsValue: 'name', value: authorCourseNowAnswer, defaultText: 'Choose answer' }"></div>
                </div>
            </div>
            <div class="user-form-row">
                <div class="formBtn pull-left">
                    <input type="button" class="grey btn" value="Skip">
                </div>
                <div class="formBtn pull-right">
                    <input type="button" class="orange btn" value="Finish">
                </div>
            </div>
        </div>
    </div>
</section>
