@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Account/_Layout.cshtml";
}
<section class="view-module sign-up">
    <div class="user-columns">
        <div class="user-column form">
            <div class="user-title">Create account</div>
            <form class="user-form" id="signUpForm" action="#" method="post">
                <div class="user-form-row" data-bind="css : { error: !userName.isValid() && userName().length > 0, success: userName.isValid() }">
                    <label class="user-form-label email">E-mail</label>
                    <div class="user-form-input-holder">
                        <input class="user-form-input" type="text" name="email" data-bind="value: userName, valueUpdate: 'afterkeydown'" />
                    </div>
                    <span class="user-form-message" data-bind="visible: !userName.isValid() && userName().length > 0">Enter a valid e-mail</span>
                </div>
                <div class="user-form-row" data-bind="css : { error: !password.isValid() && password().length > 0, success: password.isValid() }">
                    <label class="user-form-label password">Password</label>
                    <div class="user-form-input-holder show-tooltip">
                        <input class="user-form-input" name="password" data-bind="attr: { type: isPasswordVisible() ? 'text' : 'password' }, value: password, valueUpdate: 'afterkeydown', hasFocus: isPasswordEditing" />
                        <a href="#" class="user-form-password-eye" data-bind="css:{ revealed: isPasswordVisible }, click: showHidePassword "></a>
                        <div class="user-form-tooltip" data-bind="visible: isPasswordEditing()">
                            <div class="user-form-tooltip-title">The password requirements:</div>
                            <ul class="user-form-tooltip-list">
                                <li class="user-form-tooltip-list-item">has to be at least 7 characters long;</li>
                                <li class="user-form-tooltip-list-item">have at least one lowercase letter;</li>
                                <li class="user-form-tooltip-list-item">at least one upper case letter;</li>
                                <li class="user-form-tooltip-list-item">at least one digit;</li>
                                <li class="user-form-tooltip-list-item">one special character;</li>
                                <li class="user-form-tooltip-list-item">cannot contain whitespace(s).</li>
                            </ul>
                        </div>
                    </div>
                    <span class="user-form-message" data-bind="visible: password().length > 0, text: password.isValid() ?'Password is strong enough' : 'Password does not meet requirements'"></span>
                </div>
                <div class="user-form-row submit">
                    <div class="user-form-checkbox-holder clearfix">
                        <div class="user-form-checkbox" data-bind="css: {checked: isLicenseAgreed}">
                            <input class="custom-checkbox" type="checkbox" data-bind="checked: isLicenseAgreed" />
                        </div>
                        <div class="user-form-checkbox-label">I have read and agreed to the following <a class="checkbox-label-link" href="@Url.Action("TermsOfUse", "Account")">terms</a> and <a class="checkbox-label-link" href="@Url.Action("PrivacyPolicy", "Account")">conditions</a></div>
                    </div>
                    <div class="formBtn" data-bind="css: { disabled: !(isLicenseAgreed() && userName.isValid() && password.isValid()) }">
                        <input class="orange btn" type="submit" value="Sign up" data-bind="enable: isLicenseAgreed() && userName.isValid() && password.isValid()">
                    </div>
                </div>
            </form>
        </div>
        <div class="user-column image">
            <img class="user-column-image" src="~/Content/images/account/sign-up.jpg" alt="#" />
        </div>
    </div>

    <div class="social-block">
        <ul class="social-block-list">
            <li class="social-block-item">
                <a href="#" class="social-block-link facebook">
                    <span class="social-block-link-text">facebook</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link youtube">
                    <span class="social-block-link-text">youtube</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link linkedin">
                    <span class="social-block-link-text">linkedin</span>
                </a>
            </li>
            <li class="social-block-item">
                <a href="#" class="social-block-link twitter">
                    <span class="social-block-link-text">twitter</span>
                </a>
            </li>
        </ul>
    </div>
</section>
