@using ViewsResources;
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = Resources.TermsOfUse;
}

<section class="view-module terms-of-use">
    <h1 class="document-title">Terms of use</h1>
    <div class="document-subtitle">
        <div class="italic">
            This text is an extract from the 
            <a href="~/Content/eula/easygenerator_EULA.pdf" target="blank">easygenerator EULA</a> (End-User License Agreement).
             Please read it carefully. By using this service, you agree to the complete text of the
             <a href="~/Content/eula/easygenerator_EULA.pdf" target="blank">easygenerator EULA</a> including, but not limited to the following:
        </div>
    </div>

    <ol class="numeric-list">
        <li class="document-numeric-list-item">
            The Service:
            <div class="document-list-item-content">
                The “Service” includes
                <ul class="document-marked-list">
                    <li class="document-marked-list-item">
                        The easygenerator website and web shop
                    </li>
                    <li class="document-marked-list-item">
                        The on demand application related to your account
                    </li>
                    <li class="document-marked-list-item">
                        The (optional) tracking and tracing database for the results of your learners
                    </li>
                    <li class="document-marked-list-item">
                        Our online help website <a target="blank" href="http://help.easygenerator.com/">help.easygenerator.com</a>
                    </li>
                </ul>
                Any new features added to or augmenting the Service are also subject to the Terms of Use.
            </div>
        </li>
        <li class="document-numeric-list-item">
            <span style="position: absolute; left:-10px;"></span>Acceptance of terms
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    Easygenerator provides its service to you through its website, <a target="blank" href="http://www.easygenerator.com">www.easygenerator.com</a> and <a target="blank" href="http://www.easygenerator.com.cn">www.easygenerator.com.cn</a>
                </li>
                <li class="document-marked-list-item">
                    By accepting these terms or accessing easygenerator provided URLs, you acknowledge that you have read, understood and agreed to be bound by the following terms, and that all materials made or used by you on <a target="blank" href="http://www.easygenerator.com">www.easygenerator.com</a> or <a target="blank" href="http://www.easygenerator.com.cn">www.easygenerator.com.cn</a> are within your rights to make. If you are entering into these terms on behalf of an employer or third party, you represent that you have authority to bind that entity to these terms. If you do not have such authority or do not agree to the terms and conditions, you cannot use the easygenerator service.
                </li>
                <li class="document-marked-list-item">
                    You acknowledge that these terms constitute an agreement between easygenerator and you and that  that your digital signup for the easygenerator service acts in place of a physical signed agreement.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Terms of Use
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    Easygenerator reserves the right to terminate or modify the service at any time, without prior notification.
                </li>
                <li class="document-marked-list-item">
                    The Service is provided on an “as is” and “as available” basis without any warranty or condition, express, implied or statutory.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator makes no claims that the service will be uninterrupted or error-free andcustomers use the application at their own risk.
                </li>
                <li class="document-marked-list-item">
                    You agree, as a customer, not to license, resell, lease, transfer or distribute the service to any third party vendors.
                </li>
                <li class="document-marked-list-item">
                    You agree, as a customer, not to use easygenerator for unlawful purposes, such as infringing privacy, data ownership or intellectual property rights.
                </li>
                <li class="document-marked-list-item">
                    You agree to act within anti-spam policy guidelines for your country and shall not use Easygenerator to transmit unsolicited mail.
                </li>
                <li class="document-marked-list-item">
                    As a customer of easygenerator you acknowledge that easygenerator is the proprietor of the software and you do not have the right to adapt, hack, or reverse
                    engineer the source code of the software.
                </li>
                <li class="document-marked-list-item">
                    You are responsible for the data stored in your easygenerator account, and for all data, be it email, chat, social media messages or learning management system sent or published from your easygenerator account. Easygenerator does not take responsibility for any racist, libel or defamatory messages of any kind sent or published from the easygenerator application, and you indemnify easygenerator from any damages relating to such an occurrence.
                </li>
                <li class="document-marked-list-item">
                    You agree to keep your login information confidential, and to restrict each login to one person. A single user account cannot be shared by multiple people.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator reserves the right to cancel the account of a customer immediately, and without warning, if the customer infringes the above terms. If,
                    at Easygenerator’s sole discretion, we determine the customer has abused their access rights to the Easygenerator application termination without warning will
                    take effect immediately.
                </li>
                <li class="document-marked-list-item">
                    All content created in the Free edition of easygenerator is owned (including copyrights) by the user who created it. By accepting this End User License Agreement (EULA) the user gives easygenerator permission to share all content created by the user on the easygenerator platform with other easygenerator users. The user also gives permission for other users to have an unlimited and unrestricted right to reuse, change, create derivative works or publish this content. The goal of content sharing is to help other users in creating better e-Learning based on the experience of others. All users have the right to restrict the permission to share content by upgrading from a Free subscription to the Starter, Plus or Pro Plan.
                </li>
            </ul>
        </li>
    </ol>
</section>
