@using ViewsResources;
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = Resources.TermsOfUse;
}

<section class="view-module terms-of-use">
    <h1 class="document-title">Terms of use</h1>
    <div class="document-subtitle">
        <div class="italic">
            This text is an extract from the 
            <a href="~/Content/eula/Easygenerator_EULA.pdf" target="blank">Easygenerator EULA</a> (End-User License Agreement).
             Please read it carefully. By using this service, you agree to the complete text of the
             <a href="~/Content/eula/Easygenerator_EULA.pdf" target="blank">Easygenerator EULA</a> including, but not limited to the following:
        </div>
    </div>

    <ol class="numeric-list">
        <li class="document-numeric-list-item">
            The Service:
            <div class="document-list-item-content">
                The “Service” includes
                <ul class="document-marked-list">
                    <li class="document-marked-list-item">
                        the Easygenerator website and web shop;
                    </li>
                    <li class="document-marked-list-item">
                        the on demand application related to your account;
                    </li>
                    <li class="document-marked-list-item">
                        the (optional) hosting of the learning content for your learner;
                    </li>
                    <li class="document-marked-list-item">
                        the (optional) tracking and tracing database for the results of your learners;
                    </li>
                    <li class="document-marked-list-item">
                        our online help website <a target="blank" href="//www.easygenerator.com/help/">www.easygenerator.com/help</a>.
                    </li>
                </ul>
                Any new features added to or augmenting the Service are also subject to the Terms of Use.
            </div>
        </li>
        <li class="document-numeric-list-item">
            Acceptance of terms
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    Easygenerator provides its service to you through its website, <a target="blank" href="//www.easygenerator.com">www.easygenerator.com</a>
                </li>
                <li class="document-marked-list-item">
                    By accepting these terms or accessing Easygenerator provided URLs, you acknowledge that you have read, understood and agreed to be bound by the following terms, and that all materials made or used by you on <a target="blank" href="//www.easygenerator.com">www.easygenerator.com</a> are within your rights to make. If you are entering into these terms on behalf of an employer or third party, you represent that you have authority to bind that entity to these terms. If you do not have such authority or do not agree to the terms and conditions, you cannot use the Easygenerator service.
                </li>
                <li class="document-marked-list-item">
                    You acknowledge that these terms constitute an agreement between Easygenerator and you and that that your digital signup for the Easygenerator service acts in place of a physical signed agreement.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Uptime for the Free Plan
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    Easygenerator reserves the right to terminate or modify the Free Plan service at any time, without prior notification.
                </li>
                <li class="document-marked-list-item">
                    The Service is provided on an “as is” and “as available” basis without any warranty or condition, express, implied or statutory.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator makes no claims that the service will be uninterrupted or error-free and customers use the application at their own risk.The service will be unavailable each week between 7 PM CET and 9 PM CET, this is our planned maintenance window.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            Uptime for the paid plans
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    For the Paid Plans: Starter, Plus and Academy Plan Easygenerator gives an up time guarantee.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator makes no claims that the service will be uninterrupted or error-free and customers use the application at their own risk.
                </li>
                <li class="document-marked-list-item">
                    The service will be unavailable each week between 7 PM CET and 9 PM CET, this is our planned maintenance window.
                </li>
                <li class="document-marked-list-item">
                    We guarantee a 99.5% uptime of the service (excluding planned maintenance) for the paid plans.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">
            General conditions
            <ul class="document-marked-list">
                <li class="document-marked-list-item">
                    You agree, as a customer, not to license, resell, lease, transfer or distribute the service to any third party vendors.
                </li>
                <li class="document-marked-list-item">
                    You agree, as a customer, not to use Easygenerator for unlawful purposes, such as infringing privacy, data ownership or intellectual property rights.
                </li>
                <li class="document-marked-list-item">
                    You agree to act within anti-spam policy guidelines for your country and shall not use Easygenerator to transmit unsolicited mail.
                </li>
                <li class="document-marked-list-item">
                    As a customer of Easygenerator you acknowledge that Easygenerator is the proprietor of the software and you do not have the right to adapt, hack, or reverse engineer the source code of the software.
                </li>
                <li class="document-marked-list-item">
                    You are responsible for the data stored in your Easygenerator account, and for all data, be it email, chat, social media messages or learning management system sent or published from your Easygenerator account. Easygenerator does not take responsibility for any racist, libel or defamatory messages of any kind sent or published from the Easygenerator application, and you indemnify Easygenerator from any damages relating to such an occurrence.
                </li>
                <li class="document-marked-list-item">
                    You agree to keep your login information confidential, and to restrict each login to one person. A single user account cannot be shared by multiple people.
                </li>
                <li class="document-marked-list-item">
                    Easygenerator reserves the right to cancel the account of a customer immediately, and without warning, if the customer infringes the above terms. If, at Easygenerator’s sole discretion, we determine the customer has abused their access rights to the Easygenerator application termination without warning will take effect immediately.
                </li>
                <li class="document-marked-list-item">
                    All users have the right to restrict the permission to share content by upgrading from a Free subscription to the Starter, Plus or Academy Plan.
                </li>
                <li class="document-marked-list-item">
                    You may not upload, post, or transmit (collectively, "submit") any video, image, text, audio recording, or other work (collectively, "content") that: i) Infringes any third party's copyrights or other rights (e.g., trademark, privacy rights, etc.); ii) Contains sexually explicit content or pornography (provided, however, that nonsexual nudity is permitted); iii) Contains hateful, defamatory, or discriminatory content or incites hatred against any individual or group; iv) Exploits minors; v) Depicts unlawful acts or extreme violence; vi) Depicts animal cruelty or extreme violence towards animals; vii) Promotes fraudulent or dubious business schemes; or viii) Violates any law.
                </li>
            </ul>
        </li>
    </ol>
</section>
