@using AccountRes;
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = Resources.TermsOfUse;
}

<section class="view-module terms-of-use">
    <h1 class="document-title">Terms of use</h1>
    <p class="document-subtitle"></p>
    <div class="line-for-title">
        <div class="italic-text">
            This text is an extract from the 
            <a href="~/Content/eula/easygenerator_EULA.pdf" class="download-eula" target="blank">easygenerator EULA</a> (End-User License Agreement).
             Please read it carefully. By using this service, you agree to the complete text of the
             <a href="~/Content/eula/easygenerator_EULA.pdf" class="download-eula" target="blank">easygenerator EULA</a> including, but not limited to the following:
        </div>
    </div>

    <ol class="numeric-list">
        <li class="document-numeric-list-item">The Service:
            <div class="document-list-item-content">
                The “Service” includes 
                <ul class="document-marked-list">
                    <li class="document-marked-list-item">the site 
                    </li>
                    <li class="document-marked-list-item">the on demand application related to your account 
                    </li>
                    <li class="document-marked-list-item">Our online help website help.easygenerator.com
                    </li>
                </ul>
                Any new features added to or augmenting the Service are also subject to the Terms of Use.
            </div>
        </li>
        <li class="document-numeric-list-item">Acceptance of terms 
            <ul class="document-marked-list">
                <li class="document-marked-list-item">Easygenerator provides its service to you through its website,
                    <a href="http://www.easygenerator.com">www.easygenerator.com</a>, and individual Easygenerator accounts created for you, 
                    the customer, as outlined above.
                </li>
                <li class="document-marked-list-item">By accepting these terms or accessing easygenerator provided URLs, you 
                    acknowledge that you have read, understood and agreed to be bound by the 
                    following terms, and that elearning materials made by you on 
                    <a href="http://www.easygenerator.com">http://www.easygenerator.com</a> are within your rights to make. If you are entering 
                    into these terms on behalf of an employer or third party, you represent that you 
                    have authority to bind that entity to these terms. If you do not have such 
                    authority or do not agree to the terms and conditions, you cannot use the 
                    easygenerator service.

                </li>
                <li class="document-marked-list-item">You acknowledge that these terms constitute an agreement between 
                    easygenerator and that your electronic signup acts in place of a physical signed 
                    agreement.
                </li>
            </ul>
        </li>
        <li class="document-numeric-list-item">Terms of Use
            <ul class="document-marked-list">
                <li class="document-marked-list-item">Easygenerator reserves the right to terminate or modify the service at any time, without prior notification.
                </li>
                <li class="document-marked-list-item">The Service is provided on an “as is” and “as available” basis without any warranty or condition, express, implied or statutory.
                </li>
                <li class="document-marked-list-item">Easygenerator makes no claims that the service will be uninterrupted or error-free and customers use the application at their own risk. However, if the application 
                    will be unavailable due to planned maintenance we will endeavor to notify all users at least 7 days in advance. 
                </li>
                <li class="document-marked-list-item">You agree, as a customer, not to license, resell, lease, transfer or distribute the service to any third party vendors. 
                </li>
                <li class="document-marked-list-item">You agree, as a customer, not to use easygenerator for unlawful purposes, such as infringing privacy, data ownership or intellectual property rights.
                </li>
                <li class="document-marked-list-item">You agree to act within anti-spam policy guidelines for your country and shall not use Easygenerator to transmit unsolicited mail.
                </li>
                <li class="document-marked-list-item">As a customer of easygenerator you acknowledge that easygenerator is the proprietor of the software and you do not have the right to adapt, hack, or reverse
                    engineer the source code of the software.
                </li>
                <li class="document-marked-list-item">You are responsible for the data stored in your easygenerator account, and for all data, be it email, chat, social media messages or learning management system 
                    sent or published from your easygenerator account. Easygenerator does not take responsibility for any racist, libel or defamatory messages of any kind sent or 
                    published from the easygenerator application, and you indemnify easygenerator from any damages relating to such an occurrence.
                </li>
                <li class="document-marked-list-item">You agree to keep your login information confidential, and to restrict each login to one person. A single user account cannot be shared by multiple people.
                </li>
                <li class="document-marked-list-item">Easygenerator reserves the right to cancel the account of a customer immediately, and without warning, if the customer infringes the above terms. If, 
                    at Easygenerator’s sole discretion, we determine the customer has abused their access rights to the Easygenerator application termination without warning will 
                    take effect immediately.
                </li>
            </ul>
        </li>
    </ol>
</section>
