/*#region Layout*/
.content-wrapper.try {
    width: 90%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1280px;
    font-size: 14px;
    font-family: 'OpenSans', Arial, sans-serif;
    letter-spacing: 0;
}
/*#endregion Layout*/

/*#region Account navigation*/

.account-nav {
    text-align: right;
}

.account-nav-list {
    display: inline-block;
    padding: 24px 0 12px;
}

.account-nav-item {
    font: 16px 'OpenSans';
    display: inline-block;
    vertical-align: top;
    text-align: center;
    letter-spacing: 0;
    margin-left: 10px;
    color: #999;
}

.account-nav-link {
    display: inline-block;
    color: #999;
    min-width: 74px;
    padding: 0 5px 4px;
    border-bottom: 2px solid transparent;
}

.account-nav-link:hover {
    border-bottom: solid 2px #999;
}

.account-nav-link.active {
    margin-top: -1px;
    font-weight: bold;
    color: #000;
    border-bottom: solid 2px #f59957;
    cursor: default;
}

/*#endregion Account navigation*/

/*#region User Title*/

.user-title {
    padding-bottom: 6px;
    font-size: 50px;
}

.user-title b {
    font-weight: normal;
    font-family: 'OpenSans-Semibold';
}

/*#endregion User Title*/

/*#region User Columns*/

.user-columns {
    display: table;
    width: 100%;
}

.user-column {
    display: table-cell;
}

.user-column.form {
    width: 50%;
    padding-left: 12.5%;
    padding-right: 3.5%;
}

.user-form {
    padding-top: 16%;
}

.user-form-row {
    min-height: 137px;
}

.user-form-label {
    position: relative;
    padding-left: 35px;
    font-size: 24px;
    color: #333;
}

.user-form-label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 1px;
    display: block;
    width: 26px;
    height: 30px;
    background: url(images/sprites.png) -216px 0 no-repeat;
}

.user-form-label.email:after {
    background-position: -216px 0;
}

.user-form-label.password:after {
    background-position: -249px 5px;
}

.user-form-input-holder {
    position: relative;
}

.user-form-input {
    width: 100%;
    display: inline-block;
    margin: 9px 0 6px 0;
    padding: 12px 40px 12px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: solid 1px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    font-family: 'OpenSans';
}

.user-form-input[type="password"] {
    -webkit-text-security: disc;
    font: large Verdana,sans-serif;
    letter-spacing: 1px;
    color: #444444;
}

.user-form-input:focus {
    outline: none;
    border: solid 1px #00a8ff;
    -webkit-box-shadow: 0 0 2px #00a8ff;
    -moz-box-shadow: 0 0 2px #00a8ff;
    box-shadow: 0 0 2px #00a8ff;
}

.user-form-checkbox-holder {
    min-height: 40px;
    padding-bottom: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-form-checkbox {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #e6e6e6;
    vertical-align: middle;
}

.user-form-checkbox.checked {
    background: url(images/sprites.png) 2px -22px;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.user-form-checkbox-label {
    margin-left: 24px;
    vertical-align: top;
    color: #222;
    font-family: 'OpenSans-Semibold';
    font-size: 12px;
}

.checkbox-label-link {
    color: #222;
    text-decoration: underline;
}

.user-form-row.success .user-form-input {
    border: solid 1px #62a426;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.user-form-row.success .user-form-input:focus {
    border: solid 1px #62a426;
    -webkit-box-shadow: 0 0 2px #62a426;
    -moz-box-shadow: 0 0 2px #62a426;
    box-shadow: 0 0 2px #62a426;
}

.user-form-row.error .user-form-input {
    border: solid 1px #953b39;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.user-form-row.error .user-form-input:focus {
    border: solid 1px #953b39;
    -webkit-box-shadow: 0 0 2px #953b39;
    -moz-box-shadow: 0 0 2px #953b39;
    box-shadow: 0 0 2px #953b39;
}

.user-form-message {
    display: none;
    position: relative;
    padding-left: 21px;
}

.user-form-message:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 2px;
    display: block;
    width: 11px;
    height: 8px;
    font-size: 12px;
    background: url(images/sprites.png) 0 -25px;
}

.user-form-row.success .user-form-message {
    display: block;
    color: #62a426;
}

.user-form-row.success .user-form-message:after {
    background-position: 0 -25px;
}

.user-form-row.error .user-form-message {
    display: block;
    color: #953b39;
}

.user-form-row.error .user-form-message:after {
    background-position: -16px -25px;
}

.user-form-row.submit .formBtn {
    width: 100%;
}

.user-form-row.submit .formBtn input {
    width: 100%;
}

.user-column.image {
    width: 50%;
    padding-top: 3%;
    padding-left: 3.5%;
    vertical-align: middle;
    text-align: center;
}

.user-column-image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 576px;
    height: auto;
}

/*#endregion User Columns*/

/*#region Form Tooltip*/

.user-form-tooltip {
    display: none;
    position: absolute;
    top: 9px;
    left: 100%;
    background: #fff;
    width: 300px;
    margin-left: 8px;
    padding: 10px 0 0 0;
    color: #333;
    font-size: 14px;
    border: solid 1px #cfcfcf;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: -1px 0 1px rgba(207,207,207,0.3);
    -moz-box-shadow: -1px 0 1px rgba(207,207,207,0.3);
    box-shadow: -1px 0 1px rgba(207,207,207,0.3);
    z-index: 1;
}

.show-tooltip .user-form-tooltip {
    display: block;
}

.user-form-tooltip:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 100%;
    display: block;
    width: 8px;
    height: 16px;
    background: url(images/sprites.png) -54px -52px no-repeat;
    z-index: 1;
}

.user-form-tooltip-title {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
    font: 16px 'OpenSans-Semibold';
    margin-bottom: 10px;
}

.user-form-tooltip-title:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, #fff 0%, #a5a5a5 40%, #a5a5a5 60%, #fff 100%);
    background: -webkit-linear-gradient(left, #fff 0%, #a5a5a5 40%, #a5a5a5 60%, #fff 100%);
    background: -o-linear-gradient(left, #fff 0%, #a5a5a5 40%, #a5a5a5 60%, #fff 100%);
    background: -ms-linear-gradient(left, #fff 0%, #a5a5a5 40%, #a5a5a5 60%, #fff 100%);
    background: linear-gradient(to right, #fff 0%, #a5a5a5 40%, #a5a5a5 60%, #fff 100%);
}

.user-form-tooltip-list {
    width: 100%;
    padding: 10px 20px 0 33px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.user-form-tooltip-list-item {
    padding-left: 5px;
    padding-bottom: 22px;
    line-height: 1;
}

.tooltip-link {
    position: absolute;
    top: 26px;
    right: 10px;
    display: block;
    width: 24px;
    height: 20px;
    background: url(images/sprites.png) -28px -52px no-repeat;
}

.show-tooltip .tooltip-link {
    background-position: 0 -52px;
}

/*#endregion Form Tooltip*/

/*#region Social Block*/

.social-block {
    position: absolute;
    bottom: 3%;
    left: 0;
    min-width: 640px;
    width: 100%;
    margin-bottom: 35px;
    text-align: center;
}

.social-block-list {
    display: inline-block;
}

.social-block-item {
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: padding-bottom 0.3s ease 0s;
    -moz-transition: padding-bottom 0.3s ease 0s;
    -ms-transition: padding-bottom 0.3s ease 0s;
    -o-transition: padding-bottom 0.3s ease 0s;
    transition: padding-bottom 0.3s ease 0s;
}

.social-block-link {
    display: block;
    width: 42px;
    height: 42px;
    padding-bottom: 0;
    background: url(images/sprites.png) -27px -1px no-repeat;
}

.social-block-item:hover {
    padding-bottom: 9px;
}

.social-block-link:hover {
    padding-bottom: 9px;
}

.social-block-link:hover .social-block-link-text {
    opacity: 1;
}

.social-block-link.facebook {
    background-position: -27px -1px;
}

.social-block-link.youtube {
    background-position: -74px -1px;
}

.social-block-link.linkedin {
    background-position: -122px -1px;
}

.social-block-link.twitter {
    background-position: -170px 0;
}

.social-block-link-text {
    position: relative;
    top: -30px;
    margin-left: 20px;
    font: 18px Buxton Sketch, 'BuxtonSketch';
    color: #1b6fd0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -ms-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

/*#endregion Social Block*/

/*#region Form Button*/

.formBtn {
    display: inline-block;
}

.formBtn input {
    line-height: 41px;
    display: inline-block;
    -moz-box-sizing: border-box;
    padding: 0 30px 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'OpenSans';
    text-align: center;
    cursor: pointer;
}

/* green button*/
.formBtn input.green {
    background: none repeat scroll 0 0 #B0C93E;
    border-color: #B0C93E #9BB136 #9BB136 #B0C93E;
    border-right: 1px solid #9BB136;
    -webkit-text-shadow: 0 -1px 1px rgb(141,177,35);
    text-shadow: 0 -1px 1px rgb(141,177,35);
}

.formBtn input.green:hover {
    background: none repeat scroll 0 0 #BDD93D;
}

.formBtn input.green:active {
    background: none repeat scroll 0 0 #B0C93E;
    border-color: #9DB23B;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2) inset;
}

/*orange button*/
.formBtn input.orange {
    background: none repeat scroll 0 0 #f59957;
    border-color: #f59957 #d7864c #d7864c #f59957;
    border-right: 1px solid #d7864c;
    -webkit-text-shadow: 0 -1px 1px rgb(240,103,45);
    text-shadow: 0 -1px 1px rgb(240,103,45);
}

.formBtn input.orange:hover {
    background: none repeat scroll 0 0 #f2893e;
}

.formBtn input.orange:active {
    background: #f59957;
    border-color: #b16e3f;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2) inset;
}

/*#endregion Form Button*/

/*#region LOGIN*/

.view-module.log-in .user-form-row.submit {
    padding-top: 40px;
}
/*#endregion Login*/

@media (max-width: 1020px) {

    /*#region Layout*/
    .content-wrapper.try {
        width: 100%;
        max-width: 1280px;
        font-size: 14px;
        font-family: 'OpenSans', Arial, sans-serif;
        letter-spacing: 0;
    }
    /*#endregion Layout*/

}

@media (max-width: 780px) {

    /*#region Account navigation*/
    .account-nav-list {
        padding-bottom: 16px;
    }
    /*#endregion Account navigation*/

    /*#region User Title*/
    .user-title {
        padding-bottom: 3px;
        font-size: 40px;
        text-align: center;
    }
    /*#endregion User Title*/

    /*#region User Columns*/
    .user-columns {
        width: 390px;
        margin: 0 auto;
    }

    .user-column.form {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .user-form {
        padding-top: 12%;
    }

    .user-column.image {
        display: none;
    }


    .user-form-tooltip {
        top: auto;
        bottom: 100%;
        left: 0;
        margin-left: 0;
        padding: 10px 0 0 0;
        color: #333;
        font-size: 12px;
    }

    .user-form-tooltip:after {
        top: 100%;
        right: 50%;
        width: 16px;
        height: 8px;
        background: url(images/sprites.png) -66px -52px no-repeat;
    }

    .user-form-tooltip-title {
        font-size: 14px;
    }

    .user-form-tooltip-list {
        padding-top: 0;
        padding-bottom: 5px;
    }

    .user-form-tooltip-list-item {
        padding-bottom: 11px;
    }
    /*#endregion User Columns*/

}
