/*#region flex */
/*#endregion */
.audios .audio-library {
  margin-top: 30px;
}
.audios .audio-library .add-audio-button {
  float: left;
  position: relative;
  background: -webkit-linear-gradient(120deg, #e0f2ff 50%, rgba(224, 242, 255, 0.7) 50%);
  background: linear-gradient(-29deg, #e0f2ff 50%, rgba(224, 242, 255, 0.7) 50%);
  border: 3px solid #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 0px 0px #e8e8e8;
  cursor: pointer;
  height: 208px;
  transition: border 0.3s;
  width: 202px;
}
.audios .audio-library .add-audio-button:hover {
  border-color: #71c3ff;
}
.audios .audio-library .add-audio-button:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  background: url(../Content/images/sprites_64.png) -207px -269px;
}
.audios .audio-library .add-audio-button .free-space-section {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: 'OpenSans';
  font-size: 12px;
  color: #63798e;
}
.audios .audio-library .add-audio-button .free-space-section .free-space-info-value {
  text-transform: uppercase;
}
.audios .audio-library .add-audio-button .free-space-section .free-space-progress-bar {
  display: inline-block;
  width: 130px;
  margin-top: 7px;
  height: 3px;
  background: #c8cfda;
  border-radius: 1px;
  text-align: left;
  line-height: 0;
}
.audios .audio-library .add-audio-button .free-space-section .free-space-progress-bar-value {
  display: inline-block;
  vertical-align: top;
  height: 3px;
  background-color: #509bfa;
  border-radius: 1px;
}
.audios .audio-library .add-audio-button-description {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
  margin-left: 22px;
}
.audios .audio-library .add-audio-button-description .tip-arrow-text {
  display: inline-block;
  width: 330px;
  padding-left: 90px;
  white-space: normal;
}
.audios .audio-library .add-audio-button-description .tip-arrow-text:before {
  -webkit-transform: rotate(30deg) scaleY(-1);
  transform: rotate(30deg) scaleY(-1);
  top: -10px;
}
.audios .audio-library .audio-list {
  list-style: none;
  margin-left: 240px;
}
.audios .audio-library .audio-list li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 0 #e8e8e8;
  color: #546677;
  font-family: 'OpenSans';
  font-size: 13px;
  height: 50px;
  margin-bottom: 13px;
  padding: 0 10px;
}
.audios .audio-library .audio-list li.hovered:hover {
  box-shadow: 0 0 0 2px #71c3ff;
  cursor: pointer;
}
.audios .audio-library .audio-list li .play-icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #7ab5ff;
  border-radius: 15px;
}
.audios .audio-library .audio-list li .play-icon:after {
  content: "";
  border-bottom: 5px solid transparent;
  border-left: 8px solid #ffffff;
  border-top: 5px solid transparent;
  height: 0;
  left: 12px;
  position: absolute;
  top: 10px;
  width: 0;
}
.audios .audio-library .audio-list li .audio-title {
  -webkit-flex: 1;
  flex: 1;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.audios .audio-library .audio-list li .audio-duration {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  font-style: italic;
  max-width: 30%;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.audios .audio-library .audio-list li.error {
  position: relative;
  font-family: 'RobotoSlab';
  color: #63798e;
  text-transform: uppercase;
  text-align: center;
}
.audios .audio-library .audio-list li.error .upload-failed {
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.audios .audio-library .audio-list li.error .upload-failed:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 50%;
  margin-top: -13px;
  margin-left: -30px;
  background: url('../Content/images/sprites_32.png') -297px -40px;
}
.audios .audio-library .audio-list li.uploading {
  color: #77899b;
}
.audios .audio-library .audio-list li.uploading .circle-progress {
  border-color: #f5a46a;
  color: #d4dce1;
}
.audios .audio-library .audio-list li.uploading .circle-progress-text {
  margin-left: -36px;
  overflow: hidden;
  text-align: center;
  width: 32px;
}
