@import 'helpers.less';

@shadow-color: #e8e8e8;

@add-audio-border-color: #fff;
@add-audio-box-shadow: 0px 2px 0px 0px @shadow-color;
@add-audio-button-width: 202px;
@add-audio-button-height: 208px;
@add-audio-button-background-webkit: -webkit-linear-gradient(120deg,rgba(224,242,255,1) 50%,rgba(224,242,255,.7) 50%);
@add-audio-button-background: linear-gradient(-29deg,rgba(224,242,255,1) 50%,rgba(224,242,255,.7) 50%);
@add-audio-button-icon-background: url(../Content/images/sprites_64.png);

@audio-background-color: #fff;
@audio-action-hover-border-color: #71c3ff;
@upload-error-background: url('../Content/images/sprites_32.png');
@audio-loaded-text-color: #546677;
@audio-uploading-text-color: #77899b;
@audio-uploading-progress-color: #f5a46a;
@audio-uploading-progress-background-color: #d4dce1;
@audio-upload-failed-text-color: #63798e;
@audio-play-icon-color: #7ab5ff;

@free-space-progress-background-color: #c8cfda;
@free-space-progress-color: #509bfa;
@free-space-text-color: #63798e;

@drop-zone-border-color-active: rgba(76, 175, 80, 1);
@drop-zone-border-color-hover: rgba(76, 175, 80, 0.6);

.dash-bordered() {
    border-width: 2px;
    border-style: dashed;
    border-color: #d1dae0;
    border-radius: 5px;
    transition: border-color 0.2s, border-style 0.2s, box-shadow 0.2s;
}

.audios {
    .audio-library {
        margin-top: 30px;

        .add-audio-button {
            position: relative;
            float: left;
            width: @add-audio-button-width;
            height: @add-audio-button-height;
            border: 3px solid @add-audio-border-color;
            border-radius: 15px;
            background: @add-audio-button-background-webkit;
            background: @add-audio-button-background;
            box-shadow: @add-audio-box-shadow;
            cursor: pointer;
            transition: border 0.3s;

            &:hover {
                border-color: @audio-action-hover-border-color;
            }

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                display: inline-block;
                margin-top: -32px;
                margin-left: -32px;
                width: 64px;
                height: 64px;
                background: @add-audio-button-icon-background -207px -269px;
                content: '';
            }

            .free-space-section {
                position: absolute;
                bottom: 10px;
                width: 100%;
                color: @free-space-text-color;
                text-align: center;
                font-size: 12px;
                font-family: 'OpenSans';

                .free-space-info-value {
                    text-transform: uppercase;
                }

                .free-space-progress-bar {
                    display: inline-block;
                    margin-top: 7px;
                    width: 130px;
                    height: 3px;
                    border-radius: 1px;
                    background: @free-space-progress-background-color;
                    text-align: left;
                    line-height: 0;
                }

                .free-space-progress-bar-value {
                    display: inline-block;
                    height: 3px;
                    border-radius: 1px;
                    background-color: @free-space-progress-color;
                    vertical-align: top;
                }
            }
        }

        .add-audio-button-description {
            position: absolute;
            display: inline-block;
            margin-top: 100px;
            margin-left: 22px;
            vertical-align: top;

            .tip-arrow-text {
                display: inline-block;
                padding-left: 90px;
                width: 330px;
                white-space: normal;

                &:before {
                    top: -10px;
                    transform: rotate(30deg) scaleY(-1);
                }
            }
        }

        .audio-list-container {
            margin-left: 240px;
        }
    }
}

.audio-list-container {
    position: relative;

    .audio-list {
        margin-right: 15px;
        padding: 1px;
        padding-bottom: 3px;
        list-style: none;

        .audio-list-item, .audio-upload-hint {
            display: flex;
            margin-bottom: 13px;
            padding: 0 10px;
            height: 50px;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: @audio-background-color;
            box-shadow: 0 2px 0 @shadow-color;
            color: @audio-loaded-text-color;
            font-size: 13px;
            font-family: 'OpenSans';

            align-items: center;
            justify-content: center;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .audio-upload-hint {
            box-shadow: none;
            color: #63798e;
            font: 16px 'RobotoSlab-Light';

            .dash-bordered();

            &:hover {
                border-color: @drop-zone-border-color-active;
            }

            a {
                color: #63798e;
                text-decoration: underline;
            }
        }

        .audio-list-item {
            &:hover {
                border: 1px solid @audio-action-hover-border-color;
                box-shadow: 0 0 0 1px @audio-action-hover-border-color;
                cursor: pointer;
            }

            &.inactive:hover {
                box-shadow: 0 3px 0 @shadow-color;
                cursor: default;
            }

            .play-icon {
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: @audio-play-icon-color;

                &:after {
                    position: absolute;
                    top: 10px;
                    left: 12px;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 8px solid @audio-background-color;
                    content: '';
                }
            }

            .audio-title {
                overflow: hidden;
                margin: 0 10px;
                text-overflow: ellipsis;
                white-space: nowrap;

                flex: 1;
            }

            .audio-duration {
                overflow: hidden;
                margin: 0 10px;
                padding-right: 2px;
                max-width: 30%;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-style: italic;

                flex: 0 0 auto;
            }

            &.error {
                position: relative;
                color: @audio-upload-failed-text-color;
                text-align: center;
                text-transform: uppercase;
                font-family: 'RobotoSlab';

                .upload-failed {
                    overflow: hidden;
                    padding-left: 35px;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:before {
                        position: absolute;
                        top: 50%;
                        display: inline-block;
                        margin-top: -13px;
                        margin-left: -35px;
                        width: 25px;
                        height: 25px;
                        background: @upload-error-background -297px -40px;
                        content: '';
                    }
                }
            }

            &.uploading {
                color: @audio-uploading-text-color;

                .circle-progress {
                    border-color: @audio-uploading-progress-color;
                    color: @audio-uploading-progress-background-color;
                }

                .circle-progress-text {
                    overflow: hidden;
                    margin-right: 3px;
                    margin-left: -34px;
                    width: 30px;
                    text-align: center;
                    font-family: 'RobotoSlab';
                }
            }
        }
    }
}

.choose-voice-over-dialog, .audio-library {
    .drop-audio-hint {
        @text-color-active: #546677;
        @text-color-regular: #768592;

        position: absolute;
        z-index: 99;
        margin-right: 20px;
        width: 100%;
        height: 100%;
        color: @text-color-active;

        .vertical-align();

        .drop-audio-hint-content {
            text-align: center;
            font-size: 16px;
            font-family: 'RobotoSlab-Light';

            .drop-audio-hint-upload-image {
                width: 327px;
                height: 150px;
                background: url('images/media/media-upload.png') no-repeat;
            }

            h3 {
                font-size: 22px;
                font-family: 'RobotoSlab-Bold';
                line-height: 1.5em;
            }

            a {
                color: @text-color-active;
                text-decoration: underline;
            }
        }

        &.overlay {
            display: none;
            width: 100%;
            background-color: #fff;
            color: @text-color-regular;
            opacity: 0.8;

            &.active {
                display: flex;

                &.hover {
                    color: @text-color-active;
                }
            }
        }
    }

    .drop-zone {
        .dash-bordered();

        &:hover {
            border-color: @drop-zone-border-color-active;
        }

        &.active {
            border-color: @drop-zone-border-color-active;

            &.hover {
                border-style: solid;
                box-shadow: 0 0 3px 2px @drop-zone-border-color-hover;
            }
        }
    }
}

.audio-library {
    .drop-audio-hint {
        min-height: 70vh;

        .drop-audio-hint-content {
            position: fixed;
            margin-top: 30vh;
            transform: translate(-50%, 0);
        }
    }
}

.choose-voice-over-dialog {
    .drop-audio-hint {
        width: 98%;
    }
}
