.semantic-dropdown a .cke_combo_text
{
    width: 121px !important;
}

.cke_editable > p
{
    display: block;
    height: 1.7em;
}

/* Special class appended to the Ok button. */
a.cke_dialog_ui_button_ok
{
    color: #333 !important;
    text-shadow: none !important;
    border: 1px solid #b6b6b6 !important;

    background: #e4e4e4 !important;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e4e4e4)) !important;
    background-image: -webkit-linear-gradient(top, #ffffff, #e4e4e4) !important;
    background-image: -o-linear-gradient(top, #ffffff, #e4e4e4) !important;
    background-image: linear-gradient(top, #ffffff, #e4e4e4) !important;
    background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4) !important;
    background-image: -ms-linear-gradient(top, #ffffff, #e4e4e4) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ffffff', endColorstr='#e4e4e4') !important;
}

a.cke_dialog_ui_button_ok:hover
{
    border-color: #9e9e9e !important;

    background: #ccc !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc)) !important;
    background: -webkit-linear-gradient(top, #f2f2f2, #ccc) !important;
    background: -o-linear-gradient(top, #f2f2f2, #ccc) !important;
    background-image: linear-gradient(top, #f2f2f2, #ccc) !important;
    background: -moz-linear-gradient(top, #f2f2f2, #ccc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#f2f2f2', endColorstr='#cccccc') !important;
}

/* Text shadow used for inner part of OK dialog button in footer. */
a.cke_dialog_ui_button_ok span
{
    text-shadow: 0 1px 0 #fff !important;
}