/*
 * easygenerator | Copyright 2013
 */


@font-face {
    font-family: 'Montserrat-Regular';
    src: url('font/Montserrat-Regular.eot');
    src: url('font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('font/Montserrat-Regular.svg') format('svg'), url('font/Montserrat-Regular.woff') format('woff'), url('font/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*===================================
RESET CSS-STYLES IN FOREIGN BROWSERS 
===================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/**
 * Disable the impact of paddings and borders on the dimensions of the elements.
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*===================================
COMMON TAGS CSS-STYLES
===================================*/
html, body {
    width: 100%;
}

/**
 * Default font styles. Font smoothing in Chrome.
 */
body {
    line-height: 1;
    font-family: Montserrat-Regular;
    font-size: 125%;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

    body > * {
        font-size: 85%;
        line-height: 1.3em;
    }

/**
 * Table
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Links.
 */

a {
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:active {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

/**
 * Lists.
 */

ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}

/*===================================
COMMON CLASSES CSS-STYLES
===================================*/

/**
 * Use for every container of floated elements.
 */

.clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

.inline {
    display: inline-block;
}

/**
 * Titles
 */

h2.page-header-title {
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}