/*
 * easygenerator | Copyright 2013
 */

/*#region COMMON CLASSES CSS-STYLES*/


/*TODO: DELETE AND/OR REPLACE THEM THIS STYLES*/

.white-framing {
    display: inline-block;
    border: 4px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

    .white-framing > img,
    .white-framing > span {
        outline: 1px solid #f8f8f8;
        vertical-align: top;
    }

.btn {
    font-size: 16px;
    color: #656565;
    min-width: 100px;
    padding: 0 20px;
    margin: 0;
    border: 1px solid #DEDFE3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 37%, #ffffff 61%, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(37%,#ffffff), color-stop(61%,#ffffff), color-stop(100%,#f6f7f9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    white-space: nowrap;
    cursor: default;
}

.ie9 .btn {
    filter: none;
}

.btn.saveAndOpen,
.btn.saveAndNew {
    height: 55px;
    line-height: 52px;
    border: 1px solid #dedfe3;
    font-family: Tahoma, sans-serif;
    -webkit-text-shadow: none;
    text-shadow: none;
}

    .btn.saveAndOpen.disabled,
    .btn.saveAndOpen.disabled:hover,
    .btn.saveAndOpen.disabled:active,
    .btn.saveAndNew.disabled,
    .btn.saveAndNew.disabled:hover,
    .btn.saveAndNew.disabled:active {
        box-shadow: none;
    }

    .btn.saveAndOpen + .btn.saveAndNew {
        margin-left: 20px;
    }

.btn.enabled:hover {
    background: #f6f7f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6f7f9 1%, #ffffff 37%, #ffffff 61%, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7f9), color-stop(37%,#ffffff), color-stop(61%,#ffffff), color-stop(100%,#f6f7f9));
    background: -webkit-linear-gradient(top, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: -ms-linear-gradient(top, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: linear-gradient(to bottom, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
}

.btn.enabled:focus {
    outline: none;
}

.ie9 .btn:hover {
    filter: none;
}

.btn.disabled {
    opacity: 0.5;
}

.btn.default {
    -webkit-box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
    -moz-box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
    box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
}

/*#endregion COMMON CLASSES CSS-STYLES*/

/*#region Error pages */

.error-page {
    margin: auto;
    padding: 115px;
    min-width: 500px;
    max-width: 1000px;
}

.error-page-home-link {
    margin-top: 20px;
}

/*#endregion Error pages */

/*#region Form action buttons*/

.form-actions {
    float: right;
    padding-top: 25px;
    margin-left: 225px;
    letter-spacing: normal;
}

    .form-actions .btn {
        float: left;
    }

        .form-actions .btn .btn-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .form-actions .btn .btn-img {
            display: inline-block;
            vertical-align: middle;
            background-image: url(images/create-actions-sprite.png);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }

        .form-actions .btn.saveAndOpen .btn-img {
            background-position: left -25px;
        }

        .form-actions .btn.saveAndNew .btn-img {
            background-position: left 0;
        }

/*#endregion Form actions buttons*/

/*#region Page-loader icon*/

.icon-spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

    .icon-spinner-wrapper img {
        vertical-align: top;
    }

/*#endregion Page-loader icon*/

/*#region Create form*/

.create-form {
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 60px;
}

.create-form-image-wrapper {
    display: inline-block;
    width: 194px;
    vertical-align: top;
    text-align: center;
    background: #f0f0f0; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f0f0f0 0%, #fbfbfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#fbfbfb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f0f0 0%,#fbfbfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-8 */
}

.ie9 .create-form-image-wrapper {
    filter: none;
}

.create-form-image-wrapper.white-bg {
    background: white;
}

.create-form-image {
    height: 111px;
    vertical-align: top;
}

.create-form-field {
    margin-left: 250px;
    position: relative;
}

.create-form .edit-field {
    min-height: 120px;
}

.create-form .form-actions {
    margin-left: 0;
    clear: both;
}

.create-entity-actions {
    position: absolute;
    right: 98px;
    margin-top: 20px;
    z-index: 2;
}

/*#endregion Create form*/

/*#region View header*/

.view-header {
    margin-top: 11px;
    margin-bottom: 15px;
    position: relative;
}

.view-header-title .edit-field {
    color: #303032;
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    border-bottom: 1px solid #E8E8E8;
}

/*#endregion View header*/

/*#region Edit field*/

.edit-field {
    min-height: 60px;
    width: 100%;
    resize: none;
    padding: 15px 15px 20px 15px;
    vertical-align: top;
    border: 1px solid rgba(68, 192, 252, 0);
    background-color: transparent;
    outline: none;
    color: #666;
    font-size: 14px;
}

    .edit-field.bordered {
        border: 1px solid #E8E8E8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .edit-field:hover {
        border: 1px solid #E8E8E8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .edit-field.active {
        background-color: white;
        border: 1px solid rgba(116, 185, 240, 1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
        -moz-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
        box-shadow: 0 0 3px rgba(116, 185, 240, 1);
    }

        .edit-field.active + .chars-counter {
            display: block;
        }

    .edit-field + .chars-counter.error {
        background-color: #953b39;
        display: block;
    }

    .edit-field.error {
        border: 1px solid rgba(149, 59, 57, 0.8);
        -webkit-box-shadow: 0 0 3px rgba(149, 59, 57, 1);
        -moz-box-shadow: 0 0 3px rgba(149, 59, 57, 1);
        box-shadow: 0 0 3px rgba(149, 59, 57, 1);
    }

    .edit-field a {
        color: #303032;
    }

.chars-counter {
    display: none;
    color: white;
    background-color: #74B9F0;
    padding: 0 10px;
    width: auto;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    margin: 0;
    -webkit-border-radius: 5px 0px 3px 0px;
    -moz-border-radius: 5px 0px 3px 0px;
    border-radius: 5px 0px 3px 0px;
    text-align: center;
}

/*#endregion Edit field*/

/*#region Create explanation tooltip*/

.create-tip {
    position: absolute;
    left: 30px;
    font-size: 22px;
    font-family: 'BuxtonSketch', sans-serif;
}

    .create-tip .create-tip-text-wrapper {
        position: absolute;
        right: -15px;
        top: 54px;
    }

    .create-tip .create-tip-text {
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
        white-space: nowrap;
        color: #666;
        letter-spacing: 0;
    }

    .create-tip .create-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        right: -70px;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
    }

/*#endregion Create entity tooltip*/

/*#region OBJECTIVES-EXPERIENCES*/

.objectives-body,
.experiences {
    position: relative;
}

.objectives,
.experiences {
    margin: auto;
    max-width: 1158px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

/*#endregion OBJECTIVES-EXPERIENCES*/

/*#region MEDIA CSS-STYLES*/

@media (max-width: 640px) {
    /*#region Create explanation tooltip*/
    .create-tip {
        right: 375px;
    }
    /*#endregion Create explanation tooltip*/
}

@media (max-width: 945px) {

    /*#region Form action buttons*/
    .form-actions .btn {
        float: right;
        clear: both;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }
    /*#endregion Form action buttons*/
}

@media (max-width: 960px) {
    /*#region Header*/
    .main-logo {
        width: 33px;
    }

    .module-400 .main-logo,
    .module-404 .main-logo {
        width: 165px;
    }

    /*#endregion Header*/
}

@media (max-width: 1060px) {

    .create-tip {
        left: -17px;
    }
}

@media (min-width: 1220px) {
    /*#region OBJECTIVES-EXPERIENCES*/
    .objectives,
    .experiences {
        max-width: 1202px;
    }

    .experiences-list-wrapper {
        max-width: 1202px;
    }
    /*#endregion OBJECTIVES-EXPERIENCES*/
}

@media (max-width: 1260px) {
    /*#region Create explanation tooltip*/
    .create-tip .create-tip-text-wrapper {
        max-width: 278px;
        min-width: 198px;
    }

    .create-tip .create-tip-text {
        min-height: 130px;
        white-space: normal;
    }
    /*#endregion Create explanation tooltip*/
}

@media (min-width: 880px) and (max-width: 1166px) {
    /*#region OBJECTIVES-EXPERIENCES*/
    .objectives,
    .experiences {
        max-width: 850px;
    }
    /*#endregion OBJECTIVES-EXPERIENCES*/
}

/*#endregion MEDIA*/
