/*
 * easygenerator | Copyright 2013
 */

/*#region Error pages */

.error-page {
    margin: auto;
    padding: 115px;
    min-width: 500px;
    max-width: 1000px;
}

.error-page-home-link {
    margin-top: 20px;
}

/*#endregion Error pages */

/*#region Form action buttons*/

.form-actions {
    float: right;
    padding-top: 30px;
    letter-spacing: normal;
}

/*#endregion Form actions buttons*/

/*#region Page-loader icon*/

.icon-spinner-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

    .icon-spinner-wrapper img {
        vertical-align: top;
    }

/*#endregion Page-loader icon*/

/*#region View header*/

.view-header {
    margin-top: 11px;
    margin-bottom: 15px;
    position: relative;
}

.view-header-title .edit-field {
    color: #303032;
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    border-bottom: 1px solid #E8E8E8;
}

/*#endregion View header*/

/*#region Edit field*/

.edit-field {
    min-height: 60px;
    width: 100%;
    resize: none;
    padding: 15px 15px 20px 15px;
    vertical-align: top;
    border: 1px solid rgba(68, 192, 252, 0);
    background-color: transparent;
    outline: none;
    color: #666;
    font-size: 14px;
    word-wrap: break-word;
}

    .edit-field.bordered {
        border: 1px solid #E8E8E8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .edit-field:hover {
        border: 1px solid #E8E8E8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .edit-field.active {
        background-color: white;
        border: 1px solid rgba(116, 185, 240, 1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
        -moz-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
        box-shadow: 0 0 3px rgba(116, 185, 240, 1);
    }

        .edit-field.active + .chars-counter {
            display: block;
        }

    .edit-field + .chars-counter.error {
        background-color: #953b39;
        display: block;
    }

    .edit-field.error {
        border: 1px solid rgba(149, 59, 57, 0.8);
        -webkit-box-shadow: 0 0 3px rgba(149, 59, 57, 1);
        -moz-box-shadow: 0 0 3px rgba(149, 59, 57, 1);
        box-shadow: 0 0 3px rgba(149, 59, 57, 1);
    }

    .edit-field a {
        color: #303032;
    }

.chars-counter {
    display: none;
    color: white;
    background-color: #74B9F0;
    padding: 0 10px;
    width: auto;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    margin: 0;
    -webkit-border-radius: 5px 0px 3px 0px;
    -moz-border-radius: 5px 0px 3px 0px;
    border-radius: 5px 0px 3px 0px;
    text-align: center;
}

/*#endregion Edit field*/

/*#region Create explanation tooltip*/

.create-tip {
    position: absolute;
    left: 30px;
    font-size: 22px;
    font-family: 'BuxtonSketch', sans-serif;
}

    .create-tip .create-tip-text-wrapper {
        position: absolute;
        right: -15px;
        top: 54px;
    }

    .create-tip .create-tip-text {
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
        white-space: nowrap;
        color: #666;
        letter-spacing: 0;
    }

    .create-tip .create-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        right: -70px;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
    }

/*#endregion Create entity tooltip*/

/*#region OBJECTIVES-COURSES*/

.objectives,
.courses {
    position: relative;
    margin: auto;
    max-width: 1158px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

/*#endregion OBJECTIVES-COURSES*/

/*#region MEDIA CSS-STYLES*/

@media (max-width: 640px) {

    /*#region Create explanation tooltip*/
    .create-tip {
        right: 375px;
    }
    /*#endregion Create explanation tooltip*/
}

@media (max-width: 945px) {

    /*#region Form action buttons*/
    .form-actions .btn {
        float: right;
        clear: both;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }
    /*#endregion Form action buttons*/
}

@media (max-width: 960px) {
    /*#region Header*/
    .main-logo {
        width: 33px;
    }

    .module-400 .main-logo,
    .module-404 .main-logo {
        width: 165px;
    }

    /*#endregion Header*/
}

@media (max-width: 1060px) {

    .create-tip {
        left: -17px;
    }
}

@media (min-width: 1220px) {
    /*#region OBJECTIVES-COURSES*/
    .objectives,
    .courses {
        max-width: 1202px;
    }
    /*#endregion OBJECTIVES-COURSES*/
}

@media (max-width: 1260px) {
    /*#region Create explanation tooltip*/
    .create-tip .create-tip-text-wrapper {
        max-width: 278px;
        min-width: 198px;
    }

    .create-tip .create-tip-text {
        min-height: 130px;
        white-space: normal;
    }
    /*#endregion Create explanation tooltip*/
}

@media (min-width: 880px) and (max-width: 1166px) {
    /*#region OBJECTIVES-COURSES*/
    .objectives,
    .courses {
        max-width: 850px;
    }
    /*#endregion OBJECTIVES-COURSES*/
}

/*#endregion MEDIA*/
