/*
 * easygenerator | Copyright 2013
 */

/*#region FONTS CONNECTIONS*/
@font-face {
    font-family: 'OpenSans';
    src: url('./font/opensans-regular.eot');
    src: url('./font/opensans-regular.svg#OpenSansRegular') format('svg'), url('./font/opensans-regular.eot?#iefix') format('embedded-opentype'), url('./font/opensans-regular.woff') format('woff'), url('./font/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('./font/opensans-semibold.eot');
    src: url('./font/opensans-semibold.svg#OpenSansSemibold') format('svg'), url('./font/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('./font/opensans-semibold.woff') format('woff'), url('./font/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*#endregion FONTS CONNECTIONS*/

/*#region RESET CSS-STYLES IN FOREIGN BROWSERS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary, mark, audio, video {
    padding: 0;
    margin: 0;
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*#endregion RESET CSS-STYLES IN FOREIGN BROWSERS */

/*#region COMMON TAGS CSS-STYLES*/
html, body, .main-container {
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

input[type="password"]::-ms-reveal {
    visibility: hidden;
   }

input::-ms-clear {
    visibility: hidden;
}

a {
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:active {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

img:hover {
    -ms-opacity: 1;
    opacity: 1;
    filter: alpha(opacity = 100);
}

ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}

/*#endregion COMMON*/

/*#region COMMON CLASSES CSS-STYLES*/
.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.selectable {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
/*#endregion COMMON CLASSES CSS-STYLES*/

/*#region CURSOR*/
.cursor-default {
    cursor: default;
}
/*#endregion CURSOR*/