/*
 * easygenerator | Copyright 2016
 */

/*#region FONTS CONNECTIONS*/
@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('font/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('font/opensans-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('font/opensans-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('font/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BuxtonSketch';
    src: url('font/buxtonsketch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rabiohead';
    src: url('font/rabiohead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroRegular';
    src: url('font/intro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('font/robotoslab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('font/robotoslab-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('font/robotoslab-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('font/robotoslab-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('font/myriadpro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('font/myriadpro-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-Bold';
    src: url('font/heuristica-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-Regular';
    src: url('font/heuristica-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-Italic';
    src: url('font/heuristica-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-BoldItalic';
    src: url('font/heuristica-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Badscript';
    src: url('font/badscript-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Easygenerator Icons';
    src: url('font/easygenerator-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*#endregion FONTS CONNECTIONS*/

/*#region RESET CSS-STYLES IN FOREIGN BROWSERS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary, mark, audio, video {
    padding: 0;
    margin: 0;
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*#endregion RESET CSS-STYLES IN FOREIGN BROWSERS */

/*#region COMMON TAGS CSS-STYLES*/

html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(243, 247, 249);
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

input[type="password"]::-ms-reveal {
    visibility: hidden;
}

input::-ms-clear {
    visibility: hidden;
}

:focus,
:active {
    outline: none;
}

a {
    outline: 0;
    text-decoration: none;

    &:hover, &:active {
        outline: 0;
    }

    &:focus {
        text-decoration: none;
    }
}

h1 {
    font-size: 2.0em;
}

img:hover {
    opacity: 1;
}

/*#endregion COMMON*/

/*#region COMMON CLASSES CSS-STYLES*/

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.unstyled {
    list-style: none;
}

.selectable {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.bold {
    font-family: 'OpenSans-Semibold';
}

.preloader-block {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.tb-row {
    display: table-row;
    vertical-align: top;
}

.tb-cell {
    display: table-cell;
    vertical-align: top;

    & > .colspan-cell {
        width: 100%;
        position: absolute;
    }
}

.onboarding-flex-wrapper {
    display: inline-flex;
    flex: 0 0 auto;
}

/*#endregion COMMON CLASSES CSS-STYLES*/

/*#region STYLED CONTENT*/
@main-style-color: #43aaa3;
@highlighted-font-color: #fff;
@main-text-color: #42515f;

.margin-bottom() {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.styled-content {
    padding: 15px 20px;
    font: 18px 'Heuristica-Regular';
    line-height: 1.5;
    overflow-y: hidden;
    overflow-x: auto;
    color: @main-text-color;

    h1, h2, h3 {
        font-family: 'Heuristica-Bold';
        font-weight: normal;
        .margin-bottom;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    p, ul, ol {
        .margin-bottom;
    }

    ul, ol {
        padding-left: 32px;
        list-style: none;

        h1, h2, h3, p {
            display: inline;
        }
    }

    ol {
        counter-reset: ol-counter;

        & > li {
            position: relative;
            .margin-bottom;

            &:before {
                content: counter(ol-counter) '.';
                counter-increment: ol-counter;
                position: absolute;
                display: inline-block;
                width: 58px;
                margin-left: -58px;
                text-align: right;
                padding-right: 12px;
                box-sizing: border-box;
            }
        }
    }

    ul {
        & > li {
            position: relative;
            .margin-bottom;

            &:before {
                content: '';
                position: absolute;
                display: inline-block;
                margin-left: -22px;
                margin-top: 10px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: @main-style-color;
            }
        }
    }

    em {
        font-family: 'Heuristica-Italic';
        font-style: normal;
    }

    strong {
        font-family: 'Heuristica-Bold';
    }

    img {
        margin: 30px auto 20px;
        border-radius: 3px;
        display: block;
    }

        img[style*="float:left"],
        img[style*="float: left"] {
            margin-top: 10px;
            margin-right: 30px;
            clear: both;
        }

        img[style*="float:right"],
        img[style*="float: right"] {
            margin-top: 10px;
            margin-left: 30px;
            clear: both;
        }

        img[style*="float:left"] ~ img[style*="float:left"], img[style*="float: left"] ~ img[style*="float:left"], img[style*="float:left"] ~ img[style*="float: left"], img[style*="float: left"] ~ img[style*="float: left"] {
            clear: none;
        }

        img[style*="float:right"] ~ img[style*="float:right"], img[style*="float: right"] ~ img[style*="float:right"], img[style*="float:right"] ~ img[style*="float: right"], img[style*="float: right"] ~ img[style*="float: right"] {
            clear: none;
        }

        img:first-child {
            margin-top: 10px;
        }

    cite {
        border-left: solid 4px @main-style-color;
        display: block;
        font-family: 'Heuristica-Italic';
        white-space: pre-line;
        padding-left: 18px;
        margin: 20px 15% 20px 10px;
    }

    a {
        color: @main-style-color;
        border-bottom: 1px solid @main-style-color;

        &:hover, &:active, &:focus {
            color: shade(@main-style-color,10%);
            border-bottom-color: shade(@main-style-color,10%);
        }
    }

    mark {
        background-color: @main-style-color;
        color: @highlighted-font-color;
    }

    table {
        margin: 20px auto;
        border: none;
        border-collapse: collapse;
        font-size: 16px;
        color: #3c3c3c;
        table-layout: fixed;

        p {
            margin: 0;
        }
    }

    th, td {
        border: 1px dashed #ccc;
        overflow: hidden;
        padding: 10px 15px;
        text-align: left;
    }

    th {
        background-color: #76cbe3;
        font-family: 'Heuristica-Bold';
    }

    tr {
        background-color: #f4fafc;
    }

    strong, th {
        font-weight: normal;
    }
}

.cke_widget_wrapper img {
    margin: 0;
}

/*#endregion STYLED CONTENT*/

/*#region CUSTOM SROLLBAR*/

.ps-container {
    & > .ps-scrollbar-y-rail {
        width: 5px !important;

        & > .ps-scrollbar-y {
            width: 5px !important;
            border-radius: 10px !important;
            background-color: rgba(188, 188, 196, .5) !important;
        }
    }
}

/*#endregion CUSTOM SROLLBAR*/

.text-wrapper {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.switcher-wrapper {
    display: flex;

    .switch-toggle-slider {
        flex: 0 0 auto;
        margin-right: 10px;

        &.on {
            box-shadow: 0 0 0 1px #61b472;
        }

        .switch-toggle-on {
            background-color: #65bd77;
        }

        &.off {
            box-shadow: 0 0 0 1px #8fa2ae;
        }

        .switch-toggle-off {
            background-color: #9db2c0;
        }
    }

    .switch-description {
        flex: 1 1 auto;
        font-family: 'OpenSans';
        color: #63798e;

        .title {
            margin-bottom: 5px;
            font-size: 13px;
        }

        .subtitle {
            font-size: 12px;
        }

        .help-tooltip {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            vertical-align: middle;
            background: url('images/sprites_16.png') -126px -189px no-repeat;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url('images/sprites_16.png') -147px -189px no-repeat;
                opacity: 0;
                transition: opacity .2s linear;
            }

            &:hover {
                &:after {
                    opacity: 1;
                }
            }
        }

        &.enabled {
            .title {
                color: #42515f;
            }

            .subtitle {
                color: #546677;
            }
        }
    }
}




/* Helpscout Beacon styles */

#hs-beacon > div > iframe:first-child {
    right: 11px !important;
    bottom: 76px !important;
    -moz-transform: scale(.1);
    -ms-transform: scale(.1);
    -webkit-transform: scale(.1);
    transform: scale(.1);
    opacity: 0;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.wf-active #hs-beacon > div > iframe:first-child {
    opacity: 1;
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);
    transform: scale(.7);
}

#hs-beacon > div > iframe:last-child {
    bottom: 132px !important;
}

#intercom-container {
    z-index: 2199 !important;
}

/*
#intercom-container .intercom-launcher-frame {
    transform-origin: left top;
    transform: scale(.9, .9);
}
*/