/*
 * easygenerator | Copyright 2013
 */

/*#region FONTS CONNECTIONS*/
@font-face {
    font-family: 'OpenSans';
    src: url('font/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('font/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('font/opensans-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('font/opensans-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('font/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BuxtonSketch';
    src: url('font/buxtonsketch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rabiohead';
    src: url('font/rabiohead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroRegular';
    src: url('font/intro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('font/robotoslab-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('font/robotoslab-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('font/robotoslab-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('font/myriadpro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProSemibold';
    src: url('font/myriadpro-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-Bold';
    src: url('font/heuristica-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-Regular';
    src: url('font/heuristica-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-Italic';
    src: url('font/heuristica-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heuristica-BoldItalic';
    src: url('font/heuristica-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Badscript';
    src: url('font/badscript-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*#endregion FONTS CONNECTIONS*/

/*#region RESET CSS-STYLES IN FOREIGN BROWSERS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary, mark, audio, video {
    padding: 0;
    margin: 0;
    outline: 0;
}

html, div, article, aside,
footer, header, menu, nav, section {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*#endregion RESET CSS-STYLES IN FOREIGN BROWSERS */

/*#region COMMON TAGS CSS-STYLES*/

html {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

body {
    font-family: 'OpenSans', sans-serif;
    background-color: rgb(243, 247, 249);
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

input[type="password"]::-ms-reveal {
    visibility: hidden;
}

input::-ms-clear {
    visibility: hidden;
}

:focus,
:active {
    outline: none;
}

a {
    outline: 0;
    text-decoration: none;

    &:hover, &:active {
        outline: 0;
    }

    &:focus {
        text-decoration: none;
    }
}

h1 {
    font-size: 2.0em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
}

img:hover {
    opacity: 1;
}

/*#endregion COMMON*/

/*#region COMMON CLASSES CSS-STYLES*/

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.unstyled {
    list-style: none;
}

.selectable {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

.bold {
    font-family: 'OpenSans-Semibold';
}

.preloader-block {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.tb-row {
    display: table-row;
    vertical-align: top;
}

.tb-cell {
    display: table-cell;
    vertical-align: top;
    
    & > .colspan-cell {
        width: 100%;
        position: absolute;
    }
}

.inline-flex-wrapper {
    display: inline-flex;
}

/*#endregion COMMON CLASSES CSS-STYLES*/

/*#region STYLED CONTENT*/

.styled-content {
    padding: 12px 20px;
    font: 18px 'Heuristica-Regular';
    text-align: justify;
    line-height: 30px;
    overflow-y: hidden;
    overflow-x: auto;
    color: #333333;
    background-color: #fff;

    h1, h2, h3 {
        margin: 40px 0 15px 0;
        -webkit-margin-before: 40px;
        -webkit-margin-after: 15px;
        font-family: 'Heuristica-Bold';
        font-weight: normal;

        &:first-child {
            margin-top: 28px;
            -webkit-margin-before: 28px;
        }
    }

    h1 {
        font-size: 26px;
        line-height: 40px;
    }

    h2 {
        font-size: 24px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
        line-height: 34px;
    }

    p, ul, ol {
        margin: 0 0 20px 0;
    }

    ul, ol {
        padding-left: 30px;
        
        h1, h2, h3, p {
            display: inline;
        }
    }

    ol {
        list-style-position: inside;
    }

    ul {
        list-style: none;
    
        & > li:before {
            content: "•";
            color: #76cbe3; /* or whatever color you prefer */
            margin-right: 14px;
        }
    }
    
    em {
        font-family: 'Heuristica-Italic';
        font-style: normal;
    }

    strong {
        font-family: 'Heuristica-Bold';
    }

    img {
        margin: 30px auto 20px;
        border-radius: 5px;
        display: block;
    }

    img[style*="float:left"],
    img[style*="float: left"] {
        margin-top: 10px;
        margin-right: 30px;
    }

    img[style*="float:right"],
    img[style*="float: right"] {
        margin-top: 10px;
        margin-left: 30px;
    }

    img:first-child {
        margin-top: 10px;
    }

    cite {
        position: relative;
        display: block;
        margin: 15px 165px;
        font: 18px 'Heuristica-BoldItalic';
        font-style: normal;
        line-height: 30px;
        white-space: pre-line;
    
        &:before, &:after{
            position: absolute;
            font: 50px 'Heuristica-Regular';
            color: #63c4df;
        }

        &:before {
            content: '“';
            top: -10px;
            margin-left: -25px;
        }

        &:after {
            content: '”';
            bottom: -40px;
            margin-left: 5px;
        }

        &:first-child {
            margin-top: 3px;
        }
    }

    a {
        color: #449eeb;
        border-bottom: 1px solid #449eeb;

        &:hover, &:active, &:focus {
            color: #0088ae;
            border-bottom-color: #0088ae;
        }
    }

    mark {
        padding: 0 3px;
        background-color: #ffe725;
        color: inherit;
    }

    table {
        margin: 20px auto;
        border: none;
        border-collapse: collapse;
        font-size: 16px;
        color: #3c3c3c;
        table-layout: fixed;
    
            p {
                margin: 0;
            }   
        }

    th, td {
        border: 1px dashed #ccc;
        overflow: hidden;
        padding: 10px 15px;
        text-align: left;
    }

    th {
        background-color: #76cbe3;
        font-family: 'Heuristica-Bold';
    }

    tr {
        background-color: #f4fafc;
    }
    
    strong, th {
        font-weight: normal;
    }
}

.cke_widget_wrapper img {
    margin: 0;
}

/*#endregion STYLED CONTENT*/

/*#region CUSTOM SROLLBAR*/

.iScrollHorizontalScrollbar{
    /*this is applied to the horizontal container*/
}

.iScrollVerticalScrollbar{
    /*this is applied to the vertical container*/
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 9999;
    width: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.iScrollIndicator{
    /*the actual scrollbar indicator*/
    border-radius: 10px;
    background-color: rgba(188, 188, 196, .5);

}

.iScrollBothScrollbars{
    /*this is added to the container elements when both scrollbars are shown. */
}

/*#endregion CUSTOM SROLLBAR*/