/*
 * easygenerator | Copyright 2013
 */


/*===================================
RESET CSS-STYLES IN FOREIGN BROWSERS 
===================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/**
 * Disable the impact of paddings and borders on the dimensions of the elements.
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*===================================
COMMON TAGS CSS-STYLES
===================================*/
html, body {
    width: 100%;
}

/**
 * Default font styles. Font smoothing in Chrome.
 */
body {
    line-height: 1;
    font-family: Tahoma, sans-serif;
    font-size: 125%;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

    body > * {
        font-size: 85%;
        line-height: 1.3em;
    }

/**
 * Table
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Links.
 */

a {
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:active {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

/**
 * Lists.
 */

ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}

/**
 * Images.
 */

img:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

/*===================================
COMMON CLASSES CSS-STYLES
===================================*/

/**
 * Use for every container of floated elements.
 */

.clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

.inline {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.nowrap {
    white-space: nowrap;
}

/**
 * Titles
 */

h2.page-header-title {
    color: #666666;
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
    word-break: break-all;
    -ms-word-break: break-all;
}

/**
 *  Framing for images
 */

.white-framing {
    position: relative;
    z-index: 10;
    background: black;
    border: 4px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#9d9d9d, strength=3);
}

/**
 * curved shadow
 */

.shadow-bottom-curve {
    position: relative;
}

    .shadow-bottom-curve:before, .shadow-bottom-curve:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        -webkit-border-radius: 250px / 10px;
        -moz-border-radius: 250px / 10px;
        border-radius: 250px / 10px;
    }

/**
 * messages
 */

.alert {
    min-width: 328px;
    padding: 6px 13px;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
}
    .alert-content {
        margin-right: 30px;
    }

.alert-info {
    border-color: #4dc0f8;
    background-color: #d4e6f2;
    color: #23485a;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

    .alert-info .info-icon {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-top: -2px;
        margin-right: 8px;
        vertical-align: middle;
        background-image: url(images/icons.png);
        background-position: 0 0;
    }

.alert .close {
    line-height: 16px;
    float: right;
    position: relative;
    right: 0;
    padding: 0;
    border: none;
    
    background: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
    
    color: black;
    font-size: 20px;
    font-weight: bold;
}
