/*
 * easygenerator | Copyright 2013
 */

/*#region FONTS CONNECTIONS*/

@font-face {
    font-family: 'FontAwesome';
    src: url('font/fontawesome-webfont.svg#fontawesomeregular') format('svg'), url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BuxtonSketchRegular';
    src: url('font/buxtonsketch.eot');
    src: url('font/buxtonsketch.svg#BuxtonSketchRegular') format('svg'), url('font/buxtonsketch.eot?#iefix') format('embedded-opentype'), url('font/buxtonsketch.woff') format('woff'), url('font/buxtonsketch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*#endregion FONTS CONNECTIONS*/

/*#region COMMON TAGS CSS-STYLES*/

body {
    font-family: Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

a {
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:active {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

img:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}

/*#endregion COMMON*/

/*#region COMMON CLASSES CSS-STYLES*/

#content {
    min-width: 600px;
    min-height: 600px;
}

.main {
    padding-top: 97px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
 * ----------------------temporary classes-------------------
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box-sizing-reset, .box-sizing-reset * {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

/*
   --------------------end of  temporary classes---------
   */

.inline {
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.hidden {
    visibility: hidden;
}

.preloader-block {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*------------white framing for logo-images---------------------*/

.white-framing {
    display: inline-block;
    border: 4px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

    .white-framing > img,
    .white-framing > span {
        outline: 1px solid #f8f8f8;
        vertical-align: top;
    }

/*#endregion COMMON CLASSES CSS-STYLES*/

/*#region Page navigation elements */

.nav-element-wrapper {
    display: table-cell;
    width: 22px;
    vertical-align: middle;
}

    .nav-element-wrapper.previous {
        padding-right: 40px;
    }

    .nav-element-wrapper.next {
        padding-left: 40px;
    }

    .nav-element-wrapper .nav-element {
        display: inline-block;
        background-repeat: no-repeat;
        opacity: 0.6;
    }

.nav-element {
    cursor: pointer;
}

    .nav-element:hover {
        opacity: 1;
    }

    .nav-element.disabled {
        opacity: 0.2;
        cursor: default;
    }

    .nav-element.prev-btn {
        height: 32px;
        width: 22px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-position: 0 -104px;
    }

    .nav-element.next-btn {
        height: 32px;
        width: 22px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-position: 0 -136px;
    }

/*#endregion Page navigation elements */

/*#region Error pages */

.error-page {
    margin: auto;
    padding: 115px;
    min-width: 500px;
    max-width: 1000px;
}

.error-page-home-link {
    margin-top: 20px;
}

/*#endregion Error pages */

/*#region Form action buttons*/

.btn {
    font-size: 16px;
    color: #656565;
    min-width: 100px;
    padding: 0 20px;
    margin: 0;
    border: 1px solid #DEDFE3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 37%, #ffffff 61%, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(37%,#ffffff), color-stop(61%,#ffffff), color-stop(100%,#f6f7f9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    white-space: nowrap;
    cursor: default;
}

.ie9 .btn {
    filter: none;
}

.btn.saveAndOpen,
.btn.saveAndNew {
    height: 55px;
    line-height: 52px;
    border: 1px solid #dedfe3;
    font-family: Tahoma, sans-serif;
    -webkit-text-shadow: none;
    text-shadow: none;
}

    .btn.saveAndOpen.disabled,
    .btn.saveAndOpen.disabled:hover,
    .btn.saveAndOpen.disabled:active,
    .btn.saveAndNew.disabled,
    .btn.saveAndNew.disabled:hover,
    .btn.saveAndNew.disabled:active {
        box-shadow: none;
    }

    .btn.saveAndOpen + .btn.saveAndNew {
        margin-left: 20px;
    }

.btn.enabled:hover {
    background: #f6f7f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6f7f9 1%, #ffffff 37%, #ffffff 61%, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7f9), color-stop(37%,#ffffff), color-stop(61%,#ffffff), color-stop(100%,#f6f7f9));
    background: -webkit-linear-gradient(top, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: -ms-linear-gradient(top, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: linear-gradient(to bottom, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
}

.btn.enabled:focus {
    outline: none;
}

.ie9 .btn:hover {
    filter: none;
}

.btn.disabled {
    opacity: 0.5;
}

.btn.default {
    -webkit-box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
    -moz-box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
    box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
}

.form-actions {
    float: right;
    padding-top: 25px;
    margin-left: 225px;
    letter-spacing: normal;
}

    .form-actions .btn {
        float: left;
    }

        .form-actions .btn .btn-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .form-actions .btn .btn-img {
            display: inline-block;
            vertical-align: middle;
            background-image: url(images/create-actions-sprite.png);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }

        .form-actions .btn.saveAndOpen .btn-img {
            background-position: left -25px;
        }

        .form-actions .btn.saveAndNew .btn-img {
            background-position: left 0;
        }

/*#endregion Form actions buttons*/

/*#region Page-loader icon*/

.icon-spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
}

    .icon-spinner-wrapper img {
        vertical-align: top;
    }

/*#endregion Page-loader icon*/

/*#region Create form*/

.create-form {
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 35px;
}

.create-form-image-wrapper {
    display: inline-block;
    width: 194px;
    vertical-align: top;
    text-align: center;
    background: #f0f0f0; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f0f0f0 0%, #fbfbfb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #f0f0f0 0%,#fbfbfb 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f0f0f0 0%,#fbfbfb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-8 */
}

.ie9 .create-form-image-wrapper {
    filter: none;
}

.create-form-image-wrapper.white-bg {
    background: white;
}

.create-form-image {
    height: 111px;
    vertical-align: top;
}

    .create-form-image.wide {
        width: 100%;
    }

.create-form-field {
    margin-left: 250px;
    position: relative;
}


.create-form .edit-field {
    min-height: 120px;
}

.create-form .editable-text-binding {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.create-form .form-actions {
    margin-left: 0;
    clear: both;
}

.create-entity-actions {
    position: absolute;
    right: 20px;
    margin-top: 20px;
    z-index: 2;
}

.create-form-tip {
    margin: 50px 0;
    -webkit-transform: rotate(352deg);
    -moz-transform: rotate(352deg);
    -ms-transform: rotate(352deg);
    transform: rotate(352deg);
    white-space: nowrap;
    color: #666;
}

.create-form-tip-image {
    background-image: url(images/typeQuestionTitleArrow.png);
    width: 54px;
    height: 54px;
    display: inline-block;
}

.editable-text-binding {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
}

/*#endregion Create form*/

/*#region View header*/

.view-header {
    margin-top: 11px;
    margin-bottom: 15px;
    position: relative;
}

.view-header-title .edit-field {
    color: #303032;
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    border-bottom: 1px solid #E8E8E8;
}

/*#endregion View header*/

/*#region Edit field*/

.edit-field {
    padding: 15px 15px 20px 15px;
    border: 1px solid rgba(68, 192, 252, 0);
    font-size: 14px;
    color: #666;
    width: 100%;
    resize: none;
    vertical-align: top;
    outline: none;
    background-color: transparent;
}

    .edit-field.bordered {
        border: 1px solid #E8E8E8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .edit-field:hover {
        border: 1px solid #E8E8E8;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .edit-field.active {
        background-color: white;
        border: 1px solid rgba(116, 185, 240, 1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
        -moz-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
        box-shadow: 0 0 3px rgba(116, 185, 240, 1);
    }

        .edit-field.active + .chars-counter {
            display: block;
        }

    .edit-field + .chars-counter.error {
        background-color: #953b39;
        display: block;
    }

    .edit-field.error {
        border: 1px solid rgba(149, 59, 57, 0.8);
        -webkit-box-shadow: 0 0 3px rgba(149, 59, 57, 1);
        -moz-box-shadow: 0 0 3px rgba(149, 59, 57, 1);
        box-shadow: 0 0 3px rgba(149, 59, 57, 1);
    }

    .edit-field a {
        color: #303032;
    }

.chars-counter {
    display: none;
    color: white;
    background-color: #74B9F0;
    padding: 0 10px;
    width: auto;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    margin: 0;
    -webkit-border-radius: 5px 0px 3px 0px;
    -moz-border-radius: 5px 0px 3px 0px;
    border-radius: 5px 0px 3px 0px;
    text-align: center;
}

/*#endregion Edit field*/

/*#region Create explanation tooltip*/

.create-tip {
    position: absolute;
    left: 30px;
    font-size: 22px;
    font-family: 'BuxtonSketchRegular', sans-serif;
}

    .create-tip .create-tip-text-wrapper {
        position: absolute;
        right: -15px;
        top: 54px;
    }

    .create-tip .create-tip-text {
        -webkit-transform-origin: 100% 0;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
        white-space: nowrap;
        color: #666;
        letter-spacing: 0;
    }

    .create-tip .create-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        right: -70px;
        -moz-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
    }

/*#endregion Create entity tooltip*/

/*#region controls panel buttons*/

.header-toolbar-item-wrapper {
    display: inline-block;
    width: 42px;
    height: 29px;
    margin-left: 9px;
    margin-right: 15px;
    padding-top: 4px;
    text-align: center;
    -moz-border-radius: 18px / 18px;
    -webkit-border-radius: 18px / 18px;
    border-radius: 18px / 18px;
    -webkit-box-shadow: inset 0 3px 3px -3px #212121;
    -moz-box-shadow: inset 0 3px 3px -3px #212121;
    box-shadow: inset 0 3px 3px -3px #212121;
    background: #626262;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzYyNjI2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzdjN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #626262 1%, #7c7c7c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#626262), color-stop(100%,#7c7c7c));
    background: -webkit-linear-gradient(top, #626262 1%,#7c7c7c 100%);
    background: -ms-linear-gradient(top, #626262 1%,#7c7c7c 100%);
    background: linear-gradient(to bottom, #626262 1%,#7c7c7c 100%);
}

.ie9 .header-toolbar-item-wrapper {
    filter: none;
}

.header-toolbar-item-wrapper:hover {
    background: #4b4b4b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4b4b4b 0%, #717171 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#717171));
    background: -webkit-linear-gradient(top, #4b4b4b 0%,#717171 100%);
    background: -ms-linear-gradient(top, #4b4b4b 0%,#717171 100%);
    background: linear-gradient(to bottom, #4b4b4b 0%,#717171 100%);
}

.ie9 .header-toolbar-item-wrapper:hover {
    filter: none;
}

/************* Toolbar buttons***************/
.toolbar-unrelate {
    display: inline-block;
    height: 22px;
    width: 30px;
    vertical-align: top;
    background-image: url(images/middle-sized-icons-pack.png);
    background-repeat: no-repeat;
}

.toolbar-unrelate {
    background-position: 2px -395px;
}

/*#endregion controls panel buttons*/

/*#region OBJECTIVES-EXPERIENCES*/

.objectives-body,
.experiences {
    position: relative;
}

.objectives,
.experiences {
    margin: auto;
    max-width: 1158px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

/*#endregion OBJECTIVES-EXPERIENCES*/

/*#region EMPTY LIST*/

.add-new-item-tip {
    position: absolute;
    color: #666;
    font-size: 22px;
    font-family: 'BuxtonSketchRegular', sans-serif;
    white-space: nowrap;
}

    .add-new-item-tip .add-new-item-tip-text {
        position: absolute;
        left: 90px;
        top: 30px;
    }

    .add-new-item-tip .add-new-item-tip-arrow {
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        left: 30px;
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        background-image: url(images/typeQuestionTitleArrow.png);
    }

.objectives .add-new-item-tip .add-new-item-tip-text,
.experiences .add-new-item-tip .add-new-item-tip-text {
    left: 110px;
    top: 23px;
}

.experience .add-new-item-tip .add-new-item-tip-text {
    top: 25px;
    left: 95px;
    width: 300px;
    white-space: normal;
}

.objectives .add-new-item-tip .add-new-item-tip-arrow,
.experiences .add-new-item-tip .add-new-item-tip-arrow {
    top: 0;
    left: 50px;
}

.experience .add-new-item-tip .add-new-item-tip-arrow {
    top: 0;
    left: 30px;
}

.empty-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

    .empty-list-wrapper .empty-list {
        display: inline-block;
        line-height: 90px;
        background-image: url(images/emptyBox.png);
        background-position: left top;
        background-repeat: no-repeat;
    }

    .empty-list-wrapper .empty-list-text {
        margin-left: 100px;
        display: inline-block;
        font-family: Tahoma, sans-serif;
        font-size: 28px;
        color: #DCDCDC;
        letter-spacing: 0;
    }

.objectives .empty-list-wrapper,
.experiences .empty-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

    .objectives .empty-list-wrapper .empty-list,
    .experiences .empty-list-wrapper .empty-list {
        line-height: 75px;
        -moz-background-size: 75px;
        -webkit-background-size: 75px;
        background-size: 75px;
        margin-top: 70px;
    }

    .objectives .empty-list-wrapper .empty-list-text,
    .experiences .empty-list-wrapper .empty-list-text {
        font-size: 26px;
    }

.experience .empty-list-wrapper {
    margin-top: 120px;
}

/*#endregion EMPTY LIST*/

/*#region MEDIA CSS-STYLES*/

@media (max-width: 640px) {
    /*#region Create explanation tooltip*/
    .create-tip {
        right: 375px;
    }
    /*#endregion Create explanation tooltip*/
}

@media (max-width: 779px) {
    /*#region Page navigation elements */
    .nav-element-wrapper.previous {
        padding-right: 20px;
    }

    .nav-element-wrapper.next {
        padding-left: 20px;
    }
    /*#endregion Page navigation elements */
}

@media (max-width: 945px) {

    /*#region Form action buttons*/
    .form-actions .btn {
        float: right;
        clear: both;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }
    /*#endregion Form action buttons*/
}

@media (max-width: 960px) {
    /*#region Header*/
    .main-logo {
        width: 33px;
    }

    .module-400 .main-logo,
    .module-404 .main-logo {
        width: 165px;
    }

    /*#endregion Header*/
}

@media (max-width: 1130px) {
    /*#region EMPTY LIST*/
    .empty-list-wrapper {
        margin-top: 120px;
    }
    /*#endregion EMPTY LIST*/
}

@media (min-width: 1220px) {
    /*#region OBJECTIVES-EXPERIENCES*/
    .objectives,
    .experiences {
        max-width: 1202px;
    }

    .experiences-list-wrapper {
        max-width: 1202px;
    }
    /*#endregion OBJECTIVES-EXPERIENCES*/
}

@media (max-width: 1260px) {
    /*#region Create explanation tooltip*/
    .create-tip .create-tip-text-wrapper {
        max-width: 278px;
        min-width: 198px;
    }

    .create-tip .create-tip-text {
        white-space: normal;
    }
    /*#endregion Create explanation tooltip*/
}

@media (min-width: 880px) and (max-width: 1166px) {
    /*#region OBJECTIVES-EXPERIENCES*/
    .objectives,
    .experiences {
        max-width: 850px;
    }
    /*#endregion OBJECTIVES-EXPERIENCES*/

    .objectives-body .objectives-header {
        padding: 20px 0 0;
    }
}

/*#endregion MEDIA*/
