/*
 * easygenerator | Copyright 2013
 */

/*#region FONTS CONNECTIONS*/
@font-face {
    font-family: 'OpenSans';
    src: url('./font/opensans-regular.eot');
    src: url('./font/opensans-regular.svg#OpenSansRegular') format('svg'), url('./font/opensans-regular.eot?#iefix') format('embedded-opentype'), url('./font/opensans-regular.woff') format('woff'), url('./font/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('./font/opensans-semibold.eot');
    src: url('./font/opensans-semibold.svg#OpenSansSemibold') format('svg'), url('./font/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('./font/opensans-semibold.woff') format('woff'), url('./font/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('./font/opensans-italic.eot');
    src: url('./font/opensans-italic.svg#OpenSansItalic') format('svg'), url('./font/opensans-italic.eot?#iefix') format('embedded-opentype'), url('./font/opensans-italic.woff') format('woff'), url('./font/opensans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    src: url('./font/opensans-semibolditalic.eot');
    src: url('./font/opensans-semibolditalic.svg#OpenSansSemiboldItalic') format('svg'), url('./font/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'), url('./font/opensans-semibolditalic.woff') format('woff'), url('./font/opensans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BuxtonSketch';
    src: url('./font/buxtonsketch.eot');
    src: url('./font/buxtonsketch.svg#OpenSansRegular') format('svg'), url('./font/buxtonsketch.eot?#iefix') format('embedded-opentype'), url('./font/buxtonsketch.woff') format('woff'), url('./font/buxtonsketch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*#endregion FONTS CONNECTIONS*/

/*#region RESET CSS-STYLES IN FOREIGN BROWSERS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary, mark, audio, video {
    padding: 0;
    margin: 0;
    outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*#endregion RESET CSS-STYLES IN FOREIGN BROWSERS */

/*#region COMMON TAGS CSS-STYLES*/
html, body {
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

input[type="password"]::-ms-reveal {
    visibility: hidden;
}

input::-ms-clear {
    visibility: hidden;
}

:focus,
:active {
    outline: none;
}

a {
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:active {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

img:hover {
    -ms-opacity: 1;
    opacity: 1;
    filter: alpha(opacity = 100);
}

ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}

/*#endregion COMMON*/

/*#region COMMON CLASSES CSS-STYLES*/
.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.selectable {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.fixed-container {
    width: 100%;
    position: fixed;
    z-index: 200;
}

/*#endregion COMMON CLASSES CSS-STYLES*/

/*#region CHECKBOX */

.eg-checkbox {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    border: 1px solid #e6e6e6;
    vertical-align: middle;
}

    .eg-checkbox.checked {
        background: url(images/sprites.png) 2px -22px;
    }

.input-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*#endregion CHECKBOX*/

/*#region CURSOR*/
.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}
/*#endregion CURSOR*/
