/*
 * easygenerator | Copyright 2013
 */

/*===================================
RESET CSS-STYLES IN FOREIGN BROWSERS 
===================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    margin: 0;
    outline: 0;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/**
 * Disable the impact of paddings and borders on the dimensions of the elements.
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*===================================
COMMON TAGS CSS-STYLES
===================================*/
html, body {
    width: 100%;
}

/**
 * Default font styles. Font smoothing in Chrome.
 */
.wrapper {
    line-height: 1;
    font-family: Tahoma, sans-serif;
    font-size: 125%;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .wrapper > * {
        font-size: 85%;
        line-height: 1.3em;
    }

/**
 * Table
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Forms
 */
input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

/**
 * Links.
 */

a {
    outline: 0;
    text-decoration: none;
}

    a:hover,
    a:active {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

/**
 * Lists.
 */

ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}

/**
 * Images.
 */

img:hover {
    -ms-opacity: 1;
    opacity: 1;
    filter: alpha(opacity = 100);
}

/*===================================
COMMON CLASSES CSS-STYLES
===================================*/

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.inline {
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.hidden {
    visibility: hidden;
}

.nowrap {
    white-space: nowrap;
}

.unselectable,
.unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable,
.selectable * {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/**
 *  Framing for images
 */

.white-framing {
    display: inline-block;
    border: 4px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

    .white-framing img {
        border: 1px solid #f8f8f8;
        vertical-align: top;
    }
/**
 * curved shadow
 */

.shadow-bottom-curve {
    position: relative;
}

    .shadow-bottom-curve:before, .shadow-bottom-curve:after {
        content: "";
        position: absolute;
        height: 10px;
        top: 79%;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: -1;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -webkit-border-radius: 250px / 10px;
        -moz-border-radius: 250px / 10px;
        border-radius: 250px / 10px;
    }

/**
 * after-colon
 */

.after-colon:after {
    content: ':';
}

/**
 * messages
 */

.alert {
    min-width: 328px;
    padding: 6px 13px;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
}

.alert-content {
    margin-right: 30px;
}

.alert-info {
    border-color: #4dc0f8;
    background-color: #d4e6f2;
    color: #23485a;
    position: absolute;
    right: 5px;
    top: 45px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

    .alert-info .info-icon {
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-top: -2px;
        margin-right: 8px;
        vertical-align: middle;
        background-image: url(images/icons.png);
        background-position: 0 0;
    }

.alert .close {
    line-height: 16px;
    float: right;
    position: relative;
    right: 0;
    padding: 0;
    border: none;
    background: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/**
  * info-header (image, title, navigation)
  */

.page-header-wrapper {
    width: 100%;
    margin: 11px 0 15px;
}

/**
  * Page navigation elements
  */

.nav-element-wrapper {
    display: table-cell;
    width: 22px;
    vertical-align: middle;
}

    .nav-element-wrapper.previous {
        padding-right: 40px;
    }

    .nav-element-wrapper.next {
        padding-left: 40px;
    }

@media (max-width: 779px) {
    .nav-element-wrapper.previous {
        padding-right: 20px;
    }

    .nav-element-wrapper.next {
        padding-left: 20px;
    }
}

.nav-element-wrapper .nav-element {
    display: inline-block;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.nav-element {
    cursor: pointer;
}

    .nav-element:hover {
        opacity: 1;
    }

    .nav-element.disabled {
        opacity: 0.2;
        cursor: default;
    }

    .nav-element.prev-btn {
        height: 32px;
        width: 22px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-position: 0 -104px;
    }

    .nav-element.next-btn {
        height: 32px;
        width: 22px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-position: 0 -136px;
    }

/**
  *  Page info block
  */

.page-header {
    display: table-cell;
    width: 100%;
}

.page-header-image {
    float: left;
}

    .page-header-image .image-element {
        height: 84px;
        width: 164px;
        vertical-align: top;
    }

.page-header-info {
    -ms-word-break: break-all;
    word-break: break-all;
}

h2.page-header-title {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/**
  *    List of page items
  */

.content-list-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #E1E1E1;
    background-color: #fff;
}

.list-section-header {
    height: 56px;
    position: relative;
    z-index: 0;
    margin-bottom: 15px;
    border: 1px solid #E1E1E1;
}

.list-section-header-inner {
    height: 100%;
    line-height: 54px;
    padding-left: 16px;
    background-color: #F5F5F5;
    cursor: default;
    border-left: 10px solid #f36c4f;
}

.list-section-header-icon {
    height: 100%;
    width: 40px;
    float: left;
}

    .list-section-header-icon > i {
        display: block;
        width: 27px;
        height: 27px;
        position: relative;
        top: 50%;
        margin-top: -14px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-repeat: no-repeat;
    }

    .list-section-header-icon .explanation-icon {
        background-position: center -195px;
    }

.list-section-header-title {
    height: 100%;
    line-height: 54px;
    float: left;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
}

.content-list {
    list-style: none outside none;
}

.content-list-item {
    height: 120px;
    border: 1px solid #E1E1E1;
}

    .content-list-item.selected {
        background-color: #f5f5f5;
    }

    .content-list-item + .content-list-item {
        margin-top: -1px;
    }

    .content-list-item .hover-indicator {
        float: left;
        height: 100%;
        width: 10px;
    }

    .content-list-item:hover .hover-indicator {
        background-color: #f26c4f;
    }

    .content-list-item .logo-wrapper {
        float: left;
        height: 100px;
        width: 190px;
        margin: 8px 10px;
        position: relative;
    }

.logo-wrapper .logo {
    height: 100%;
    width: 100%;
}

.item-options {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #cecece;
    text-align: center;
    font-size: 12px;
}


.content-list-item:hover .item-options {
    display: block;
}

.item-options .item-option {
    position: relative;
    float: left;
    padding: 13px 0;
    width: 49%;
    height: 100%;
}

    .item-options .item-option:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

.item-option.select .action-img.unchecked {
    background-position: 0 0;
}

.item-option.select .action-img.checked {
    background-position: 0 -34px;
}

.item-option.open,
.item-option.edit {
    cursor: pointer;
}

    .item-option.open .action-img {
        background-position: 0 -102px;
    }

    .item-option.edit .action-img {
        background-position: 0 -68px;
    }

.item-options .separator {
    height: 100%;
    width: 2%;
    float: left;
    background-color: #e0e0e0;
    background-color: rgba(224, 224, 224, 0.5);
}

.item-option .action-img {
    width: 34px;
    height: 34px;
    background-image: url(images/small-options-icons.png);
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content-list-item .text-block {
    height: 100%;
    line-height: 1.4;
    margin-left: 215px;
    padding: 10px;
    color: #666;
    font-size: 13px;
    font-family: Arial, sans-serif;
    -ms-word-break: break-all;
    word-break: break-all;
    min-height: 40px;
}

    .content-list-item .text-block .editarea-editable-text {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        -ms-resize: none;
        resize: none;
        outline: none;
        overflow-y: hidden;
        background-color: transparent;
        color: #666;
        font-size: 14px;
    }

    .content-list-item .text-block:hover > .editarea {
        border: 1px solid #e1e1e1;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .content-list-item .text-block.active > .editarea {
        border: 1px solid rgba(68, 192, 252, 0.4);
        -webkit-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
        -moz-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
        box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    }

    .content-list-item .text-block.error > .editarea {
        border: 1px solid rgba(242, 108, 79, 0.4);
        -webkit-box-shadow: 0 0 3px rgba(242, 108, 79, 1);
        -moz-box-shadow: 0 0 3px rgba(242, 108, 79, 1);
        box-shadow: 0 0 3px rgba(242, 108, 79, 1);
    }

/* edit field */

.edit-field {
    position: relative;
}

    .edit-field .text-block .editarea-editable-text {
        width: 100%;
        border: 1px solid transparent;
        -ms-resize: none;
        resize: none;
        padding: 10px 15px 25px 15px;
        vertical-align: top;
        outline: none;
        overflow-y: hidden;
        background-color: transparent;
        color: #666;
        font-size: 14px;
    }

    .edit-field .text-block.bordered > .editarea {
        background-color: white;
        border: 1px solid #e1e1e1;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .edit-field .text-block:hover > .editarea {
        border: 1px solid #e1e1e1;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .edit-field .text-block.active > .editarea {
        background-color: white;
        border: 1px solid rgba(68, 192, 252, 0.4);
        -webkit-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
        -moz-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
        box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    }

    .edit-field .text-block.error > .editarea {
        border: 1px solid rgba(242, 108, 79, 0.4);
        -webkit-box-shadow: 0 0 3px rgba(242, 108, 79, 1);
        -moz-box-shadow: 0 0 3px rgba(242, 108, 79, 1);
        box-shadow: 0 0 3px rgba(242, 108, 79, 1);
    }

    .edit-field .text-block.active .chars-counter {
        display: block;
    }

    .edit-field .text-block .chars-counter.error {
        background-color: #f26c4f;
        display: block;
    }

.chars-counter {
    display: none;
    color: white;
    background-color: #6DCEFC;
    padding: 0 5px;
    width: auto;
    height: 17px;
    line-height: 17px;
    position: absolute;
    bottom: 5px;
    right: 4px;
    font-size: 12px;
    margin-top: -22px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
}


/*----------Error pages------------*/

.error-page {
    margin: 100px auto;
    min-width: 500px;
    max-width: 1000px;
    padding: 15px;
}

/*----------End Error pages--------*/



/*#region Form actions*/

.form-actions {
    float: right;
    padding-top: 25px;
    margin-left: 225px;
    letter-spacing: normal;
}

    .form-actions .btn {
        float: left;
    }

        .form-actions .btn .btn-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .form-actions .btn .btn-img {
            display: inline-block;
            vertical-align: middle;
            background-image: url(images/create-actions-sprite.png);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }

        .form-actions .btn.saveAndOpen .btn-img {
            background-position: left -25px;
        }

        .form-actions .btn.saveAndNew .btn-img {
            background-position: left 0;
        }


@media (max-width: 945px) {
    .form-actions .btn {
        float: right;
        clear: both;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }
}


/*#endregion */

.prewrap {
    white-space: pre-wrap;
}