/*#region COURSES LIST STYLES*/

.overflow-wrapper {
    position: relative;
    overflow: hidden;
}

.course-actions-panel {
    display: none;
    height: 30px;
    min-width: 30px;
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -15px;
    padding-right: 10px;
    text-align: right;
}

.main-content-list-item:hover .course-actions-panel {
    display: block;
}

.course-action-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 30px;
}

.course-actions-panel .course-action-btn {
    background-color: white;
    border: 1px solid #b7b7b7;
}

.course-action-btn.publish-btn:before {
    content: '';
    display: block;
    height: 18px;
    width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAATCAYAAAB2pebxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTk5OEVGNkVENDNGMTFFMzhBQzhFQzNBNEM4NjJFQzEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTk5OEVGNkZENDNGMTFFMzhBQzhFQzNBNEM4NjJFQzEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBOTk4RUY2Q0Q0M0YxMUUzOEFDOEVDM0E0Qzg2MkVDMSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBOTk4RUY2REQ0M0YxMUUzOEFDOEVDM0E0Qzg2MkVDMSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlQvkUYAAAHjSURBVHjarNNPSFRRFMfxOzOPgvxTJpJQEAzUIlCR3IgbN0pudeGqRSvJFhEJM5tAqMUsqoUg4SpcRCSIgi4iFYIQaxOp+KcGFDSKgiKzKCubvmf4XbhNT1cd+PDmz33nnXvueYlMJuOCSOIIGlCPSnzFCzzHFgrhDblczkXu72jHJdShHCns4osSDWIqWJ+wpD6JLb6KHqTdv1GNkziDIdxWRQewY0nMBVxBrW6yp26iESeCZKe07hMe4KfvwWmcV4I5vMQwejEbU9Vx/Zf2/bEq2vAGNzGjxr5CB5pikuyowS3I+yTNeIZRvFUjraldOp0wVjCiCs7iHr4lVZ5Tdtvjb3zGHVzEfT3dYlUnlNf2o2w2W6wkqaOtVA+e6khfy5qauaWtfrSnq+KEb6ydQiv6cRnHSobvA94pwV3U4DGW8MMvmvZf9Me2PluVZdjAYTzCOV1ty9dUUTHJQ23BEk3ivX6vUo8OYUJT7HS1dQfxyyexE7mFJzo2O/8KPc0a2qeJLZ3gPheUvKsSyzVEDZoXa+o8rmMMC0GSbiyGSXyMY13T26ut2Il0xgxcSn2ySr9HwdtolnEDAziqbZXFJIn8e1O8uVAouLiwIQqirmQ79XttZ79Y9IMVF0n3H+KPAAMACEV4WSrIcVQAAAAASUVORK5CYII=);
}

.course-action-btn.publish-btn:hover {
    border-color: #47abac;
    background-color: #4cc0c1;
}

    .course-action-btn.publish-btn:hover:before {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAATCAYAAAB2pebxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzYxMTZBMEZENDNGMTFFM0I4NzVEQ0I5NkI2RjI2MkUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzYxMTZBMTBENDNGMTFFM0I4NzVEQ0I5NkI2RjI2MkUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpDNjExNkEwREQ0M0YxMUUzQjg3NURDQjk2QjZGMjYyRSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpDNjExNkEwRUQ0M0YxMUUzQjg3NURDQjk2QjZGMjYyRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pu2vO74AAAHNSURBVHjarNPPSxRxGMfxndmlJNfWlFJIOtRNZDuUB7GrUVc7e8oOeSqM/oTooEfxLwgjCCQP4sGLUtShXyvYsmIKLUkixYa6uyzb9H6Gzxe+rVMH6YHXzs7sd5555vs8G0RRlPIiRCcuI4/TOMAHvEMFf9wQhyXx3MACtrGHHzra+TxGWtYHcRE6SeMhNqN/RwmT7macdEkyuIMdb/F7vMCXhERl3EbWT9KPFS14hSLuoQ9P/1LRW+RxwpJk2JYRfMUUlrWxJdzE1dTRqGuDh7FhFyzJEN7gOXbQRBa31B0/PuGZOnQFT1C1lp7XAsvewC/8xCzuYk5PtyhiRhX0qoj4wxJd11Nf4jX2UZbPuK+H2Kt+t6er4sDNiW1eVRtmM3LJm4MQF/S9F4s6nsEjdLjujKOiJI9xTjdl3CLkUNCags7TWhMnsVYuoY5rXgVn0YZT3gi4WNX1uOJQHZnGqtp2ER3aYNvQB+hu6VK3rscReH/AUUxgV/Nim/oR3zCAgpfE/pxr7iTj/TCPLYwpWUMdGU0YuDRyqrTmKgnUakvarnZ36bVswHpaKhnEul655iqJ1PemstssbHs39SSM/mHSnhw7wtR/iN8CDAAzie49eS8qdgAAAABJRU5ErkJggg==);
    }

.module-courses .course-action-header {
    display: none;
}

/*#endregion COURSES LIST STYLES*/

@media (max-width: 1100px) and (min-width: 880px) {

    .modules-courses .content-section {
        max-width: 850px;
        margin-right: 0;
    }
}
