
.loader-container {
    position: relative;
}

.circular-loader {
    display: block;
    position: absolute;
    top: 50%;
}

    .circular-loader.align-center {
        left: 50%;
    }

.circular-loader-item {
    display: block;
    position: absolute;
    border-radius: 50%;
    -moz-animation: bounceCircle 0.48s linear infinite;
    -webkit-animation: bounceCircle 0.48s linear infinite;
    animation: bounceCircle 0.48s linear infinite;
}

/*====================
    LOADER COLOR
===================== */

.circular-loader.black .circular-loader-item {
    background-color: black;
}

.circular-loader.white .circular-loader-item {
    background-color: white;
}

.circular-loader.grey .circular-loader-item {
    background-color: #545654;
}

.circular-loader.orange .circular-loader-item {
    background-color: #fcae4c;
}

/*====================
    LOADER SIZE
===================== */

/*16x16 size*/

.x16 {
    height: 16px;
    width: 16px;
    margin-top: -8px;
}

    .x16.align-center {
        margin-left: -8px;
    }

    .x16 .circular-loader-item {
        height: 4px;
        width: 4px;
    }

        .x16 .circular-loader-item:nth-child(1) {
            left: 0;
            top: 6px;
        }

        .x16 .circular-loader-item:nth-child(2) {
            left: 2px;
            top: 2px;
        }

        .x16 .circular-loader-item:nth-child(3) {
            top: 0;
            left: 6px;
        }

        .x16 .circular-loader-item:nth-child(4) {
            right: 2px;
            top: 2px;
        }

        .x16 .circular-loader-item:nth-child(5) {
            right: 0;
            top: 6px;
        }

        .x16 .circular-loader-item:nth-child(6) {
            right: 2px;
            bottom: 2px;
        }

        .x16 .circular-loader-item:nth-child(7) {
            left: 6px;
            bottom: 0;
        }

        .x16 .circular-loader-item:nth-child(8) {
            left: 2px;
            bottom: 2px;
        }

/*32x32 size*/

.x32 {
    height: 32px;
    width: 32px;
    margin-top: -16px;
}

    .x32.align-center {
        margin-left: -16px;
    }

    .x32 .circular-loader-item {
        height: 8px;
        width: 8px;
    }

        .x32 .circular-loader-item:nth-child(1) {
            left: 0;
            top: 12px;
        }

        .x32 .circular-loader-item:nth-child(2) {
            left: 3px;
            top: 3px;
        }

        .x32 .circular-loader-item:nth-child(3) {
            top: 0;
            left: 12px;
        }

        .x32 .circular-loader-item:nth-child(4) {
            right: 3px;
            top: 3px;
        }

        .x32 .circular-loader-item:nth-child(5) {
            right: 0;
            top: 12px;
        }

        .x32 .circular-loader-item:nth-child(6) {
            right: 3px;
            bottom: 3px;
        }

        .x32 .circular-loader-item:nth-child(7) {
            left: 12px;
            bottom: 0;
        }

        .x32 .circular-loader-item:nth-child(8) {
            left: 3px;
            bottom: 3px;
        }

/*====================
    LOADER ANIMATION
===================== */

.circular-loader-item:nth-child(1) {
    -moz-animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.circular-loader-item:nth-child(2) {
    -moz-animation-delay: -0.54s;
    -webkit-animation-delay: -0.54s;
    animation-delay: -0.54s;
}

.circular-loader-item:nth-child(3) {
    -moz-animation-delay: -0.48s;
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
}

.circular-loader-item:nth-child(4) {
    -moz-animation-delay: -0.42s;
    -webkit-animation-delay: -0.42s;
    animation-delay: -0.42s;
}

.circular-loader-item:nth-child(5) {
    -moz-animation-delay: -0.36s;
    -webkit-animation-delay: -0.36s;
    animation-delay: -0.36s;
}

.circular-loader-item:nth-child(6) {
    -moz-animation-delay: -0.3s;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.circular-loader-item:nth-child(7) {
    -moz-animation-delay: -0.24s;
    -webkit-animation-delay: -0.24s;
    animation-delay: -0.24s;
}

.circular-loader-item:nth-child(8) {
    -moz-animation-delay: -0.18s;
    -webkit-animation-delay: -0.18s;
    animation-delay: -0.18s;
}

@-webkit-keyframes bounceCircle {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(.3);
    }
}

@-moz-keyframes bounceCircle {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(.3);
    }
}

@keyframes bounceCircle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.3);
    }
}
