.design.left-side-bar {
  width: 300px;
  overflow: auto;
  background: #e4eaed;
  display: -webkit-flex;
  display: flex;
}
@media screen and (max-width: 1630px) {
  .design.left-side-bar + * {
    padding-left: 300px;
  }
}
.design.left-side-bar .design-bar-navigation {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 70px;
  background: #fff;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item {
  width: 100%;
  height: 80px;
  position: relative;
  padding-top: 12px;
  color: #7c858e;
  font: 13px 'OpenSans';
  cursor: pointer;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item .navigation-item-thumbnail {
  height: 34px;
  width: 34px;
  margin: 0 auto 8px;
  background-image: url(../Content/images/sprites_64.png);
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item .navigation-item-thumbnail.template-thumbnail {
  background-position: -84px -352px;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item .navigation-item-thumbnail.settings-thumbnail {
  background-position: -222px -352px;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item:hover,
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected {
  color: #42515f;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item:hover .navigation-item-thumbnail.template-thumbnail,
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected .navigation-item-thumbnail.template-thumbnail {
  background-position: -153px -352px;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item:hover .navigation-item-thumbnail.settings-thumbnail,
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected .navigation-item-thumbnail.settings-thumbnail {
  background-position: -291px -352px;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected {
  background: #e4eaed;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected .border-radius-effect-top {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: #e4eaed;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected .border-radius-effect-top:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected .border-radius-effect-bottom {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background: #e4eaed;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item.selected .border-radius-effect-bottom:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
}
.design.left-side-bar .design-bar-navigation .design-bar-navigation-list .design-bar-navigation-item .navigation-item-title {
  text-align: center;
}
.design.left-side-bar .design-bar-content {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.design.left-side-bar .design-bar-content .templates-section {
  width: 100%;
  overflow: auto;
  padding: 20px 15px 0;
}
.design.left-side-bar .design-bar-content .templates-section .templates-section-header {
  padding-bottom: 12px;
}
.design.left-side-bar .design-bar-content .templates-section .templates-section-header .template-list-title {
  display: inline-block;
  vertical-align: top;
  font: 15px 'OpenSans-Semibold';
  font-weight: normal;
  color: #42515f;
}
.design.left-side-bar .design-bar-content .templates-section .templates-section-header .tooltip-icon {
  vertical-align: top;
}
.design.left-side-bar .design-bar-content .templates-section .template-list {
  list-style: none;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item {
  margin-bottom: 16px;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item .template-title {
  margin-bottom: 8px;
  font: 13px 'OpenSans-Semibold';
  font-weight: normal;
  color: #42515f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item .template-thumbnail-container {
  position: relative;
  width: 100%;
  height: 180px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item .template-thumbnail-container:hover {
  -webkit-box-shadow: 0 0 3px 2px #65bd77;
  box-shadow: 0 0 3px 2px #65bd77;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item .template-thumbnail-container .template-thumbnail {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item .template-thumbnail-container .template-thumbnail.transparent {
  opacity: 0;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item.marked-as-new .template-thumbnail-container:after {
  content: '';
  position: absolute;
  top: -4px;
  right: -4px;
  width: 71px;
  height: 72px;
  background: url('/Content/images/newTemplate.png') no-repeat;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item.selected .template-thumbnail-container {
  -webkit-box-shadow: 0 0 3px 2px #65bd77;
  box-shadow: 0 0 3px 2px #65bd77;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item.selected .template-thumbnail-container .template-selected-icon-default {
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding-top: 4px;
  padding-left: 4px;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item.selected .template-thumbnail-container .template-selected-icon-big {
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-top: 7px;
  padding-left: 7px;
}
@-webkit-keyframes bounce {
  50% {
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding-top: 7px;
    padding-left: 7px;
  }
}
@keyframes bounce {
  50% {
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding-top: 7px;
    padding-left: 7px;
  }
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item.selected .template-thumbnail-container .template-selected-icon {
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  position: absolute;
  background: #6ab97a;
  padding-top: 4px;
  padding-left: 4px;
  -webkit-animation: bounce 0.4s linear;
  animation: bounce 0.4s linear;
}
.design.left-side-bar .design-bar-content .templates-section .template-list .template-list-item.selected .template-thumbnail-container .template-selected-icon:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../Content/images/sprites_16.png) -207px -104px;
}
.design.left-side-bar .design-bar-content .template-settings {
  width: 100%;
  height: 100%;
}
.design.left-side-bar .design-bar-content .unavailable-settings {
  display: inline-block;
  padding: 10px;
  color: #42515f;
}
