.drag-and-drop-designer-title {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin: 20px 0 10px 0;
}

.drag-and-drop-designer-wrapper {
    background-color: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.drag-and-drop-designer {
    position: relative;
    margin-right: 15px;
}

.drag-and-drop-designer-background-wrapper {
    position: relative;
    border: 3px solid #dadddf;
    overflow: auto;
}

.drag-and-drop-designer-background-loader-wrapper {
    min-height: 90px;
}

.drag-and-drop-designer-background-loader {
    width: 100px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -30px;
    text-align: center;
}

.drag-and-drop-designer-background-loader-spinner {
    position: relative;
    height: 30px;
}

.drag-and-drop-designer-background-loader-text {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    position: relative;
    padding-top: 10px;
    color: #777;
    font-size: 12px;
}

.drag-and-drop-designer-background {
    position: relative;
}

.upload-background-image {
    height: 32px;
    width: 32px;
    position: absolute;
    top: -16px;
    right: -16px;
    background: white;
    border: 1px solid #dadddf;
    border-radius: 3px;
    cursor: pointer;
}

    .upload-background-image:hover {
        box-shadow: 0 0 3px #cdcdcd;
    }

    .upload-background-image:after {
        content: '';
        display: block;
        height: 13px;
        width: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -8px;
        background-image: url('images/sprites_16.png');
        background-position: -170px -23px;
    }

.info-tooltip.browse-image {
    width: 100px;
    margin-left: -50px;
}

.drag-and-drop-text-title {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin: 20px 0 10px 0;
}

.drag-and-drop-designer-draggable {
    display: inline-block;
    cursor: move;
    border: 2px solid #dadddf;
    background-color: #fff;
    border-radius: 3px;
    color: #3C3C3C;
    padding: 8px 15px;
    position: absolute;
    left: 0;
    top: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    max-width: 475px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropspot-text {
    margin-bottom: 10px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .dropspot-text > div {
        display: table-cell;
        vertical-align: middle;
    }

    .dropspot-text .editarea-editable-text {
        background-color: #fff;
        border: 1px solid #dddddd;
        padding: 8px 15px;
        color: #3c3c3c;
        border-radius: 3px;
        min-height: 38px;
    }

        .dropspot-text .editarea-editable-text:hover {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(232, 232, 232, 0.75) inset, 0 0 2px rgba(232, 232, 232, 0.2);
        }

        .dropspot-text .editarea-editable-text:focus {
            border-color: #5bc0de;
        }

.dropspot-text-delete-wrapper {
    width: 34px;
}

.dropspot-text-delete {
    display: block;
    height: 14px;
    width: 14px;
    top: -2px;
    left: 0;
    margin: 0 auto;
    background-image: url("../Content/images/sprites_16.png");
    background-position: -85px -22px;
}

    .dropspot-text-delete:hover {
        background-position: -106px -22px;
    }

    .dropspot-text-delete.disabled:hover {
        background-position: -85px -22px;
    }

.drag-and-drop-designer-empty {
    width: 100%;
    padding: 45px 0;
    border: 2px dashed #a5c0d2;
    text-align: center;
    color: #80a6c6;
    cursor: default;
}

.drag-and-drop-designer-empty-title {
    line-height: 1;
    font-family: 'OpenSans-Semibold';
    font-size: 18px;
    text-transform: uppercase;
}

.drag-and-drop-designer-empty-description {
    font-family: 'OpenSans';
    font-size: 14px;
    margin-top: 10px;
}

.browse-image-btn-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    border: 1px solid #dadddf;
    border-radius: 3px;
}

.browse-image-btn {
    min-width: 112px;
    padding: 12px 15px;
    margin: 0;
    background: #5bc0de;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

    .browse-image-btn:hover {
        background-color: #46b3d4;
    }

.browse-image-text {
    display: block;
    line-height: 1;
    color: white;
    font-size: 14px;
}

@media (max-width: 1350px) {

    .info-tooltip.browse-image {
        margin-left: -84px;
    }

        .info-tooltip.browse-image:after {
            margin-left: 29px;
        }
}
