.drag-and-drop-designer-title {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin: 20px 0 10px 0;
}

.drag-and-drop-designer-wrapper {
    background-color: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.drag-and-drop-designer {
    position: relative;
    margin-right: 15px;
}

.drag-and-drop-designer-background-wrapper {
    position: relative;
    border: 3px solid #dadddf;
    overflow: auto;
}

.drag-and-drop-designer-background-browse {
    position: absolute;
    content: "";
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    background: url("http://localhost:666/Content/images/browse.png") 0 0 no-repeat;
}

.drag-and-drop-text-title {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    text-transform: uppercase;
    color: #999999;
    margin: 20px 0 10px 0;
}

.drag-and-drop-designer-draggable {
    display: inline-block;
    cursor: move;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 3px;
    color: #3C3C3C;
    padding: 8px 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.dropspot-text {
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

    .dropspot-text > div {
        display: table-cell;
        vertical-align: middle;
    }

    .dropspot-text .editarea-editable-text {
        background-color: #fff;
        border: 1px solid #dddddd;
        padding: 8px 15px;
        color: #3c3c3c;
        border-radius: 3px;
    }

        .dropspot-text .editarea-editable-text:hover {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 1px rgba(232, 232, 232, 0.75) inset, 0 0 2px rgba(232, 232, 232, 0.2);
        }

        .dropspot-text .editarea-editable-text:focus {
            border-color: #5bc0de;
        }

.dropspot-text-delete-wrapper {
    width: 26px;
}

.dropspot-text-delete {
    display: block;
    height: 14px;
    width: 14px;
    top: -2px;
    left: 0;
    margin: 0 auto;
    background-image: url("http://localhost:666/Content/images/sprites_16.png");
    background-position: -85px -22px;
}

    .dropspot-text-delete:hover {
        background-position: -106px -22px;
    }

    .dropspot-text-delete.disabled:hover {
        background-position: -85px -22px;
    }

.drag-and-drop-designer-empty {
    width: 100%;
    height: 200px;
    border: 3px dashed #dadddf;
    text-align: center;
    color: #999999;
}

.drag-and-drop-designer-empty-title {
    font-family: 'OpenSans-Semibold';
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 50px;
}

.drag-and-drop-designer-empty-description {
    font-family: 'OpenSans';
    font-size: 14px;
    margin-top: 10px;
}

.drag-and-drop-designer-empty-upload-wrapper {
    margin-top: 10px;
}
