.main-nav {
    display: table;
    width: 100%;
    margin: 12px 0 7px;
}

.main-nav-list {
    display: table-row;
}

.main-nav-item {
    display: table-cell;
    vertical-align: top;
    cursor: default;
}

.nav-control.left {
    text-align: left;
}

.nav-control.right {
    width: 203px;
    text-align: right;
}

.main-nav-item.right .nav-control {
    float: right;
}

.main-nav-separator {
    height: 57px;
    float: right;
    width: 1px;
    background: #e6e6e6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2FiYWJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e6e6e6 0%, #ababab 50%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(50%,#ababab), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top, #e6e6e6 0%,#ababab 50%,#e6e6e6 100%);
    background: -o-linear-gradient(top, #e6e6e6 0%,#ababab 50%,#e6e6e6 100%);
    background: -ms-linear-gradient(top, #e6e6e6 0%,#ababab 50%,#e6e6e6 100%);
    background: linear-gradient(to bottom, #e6e6e6 0%,#ababab 50%,#e6e6e6 100%);
    filter: none;
}

.nav-control.rebuild {
    width: 203px;
}

.nav-control.build-experience {
    width: auto;
}

.nav-control > * {
    display: inline-block;
}

.nav-control-inner {
    width: 100%;
}

    .nav-control-inner.disabled {
        opacity: 0.25;
    }

    .nav-control-inner.rebuild:before {
        content: '';
        display: block;
        height: 57px;
        float: left;
        width: 57px;
        background-image: url(images/nav-icons.png);
        background-position: 0 -114px;
    }

/*#region Experience statuses*/

.experience-build-progress-status {
    float: right;
    width: auto;
    text-align: right;
    opacity: 0.6;
}

    .experience-build-progress-status > * {
        display: inline-block;
        cursor: pointer;
    }

.experience-build-progress-status-item {
    vertical-align: top;
}

    .experience-build-progress-status-item.disabled {
        opacity: 0.25;
    }

    .experience-build-progress-status-item.rebuild {
        padding-right: 9px;
        width: auto;
    }

    .experience-build-progress-status-item.build {
        width: auto;
    }

    .experience-build-progress-status-item.failed {
        text-align: right;
    }

    .experience-build-progress-status-item.not-transparent {
        opacity: 1;
        cursor: default;
    }

.experience-build-status-text {
    color: #666;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 57px;
    cursor: default;
}

    .experience-build-status-text.rebuild {
        margin-left: 3px;
    }

.experience-build-status-image {
    display: inline-block;
    width: 57px;
    height: 57px;
    background: url('images/build-sprite.png') no-repeat top left;
}

.experience-build-status-image-not-started {
    background-position: 0 0;
}

.experience-build-status-image-re-build {
    background-position: 0 0;
    margin: 0 13px 0 0;
}

.experience-build-status-image-in-progress {
    background-image: url('images/buildprogress.gif');
}

.experience-build-status-image-complete {
    background-position: 0 -60px;
}

.experience-build-status-image-failed {
    background-position: 0 -119px;
}

.experience-build-progress-status-seperator {
    height: 57px;
    width: 1px;
    margin: 0 8px;
    background: #e6e6e6; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2FiYWJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e6e6e6 1%, #ababab 50%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e6e6e6), color-stop(50%,#ababab), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* W3C */
    filter: none;
    display: inline-block;
}

/*#endregion Experience statuses*/

.experience-image {
    width: 200px;
    height: 115px;
    vertical-align: top;
}

.experience-header-title {
    margin-left: 264px;
}

.experience-related-objectives-header {
    display: inline-block;
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
    color: #666;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 18px;
}

    .experience-related-objectives-header > * {
        display: inline-block;
        vertical-align: middle;
    }

    .experience-related-objectives-header hr {
        width: 100%;
    }

.experiences-header-finish-link {
    width: 64px;
    height: 64px;
    background: url('images/finish.png') 0 0;
}

    .experiences-header-finish-link:hover {
        background-position: 0 64px;
    }

.experience .content-list-item .text-block {
    margin-right: 37px;
}

.li-related-objective-question-count-wrapper {
    float: right;
    margin: 10px;
    color: #666;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 17px;
}

.li-related-objective-question-count-image {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('images/middle-sized-icons-pack.png');
    background-position: center -303px;
    vertical-align: top;
}

.li-related-objective-question-count-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}

@media (max-width: 800px) {

    .main-nav-item {
        width: 50%;
    }

    .main-nav-separator {
        display: none;
    }

    .nav-control.left {
        text-align: right;
    }

    .nav-control.rebuild {
        margin-top: 10px;
    }

    .experience .main-nav-item.right .nav-control,
    .experience .main-nav-item.right .nav-control.rebuild {
        width: 100%;
    }

    .experience .nav-control-inner.rebuild:before {
        float: right;
    }
}

.experience-text-wrapper .edit-field .text-block .editarea-editable-text {
    min-height: 124px;
}

.experience-date-block-text {
    margin-top: 1px;
}

.experience-date-block-text.not-built {
    line-height: 16px;
}

/*#region Info button*/

.experience .info-btn-holder {
    line-height: 123px;
    height: 123px;
}

.experience .info-btn-wrapper {
    display: inline-block;
    letter-spacing: normal;
    height: 32px;
    width: 32px;
    position: relative;
    margin: 0 12px;
    vertical-align: middle;
}

.experience .info-btn {
    height: 32px;
    width: 32px;
    border: 1px solid #dcdcdc;
    background-color: #ebebeb;
    background-image: url(images/info-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

/*#endregion Info button*/

/*#region Info popup*/

.experience .info-popup-wrapper {
    display: none;
    height: 133px;
    width: 247px;
    position: absolute;
    top: -50px;
    right: 34px;
    z-index: 30;
}

.experience .value-column {
    width: 40%;
}

.experience .condition-date-time-text {
    margin-bottom: 5px;
}

.experience .info-btn-wrapper:hover .info-popup-wrapper {
    display: block;
}

.experience-info-popup {
    height: 100%;
    width: 240px;
    position: relative;
    line-height: normal;
    border: 1px solid #bdbebf;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f8',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.ie9 .experience-info-popup {
    filter: none;
}

.experience-info-table {
    width: 100%;
    height: 100%;
    color: #666;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    table-layout: fixed;
    margin-top: 2px;
}

.experience-info-table.not-built {
    margin-top: 10px;
}

.experience-info-popup-triangle-wrapper {
    position: absolute;
    width: 8px;
    height: 16px;
    top: 50%;
    right: -8px;
    margin-top: -8px;
    overflow: hidden;
}

.experience-info-popup-triangle {
    width: 16px;
    height: 16px;
    margin-left: -11px;
    background-color: #fbfbfc;
    border: 1px solid #bdbebf;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

/*#endregion Info popup*/

.experience .empty-list-wrapper .empty-list-text {
    font-size: 29px;
}

.experience .entity-info-popup {
    height: 124px;
}

.experience .entity-info-popup-triangle-wrapper {
    margin-top: -26px;
}

.experience .entity-info-popup-item {
    margin-top: 0;
}

/*#region Hint popup*/

.experience .hint-popup
{
    position: relative;
    width: 270px;
    border: 1px solid #bdbebf;
    border-radius: 3px;
    background-color: #fefefe;
    padding: 15px 13px;
    -webkit-box-shadow: 0 0 3px 2px #f1f1f1;
    box-shadow: 0 0 3px 2px #f1f1f1;
    z-index: 10;
}

    .experience .hint-popup-close {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 6px;
        height: 6px;
        background: url(images/hint-popup.png) 0 -31px no-repeat;
    }

    .experience .hint-popup-light-image
    {
        position: absolute;
        width: 17px;
        height: 27px;
        background: url(images/hint-popup.png) 0 0 no-repeat;
    }

    .experience .hint-popup-text {
        font-family: Arial;
        font-size: 13px;
        color: #666666;
        margin-left: 30px;
        line-height: 15px;
        display: inline-block;
        text-shadow: 0px 0px #bebebe;
    }

    .experience .hint-popup-triangle-wrapper {
        position: absolute;
        left: 13px;
        bottom: -8px;
        width: 15px;
        height: 8px;
        overflow: hidden;
    }

    .experience .hint-popup-triangle
    {
        width: 16px;
        height: 16px;
        margin-top: -11px;
        background-color: #fefefe;
        border: 1px solid #bdbebf;
        -webkit-box-shadow: 0 0 3px 1px #f1f1f1;
        box-shadow: 0 0 3px 1px #f1f1f1;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

.experience .hint-popup-holder {
    position: relative;
}

.experience .hint-popup-holder .hint-popup {
    position: absolute;
    bottom: 0;
    left: 93px;
}

/*#endregion Hint popup*/

/*#region Template selector*/

.experience .entity-actions {
    width: 174px;
    margin-left: 56px;
    position: absolute;
    top: 97px;
}

.experience-template-selector {
    width: 100%;
}

/*#endregion Template selector*/

/*#endregion NOTIFICATION*/

/*#region HEADER TOOLBAR*/
.experience-related-objectives-header .header-toolbar-item-wrapper {
    width: 41px;
    height: 29px;
    margin-right: 10px;
    margin-left: 9px;
}

/************* Toolbar buttons***************/
.toolbar-unrelate {
    display: inline-block;
    height: 22px;
    width: 30px;
    margin-top: 2px;
    margin-left: 3px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: 0 -395px;
    background-repeat: no-repeat;
}


/*#endregion HEADER TOOLBAR*/
