.main-nav {
    display: table;
    width: 100%;
    margin: 12px 0 7px;
}

.main-nav-list {
    display: table-row;
}

.main-nav-item {
    display: table-cell;
    vertical-align: top;
}

.nav-control.left {
    text-align: left;
}

.nav-control.right {
    width: 200px;
    text-align: right;
}

.main-nav-item.right .nav-control {
    float: right;
}

.main-nav-separator {
    height: 57px;
    float: right;
    width: 1px;
    background: #e6e6e6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e6e6e6 1%, #ababab 50%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e6e6e6), color-stop(50%,#ababab), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%);
    background: -o-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%);
    background: -ms-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%);
    background: linear-gradient(to bottom, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%);
    filter: none;
}

.nav-control.rebuild {
    width: 203px;
}

.nav-control.build-experience {
    width: auto;
}

.nav-control > * {
    display: inline-block;
}

.nav-control-inner {
    width: 100%;
}

.nav-control-inner.disabled {
    opacity: 0.25;
}

.nav-control-inner.rebuild {
    cursor: default;
}

.nav-control-inner.rebuild:before {
    content: '';
    display: block;
    height: 57px;
    float: left;
    width: 57px;
    background-image: url(images/nav-icons.png);
    background-position: 0 -114px;
}

.experience-build-progress-status {
    float: right;
    width: auto;
    text-align: right;
    opacity: 0.6;
}

    .experience-build-progress-status > * {
        display: inline-block;
        cursor: pointer;
    }

.experience-build-progress-status-item {
    opacity: 0.75;
    vertical-align: top;
}

    .experience-build-progress-status-item:hover {
        opacity: 1;
    }

    .experience-build-progress-status-item.disabled {
        opacity: 0.25;
    }

    .experience-build-progress-status-item.rebuild {
        padding-right: 9px;
        width: auto;
    }

    .experience-build-progress-status-item.build {
        width: auto;
    }

    .experience-build-progress-status-item.failed {
        text-align: right;
    }

    .experience-build-progress-status-item.not-transparent {
        opacity: 1;
        cursor: default;
    }

.experience-build-status-text {
    color: #666666;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 57px;
    cursor: default;
}

    .experience-build-status-text.rebuild {
        margin-left: 3px;
    }

.experience-build-status-image {
    display: inline-block;
    margin-left: 13px;
    width: 57px;
    height: 57px;
    background: url('images/build-sprite.png') no-repeat top left;
}

.experience-build-status-image-not-started {
    background-position: 0 0;
}

.experience-build-status-image-re-build {
    background-position: 0 0;
    margin: 0 13px 0 0;
}

.experience-build-status-image-in-progress {
    background-image: url('images/buildprogress.gif');
}

.experience-build-status-image-complete {
    background-position: 0 -60px;
}

.experience-build-status-image-failed {
    background-position: 0 -119px;
}

.experience-build-progress-status-seperator {
    height: 57px;
    width: 1px;
    margin: 0 8px;
    background: #e6e6e6; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2FiYWJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e6e6e6 1%, #ababab 50%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e6e6e6), color-stop(50%,#ababab), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e6e6e6 1%,#ababab 50%,#e6e6e6 100%); /* W3C */
    filter: none;
    display: inline-block;
}

.experience-image {
    width: 270px;
    height: 158px;
    vertical-align: top;
}

.experience-header-title {
    margin-left: 280px;
    padding: 15px;
}

.experience-related-objectives-header {
    display: inline-block;
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
    color: #666666;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 18px;
}

    .experience-related-objectives-header > * {
        display: inline-block;
        vertical-align: middle;
    }

    .experience-related-objectives-header hr {
        width: 100%;
    }

.experience .content-list-item .text-block {
    margin-right: 37px;
}

.li-related-objective-question-count-wrapper {
    float: right;
    margin: 10px;
    color: #666666;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 17px;
}

.li-related-objective-question-count-image {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('images/middle-sized-icons-pack.png');
    background-position: center -303px;
    vertical-align: top;
}

.li-related-objective-question-count-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}

@media (max-width: 790px) {
    .nav-control.rebuild .nav-title {
        margin-right: 57px;
    }

    .main-nav-item {
        width: 50%;
    }

    .main-nav-separator {
        display: none;
    }

    .nav-control.left {
        text-align: right;
    }

    .nav-control.rebuild {
        margin-top: 10px;
    }

    .experience .main-nav-item.right .nav-control,
    .experience .main-nav-item.right .nav-control.rebuild {
        width: 100%;
    }

    .experience .nav-control-inner.rebuild:before {
        float: right;
    }
}
