.navbar-left {
    float: left;
    width: 50%;
}

.experience-build-progress-status {
    float: right;
    width: auto;
    text-align: right;
    opacity: 0.6;
}

    .experience-build-progress-status:hover {
        opacity: 0.75;
    }

    .experience-build-progress-status > * {
        display: inline-block;
        cursor: default;
    }

.experience-build-status-text {
    color: #666666;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 57px;
}

.experience-build-status-image {
    display: inline-block;
    margin-left: 13px;
    width: 57px;
    height: 57px;
    background: url('images/build-sprite.png') no-repeat top left;
}

.experience-build-status-image-not-started {
    background-position: 0 0;
}

.experience-build-status-image-in-progress {
    background-image: none;
}

.experience-build-status-image-complete {
    background-position: 0 -67px;
}

.experience-build-status-image-failed {
    background-position: 0 -134px;
}


.experience-header-wrapper {
    padding: 15px 0;
    width: 100%;
}


.experience-header-wrapper-nav-container {
    display: table-cell;
    vertical-align: middle;
}

.experience-header-wrapper-nav-btn {
    display: block;
    -moz-min-width: 17px;
    -ms-min-width: 17px;
    -webkit-min-width: 17px;
    min-width: 17px;
    width: 17px;
    height: 50px;
    background-image: url('images/nav-buttons.png');
    background-repeat: no-repeat;
    text-decoration: none;
    opacity: 0.6;
}

    .experience-header-wrapper-nav-btn:hover {
        opacity: 1;
    }

    .experience-header-wrapper-nav-btn.previous {
        margin-right: 50px;
        background-position: left center;
    }

    .experience-header-wrapper-nav-btn.next {
        margin-left: 50px;
        background-position: right center;
    }

    .experience-header-wrapper-nav-btn.disabled {
        opacity: 0.2;
    }


.experience-header {
    display: table-cell;
    width: 100%;
}

.experience-header-image {
    width: 270px;
    height: 158px;
    vertical-align: top;
}


.experience-header-title {
    margin-left: 295px;
    padding-top: 10px;
    -ms-word-break: break-all;
    word-break: break-all;
}



.experience-related-objectives-header {
    display: inline-block;
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
    color: #666666;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 18px;
}

    .experience-related-objectives-header > * {
        display: inline-block;
        vertical-align: middle;
    }

    .experience-related-objectives-header hr {
        width: 100%;
    }

.experience .content-list-item .text-block {
    margin-right: 37px;
}

.li-related-objective-question-count-wrapper {
    float: right;
    margin: 10px;
    color: #666666;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 17px;
}

.li-related-objective-question-count-image {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('images/middle-sized-icons-pack.png');
    background-position: center -303px;
    vertical-align: top;
}

.li-related-objective-question-count-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}