.experience.view-module {
    min-width: 860px;
}

/*#region MAINTENANCE*/
.maintenance-message-page {
    padding-top: 8.7%;
    text-align: center;
}

.maintenance-message-holder {
    display: inline-block;
    position: relative;
    padding-left: 115px;
    text-align: left;
    color: #303133;
    font-size: 20px;
    font-family: OpenSans-Semibold, sans-serif;
}

    .maintenance-message-holder:after {
        content: '';
        position: absolute;
        top: -50%;
        left: 0;
        margin-top: 20px;
        display: block;
        height: 98px;
        width: 100px;
        background: url(images/oops.png) no-repeat;
    }

.maintenance-message-title {
    padding-bottom: 13px;
}

.maintenance-message-error-text {
    color: #b94a48;
}

/*#endregion MAINTENANCE*/

/*#region DEFINE STEP*/
.experience .create-new-title {
    padding: 55px 0;
}

/*FILTERS STYLES*/

.experience .main-content-list-holder,
.experience .list-controls-holder {
    min-width: 73%;
}

.experience .main-content-list-holder {
    float: right;
    width: 73%;
}

.objectives-filters-holder {
    width: 100%;
}

.objectives-filters-block {
    float: left;
    width: 26.5%;
}

.objectives-filters-title {
    margin-top: -2px;
    padding-left: 34px;
    color: #303133;
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    font-weight: normal;
    cursor: default;
}

.objectives-filters-controls {
    padding: 12px 8px;
}

.filter-radio-control {
    padding: 10px 0;
}

.filter-radio-label {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    color: #303133;
    font-size: 13px;
    font-family: 'OpenSans';
}

    .filter-radio-label:before {
        content: '';
        display: block;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 3px;
        left: 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        border-radius: 8px;
        background: white;
    }

    .filter-radio-label.checked:before {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0RCQTkwNDY0RDM4MTFFMzgyREZGNUVDODFCMzIxRTkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0RCQTkwNDc0RDM4MTFFMzgyREZGNUVDODFCMzIxRTkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3REJBOTA0NDREMzgxMUUzODJERkY1RUM4MUIzMjFFOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3REJBOTA0NTREMzgxMUUzODJERkY1RUM4MUIzMjFFOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pg7pvucAAAB0SURBVHjaYvz//z8DuYCJgQLAAmMwriROw/9wKtmMS3MYEF8B4p9QOgyvs5FACBAje0Ibib+KkM0NOFxTR4yzVXFoViVG820cmm8To7kRh+ZmYjSvBuIIIL4OxL+hdARaIOIMbQaoQoLJhnHA0jZFmgECDABefhfmRLTltwAAAABJRU5ErkJggg==) center center no-repeat;
    }

/*#endregion DEFINE STEP*/

/*#region DESIGN STEP*/
.design-view-module {
    padding-top: 20px;
}

    .design-view-module .template-logo-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 165px;
        text-align: center;
    }

    .design-view-module .template-logo {
        max-height: 87px;
    }

/*Choose template*/

.choose-template-holder {
    min-width: 300px;
    max-width: 50%;
    margin-right: 510px;
    font-family: 'OpenSans';
    color: #303133;
}

.template-settings-title,
.choose-template-title {
    padding-bottom: 15px;
    color: #303133;
    font-family: 'OpenSans-Semibold';
    font-size: 20px;
    font-weight: normal;
    cursor: default;
}

.choose-template-list {
    position: relative;
    list-style-type: none;
}

.choose-template-list-item {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
    padding: 11px 30px 11px 15px;
    margin-bottom: 10px;
    cursor: default;
}

    .choose-template-list-item.selected {
        background-color: #fafafa;
    }

        .choose-template-list-item.selected:after {
            content: '';
            display: block;
            width: 24px;
            height: 21px;
            position: absolute;
            right: 0;
            top: 10px;
            background: url(images/sprites.png) no-repeat -237px -114px;
        }

    .choose-template-list-item:hover {
        background-color: #f5f5f5;
    }

        .choose-template-list-item:hover:before {
            content: '';
            width: 3px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #f59957;
        }

.template-image-holder {
    float: left;
}

    .template-image-holder .template-image {
        height: 98px;
        width: 98px;
        vertical-align: top;
        border: 1px solid #e6e6e6;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZGVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWRlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #dedede 0%, #f2f2f2 15%, #fefefe 45%, #fefefe 55%, #f2f2f2 85%, #dedede 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(15%,#f2f2f2), color-stop(45%,#fefefe), color-stop(55%,#fefefe), color-stop(85%,#f2f2f2), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #dedede 0%,#f2f2f2 15%,#fefefe 45%,#fefefe 55%,#f2f2f2 85%,#dedede 100%); /* Chrome10+,Safari5.1+ */
        background: -ms-linear-gradient(top, #dedede 0%,#f2f2f2 15%,#fefefe 45%,#fefefe 55%,#f2f2f2 85%,#dedede 100%); /* IE10+ */
        background: linear-gradient(to bottom, #dedede 0%,#f2f2f2 15%,#fefefe 45%,#fefefe 55%,#f2f2f2 85%,#dedede 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#dedede',GradientType=0 ); /* IE6-8 */
    }

.ie9 .template-image {
    filter: none;
}

.template-info-wrapper {
    margin-left: 115px;
}

.template-title {
    margin-bottom: 5px;
    font-family: 'OpenSans-Semibold';
    font-size: 16px;
}

.template-desc {
    line-height: 1.5;
    font-size: 14px;
}

.choose-template-spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.75);
}

.template-settings-block {
    float: right;
    width: 490px;
}

/*#endregion DESIGN STEP*/

/*#region DELIVER STEP*/

.package-actions-holder {
    width: 100%;
    padding-top: 63px;
    text-align: center;
}

.package-actions-content {
    width: 610px;
    display: inline-block;
    vertical-align: top;
}

.actions-left-column {
    float: left;
}

    .actions-left-column .action-arrow.down {
        min-height: 78px;
    }

.actions-right-column {
    display: table;
}

    .actions-right-column .action-arrow.right {
        display: table-cell;
        min-width: 107px;
        margin-right: 250px;
        vertical-align: middle;
    }

.action-right-column .package-action-btn {
    display: table-cell;
}

.package-action-btn-holder {
    position: relative;
}

.package-action-btn {
    height: auto;
    line-height: normal;
    width: 250px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 10px;
    color: white;
}

    .package-action-btn .btn-title {
        display: inline-block;
        position: relative;
        vertical-align: top;
        padding-left: 34px;
    }

        .package-action-btn .btn-title:after {
            content: '';
            display: block;
            position: absolute;
            top: -2px;
            left: 0;
            width: 26px;
            height: 28px;
            background: url('images/sprites.png');
        }

.nl-lang .package-actions-content,
.de-lang .package-actions-content {
    width: 658px;
}

.nl-lang .package-action-btn,
.de-lang .package-action-btn {
    width: 275px;
    font-size: 14px;
    padding: 10px;
}

.copy-link-control {
    display: table;
    width: 100%;
    padding-top: 10px;
}

    .copy-link-control.disabled {
        opacity: 0.2;
    }

    .copy-link-control .btn {
        float: left;
    }

.copy-link-input-wrapper {
    display: table-cell;
    vertical-align: top;
}

.copy-link-input {
    width: 100%;
    padding: 5px;
    margin: 0;
    background: white;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    font-family: 'OpenSans';
    font-size: 16px;
}

.open-link-btn-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 50px;
    padding: 0 0 0 20px;
    text-align: right;
}

.open-link-btn {
    display: inline-block;
    line-height: 32px;
    max-width: 160px;
    vertical-align: top;
    background: white;
    border-radius: 3px;
    padding: 8px 11px;
    border: 1px solid #d4d4d4;
}

    .open-link-btn:hover {
        background: #f7f7f7;
    }

.open-link-text {
    display: block;
    vertical-align: top;
    line-height: 16px;
    position: relative;
    padding-left: 22px;
    color: #2cb7ff;
    font-family: 'OpenSans-Semibold';
    font-size: 13px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .open-link-text:before {
        content: '';
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 0;
        left: 0;
        background: url(images/sprites.png) -192px -149px;
    }

.open-link-description-wrapper {
    position: relative;
}

/*buttons*/
.package-action-btn.create-package-btn .btn-title:after {
    background-position: -93px -76px;
}

.package-action-btn.creating-btn .btn-title:after {
    background: url('images/package-preloader.gif') no-repeat;
}

.package-action-btn.download-btn .btn-title:after {
    background-position: -153px -75px;
}

.package-action-btn.publish-btn .btn-title:after {
    background-position: -126px -75px;
}

.package-action-btn.publishing-btn .btn-title:after {
    background: url('images/publish-loader.gif') no-repeat 0 2px;
}

/*icons*/
.action-arrow {
    position: relative;
}

    .action-arrow.disabled {
        opacity: 0.25;
    }

    .action-arrow .icon-item {
        display: inline-block;
        background: url('images/sprites.png');
    }

    .action-arrow.right .icon-item {
        height: 22px;
        width: 30px;
        background-position: -56px -75px;
    }

    .action-arrow.down .icon-item {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 30px;
        width: 22px;
        margin-top: -15px;
        margin-left: -11px;
        background-position: -27px -77px;
    }

/* explanation tooltip */

.action-explanation-tooltip-container {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
    margin-bottom: 8px;
}

.package-action-btn-holder:hover .action-explanation-tooltip-container {
    display: table;
}

.package-action-btn-holder.disabled-tooltip:hover .action-explanation-tooltip-container {
    display: none;
}

.action-explanation-tooltip-wrapper {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.action-explanation-tooltip {
    min-height: 35px;
    width: 100%;
    display: inline-block;
    padding: 4px 8px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    background: white;
}

.action-explanation-tooltip-text {
    display: inline-block;
    color: rgba(103, 121, 156, 0.8);
    font-family: OpenSansItalic;
    font-size: 13px;
}

.action-explanation-tooltip-triangle {
    height: 6px;
    width: 12px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -6px;
    overflow: hidden;
}

    .action-explanation-tooltip-triangle:before,
    .action-explanation-tooltip-triangle:after {
        content: '';
        display: block;
        position: absolute;
        height: 10px;
        width: 10px;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .action-explanation-tooltip-triangle:before {
        top: -6px;
        background: #dfdfdf;
    }

    .action-explanation-tooltip-triangle:after {
        top: -7px;
        background: white;
    }

.copy-link-description-holder {
    text-align: left;
    color: rgba(103, 121, 156, 0.75);
    font-size: 13px;
    font-family: OpenSansItalic;
}

/*#endregion DELIVER STEP*/

/*#region Template selector*/

.experience-template-selector {
    display: inline-block;
    min-width: 200px;
    max-width: 300px;
}

.experience-template-selector-text {
    line-height: normal;
    white-space: normal;
    letter-spacing: 0;
    color: #666;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
}

.create-experience .experience-template-selector {
    display: inline-block;
}

.create-experience .experience-template-selector-text {
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-right: 5px;
    padding-bottom: 0;
}

.create-experience .form-actions {
    padding-top: 70px;
}

@media (max-width: 890px) {
    .create-experience .experience-template-selector {
        float: right;
    }

    .create-experience .experience-template-selector-text {
        font-size: 14px;
        color: #666;
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .create-experience .form-actions {
        padding-top: 100px;
    }
}

/*#endregion Template selector*/

/*#region tip for add new learning objective*/

.experience .create-tip {
    right: 85px;
    top: 30px;
    text-transform: none;
}
/*#endregion tip for add new learning objective*/

.experience .page-title {
    margin: 0 0 -5px 58px;
    padding-bottom: 3px;
    color: #555555;
    font-size: 20px;
    font-family: OpenSansItalic;
    border-bottom: 1px dotted #BDBDBD;
}

/*#region Process steps*/

.process-steps-container {
    width: 100%;
    margin: 10px auto 0;
    text-align: center;
}

.process-steps {
    display: table;
    width: 100%;
    -webkit-padding-start: 0;
}

    .process-steps .tb-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .process-steps .separator {
        display: block;
        width: 10px;
        height: 16px;
        margin: 0 auto;
        opacity: 0.2;
        cursor: default;
        background: url('images/processSteps.png') no-repeat 0 0;
    }

.process-step {
    width: 28.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px;
    border: 1px solid #ebebeb;
    border-top-color: #f2f2f2;
    border-bottom-color: #bdbdbd;
    border-radius: 3px 3px 0 0;
    background: #f2f2f2;
    color: #9c9fa6;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
}

    .process-step:hover {
        background: #fafafa;
        border-left-color: #f4f4f4;
        border-right-color: #f4f4f4;
        border-top-color: #fafafa;
        color: #303133;
        cursor: pointer;
    }

    .process-step.active {
        color: #303133;
        background: #fafafa;
        border-color: #f4f4f4;
        border-top-color: #fafafa;
        border-bottom: 1px solid #bcd643;
        cursor: default;
    }

/*#endregion Process steps*/


@media (min-width: 1080px) {

    .template-settings-block {
        width: 50%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
    }

    .choose-template-holder {
        margin-right: auto;
    }
}
