.experiences.view-module {
    padding-top: 81px;
}

.experiences-header {
    height: 96px;
    padding: 20px 20px 0;
}

.experiences > .content-holder {
    padding: 0;
}

/*#region EXPERIENCES LIST STYLES*/

.package-actions-block {
    display: none;
    position: absolute;
    top: 85px;
    right: 10px;
    width: 120px;
    font-size: 12px;
    font-family: 'OpenSans';
    text-align: left;
}

.de-lang .package-actions-block {
    width: 125px;
}

.package-actions-block .btn-title {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 23px;
    white-space: nowrap;
}

    .package-actions-block .btn-title:hover {
        text-decoration: underline;
    }

    .package-actions-block .btn-title:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        height: 14px;
        width: 16px;
        background: url(images/sprites.png);
    }

.experience-action.create-package-btn {
    display: block;
    color: #0085ca;
    opacity: 0.8;
    margin-bottom: 15px;
}

    .experience-action.create-package-btn:hover {
        opacity: 1;
    }

    .experience-action.create-package-btn .btn-title:after {
        background-position: -212px -82px;
    }

.experience-action.download-btn {
    color: #555555;
    opacity: 0.8;
}

    .experience-action.download-btn:hover {
        opacity: 1;
    }

    .experience-action.download-btn .btn-title:after {
        background-position: -234px -82px;
    }

.main-content-list-item:hover .package-actions-block {
    display: block;
}

.experience-status-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.experience-text {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 30px;
    color: #303133;
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    padding-left: 40px;
}

    .experience-text:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        height: 32px;
        width: 32px;
        background: url(images/sprites.png);
    }

    .experience-text.building:after {
        background: url(images/loader.gif);
    }

    .experience-text.complete,
    .experience-text.failed {
        text-transform: capitalize;
    }

        .experience-text.complete:after {
            background-position: -254px -78px;
        }

        .experience-text.failed:after {
            background-position: -8px -110px;
        }

/*#endregion EXPERIENCES LIST STYLES*/
