.experiences.view-module {
    padding-top: 74px;
}

/*#region EXPERIENCES LIST STYLES*/


.main-content-list-item {
    overflow: hidden;
}

.main-content-list-item .experience-actions-panel {
    width: 100%;
    border: 1px solid #e6e6e6;
    position: absolute;
    left: 0;
    bottom: -32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
    font-family: 'OpenSans';
    font-size: 12px;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: -moz-transform 500ms;
    transition: transform 500ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ie9 .experience-actions-panel {
    filter: none;
}

.main-content-list-item:hover .experience-actions-panel {
    -webkit-transform: translate(0px, -31px);
    -moz-transform: translate(0px, -31px);
    -ms-transform: translate(0px, -31px);
    transform: translate(0px, -31px);
}

.experience-actions-wrapper {
    display: table;
    width: 100%;
}

.experience-action {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    padding: 0 10px;
    white-space: nowrap;
}

    .experience-action + .experience-action {
        border-left: 1px solid #e6e6e6;
    }

    .experience-action:hover {
        background: white;
    }

    .experience-action.disabled:hover {
        background: none;
    }

.experience-action-title {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 30px;
}

    .experience-action-title:before {
        content: '';
        display: block;
        width: 19px;
        height: 18px;
        position: absolute;
        background: url(images/sprites.png);
    }

.experience-action.create-package,
.experience-action.download-package,
.experience-action.publish-package {
    width: 18%;
}

/*
 * Create package action
*/

.experience-action.create-package {
    color: #3c78c3;
}

    .experience-action.create-package .experience-action-title:before {
        top: 0;
        left: 7px;
        background-position: -73px -173px;
    }

/*
 * Download package action
*/

.experience-action.download-package {
    color: #000000;
}

    .experience-action.download-package .experience-action-title:before {
        top: 0;
        left: 4px;
        background-position: -98px -174px;
    }

    .experience-action.download-package.disabled .experience-action-title:before {
        background-position: -98px -198px;
    }

/*
 * Publish package action
*/

.experience-action.publish-package {
    color: #75901d;
}

    .experience-action.publish-package .experience-action-title:before {
        top: 0;
        left: 0;
        background-position: -125px -174px;
    }

    .experience-action.publish-package.disabled .experience-action-title:before {
        top: 0;
        left: 0;
        background-position: -125px -198px;
    }

.experience-action.disabled {
    color: #dbdbdd;
}


/*
 * Copy link action
*/

.experience-action.package-link {
    text-align: left;
    padding-right: 15px;
}

.package-link-input,
.package-link-input:hover,
.package-link-input:active,
.package-link-input:focus {
    width: 100%;
    height: 20px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding-left: 4px;
    outline: none;
    font-family: 'OpenSans';
    font-size: 12px;
}

/*
 * Statuses of experience
*/

.experience-status-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.experience-text {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 30px;
    color: #303133;
    font-size: 18px;
    font-family: 'OpenSans-Semibold';
    padding-left: 40px;
}

    .experience-text:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        height: 32px;
        width: 32px;
        background: url(images/sprites.png);
    }

    .experience-text.building:after {
        background: url(images/loader.gif);
    }

    .experience-text.complete,
    .experience-text.failed {
        text-transform: capitalize;
    }

        .experience-text.complete:after {
            background-position: -254px -78px;
        }

        .experience-text.failed:after {
            background-position: -8px -110px;
        }

/*#endregion EXPERIENCES LIST STYLES*/
