
@maxWidth: 960px;
@minWidth: 635px;

.unselectable() {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.vertical-align() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.container() {
    max-width: @maxWidth;
    min-width: @minWidth;
    margin: 0 auto;
}

/*#region flex */

.display-flex() {
    display: -webkit-flex;
    display: flex;
}

.flex(@value) {
    -webkit-flex: @value;
    flex: @value;
}

.flex-direction(@value) {
    -webkit-flex-direction: @value;
    -ms-flex-direction: @value;
    flex-direction: @value;
}

.flex-grow(@value) {
    -webkit-flex-grow: @value;
    flex-grow: @value;
}

.flex-shrink(@value) {
    -webkit-flex-shrink: @value;
    flex-shrink: @value;
}

.align-self(@value) {
    -webkit-align-self: @value;
    align-self: @value;
}

.align-items(@value) {
    -webkit-align-items: @value;
    align-items: @value;
}

.justify-content(@value) {
    -webkit-justify-content: @value;
    justify-content: @value;
}

/*#endregion */

/*#region User avatar */

.user-avatar() {
    height: 36px;
    width: 36px;
    line-height: 35px;
    background: linear-gradient(145deg, #73cece 0%,#65caca 0%,#73cece 40%,#4dc1c1 41%,#4dc1c1 100%);
    border: 2px solid #fff;
    border-radius: 3px;
    box-sizing: content-box;
    color: #fff;
    font: 22px 'OpenSans-Semibold';
    text-align: center;
    vertical-align: top;
}

.user-avatar-wrapper() {
    position: relative;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 1px 1px 2px 0px rgba(219, 219, 219, 1);
}

/*#endregion */


