
@import "mixin.less";

@maxWidth: 960px;
@minWidth: 635px;

.unselectable() {
    .user-select(none);
    cursor: default;
}

.vertical-align() {
    .display-flex();
    .align-items(center);
    .justify-content(center);
}

.align-absolute-element() {
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
}

.container() {
    max-width: @maxWidth;
    min-width: @minWidth;
    margin: 0 auto;
}

.clear-btn-styles() {
    padding: 0px;
    border: 0px;
}

/*#region User avatar */

.user-avatar() {
    height: 36px;
    width: 36px;
    line-height: 35px;
    background: linear-gradient(145deg,#71b4df 0%,#57a6d9 0%,#71b4df 40%,#469dd5 41%,#469dd5 100%);
    border: 2px solid #fff;
    border-radius: 3px;
    box-sizing: content-box;
    color: #fff;
    font: 24px 'OpenSans';
    text-align: center;
    vertical-align: top;
}

.user-avatar-wrapper() {
    position: relative;
    border-radius: 3px;
    display: inline-block;
    box-shadow: 0 1px 3px 0 #dedede;
}

/*#endregion */

.fix-bold-text-expanding(@font: 'OpenSans-Semibold') {
    &:after {
        content: attr(data-text);
        display: block;
        height: 0;
        font-family: @font;
        visibility: hidden;
    }
}
