@import "helpers.less";

.hotspot-designer {
    border: 2px dashed #a5c0d2;
    border-radius: 4px;
    font: 14px 'OpenSans';
}

.hotspot-designer.background {
    position: relative;
    margin-right: 15px;
    border-style: solid;
}

.hotspot-designer.empty {
    color: #80a6c6;
}


.hotspot-designer-empty-holder {
    width: 430px;
    margin: 40px auto;
    text-align: center;
}

.hotspot-designer-background-loader-wrapper {
    min-height: 90px;
}

.hotspot-designer-background-loader {
    width: 100px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -30px;
    text-align: center;
}

.hotspot-designer-background-loader-spinner {
    position: relative;
    height: 30px;
}

.hotspot-designer-background-loader-text {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    position: relative;
    padding-top: 10px;
    color: #777;
    font-size: 12px;
}

.hotspot-designer-empty-image {
    display: inline-block;
    width: 157px;
    height: 162px;
    background-image: url('/Content/images/hotSpot-empty.png');
    vertical-align: top;
}

.hotspot-designer-empty-content {
    display: inline-block;
    text-align: center;
    color: #80a6c6;
    vertical-align: top;
}

.hotspot-designer-empty-content-title {
    padding: 20px 0 5px;
    font: 18px 'OpenSans-Semibold';
    text-transform: uppercase;
}

.hotspot-designer-empty-content-text {
    text-transform: lowercase;
}

.hotspot-designer-empty-browse-btn-wrapper {
    margin-top: 15px;
}

.hotspot-browse-image-btn {
    font-family: 'OpenSans-Semibold';
    padding: 10px 15px 10px 20px;
    color: #fff;
}

.hotspot-designer-background-wrapper {
    position: relative;
    overflow: auto;
}

.hotspot-designer-background {
    position: relative;
}

.hotspot-designer-background canvas {
    position: absolute;
}

.hotspot-area-holder.empty {
    background-color: #fff;
    opacity: 0.8;
}

.hotspot-area-holder.empty canvas {
    background: url('/Content/images/no-spots.png') center no-repeat;
}

.create .hotspot-area,
.creating .hotspot-area {
    cursor: crosshair;
}

.resize .hotspot-area,
.resizing .hotspot-area {
    cursor: move;
}

.drag .hotspot-area {
    cursor: url('/Content/images/grab.cur'), move;
}

.dragging .hotspot-area {
    cursor: url('/Content/images/grabbing.cur'), move;
}

.active .hotspot-area {
    cursor: url('/Content/images/grab.cur'), move;
}


.switcher {
    margin-bottom: 15px;

    & > div {
        display: inline-block;
        vertical-align: middle;
    }

    .switcher-text {
        font: 12px 'OpenSans';
        color: #757575;
        cursor: pointer;
        .fix-bold-text-expanding;

        &:first-child {
            text-align: right;
        }

        &.selected {
            font-family: 'OpenSans-Semibold';
            color: #0a9084;
            cursor: default;
        }
    }

    .overlay {
        display: none;
    }
}

.hot-spot .switch-toggle-slider,
.hot-spot .switch-toggle-on,
.hot-spot .switch-toggle-off {
    width: 60px;
}

.hot-spot .switch-toggle-slider {
    margin: 0 5px;
}

.hot-spot .switch-toggle-on,
.hot-spot .switch-toggle-off {
    background-color: #0ba295;
}

.hot-spot .switch-toggle-slider.off,
.hot-spot .switch-toggle-slider.off .switch-toogle-blob,
.hot-spot .switch-toggle-slider.on .switch-toogle-blob,
.hot-spot .switch-toggle-slider.on .switch-toogle-blob {
    box-shadow: 0 0 0 1px #0a9084;
}

.switcher.disable {
    position: relative;
}

.switcher.disable .overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
}

.hot-spot .switcher.disable .switcher-text,
.hot-spot .switcher.disable .switcher-text.selected {
    font-family: 'OpenSans';
    color: #8a8a8a;
}

.hot-spot .switcher.disable .switch-toggle-on,
.hot-spot .switcher.disable .switch-toggle-off {
    background-color: #e1e1e1;
}

.hot-spot .switcher.disable .switch-toggle-slider.off,
.hot-spot .switcher.disable .switch-toggle-slider.on,
.hot-spot .switcher.disable .switch-toggle-slider.off .switch-toogle-blob,
.hot-spot .switcher.disable .switch-toggle-slider.on .switch-toogle-blob,
.hot-spot .switcher.disable .switch-toggle-slider.on .switch-toogle-blob {
    box-shadow: 0 0 0 1px #d4d4d4;
}

.hot-spot .switcher.disable .switch-toogle-blob {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #efefef 100%);
    background: -webkit-linear-gradient(top, #fefefe 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#efefef 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#efefef 100%);
}

/*#region CURSOR TOOLTOP*/
.cursor-tooltip {
    display: none;
    background-color: rgba(44, 49, 53, 0.7);
    border-radius: 3px;
    box-shadow: 0 4px 3px rgba(50, 50, 50, 0.2);
    color: #fff;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 99;
    font-size: 13px;

    span {
        display: inline-block;
        padding: 3px 10px;
    }
}

/*#endregion CURSOR TOOLTOP*/
