@import "helpers";

@preview-icon-bg-color: #469dd5;

.images-container {
    position: relative;

    .library-list-item {

        .preview-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            width: 64px;
            height: 64px;
            background-color: @preview-icon-bg-color;
            display: inline-block;
            border-radius: 50%;
            opacity: 0;
            
            .transition(opacity);

            &:before {
                content: '';
                display: inline-block;
                width: 27px;
                height: 27px;
                margin-top: 21px;
                margin-left: 19px;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAYAAACN1PRVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAACRklEQVRIx7WWy4uOcRTHP89cNZrImCmmkZqGZjPCSo1YSElNxNJiXBZsyEoWFv4CC/8BUVhIueT+5p0kTSNlYaYIzcVEmiblOj4WzvB4e+a9GWfz/J7f+Z7zPbfn9CTMIepCYDewHVgLtAONwDtgBLgPnE+SZJhqRa1XD6tvLS0z6jm1sxqidvVxytk9da/aqdYGZom6RT2tTgduWt1RCVGr+jqMX6mby7BZqp4Nmx/qvnKIFqiPwiivtlZYkSNB9qVkkOrJIBpRF1Vc/18+ToSPNzFcmaAW9WMAe4s4y6v5IvpadSj8HJ0LtD8At0pErmoJzM6ADc4FuBKA/nkgq1OnArqiUF8DdMd5kH+UJEm+A0/jdW0WWXucxwuizKe/3sIMZyc3g3Minm1ZZF/jXF9NMhl3dfGcyVKMAYuBDmAyVZKNBZka91kEaZnt1XihogYYivPWKjL7S9RmoAeQrBlIjeuz2f03h6NypvFQkV7+XlVjATpQxFFeHSiWlToafvqKRdQfoCl1VRXlS9QL4WOgHPClAI+pPRUQNapnUsF2lWPUpN4No0/qcbWphE2v+iT13d0o1vekwLgROAUcDN0H4CpwB3gRsDZgHdAHrIm7YWA50AxcBPYkSfKt3NJsUnOWllH1mNqgbkjtxctqQ9HMMkhXA9sik2VAA/AeeA7kgFw6A3U9cBNoAa4Du5Ik+Vxu/ysWtUedjAxvl+r7fBB2q+NB+CA2y38l7PLPD9TDan83KiFcqb4MwlypDT4fhB3ANWDiJ3z0vuq8PXMZAAAAAElFTkSuQmCC'); /*images/imagePreview.png*/
            }
        }

        &.hovered:hover {
            .preview-icon {
                opacity: .9;
            }
        }
    }
}

@preview-navigation-btn-color: #63798e;
@preview-navigation-btn-hover-color: #252728;
@preview-bg-color: rgba(255,255,255, .8);

.image-preview {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: @preview-bg-color;

    .image-preview-dialogue-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-top: 75px;
    }

    .image-preview-navigation-bar {
        position: absolute;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid silver;

        .image-preview-btn-container {
            display: inline-block;
            width: 49%;
            height: 100%;

            &.back {
                text-align: right;
            }

            &.next {
                text-align: left;
            }

            .image-preview-dialog-btn {
                display: inline-block;
                width: 28px;
                height: 28px;
                border-top: 1px solid @preview-navigation-btn-color;
                border-right: 1px solid @preview-navigation-btn-color;
                margin-top: 20px;

                &.next {
                    margin-left: 10px;
                    transform: rotate(45deg);
                }

                &.back {
                    margin-right: 10px;
                    transform: rotate(-135deg);
                }
            }

            &:not(.disabled):hover {
                cursor: pointer;

                .image-preview-dialog-btn {
                    border-top-color: @preview-navigation-btn-hover-color;
                    border-right-color: @preview-navigation-btn-hover-color;
                }
            }

            &.disabled {
                .image-preview-dialog-btn {
                    opacity: .4;
                }
            }
        }

        .image-preview-dialog-close-btn {
            display: inline-block;
            position: absolute;
            right: 25px;
            top: 7px;
            width: 52px;
            height: 52px;
            cursor: pointer;

            &:hover {
                &:before, &:after {
                    background-color: @preview-navigation-btn-hover-color;
                }
            }

            &:before, &:after {
                position: absolute;
                left: 24px;
                content: ' ';
                height: 56px;
                width: 1px;
                background-color: @preview-navigation-btn-color;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}
