.module-introduction .help {
    display: none;
}

.intro-page.view-module {
    padding-top: 0;
    min-height: 600px;
    position: relative;
    color: #303133;
}

.intro-header {
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.intro-bg {
    min-height: 255px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;
    background: white url(images/bg-logo.png) 118px 29px no-repeat;
}

.intro-title {
    padding-bottom: 16px;
    font-family: 'OpenSans-Semibold';
    font-size: 22px;
    font-weight: normal;
}

.intro-desc {
    margin: 0;
    padding: 2px 0;
    font-size: 13px;
}

.eg-start-btn {
    min-width: 220px;
    display: inline-block;
    margin-top: 34px;
    padding: 11px 16px;
}

.eg-start-btn-text {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 20px;
}

    .eg-start-btn-text:after {
        content: '';
        display: block;
        height: 14px;
        width: 10px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -5px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAOCAYAAAAWo42rAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0M5RDgxMDM2NzI0MTFFMzk1NEJCQTRGQzUyMTZBNjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0M5RDgxMDQ2NzI0MTFFMzk1NEJCQTRGQzUyMTZBNjEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3QzlEODEwMTY3MjQxMUUzOTU0QkJBNEZDNTIxNkE2MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3QzlEODEwMjY3MjQxMUUzOTU0QkJBNEZDNTIxNkE2MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PotjkFkAAAErSURBVHjabJG9SsRAFEazOyorqKCIhSgIWlpYaOEDGLDR0koEY2+9RYp0VlYpBCuxME2eQ0ghmMLGoGkkJhA0JCTkV7+BuZIdHDiE+ThzZ+6NomA1TXPQdd1TGIbn2M4DpsirLMu9H7FwILVt+xTxEhjKLoui6IrkPM8j0zSPReVBX+Qnl33ffyA5SZJ3ZNtgVq46BVazLHslOQiCR2RbYEaWpw3D2CmK4pNk13XvkK/zQv0H16qqhoyxhoI0TRfxWQOjiZJ8RFTN87wXRJdgH8z9SW3b3pIUx/EHojE4oqsVMfAxSWgo1jTtGvHJRDN1XW+SVFVVruv6DeKz/8YzdBznENc9W5Z1j/0F2JUHPhAsgA2wAr7AG/jm/fVF+jsjQQUK3l//2l8BBgDb6rZ07SyrlAAAAABJRU5ErkJggg==') no-repeat;
    }

.intro-checkbox-holder {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding-top: 15px;
}

.intro-checkbox {
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    border: 1px solid #d9d9d9;
}

.intro-checkbox-label {
    padding-left: 5px;
    color: #555;
    font-size: 12px;
    vertical-align: top;
}

.intro-content {
    padding-top: 20px;
}

.intro-content-title-wrapper {
    width: 100%;
    text-align: center;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAIAAACZnPOkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QTA4ODFBQ0Y2N0I0MTFFM0ExRkNDNkYxMDc3MDIxRkEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QTA4ODFBRDA2N0I0MTFFM0ExRkNDNkYxMDc3MDIxRkEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBMDg4MUFDRDY3QjQxMUUzQTFGQ0M2RjEwNzcwMjFGQSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBMDg4MUFDRTY3QjQxMUUzQTFGQ0M2RjEwNzcwMjFGQSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pj3rqv0AAAARSURBVHjaYnz27BkDEgAIMAAl3AK0KKs6gAAAAABJRU5ErkJggg==) 0 55% repeat-x;
}

.intro-content-title {
    display: inline-block;
    padding: 0 10px;
    background: white;
    font-family: 'OpenSans-Semibold';
    font-size: 24px;
    font-weight: normal;
}

    .intro-content-title.sub {
        display: block;
        padding: 15px 0;
        color: #555555;
        text-align: center;
    }

.provide-elearning:after {
    content: '';
    display: block;
    height: 1px;
    max-width: 1000px;
    margin: 35px auto 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA+gAAAABCAYAAABNAIQzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDIyMDQwN0Y2N0M0MTFFMzlDM0ZCNjVBM0MxMkY0RjEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDIyMDQwODA2N0M0MTFFMzlDM0ZCNjVBM0MxMkY0RjEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0MjIwNDA3RDY3QzQxMUUzOUMzRkI2NUEzQzEyRjRGMSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0MjIwNDA3RTY3QzQxMUUzOUMzRkI2NUEzQzEyRjRGMSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PmcBTikAAABiSURBVHja7JTBDQAgCAPt/kM5GroClGib0Ld3xURBROwlljuTdV+Hj3VU+GpnlnsxW+a8itv1jqpv4BentAdUduxkMuEDwMLd4WIdDF9lHbgs86Jj7uLRpfA3lXdWt/sIMADwgU6+nz3YyQAAAABJRU5ErkJggg==') no-repeat;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.provide-elearning-title {
    padding: 15px 0;
    color: #555555;
    font-family: 'OpenSans-SemiboldItalic';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.provide-elearning-content {
    padding: 0 50px;
}

.provide-elearning-content-item {
    padding: 15px 0;
    width: 60%;
    margin: 0 auto;
}

.provide-elearning-content-text strong {
    font-family: 'OpenSans-Semibold';
    font-weight: normal;
}

.provide-elearning-content-text {
    position: relative;
    display: inline-block;
    padding-left: 80px;
    font-size: 16px;
}

    .provide-elearning-content-text:before {
        content: '';
        display: block;
        height: 38px;
        width: 55px;
        position: absolute;
        top: 32px;
        left: 0;
        margin-top: -33px;
        background: url(images/intro-page.png);
    }

.learning-objectives .provide-elearning-content-text:before {
    background-position: -13px -32px;
}

.answering-questions .provide-elearning-content-text:before {
    background-position: -106px -26px;
}

.start-process-block .intro-content-title {
    display: block;
    padding-top: 20px;
    text-align: center;
}

.start-process-content {
    min-height: 200px;
    position: relative;
    padding-top: 25px;
}

.start-process-item {
    width: 43%;
    position: relative;
}

.start-process-item-title-wrapper {
    padding-left: 160px;
}

.start-process-item-title {
    display: inline-block;
    max-width: 100%;
    position: relative;
    padding-right: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'OpenSans-SemiboldItalic';
    font-size: 22px;
    font-weight: normal;
    word-wrap: break-word;
}

    .start-process-item-title:after {
        display: block;
        position: absolute;
        bottom: -12px;
        left: -35px;
        font-family: 'OpenSans-Semibold';
        font-size: 30px;
    }

.start-process-item-title-line {
    display: block;
    height: 92px;
    width: 92px;
    position: absolute;
    right: 100%;
    top: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAABcCAYAAADj79JYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjA0NkU5RjM2N0Q1MTFFMzg1NzI5OTkzQkE3RTk1QzkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QjA0NkU5RjQ2N0Q1MTFFMzg1NzI5OTkzQkE3RTk1QzkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCMDQ2RTlGMTY3RDUxMUUzODU3Mjk5OTNCQTdFOTVDOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCMDQ2RTlGMjY3RDUxMUUzODU3Mjk5OTNCQTdFOTVDOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PptnNH0AAAGBSURBVHja7NBBccNQEARRRSVeDoiYRiq8HBAJGeGwRKL/zm531Vzm+D7O89wM6fPa96EDhv269ty14LCv/QkOYt+H4CC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DC24DD2dHAcezL4Euyp4MuwJ4IvxZ4Gvhx7EngJ7CngZbAngJfC7g5eDrszeEnsruBlsTuCl8buBl4euxN4BHYX8BjsDuBR2OngcdjJ4JHYqeCx2Ing0dhp4I907CTwG/s3HTsFvA12Angr7Org7bArg7fErgreFrsieGvsauDtsSuBj8CuAj4G++4ogv117X8b0C72DPCR2KvAx2KvAB+NTYOPxybBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxQbBxYbBf8TmegswAB96uOA0GSPSAAAAAElFTkSuQmCC');
}

    .start-process-item-title-line:before {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: url(images/intro-page.png);
        z-index: 1;
    }

.start-process-item-desc {
    display: block;
    font-size: 13px;
}

.green .start-process-item-title-line:before {
    height: 141px;
    width: 141px;
    background-position: -19px -74px;
}

.green .start-process-item-title:after {
    content: '1.';
}

.green .start-process-item-title-wrapper {
    min-height: 225px;
}

.green .start-process-item-title {
    color: #aec43e;
}

.purple.start-process-item {
    margin: -80px auto 0;
}

.purple .start-process-item-title-line:before {
    height: 126px;
    width: 126px;
    background-position: -26px -219px;
}

.purple .start-process-item-title-wrapper {
    min-height: 180px;
}

.purple .start-process-item-title {
    color: #ef85ab;
}

    .purple .start-process-item-title:after {
        content: '2.';
    }

.orange.start-process-item {
    margin-top: -80px;
    float: right;
}

.orange .start-process-item-title-line:before {
    height: 102px;
    width: 102px;
    top: 18px;
    background-position: -39px -355px;
}

.orange .start-process-item-title-wrapper {
    min-height: 180px;
}

.orange .start-process-item-title {
    color: #f69a59;
}

    .orange .start-process-item-title:after {
        content: '3.';
    }

.create-package-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 120px;
}

.create-package-step {
    display: table-cell;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 15px 20px;
    position: relative;
    border: 5px solid #f6f5f1;
}

.create-package-step-title:after {
    content: '';
    display: block;
    min-height: 50px;
    width: 50px;
    position: absolute;
    top: -68px;
    left: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white center center no-repeat;
    border: 5px solid #f6f5f1;
    border-radius: 50%;
}

.create .create-package-step-title:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzhCNTQyMzA2OEI3MTFFM0E2NkVGRkJBMzk1MDdCNzUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzhCNTQyMzE2OEI3MTFFM0E2NkVGRkJBMzk1MDdCNzUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozOEI1NDIyRTY4QjcxMUUzQTY2RUZGQkEzOTUwN0I3NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozOEI1NDIyRjY4QjcxMUUzQTY2RUZGQkEzOTUwN0I3NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjQ/HiwAAAEMSURBVHjatNW/CwFhHMfxu6cbbAZ/AVIWg1EZ5P+gkMngL7jJr7LcZlFkMPkTFFkYlYEyKX+AUVh8nnqeeno6dx7f86334NSr7517Yt96C4swMeShEuqiufzCIaITgfIZCm/GPzACmkVx5ZqN+qj668Zy0xxqIhflFXyAXoxw+wk0Rh201zZ3GeGZWgH4hhHQT/gatR0iquMVdERPFgEq54BOHA173UxQfvt19Ag7IKZoTW4qh/0D9YMjQXU4MlSHMygdBarCSTRCLXSloipcFtt6AfjXqA5bAbgRKmH+oxWUazpujMoDUhS45YM30NkUlbD6et3RFq3Eppdf/7c4nEJTtEQ79bxT5i3AABtOSrtHRil+AAAAAElFTkSuQmCC');
}

.connect .create-package-step-title:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0UzN0MwRDA2OEI3MTFFM0E5REI5OUIyQ0NGMTAyRDQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0UzN0MwRDE2OEI3MTFFM0E5REI5OUIyQ0NGMTAyRDQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RTM3QzBDRTY4QjcxMUUzQTlEQjk5QjJDQ0YxMDJENCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RTM3QzBDRjY4QjcxMUUzQTlEQjk5QjJDQ0YxMDJENCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvPBZbMAAAJ3SURBVHjanJVZSJVRFEaveTFCCHoLMoMggojKsAKVaLDMojltIKhwgMKoBOlBsISIKAMbKW0erIQmyuYeFBJBCoxIi8wKesh6aDAtG2xt+Q4cLg73dmBx4P/3Xf8Z9t43qr1sZSDCMRK2wSwYAo1wDI4Oyqn444IGRCidDk8gE+rhJPyFQ1DZUb4q+n/EqXATvkACLIQNrDKRuQCWwKZIxbPhOrTCNGjyXyIvYaqD7EjEcyT9IKnNg3uIewSjwxXPhWvwXtKPcANuQ0xI7HAdU7/i+XAV3kn6CapgBlyBThfIpY1jWqQ76B7BXqQWdAlaYKZWcgdSYAuUetIxTPfgGxT1JV4KFfBaq2vT1pNhM+z3YsfCQxgIafCWD1nq1YWKM+A8vJK0Q9IkyIPDXux4uK/FWSo+hjJlRowvXi5pk6Q/tf0plq9wxItNkDRK0gY4DutUhblOvEDSZyrVXzq3SRakYDcmStol6VNJ11hZw3ryusvEw+AcvFSg1fsDmKBtnfCkifrgby3AFnIKVuuY8kzqLi8fYmGFtl8Nlj5ZcNqTTpa0U5nyHM6CdbEDVs5O6sR2DDXa0h6d39oQqV3eLfgh6QtlTqZSL9+XOnG8fhTQpdWGSJP1vl3vLWMuwDIoQVjQUyFY5X33at/6wAgdjY2pSrc2tcxmuCjpbnW1QG/iel2arX4vDNX5VekSv0pqBVOp9rgTtvbVZExcDnGqKquidK1slM7R8vgNXFYP3gGF/bXEoH5wF3bpWany1I04vbdGtB2Kw2ngQSV6hpqOZcVGiT9r1dbko/X8YLh/N67yrDPN01ZzYLEu1PrwGdincw97/BNgAJ32rPjdxK0tAAAAAElFTkSuQmCC');
}

.publish .create-package-step-title:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6REQ3NzczNjA2OEI3MTFFM0EyRUZGNzYxMEYwMTQ3ODEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6REQ3NzczNjE2OEI3MTFFM0EyRUZGNzYxMEYwMTQ3ODEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpERDc3NzM1RTY4QjcxMUUzQTJFRkY3NjEwRjAxNDc4MSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpERDc3NzM1RjY4QjcxMUUzQTJFRkY3NjEwRjAxNDc4MSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqPbRBwAAAFMSURBVHjaYtx3zYUBD+AA4hgg9gdiDSDmBOJnQHwciBcC8TkGAoARjwVmQDwViKVxyP8H4qVAXA3Ev3EZwoRD3BqIV+ExHOw4qO8WAzErKRYIAPEMIGZjIA7YAXEhKRZkAbEwA2kgA4i9gViBkAUgb4fiMegmFGNLDLOB+BgQbwJiPVwWyAKxOA7D7wFxOBTfw+MIEyDeCMSO2CxQx6HpAdRnr6A4FCqGC7AD8XQgFoVZoAjEG6BpGx08BeIwIH6OJPYcaskTPJbwAXE6yAIJaLiZ4VD4FYh7gTgSSQyU8fqA+BuByHdnARJFBFKNGhRfRIsrWyJSlzzIBy4MtANfmchI86SAK0wEUgOlYA3IgjVEKlYBYl8o1iRC/RkgXgsqTUFlzgogtqCiy88DcRwQvwX54BcQRwBxNzS4/pJp6B+oq8uhyfgtSBAgwADqPj2v+m0SAAAAAABJRU5ErkJggg==');
}

.create-package-step-title {
    position: relative;
    min-height: 50px;
    font-family: 'OpenSans-Semibold';
    font-size: 18px;
    font-weight: normal;
}

.create-package-step-text {
    color: #555;
    font-size: 13px;
}

.create-package-separator {
    display: table-cell;
    width: 55px;
    vertical-align: middle;
    text-align: center;
}

.create-package-separator-icon {
    display: inline-block;
    height: 25px;
    width: 33px;
    background: url(images/intro-page.png) -6px -465px;
}
