/*#region flex */
/*#endregion */
/*#region User avatar */
/*#endregion */
.learning-paths {
  min-width: 990px;
}
.learning-paths .main-content-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}
.learning-paths .main-content-header .page-view-caption {
  padding: 10px 0 15px 0;
}
.learning-paths .main-content-header .page-view-caption .page-view-caption-text {
  font: 20px 'OpenSans-Semibold';
}
.learning-paths .main-content-header .page-view-caption .tooltip-icon {
  margin-top: 3px;
}
.learning-paths .main-content-header .view-list-actions-holder {
  width: auto;
}
.learning-paths .list-item-action.create .action-item-btn {
  padding: 8px 25px;
}
.learning-paths .list-item-action.create .tip-arrow-holder {
  right: 95%;
  padding-top: 40px;
}
.learning-paths .list-item-action.create .tip-arrow-holder .tip-arrow-text {
  width: 290px;
  white-space: pre-wrap;
}
.learning-path-list-item-wrapper {
  display: inline-block;
  border-bottom: 1px solid #dce4e8;
  border-radius: 7px;
  width: 200px;
  margin-right: 5.12%;
  margin-bottom: 20px;
  vertical-align: top;
  border: 1px solid transparent;
  transition: border 0.2s ease;
}
.learning-path-list-item-wrapper:nth-of-type(4n) {
  margin-right: 0;
}
.learning-path-list-item-wrapper:hover {
  border: 1px solid #65bd77;
}
.learning-path-list-item-wrapper:hover .learning-path-list-item {
  border: 1px solid #65bd77;
  cursor: pointer;
}
.learning-path-list-item-wrapper .learning-path-list-item {
  border: 1px solid #dce4e8;
  border-radius: 7px;
  cursor: default;
  transition: border 0.2s ease;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-open-action-title,
.learning-path-list-item-wrapper .learning-path-list-item:hover .learning-path-list-item-open-action-image {
  opacity: 0;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-open-action-image,
.learning-path-list-item-wrapper .learning-path-list-item:hover .learning-path-list-item-open-action-title {
  opacity: 1;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-image-container {
  position: relative;
  height: 150px;
  border-bottom: 1px solid #abb3b6;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-image-container .learning-path-list-item-image {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  width: 100%;
  height: 100%;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-open-action {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  box-sizing: border-box;
  background-color: rgba(115, 195, 132, 0.8);
  border: 2px solid #6bb67b;
  border-radius: 50px;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-open-action .learning-path-list-item-open-action-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  background: url("images/sprites_32.png") -185px 0 no-repeat;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-open-action .learning-path-list-item-open-action-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  font: 14px 'OpenSans';
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-title-wrapper {
  height: 85px;
  padding: 15px 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #ffffff;
  color: #546677;
  font: 13px 'OpenSans';
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.learning-path-list-item-wrapper .learning-path-list-item .learning-path-list-item-title {
  max-height: 56px;
  word-wrap: break-word;
  overflow: hidden;
}
.learning-path .loader-container {
  margin-left: 0px;
}
.learning-path .tip-arrow-holder {
  position: static;
  margin-left: 300px;
  padding-top: 50px;
  padding-left: 20px;
}
.learning-path .tip-arrow-holder .tip-arrow-text {
  padding-left: 95px;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 340px;
}
.learning-path .tip-arrow-holder .tip-arrow-text:before {
  -webkit-transform: rotate(30deg) scaleY(-1);
  transform: rotate(30deg) scaleY(-1);
  top: -10px;
}
.learning-path .learning-path-header-content-section {
  display: -webkit-flex;
  display: flex;
  padding: 20px 0px;
}
.learning-path .learning-path-header-content-section .edit-field-wrapper {
  -webkit-flex: 1 1;
  flex: 1 1;
  min-width: 0;
  padding-right: 30px;
}
.learning-path .learning-path-header-content-section .content-section-actions-wrapper {
  width: 250px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.learning-path .page-view-caption-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px 0;
}
.learning-path .page-view-caption-wrapper .page-view-caption {
  padding: 0;
}
.learning-path .page-view-caption-wrapper .page-view-caption-actions .btn.add-courses {
  padding: 8px 35px;
}
.learning-path .page-view-caption-text {
  font: 20px 'OpenSans-Semibold';
}
.learning-path .navigation-bar-wrapper.course-selector {
  min-width: 0px;
  overflow: hidden;
}
.learning-path .navigation-bar-wrapper.course-selector .navigation-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #e4eaed;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter {
  margin: 15px 15px 20px 15px;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter.active .course-filter-input-wrapper {
  border-bottom: solid 1px #469dd5;
  box-shadow: 0 6px 4px -7px #469dd5;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter.active .course-filter-input-wrapper:after {
  background-position: -63px -84px;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding-left: 30px;
  height: 30px;
  outline: none;
  transition: box-shadow 0.2s ease;
  transition: border 0.2s ease;
  border-bottom: solid 1px #abbbc6;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  background-image: url(images/sprites_16.png);
  background-position: -84px -84px;
  background-repeat: no-repeat;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper:hover {
  border-bottom: solid 1px #469dd5;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper:hover:after {
  background-position: -63px -84px;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-input {
  -webkit-flex: 1 0;
  flex: 1 0;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  color: #63798e;
  font: 13px 'OpenSans';
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-input:focus {
  color: #42515f;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-input::-webkit-input-placeholder {
  color: #63798e;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-input:-moz-placeholder {
  /* Firefox 18- */
  color: #63798e;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #63798e;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-input:-ms-input-placeholder {
  color: #63798e;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-clear-btn {
  -webkit-flex: 0 0 10px;
  flex: 0 0 10px;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  visibility: hidden;
  width: 10px;
  height: 10px;
  margin-bottom: 8px;
  padding: 0px;
  background: url(images/sprites_16.png) -129px -45px no-repeat;
  cursor: pointer;
  border: 0px;
}
.learning-path .navigation-bar-wrapper.course-selector .course-filter .course-filter-input-wrapper .course-filter-clear-btn.shown {
  visibility: visible;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses {
  height: 100%;
  list-style: none;
  overflow-y: auto;
  padding: 0px 15px;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 55px;
  margin-bottom: 10px;
  padding: 10px;
  color: #42515f;
  font: 13px 'OpenSans';
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid transparent;
  border-bottom: 2px solid #c6d1d8;
  transition: border 0.1s ease;
  cursor: pointer;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course:hover {
  border-bottom: 2px solid #65bd77;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course:hover .course-selector-checkbox-wrapper {
  border: 1px solid #76c486;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course:hover .course-selector-checkbox-wrapper .course-selector-checkbox {
  border: 1px solid #76c486;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course.selected {
  border: 2px solid #65bd77;
  color: #63798e;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course .course-selector-course-title {
  -webkit-flex: 1 0;
  flex: 1 0;
  min-width: 0;
  word-wrap: break-word;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course .course-selector-checkbox-wrapper {
  -webkit-flex: 0 0 30px;
  flex: 0 0 30px;
  position: relative;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: border 0.1s ease;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course .course-selector-checkbox-wrapper.checked {
  border: 1px solid #76c486;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course .course-selector-checkbox-wrapper .course-selector-checkbox {
  height: 100%;
  border: 1px solid #c2c6cb;
  border-radius: 3px;
  transition: background-color 0.1s ease;
  transition: border 0.1s ease;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course .course-selector-checkbox-wrapper.checked .course-selector-checkbox {
  border: 1px solid #76c486;
  background-color: #76c486;
}
.learning-path .navigation-bar-wrapper.course-selector .course-selector-courses .course-selector-course .course-selector-checkbox-wrapper.checked .course-selector-checkbox:after {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url(images/sprites_24.png);
  background-position: -114px -27px;
  background-repeat: no-repeat;
}
.learning-path .learning-path-content .list-item-content-holder {
  cursor: default;
}
.learning-path .learning-path-content .list-item-content-holder .list-item-remove {
  display: table-cell;
  vertical-align: middle;
  width: 95px;
  padding-right: 20px;
  text-align: right;
}
.learning-path .learning-path-content .list-item-content-holder .list-item-remove .list-item-remove-btn {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  background: url('images/sprites_24.png') 0px -87px no-repeat;
}
.learning-path .learning-path-content .list-item-content-holder .list-item-remove .list-item-remove-btn:hover {
  background: url('images/sprites_24.png') -30px -87px no-repeat;
}
.learning-path .learning-path-content .list-item-content-holder .list-item-remove .list-item-remove-btn .info-tooltip {
  width: 130px;
  margin-left: -65px;
  white-space: nowrap;
}
/*#region Media queries */
@media screen and (max-width: 1630px) {
  .learning-path .tip-arrow-holder {
    margin-left: 0px;
  }
}
@media (max-width: 1175px) {
  .learning-path-list-item-wrapper {
    margin-right: 4.5%;
  }
}
@media (max-width: 1125px) {
  .learning-path-list-item-wrapper {
    margin-right: 4.3%;
  }
}
@media (max-width: 1100px) {
  .learning-path-list-item-wrapper {
    margin-right: 4.0%;
  }
}
@media (max-width: 1075px) {
  .learning-path-list-item-wrapper {
    margin-right: 3.9%;
  }
}
@media (max-width: 1050px) {
  .learning-path-list-item-wrapper {
    margin-right: 3.5%;
  }
}
@media (max-width: 1024px) {
  .learning-path-list-item-wrapper {
    margin-right: 2.9%;
  }
}
/*#endregion */
