@import "mixin.less";
@import "helpers.less";

@view-caption-font: 20px 'OpenSans-Semibold';
@learning-path-item-border-color: #dce4e8;
@learning-path-selected-item-border-color: #65bd77;
@learning-path-item-title-font: 13px 'OpenSans';
@learning-path-item-title-color: #546677;
@learning-path-item-title-bg-color: #fff;
@learning-path-item-action-color: #fff;
@learning-path-item-action-bg-color: rgba(115, 195, 132, 0.8);
@learning-path-item-action-border-color: #6bb67b;
@learning-path-item-action-title-font: 14px 'OpenSans';

@course-selector-bg-color: #e4eaed;
@course-selector-item-title-font: 13px 'OpenSans';
@course-selector-regular-item-color: #42515f;
@course-selector-regular-item-border-color: #c6d1d8;
@course-selector-hover-item-border-color: #65bd77;
@course-selector-selected-item-border-color: #65bd77;
@course-selector-selected-item-color: #63798e;
@course-selector-item-bg-color: #fff;
@course-selector-checkbox-color: #76c486;
@course-selector-inactive-checkbox-color: #c2c6cb;


.learning-paths {
    & {
        min-width: 990px;
    }

    .main-content-header {
        & {
            .display-flex();
            .justify-content(space-between);
            position: relative;
            margin-top: 20px;
        }

        .page-view-caption {
            & {
                padding: 10px 0 15px 0;
            }

            .page-view-caption-text {
                font: @view-caption-font;
            }

            .tooltip-icon {
                margin-top: 3px;
            }
        }

        .view-list-actions-holder {
            width: auto;
        }
    }

    .list-item-action.create {
        .action-item-btn {
            padding: 8px 25px;
        }

        .tip-arrow-holder {
            & {
                right: 95%;
                padding-top: 40px;
            }

            .tip-arrow-text {
                width: 290px;
                white-space: pre-wrap;
            }
        }
    }
}

.learning-path-list-item-wrapper {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: 1px solid @learning-path-item-border-color;
    border-radius: 7px;
    width: 200px;
    margin-right: 5.12%;
    margin-bottom: 20px;
    vertical-align: top;
    border: 1px solid transparent;
    transition: border 0.2s ease;

    &:nth-of-type(4n) {
        margin-right: 0;
    }

    &:hover {
        border: 1px solid @learning-path-selected-item-border-color;

        .learning-path-list-item {
            border: 1px solid @learning-path-selected-item-border-color;
            cursor: pointer;
        }
    }

    .learning-path-list-item {
        border: 1px solid @learning-path-item-border-color;
        border-radius: 7px;
        cursor: default;
        transition: border 0.2s ease;

        .learning-path-list-item-open-action-title,
        &:hover .learning-path-list-item-open-action-image {
            opacity: 0;
        }

        .learning-path-list-item-open-action-image,
        &:hover .learning-path-list-item-open-action-title {
            opacity: 1;
        }

        .learning-path-list-item-image-container {
            position: relative;
            height: 150px;
            border-bottom: 1px solid #abb3b6;

            .learning-path-list-item-image {
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                width: 100%;
                height: 100%;
            }
        }

        .learning-path-list-item-open-action {
            position: absolute;
            .align-absolute-element();
            width: 65px;
            height: 65px;
            box-sizing: border-box;
            background-color: @learning-path-item-action-bg-color;
            border: 2px solid @learning-path-item-action-border-color;
            border-radius: 50px;

            .learning-path-list-item-open-action-image {
                position: absolute;
                .align-absolute-element();
                width: 32px;
                height: 32px;
                background: url("images/sprites_32.png") -185px 0 no-repeat;
            }

            .learning-path-list-item-open-action-title {
                position: absolute;
                .align-absolute-element();
                color: @learning-path-item-action-color;
                font: @learning-path-item-action-title-font;
            }
        }

        .learning-path-list-item-title-wrapper {
            height: 85px;
            padding: 15px 10px;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            background-color: @learning-path-item-title-bg-color;
            color: @learning-path-item-title-color;
            font: @learning-path-item-title-font;
            box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.4);
            overflow: hidden;
        }

        .learning-path-list-item-title {
            max-height: 56px;
            word-wrap: break-word;
            overflow: hidden;
        }
    }
}

.learning-path {
    .learning-path-header-content-section {
        .display-flex();
        padding: 20px 0px;

        .edit-field-wrapper {
            .flex(1 1);
            min-width: 0;
            padding-right: 30px;
        }

        .content-section-actions-wrapper {
            width: 250px;
            .flex-shrink(0);
        }
    }

    .page-view-caption-wrapper {
        .display-flex();
        .justify-content(space-between);
        padding: 20px 0;

        .page-view-caption {
            padding: 0;
        }

        .page-view-caption-actions {
            .btn.add-courses {
                padding: 8px 35px;
            }
        }
    }

    .page-view-caption-text {
        font: @view-caption-font;
    }

    .navigation-bar-wrapper.course-selector {
        min-width: 0px;
        overflow: hidden;

        .navigation-bar {
            background-color: @course-selector-bg-color;
        }

        .course-selector-courses {
            list-style: none;
            margin: 15px;

            .course-selector-course {
                .display-flex();
                .align-items(center);
                min-height: 55px;
                margin-bottom: 10px;
                padding: 10px;
                color: @course-selector-regular-item-color;
                font: @course-selector-item-title-font;
                background-color: @course-selector-item-bg-color;
                border-radius: 5px;
                border: 2px solid transparent;
                border-bottom: 2px solid @course-selector-regular-item-border-color;
                transition: border 0.1s ease;
                cursor: pointer;

                &:hover {
                    border-bottom: 2px solid @course-selector-hover-item-border-color;


                    .course-selector-checkbox-wrapper {
                        border: 1px solid @course-selector-checkbox-color;

                        .course-selector-checkbox {
                            border: 1px solid @course-selector-checkbox-color;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0px;
                }

                &.selected {
                    border: 2px solid @course-selector-selected-item-border-color;
                    color: @course-selector-selected-item-color;
                }

                .course-selector-course-title {
                    .flex(1 0);
                    min-width: 0; // to force flexbox to break a very long word
                    word-wrap: break-word;
                }

                .course-selector-checkbox-wrapper {
                    .flex(0 0 30px);
                    position: relative;
                    height: 30px;
                    width: 30px;
                    margin-left: 20px;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    transition: border 0.1s ease;

                    &.checked {
                        border: 1px solid @course-selector-checkbox-color;
                    }

                    .course-selector-checkbox {
                        height: 100%;
                        border: 1px solid @course-selector-inactive-checkbox-color;
                        border-radius: 3px;
                        transition: background-color 0.1s ease;
                        transition: border 0.1s ease;
                    }

                    &.checked .course-selector-checkbox {
                        border: 1px solid @course-selector-checkbox-color;
                        background-color: @course-selector-checkbox-color;

                        &:after {
                            content: '';
                            position: absolute;
                            height: 30px;
                            width: 30px;
                            background-image: url(images/sprites_24.png);
                            background-position: -114px -27px;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }

    .learning-path-content {
        .list-item-content-holder {
            cursor: default;
        }

        .tip-arrow-holder {
            position: fixed;
            top: 460px;
            left: 330px;

            .tip-arrow-text {
                padding-left: 95px;
                word-wrap: break-word;
                white-space: pre-wrap;
                max-width: 340px;

                &:before {
                    .transform(rotate(30deg) scaleY(-1));
                    top: -10px;
                }
            }
        }
    }
}

/*#region Media queries */

@media (max-width: 1175px) {
    .learning-path-list-item-wrapper {
        margin-right: 4.5%;
    }
}

@media (max-width: 1125px) {
    .learning-path-list-item-wrapper {
        margin-right: 4.3%;
    }
}

@media (max-width: 1100px) {
    .learning-path-list-item-wrapper {
        margin-right: 4.0%;
    }
}

@media (max-width: 1075px) {
    .learning-path-list-item-wrapper {
        margin-right: 3.9%;
    }
}

@media (max-width: 1050px) {
    .learning-path-list-item-wrapper {
        margin-right: 3.5%;
    }
}

@media (max-width: 1024px) {
    .learning-path-list-item-wrapper {
        margin-right: 2.9%;
    }
}

/*#endregion */

