/*#region flex */

.display-flex() {
    display: -webkit-flex;
    display: flex;
}

.flex(@value) {
    -webkit-flex: @value;
    flex: @value;
}

.flex-direction(@value) {
    -webkit-flex-direction: @value;
    -ms-flex-direction: @value;
    flex-direction: @value;
}

.flex-grow(@value) {
    -webkit-flex-grow: @value;
    flex-grow: @value;
}

.flex-shrink(@value) {
    -webkit-flex-shrink: @value;
    flex-shrink: @value;
}

.align-self(@value) {
    -webkit-align-self: @value;
    align-self: @value;
}

.align-items(@value) {
    -webkit-flex-align: @value;
    -ms-flex-align: @value;
    -webkit-align-items: @value;
    align-items: @value;
}

.align-content(@value) {
    -webkit-align-content: @value;
    align-content: @value;
}

.justify-content(@value) {
    -webkit-justify-content: @value;
    justify-content: @value;
}

.flex-wrap(@value) {
    -webkit-flex-wrap: @value;
    flex-wrap: @value;
}

/*#endregion */

.transform(@value) {
    -webkit-transform: @value;
    transform: @value;
}

.user-select(@value) {
    -moz-user-select: @value;
    -ms-user-select: @value;
    -webkit-user-select: @value;
    user-select: @value;
}
