.navigation-bar {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background: #f1f1f1;
    box-shadow: 1px 0 5px 0 #dfe4e6;

    &.collapsed {
        width: 50px;
    }

    &.collapsed:hover {
        width: 54px;
        margin-right: -4px;
        border-right: 1px solid #dedede;
        box-shadow: 1px 0 5px 0 #dfe4e6;
        cursor: default;
    }

    &.collapsed:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 21px;
        top: 14px;
        right: 4px;
        background: url('images/sprites_32.png') -74px -6px;
    }
}

.navigation-bar-header {
    flex: 0 0 auto;
    position: relative;
    width: 300px;
    height: 49px;
    padding: 14px 0;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #303133;
    cursor: pointer;
}

.navigation-bar-header:hover {
    background-color: #E8E8E8;
}

.navigation-bar-header:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 21px;
    right: 10px;
    top: 13px;
    background: url('images/sprites_32.png') -111px -6px;
}

.navigation-bar-collapse-button {
    flex: 1 1 auto;
    width: 50px;
    z-index: 1;
}


@media screen and (max-width : 1630px) {
    .navigation-bar-wrapper {
        &.left-side-bar {

            & + .shell {
                section.course.index > * {
                    padding-left: 50px;
                }
            }

            &.animating + .shell {
                section.course.index > * {
                    transition: padding .4s linear 0s;
                }
            }

            &.expanded + .shell {
                section.course.index > * {
                    padding-left: 300px;
                }
            }
        }
    }
}
