.navigation-bar {
  background: #f1f1f1;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  width: 300px;
}
.navigation-bar.collapsed {
  width: 50px;
}
.navigation-bar.collapsed:hover {
  width: 52px;
  border-right: 1px solid #dedede;
  margin-right: -2px;
  cursor: default;
}
.navigation-bar.collapsed:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 21px;
  top: 14px;
  right: 4px;
  background: url('images/sprites_32.png') -74px -6px;
}
.navigation-bar-header {
  position: relative;
  width: 300px;
  height: 49px;
  padding: 14px 0;
  text-align: center;
  background: #FFFFFF;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid transparent;
  font-size: 14px;
  font-family: 'OpenSans';
  color: #303133;
  cursor: pointer;
}
.navigation-bar-header:hover {
  background-color: #E8E8E8;
}
.navigation-bar-header:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 21px;
  right: 10px;
  top: 13px;
  background: url('images/sprites_32.png') -111px -6px;
}
.navigation-bar-collapse-button {
  position: absolute;
  width: 50px;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.navigation-bar.onboarding-visible .navigation-bar-collapse-button {
  bottom: 360px;
}
@media screen and (max-width: 1630px) {
  .navigation-bar-wrapper.left-side-bar + * {
    padding-left: 50px;
  }
  .navigation-bar-wrapper.left-side-bar.animating + * {
    -moz-transition: padding .4s linear 0s;
    -webkit-transition: padding .4s linear 0s;
    transition: padding .4s linear 0s;
  }
  .navigation-bar-wrapper.left-side-bar.expanded + * {
    padding-left: 300px;
  }
}
