.notification-container {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
}


.notification {
    position: relative;
    margin: 10px;
    padding: 10px;
    -moz-min-width: 325px;
    -ms-min-width: 325px;
    -webkit-min-width: 325px;
    min-width: 325px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    font-family: Arial,sans-serif;
}

.notification-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    background-image: url("images/icons.png");
    background-position: 0 0;
}

.notification-text {
    margin: 0 15px;
    margin-right: 15px;
    margin-left: 20px;
    line-height: 17px;
}

.notification-close {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    border: 0;
    background: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    opacity: 0.5;
    cursor: default;
}

    .notification-close:hover {
        opacity: 1;
        cursor: default;
    }

.notification.info {
    border-color: #4DC0F8;
    background-color: #D4E6F2;
    color: #23485A;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.notification.error {
    border-color: #F38971;
    background-color: #f26c4f;
    color: #FFFFFF;
    -ms-text-shadow: none;
    text-shadow: none;
}

    .notification.error .notification-close {
        color: #FFFFFF;
        -ms-text-shadow: none;
        text-shadow: none;
    }

    .notification.error .notification-icon {
        margin-top: -10px;
        width: 19px;
        height: 20px;
        background-image: url(images/warning.png);
    }

    .notification.error .notification-text {
        float: left;
    }

.modalFade {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.modalFade-loader {
    width: 32px;
    height: 32px;
    background-image: url("images/loader.gif");
}

