/*#region User avatar */
/*#endregion */
.user-notification-viewer {
  position: absolute;
  display: none;
  table-layout: fixed;
  width: 100%;
  top: 56px;
  right: 223px;
  overflow: hidden;
  font-size: 12px;
  font-family: 'OpenSans';
  color: #303133;
  cursor: default;
  z-index: 200;
}
.user-notification-viewer.shown {
  display: table;
}
.user-notification-viewer.shown > * {
  display: table-cell;
  vertical-align: middle;
}
.user-notification-body {
  position: relative;
  width: 415px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}
/*#region navigation */
.user-notification-navigation {
  position: relative;
  width: 35px;
}
.user-notification-navigation .user-notification-navigation-btn {
  position: relative;
  height: 50px;
  width: 100%;
  transition: background-color ease-out 0.1s;
  border: 0px;
  background-color: transparent;
}
.user-notification-navigation .user-notification-navigation-btn:hover {
  background-color: #fafbfd;
}
.user-notification-navigation .user-notification-navigation-btn:after {
  content: '';
  position: absolute;
  top: 11px;
  width: 13px;
  height: 28px;
  background: url(../Content/images/sprites_32.png);
}
.user-notification-navigation .user-notification-navigation-btn.prev {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.user-notification-navigation .user-notification-navigation-btn.prev:after {
  right: 11px;
  background-position: -229px -38px;
}
.user-notification-navigation .user-notification-navigation-btn.next {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.user-notification-navigation .user-notification-navigation-btn.next:after {
  left: 11px;
  background-position: -269px -38px;
}
/*#endregion navigation */
.user-notification-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  background: url(../Content/images/sprites_16.png) -86px -1px;
}
.user-notification-close-btn:hover {
  background-color: #f7f7f7;
}
.user-notification-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 413px;
  min-height: 280px;
  color: #42515f;
}
.user-notification-header {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 10px 10px 0px 10px;
}
.user-notification-header .user-notification-header-image {
  align-self: center;
  width: 53px;
  height: 53px;
  background: url(../Content/images/sprites_64.png) -76px -6px;
}
.user-notification-header .user-notification-header-content {
  align-self: center;
  margin-left: 10px;
}
.user-notification-header .user-notification-header-content .user-notification-title {
  font-family: 'OpenSans-Semibold';
  font-size: 13px;
}
.user-notification-header .user-notification-header-content .user-notification-sender {
  display: block;
  font-size: 11px;
  color: #63798e;
}
.user-notification-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  word-wrap: break-word;
  padding: 10px 10px 0px 10px;
}
.user-notification-content .user-notification-actions {
  flex: 2;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.user-notification-content .user-notification-actions .btn {
  font: 13px 'OpenSans';
}
.user-notification-content .user-notification-content-text p + p {
  margin-top: 5px;
}
.user-notification-link {
  color: #50a6e9;
  cursor: pointer;
}
.user-notification-link:hover {
  text-decoration: underline;
}
.user-notification-footer {
  display: -webkit-flex;
  display: flex;
  position: relative;
  min-height: 64px;
  padding: 15px 25px 15px 45px;
  color: #63798e;
  font: 12px 'OpenSans';
  background-color: #fafbfd;
}
.user-notification-footer:before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -12px;
  background: url(images/sprites_24.png) 0px 0px;
}
.user-notification-footer .user-notification-footer-text {
  align-self: center;
}
/*#region Subscription expiration */
.user-notification-wrapper.subscription-expiration .user-notification-actions .btn {
  min-width: 145px;
  padding: 11px;
  text-align: center;
}
/*#endregion */
/*#region Collaboration invite */
.user-notification-wrapper.collaboration-invite .user-notification-header-image-wrapper {
  position: relative;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 1px 1px 2px 0px #dbdbdb;
  border-radius: 25px;
}
.user-notification-wrapper.collaboration-invite .user-notification-header-image {
  height: 36px;
  width: 36px;
  line-height: 35px;
  background: linear-gradient(145deg, #73cece 0%, #65caca 0%, #73cece 40%, #4dc1c1 41%, #4dc1c1 100%);
  border: 2px solid #fff;
  border-radius: 3px;
  box-sizing: content-box;
  color: #fff;
  font: 22px 'OpenSans-Semibold';
  text-align: center;
  vertical-align: top;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  line-height: 45px;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn {
  min-width: 100px;
  padding: 0px 10px;
  height: 40px;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn + .btn {
  margin-left: 20px;
}
/*#endregion */
