.user-notification-viewer {
    position: absolute;
    display: none;
    table-layout: fixed;
    width: 100%;
    top: 56px;
    right: 223px;
    overflow: hidden;
    font-size: 12px;
    font-family: 'OpenSans';
    color: #303133;
    cursor: default;
    z-index: 200;
}

.user-notification-viewer.shown {
    display: table;

    & > * {
        display: table-cell;
        vertical-align: middle;
    }
}

.user-notification-body {
    position: relative;
    width: 415px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

/*#region navigation */

.user-notification-navigation-btn() {
    position: relative;
    height: 50px;
    transition: background-color ease-out 0.1s;

    &:hover {
        background-color: #fafbfd;
    }

    &:after {
        content: '';
        position: absolute;
        top: 11px;
        width: 13px;
        height: 28px;
        background: url(../Content/images/sprites_32.png);
    }
}

.user-notification-navigation-prev {
    position: relative;
    width: 35px;

    .user-notification-navigation-prev-btn {
        .user-notification-navigation-btn();
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        &:after {
            right: 11px;
            background-position: -229px -38px;
        }
    }
}

.user-notification-navigation-next {
    position: relative;
    width: 35px;

    .user-notification-navigation-next-btn {
        .user-notification-navigation-btn();
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        &:after {
            left: 11px;
            background-position: -269px -38px;
        }
    }
}

/*#endregion navigation */

.user-notification-list-container {
    overflow: hidden;
}

.user-notification-list {
    list-style-type: none;
}

.user-notification-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17px;
    height: 17px;
    border: 1px solid #ddd;
    background: url(../Content/images/sprites_16.png) -86px -1px;
}

.user-notification-close-btn:hover {
    background-color: #f7f7f7;
}

.user-notification-wrapper {
    float: left;
    width: 413px;
    color: #42515f;
}

.user-notification-container {
    height: 220px;
    padding: 10px 10px 0;
}

.user-notification-header {
    margin-bottom: 10px;
}

.user-notification-header > div {
    display: inline-block;
    vertical-align: middle;
}

.user-notification-header-image {
    width: 53px;
    height: 53px;
    background: url(../Content/images/sprites_64.png) -76px -6px;
}

.user-notification-header-content {
    margin-left: 10px;
}

.user-notification-title {
    font-family: 'OpenSans-Semibold';
    font-size: 13px;
}

.user-notification-sender {
    display: block;
    font-size: 11px;
    color: #63798e;
}

.user-notification-content {
    word-wrap: break-word;

    p + p {
        margin-top: 5px;
    }
}

.user-notification-btn-wrapper {
    text-align: center;

    .btn {
        font: 13px 'OpenSans';
    }
}

.user-notification-link {
    color: #50a6e9;
    cursor: pointer;
}

.user-notification-link:hover {
    text-decoration: underline;
}

.user-notification-footer {
    position: relative;
    min-height: 64px;
    padding: 15px 25px 15px 45px;
    color: #63798e;
    font: 12px 'OpenSans';
    background-color: #fafbfd;
}

.user-notification-footer:before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -12px;
    background: url(images/sprites_24.png) 0px 0px;
}

/*#region Subscription expiration */

.user-notification-wrapper.subscription-expiration {

    .btn {
        display: inline-block;
        min-width: 145px;
        padding: 11px;
        margin: 14px 0;
    }
}

/*#endregion */

/*#region Collaboration invite */

.user-notification-wrapper.collaboration-invite {

    .user-notification-btn-wrapper {
        padding: 34px 0px;
    }

    .btn {
        min-width: 100px;
        padding: 0px 10px;
        height: 40px;
    }

    .btn + .btn {
        margin-left: 20px;
    }

    .user-notification-footer {
        p {
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
        }
    }
}

/*#endregion */
