.notify {
    position: fixed;
    right: 27px;
    bottom: 12px;
    z-index: 200;
}

.notifications-container {
    text-align: right;
}

.notification {
    padding: 15px 15px 15px 47px;
    font-family: 'OpenSans';
    font-size: 12px; 
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    opacity: 0.9;
}

.notification.success {
    color: #FFFFFF;
    background-color: #435160;
}

.notification.error {
    color: #FFFFFF;
    background-color: #e15b45;
}

    .notification-text:before {
        content: '';
        display: inline-block;
        height: 18px;
        width: 18px;
        position: absolute;
        left: 15px;
        top: 14px;
    }

.notification.success .notification-text:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAARCAYAAADdRIy+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjZENjdCM0JDQzc0MTFFMzhFNzg4NUMyMURGQkRGN0QiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjZENjdCM0NDQzc0MTFFMzhFNzg4NUMyMURGQkRGN0QiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2NkQ2N0IzOUNDNzQxMUUzOEU3ODg1QzIxREZCREY3RCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2NkQ2N0IzQUNDNzQxMUUzOEU3ODg1QzIxREZCREY3RCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlMxAHQAAAGASURBVHjapNM9S8NAHAbwxCioiIPvVjcR34K4dRO69Bt06NDFFIQo6NfI5uYncRMUHQRxkFIToXRzcehQ2qZNmuR8rl7kvFxtbR94aDguP45/rgohRBmxy+gtqit8xsBK5DufjUZDHwdcQcuES7fbfQCljQImMN/3Hcuy9kDNohP/wVbRNx7zPK9smuYRoBQ63zsl26yixwMwW8BKxWLxEMgmuoTOxCek2DUaBkFwIsHWRKzT6bwWCgU9gbEZXnF7A8zEwLLKsHXUEbCXfD5/IMVowjA8x76IR9vtttFqtVJ4fucx13Wfc7ncPl7bQBcTGItWq9UuRDSKog8Be8pms7uDMIXdn7lqtXpJISIJsMdMJrMjYnQssqjoFP3slUrlTESbzea9gE3HmBRkiz+o4zin9PJTDH+pu3Q6vd0P6wuKqG3bRr1ev9F1fYthCzJMBqr8oorgZ5LNKB66h7qoTz9cAui98nt+splq8YkoxBopQ0T9Yz2+EhQiypD5EmAARYqD3oox51IAAAAASUVORK5CYII=') /*images/notify/check.png*/;
}

.notification.error .notification-text:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzVGODc3MDVDQzc0MTFFM0I0MUNGRUJFNzc0NkUxNzciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzVGODc3MDZDQzc0MTFFM0I0MUNGRUJFNzc0NkUxNzciPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NUY4NzcwM0NDNzQxMUUzQjQxQ0ZFQkU3NzQ2RTE3NyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NUY4NzcwNENDNzQxMUUzQjQxQ0ZFQkU3NzQ2RTE3NyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pu7VZP4AAAIeSURBVHjapJQxT9tQFIVjxyngllKpAgHNAEJIEWtGKM3GDwCBxK9ggo6ZmMoEC13SKXskBpIhUrIkAxKJIBIgNqR2iUWiJBjbic250rX04tghhSsd2X73vc/n3XdtyXGc0CtxCMnQT7+kJEn9AwQcojXIJum6vk7rvXMGYggsAt04HL1e7y6ZTKrvAe45nmg0GgdYEn4L8CukeYG2bT/mcrl5ceujAo94m7elUmk7n8/vGoZxT2OtVusEy5T/AX6DdKibyWRWMSUKzafT6R8Ys+DyuVwuL7suRwGekhPLsq6QnoNmoM8k0zSvKNfpdFJ4jowCXCQWb/efqqoE/ERbjMfjEbj7y+W04HKF+3Mo8FQ8hEqlsoMpY5zbEHPtdvsPuRwGjEKGuAjNnMeUca7XuefEzUKhsDzgUgAeO4Nh12q1NdQszl9MX+DEfw+4ZNgs9OQDJJfZbrd75peDSz2bzS72uWTgLycg0H+XOKBKUL7ZbB73ucTYF3LvNxkgLRaLLSQSiSjcNANctlOp1CzV2QXuBb2dCl8sFjer1eqW205+Ua/X96m1XGDgdkYNNPw1UBPkUsEXcQR9x/iSoijTsixPhcPhSSo0fp7j0Bi/mFrqGbc2StGiEmBdHYf2oGnaBdfRlPjmI6TSr8n9EQtXmxXi0yS535x77UFPUEdiCLn4wPeSIBEe8kAcQQQ0IcNdKHtAIiQI6IWS7BcBBgDKXJMLmWGeEQAAAABJRU5ErkJggg==') /*images/notify/error.png*/;
}

