.notification-container {
    position: absolute;
    right: 0;
    top: 4px;
}

.notification {
    position: relative;
    padding: 10px;
    min-width: 164px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
}

.notification-text {
    margin: 0 15px;
    margin-right: 20px;
    margin-left: 25px;
    font-family: 'OpenSans';
    font-size: 12px;
}

    .notification-text:after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -9px;
        background: url("images/icons.png") 0 0;
    }

.notification-close {
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -6px;
    border: 0;
    background: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    cursor: default;
}

    .notification-close:hover {
        cursor: default;
    }

.notification.info {
    border-color: #eeeeee #f8f8f8 #c7c7c7 #f8f8f8;
    background-color: white;
    color: #909399;
}

.notification.error {
    border-color: #eed3d7;
    background: #f2dede;
    color: #b94a48;
}

    .notification.error .notification-close {
        color: #c1b1b1;
    }

    .notification.error .notification-text:after {
        margin-top: -10px;
        width: 18px;
        height: 18px;
        background-position: -19px 0;
    }

.modalFade {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.modalFade-loader {
    width: 32px;
    height: 32px;
    background-image: url("images/loader.gif");
}
