.notify {
    z-index: 100;
}

    .notify > .content-holder > div {
        position: relative;
    }

.notification-container {
    margin-top: 6px;
    position: absolute;
    right: 0;
}

.notification {
    position: relative;
    padding: 10px;
    min-width: 164px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #F7F7F7;
}

.notification-text {
    display: block;
    margin: 0 15px;
    margin-right: 20px;
    margin-left: 25px;
    font-family: 'OpenSans';
    font-size: 12px;
    cursor: default;
}

    .notification-text:after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 10px;
        margin-top: -9px;
        background: url("images/sprites.png") 0 0;
    }

.notification-close {
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -7px;
    border: 0;
    background: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    cursor: default;
    color: #B5B5B5;
}

    .notification-close:hover {
        cursor: default;
        color: #919191;
    }

.notification.info {
    background-color: #FFFFFF;
    color: #909399;
}

.notification.success {
    background-color: #FFFFFF;
    color: #017125;
}

.notification.error {
    background-color: #F8EEED;
    color: #b94a48;
}

    .notification.info .notification-text:after {
        background-position: -240px -196px;
    }

    .notification.success .notification-text:after {
        background-position: -180px -196px;
    }

    .notification.error .notification-text:after {
        background-position: -211px -196px;
    }

.modalFade {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.modalFade-loader {
    position: fixed;
    top: 50%;
    right: 50%;
    width: 32px;
    height: 32px;
    background-image: url("images/loader.gif");
}
