/*#region User avatar */
/*#endregion */
.user-notification-viewer {
  position: absolute;
  display: none;
  table-layout: fixed;
  width: 100%;
  top: 56px;
  left: -220px;
  overflow: hidden;
  font-size: 12px;
  font-family: 'OpenSans';
  color: #303133;
  cursor: default;
  z-index: 200;
}
.user-notification-viewer.shown {
  display: table;
}
.user-notification-viewer.shown > * {
  display: table-cell;
  vertical-align: middle;
}
.user-notification-body {
  position: relative;
  width: 415px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}
/*#region navigation */
.user-notification-navigation {
  position: relative;
  width: 35px;
}
.user-notification-navigation .user-notification-navigation-btn {
  position: relative;
  height: 50px;
  width: 100%;
  transition: background-color ease-out 0.1s;
  border: 0px;
  background-color: transparent;
}
.user-notification-navigation .user-notification-navigation-btn:hover {
  background-color: #fafbfd;
}
.user-notification-navigation .user-notification-navigation-btn:after {
  content: '';
  position: absolute;
  top: 11px;
  width: 13px;
  height: 28px;
  background: url(../Content/images/sprites_32.png);
}
.user-notification-navigation .user-notification-navigation-btn.prev {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.user-notification-navigation .user-notification-navigation-btn.prev:after {
  right: 11px;
  background-position: -229px -38px;
}
.user-notification-navigation .user-notification-navigation-btn.next {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.user-notification-navigation .user-notification-navigation-btn.next:after {
  left: 11px;
  background-position: -269px -38px;
}
/*#endregion navigation */
.user-notification-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  background: url(../Content/images/sprites_16.png) -86px -1px;
}
.user-notification-close-btn:hover {
  background-color: #f7f7f7;
}
.user-notification-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 413px;
  height: 280px;
  color: #42515f;
}
.user-notification-header {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 10px 10px 0px 10px;
}
.user-notification-header .user-notification-header-image {
  align-self: center;
  width: 53px;
  height: 53px;
  background: url(../Content/images/sprites_64.png) -76px -6px;
}
.user-notification-header .user-notification-header-content {
  align-self: center;
  margin-left: 10px;
}
.user-notification-header .user-notification-header-content .user-notification-title {
  font-family: 'OpenSans-Semibold';
  font-size: 13px;
}
.user-notification-header .user-notification-header-content .user-notification-sender {
  display: block;
  font-size: 11px;
  color: #63798e;
}
.user-notification-content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  word-wrap: break-word;
  padding: 10px 10px 0px 10px;
}
.user-notification-content .user-notification-actions {
  flex: 2;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.user-notification-content .user-notification-actions .btn {
  font: 13px 'OpenSans';
}
.user-notification-content .user-notification-content-text p + p {
  margin-top: 5px;
}
.user-notification-link {
  color: #50a6e9;
  cursor: pointer;
}
.user-notification-link:hover {
  text-decoration: underline;
}
.user-notification-footer {
  display: -webkit-flex;
  display: flex;
  position: relative;
  min-height: 64px;
  padding: 15px 25px 15px 45px;
  color: #63798e;
  font: 12px 'OpenSans';
  background-color: #fafbfd;
}
.user-notification-footer:before {
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -12px;
  background: url(images/sprites_24.png) 0px 0px;
}
.user-notification-footer .user-notification-footer-text {
  align-self: center;
}
/*#region Subscription expiration */
.user-notification-wrapper.subscription-expiration .user-notification-actions .btn {
  min-width: 145px;
  padding: 11px;
  text-align: center;
}
/*#endregion */
/*#region Collaboration invite */
.user-notification-wrapper.collaboration-invite .user-notification-header-image-wrapper {
  position: relative;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 1px 1px 2px 0px #dbdbdb;
  border-radius: 25px;
  margin: 0 2px 2px 0;
}
.user-notification-wrapper.collaboration-invite .user-notification-header-image {
  height: 36px;
  width: 36px;
  line-height: 35px;
  background: linear-gradient(145deg, #73cece 0%, #65caca 0%, #73cece 40%, #4dc1c1 41%, #4dc1c1 100%);
  border: 2px solid #fff;
  border-radius: 3px;
  box-sizing: content-box;
  color: #fff;
  font: 22px 'OpenSans-Semibold';
  text-align: center;
  vertical-align: top;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 25px;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn {
  min-width: 100px;
  padding: 0px 10px;
  height: 40px;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn.progress {
  background: none repeat scroll 0 0 #65bd77;
  border: 1px solid #61b472;
  color: white;
  cursor: default;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn.progress .btn-caption {
  background-image: url("data:image/gif;base64,R0lGODlhEAAQAOMAAGS+fMzq1IzOnHzGjPz+/KTatNzy5KzetGzChNTq1ITKlKzevGW9dwAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAMACwAAAAAEAAQAAAEUJDJyYSgmApCLkOYEigVdyVEQAWpZH0cAUoiiaFJpn+7PgSJAcNg6KEIOaKRk+tJfkEnQ3GwSQACQChm3Xgmh9higtUyBkIFd1co0A5fKSUCACH5BAkKAA8ALAAAAAAQABAAg2y+fNTq1JTSpOz27IzOnHzGjKzatPz+/GzCfPT69Nzy5KTarOz29LTevGzChGW9dwRa8Mn5SqGYlnNufsgCVEn3GIxBLcciWRJzJBQgZkaifnyPAY3GKNhrcBoPIs9w9EkQQYQTIRhRHBlEiSF9HrCFQKAg4BwElK6CowAMZl3M+zB4OKo8QSKBxkQAACH5BAkKAA8ALAAAAAAQABAAg2zCfLzixJTSnPT6/NTq1HzGjLTevKTWrNzy5HTChMzq1JTSpPz+/Nzu3ITKlGW9dwRU8MlJq5UI3elmlkKzUA7TVQ3TVGcVjlssTwtcxwvDjAJ85buZ5CYpHAqXBKUwYAyQFAKDMDnoGAeAwQBIXJWPwrUQ0AUeUurEiFToFBLwpdAgQCkRACH5BAkKAA8ALAAAAAAQABAAg2y+fLzixJTSpITKjHzKjOTy5KzevHTChIzOlPT69GzCfKTWrITKlLTevPz+/GW9dwRW8MlJq5Wt3almlodxUIoDWIajUad1NOMmI0WByATxFI5TbIQeg+fbMHoDmg3HmAAYLdkDwCtEJYaEYXIUPgQCScKR4FQVi97ikV1JnqeUYyudBgKdSgQAIfkECQoADgAsAAAAABAAEACDZL58xObMjM6c5PbsfMaMdMKE3O7cpNas9Pr0bL58lNKkhMqU3PLk/P78Zb13AAAABFvQyUnrLKpIpawsSINonJQIwKQ0bEcJjXCFY3UmFKZ5VxDsHkAqwArwAINBgtgwehJJQMEHtABwEyyPQnRSFAaXI8Fq4AgECaPB4DYdC9bCARabNq3tBHA4pCoRACH5BAkKABAALAAAAAAQABAAhGS+fLTevIzOlNzu3KTarPT69HTChOz27KzatGzCfLzixIzOnOT27KTatPz+/HzGjGW9dwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVhICSOC8MIYwoBDwAxjsOoIjA4A3DEM2Skj5jjITChDI5f7ZajKUcsFy0FQBASUxUihshCFAFIg+sNKCCJBkLqbXsJB4Iz8ITsDqIEFhJwhEcNcT4FBT8GdFlBQ24iCyg0IQAh+QQJCgAPACwAAAAAEAAQAINkvny03ryMzpzs9uys2rSEypTM6tR0woSc0qRswnzE5syUzpz8/vys3rTU7txlvXcEV/DJeZQ6M2vFmHkFUWQBEzxGZxQdM0rtUxkH0TZTeWZs92qa0E8gABoFnaLxgUA8kAylsSlZSJfY7NNxlSQEiYyD4QAuGIuMgCsxfB6ABQA7GGgniTAwAgAh+QQJCgAPACwAAAAAEAAQAINsvnzE5syU0qSMzpzk8uSk2qx8xoz0+vR0woSc0qRswnzs9uys2rT8/vyc1qRlvXcEWfDJCRgDM2vWGnvKoGQO4TycpyzNMkpEQzzVNXTNMJWJtrYvjU+AkRgMwongcBAYOsjkoXNAdBDJx7RxeBiw2WUzS34gGGBNWsL5qBvrM7hQmKyFgUB5L4kAADs=");
  background-position: 10px center;
  background-repeat: no-repeat;
  color: transparent;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn.disabled,
.user-notification-wrapper.collaboration-invite .user-notification-actions .btne.disabled:hover,
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn.disabled:active {
  background: #5fb06f;
  border-color: #61b472;
  color: #fdfdfd;
  text-shadow: none;
  opacity: 0.3;
}
.user-notification-wrapper.collaboration-invite .user-notification-actions .btn + .btn {
  margin-left: 20px;
}
/*#endregion */
