.app {
    height: 100%;
}

.not-supported-page {
    height: 100%;
    display: none;
    background: white;
}

.not-supported-device-page {
    height: 100%;
}

.bg-table {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bg-table .top-bg {
    height: 50%;
}

.bg-table .bottom-bg {
    height: 50%;
    background-color: #f9fafc;
}

.bg-table .toothed-bg {
    height: 8px;
    background-image: url('images/tooth.png');
    background-position: center center;
    background-repeat: repeat-x;
}

.markup-table {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.eg-logo-wrapper {
    height: 76px;
    vertical-align: top;
}

.eg-logo-background {
    height: 56px;
    background-color: #393939;
}

.eg-logo-wrapper .eg-logo {
    height: 36px;
    background: url('images/eg_logo.png') no-repeat;
    width: 200px;
    float: left;
    margin: 14px 0 0 11px;
}

.markup-table .content-cell {
    width: 650px;
    text-align: center;
    vertical-align: middle;
}

.markup-table .content-item {
    color: #546677;
    font-family: sans-serif;
    font-size: 15px;
}

.page-caption {
    line-height: 1.2;
    margin: 0;
    text-align: center;
    color: #469dd5;
    font-family: sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: normal;
}

.page-caption-device {
    line-height: 1.2;
    margin: 0;
    text-align: center;
    color: #469dd5;
    font-family: sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: normal;
}

.page-caption-description {
    line-height: 1.7;
    margin: 25px 40px 60px;
    text-align: center;
}

.page-caption-description-device {
    line-height: 1.7;
    margin: 25px 40px 60px;
    text-align: center;
}

.page-caption-description-device a {
    color: #469dd5;
    text-decoration: underline;
}

.supported-browsers-group {
    width: 100%;
    margin-bottom: 50px;
    border-collapse: separate;
}

.supported-browsers-group .supported-browser-item {
    width: 200px;
}

.download-browser-link {
    display: block;
    height: 187px;
    width: 183px;
    margin: 0 auto;
    background-image: url('images/supported-browser-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    text-decoration: none;
}

.download-browser-link:hover .browser-title {
    color: #469dd5;
}

.download-browser-link:hover .browser-title:after {
    width: 100%;
    -webkit-transition: width 0.15s linear;
    -moz-transition: width 0.15s linear;
    -o-transition: width 0.15s linear;
    transition: width 0.15s linear;
}

.download-browser-link img {
    height: 128px;
    width: 124px;
    outline: 0;
    border: none;
    vertical-align: top;
}

.download-browser-link .browser-title {
    line-height: 1;
    position: relative;
    color: #546677;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

.download-browser-link .browser-title:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #469dd5;
}

.try-anyway-wrapper {
    text-align: center;
}

.try-anyway-wrapper .try-anyway {
    border-bottom: 1px solid #546677;
    color: #546677;
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.try-anyway-wrapper .try-anyway:hover {
    border-bottom: 1px solid #469dd5;
    color: #469dd5;
}

.markup-table .bottom-aligner {
    height: 66px;
}

.not-supported-page.mobile .content-cell {
    width: 640px;
}

.not-supported-page.ios .chrome,
.not-supported-page.ios .chrome-mac,
.not-supported-page.ios .firefox,
.not-supported-page.ios .ie,
.not-supported-page.ios .chrome-mobile {
    display: none;
}

.not-supported-page.mac .chrome,
.not-supported-page.mac .firefox,
.not-supported-page.mac .ie,
.not-supported-page.mac .chrome-mobile {
    display: none;
}

.not-supported-page.android .firefox,
.not-supported-page.android .ie,
.not-supported-page.android .safari,
.not-supported-page.android .chrome,
.not-supported-page.android .chrome-mac {
    display: none;
}

.not-supported-page.windows .safari,
.not-supported-page.windows .chrome-mac,
.not-supported-page.windows .chrome-mobile {
    display: none;
}

.no-skip .try-anyway-wrapper {
    display: none;
}
