.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
    padding-bottom: 10px;
}

.navbar {
    height: 57px;
    width: 100%;
    margin: 12px 0 7px;
}

.nav-control {
    height: 57px;
    width: 100%;
    line-height: 57px;
    -ms-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity=60);
    white-space: nowrap;
}

a.nav-control:hover {
    text-decoration: none;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.nav-btn {
    height: 57px;
    line-height: 57px;
    width: 57px;
    margin-right: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

    .nav-btn.back-btn {
        background-image: url(images/back-btn.png);
        background-repeat: no-repeat;
    }

.nav-title {
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.objective-header {
    height: 240px;
    width: 100%;
    padding: 5px 0 15px;
}

.objective-image {
    height: 158px;
    width: 270px;
    vertical-align: top;
}

.objective-info {
    margin-left: 275px;
    padding: 15px;
}

.questions-header {
    height: 80px;
    width: 100%;
    text-transform: uppercase;
}

.questions-list-wrapper {
    width: 100%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    background-color: white;
}

.questions-list {
    height: 100%;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
    overflow-x: hidden;
}

.questions-list-item {
    display: block;
    height: 119px;
    padding-top: 7px;
    margin-top: -1px;
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
}

    .questions-list-item.selected {
        background-color: #f5f5f5;
    }

    .questions-list-item:hover .question-options {
        display: block;
        background-color: rgba(0,0,0,.5);
    }

    .questions-list-item:hover .hover-indicator {
        margin-left: -1px;
        background-color: #f26c4f;
    }

    .questions-list-item > .inline {
        height: 100px;
    }

.hover-indicator {
    height: 117px;
    width: 10px;
    float: left;
    margin-top: -7px;
    margin-right: 10px;
}

.question-logo-wrapper {
    height: 101px;
    width: 190px;
    float: left;
    position: relative;
}

.image-background,
.question-options {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.question-logo {
    height: 93px;
    width: 182px;
    vertical-align: top;
}

.question-options {
    display: none;
    z-index: 10;
    color: #cecece;
    font-size: 12px;
    text-align: center;
}

.question-select,
.question-open {
    height: 100%;
    width: 49%;
    position: relative;
    float: left;
    padding: 13px 0;
}

.question-open {
    cursor: pointer;
}

    .question-select .action-img,
    .question-open .action-img {
        height: 34px;
        width: 34px;
        background-image: url(images/small-options-icons.png);
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
    }

.question-select .unchecked {
    background-position: 0 0;
}

.question-select .checked {
    background-position: 0 -34px;
}

.question-open .action-img {
    margin-top: -1px;
    background-position: 0 -102px;
}

.separator {
    height: 100%;
    width: 2%;
    float: left;
    background-color: #e0e0e0;
    background-color: rgba(224, 224, 224, 0.5);
}

.question-logo-wrapper:hover .question-select:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}

.question-logo-wrapper:hover .question-open:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}

.question-title-wrapper {
    display: block;
    height: 110px;
    margin-left: 222px;
    margin-right: 10px;
}

.question-title {
    height: 100px;
    line-height: 1.4;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border: 1px solid transparent;
    color: #333333;
    font-size: 13px;
    font-family: Arial, sans-serif;
    -ms-word-break: break-all;
    word-break: break-all;
    min-height: 40px;
    vertical-align: top;
}

    .question-title textarea {
        height: 100%;
        width: 100%;
        padding: 12px 10px;
        vertical-align: top;
        border: none;
        color: #666;
        font-size: 13px;
        font-family: Arial,sans-serif;
        resize: none;
        overflow-y: hidden;
        background-color: transparent;
    }

    .question-title p {
        padding: 8px 10px;
    }

    .question-title textarea:focus {
        outline: none;
    }

/*.question-title-error-message {
    color: #f26c4f;
    position: absolute;
    top: -20px;
    left: 0px;
}*/

.question-title-wrapper:hover .question-title {
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.question-title-wrapper.active .question-title {
    border: 1px solid rgba(68, 192, 252, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    -moz-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    box-shadow: 0 0 3px rgba(68, 192, 252, 1);
}

.question-title-wrapper.error .question-title {
    border: 1px solid rgba(242, 108, 79, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(242, 108, 79, 1);
    -moz-box-shadow: 0 0 3px rgba(242, 108, 79, 1);
    box-shadow: 0 0 3px rgba(242, 108, 79, 1);
}

.objective-toolbar-remove-btn.nav-element {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 20px;
    cursor: pointer;
}

.question-title-wrapper.active .question-title-chars-counter {
    display: block;
}

.question-title-wrapper.error .question-title-chars-counter {
    background-color: #f26c4f;
    display: block;
}

.question-title-chars-counter {
    display: none;
    color: white;
    background-color: #6DCEFC;
    padding: 0 5px;
    width: auto;
    height: 17px;
    line-height: 17px;
    position: absolute;
    font-size: 12px;
    margin-top: 4px;
    right: 26px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    text-align: center;
}
