.objectives,
.experiences {
    position: relative;
    margin: auto;
    max-width: 1220px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

    .objectives a:hover, .objectives a:focus, .objectives a:active, .objectives a:visited, .objectives a:link,
    .experiences a:hover, .experiences a:focus, .experiences a:active, .experiences a:visited, .experiences a:link {
        color: #999999;
        text-decoration: none;
    }

.objectives-navigation,
.experiences-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    font-size: 14px;
    text-align: center;
}

    .objectives-navigation > a, .objectives-navigation > span,
    .experiences-navigation > a, .experiences-navigation > span {
        display: inline-block;
        margin: 20px;
        padding-top: 5px;
        border-top: 5px solid #999999;
        vertical-align: middle;
    }

    .objectives-navigation > a,
    .experiences-navigation > a {
        opacity: 0.6;
    }

        .objectives-navigation > a:hover,
        .experiences-navigation > a:hover {
            opacity: 0.8;
        }

.objectives-header,
.experiences-header {
    position: absolute;
    top: 70px;
    right: 40px;
    left: 20px;
    height: 100px;
}

.objectives-header-title, .objectives-header-sort-label,
.experiences-header-title, .experiences-header-sort-label,
.questions-header-title, .questions-header-sort-label  {
    display: table-cell;
    white-space: nowrap;
}


.objectives-header-title,
.experiences-header-title,
.questions-header-title  {
    overflow: hidden;
    width: 100%;
    color: #666666;
    font-size: 18px;
}

    .objectives-header-title > *,
    .experiences-header-title > *,
    .questions-header-title > *{
        display: inline-block;
        vertical-align: middle;
    }

    .objectives-header-title hr,
    .experiences-header-title hr,
    .questions-header-title hr  {
        width: 100%;
    }

.objectives-header-create-link,
.experiences-header-create-link,
.questions-header-create-link {
    width: 64px;
    height: 64px;
    background: url('images/objexp-sprite.png') 0 0;
}

    .objectives-header-create-link:hover,
    .experiences-header-create-link:hover,
    .questions-header-create-link:hover {
        background-position: 0 -74px;
    }


.objectives-header-sort-label,
.experiences-header-sort-label,
.questions-header-sort-label {
    padding-left: 10px;
}

.objectives-header-sort-label, .objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-header-sort-label, .experiences-sort-by-title-asc, .experiences-sort-by-title-desc,
.questions-header-sort-label, .questions-sort-by-title-asc, .questions-sort-by-title-desc {
    color: #666;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.objectives-header-sort-container,
.experiences-header-sort-container,
.questions-header-sort-container {
    float: right;
    margin-top: -20px;
}

.objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-sort-by-title-asc, .experiences-sort-by-title-desc,
.questions-sort-by-title-asc, .questions-sort-by-title-desc {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    border: 1px solid #acacac;
}

    .objectives-sort-by-title-asc:hover, .objectives-sort-by-title-desc:hover,
    .experiences-sort-by-title-asc:hover, .experiences-sort-by-title-desc:hover,
    .questions-sort-by-title-asc:hover, .questions-sort-by-title-desc:hover {
        cursor: pointer;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }

.active.objectives-sort-by-title-asc:hover, .active.objectives-sort-by-title-desc:hover,
.active.experiences-sort-by-title-asc:hover, .active.experiences-sort-by-title-desc:hover,
.active.questions-sort-by-title-asc:hover, .active.questions-sort-by-title-desc:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.objectives-sort-by-title-asc.active, .objectives-sort-by-title-desc.active,
.experiences-sort-by-title-asc.active, .experiences-sort-by-title-desc.active,
.questions-sort-by-title-asc.active, .questions-sort-by-title-desc.active {
    border-color: black;
    color: #666;
    opacity: 1;
}


.objectives-navigation, .experiences-navigation,
.objectives-header, .experiences-header, .questions-header {
    text-transform: uppercase;
}


.objectives-content-wrapper,
.experiences-content {
    position: absolute;
    top: 170px;
    bottom: 0;
    width: 100%;
}

.objectives-content,
.experiences-content-wrapper {
    height: 100%;
    padding-top: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.objectives-list-wrapper,
.experiences-list-wrapper {
    margin: auto;
    max-width: 1200px;
}

.objectives-list,
.experiences-list {
    margin: 0;
}

.objective-brief,
.experience-brief {
    width: 360px;
    position: relative;
    float: left;
    margin: 0 20px 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.objective-brief {
    height: 230px;
}

.experience-brief {
    height: 243px;
}

.objective-brief-selected,
.experience-brief-selected {
    -webkit-box-shadow: 0 0 7px 2px #6bb4d8;
    -moz-box-shadow: 0 0 7px 2px #6bb4d8;
    box-shadow: 0 0 7px 2px #6bb4d8;
}

.objective-brief-image,
.experience-brief-image {
    width: 352px;
    height: 182px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.experience-brief-image {
    background-image: url(images/experience.png);
}

.objective-brief-options,
.experience-brief-options {
    height: 182px;
    width: 352px;
    position: absolute;
    top: 0;
    left: 0;
}

.objective-brief:hover .objective-brief-options,
.experience-brief:hover .experience-brief-options {
    background-color: rgba(0, 0, 0, 0.4);
}

.objective-brief-options-select, .objective-brief-options-open,
.experience-brief-options-select, .experience-brief-options-open {
    height: 182px;
    width: 50%;
    float: left;
    padding-top: 51px;
    color: #cecece;
    text-align: center;
    font-size: 18px;
}

    .objective-brief-options-select:hover, .objective-brief-options-open:hover,
    .experience-brief-options-select:hover, .experience-brief-options-open:hover {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

.objective-brief-options-separator,
.experience-brief-options-separator {
    height: 140px;
    position: absolute;
    left: 50%;
    margin: 20px 0;
    margin-left: -2px;
    width: 4px;
    background-color: #7E7D7B;
}

.objective-brief-options-select-image,
.experience-brief-options-select-image {
    display: inline-block;
    margin-top: 5px;
    width: 51px;
    height: 52px;
    background: url('images/objexp-sprite.png') 0 -148px;
}

    .objective-brief-options-select-image.selected,
    .experience-brief-options-select-image.selected {
        background-position: 0 -210px;
    }

.objective-brief-options-open-image,
.experience-brief-options-open-image {
    display: inline-block;
    margin-top: 10px;
    width: 51px;
    height: 39px;
    background: url('images/objexp-sprite.png') 0 -272px;
}

.objective-brief-options-select, .objective-brief-options-separator, .objective-brief-options-open,
.experience-brief-options-select, .experience-brief-options-separator, .experience-brief-options-open {
    display: none;
}

.objective-brief:hover .objective-brief-options-select, .objective-brief:hover .objective-brief-options-separator, .objective-brief:hover .objective-brief-options-open,
.experience-brief:hover .experience-brief-options-select, .experience-brief:hover .experience-brief-options-separator, .experience-brief:hover .experience-brief-options-open {
    display: block;
}

.objective-brief-title,
.experience-brief-title {
    float: left;
    overflow: hidden;
    padding: 0 10px;
    width: 321px;
    height: 38px;
    border-right: 1px solid #E3E3E3;
    color: #333333;
    font-size: 12px;
    line-height: 40px;
}

    .objective-brief-title > span,
    .experience-brief-title > span {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        word-break: break-all;
    }

.experience-brief-title {
    width: 323px;
}

.objective-brief-toolbar,
.experience-brief-toolbar {
    height: 40px;
    border: 1px solid #E3E3E3;
    background: #fff;
}

.objective-brief-toolbar-icon-question {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url('images/objexp-sprite.png') 0 -321px;
}

.experience-brief-toolbar-icon-objective {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('images/objexp-sprite.png') 1px -346px;
}

.objective-brief-toolbar-question-count,
.experience-brief-toolbar-objective-count {
    display: block;
    float: left;
    padding: 5px 0;
    width: 25px;
    color: #484848;
    text-align: center;
    font-size: 12px;
    font-family: Arial,sans-serif;
    line-height: 12px;
}

.substrate-block,
.substrate-inner {
    display: block;
    height: 13px;
    width: 360px;
    background-color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
}

.substrate-inner {
    position: relative;
    bottom: 3px;
    overflow-x: hidden;
}

@media (max-width: 1219px) {
    .objectives,
    .experiences {
        max-width: 820px;
    }

    .objectives-list-wrapper,
    .objectives-list-wrapper {
        max-width: 800px;
    }
}


@media (max-width: 819px) {
    .objectives,
    .experiences {
        max-width: 420px;
    }

    .objectives-list-wrapper,
    .objectives-list-wrapper {
        max-width: 400px;
    }
}
