.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
    padding-bottom: 10px;
}

.navbar {
    height: 57px;
    display: inline-block;
    margin: 12px 0 7px;
}

.nav-control {
    height: 57px;
    line-height: 57px;
    -ms-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity=60);
    white-space: nowrap;
}

a.nav-control:hover {
    text-decoration: none;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.nav-icon {
    height: 57px;
    width: 57px;
    background-position: center center;
    background-repeat: no-repeat;
}

.nav-control.left .nav-icon {
    margin-right: 13px;
}

.nav-control.right .nav-icon {
    margin-left: 13px;
}

.nav-icon.back-icon {
    background-image: url(images/back-btn.png);
    background-repeat: no-repeat;
}

.nav-title {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.objective-image {
    height: 158px;
    width: 270px;
    vertical-align: top;
}

.objective-header-title {
    margin-left: 175px;
    padding: 0 15px;
}

.objective-toolbar-remove-btn-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #E9E9E9;
    border: 1px solid #DCDCDC;
}

.objective-toolbar-remove-icon {
    display: inline-block;
    height: 22px;
    width: 28px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: center -222px;
    background-repeat: no-repeat;
}

.objective-questions-list {
    margin-top: 15px;
}
