.objective .create-new-title {
    padding: 32px 0;
}

.objective .main-content-list-holder {
    max-width: none;
}

.objective .main-content-list .list-item-logo,
.objective .main-content-list .list-item-logo-image {
    width: 52px;
    height: 60px;
}

.objective .main-content-list .list-item-saved {
    bottom: 5px;
}

.objective .main-content-list .list-item-info {
    padding-bottom: 6px;
}


.create-objective .create-form {
    padding-bottom: 60px;
}
