.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    min-width: 600px;
    padding: 0 20px 10px;
}

.navbar {
    height: 57px;
    display: inline-block;
    margin: 20px 0 7px;
}

.nav-control {
    height: 57px;
    line-height: 57px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    white-space: nowrap;
}

    .nav-control:hover {
        text-decoration: none;
        opacity: 0.75;
        filter: alpha(opacity=75);
    }

.nav-icon {
    height: 57px;
    width: 57px;
    background-position: center center;
    background-repeat: no-repeat;
}

    .nav-icon.back-icon {
        background-image: url(images/nav-icons.png);
        background-position: 0 0;
        background-repeat: no-repeat;
    }

.nav-title {
    line-height: 57px;
    height: 57px;
    padding: 0 13px;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
}

    .nav-title.inline {
        vertical-align: top;
    }

.objective-text-wrapper .edit-field .text-block textarea {
    min-height: 93px;
}
.objective-image {
    height: 111px;
    width: 176px;
    vertical-align: top;
}

.objective-header-title {
    margin-left: 175px;
    padding: 0 15px;
}

/*#region OBJECTIVE TOOLBAR*/

.questions-header .header-title-text {
    margin-right: 25px;
    margin-left: 5px;
}

.questions-header .header-toolbar-item-wrapper {
    width: 40px;
    height: 28px;
    margin-right: 25px;
    text-align: center;
    -moz-border-radius: 18px / 18px;
    -webkit-border-radius: 18px / 18px;
    border-radius: 18px / 18px;
    -webkit-box-shadow: inset 0 3px 3px -3px #212121;
    -moz-box-shadow: inset 0 3px 3px -3px #212121;
    box-shadow: inset 0 3px 3px -3px #212121;
    background: #626262; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzYyNjI2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzdjN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #626262 1%, #7c7c7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#626262), color-stop(100%,#7c7c7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #626262 1%,#7c7c7c 100%); /* W3C */
}

.ie9 .questions-header .header-toolbar-item-wrapper {
    filter: none;
}

.questions-header .header-toolbar-item-wrapper:hover {
    background: #4b4b4b; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4b4b4b 0%, #717171 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#717171)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4b4b4b 0%,#717171 100%); /* W3C */
}

.ie9 .questions-header .header-toolbar-item-wrapper:hover {
    filter: none;
}

.questions-header .toolbar-remove-icon {
    display: inline-block;
    height: 22px;
    width: 28px;
    margin-top: 2px;
    margin-left: 2px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: 0 -367px;
    background-repeat: no-repeat;
}

.objective-questions-list {
    margin-top: 15px;
}

/*#endregion OBJECTIVE TOOLBAR*/

/*#region ROTATION*/

.rotate-right {
    -webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    transform: rotate(345deg);
}

/*#endregion ROTATION*/

/*#region EMPTY LIST */

.add-new-item-tip {
    position: absolute;
}

    .add-new-item-tip .add-new-item-tip-text {
        position: absolute;
        left: 90px;
        top: 30px;
        white-space: nowrap;
        color: #666;
    }

    .add-new-item-tip .add-new-item-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        left: 30px;
    }

.empty-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

    .empty-list-wrapper .empty-list {
        display: inline-block;
        line-height: 90px;
        background-image: url(images/emptyBox.png);
        background-position: left top;
        background-repeat: no-repeat;
    }

    .empty-list-wrapper .empty-list-text {
        margin-left: 100px;
        display: inline-block;
        font-family: Tahoma;
        font-size: 28px;
        color: #DCDCDC;
    }

@media (max-width: 1130px) {

    .empty-list-wrapper {
        margin-top: 120px;
    }
}

/*#endregion EMPTY LIST */
