.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    min-width: 600px;
    padding: 0 20px 10px;
}

.navbar {
    height: 57px;
    display: inline-block;
    margin: 20px 0 0px;
}

.nav-control {
    height: 57px;
    line-height: 57px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    white-space: nowrap;
}

    .nav-control:hover {
        text-decoration: none;
        opacity: 0.75;
        filter: alpha(opacity=75);
    }

.nav-icon {
    height: 57px;
    width: 57px;
    background-position: center center;
    background-repeat: no-repeat;
}

    .nav-icon.back-icon {
        background-image: url(images/nav-icons.png);
        background-position: 0 0;
        background-repeat: no-repeat;
    }

.nav-title {
    line-height: 57px;
    height: 57px;
    padding: 0 13px;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

    .nav-title.inline {
        vertical-align: top;
    }

.objective-text-wrapper .edit-field .text-block .editarea-editable-text {
    min-height: 120px;
}

.objective-image {
    height: 111px;
    width: 194px;
    vertical-align: top;
}

.objective-header-title {
    margin-left: 264px;
    padding: 0;
}

/*#region Info button*/

.list-of-questions .info-btn-holder {
    line-height: 114px;
    height: 114px;
    padding: 0 5px;
}

.list-of-questions .info-btn-wrapper {
    display: inline-block;
    letter-spacing: normal;
    height: 32px;
    width: 32px;
    position: relative;
    margin: 0 10px;
    vertical-align: middle;
}

.list-of-questions .info-btn {
    height: 32px;
    width: 32px;
    border: 1px solid #dcdcdc;
    background-color: #ebebeb;
    background-image: url(images/info-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

/*#endregion Info button*/

/*#region Info popup*/

.list-of-questions .info-popup-wrapper {
    display: none;
    height: 122px;
    position: absolute;
    top: -43px;
    right: 40px;
    z-index: 30;
}

.list-of-questions .info-btn-wrapper:hover .info-popup-wrapper {
    display: block;
}

.list-of-questions .condition-title {
    padding: 7px 5px;
}

.objective-info-popup {
    height: 100%;
    width: 214px;
    position: relative;
    line-height: normal;
    border: 1px solid #bdbebf;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f8',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.ie9 .objective-info-popup {
    filter: none;
}

.objective-info-table {
    width: 100%;
    height: 100%;
    color: #666;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    table-layout: fixed;
}

.condition-title {
    padding: 4px 8px;
    vertical-align: top;
}

.objective-info-popup-triangle-wrapper {
    position: absolute;
    width: 8px;
    height: 16px;
    top: 50%;
    right: -8px;
    margin-top: -8px;
    overflow: hidden;
}

.objective-info-popup-triangle {
    width: 16px;
    height: 16px;
    margin-left: -11px;
    background-color: #fbfbfc;
    border: 1px solid #bdbebf;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

/*#endregion Info popup*/

/*#region OBJECTIVE TOOLBAR*/

.questions-header .header-title-text {
    margin-right: 25px;
    margin-left: 5px;
}

.questions-header .header-toolbar-item-wrapper {
    width: 40px;
    height: 28px;
    margin-right: 25px;
    text-align: center;
    -moz-border-radius: 18px / 18px;
    -webkit-border-radius: 18px / 18px;
    border-radius: 18px / 18px;
    -webkit-box-shadow: inset 0 3px 3px -3px #212121;
    -moz-box-shadow: inset 0 3px 3px -3px #212121;
    box-shadow: inset 0 3px 3px -3px #212121;
    background: #626262; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzYyNjI2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzdjN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #626262 1%, #7c7c7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#626262), color-stop(100%,#7c7c7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #626262 1%,#7c7c7c 100%); /* W3C */
}

.ie9 .questions-header .header-toolbar-item-wrapper {
    filter: none;
}

.questions-header .header-toolbar-item-wrapper:hover {
    background: #4b4b4b; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4b4b4b 0%, #717171 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#717171)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4b4b4b 0%,#717171 100%); /* W3C */
}

.ie9 .questions-header .header-toolbar-item-wrapper:hover {
    filter: none;
}

.questions-header .toolbar-remove-icon {
    display: inline-block;
    height: 22px;
    width: 28px;
    margin-top: 2px;
    margin-left: 2px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: 0 -367px;
    background-repeat: no-repeat;
}

.objective-questions-list {
    margin-top: 11px;
}

/*#endregion OBJECTIVE TOOLBAR*/

/*#region ROTATION*/

.rotate-right {
    -webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    transform: rotate(345deg);
}

/*#endregion ROTATION*/

/*#region EMPTY LIST */

.add-new-item-tip {
    position: absolute;
}

    .add-new-item-tip .add-new-item-tip-text {
        position: absolute;
        left: 90px;
        top: 30px;
        white-space: nowrap;
        color: #666;
    }

    .add-new-item-tip .add-new-item-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        left: 30px;
    }

.empty-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

    .empty-list-wrapper .empty-list {
        display: inline-block;
        line-height: 90px;
        background-image: url(images/emptyBox.png);
        background-position: left top;
        background-repeat: no-repeat;
    }

    .empty-list-wrapper .empty-list-text {
        margin-left: 100px;
        display: inline-block;
        font-family: Tahoma;
        font-size: 28px;
        color: #DCDCDC;
    }

@media (max-width: 1130px) {

    .empty-list-wrapper {
        margin-top: 120px;
    }
}

/*#endregion EMPTY LIST */


/*#region Create objective*/


.create-objective-content-wrapper {
    padding-top: 11px;
}

.create-objective-form {
    position: relative;
    margin-left: 60px;
    height: 100%;
    padding-bottom: 10px;
}

    .create-objective-form .edit-field .text-block .editarea-editable-text{
        min-height: 140px;
    }

.create-objective-image {
    float: left;
}

.create-objective-text-wrapper {
    position: relative;
    margin-left: 225px;
}


.create-objective-tip {
    position: absolute;
}

@media (max-width: 690px) {
    .create-objective-tip {
        left: -56px;
    }

    .create-objective-tip .create-objective-tip-text {
        right: -10px;
        top: 35px;
    }
}

@media (min-width: 690px) {
    .create-objective-tip .create-objective-tip-text {
        right: 20px;
        top: 40px;
    }
}

.create-objective-tip .create-objective-tip-text {
    position: absolute;
    -webkit-transform: rotate(352deg);
    -moz-transform: rotate(352deg);
    -ms-transform: rotate(352deg);
    transform: rotate(352deg);
    white-space: nowrap;
}

.create-objective-tip .create-objective-tip-arrow {
    background-image: url(images/typeQuestionTitleArrow.png);
    width: 53px;
    height: 54px;
    position: absolute;
    top: 10px;
}


/*#endregion Create objective*/
