.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
}

.navbar {
    height: 57px;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 7px 0;
}

.nav-control {
    height: 57px;
    line-height: 57px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

a.nav-control:hover {
    text-decoration: none;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.nav-btn {
    height: 57px;
    line-height: 57px;
    width: 57px;
    margin-right: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

    .nav-btn.back-btn {
        background-image: url(images/back-btn.png);
        background-repeat: no-repeat;
    }

.nav-title {
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    color: #666666;
}

.objective-header {
    height: 240px;
    width: 100%;
    position: absolute;
    top: 57px;
    padding: 15px 0;
}

.objective-image {
    height: 202px;
    width: 353px;
    vertical-align: top;
}

.objective-info {
    margin-left: 365px;
    padding: 15px;
}

.white-lining {
    border: 4px solid #FFFFFF;
    border-radius: 2px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#9d9d9d, strength=3);
}

.questions-header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 300px;
    text-transform: uppercase;
}

.questions-list-wrapper {
    width: 100%;
    position: absolute;
    top: 400px;
    bottom: 10px;
    padding: 9px 16px;
    border: 1px solid #e1e1e1;
    background-color: white;
}

.questions-list {
    height: 100%;
    border: 1px solid #e1e1e1;
    overflow-y: auto;
    overflow-x: hidden;
}

.questions-list-item {
    display: block;
    height: 100px;
    padding-top: 2px; 
    margin-top: -1px;
    border-top: 1px solid #e1e1e1;
    background-color: #ffffff;
}

    .questions-list-item:hover {
        background-color: #f5f5f5;
    }

    .questions-list-item>.inline {
        height: 100px;
    }

.question-logo-wrapper {
    height: 92px;
    width: 172px;
    float: left;
    position: relative;
}

.questions-list-wrapper:hover {
    cursor: pointer;
}

.image-background,
.question-options {
    height: 84px;
    width: 164px;
    position: absolute;
    top: 0;
    left: 0;
}

.question-logo {
    height: 84px;
    width: 164px;
    vertical-align: top;
}

.question-options {
    display: none;
    z-index: 10;
    color: #cecece;
    font-size: 16px;
    text-align: center;
}

.question-select,
.question-edit {
    height: 100%;
    width: 49%;
    float: left;
    padding: 13px 0;
}

.question-select .action-img img,
.question-edit .action-img img {
    height: 34px;
    width: 34px;
    margin-top: 2px;
}

.question-edit .action-img img {
    margin-top: 1px;
}

.separator {
    height: 100%;
    width: 2%;
    float: left;
    background-color: #e0e0e0;
    background-color: rgba(224, 224, 224, 0.5);
}

.question-logo-wrapper:hover .question-options {
    display: block;
    background-color: #000000;
    background-color: rgba(0,0,0,.5);
}

.question-logo-wrapper:hover .question-select:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}

.question-logo-wrapper:hover .question-edit:hover {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}

.question-title {
    height: 100px;
    line-height: 1.5;
    position: relative;
    padding: 10px 15px;
    overflow: hidden;
    color: #333333;
    font-size: 13px;
    font-family: Arial, sans-serif;
    -ms-word-break: break-all;
    word-break: break-all;
}
