.objectives,
.experiences {
    position: relative;
    margin: auto;
    max-width: 1220px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

    .objectives a:hover, .objectives a:focus, .objectives a:active, .objectives a:visited, .objectives a:link,
    .experiences a:hover, .experiences a:focus, .experiences a:active, .experiences a:visited, .experiences a:link {
        color: #999999;
        text-decoration: none;
    }

.objectives-navigation,
.experiences-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    text-align: center;
}

    .objectives-navigation > a, .objectives-navigation > span,
    .experiences-navigation > a, .experiences-navigation > span {
        display: inline-block;
        margin: 20px;
        padding-top: 5px;
        border-top: 5px solid #999999;
        vertical-align: middle;
    }

    .objectives-navigation > a,
    .experiences-navigation > a {
        opacity: 0.6;
    }

        .objectives-navigation > a:hover,
        .experiences-navigation > a:hover {
            opacity: 0.8;
        }

.objectives-header,
.experiences-header {
    position: absolute;
    top: 70px;
    right: 40px;
    left: 20px;
    height: 100px;
}

.objectives-header-title, .objectives-header-sort-label,
.experiences-header-title, .experiences-header-sort-label {
    display: table-cell;
    white-space: nowrap;
}


.objectives-header-title,
.experiences-header-title {
    overflow: hidden;
    width: 100%;
    color: #666666;
    font-size: 18px;
}

    .objectives-header-title > *,
    .experiences-header-title > * {
        display: inline-block;
        vertical-align: middle;
    }

    .objectives-header-title hr,
    .experiences-header-title hr {
        width: 100%;
    }

.objectives-header-create-link,
.experiences-header-create-link {
    width: 64px;
    height: 64px;
    background: url('images/objexp-sprite.png') 0 0;
}

    .objectives-header-create-link:hover,
    .experiences-header-create-link:hover {
        background-position: 0 -74px;
    }


.objectives-header-sort-label,
.experiences-header-sort-label {
    padding-left: 10px;
}

.objectives-header-sort-label, .objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-header-sort-label, .experiences-sort-by-title-asc, .experiences-sort-by-title-desc {
    color: #acacac;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.objectives-header-sort-container,
.experiences-header-sort-container {
    float: right;
    margin-top: -10px;
}

.objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-sort-by-title-asc, .experiences-sort-by-title-desc {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    border: 1px solid #acacac;
    opacity: 0.7;
}

    .objectives-sort-by-title-asc:hover, .objectives-sort-by-title-desc:hover,
    .experiences-sort-by-title-asc:hover, .experiences-sort-by-title-desc:hover {
        opacity: 1;
        cursor: pointer;
    }

    .objectives-sort-by-title-asc.active, .objectives-sort-by-title-desc.active,
    .experiences-sort-by-title-asc.active, .experiences-sort-by-title-desc.active {
        border-color: #777777;
        color: #777777;
        opacity: 1;
    }


.objectives-navigation, .experiences-navigation,
.objectives-header, .experiences-header {
    text-transform: uppercase;
}


.objectives-content,
.experiences-content {
    position: absolute;
    top: 170px;
    bottom: 0;
    width: 100%;
}

.objectives-content-wrapper,
.experiences-content-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.objectives-list-wrapper,
.experiences-list-wrapper {
    margin: auto;
    max-width: 1200px;
}


.objectives-list,
.experiences-list {
    margin: 0;
}

.objective-brief,
.experience-brief {
    position: relative;
    float: left;
    margin: 0 20px 40px;
    width: 360px;
    height: 210px;
    background: url('images/obj_ex_bg_sprite.png') no-repeat top left;
}

.objective-brief {
    background-position: 0 -440px;
}


.objective-brief-selected {
    background-position: 0 -660px;
}


.experience-brief {
    background-position: 0 0;
}


.experience-brief-selected {
    background-position: 0 -220px;
}


.objective-brief-image,
.experience-brief-image {
    position: absolute;
    top: 4px;
}

.objective-brief-image {
    bottom: 8px;
    left: 6px;
    width: 348px;
    height: 198px;
}

.experience-brief-image {
    right: 5px;
    left: 5px;
    width: 350px;
    height: 187px;
}

.objective-brief-options,
.experience-brief-options {
    position: absolute;
    top: 4px;
    display: block;
}

.objective-brief-options {
    right: 6px;
    bottom: 48px;
    left: 6px;
}

.experience-brief-options {
    right: 5px;
    bottom: 59px;
    left: 5px;
}

.objective-brief:hover .objective-brief-options,
.experience-brief:hover .experience-brief-options {
    background-color: rgba(0, 0, 0, 0.4);
}

.objective-brief-options-select, .objective-brief-options-open,
.experience-brief-options-select, .experience-brief-options-open {
    float: left;
    padding-top: 40px;
    width: 172px;
    color: #cecece;
    text-align: center;
    font-size: 18px;
}

.objective-brief-options-select, .objective-brief-options-open {
    height: 158px;
}

.experience-brief-options-select, .experience-brief-options-open {
    height: 147px;
}

    .objective-brief-options-select:hover, .objective-brief-options-open:hover,
    .experience-brief-options-select:hover, .experience-brief-options-open:hover {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

.objective-brief-options-separator,
.experience-brief-options-separator {
    float: left;
    margin: 20px 0;
    width: 4px;
    background-color: #7E7D7B;
}

.objective-brief-options-separator {
    height: 120px;
}

.experience-brief-options-separator {
    height: 107px;
}

.objective-brief-options-select-image,
.experience-brief-options-select-image {
    display: inline-block;
    margin-top: 5px;
    width: 51px;
    height: 52px;
    background: url('images/objexp-sprite.png') 0 -148px;
}

    .objective-brief-options-select-image.selected,
    .experience-brief-options-select-image.selected {
        background-position: 0 -210px;
    }

.objective-brief-options-open-image,
.experience-brief-options-open-image {
    display: inline-block;
    margin-top: 10px;
    width: 51px;
    height: 39px;
    background: url('images/objexp-sprite.png') 0 -272px;
}

.objective-brief-options-select, .objective-brief-options-separator, .objective-brief-options-open,
.experience-brief-options-select, .experience-brief-options-separator, .experience-brief-options-open {
    display: none;
}

.objective-brief:hover .objective-brief-options-select, .objective-brief:hover .objective-brief-options-separator, .objective-brief:hover .objective-brief-options-open,
.experience-brief:hover .experience-brief-options-select, .experience-brief:hover .experience-brief-options-separator, .experience-brief:hover .experience-brief-options-open {
    display: block;
}

.objective-brief-title,
.experience-brief-title {
    float: left;
    overflow: hidden;
    padding: 0 10px;
    width: 321px;
    height: 38px;
    border-right: 1px solid #E3E3E3;
    color: #333333;
    font-size: 12px;
    line-height: 20px;
}

.experience-brief-title {
    width: 323px;
}

.objective-brief-toolbar,
.experience-brief-toolbar {
    position: absolute;
    border: 1px solid #E3E3E3;
    background: #fff;
}

.objective-brief-toolbar {
    top: 162px;
    right: 6px;
    bottom: 8px;
    left: 6px;
}

.experience-brief-toolbar {
    top: 151px;
    right: 5px;
    bottom: 19px;
    left: 5px;
}

.objective-brief-toolbar-icon-question {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url('images/objexp-sprite.png') 0 -321px;
}

.experience-brief-toolbar-icon-objective {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('images/objexp-sprite.png') 1px -346px;
}

.objective-brief-toolbar-question-count,
.experience-brief-toolbar-objective-count {
    display: block;
    float: left;
    padding: 5px 0;
    width: 25px;
    color: #484848;
    text-align: center;
    font-size: 12px;
    font-family: Arial,sans-serif;
    line-height: 12px;
}

@media (max-width: 1219px) {
    .objectives,
    .experiences {
        max-width: 820px;
    }

    .objectives-list-wrapper,
    .objectives-list-wrapper {
        max-width: 800px;
    }
}


@media (max-width: 819px) {
    .objectives,
    .experiences {
        max-width: 420px;
    }

    .objectives-list-wrapper,
    .objectives-list-wrapper {
        max-width: 400px;
    }
}
