.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    max-width: 1200px;
    min-width: 500px;
    padding-bottom: 10px;
}

.navbar {
    height: 57px;
    width: 100%;
    margin: 12px 0 7px;
}

.nav-control {
    height: 57px;
    width: 100%;
    line-height: 57px;
    -ms-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity=60);
    white-space: nowrap;
}

a.nav-control:hover {
    text-decoration: none;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.nav-btn {
    height: 57px;
    line-height: 57px;
    width: 57px;
    margin-right: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

    .nav-btn.back-btn {
        background-image: url(images/back-btn.png);
        background-repeat: no-repeat;
    }

.nav-title {
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.objective-image {
    height: 158px;
    width: 270px;
    vertical-align: top;
}

.objective-header-title {
    padding: 15px;
    margin-left: 280px;
}

.objective-toolbar-remove-btn-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #E9E9E9;
    border: 1px solid #DCDCDC;
}

.objective-toolbar-remove-icon {
    display: inline-block;
    height: 22px;
    width: 28px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: center -222px;
    background-repeat: no-repeat;
}

.active .question-title-chars-counter {
    display: block;
}

.question-title-wrapper.error .question-title-chars-counter {
    background-color: #f26c4f;
    display: block;
}

.question-title-chars-counter {
    display: none;
    color: white;
    background-color: #6DCEFC;
    padding: 0 5px;
    width: auto;
    height: 17px;
    line-height: 17px;
    position: absolute;
    font-size: 12px;
    margin-top: 4px;
    right: 26px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
}

.objective-questions-list {
    margin-top: 15px;
}
