.container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    min-width: 600px;
    padding: 0 20px 10px;
}

.navbar {
    height: 57px;
    display: inline-block;
    margin: 20px 0 7px;
}

.nav-control {
    height: 57px;
    line-height: 57px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    white-space: nowrap;
}

    .nav-control:hover {
        text-decoration: none;
        opacity: 0.75;
        filter: alpha(opacity=75);
    }

.nav-icon {
    height: 57px;
    width: 57px;
    background-position: center center;
    background-repeat: no-repeat;
}

    .nav-icon.back-icon {
        background-image: url(images/nav-icons.png);
        background-position: 0 0;
        background-repeat: no-repeat;
    }

.nav-title {
    line-height: 57px;
    height: 57px;
    padding: 0 13px;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.nav-title.inline {
    vertical-align: top;
}

.objective-image {
    height: 111px;
    width: 176px;
    vertical-align: top;
}

.objective-header-title {
    margin-left: 175px;
    padding: 0 15px;
}

.objective-toolbar-remove-btn-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #E9E9E9;
    border: 1px solid #DCDCDC;
}

.objective-toolbar-remove-icon {
    display: inline-block;
    height: 22px;
    width: 28px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: center -222px;
    background-repeat: no-repeat;
}

.objective-questions-list {
    margin-top: 15px;
}


/********************************
ROTATION    
********************************/

.rotate-right {
    -webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    transform: rotate(345deg);
}

/****************************
EMPTY LIST 
********************************/

.add-new-item-tip {
    position: absolute;
}

    .add-new-item-tip .add-new-item-tip-text {
        position: absolute;
        left: 100px;
        top: 50px;
        white-space: nowrap;
        color: #666;
        font-size: 26px;
        font-family: 'Rabiohead-Regular', sans-serif;
    }

    .add-new-item-tip .add-new-item-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
        left: 30px;
    }

.empty-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

    .empty-list-wrapper .empty-list {
        display: inline-block;
        line-height: 90px;
        background-image: url(images/emptyBox.png);
        background-position: left top;
        background-repeat: no-repeat;
    }

    .empty-list-wrapper .empty-list-text {
        margin-left: 100px;
        display: inline-block;
        font-family: Tahoma;
        font-size: 28px;
        color: #DCDCDC;
    }

@media (max-width: 1130px) {

    .empty-list-wrapper {
        margin-top: 140px;
    }
}
