.module-objectives .logo {
    cursor: default;
}


.objectives,
.experiences {
    position: relative;
    margin: auto;
    max-width: 1158px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

    .objectives a:hover, .objectives a:focus, .objectives a:active, .objectives a:visited, .objectives a:link,
    .experiences a:hover, .experiences a:focus, .experiences a:active, .experiences a:visited, .experiences a:link {
        color: #999999;
        text-decoration: none;
    }

.objectives-navigation,
.experiences-navigation {
    height: 37px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -203px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -4px;
}

    .objectives-navigation .learning-objectives-btn, .objectives-navigation a.experiences-btn,
    .experiences-navigation a.learning-objectives-btn, .experiences-navigation .experiences-btn {
        display: inline-block;
        height: 100%;
        line-height: 37px;
        width: 203px;
        color: #fff;
        letter-spacing: 1px;
    }

    .objectives-navigation .current,
    .experiences-navigation .current {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: default;
    }

    .objectives-navigation .learning-objectives-btn:hover, .objectives-navigation a.experiences-btn:hover,
    .experiences-navigation > a:hover, .experiences-navigation > span:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .objectives-navigation .experiences-btn,
    .experiences-navigation > a:hover {
    }

.objectives-header,
.experiences-header {
    padding: 14px 20px 0;
    height: 80px;
}

.objectives-header-title, .objectives-header-sort-label,
.experiences-header-title, .experiences-header-sort-label,
.questions-header-title, .questions-header-sort-label {
    display: table-cell;
    white-space: nowrap;
}
    .objectives-header-title.alone,
    .experiences-header-title.alone,
    .questions-header-title.alone {
        display: block;
    }

.objectives-header-title,
.experiences-header-title,
.questions-header-title {
    overflow: hidden;
    width: 100%;
    color: #666666;
    font-size: 18px;
}

    .objectives-header-title > *,
    .experiences-header-title > *,
    .questions-header-title > * {
        display: inline-block;
        vertical-align: middle;
    }

    .objectives-header-title hr,
    .experiences-header-title hr,
    .questions-header-title hr {
        width: 100%;
    }

.objectives-header-create-link,
.experiences-header-create-link,
.questions-header-create-link {
    width: 64px;
    height: 64px;
    background: url('images/objexp-sprite.png') 0 0;
}

    .objectives-header-create-link:hover,
    .experiences-header-create-link:hover,
    .questions-header-create-link:hover {
        background-position: 0 -74px;
    }


.objectives-header-sort-label span,
.experiences-header-sort-label span,
.questions-header-sort-label span {
    padding-left: 10px;
}

.objectives-header-sort-label, .objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-header-sort-label, .experiences-sort-by-title-asc, .experiences-sort-by-title-desc,
.questions-header-sort-label, .questions-sort-by-title-asc, .questions-sort-by-title-desc {
    color: #666;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.objectives-header-sort-container,
.experiences-header-sort-container,
.questions-header-sort-container {
    float: right;
    margin-top: -20px;
}

.objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-sort-by-title-asc, .experiences-sort-by-title-desc,
.questions-sort-by-title-asc, .questions-sort-by-title-desc {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    border: 1px solid #acacac;
}

    .objectives-sort-by-title-asc:hover, .objectives-sort-by-title-desc:hover,
    .experiences-sort-by-title-asc:hover, .experiences-sort-by-title-desc:hover,
    .questions-sort-by-title-asc:hover, .questions-sort-by-title-desc:hover {
        cursor: default;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }

.active.objectives-sort-by-title-asc:hover, .active.objectives-sort-by-title-desc:hover,
.active.experiences-sort-by-title-asc:hover, .active.experiences-sort-by-title-desc:hover,
.active.questions-sort-by-title-asc:hover, .active.questions-sort-by-title-desc:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.objectives-sort-by-title-asc.active, .objectives-sort-by-title-desc.active,
.experiences-sort-by-title-asc.active, .experiences-sort-by-title-desc.active,
.questions-sort-by-title-asc.active, .questions-sort-by-title-desc.active {
    border-color: black;
    color: #666;
    opacity: 1;
}

.objectives-navigation, .experiences-navigation,
.objectives-header, .experiences-header, .questions-header {
    text-transform: uppercase;
}


.objectives-content-wrapper,
.experiences-content-wrapper {
    width: 100%;
}

.objectives-content,
.experiences-content {
    height: 100%;
    padding-top: 8px;
}

.objectives-list-wrapper,
.experiences-list-wrapper {
    margin: auto;
    max-width: 1200px;
}

.objectives-list,
.experiences-list {
    margin: 0;
}

.objective-brief {
    height: 230px;
    width: 360px;
    position: relative;
    float: left;
    margin: 0 13px 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.objective-brief-inner {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}

    .objective-brief-inner > * {
        height: 100%;
    }

.objective-brief-selected {
    -webkit-box-shadow: 0 0 9px 2px #6bb4d8;
    -moz-box-shadow: 0 0 9px 2px #6bb4d8;
    box-shadow: 0 0 9px 2px #6bb4d8;
}

.objective-brief-image {
    width: 100%;
    height: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.objective-brief-options {
    height: 182px;
    width: 352px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.objective-brief:hover .objective-brief-options {
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
}

.objective-brief-options-select,
.objective-brief-options-open {
    height: 182px;
    width: 50%;
    float: left;
    position: relative;
    padding-top: 51px;
    color: #cecece;
    text-align: center;
    font-size: 22px;
}

    .objective-brief-options-select:hover,
    .objective-brief-options-open:hover {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .objective-brief-options-open:hover {
        cursor: pointer;
    }

.objective-brief-options-separator {
    height: 140px;
    position: absolute;
    left: 50%;
    z-index: 1;
    margin: 20px 0;
    margin-left: -2px;
    width: 4px;
    background-color: #7E7D7B;
}

.objective-brief-options-select-image {
    display: inline-block;
    margin-top: 5px;
    width: 51px;
    height: 52px;
    background: url('images/objexp-sprite.png') 0 -148px;
}

    .objective-brief-options-select-image.selected {
        background-position: 0 -210px;
    }

.objective-brief-options-open-image {
    display: inline-block;
    margin-top: 10px;
    width: 51px;
    height: 39px;
    background: url('images/objexp-sprite.png') 0 -272px;
}

.objective-brief-toolbar {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 1px solid #E3E3E3;
    background: #fff;
    vertical-align: top;
    white-space: nowrap;
}

.objective-brief-title {
    display: inline-block;
    height: 38px;
    line-height: 40px;
    width: 321px;
    padding: 0 10px;
    border-right: 1px solid #E3E3E3;
    overflow: hidden;
    vertical-align: top;
    color: #333333;
    font-size: 12px;
}

    .objective-brief-title > span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        cursor: default;
    }

.objective-brief-toolbar-question-count {
    display: inline-block;
    padding: 5px 0;
    width: 29px;
    color: #484848;
    text-align: center;
    font-size: 12px;
    font-family: Arial,sans-serif;
    line-height: 12px;
}


.objective-brief-toolbar-icon-question {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('images/middle-sized-icons-pack.png');
    background-position: center -303px;
}

.objective-question-count-text {
    cursor: default;
}

@media (min-width: 1220px) {

    .objectives,
    .experiences {
        max-width: 1202px;
    }

    .objectives-list-wrapper,
    .experiences-list-wrapper {
        max-width: 1202px;
    }

    .objective-brief {
        margin: 0 20px 40px;
    }
}

@media (max-width: 960px) {
    .module-objectives .logo,
    .module-experiences .logo {
        width: 33px;
    }
}

@media (min-width: 767px) and (max-width: 1166px) {

    .objectives,
    .experiences {
        max-width: 765px;
    }

    .objectives-list-wrapper,
    .experiences-list-wrapper {
        max-width: 765px;
    }

    .objective-brief {
        margin: 0 10px 40px;
    }
}

@media (max-width: 766px) {

    .objectives,
    .experiences {
        max-width: 420px;
    }

    .objectives-list-wrapper,
    .experiences-list-wrapper {
        max-width: 400px;
    }

    .objective-brief {
        margin: 0 20px 40px;
    }
}
