.module-objective .view-content {
  background-color: #f9fafc;
}
.module-objective .view-module {
  background-color: #fff;
}
.objective .view-header {
  margin-top: 7px;
  margin-bottom: 5px;
}
.objective .create-new-title {
  padding: 32px 0;
}
.objective .main-content-list-holder {
  max-width: none;
}
.objective .main-content-list .list-item-logo,
.objective .main-content-list .list-item-logo-image {
  height: 60px;
  border-radius: 0;
}
.objective .main-content-list .list-item-logo {
  width: 43px;
}
.objective .main-content-list .list-item-logo-image {
  width: 46px;
}
.objective .main-content-list .list-item-saved {
  bottom: 5px;
}
.objective .main-content-list .list-item-info {
  padding-bottom: 12px;
}
.create-objective .form-create {
  padding-top: 0;
}
/*#region Objective hint*/
.objective .show-notify-btn {
  height: 32px;
  width: 32px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAWRJREFUeNqc1L9LVlEYB/CPl3cLnRqyFsHBm6ZBgzq5GM4hRVxdXrQpCFRCpxJcRGyx/YZT0WDk4BA6vP4B/YAkrX8gUFAcUgsHl3PhdH17K79whuc83/N9fnKaxl5ua4A23AmnA2tYxQaOIc/S3x401RHsjkRu/SHQD7zDW6zlWbofCyboDwLDaPd/OMVmyHy1gquYxF0XQwWDSLGboAX3MISvFxA8xTOkeZa+rqATX7COHsyEc+kfxGqYzLP0U3GR4GZEuIL7eIiVBkLfA+cDHsWOBDci+zq6sIwTVPGtVN4S5vEEU+VNSELJSbA7i+ljFM+R42loyQP0hfvWIonxVzuVeELXcBm7EalACxbwGe/xIgoeoxkHRYY7OAyOxWDXW/ZqHbEjjORZehCX/Bg/g72HgbCof8NH9OVZ+qbcw1qJuIfbmMWvOkL7mEAvtsrOpMGyzkUTPwx9nA4fxlLgnMPZAIylUcaX4+c+AAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #83b9df;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  float: right;
}
.objective .show-notify-btn:hover {
  opacity: 1;
}
.objective .info-tooltip.show-notify-tip {
  width: 110px;
  margin-left: -55px;
  right: 40px;
  bottom: -50%;
  left: auto;
}
.objective .info-tooltip.show-notify-tip:after {
  top: 50%;
  right: -5px;
  margin-top: -5px;
  left: auto;
}
.objective .notify-container {
  padding: 30px;
  margin: 10px 0;
  background: #fcfdfe;
  border: 1px solid #b8d7ec;
  border-radius: 3px;
  cursor: default;
}
.objective .notify-title {
  line-height: 1;
  float: left;
  color: #529fd4;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.objective .notify-close-btn {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url(images/sprites_16.png);
  background-position: -42px -42px;
  opacity: 0.6;
  cursor: pointer;
}
.objective .notify-close-btn:hover {
  opacity: 1;
}
.objective .notify-content {
  position: relative;
  padding: 0 93px;
  margin-top: 40px;
}
.objective .notify-content:before {
  content: '';
  display: block;
  height: 121px;
  width: 64px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -61px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAB5CAYAAACJHCe7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTUzMjg5MEMwMjlGMTFFNDhCQkI5QzA1NEY5N0MwRUQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTUzMjg5MEQwMjlGMTFFNDhCQkI5QzA1NEY5N0MwRUQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFNTMyODkwQTAyOUYxMUU0OEJCQjlDMDU0Rjk3QzBFRCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFNTMyODkwQjAyOUYxMUU0OEJCQjlDMDU0Rjk3QzBFRCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgSsrdAAAAq/SURBVHja7F0NlFVVFd68gSFggGyhiBKMiRJgokIk/pJ/taQEiQTNCmyyUEjTjKIfa61cuXQhpIaiWWYF2Q9ISrjyb8xQSkrQjBBBMCBLNGcYYIbf9tfb1/bb3Hfveffd9+57d2av9bHm3Hfuz/nuOXvvs88+l06XLVhDCUpnRk9GM2NfUg9QaunPOJVxEmMw42jGYYw+jIyqBwJeZ7zGeJnxN8ZKxlOMt6qNgNMYFzA+zHif4zk1jMMFJ6jje4WEpYzFjA1xPminGIcAuvKljGkFNLpQ2c94lDGH8XClEFDHuIbxRcY7HRqwWbCN0SZdH2+/B+NQxkAZImGC4XEdozHJITCRMZdxZJ7fWxi/l7f1DOOvjFaH64LIETKUzmWMNvoCMpLxBON+xlWMf5WzB/Rm3C5d3grG7BLGD6W77o6hp0IvTGFcKUrVCpRnA+M3hV44E+FhwPxqn8ajod8XLY+e8duYGk9iGW5kHMWYLFZCC4bOA4wb8FJLScBYGXMDzXEwP4wxnfFqCU3qXunyuNeXGNt1b2bMYtwjOiV2Ahqka/dQx2CfL2GM83krpRT0rNmiJ/5ifpvK+AWjNk4C0Pi7DLOrxblZmKAnuY5xijyblgmig0KHQ82JH5seVgcOzU8MWRjf5zP+TckLzOhD8nxnquPHM7oyHiumBxwvb1i/+UWM8WLiKkmuF39Ey1cYn45KQE9pbHd17HHGxYw9VJkyRyyRlnmMIVEIuF1MmidrZGztpsqWq2RIeIIX+ON8Tl8+Aj7C+JQq7xDb3kSVL/uk229Wx97PuMKVgHcwbjXHpsv0tFrkTcYnGQfUsW+LwxRKwDXicXnymHShahM4bPeZ+cX1YXOBXoxXGO+ScqtYgnVUnYI5xFppl+dAISizMV8PmKEaD7m7ihuv5xCe1FpTqXtArSgOb5zsYgxibKXqFsQr/qFiFS0yfW+2PWCCURL3pqDxXoPnG0Im+Q2Bz5oT76T0yD3GIkyxBPRjjFEVVjCeTxEB0GPLVRkTqAGagLGmNyyk9MlCn9jG240eZ35cmkICluYjADjD+PzrU0jAJsbfVRlT55qMzJR6qR+epvTKH4w1GAwCTjaVVqSYgJWmPAoEDDUHn0sxAbZtwzJmzg/ZkGICXjHlehBQrw5gvv+fFBOABZSdqjwwY9zfrZR+0YHcviBAx/l3tQMC9GJKt4wxgTvbAQG6jV1BQCdqX6JD/PszhpHadkCAHvJNIOANdeDQdkBAH/V3MwjQ4eN3M7qkuPHdzUvekjETBCweDE4xAXaFaI0l4H/uYYoJONGPgNXm4OgUE3C6Kf8ZBCBUpBc7z0kxAWPU33D5V4EARE2fNUPgyBQ2fjhJHFCk0fMDIL8zlSemkIDJprwM/3gE/Mr8eEnKGg9v92JVxpBfpAl4kbJJjJ6MYhybIgIQ89SZbY96DmBQKHx6igiYZso/fbtrqLXBIygbOfUyKVrEM3RNVceiKtbkkQO8hConhwiLPhvVPAfPh2zTNtsDEAzRqaaImjYUcCOk1MwVdhF6mknZPKOk5fNmknef13hLAGS+Kc8g94Tq48yE40bpUTdRdpU5Kd9fp8YgW/0OXcES8AjlpsLAbk6IEGjw5BDKprS/JKZ2Upl7xWfM7O9BMhmtlgCsoM42x651vNmaEDOEtPefUzYw+bAopv4OverjjGMiNB491+YNzj3owXzS5WtFafRTx84V0xE21u6I8KBb4JNTNsn6DSELCvksxnukDjK/rhY94ypTGD9S5WfFvIcSAEGG5XdV+SnKXT/0kyMktuAXYntJ7HDXIrpzm+iSzQ51MzKUBxvv9td+Ff0EyRFNZhZ1eshNt5o5hZaTRCHVUzYH8evifa6lg7fLITKNlPipMmQ8AXkXOJI10TQeL2BxvnHiJ2+JRfiyOvYNxnkhN37Ar5tRNvdwh1gFYKn5ra9Ealpl+Hk+BNLeP0r/j+MNcXR7Z5ljN4sFINce4CmMVqMHRoXcfGGeGw0IOKdVSFkp7niLsSxbVLmbAwFjZebnyT8pN1/QmQC/E2eF3Bxv74kQH6FQ6Wbm8GEy05RvoYD85rB0edt10B2Hhpwz3+fYyIiN72Ks0ZaQ+ohmneYzlCkqAS+L86DrXxdyzmLpPWRml1FkmNFTqwp8+z+g3KWwggkgys209GIF/QLqY2PTPHPsBFF2hcrJxo1dGVB3kPRQ/Ry3udjLMFlBuVkjtZQn9dyY0V1G058agYCz1d/PhMwwrzTtWUQOO9hcN03Z9PkGCl5G22a8MEihwdZasTzaxOaTOlLJjyLfc7mJKwHwoPTW1MPFRw+SW6QbRiUA9Xur8pKAup+g3H3LSIV5Ok4CdotC0XJZyDnrxaPT3mDfAgjQgVk0Zl2I36/FeU5SyMbJu41JHEO56TV+8h11TsYoqbDuP97cO58MNcoSemJBKQjYZJycjA/zVrDs9ktVHud4r/ESS/D0yf0Bdaea8iJxu2MngHw8w4sczrlB9YKzRWGFic5cv42CU3fsGsa9hTSoUAIWG3aHOExQXpBJjefWhs3ojpJYAMmM9NaAuiPNMITZe7KUBMCresgcu9DhvG8pizA5pO4V6rnmUXBU+kIfa7W/lAT4mSOXcY15vxeL/xDl7kuy9rxBKbM5Ided4DMdp1ITgI3TejV5BIV/OwTyTZn6QsNPClBo3rUQTX494HqIML1XlVF3eTkIwLhsVOUah2gRBBuXvH29n/P5vasKwCDsNbsAN5lk0ravHARAlpnyGMfzPJM43GeGCM3fX0WfwnIWzzTlR6I0JCoBdk/+GY7naYWm1x67q2DLc0ERHCWnmPKT5SQApu3NgHl7PnlN/Y3lai9T/WsyxYYGn+agyftQ7mrTWp8YREkJOCDTUx22OtZRf3h+RGcxc+PU2Mc0+o8O1xlhyo0R2xGZAMifTNn181k6rHWemK7O8gZnOV7jOJ+YRdkJeMGUhzuetzHP8avJ/fsENpVvVSUQcLTjeX5LUQ8qd9lF9Pb+PRS8LlkyAjaYeUG943n2uz9YD7y8wHsPNIS2JUEANPWLquyaWmcV1jRjHcKkhnJXlYva4lsMARC91n6Y4zmvqodeYOIFLgJz2cVBp5SFgE3qbzxUb8fzsOCCxdQZEe7Zz4fQxAiwS9WuBGBmONo4U65SV0kE2I8Y9irg3KgPXuczyUqMgG2mXI79Rz1DemFZCbBduFsZCOhtfIDmYi5W7DdF7cIj8oj2FnG9fQ4N0sOs6F2uxRLQHNI9o0ifAuruKPZmxQ6BRD6HraQl6R4Ql+zJ05idedzcJvFE1yZNQBNV+c7TDLVz6SCgvRMQhxJE6sudVP6dZphMYX1hedIE/IwO/tJ0OQTL5/jQ46Ckh0Bdgj34kErQATMomS9PwAssemNXXP/DBNb1upeZgO1Fzjti9QTbqIjAZIcZ7CCguv0ArNIik+OYMj87ItJYTSrq63dxKEFEhgck9ALXV4IfkOTu0J6VoAO+kJAfgHteW+xF4vIDkPjUv8wEIBpc9Kf+4/ID8CBV+R3CDj+gww+IVzAzbCzh82KYXVTJBGDtfkQJCahv70OgR6UTsL/EBGD3WadKJmA7xbBcFSC49oFKHwKl/DD7smrQAV+l0vwfZLjmzEo3g56p+gBl9wp9kKJtmdWCPQbYrIV84o1xP+x/BRgAGFkl8dd2l+QAAAAASUVORK5CYII=') /*images/lamp.png*/;
}
.objective .notify-content-title {
  line-height: 1;
  padding: 10px 0;
  border-bottom: 1px solid #d4d5d6;
  color: #7b7b7b;
  font-family: 'OpenSans-Semibold';
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
.objective .notify-content-text-wrapper {
  padding-top: 15px;
}
.objective .notify-content-text {
  line-height: 1.6;
  padding-bottom: 10px;
  color: #7b7b7b;
  font-size: 12px;
}
.objective .read-more-btn-wrapper {
  text-align: center;
}
.objective .read-more-btn {
  display: inline-block;
  vertical-align: top;
  padding: 16px 27px;
  border: 2px solid #5bc0de;
  border-radius: 3px;
  color: #5bc0de;
}
.objective .read-more-btn:hover {
  border-color: #52adc8;
  color: #52adc8;
}
.objective .read-more-btn-text {
  display: block;
  line-height: 1;
  position: relative;
  padding-right: 20px;
  font-family: 'OpenSans-Semibold';
  font-size: 12px;
  text-transform: uppercase;
}
.objective .read-more-btn-text:after {
  content: '';
  display: block;
  height: 9px;
  width: 11px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUEzNTJCRTgwMkE3MTFFNEIwQTRCOTc5M0RENDI2MDEiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUEzNTJCRTkwMkE3MTFFNEIwQTRCOTc5M0RENDI2MDEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QTM1MkJFNjAyQTcxMUU0QjBBNEI5NzkzREQ0MjYwMSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QTM1MkJFNzAyQTcxMUU0QjBBNEI5NzkzREQ0MjYwMSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnsqArgAAAC2SURBVHjaVFDBDcIwELsiFugIdAUG4FNWyAfe7QgwAozQvnk1I8ADBmCFdISOEOzKrY5I1sk539lJcXqn0swGID0OuxbVzp/xhrIHP5o7G1xMFAINRBfdk9fggxcXOWfTticFQMCCqEE6XMHv82Y3GIAv0EFYSRA5AN78iRWHguUNPK0qF5SrmES2k1zMD3HZ1sVgo1LmpMy1MvdrDDQ614jKSJe4PG4Wy57oXYMOL/Dgv+4nwAC5nE4NOFHPFAAAAABJRU5ErkJggg==);
}
.objective .read-more-btn:hover .read-more-btn-text:after {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJBAMAAAAWSsseAAAAKlBMVEX///9SrchSrchSrchSrchSrchSrchSrchSrchSrchSrchSrchSrchSrcjhyFE2AAAADXRSTlMAESJVZneImaq7zN3u6DF03QAAAEdJREFUeF49y8EJwCAQRNERRc3No5omLCUN2IOl2IDNbA0rBMFesoSQ0zv8GaRmOwA3zS1glHoJmTwLeqkdgJMO/tq/jO/vAbaADd8xzgA9AAAAAElFTkSuQmCC');
}
/*#endregion Objective hint*/
/*#region add new question*/
.objective .btn.create-question {
  float: right;
  min-width: 150px;
  border: 1px solid #61b472;
  background: #65bd77;
  font-family: 'OpenSans';
  font-size: 14px;
  text-shadow: none;
  color: #ffffff;
}
.objective .btn.create-question:hover {
  background-color: #5fb06f;
  border-color: #61b472;
}
.objective .create-question-text {
  padding-left: 25px;
  position: relative;
}
.objective .create-question-text:before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NkIxNzRCNTFCQTQxMTFFMzlGOTRGM0ExN0E1ODkzNDUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NkIxNzRCNTJCQTQxMTFFMzlGOTRGM0ExN0E1ODkzNDUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2QjE3NEI0RkJBNDExMUUzOUY5NEYzQTE3QTU4OTM0NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2QjE3NEI1MEJBNDExMUUzOUY5NEYzQTE3QTU4OTM0NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pgd11lwAAAGCSURBVHjaYjSvdWPAApyAOBxKy0HFHgHxPiBeBcR7YQpPNO0E0yxoBmgA8XQgdsBiuAoUpwHxASDOBOIbMEkmJIX2QHwKhyHowAGq1h7dIJBLNgIxLwPxAKR2o0WdO0gvAyMwjBiB9DEgtkBXyc7FziAgJgRmf3j1juHnt5/YDDwBxFagMHLGZgjYIE4OBnEFCTD7++dvuAwC6XUGeS2MgXIQxgSNYkqBE8hrssgi4gqScO8gAwVdJTj75YMXQPwcWVoW5KKfVHAROEE+A2J1mAAoUEE2ggAbBxuDoAQk1t6/eMfw68cvuBo08IQFmrDgBn16+xGMQYBPmB9u0MfXH+DiWMBRkNeWUsFnS0AG7YImKgzw9/cfhq8fvoAxiI0DgPTuBnntPxAnQgX4kVV8/fSV4e6F2/hcAvJrErAE+A/La6Bc7A/En0nwDkitP9CQ6+i5/yAQm+HyJhbvmEH1YC2PQC6zAmJXIA6B5kNQggXF+2MgPgzEa0BhAg0SOAAIMADQJ3OFQ+VQtAAAAABJRU5ErkJggg==);
}
/*#endregion add new question*/
/*#region objective image upload*/
.objective .controls {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 25px;
}
.objective .image-container {
  position: relative;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.objective .image-container .logo-background,
.objective .image-container .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.objective .image-container .overlay {
  position: absolute;
  background-color: #fff;
  text-align: center;
  opacity: 0.95;
}
.objective .image-container .overlay .image {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 25px;
}
.objective .image-container .overlay .text {
  margin-top: 11px;
  text-transform: uppercase;
  font-family: 'OpenSans-Semibold';
  font-size: 11px;
  color: #a1a1a8;
}
.objective .image-container .overlay.hover {
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.15s linear;
}
.objective .image-container:hover .overlay.hover {
  visibility: visible;
  opacity: 0.95;
}
.objective .image-container .overlay.hover .image {
  background: url(images/upload-image.png) 0 0 no-repeat;
}
.objective .image-container .overlay.uploading .image {
  background: url(images/buildprogress.gif) 0 0 no-repeat;
  background-size: 100% 100%;
}
.objective .title-container {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 70%;
  margin-left: 20px;
  position: relative;
}
/*#endregion objective image upload*/
/*#region objective help link*/
.objective-help-link-container {
  font-size: 13px;
  -webkit-transition: opacity, margin-left, 0.3s;
  transition: opacity, margin-left, 0.3s;
  opacity: 1;
  margin-left: 0;
}
.objective-help-link-container.hidden {
  opacity: 0;
  margin-left: -10px;
}
.objective-help-link {
  font-family: 'OpenSansItalic';
  color: #63798e;
}
.objective-help-link.clickable a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: 'OpenSans-SemiboldItalic';
  text-decoration: underline;
  color: #469dd5;
  padding-left: 3px;
}
.objective-help-link.clickable a:hover {
  color: #2177ae;
}
/*#endregion objective help link*/
