.objectives,
.experiences {
    position: relative;
    margin: auto;
    max-width: 1220px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

    .objectives a:hover, .objectives a:focus, .objectives a:active, .objectives a:visited, .objectives a:link,
    .experiences a:hover, .experiences a:focus, .experiences a:active, .experiences a:visited, .experiences a:link {
        color: #999999;
        text-decoration: none;
    }

.objectives-navigation,
.experiences-navigation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    text-align: center;
}

    .objectives-navigation > a, .objectives-navigation > span,
    .experiences-navigation > a, .experiences-navigation > span {
        display: inline-block;
        margin: 20px;
        padding-top: 5px;
        border-top: 5px solid #999999;
        vertical-align: middle;
    }

    .objectives-navigation > a,
    .experiences-navigation > a {
        opacity: 0.6;
    }

        .objectives-navigation > a:hover,
        .experiences-navigation > a:hover {
            opacity: 0.8;
        }

.objectives-header,
.experiences-header {
    position: absolute;
    top: 70px;
    right: 20px;
    left: 20px;
    height: 100px;
}

.objectives-header-title, .objectives-header-sort-label,
.experiences-header-title, .experiences-header-sort-label {
    display: table-cell;
    white-space: nowrap;
}


.objectives-header-title,
.experiences-header-title {
    overflow: hidden;
    width: 100%;
    color: #666666;
    font-size: 18px;
}

    .objectives-header-title > *,
    .experiences-header-title > * {
        display: inline-block;
        vertical-align: middle;
    }

    .objectives-header-title hr,
    .experiences-header-title hr {
        width: 100%;
    }

.objectives-header-create-link,
.experiences-header-create-link {
    width: 64px;
    height: 64px;
    background: url('images/objexp-sprite.png') 0px 0px;
}

    .objectives-header-create-link:hover,
    .experiences-header-create-link:hover {
        background-position: 0px -74px;
    }


.objectives-header-sort-label,
.experiences-header-sort-label {
    padding-left: 10px;
}

.objectives-header-sort-label, .objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-header-sort-label, .experiences-sort-by-title-asc, .experiences-sort-by-title-desc {
    color: #acacac;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.objectives-header-sort-container,
.experiences-header-sort-container {
    float: right;
    margin-top: -10px;
}

.objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-sort-by-title-asc, .experiences-sort-by-title-desc {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    border: 1px solid #acacac;
    opacity: 0.7;
}

    .objectives-sort-by-title-asc:hover, .objectives-sort-by-title-desc:hover,
    .experiences-sort-by-title-asc:hover, .experiences-sort-by-title-desc:hover {
        opacity: 1;
        cursor: pointer;
    }

    .objectives-sort-by-title-asc.active, .objectives-sort-by-title-desc.active,
    .experiences-sort-by-title-asc.active, .experiences-sort-by-title-desc.active {
        border-color: #777777;
        color: #777777;
        opacity: 1;
    }


.objectives-navigation, .experiences-navigation,
.objectives-header, .experiences-header {
    text-transform: uppercase;
}


.objectives-content,
.experiences-content {
    position: absolute;
    top: 170px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.objectives-list-wrapper,
.experiences-list-wrapper {
    margin: auto;
    max-width: 1200px;
}


.objectives-list,
.experiences-list {
    margin: 0;
}

.objective-brief,
.experience-brief {
    position: relative;
    float: left;
    margin: 0 20px;
    width: 360px;
    height: 210px;
    background: url('images/objexp-sprite.png') 0px -374px;
}

.objective-brief-selected,
.experience-brief-selected {
    background-position: 0px -594px;
}


.objective-brief-image-wrapper,
.experience-brief-image-wrapper {
    position: absolute;
    top: 15px;
    right: 45px;
    bottom: 15px;
    left: 15px;
}

.objective-brief-image,
.experience-brief-image {
    width: 300px;
    height: 180px;
}

.objective-brief-options,
.experience-brief-options {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: block;
}

.objective-brief-options-select, .objective-brief-options-open,
.experience-brief-options-select, .experience-brief-options-open {
    float: left;
    padding-top: 50px;
    width: 163px;
    height: 180px;
    background: #000000;
    background: rgba(0,0,0,0.5);
    color: #cecece;
    text-align: center;
    font-size: 18px;
}

    .objective-brief-options-select:hover, .objective-brief-options-open:hover, .experience-brief-options-select:hover, .experience-brief-options-open:hover {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

.objective-brief-options-separator-wrapper,
.experience-brief-options-separator-wrapper {
    float: left;
    width: 4px;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
}

.objective-brief-options-separator,
.experience-brief-options-separator {
    margin: 20px 0;
    width: 4px;
    height: 140px;
    background-color: #7E7D7B;
}

.objective-brief-options-select-image,
.experience-brief-options-select-image {
    display: inline-block;
    margin-top: 5px;
    width: 51px;
    height: 52px;
    background: url('images/objexp-sprite.png') 0px -148px;
}

    .objective-brief-options-select-image.selected,
    .experience-brief-options-select-image.selected {
        background-position: 0px -210px;
    }

.objective-brief-options-open-image,
.experience-brief-options-open-image {
    display: inline-block;
    margin-top: 10px;
    width: 51px;
    height: 39px;
    background: url('images/objexp-sprite.png') 0px -272px;
}

.objective-brief-options-select, .objective-brief-options-separator-wrapper, .objective-brief-options-open,
.experience-brief-options-select, .experience-brief-options-separator-wrapper, .experience-brief-options-open {
    opacity: 0;
}

.objective-brief:hover .objective-brief-options-select, .objective-brief:hover .objective-brief-options-separator-wrapper, .objective-brief:hover .objective-brief-options-open,
.experience-brief:hover .experience-brief-options-select, .experience-brief:hover .experience-brief-options-separator-wrapper, .experience-brief:hover .experience-brief-options-open {
    opacity: 1;
}



.objective-brief-title,
.experience-brief-title {
    position: absolute;
    top: 20px;
    left: 20px;
    overflow: hidden;
    max-height: 170px;
    width: 180px;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    opacity: 1;
}

.objective-brief-title-text,
.experience-brief-title-text {
    display: inline-block;
    padding: 10px;
    width: 178px;
    border-right: 10px solid #e3e3e3;
    color: #333333;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.objective-brief:hover .objective-brief-title,
.experience-brief:hover .experience-brief-title {
    opacity: 0;
}

.objective-brief-toolbar,
.experience-brief-toolbar {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 315px;
    padding-top: 5px;
    width: 30px;
    text-align: center;
}

.objective-brief-toolbar-icon-question {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url('images/objexp-sprite.png') 0px -321px;
}

.experience-brief-toolbar-icon-objective {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('images/objexp-sprite.png')0px -346px;
}

.objective-brief-toolbar-question-count,
.experience-brief-toolbar-objective-count {
    display: block;
    color: #484848;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 12px;
}

@media (max-width: 1219px) {
    .objectives,
    .experiences {
        max-width: 820px;
    }

    .objectives-list-wrapper,
    .objectives-list-wrapper {
        max-width: 800px;
    }
}


@media (max-width: 819px) {
    .objectives,
    .experiences {
        max-width: 420px;
    }

    .objectives-list-wrapper,
    .objectives-list-wrapper {
        max-width: 400px;
    }
}
