.objectives-body,
.experiences {
    position: relative;
}

.objectives,
.experiences {
    margin: auto;
    max-width: 1158px;
    height: 100%;
    color: #999999;
    font-size: 13px;
}

    .objectives a:hover, .objectives a:focus, .objectives a:active, .objectives a:visited, .objectives a:link,
    .experiences a:hover, .experiences a:focus, .experiences a:active, .experiences a:visited, .experiences a:link {
        color: #999999;
        text-decoration: none;
    }

.objectives-navigation,
.experiences-navigation {
    height: 37px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -203px;
    font-size: 14px;
    text-align: center;
    letter-spacing: -4px;
}

    .objectives-navigation .learning-objectives-btn, .objectives-navigation a.experiences-btn,
    .experiences-navigation a.learning-objectives-btn, .experiences-navigation .experiences-btn {
        display: inline-block;
        height: 100%;
        line-height: 37px;
        width: 203px;
        color: #fff;
        letter-spacing: 1px;
    }

    .objectives-navigation .current,
    .experiences-navigation .current {
        background-color: rgba(0, 0, 0, 0.4);
        cursor: default;
    }

    .objectives-navigation .learning-objectives-btn:hover, .objectives-navigation a.experiences-btn:hover,
    .experiences-navigation > a:hover, .experiences-navigation > span:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .objectives-navigation .experiences-btn,
    .experiences-navigation > a:hover {
    }

.objectives-header,
.experiences-header {
    padding: 20px 20px 0;
    height: 96px;
}

.objectives-header-title, .objectives-header-sort-label,
.experiences-header-title, .experiences-header-sort-label,
.questions-header-title, .questions-header-sort-label {
    display: table-cell;
    white-space: nowrap;
}
    .objectives-header-title.alone,
    .experiences-header-title.alone,
    .questions-header-title.alone {
        display: block;
    }

.objectives-header-title,
.experiences-header-title,
.questions-header-title {
    overflow: hidden;
    width: 100%;
    color: #666;
    font-size: 18px;
    cursor: default;
}

.objectives-header-title-text {
    padding-right: 25px;
}

    .objectives-header-title > *,
    .experiences-header-title > *,
    .questions-header-title > * {
        display: inline-block;
        vertical-align: middle;
    }

    .objectives-header-title hr,
    .experiences-header-title hr,
    .questions-header-title hr {
        width: 100%;
    }

.objectives-header-create-link,
.experiences-header-create-link,
.questions-header-create-link {
    width: 64px;
    height: 64px;
    background: url('images/objexp-sprite.png') 0 0;
}

    .objectives-header-create-link:hover,
    .experiences-header-create-link:hover,
    .questions-header-create-link:hover {
        background-position: 0 -74px;
    }

.objectives-header-delete-link {
    background-color: #797979;
    width: 40px;
    height: 27px;
    box-shadow: 0 -1px 1px 1px #444444;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    margin-right: 15px;
    text-align: center;
}

.objectives-header-delete-link span {
    display: inline-block;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: 0 -368px;
    background-repeat: no-repeat;
    width: 26px;
    height: 20px;
    vertical-align: middle;
}

    .objectives-header-delete-link:hover {
        background-color: #4E4E4E;
    }

.objectives-header-sort-label span,
.experiences-header-sort-label span,
.questions-header-sort-label span {
    padding-left: 10px;
}

.objectives-header-sort-label, .objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-header-sort-label, .experiences-sort-by-title-asc, .experiences-sort-by-title-desc,
.questions-header-sort-label, .questions-sort-by-title-asc, .questions-sort-by-title-desc {
    color: #666;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.objectives-header-sort-container,
.experiences-header-sort-container,
.questions-header-sort-container {
    float: right;
    margin-top: -20px;
}

.objectives-sort-by-title-asc, .objectives-sort-by-title-desc,
.experiences-sort-by-title-asc, .experiences-sort-by-title-desc,
.questions-sort-by-title-asc, .questions-sort-by-title-desc {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    border: 1px solid #acacac;
}

    .objectives-sort-by-title-asc:hover, .objectives-sort-by-title-desc:hover,
    .experiences-sort-by-title-asc:hover, .experiences-sort-by-title-desc:hover,
    .questions-sort-by-title-asc:hover, .questions-sort-by-title-desc:hover {
        cursor: default;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    }

.active.objectives-sort-by-title-asc:hover, .active.objectives-sort-by-title-desc:hover,
.active.experiences-sort-by-title-asc:hover, .active.experiences-sort-by-title-desc:hover,
.active.questions-sort-by-title-asc:hover, .active.questions-sort-by-title-desc:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.objectives-sort-by-title-asc.active, .objectives-sort-by-title-desc.active,
.experiences-sort-by-title-asc.active, .experiences-sort-by-title-desc.active,
.questions-sort-by-title-asc.active, .questions-sort-by-title-desc.active {
    border-color: black;
    color: #666;
    opacity: 1;
}

.objectives-navigation, .experiences-navigation,
.objectives-header, .experiences-header, .questions-header {
    text-transform: uppercase;
}


.objectives-content-wrapper,
.experiences-content-wrapper {
    width: 100%;
}

.objectives-content,
.experiences-content {
    height: 100%;
    padding-top: 8px;
}

.objectives-list-wrapper,
.experiences-list-wrapper {
    margin: auto;
    max-width: 1200px;
}

.objectives-list,
.experiences-list {
    margin: 0;
}

.objective-brief {
    height: 230px;
    width: 360px;
    float: left;
    margin: 0 13px 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.objective-brief-inner {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
}

    .objective-brief-inner > * {
        height: 100%;
        position: relative;
    }

.objective-brief-selected {
    -webkit-box-shadow: 0 0 9px 2px #6bb4d8;
    -moz-box-shadow: 0 0 9px 2px #6bb4d8;
    box-shadow: 0 0 9px 2px #6bb4d8;
}

.objective-image-wrapper,
.objective-brief-image {
    width: 100%;
    height: 100%;
}

.objective-brief-options {
    height: 182px;
    width: 352px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.objective-brief:hover .objective-brief-options {
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
}

.objective-brief-options-select,
.objective-brief-options-edit {
    height: 182px;
    width: 50%;
    float: left;
    position: relative;
    padding-top: 51px;
    color: #cecece;
    text-align: center;
    font-size: 22px;
}

    .objective-brief-options-select:hover,
    .objective-brief-options-edit:hover {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .objective-brief-options-edit:hover {
        cursor: pointer;
    }

.objective-brief-options-separator {
    height: 140px;
    position: absolute;
    left: 50%;
    z-index: 1;
    margin: 20px 0;
    margin-left: -2px;
    width: 4px;
    background-color: #7E7D7B;
}

.objective-brief-options-select-image {
    display: inline-block;
    margin-top: 5px;
    width: 51px;
    height: 52px;
    background: url('images/objexp-sprite.png') 0 -148px;
}

    .objective-brief-options-select-image.selected {
        background-position: 0 -210px;
    }

.objective-brief-options-edit-image {
    display: inline-block;
    margin-top: 2px;
    width: 51px;
    height: 52px;
    background: url('images/objexp-sprite.png') 0 -370px;
}

.objective-brief-toolbar {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 1px solid #E3E3E3;
    background: #fff;
    vertical-align: top;
    white-space: nowrap;
}

.objective-brief-title {
    display: inline-block;
    height: 38px;
    line-height: 40px;
    width: 321px;
    padding: 0 10px;
    border-right: 1px solid #E3E3E3;
    overflow: hidden;
    vertical-align: top;
    color: #333333;
    font-size: 12px;
}

    .objective-brief-title > span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        cursor: default;
    }

.objective-brief-toolbar-question-count {
    display: inline-block;
    padding: 5px 0;
    margin-left: -4px;
    width: 29px;
    color: #484848;
    text-align: center;
    font-size: 12px;
    font-family: Arial,sans-serif;
    line-height: 12px;
}


.objective-brief-toolbar-icon-question {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url('images/middle-sized-icons-pack.png');
    background-position: center -303px;
}

.objective-question-count-text {
    cursor: default;
}

@media (min-width: 1220px) {

    .objectives,
    .experiences {
        max-width: 1202px;
    }

    .objectives-list-wrapper,
    .experiences-list-wrapper {
        max-width: 1202px;
    }

    .objective-brief {
        margin: 0 20px 40px;
    }
}

@media (max-width: 960px) {
    .module-objectives .logo,
    .module-experiences .logo {
        width: 33px;
    }
}

@media (min-width: 767px) and (max-width: 1166px) {

    .objectives,
    .experiences {
        max-width: 765px;
    }

    .objectives-list-wrapper,
    .experiences-list-wrapper {
        max-width: 765px;
    }

    .objective-brief {
        margin: 0 10px 40px;
    }
}

@media (max-width: 766px) {

    .objectives,
    .experiences {
        max-width: 620px;
    }

    .objectives-list-wrapper,
    .experiences-list-wrapper {
        max-width: 400px;
    }

    .objective-brief {
        margin: 0 20px 40px;
    }

    .alert.alert-info {
        width: 49%;
        min-width: inherit;
        z-index: 10;
    }
}

/*#region EMPTY LIST*/

.objectives .add-new-item-tip .add-new-item-tip-arrow {
    top: 0;
    left: 50px;
}

.objectives .add-new-item-tip .add-new-item-tip-text {
    left: 110px;
    top: 23px;
}

.objectives .empty-list-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.objectives .empty-list-wrapper .empty-list {
    line-height: 75px;
    background-size: 75px;
    margin-top: 70px;
}

.objectives  .empty-list-wrapper .empty-list-text {
    font-size: 26px;
}

/*#endregion EMPTY LIST*/

/*#region NOTIFICATION*/

.objectives .alert-info {
    border-color: #F38971;
    background-color: #f26c4f;
}

.objectives .alert
{
    color: #FFFFFF;
    text-shadow: none;
}

.objectives .alert .close {
    color: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
    line-height: 18px;
}

.objectives .alert-info .info-icon {
    background-image: url(images/warning.png);
    height: 20px;
    width: 19px;
}

/*#endregion NOTIFICATION*/

/*#region HEADER TOOLBAR*/

.header-toolbar-item-wrapper {
    display: inline-block;
    width: 40px;
    height: 28px;
    margin-right: 25px;
    text-align: center;
    -moz-border-radius: 18px / 18px;
    -webkit-border-radius: 18px / 18px;
    border-radius: 18px / 18px;
    -webkit-box-shadow: inset 0 3px 3px -3px #212121;
    -moz-box-shadow: inset 0 3px 3px -3px #212121;
    box-shadow: inset 0 3px 3px -3px #212121;
    background: #626262; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzYyNjI2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzdjN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #626262 1%, #7c7c7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#626262), color-stop(100%,#7c7c7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #626262 1%,#7c7c7c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #626262 1%,#7c7c7c 100%); /* W3C */
}

.ie9 .header-toolbar-item-wrapper {
    filter: none;
}

.header-toolbar-item-wrapper:hover {
    background: #4b4b4b; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4b4b4b 0%, #717171 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#717171)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b4b4b 0%,#717171 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4b4b4b 0%,#717171 100%); /* W3C */
}

.ie9 .header-toolbar-item-wrapper:hover {
    filter: none;
}

/************* Toolbar buttons***************/
.toolbar-remove {
    display: inline-block;
    height: 22px;
    width: 28px;
    margin-top: 2px;
    margin-left: 2px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: 0 -367px;
    background-repeat: no-repeat;
}


/*#endregion HEADER TOOLBAR*/
