.objectives.view-module {
    padding-top: 81px;
}

.create-objective .create-form {
    padding-bottom: 35px;
}

/*#region OBJECTIVES LIST STYLES*/

.package-actions-block {
    position: absolute;
    top: 120px;
    right: 10px;
}

/*#endregion OBJECTIVES LIST STYLES*/