.onboarding-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 360px;
  border-top: 1px solid #dedede;
  background-color: #fff;
  box-shadow: 0 -1px 5px #dedede;
}
.onboarding-wrapper.minimized {
  left: auto;
}
.onboarding {
  width: 100%;
  height: 100%;
  padding: 30px 0 40px;
}
.onboarding-header {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 14px;
  margin: 0 33px 21px;
  font-family: 'RobotoSlab-Bold';
  text-align: center;
  text-transform: uppercase;
  color: #469dd5;
  font-size: 18px;
  line-height: 18px;
}
/*#region Wizard*/
.onboarding-step-item {
  position: relative;
  padding: 10px 10px 10px 33px;
  cursor: default;
  font-size: 16px;
  color: #068ace;
  cursor: pointer;
}
.onboarding-step-item:hover,
.onboarding-step-item.opened {
  background-color: #e7f3ff;
}
.onboarding-step-index {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-family: 'IntroRegular';
  background-color: #fff;
  border: 1px solid #0090d9;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.onboarding-step-item.completed .onboarding-step-index {
  position: relative;
  background-color: #469dd5;
  color: #469dd5;
}
.onboarding-step-item.completed .onboarding-step-index:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 12px;
  margin-top: -6px;
  margin-left: -7px;
  background: url('images/sprites_16.png') -106px -44px no-repeat;
}
.onboarding-step-title {
  font-family: 'OpenSans';
  margin-left: 15px;
}
.onboarding-step-item.completed .onboarding-step-title {
  color: #95afbc;
  text-decoration: line-through;
}
.onboarding-step-item .onboarding-lamp {
  display: inline-block;
  float: right;
  width: 13px;
  height: 24px;
  margin-top: 3px;
  background: url('images/sprites_24.png') -180px -58px;
}
/*#endregion Wizard*/
/*#region Wizard Mini*/
.onboarding-mini-map {
  width: 38px;
  height: 38px;
  margin: 30px 6px 15px;
  background: url('images/sprites_64.png') -220px -81px no-repeat;
}
.onboarding-mini .onboarding-step-item {
  padding: 10px;
  cursor: default;
}
.onboarding-mini .onboarding-step-item:hover {
  background-color: #fff;
}
.onboarding-mini .onboarding-step-index:hover {
  background-color: #469dd5;
  color: #fff;
  -webkit-transition: background-color 0.3s linear 0s;
  -moz-transition: background-color 0.3s linear 0s;
  -o-transition: background-color 0.3s linear 0s;
  transition: background-color 0.3s linear 0s;
}
.onboarding-mini .onboarding-step-item.completed .onboarding-step-index:hover {
  color: transparent;
}
/*#endregion Wizard Mini*/
/*#region Congratulations*/
.onboarding-congratulations {
  padding: 80px 32px;
}
.onboarding-congratulations-close {
  position: absolute;
  top: 21px;
  right: 15px;
  background: url('images/sprites_16.png') -129px -44px no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.onboarding-congratulations-close:hover {
  background: url('images/sprites_16.png') -150px -44px no-repeat;
}
.onboarding-congratulations .onboarding-header {
  margin: 0 0 15px;
}
.onboarding-congratulations-content {
  color: #469dd5;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.onboarding-congratulations-image {
  display: block;
  margin: 0 auto 14px;
}
.onboarding-congratulations-caption {
  font-family: 'OpenSans';
}
.onboarding-congratulations-help-center {
  font-family: 'MyriadProSemibold';
  text-decoration: underline;
  line-height: 24px;
  color: #469dd5;
}
.onboarding-congratulations-help-center:hover,
.onboarding-congratulations-help-center:active {
  color: #2f6e97;
}
/*#endregion Congratulations*/
/*#region Hints*/
.onboarding-hint.tooltip-holder {
  display: block;
  right: -450px;
  top: auto;
  left: auto;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: opacity 0.2s linear, right 0.2s linear;
  -moz-transition: opacity 0.2s linear, right 0.2s linear;
  -webkit-transition: opacity 0.2s linear, right 0.2s linear;
}
.onboarding-step-item:nth-child(1) .onboarding-hint.tooltip-holder {
  bottom: -217px;
}
.onboarding-step-item:nth-child(2) .onboarding-hint.tooltip-holder {
  bottom: -167px;
}
.onboarding-step-item:nth-child(3) .onboarding-hint.tooltip-holder {
  bottom: -117px;
}
.onboarding-step-item:nth-child(4) .onboarding-hint.tooltip-holder {
  bottom: -67px;
}
.onboarding-step-item:nth-child(5) .onboarding-hint.tooltip-holder {
  bottom: -17px;
}
.onboarding-hint.tooltip-holder.visible {
  margin-top: 8px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  right: -432px;
}
.onboarding-hint .tooltip-pointer {
  top: auto;
}
.onboarding-step-item:nth-child(1) .onboarding-hint .tooltip-pointer {
  bottom: 225px;
}
.onboarding-step-item:nth-child(2) .onboarding-hint .tooltip-pointer {
  bottom: 175px;
}
.onboarding-step-item:nth-child(3) .onboarding-hint .tooltip-pointer {
  bottom: 125px;
}
.onboarding-step-item:nth-child(4) .onboarding-hint .tooltip-pointer {
  bottom: 75px;
}
.onboarding-step-item:nth-child(5) .onboarding-hint .tooltip-pointer {
  bottom: 25px;
}
.onboarding-hint .tooltip-content-holder {
  padding: 10px 0 0 0;
}
.onboarding-hint .tooltip-content-holder .read-more-btn {
  margin-top: 20px;
}
.onboarding-hint section {
  padding: 20px;
  border-top: 1px solid #566474;
  border-bottom: 1px solid #44505c;
  line-height: 20px;
}
.onboarding-hint section:first-of-type {
  border-top: none;
}
.onboarding-hint section:last-of-type {
  border-bottom: none;
}
.onboarding-hint section b {
  font-family: 'OpenSans-Semibold';
  font-weight: normal;
}
.onboarding-hint section header {
  font-family: 'IntroRegular';
  margin-bottom: 12px;
  color: #95afbc;
  line-height: 18px;
  font-size: 17px;
  text-transform: uppercase;
}
.onboarding-hint section ul {
  list-style-type: disc;
  padding: 6px 0 0 6px;
}
.onboarding-hint section ol {
  counter-reset: item;
  list-style-type: none;
}
.onboarding-hint section ol li {
  margin-bottom: 10px;
}
.onboarding-hint section ol li:last-child {
  margin-bottom: 0;
}
.onboarding-hint section ol li:before {
  content: counter(item) " ";
  counter-increment: item;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  font-family: 'IntroRegular';
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #556270;
}
.onboarding-hint .tooltip-buttons-holder {
  margin-top: 20px;
}
/*#endregion Hints*/
