/*#region Panel*/

.panel-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 330px;
    z-index: 2200;
    right: -300px;
    font-family: 'OpenSans';
    font-size: 13px;
}

.tab-headers-wrapper {
    -moz-transform: rotate(270.0deg);
    -webkit-transform: rotate(270.0deg);
    -ms-transform: rotate(270.0deg);
    transform: rotate(270.0deg);
    -webkit-transform-origin: 200px 200px;
    -ms-transform-origin: 200px 200px;
    -moz-transform-origin: 200px 200px;
    transform-origin: 200px 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    cursor: default;
    color: #ffffff;
    height: 30px;
    margin-right: 50px;
}

.tab-header {
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
    width: 130px;
    position: relative;
    float: right;
    text-align: center;
    cursor: pointer;
    z-index: 1;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: -1;
        background-color: #738ca5;
    }

    &:before {
        border-radius: 5px;
        transform: skew(10deg);
        left: 10px;
    }

    &:after {
        border-radius: 5px;
        transform: skew(-10deg);
        right: 10px;
        left: auto;
    }

    &.active, &:hover {
        top: -2px;
        z-index: 999;

        &:before,
        &:after {
            background-color: #63798e;
        }
    }

    & + & {
        margin-right: -7px;
    }

    .tab-header-text {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }
}

.tab {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30px;
    background-color: #f4f4f4;
    border-left: 1px solid #CECECE;
    border-top: 1px solid #CECECE;
    overflow: hidden;
}

.panel-right.expanded .tab {
    box-shadow: 0 0 5px #CECECE;
}

.tab:after {
    clear: both;
}

/*#endregion Panel*/

/*#region Tabs*/

.tab-title-text {
    position: relative;
    background-color: #FFF;
    line-height: 54px;
    padding: 0 15px 0 40px;
    border-bottom: 1px solid #DFDFDF;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50%;
    }
}

.review-comments-section .tab-title-text:before {
    height: 14px;
    width: 18px;
    margin-top: -8px;
    background: url(../Content/images/sprites_24.png) no-repeat -177px -3px;
}

.tab-help-info {
    color: #42515f;
    cursor: default;
    font-size: 12px;
    padding: 10px 0;
}

.tab-content {
    padding: 10px 10px 0;
}

.tab-description {
    background-color: #FFF;
    padding: 15px 10px;
    border-bottom: 1px solid #E2E2E2;
}

.tab-action-wrapper {
    position: relative;
}

.tab-btn {
    min-width: 115px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 9px 0;
    color: white;
    text-shadow: none;
}

.tab-btn .loader-container {
    padding-left: 20px;
}

.tab-btn .btn-text {
    line-height: 1;
}

/*#endregion Tabs*/

/*#region Review tab*/

.review-link {
    margin-top: 10px;
}

.review-link.disabled {
    opacity: 0.6;
}

.review-link-input-wrapper {
    width: 100%;

    .review-link-input {
        width: 100%;
        height: 40px;
        background: white;
        border: 1px solid #CAC3BD;
        border-radius: 3px;
        color: #63798e;
        font-family: 'OpenSans';
        font-size: 12px;
        padding: 0 5px;
    }
}

.open-review-link {
    display: inline-block;
    padding: 5px 0;
    font-family: 'OpenSans';
    font-size: 12px;
    text-decoration: none;
    color: #469dd5;

    &:hover {
        text-decoration: underline;
    }
}

.tab-btn.review-btn {
    width: 130px;
    padding: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.tab-btn.review-btn .circular-loader {
    left: 0;
}

.review-comments-section {
    height: 100%;
    position: relative;
}

.review-comments-section .tab-title,
.review-comments-section .review-comments-block,
.review-comments-section .tab-content {
    position: absolute;
}

.review-comments-section .review-comments-block {
    position: absolute;
    width: 100%;
    top: 55px;
    bottom: 190px;
    background-color: #FFF;
    overflow: hidden;

    .iScrollVerticalScrollbar {
        top: 10px;
        right: 5px;
        bottom: 10px;

        .iScrollIndicator {
            background-color: #b1bcc6;
        }
    }
}

.review-comments-section.empty .review-comments-block {
    bottom: 103px;
}

.review-comments-section .tab-content {
    bottom: 0;
    height: 190px;
    box-shadow: 0 0 5px 1px #CECECE;
    border-top: 1px solid #CECECE;
}

.review-comments-section.empty .tab-content {
    height: 103px;
}

.review-comment {
    padding: 13px 10px 10px 10px;
    border-bottom: 1px solid #E2E2E2;

    .review-comment-text {
        padding: 10px 5px 10px 0;
        font-size: 12px;
        font-family: 'OpenSans';
        color: #42515f;
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    .comment-user {
        margin-top: 5px;
        display: flex;
        align-items: center;

        .comment-avatar-letter-holder {
            background-color: #469dd5;
            float: left;
            margin-right: 10px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            text-align: center;

            .comment-avatar-letter {
                display: inline-block;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                font-family: 'OpenSans-Semibold';
                margin-top: 5px;
            }
        }

        .comment-user-wrapper {
            flex: 1 0;

            .review-comment-name {
                font-size: 12px;
                font-family: 'OpenSans-Semibold';
                color: #42515f;
                -ms-word-wrap: break-word;
                word-wrap: break-word;
            }

            .review-comment-email {
                font-size: 12px;
                font-family: 'OpenSans';
                color: #63798e;
                -ms-word-wrap: break-word;
                word-wrap: break-word;
            }
        }
    }
}

.review-comments-block-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background-image: url('images/buildprogress.gif');
    -moz-background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

.review-comments-block .no-comments {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #999999;
    margin-top: -18px;
    padding: 0 15px;
}

.review-not-paid-message-wrapper {
    position: absolute;
    top: 50%;
    height: 88px;
    margin-top: -35px;
}

.review-not-paid-message {
    display: inline-block;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 44px;
    cursor: default;
}

.review-not-paid-message:before {
    background: url("images/sprites_64.png") repeat scroll -16px -80px rgba(0,0,0,0);
    content: "";
    display: block;
    height: 36px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: 50%;
    margin-top: -38px;
    width: 30px;
}

.review-not-paid-message a {
    text-decoration: underline;
    color: #2CB7FF;
}

.review-comment-foter {
    position: relative;
    display: flex;
    align-items: center;

    .review-comment-date {
        flex: 1 0;
        font-size: 11px;
        font-family: 'OpenSansItalic';
        color: #63798e;
    }

    .delete-comment-btn {
        width: 22px;
        height: 22px;
        text-align: center;
        cursor: pointer;

        &:before {
            content: '';
            display: inline-block;
            height: 16px;
            width: 16px;
            margin-top: 3px;
            background: url('images/sprites_16.png') -168px -126px no-repeat;
        }

        &:hover {
            background-color: #eaeaea;
            border-radius: 50%;

            &:before {
                background: url('images/sprites_16.png') 0 -147px no-repeat;
            }
        }

        .info-tooltip {
            width: 120px;
            left: -95px;

            &:after {
                left: 88%;
            }
        }
    }
}

/*#endregion Review tab*/
