/*#region Panel*/

.panel-right {
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 330px;
    z-index: 200;
    right: -300px;
    font-family: 'OpenSans';
    font-size: 13px;
}

.tab-headers-wrapper {
    -moz-transform: rotate(270.0deg);
    -webkit-transform: rotate(270.0deg);
    -ms-transform: rotate(270.0deg);
    transform: rotate(270.0deg);
    -webkit-transform-origin: 200px 200px;
    -ms-transform-origin: 200px 200px;
    -moz-transform-origin: 200px 200px;
    transform-origin: 200px 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 14px;
    font-family: 'OpenSans-Semibold';
    cursor: default;
    color: #5c5c5c;
    height: 30px;
    margin-right: -30px;
}

.tab-header {
    display: table-cell;
    position: relative;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    float: right;
    width: 130px;
    background-color: #d1d1d1;
    border-top-left-radius: 35px 100px;
    border-top-right-radius: 35px 100px;
    border: 1px solid #C4C4C4;
    border-bottom: none;
    box-shadow: 0 0 4px #C4C4C4;
}

    .tab-header:hover, .tab-header.active {
        top: -2px;
        z-index: 999;
    }

    .tab-header.active {
        background-color: #7a7a7a;
        color: #ffffff;
    }

    .tab-header + .tab-header {
        margin-right: -7px;
    }

.tab-header-text {
    display: inline-block;
}

.tab {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30px;
    overflow: hidden;
    background-color: #f4f4f4;
    border-left: 1px solid #CECECE;
    border-top: 1px solid #CECECE;
    border-top-left-radius: 10px;
}

.panel-right.expanded .tab {
    box-shadow: 0 0 5px #CECECE;
}

.tab:after {
    clear: both;
}

/*#endregion Panel*/

/*#region Tabs*/

.tab-title {
    width: 100%;
    height: 40px;
}

.tab-title-text {
    display: inline-block;
    position: relative;
    float: left;
    line-height: 40px;
    padding: 0 15px 0 40px;
    border-right: 1px solid #DFDFDF;
}

    .tab-title-text:before {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50%;
    }

.review-comments-section .tab-title-text:before {
    height: 14px;
    width: 18px;
    margin-top: -8px;
    background: url(../Content/images/sprites_16.png) no-repeat -42px -1px;
}

.feedback-section .tab-title-text:before {
    height: 22px;
    width: 22px;
    margin-top: -14px;
    background: url(../Content/images/sprites_24.png);
    background-position: -147px 0;
}

.tab-title-remain-space {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #DFDFDF;
}

.tab-title-text,
.tab-title-remain-space {
    background-color: #FFF;
    border-top-left-radius: 10px;
}

.tab-help-info {
    cursor: default;
    padding-bottom: 10px;
}

.tab-content {
    padding: 10px 10px 0;
}

.tab-description {
    background-color: #FFF;
    padding: 15px 10px;
    border-bottom: 1px solid #E2E2E2;
}

.tab-action-wrapper {
    position: relative;
}

.tab-btn {
    min-width: 115px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 33px;
    color: white;
    text-shadow: none;
}

    .tab-btn .btn-text.iconed {
        display: inline-block;
        position: relative;
        vertical-align: top;
        padding-left: 20px;
    }

        .tab-btn .btn-text.iconed:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -2px;
            width: 16px;
            height: 16px;
            background: url('data:image/gif;base64,R0lGODlhEAAQAOMAAFSm7MTi9JzK9Gyy7Pz+/Nzq/Mzi/HS67Fyu7Hy67MTi/KTS9Mzm/GSy7Hy+7FCm6SH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCQAPACwAAAAAEAAQAAAEVPDJ+ZyjmDpC7kPYERxPwl0GYVAKoUjWxxGgJJJYumZ8zWcNhqHxKBR+DwaHUTz+AkvkZMBgEKWHBU4CSABCs60pgVnMFhOA4/toEA/hn0Bg00p/EQAh+QQJCQAQACwAAAAAEAAQAIRUquys0vSEvuzc7vxksuz0+vykzvRcquyUyvTs9vzM5vyMwvTk8vxstuz8/vxcruxQpukAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFYCAkjhDRkCjZOA6RigdylE5xGolBIg4iEi5IokaKzVA43WvJRAECBgAEygywAhADdml1bJvPgLR5EDxQZ9RhmDhCHo5ZQ6FoCFgOQVE0YA0AbG4kDCwMEGWCJAsFBQspIQAh+QQJCQARACwAAAAAEAAQAIRcquy02vSEwuzc7vx0tuzM5vyk0vT0+vxssuyUyvT8+vxkruzE4vSMwvR0uuzU6vz8/vxQpukAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFWmAkjmRpisNwjsSYisIjkA7kmA/0lK0Zz6ugcNQAChpBAQSCPAYbS+Qw0pBGEInFSTtaHCAHRKkAKYwSS0gCYDAAAGkuIo0ILAMRsnmE1TKWDCJcJwgPD2IlIQAh+QQJCQARACwAAAAAEAAQAIRUquys0vSEwuxstuzk7vz0+vx8uuxkruyk0vR0tuz8+vxcquy01vSUyvT09vx0uuz8/vxQpukAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXGAkjmRpigFyjsuIBOKCHORStCUCqfW5BLjVykAgPISDQYQAgRBWg2aC6YQ2B4/icZVQigAJgHAEYBLEJISDF0k0IUeBQOSAFMhmQKPZiKjZEWBiOjtjMQwMaCQhACH5BAkJAA8ALAAAAAAQABAAg1Sm7Lze9Hy+7OTy/Gyy7IzC9Fyu7NTq/Pz+/FSq7ITC7Oz2/HS67JTK9Nzq/FCm6QRc8MlJ6zTFyKKsNAuyaJwECMBUIGxRCYhwhYhGnemVeZQRBDYPIBVgBXiAwQBQRByFSoAPyHsMKYlqpfikKBwdSYKFyBIIkgPCQeE+GCzGo3BwYSUKVlgLaDRyFBEAIfkECQkADwAsAAAAABAAEACDVKbsrNL0fLrs5PL8ZLLslMr0ZK7s1Or89Pr8nMr0XKrstNb0bLbs/P78nM70UKbpBFnwySnGEDM/QMAbTTNoEnA0BwCKkpERYUNU16M0bnmmZD5xHlIG4EgEhRNHyIF8LAIPZYOJfG4cjmNziywMEr2AIgMa2YKBBjT5fRAQCBdBjGSEGFyJAEOKAAAh+QQJCQARACwAAAAAEAAQAIRUpuys1vSEvuzs8vx0tuzE4vSkzvRkruz8+vx8vuxcquy83vSMxvR0uuzM5vyk0vT8/vxQpukAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXmAkjseyHGOqLhBURIRBpAESRKxLtFAzIhBEpFRQPHiPUe2W2rV8qijhMRMlEtFsooXNRhiMyBbSzYJFgrJ3zRY71CKAAJByQBxRAUSQErxFBS8RcnReAwNtIwAKWSEAIfkECQkAEAAsAAAAABAAEACEVKrsvNr0jML0fL7sZK7s7Pb8nM70XKrslMr0/P783O78jMb0ZLLs9Pb8pM70XK7sUKbpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWEgJI6AYQBjqhpJYkDHcKSLskBOaxxFUswiRUIBAThOg1ZiMKrdUjwfUKWKTRkM6kjQKAgYray20WqAEwQthJxoQAhiLbfxVKsfjoc2nco5qA9oKXh6EAgvInxqAQF2jikhADs=') no-repeat; /*images/blue-loader.gif*/
        }

/*#endregion Tabs*/

/*#region Feedback tab*/

.feedback-wrapper {
    position: fixed;
    top: 50%;
    right: -300px;
    margin-top: -130px;
    z-index: 5000;
    width: 300px;
    min-height: 260px;
}

.feedback-form {
    overflow: hidden;
    box-shadow: none;
}

.feedback-wrapper.shadow .feedback-form {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

.feedback-text-block {
    font-family: 'OpenSans';
    color: #303133;
    width: 100%;
    margin: 3px 0;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #CAC3BD;
}

    .feedback-text-block.placeholder {
        color: #c4c4c4;
    }

    .feedback-text-block:-ms-input-placeholder {
        color: #c4c4c4;
    }

    .feedback-text-block:focus {
        border: 1px solid rgba(0, 168, 255, 0.75);
        box-shadow: 0 0 3px rgba(0, 168, 255, 0.75);
    }

    .feedback-text-block.email {
        height: 30px;
        padding: 0 10px;
    }

    .feedback-text-block.message {
        height: 130px;
        padding: 10px;
        resize: none;
    }

        .feedback-text-block.message.error {
            border: 1px solid rgba(149, 59, 57, 0.8);
            box-shadow: inset 0 0 7px rgba(149, 59, 57, 1);
        }

.feedback-status-text {
    line-height: 33px;
    padding-left: 18px;
    color: #999999;
    font-family: 'OpenSans';
    font-size: 13px;
}

    .feedback-status-text:before {
        content: '';
        position: absolute;
        background: url(images/sprites.png) -94px -52px no-repeat;
        width: 18px;
        height: 18px;
        display: block;
        margin-left: -20px;
        margin-top: 9px;
    }

/*#endregion SEND FEEDBACK*/

/*#region Review tab*/

.review-link {
    margin-top: 10px;
}

    .review-link.disabled {
        opacity: 0.6;
    }

.review-link-input-wrapper {
    width: 100%;
    padding-right: 25px;
}

.review-link-input {
    width: 100%;
    height: 28px;
    background: white;
    border: 1px solid #CAC3BD;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-family: 'OpenSans';
    font-size: 12px;
    padding: 0 5px;
}

.open-review-link {
    cursor: pointer;
    position: relative;
    height: 28px;
    width: 25px;
    float: right;
    background-color: #BBBBBB;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

    .open-review-link:after {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        position: absolute;
        left: 5px;
        top: 6px;
        background: url(../Content/images/sprites.png) -178px -220px;
    }

.tab-btn.review-btn {
    width: 130px;
}


.review-comments-section {
    height: 100%;
    position: relative;
}

    .review-comments-section .tab-title,
    .review-comments-section .review-comments-block,
    .review-comments-section .tab-content {
        position: absolute;
    }

    .review-comments-section .review-comments-block {
        position: absolute;
        width: 100%;
        top: 40px;
        bottom: 140px;
        overflow: auto;
    }

    .review-comments-section.empty .review-comments-block {
        bottom: 103px;
    }

    .review-comments-section .tab-content {
        bottom: 0;
        height: 140px;
        box-shadow: 0 0 5px 1px #CECECE;
        border-top: 1px solid #CECECE;
    }

    .review-comments-section.empty .tab-content {
        height: 103px;
    }

.review-comments-block {
    background-color: #FFF;
}

.review-comment {
    padding: 13px 10px 10px 10px;
    border-bottom: 1px solid #E2E2E2;
}

.review-comment-text {
    padding-bottom: 5px;
    font-size: 12px;
    font-family: 'OpenSans';
    color: #303133;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.review-comment-date {
    text-align: right;
    font-size: 11px;
    font-family: 'OpenSansItalic';
    color: #555555;
}

.review-comments-block-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    background-image: url('images/buildprogress.gif');
    -moz-background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

.review-comments-block .no-comments {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #999999;
    margin-top: -18px;
}

.review-not-paid-message-wrapper {
    position: absolute;
    top: 50%;
    height: 88px;
    margin-top: -35px;
}

.review-not-paid-message {
    display: inline-block;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 44px;
    cursor: default;
}

    .review-not-paid-message:before {
        background: url("images/sprites.png") repeat scroll -2px 102px rgba(0,0,0,0);
        content: "";
        display: block;
        height: 36px;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        top: 50%;
        margin-top: -38px;
        width: 30px;
    }

    .review-not-paid-message a {
        text-decoration: underline;
        color: #2CB7FF;
    }

/*#endregion Review tab*/
