html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 14px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: #333;
    font-weight: 600;
}

html, body, iframe, div {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}

iframe {
    overflow: visible;
}

.course-preview {
    height: 100%;
    width: 100%;
}

.loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -96px;
    margin-top: -16px;
}

.loading-spinner-image {
    float: left;
}

.loading-spinner-text {
    padding-left: 20px;
    line-height: 32px;
}

.content {
    height: 100%;
    width: 100%;
}
