.question {
    color: #666;
    font-size: 14px;
}

.question-image {
    height: 84px;
    width: 164px;
    vertical-align: top;
}

.question-header-title {
    margin-left: 225px;
}

.question-content {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar,
.nav-control {
    max-width: 100%;
}

.nav-title {
    width: 100%;
    padding-right: 0;
    margin-left: -57px;
    padding-left: 70px;
}

.nav-title .second-part span {
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.question-text-wrapper .edit-field .text-block .editarea-editable-text {
    min-height: 93px;
}

.question-answers {
}

.question-learning-contents {
}

/*#region Info button*/

.question .info-btn-holder {
    line-height: 92px;
    height: 92px;
}

.question .info-btn-wrapper {
    display: inline-block;
    letter-spacing: normal;
    height: 32px;
    width: 32px;
    position: relative;
    margin: 0 10px;
    vertical-align: middle;
}

.question .info-btn {
    height: 32px;
    width: 32px;
    border: 1px solid #dcdcdc;
    background-color: #ebebeb;
    background-image: url(images/info-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 16px;
}

/*#endregion Info button*/

/*#region Info popup*/

.question .info-popup-wrapper {
    display: none;
    height: 100px;
    width: 209px;
    position: absolute;
    top: -33px;
    right: 31px;
    z-index: 30;
}

.question .info-btn-wrapper:hover .info-popup-wrapper {
    display: block;
}

.question-info-popup {
    height: 100%;
    width: 202px;
    position: relative;
    line-height: normal;
    border: 1px solid #bdbebf;
    border-radius: 3px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,248,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,248,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,248,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f8',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.ie9 .question-info-popup {
    filter: none;
}

.question-info-table {
    width: 100%;
    height: 100%;
    color: #666;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    table-layout: fixed;
}

.condition-title {
    padding: 4px 5px;
    vertical-align: top;
}

.condition-date-time-text,
.condition-date-text {
    display: block;
}

    .condition-date-time-text:before,
    .condition-date-text:before {
        content: '';
        display: block;
        height: 16px;
        width: 16px;
        float: left;
        margin-right: 5px;
        background-image: url(images/middle-sized-icons-pack.png);
    }

    .condition-date-time-text:before {
        background-position: -6px -326px;
    }

    .condition-date-text:before {
        background-position: -6px -350px;
    }

.question-info-popup-triangle-wrapper {
    position: absolute;
    width: 8px;
    height: 16px;
    top: 50%;
    right: -8px;
    margin-top: -8px;
    overflow: hidden;
}

.question-info-popup-triangle {
    width: 16px;
    height: 16px;
    margin-left: -11px;
    background-color: #fbfbfc;
    border: 1px solid #bdbebf;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

/*#endregion Info popup*/

/*#region Question content block*/

.question-content-block {
    margin: 5px 10px;
}

.question-content-block-header-wrapper {
    height: 56px;
    position: relative;
    z-index: 0;
    border-left: 10px solid #F26C4F;
}

.question-content-block-header {
    height: 100%;
    line-height: 54px;
    padding-left: 16px;
    background-color: #F5F5F5;
    border: 1px solid #E1E1E1;
    cursor: default;
}

.question-content-block-header-title {
    height: 100%;
    line-height: 54px;
    float: left;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
}

.question-content-block-size-element-wrapper {
    height: 100%;
    line-height: 54px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
}

    .question-content-block-size-element-wrapper:hover {
        background-color: #e3e3e3;
    }

    .question-content-block-size-element-wrapper .nav-element {
        cursor: default;
    }

.question-content-block-size-btn {
    height: 100%;
    line-height: 54px;
    width: 45px;
    text-align: center;
}

.question-content-block-header-icon {
    height: 100%;
    width: 40px;
    float: left;
}

    .question-content-block-header-icon > i {
        display: block;
        width: 27px;
        height: 27px;
        position: relative;
        top: 50%;
        margin-top: -14px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-repeat: no-repeat;
    }

    .question-content-block-header-icon .answer-option-icon {
        background-position: center -168px;
    }

    .question-content-block-header-icon .learning-content-icon {
        background-position: center -195px;
    }

.question-content-items-list {
    padding: 20px 0 10px 20px;
}

/*----------------curved shadow---------------*/

.shadow-bottom-curve {
    position: relative;
}

    .shadow-bottom-curve:before, .shadow-bottom-curve:after {
        content: "";
        position: absolute;
        height: 10px;
        top: 79%;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: -1;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -webkit-border-radius: 250px / 10px;
        -moz-border-radius: 250px / 10px;
        border-radius: 250px / 10px;
    }

/*#endregion Question content block*/

/*#region Answer options & learning content*/

.answer-options-list-item,
.question-learning-content-list-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.answer-option-item + .answer-option-item,
.question-learning-content-item + .question-learning-content-item,
.add-button {
    margin-top: 15px;
}

.question-answer-value-wrapper {
    display: table-cell;
    width: 54px;
    padding-right: 14px;
    vertical-align: middle;
}

    .question-answer-value-wrapper.hidden {
        visibility: hidden;
    }

.question-answer-value {
    height: 41px;
    width: 40px;
    padding: 9px 0;
    border: dashed 1px #E1E1E1;
    text-align: center;
    cursor: default;
}

.answer-option-item:hover .question-answer-value {
    border-style: solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.answer-option-item:hover .question-answer-text,
.question-learning-content-item:hover .question-learning-content {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
}

/*.answer-option-item.active:hover .question-answer-value,*/
.question-learning-content-item.active:hover .question-learning-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.question-answer-value.correct {
    border-color: #53a93f;
}

.answer-correct-icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(images/answer-correct.png);
    background-repeat: no-repeat;
}

.answer-option-item:hover .answer-correct-icon {
    display: inline-block !important;
    background-position: 0 100%;
}

.answer-option-item:hover .correct .answer-correct-icon {
    background-position: 0 0;
}


/* Answer option text */

.question-answer-text-wrapper,
.question-learning-content-wrapper {
    display: table-cell;
    border: 1px dashed #e1e1e1;
    color: #666;
    font-size: 13px;
    font-family: Arial,sans-serif;
    overflow: hidden;
}

.question-learning-content {
    min-height: 40px;
    padding: 12px 10px;
    vertical-align: top;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .question-learning-content ul,
    .question-learning-content ol {
        padding-left: 30px;
    }

.question-answer-text {
    min-height: 40px;
    vertical-align: top;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .question-answer-text .editarea-editable-text {
        min-height: 15px;
        width: 100%;
        padding: 10px 10px;
        vertical-align: top;
        border: none;
        color: #666;
        font-size: 13px;
        font-family: Arial,sans-serif;
        -ms-resize: none;
        resize: none;
        overflow-y: hidden;
    }

    .question-answer-text p {
        padding: 12px 10px;
    }

    .question-answer-text textarea:focus {
        outline: none;
    }

.answer-option-item:hover .question-answer-text-wrapper,
.question-learning-content-item:hover .question-learning-content-wrapper {
    border-style: solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.answer-option-item.active .question-answer-text-wrapper,
.question-learning-content-item.active .question-learning-content-wrapper {
    border: 1px solid rgba(116, 185, 240, 1);
    -webkit-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
    -moz-box-shadow: 0 0 3px rgba(116, 185, 240, 1);
    box-shadow: 0 0 3px rgba(116, 185, 240, 1);
}

.answer-option-item.active .question-answer-text,
.question-learning-content-item.active .question-learning-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*#region Delete button*/

.question-answer-delete-wrapper,
.question-learning-content-delete-wrapper {
    width: 45px;
    display: table-cell;
    vertical-align: middle;
    visibility: hidden;
    border: 1px solid transparent;
    border-left: 1px dashed #e1e1e1;
    text-align: center;
}

.answer-option-item.active .question-answer-delete-wrapper,
.answer-option-item:hover .question-answer-delete-wrapper,
.question-learning-content-item.active .question-learning-content-delete-wrapper,
.question-learning-content-item:hover .question-learning-content-delete-wrapper {
    visibility: visible;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

    .answer-option-item:hover .question-answer-delete-wrapper:hover,
    .question-learning-content-item:hover .question-learning-content-delete-wrapper:hover {
        background-color: #e3e3e3;
    }

.question-answer-delete-icon,
.question-learning-content-delete-icon {
    display: inline-block;
    height: 25px;
    width: 22px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: center -222px;
    background-repeat: no-repeat;
}

/*#endregion Delete button*/

/*#region Add button*/
.add-button {
    margin-right: 45px;
}

    .add-button .question-answer-value,
    .add-button .question-answer-text-wrapper,
    .add-button .question-learning-content-wrapper {
        background-color: #fafafa;
        text-align: center;
    }

    .add-button .disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .add-button:hover .question-answer-value,
    .add-button:hover .question-answer-text-wrapper,
    .add-button:hover .question-learning-content-wrapper.enabled {
        border-style: solid;
        background-color: white;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .add-button .question-answer-text-wrapper,
    .add-button .question-learning-content-wrapper.enabled {
        cursor: text;
    }

    .add-button .question-answer-text {
        padding-right: 54px;
    }

/*#endregion Add button*/

/*#endregion Answer options & learning objects*/

/*#region Expand/collapse controls*/

.expand-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/expand.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.collapse-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/collapse.png);
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 779px) {
    .question-info-container {
        margin: 0 35px;
    }
}

/*#endregion Expand/collapse controls*/

/*#region Create question page*/

.create-question-content-wrapper {
    padding-top: 11px;
}

.create-question-form {
    position: relative;
    margin-left: 60px;
    height: 100%;
    padding-bottom: 10px;
}

    .create-question-form .edit-field .text-block .editarea-editable-text {
        min-height: 140px;
    }

.create-question-text-wrapper {
    position: relative;
    margin-left: 225px;
}

.create-question-form-actions {
    float: right;
    padding-top: 25px;
    margin-left: 225px;
}

    .create-question-form-actions .btn {
        float: left;
    }

        .create-question-form-actions .btn .btn-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .create-question-form-actions .btn .btn-img {
            display: inline-block;
            vertical-align: middle;
            background-image: url(images/create-actions-sprite.png);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }

        .create-question-form-actions .btn.saveAndOpen .btn-img {
            background-position: left -25px;
        }

        .create-question-form-actions .btn.saveAndNew .btn-img {
            background-position: left 0;
        }


@media (max-width: 945px) {
    .create-question-form-actions .btn {
        float: right;
        clear: both;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }

    .question .btn + .btn {
        margin-left: 0;
    }
}

/*#endregion Create question page*/

/*#region Info-popup*/

.info-popup {
    display: none;
    position: absolute;
    background-color: #DEDFE3;
    width: 170px;
}

/*#endregion Info-popup*/

/*#region Create new question navigation button*/

.create-question .navbar {
    overflow: hidden;
}

.navbar .nav-control {
    display: inline-block;
}

.question.navbar {
    width: 100%;
}

.nav-control.flexible {
    display: block;
    margin-right: 327px;
}

.nav-control.flexible.single {
    margin-right: 70px;
}

.nav-control.single .nav-title {
	padding-left: 70px;
}

.nav-icon.create-question-image {
    background-image: url('images/nav-icons.png');
    background-position: 0 -228px;
    background-repeat: no-repeat;
}

.question .fixed .nav-title {
    margin-left: -57px;
    padding-left: 70px;
    margin-right: 10px;
}

.question .flexible .nav-title {
    margin-left: 0;
    padding-left: 0;
    padding-right: 20px;
}

.question .flexible .nav-element {
    padding: 10px;
}

/*#endregion Create new question navigation button*/

.nav-control.create-question-from-question-view {
    cursor: pointer;
}

    .nav-control.create-question-from-question-view .nav-title {
        padding-left: 0;
    }
