.question {
    color: #656565;
    font-size: 14px;
}

.question-header {
    height: 240px;
    width: 100%;
    position: absolute;
    top: 57px;
    padding: 15px 0;
}

.question-image {
    height: 80px;
    width: 160px;
    vertical-align: top;
}

.question-header-title {
    margin-left: 20px;
}

.question-content {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    top: 180px;
    bottom: 10px;
    position: absolute;
    width: 100%;
}

.question-content-block {
    margin: 5px 15px 5px 15px;
}

.question-content-block-header-wrapper {
    border-left: 20px solid #F26C4F;
}

.question-content-block-header {
    height: 57px;
    background-color: #F5F5F5;
    border: 1px solid #E1E1E1;
    padding-left: 40px;
    line-height: 47px;
}

.question-content-block-header-title {
    line-height: 57px;
    float: left;
    font-size: 16px;
    color: #666666;
}

.question-content-block-size-element-wrapper {
    height: 56px;
    line-height: 57px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
}

    .question-content-block-size-element-wrapper:hover {
        background-color: #e3e3e3;
    }

.question-content-block-size-btn {
    height: 57px;
    line-height: 57px;
    width: 45px;
    text-align: center;
}

.question-content-block-header-icon {
    line-height: 57px;
    float: left;
    width: 40px;
    height: 57px;
}

    .question-content-block-header-icon.answer-option-icon {
        background-image: url(images/answer-option-icon.png);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .question-content-block-header-icon.explanation-icon {
        background-image: url(images/explanation-icon.png);
        background-repeat: no-repeat;
        background-position: left center;
    }

.question-header-title, .question-content-block-header-title {
    text-transform: uppercase;
}

.question-content-items-list {
    margin: 20px 20px 20px 20px;
}

.question-content-list-item {
    margin-bottom: 10px;
}

.question-answer-value {
    border: dashed 1px #E1E1E1;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.answer-correct-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: url(images/answer-correct.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.question-answer-text {
    border: dashed 1px #E1E1E1;
    margin-left: 55px;
    min-height: 40px;
    padding: 7px 10px 7px 10px;
}

.question-explanations-item {
    border: dashed 1px #E1E1E1;
    min-height: 40px;
    padding: 7px 10px 7px 10px;
}

.question-nav-btn {
    height: 90px;
    line-height: 90px;
    width: 50px;
    text-align: center;
}

/*common - ?*/

a.nav-element {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

    a.nav-element:hover {
        text-decoration: none;
        opacity: 1;
        filter: alpha(opacity=100);
    }

.prev-btn {
    min-height: 40px;
    min-width: 30px;
    background-image: url(images/prev-btn.png);
    background-repeat: no-repeat;
    margin-right: 13px;
    background-position: left center;
}

.forw-btn {
    min-height: 40px;
    min-width: 30px;
    background-image: url(images/forw-btn.png);
    background-repeat: no-repeat;
    margin-left: 13px;
    background-position: right center;
}

.expand-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/expand.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.collapse-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/collapse.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.hidden {
    visibility: hidden;
}
