.question {
    color: #656565;
    font-size: 14px;
}

.question-header {
    width: 100%;
    position: absolute;
    top: 57px;
    padding: 15px 0;
}

.question-info-container {
    margin: 0 66px;
}

.question-image {
    height: 84px;
    width: 164px;
    vertical-align: top;
}

.question-header-title {
    padding-top: 7px;
    margin-left: 195px;
    -ms-word-break: break-all;
    word-break: break-all;
}

.question-content {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    top: 185px;
    bottom: 10px;
    position: absolute;
    width: 100%;
}

.question-answers {
}

.question-explanations {
}

.question-content-block {
    margin: 5px 15px 5px 15px;
}

.question-content-block-header-wrapper {
    height: 57px;
    position: relative;
    z-index: 0;
    border-left: 10px solid #F26C4F;
}

.question-content-block-header {
    height: 57px;
    background-color: #F5F5F5;
    border: 1px solid #E1E1E1;
    padding-left: 16px;
    line-height: 47px;
}

.question-content-block-header-title {
    line-height: 57px;
    float: left;
    font-size: 16px;
    color: #666666;
}

.question-content-block-size-element-wrapper {
    height: 56px;
    line-height: 57px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
}

    .question-content-block-size-element-wrapper:hover {
        background-color: #e3e3e3;
    }

.question-content-block-size-btn {
    height: 57px;
    line-height: 57px;
    width: 45px;
    text-align: center;
}

.question-content-block-header-icon {
    height: 57px;
    width: 40px;
    float: left;
    margin-top: -2px;
}

    .question-content-block-header-icon.answer-option-icon {
        background-image: url(images/answer-option-icon.png);
        background-repeat: no-repeat;
        background-position: left center;
    }

    .question-content-block-header-icon.explanation-icon {
        background-image: url(images/explanation-icon.png);
        background-repeat: no-repeat;
        background-position: left center;
    }

.question-header-title, .question-content-block-header-title {
    text-transform: uppercase;
}

.question-content-items-list {
    margin: 20px 0 20px 20px;
}

.question-content-list-item {
    width: 100%;
    margin-bottom: 10px;
}

/*==================================
 Answer options
=================================*/

.answer-options-list-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}


/* Correct/incorrect icon  */

.answer-option-item {
    margin-bottom: 15px;
}

.question-answer-value-wrapper {
    display: table-cell;
    width: 54px;
    padding-right: 14px;
    vertical-align: middle;
}

.question-answer-value {
    height: 41px;
    width: 40px;
    padding: 9px 0;
    border: dashed 1px #E1E1E1;
    text-align: center;
    cursor: pointer;
}

.answer-option-item:hover .question-answer-value {
    border-style: solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.answer-option-item.active:hover .question-answer-value {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.question-answer-value.correct {
    border-color: #53a93f;
}

.answer-correct-icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(images/answer-correct.png);
    background-repeat: no-repeat;
}

.answer-option-item:hover .answer-correct-icon {
    display: inline-block !important;
    background-position: 0 100%;
}

.answer-option-item:hover .correct .answer-correct-icon {
    background-position: 0 0;
}


/* Answer option text */

.question-answer-text-wrapper {
    display: table-cell;
    border: 1px dashed #e1e1e1;
    padding: 0;
    color: #666;
    font-size: 13px;
    font-family: Arial,sans-serif;
}

.question-answer-text {
    min-height: 40px;
    padding: 8px 10px;
    vertical-align: top;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.answer-option-item:hover .question-answer-text-wrapper {
    border-style: solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.answer-option-item.active .question-answer-text-wrapper {
    border: 1px solid rgba(68, 192, 252, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    -moz-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    box-shadow: 0 0 3px rgba(68, 192, 252, 1);
}


.answer-option-item:hover .question-answer-text {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
}

.answer-option-item.active .question-answer-text {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Delete button */

.question-answer-delete-wrapper {
    width: 45px;
    display: table-cell;
    vertical-align: middle;
    visibility: hidden;
    border: 1px solid transparent;
    border-left: 1px dashed #e1e1e1;
    text-align: center;
    cursor: pointer;
}

.answer-option-item.active .question-answer-delete-wrapper,
.answer-option-item:hover .question-answer-delete-wrapper {
    visibility: visible;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

    .answer-option-item:hover .question-answer-delete-wrapper:hover {
        background-color: #e3e3e3;
    }

.question-answer-delete-icon {
    display: inline-block;
    height: 25px;
    width: 22px;
    vertical-align: middle;
    background-image: url(images/recycle.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.add-button .question-answer-text-wrapper {
    background-color: #fafafa;
    text-align: center;
}

    .add-button .question-answer-text-wrapper:hover {
        border-style: solid;
        background-color: white;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        cursor: text;
    }

/*==================================
 Explanations options
=================================*/

.question-explanations-item {
    min-height: 40px;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    font-family: Arial;
    border: dashed 1px #E1E1E1;
}

.question-add-explanation {
    background-color: #F5F5F5;
    color: #9B9B9B;
}

.question-remove-button {
    width: 20px;
    height: 20px;
    background-color: #F5F5F5;
    cursor: pointer;
}

/**
  *    Navigation elements
  */

.nav-element {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

    .nav-element:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .nav-element.disabled {
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

.question-nav-btn {
    height: 96px;
    line-height: 96px;
    width: 17px;
    text-align: center;
    background-image: url(images/nav-buttons.png);
    background-repeat: no-repeat;
}

    .question-nav-btn.prev-btn {
        background-position: left center;
    }

    .question-nav-btn.next-btn {
        background-position: right center;
    }

/**
  *    Expand-collapse controls
  */

.expand-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/expand.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.collapse-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/collapse.png);
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 779px) {
    .question-info-container {
        margin: 0 35px;
    }
}
