.question {
    color: #656565;
    font-size: 14px;
}

.question-image {
    height: 84px;
    width: 164px;
    vertical-align: top;
}

.question-header-title {
    padding: 0 15px;
    margin-left: 175px;
}

.question-content {
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.question-text-wrapper .edit-field .text-block {
    min-height: 90px;
}

.question-answers {
}

.question-explanations {
}

.question-content-block {
    margin: 5px 10px;
}

.question-content-block-header-wrapper {
    height: 56px;
    position: relative;
    z-index: 0;
    border-left: 10px solid #F26C4F;
}

.question-content-block-header {
    height: 100%;
    line-height: 54px;
    padding-left: 16px;
    background-color: #F5F5F5;
    border: 1px solid #E1E1E1;
    cursor: default;
}

.question-content-block-header-title {
    height: 100%;
    line-height: 54px;
    float: left;
    color: #666666;
    font-size: 16px;
    text-transform: uppercase;
}

.question-content-block-size-element-wrapper {
    height: 100%;
    line-height: 54px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
}

    .question-content-block-size-element-wrapper:hover {
        background-color: #e3e3e3;
    }

    .question-content-block-size-element-wrapper .nav-element {
        cursor: default;
    }

.question-content-block-size-btn {
    height: 100%;
    line-height: 54px;
    width: 45px;
    text-align: center;
}

.question-content-block-header-icon {
    height: 100%;
    width: 40px;
    float: left;
}

    .question-content-block-header-icon > i {
        display: block;
        width: 27px;
        height: 27px;
        position: relative;
        top: 50%;
        margin-top: -14px;
        background-image: url(images/middle-sized-icons-pack.png);
        background-repeat: no-repeat;
    }

    .question-content-block-header-icon .answer-option-icon {
        background-position: center -168px;
    }

    .question-content-block-header-icon .explanation-icon {
        background-position: center -195px;
    }

.question-content-items-list {
    padding: 20px 0 10px 20px;
}

/*==================================
 Answer options & explanations
=================================*/

.answer-options-list-item,
.question-explanation-list-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}


/* Correct/incorrect icon  */

.answer-option-item + .answer-option-item,
.question-explanation-item + .question-explanation-item,
.add-button {
    margin-top: 15px;
}

.question-answer-value-wrapper {
    display: table-cell;
    width: 54px;
    padding-right: 14px;
    vertical-align: middle;
}

    .question-answer-value-wrapper.hidden {
        visibility: hidden;
    }

.question-answer-value {
    height: 41px;
    width: 40px;
    padding: 9px 0;
    border: dashed 1px #E1E1E1;
    text-align: center;
    cursor: default;
}

.answer-option-item:hover .question-answer-value {
    border-style: solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.answer-option-item:hover .question-answer-text,
.question-explanation-item:hover .question-explanation {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
}

/*.answer-option-item.active:hover .question-answer-value,*/
.question-explanation-item.active:hover .question-explanation {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.question-answer-value.correct {
    border-color: #53a93f;
}

.answer-correct-icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(images/answer-correct.png);
    background-repeat: no-repeat;
}

.answer-option-item:hover .answer-correct-icon {
    display: inline-block !important;
    background-position: 0 100%;
}

.answer-option-item:hover .correct .answer-correct-icon {
    background-position: 0 0;
}


/* Answer option text */

.question-answer-text-wrapper,
.question-explanation-wrapper {
    display: table-cell;
    border: 1px dashed #e1e1e1;
    color: #666;
    font-size: 13px;
    font-family: Arial,sans-serif;
    overflow: hidden;
}

.question-explanation {
    min-height: 40px;
    padding: 8px 10px;
    vertical-align: top;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .question-explanation ul,
    .question-explanation ol {
        padding-left: 30px;
    }

.question-answer-text {
    min-height: 40px;
    vertical-align: top;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .question-answer-text textarea {
        height: 15px;
        width: 100%;
        padding: 12px 10px;
        vertical-align: top;
        border: none;
        color: #666;
        font-size: 13px;
        font-family: Arial,sans-serif;
        -ms-resize: none;
        resize: none;
        overflow-y: hidden;
    }

    .question-answer-text p {
        padding: 8px 10px;
    }

    .question-answer-text textarea:focus {
        outline: none;
    }

.answer-option-item:hover .question-answer-text-wrapper,
.question-explanation-item:hover .question-explanation-wrapper {
    border-style: solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.answer-option-item.active .question-answer-text-wrapper,
.question-explanation-item.active .question-explanation-wrapper {
    border: 1px solid rgba(68, 192, 252, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    -moz-box-shadow: 0 0 3px rgba(68, 192, 252, 1);
    box-shadow: 0 0 3px rgba(68, 192, 252, 1);
}

.answer-option-item.active .question-answer-text,
.question-explanation-item.active .question-explanation {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Delete button */

.question-answer-delete-wrapper,
.question-explanation-delete-wrapper {
    width: 45px;
    display: table-cell;
    vertical-align: middle;
    visibility: hidden;
    border: 1px solid transparent;
    border-left: 1px dashed #e1e1e1;
    text-align: center;
    text-align: center;
}

.answer-option-item.active .question-answer-delete-wrapper,
.answer-option-item:hover .question-answer-delete-wrapper,
.question-explanation-item.active .question-explanation-delete-wrapper,
.question-explanation-item:hover .question-explanation-delete-wrapper {
    visibility: visible;
    background-color: #f5f5f5;
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

    .answer-option-item:hover .question-answer-delete-wrapper:hover,
    .question-explanation-item:hover .question-explanation-delete-wrapper:hover {
        background-color: #e3e3e3;
    }

.question-answer-delete-icon,
.question-explanation-delete-icon {
    display: inline-block;
    height: 25px;
    width: 22px;
    vertical-align: middle;
    background-image: url(images/middle-sized-icons-pack.png);
    background-position: center -222px;
    background-repeat: no-repeat;
}

.add-button {
    margin-right: 45px;
}

    .add-button .question-answer-value,
    .add-button .question-answer-text-wrapper,
    .add-button .question-explanation-wrapper {
        background-color: #fafafa;
        text-align: center;
    }

    .add-button .disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .add-button:hover .question-answer-value,
    .add-button:hover .question-answer-text-wrapper,
    .add-button:hover .question-explanation-wrapper.enabled {
        border-style: solid;
        background-color: white;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .add-button .question-answer-text-wrapper,
    .add-button .question-explanation-wrapper.enabled {
        cursor: text;
    }

    .add-button .question-answer-text {
        padding-right: 54px;
    }

/**
  *    Expand-collapse controls
  */

.expand-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/expand.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.collapse-btn {
    min-height: 20px;
    min-width: 20px;
    background-image: url(images/collapse.png);
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 779px) {
    .question-info-container {
        margin: 0 35px;
    }
}

/* Create question page */

.create-question-content-wrapper {
}

.create-question-form {
    position: relative;
    margin-left: 60px;
    height: 100%;
    padding-bottom: 10px;
}

.create-question-image {
    float: left;
}

.create-question-text-wrapper {
    position: relative;
    margin-left: 225px;
}

    .create-question-text-wrapper textarea {
        /*min-height: 50px;*/
    }

.create-question-form-actions {
    float: right;
    padding-top: 25px;
    margin-left: 225px;
}

    .create-question-form-actions .btn {
        float: left;
    }

        .create-question-form-actions .btn .btn-text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .create-question-form-actions .btn .btn-img {
            display: inline-block;
            vertical-align: middle;
            background-image: url(images/create-actions-sprite.png);
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
        }

        .create-question-form-actions .btn.saveAndOpen .btn-img {
            background-position: left -25px;
        }

        .create-question-form-actions .btn.saveAndNew .btn-img {
            background-position: left 0;
        }


@media (max-width: 890px) {
    .create-question-form-actions .btn {
        float: right;
        clear: both;
        margin-bottom: 10px;
    }
}

.create-question-tip {
    position: absolute;
}

    .create-question-tip .create-question-tip-text {
        position: absolute;
        -webkit-transform: rotate(352deg);
        -moz-transform: rotate(352deg);
        -ms-transform: rotate(352deg);
        transform: rotate(352deg);
        right: 15px;
        top: 40px;
        white-space: nowrap;
    }

    .create-question-tip .create-question-tip-arrow {
        background-image: url(images/typeQuestionTitleArrow.png);
        width: 53px;
        height: 54px;
        position: absolute;
        top: 10px;
    }

/* buttons */

.btn {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #656565;
    min-width: 100px;
    height: 55px;
    padding: 0 35px;
    line-height: 52px;
    margin: 0;
    border: 1px solid #DEDFE3;
    -webkit-box-shadow: inset 0 0 0 2px white;
    -moz-box-shadow: inset 0 0 0 2px white;
    box-shadow: inset 0 0 0 2px white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 37%, #ffffff 61%, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(37%,#ffffff), color-stop(61%,#ffffff), color-stop(100%,#f6f7f9));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
}

.ie9 .btn {
    filter: none;
}

.btn.enabled:hover {
    background: #f6f7f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6f7f9 1%, #ffffff 37%, #ffffff 61%, #f6f7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f6f7f9), color-stop(37%,#ffffff), color-stop(61%,#ffffff), color-stop(100%,#f6f7f9));
    background: -webkit-linear-gradient(top, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: -ms-linear-gradient(top, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
    background: linear-gradient(to bottom, #f6f7f9 1%,#ffffff 37%,#ffffff 61%,#f6f7f9 100%);
}

.ie9 .btn:hover {
    filter: none;
}

.btn.disabled {
    opacity: 0.5;
}

.btn.default {
    -webkit-box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
    -moz-box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
    box-shadow: inset 0 0 7px rgba(68, 192, 252, 0.7);
}

.btn + .btn {
    margin-left: 20px;
}
