@import "helpers.less";

@active-answer-border-color: #469dd5;

@sort-btn: url('images/sprites_24.png') -65px -148px;
@sort-btn-dragging: url('images/sprites_24.png') -36px -148px;
@sort-btn-element-in-edit: url('images/sprites_24.png') -7px -148px;

.ranking-text-answer-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    &.active {
        .answer-text-wrapper {
            border-color: @active-answer-border-color;
        }

        .answer-sort-btn {
            &:before {
                background: @sort-btn-dragging;
            }
        }
    }

    &.gu-mirror {
        .answer-text-wrapper {
            border-color: @active-answer-border-color;
        }

        .answer-sort-btn {
            .cursor-grabbing;

            &:before {
                background: @sort-btn-element-in-edit;
            }
        }
    }

    .answer-sort-btn {
        flex: 0 0 25px;
        position: relative;
        .cursor-grab;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -7px;
            width: 11px;
            height: 17px;
            background: @sort-btn;
        }
    }

    .answer-text-wrapper {
        flex: 1 1 auto;
        background: white;
        border: 1px solid #ddd;
        border-radius: 3px;
        color: #666;
        font-size: 14px;
        overflow: hidden;

        .question-answer-text {
            position: relative;

            .editarea-editable-text {
                position: relative;
                min-height: 45px;
                z-index: 1;
                background-color: transparent;
            }

            .empty-answer-instruction {
                position: absolute;
                top: 0;
                color: #9ba8b4;
                padding: 10px;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .question-answer-delete-wrapper {
        flex: 0 0 40px;
    }
}
