html,
body,
iframe,
div {
  margin: 0;
  padding: 0;
  border: none;
}
iframe {
  overflow: visible;
}
.review-comments {
  background-color: white;
  border-left: 1px solid #D7D7D7;
  border-top: 1px solid #D7D7D7;
  border-top-left-radius: 7px;
  box-shadow: 0 2px 5px #D7D7D7;
  position: fixed;
  right: 0;
  z-index: 5000;
  width: 300px;
  bottom: -269px;
  overflow: hidden;
}
.review-content,
.course-review {
  height: 100%;
  width: 100%;
}
/*#region Header*/
.comments-header {
  color: white;
  font-family: 'OpenSans-Semibold';
  white-space: nowrap;
  cursor: default;
  font-size: 13px;
  height: 40px;
  background-color: #7A7A7A;
  line-height: 40px;
  overflow: hidden;
}
.comments-header:hover {
  background-color: #555;
}
.comment-header-text {
  display: inline-block;
  padding-left: 10px;
  margin-left: 24px;
}
.comment-header-text:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  top: 14px;
  width: 20px;
  height: 12px;
  background: url('images/review-sprites.png');
  background-position: 0 0;
}
.comments-expander {
  display: inline-block;
  margin: 18px 12px 0 0;
  content: '';
  display: block;
  float: right;
  width: 16px;
  height: 9px;
  background: url('images/review-sprites.png');
}
.comments-expander.expanded {
  background-position: 0 -49px;
}
.comments-expander.collapsed {
  background-position: 0 -41px;
}
/*#endregion Header*/
/*#region Add comment form*/
.add-comment-form {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'OpenSans';
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*#endregion Add comment form*/
/*#region Text block*/
.comment-text-block {
  font-family: 'OpenSans';
  color: #303133;
  width: 280px;
  margin: 0 10px 15px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #e5e5e5;
}
.comment-text-block.placeholder {
  color: #c4c4c4;
}
.comment-text-block:-ms-input-placeholder {
  color: #c4c4c4;
}
.comment-text-block:focus {
  border: 1px solid rgba(0, 168, 255, 0.75);
  box-shadow: 0 0 3px rgba(0, 168, 255, 0.75);
}
.comment-text-block.message {
  height: 190px;
  padding: 10px 10px 5px 10px;
  resize: none;
}
.comment-text-block.message.error {
  border: 1px solid rgba(149, 59, 57, 0.8);
  box-shadow: inset 0 0 7px #953b39;
}
/*#endregion Text block*/
/*#region Action wrapper*/
.comment-action-wrapper {
  position: relative;
  margin-right: 8px;
  overflow: hidden;
  font-size: 13px;
  min-height: 39px;
}
/*#endregion Action wrapper*/
/*#region Buttons*/
.comment-btn {
  display: inline-block;
  height: 33px;
  width: 115px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-size: 13px;
  text-shadow: none;
}
.comment-btn .btn-title {
  display: inline-block;
  position: relative;
  vertical-align: top;
}
/*#endregion Buttons*/
/*#region Status message*/
.comment-status-message {
  display: inline-block;
  color: #999999;
  margin-left: 32px;
  font-size: 12px;
}
.comment-status-message:before {
  content: '';
  display: block;
  position: absolute;
  left: 8px;
  width: 20px;
  background: url('images/review-sprites.png');
}
.comment-status-message.success {
  padding-top: 8px;
  padding-bottom: 10px;
}
.comment-status-message.success:before {
  height: 14px;
  background: url('images/review-sprites.png');
  background-position: 0 -10px;
}
.comment-status-message.fail:before {
  top: 8px;
  height: 16px;
  background-position: 0 -25px;
}
/*#endregion Status message*/
