
/*#region COMMON SELECTBOX STYLES*/

.selectbox {
    position: relative;
    cursor: default;
}

.selectbox-options-list {
    position: absolute;
    z-index: 300;
}

/*#endregion COMMON SELECTBOX STYLES*/

/*#region USER-FROM SELECTBOX STYLES*/
.user-form-selectbox.selectbox {
    font-size: 16px;
    max-width: 550px;
    margin-top: 10px;
}

.sign-up .user-form-selectbox.selectbox,
.sign-up-second-step .user-form-selectbox.selectbox {
    margin-top: 0;
}

.user-form-selectbox .selectbox-options-list {
    display: none;
    width: 100%;
    margin-top: -11px;
    list-style-type: none;
    top: 51px;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    background: white;
    overflow: hidden;
}

    .user-form-selectbox .selectbox-options-list.selectbox-scroll {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 200px;
    }

.user-form-selectbox .selectbox-current-item {
    position: relative;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 50px;
    height: 40px;
}

    .user-form-selectbox .selectbox-current-item.expanded {
        border-radius: 4px 4px 0 0;
    }

.user-form-selectbox .selectbox-current-item-text {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 8px 55px 8px 10px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .user-form-selectbox .selectbox-current-item-text.choosen {
        color: #333;
    }

.user-form-selectbox .selectbox-caret-holder {
    height: 100%;
    width: 47px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}

.user-form-selectbox .selectbox-caret {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 6px;
    margin-top: -3px;
    margin-left: -6px;
    opacity: 0.4;
    background: url(../Content/images/sprites.png) -116px -54px;
}

.user-form-selectbox .selectbox-current-item.expanded .selectbox-caret {
    background-position: -116px -60px;
}

.user-form-selectbox .selectbox-option-item {
    padding: 12px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 15px;
    -webkit-text-shadow: 0 0 1px rgba(0,0,0,0.2);
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.user-form-selectbox .selectbox-options-list .selectbox-option-item:hover {
    background: #f3f3f3;
}

.user-form-selectbox .selectbox-option-item.active {
    background: #eff9ff;
}

.user-form-selectbox .selectbox-filter-input {
    display: inline-block;
    position: relative;
    max-width: 200px;
    height: 24px;
    width: 100%;
    top: 7px;
    left: 0;
    right: 40px;
    border: none;
    color: #333;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'OpenSans';
}

.user-form-selectbox .selectbox-current-item .selectbox-filter-input:focus + .selectbox-options-list {
    display: block;
}

.user-form-selectbox .selectbox-current-item.filter {
    height: 40px;
}

.user-form-selectbox .selectbox-option-item.error {
    text-align: center;
    font-size: 13px;
}

/*#endregion USER-FORM SELECTBOX STYLES*/
