
/*#region COMMON SELECTBOX STYLES*/

.selectbox {
    position: relative;
    cursor: default;
}

.selectbox-options-list {
    position: absolute;
    z-index: 2;
}

/*#endregion COMMON SELECTBOX STYLES*/

/*#region EXPERIENCE SELECTBOX STYLES*/

.experience-template-selector.selectbox {
    color: #666666;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.experience-template-selector .selectbox-options-list {
    width: 100%;
    list-style-type: none;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .1) inset;
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .1) inset;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .1) inset;
}

.experience-template-selector .selectbox-current-item {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fefefe 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefefe 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #fefefe 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fefefe 0%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.experience-template-selector .selectbox-caret {
    content: "↕";
    width: 8px;
    height: 4px;
    position: absolute;
    top: 13px;
    right: 10px;
    background-image: url("images/arrow-for-select-box.png");
    background-position: 0 4px;
}

.experience-template-selector .selectbox-current-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.experience-template-selector .selectbox-option-item {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .experience-template-selector .selectbox-option-item:hover {
        background: #EFF4FA;
    }

/*#endregion EXPERIENCE SELECTBOX STYLES*/

/*#region USER-FROM SELECTBOX STYLES*/
.user-form-selectbox.selectbox {
    font-size: 16px;
    max-width: 600px;
    margin-top: 10px;
}

.sign-up .user-form-selectbox.selectbox {
    margin-top: 0;
}

.user-form-selectbox .selectbox-options-list {
    display: none;
    width: 100%;
    margin-top: -1px;
    list-style-type: none;
    top: 51px;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    background: white;
    overflow: hidden;
}

    .user-form-selectbox .selectbox-options-list.selectbox-scroll {
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 215px;
    }

.user-form-selectbox .selectbox-current-item {
    position: relative;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 50px;
    height: 50px;
}

    .user-form-selectbox .selectbox-current-item.expanded {
        border-radius: 4px 4px 0 0;
    }

.user-form-selectbox .selectbox-current-item-text {
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 13px 55px 13px 20px;
    color: #c3c3c3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .user-form-selectbox .selectbox-current-item-text.choosen {
        color: #333;
    }

.user-form-selectbox .selectbox-caret-holder {
    height: 100%;
    width: 47px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
}

.user-form-selectbox .selectbox-caret {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 6px;
    margin-top: -3px;
    margin-left: -6px;
    background: url(../Content/images/sprites.png) -116px -54px;
}

.user-form-selectbox .selectbox-current-item.expanded .selectbox-caret {
    background-position: -116px -60px;
}

.user-form-selectbox .selectbox-option-item {
    padding: 12px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 15px;
    -webkit-text-shadow: 0 0 1px rgba(0,0,0,0.2);
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

    .user-form-selectbox .selectbox-options-list .selectbox-option-item:hover {
        background: #f3f3f3;
    }

    .user-form-selectbox .selectbox-option-item.active {
        background: #eff9ff;
    }

.user-form-selectbox .selectbox-filter-input {
    display: inline-block;
    position: relative;
    max-width: 320px;
    height: 24px;
    width: 100%;
    top: 12px;
    left: 0;
    right: 40px;
    border: none;
    color: #333;
    margin-left: 20px;
    font-size: 16px;
    font-family: 'OpenSans';
}

.user-form-selectbox .selectbox-current-item .selectbox-filter-input:focus + .selectbox-options-list{
    display: block;
}

.user-form-selectbox .selectbox-current-item.filter {
    height: 50px;
}

.user-form-selectbox .selectbox-option-item.error {
    text-align: center;
    font-size: 13px;
}

/*#endregion USER-FORM SELECTBOX STYLES*/
