/*#region COMMON SELECTBOX STYLES*/
.selectbox {
  position: relative;
  cursor: default;
}
.selectbox-options-list {
  position: absolute;
  z-index: 300;
}
/*#endregion COMMON SELECTBOX STYLES*/
/*#region USER-FROM SELECTBOX STYLES*/
.user-form-selectbox.selectbox {
  font-size: 16px;
  max-width: 550px;
  margin-top: 10px;
}
.sign-up .user-form-selectbox.selectbox,
.sign-up-second-step .user-form-selectbox.selectbox {
  margin-top: 0;
}
.user-form-selectbox .selectbox-options-list {
  display: none;
  width: 100%;
  margin-top: -11px;
  list-style-type: none;
  top: 51px;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  background: white;
  overflow: hidden;
}
.user-form-selectbox .selectbox-options-list.selectbox-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
}
.user-form-selectbox .selectbox-current-item {
  position: relative;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 50px;
  height: 40px;
}
.user-form-selectbox .selectbox-current-item.expanded {
  border-radius: 4px 4px 0 0;
}
.user-form-selectbox .selectbox-current-item-text {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 8px 55px 8px 10px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-form-selectbox .selectbox-current-item-text.choosen {
  color: #333;
}
.user-form-selectbox .selectbox-caret-holder {
  height: 100%;
  width: 47px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}
.user-form-selectbox .selectbox-caret {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 6px;
  margin-top: -3px;
  margin-left: -6px;
  opacity: 0.4;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAGCAYAAAAYLBS/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6REFFQkFERTZFQTNDMTFFMzk1MkFGRERCNTA4QUY3MjYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6REFFQkFERTdFQTNDMTFFMzk1MkFGRERCNTA4QUY3MjYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpEQUVCQURFNEVBM0MxMUUzOTUyQUZEREI1MDhBRjcyNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpEQUVCQURFNUVBM0MxMUUzOTUyQUZEREI1MDhBRjcyNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PrWf8MgAAABuSURBVHjaYlRSUipiYGDoAWJGBsLgPxCXMAGJPiBOBOK/BDSA5JNA6pmgAguBOBiIf+DQ8AMqvwDEYUKS2AjEXkD8CU3DZ6j4RpgAE5qC/UDsBMSvoXwQ7QgVZ8ClCQTOArEdEB+G0mfRFQAEGAABlhUfE4TynwAAAABJRU5ErkJggg==);
}
.user-form-selectbox .selectbox-current-item.expanded .selectbox-caret {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAGCAYAAAAYLBS/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QUJGQ0JFRTJFQTNDMTFFMzkwNThDQkYzRkVDRUI4ODQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QUJGQ0JFRTNFQTNDMTFFMzkwNThDQkYzRkVDRUI4ODQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpBQkZDQkVFMEVBM0MxMUUzOTA1OENCRjNGRUNFQjg4NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpBQkZDQkVFMUVBM0MxMUUzOTA1OENCRjNGRUNFQjg4NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pqi2cUgAAABlSURBVHjaYlRSUmLAAjSAeBYQpwHxDXRJJiwajIH4EBDbQmljQpocgHgfEItC+aJQvgMuTX5AvB2I+dAM4oOK+6NrigfidUDMwYAdgMTXQtUxMAsKChYC6Wk4/IfuKpBtnwACDABMdg2Pdhc09wAAAABJRU5ErkJggg==);
}
.user-form-selectbox .selectbox-option-item {
  padding: 8px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  font-size: 15px;
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.user-form-selectbox .selectbox-options-list .selectbox-option-item:hover {
  background: #f3f3f3;
}
.user-form-selectbox .selectbox-option-item.active {
  background: #eff9ff;
}
.user-form-selectbox .selectbox-filter-input {
  display: inline-block;
  position: relative;
  max-width: 200px;
  height: 24px;
  width: 100%;
  top: 7px;
  left: 0;
  right: 40px;
  border: none;
  color: #333;
  margin-left: 20px;
  font-size: 16px;
  font-family: 'OpenSans';
}
.user-form-selectbox .selectbox-current-item .selectbox-filter-input:focus + .selectbox-options-list {
  display: block;
}
.user-form-selectbox .selectbox-current-item.filter {
  height: 40px;
}
.user-form-selectbox .selectbox-option-item.error {
  text-align: center;
  font-size: 13px;
}
