.single-select-image .question-answer-options-area {
    padding: 20px 50px 0 20px;
}

.single-select-image-list {
    list-style-type: none;
    margin-right: -40px;
}

.single-select-image-answer {
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    text-align: center;
}

    .single-select-image-answer .question-answer-value-wrapper {
        display: inline-block;
        vertical-align: top;
        width: 30px;
        margin-top: 5px;
        cursor: pointer;
    }

    .single-select-image-answer .question-answer-value-wrapper.correct {
        cursor: default;
    }

.single-select-image-answer-image {
    height: 148px;
    width: 148px;
    position: relative;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

    .single-select-image-answer-image.empty {
        border: 1px dashed #dddddd;
        display: table-cell;
        vertical-align: middle;
    }

    .single-select-image-answer-image .item-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba(0,0,0,0.5);
        border-radius: 3px;
        opacity: 0;
        -moz-transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        cursor: pointer;
    }

        .single-select-image-answer-image .item-overlay:after {
            content: '';
            display: block;
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            background-color: rgba(148,148,154,0.5);
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAsVBMVEXn5+f////n5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+fn5+e4Wu4JAAAAOnRSTlMAAAGd+TgoAjDHkQzw8kaaP+SfRJBCmdvc9Pj1v5LBNweWL0PYLgrmO6X6njrdCzSiKTGnCdoG1/OD+A3QBgAAANRJREFUeF5t0NeOgzAQRmHsjEkoAdJ7tvbey3n/B9tFGTRI7H9lne/GdtTabL4QWczPXD3L8RbdNm5DNUQHw8ogzkHSkGUhFcjjBnwCo0F9cm4wgsQrTEDqXoM7XcNEoYRd1IDbQamwhGAQYKkg8GlwDKKwgUuDzOAcjgwCPCiM4cQghWeFAuS1gYs1FAp+D1fX/zzQ3wC3d/fvj09TgfzFae8BnU/U/rZHlxy+XXuv72fjj83qqyy8+5v1yK57gL71Nmj3UQem2jvwrb0DP6vUegt+AWOgIkprCDBtAAAAAElFTkSuQmCC');
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.5);
        }

    .single-select-image-answer-image:hover .item-overlay {
        opacity: 1;
    }

.single-select-image-loader-text {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    position: relative;
    padding-top: 90px;
    color: #777;
    font-size: 12px;
}

    .single-select-image-loader-text:before {
        content: '';
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 44px;
        left: 50%;
        margin-left: -15px;
        background-image: url(data:image/gif;base64,R0lGODlhHgAeAKUAAFRWVKyurISChNTa1JyanHRydMTGxOzu7Ly6vIyOjKSmpGxqbOTm5HR6dPz6/FxeXNTS1JSWlFxaXLS2tOTi5KSipPT29LzCvJSSlKyqrHx6fFRaVLSytISGhNza3JyenHR2dMzOzPTy9Ly+vIySjKSqpOzq7Pz+/NTW1Hx+fP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAqACwAAAAAHgAeAAAG90CVcEgsGo/IpHJ5dJAwjqKIYmEaD5LNYWiJbDaPyikZNaJQwxMJwGZXkJPFW8lotx/VomMB2OSRIXZtFEcfEglLFIIAEltHf2QCghFWSgcdbBsYkJVGJxQhJmWdSw4hBiakSQwgbBIBYyoGBQkipCeSdhAqIg9sCqQiix8qFr4AwJ0HG4LEsgUktp24gruqRQwFmbDXRg4QqN3ilQ4jFQajeiUaH5zeGm0JsUUcbc5JCNVHCW0aRBYhQvz5wKzNhCMj2mQYcqAVgALSDAgacOTECAzchASwE0CIA35s7lkhYIdAGggTPKgKURBAiHFERmgAYQDmuCAAIfkECQoALQAsAAAAAB4AHgCFVFZUtLK0fIJ81NrUbG5s7O7sxMbElJaUXGJcjI6M5Obk1NLUdHp0/Pr8bGpsXF5cxMLEhIqE5OLkzM7MpKakZGpkXFpcvLq8hIKE3Nrc9Pb0zMrMnJ6cZGJkfHp8VFpUtLa0dHJ09PL0xMrEnJqcjJKM7Ors1NbU/P78hIaE3N7cZGZkfH58////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABv7AlnBIFCowAABGUWw6i6JKMukoPK/FwHQKwnpbpG2SJFQlPAfmVwgSAwKt02PaUTcVnMywIJ1WRC0sYgdPYSlEEiwfAAISLQ19UwxPKikTRSgiGihCKB5iCWtYG4tJD3qiVxsMFRgnqV4oDbCpDZu0TygBFRYCdhoBC7gQWyGzLQcAFnaiSFsDQskfzGvOU68tIsHDxce4Q7q8vt9Otpzk6F8FJ4BXIgZWXxcWAAgbTxoOAB0mXgWl+7wRUTHFAJR2Qk6I6ddEwycC8VqgoPDAAoVzIuYkqXCuoQoNRDJsQdViwwoADqClMrBlBJEGJjqKEqEPZcR0CihQoJYOVgEQACH5BAkKAC4ALAAAAAAeAB4AhVRWVKyurISGhNza3GxubLzCvJyanFxiXOzu7KSmpLS6tMzOzIySjHR6dGxqbPz6/FxeXLS2tMzKzJyinGRqZFxaXLSytIyOjOTm5HRydMTKxGRiZPT29KyqrFRaVKyyrIyKjGxybMTCxJyenPTy9KSqpLy+vNTS1JSWlHx+fPz+/KSipOzq7GRmZP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAb2QJdwSBSqNJeLRFVsOpsdgBTQeVpVHKaQVJkCKghrU0SoUCLMgVc6MEosJ22xsK4iPF6w6yGYouRGBGsHHC5RUyVCJmsnRRxdaxh7IiACGg9CI2sfRSotaxAkVhFrEk2kXiNiHA1TAoBGARsAEBOYYiQRIya3ThwYomLCw8TFxhgGAiaALIXGQgifUlVCCwApz0IKXhS31tjZqFItvc3ZLiTSAAHnTsjKsO3y8+29V8UYKRsCYU8fEKqGpZhywUoGWvGKPIAwJURCFyJCWCiCYMWKfkL6SDGQDYQUEEQQoCBgwJmxEFJC0CNiAkIFEyuJkMAYM1sQACH5BAkKAC4ALAAAAAAeAB4AhVRWVKyurHyCfNza3HRydJyanMTGxOzu7FxiXIyOjKSmpMzSzLS6tOTm5Pz6/GxqbFxeXHx6fGRqZJSWlFxaXLSytOTi5KSipMzOzPT29GRiZJSSlKyqrNTS1FRaVKyyrISGhNze3HR2dJyenMzKzPTy9IySjKSqpMTCxOzq7Pz+/Hx+fGRmZNTW1P///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAb6QJdwSBxmDIZMcclkWh4AwMPSrDJB0SjIuswENoqDUAXNSlRDR8PRzBDMKSE2uxWiIABWhxnIRgtCISxRLFQuB3iEbEUJfgARQyUoKGJCC44NSwqOG1YpFFkIi0QHZQAQhlUfoBAGTSkTKxshXEIpC5W1ulUOKCMcmbtVGQJZrcJCDiQMcS4cjgglwiobURoDLiKOABjCDX6d2o7du99Znc9+ENK71FEI2MTGrsgqy80uDga/wcj+/wAD7moRgFYVCyZa6GrBqt+SCwAS6OoThR6TFApSDWmg0UUIPCxy7cJAwcMeIg0M4BNWIUoFgUVKTNjADqbNm0KCAAAh+QQJCgAqACwAAAAAHgAeAIVUVlSsrqx8fnzc2tzExsSUlpRsamzs7uyEioRkYmS8urzk5uTMzsz8+vxcXly0trSEhoScnpx0dnRcWly0srSEgoTk4uTMysycmpz09vSMioxUWlSssqx8gnzc3tzEysSUmpRsbmz08vRkZmS8vrzs6uzU0tT8/vx8enyMjoz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG/kCVcEgkZkTFpHLZwEw2mMZyqiQBrgASVbkgWIggLABTPFE5k2vErFKIFcNDygBCJhdprEnYKGwmBVIqJwJYBUoEYgAURAd2QhkOWCFsRBaKDFQnElgaSxFYKZVLFigOEAdLJyYPF6NTJxlbs7R8AyWvtUkfCVcpj7ongiolklhkuioLAiMBQg+KI8O0BVcbCyrQYtLJ1QAT2AvGVyDJxMzOQhe9ACmy5g2vGR645rOxufZCHxIOIST5kjHIc0XLlhOplnRQRIlKAwhjlhhQ5ODdkgNpRlgkAlGMhGEncoFIkC7JAIIALgzJgALFRkhUBiAI0WHPEAsbrulbckHlBs6fQKkEAQAh+QQJCgApACwAAAAAHgAeAIVUVlSssqx8gnzc2txsbmyUmpTs7uzExsRkYmSMjozU0tTk5uR0enT8+vxcXlykpqTMzsxcWly8vryEioTk4uT09vTMysxkamSUlpR8enxUWlSEhoTc3tx0dnScmpz08vTEysSUkpTU1tTs6uz8/vysqqzEwsRsamx8fnz///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG9MCUcEgsGo/IIwSFgiSfxlEEAHCMoEZSg0Q8UKkHLJHSARBEw4WDGlmMJdcjqUy9VIYWRgZEHKwRbkYNX1SBSSVfEnIEXwh3TxAaVRRIIicACHxYCg8cTxULj2KjpFAkXKVJHwUne6lyG18RaKkHDwZCBoQABakDVBNCI7u9pb8AwSkksWy0pba4QhUeBAwWr0lb2NvbFQEht9xDDXRm0dwSuyVDBhYW50IHGwpID7sJQiZrVSZEKAAhkHghFCAFBUmyKAlREMLTkQbMAGS4Y2/XA1IkDpSQ0EAIhl0APIhLt0sRtwb/vqDoKK7Cgw4dHohKEgQAIfkECQoALAAsAAAAAB4AHgCFVFZUrK6sfIJ83NrcbG5snJqcxMbE7O7sXGJcpKakzNLMlJKU5ObkdHp0/Pr8XF5ctLq0nKKczM7MXFpcjIqM5OLkdHZ0zMrM9Pb0ZGpkrKqsVFpUtLK0hIaE3N7cdHJ0nJ6cxMrE9PL0ZGJkpKqk1NbUlJaU7OrsfH58/P78vMK8pKKk////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABvxAlnBILBqPyGNKUnIkn8cVALCCWoeEKeFKdJBQIAxRCogUU84kaQowdS+XVHeBSCRR7Iz1tAEgxEcgbBRWDh0AC3JHGAsZFAdXDieKXJWWl5iVEgUBIplGKhNTFoCWIh5EFmwAEpcOHwAGQ3hsrZYpBBuyQipsFmmmqEQSIBqen8jJUCkMEpNJDAbCTyKHUwulRBCiG3ZJKdZsBUYiolMb0ywOwBWrUw/HQwPuuyImIwgmngruUxVFGB6wmcCABbhVHZj1e5BNSAiBEyAIaeeOQYoF7rwZweAhXol+JdQVEPhAAyUoGEasGlFKBIOGVgyYe7BLGQMOHApaCQIAIfkECQoAKwAsAAAAAB4AHgCFVFZUrK6sfIJ83NrcbG5slJaU7O7sZGJkxMbEjI6MfHp85ObkpKKkzM7MXF5cjIqMdHZ0/Pr8ZGpkXFpctLa0hIKE5OLkdHJ0nJqczMrMlJKUVFpU3N7cbHJslJqU9PL0ZGZkxMrEjJKMfH587OrspKak1NLU/P78bGpstLq0hIaE////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABvTAlXBILBqPSOQpkmwiF4SOxUkdBgCAQLX4aRiKFhRhuhV+JIDDohhhFk0iTrKBBVCqCoAoaTgAJnJUCAomTQspgWWKi4yNjCchDwIMX2YZAyeLDHUAIGsLKFglihycWA8rJXUOH2VXphOpdROtW6+csSRoAKNlpaYqlpianBJrjkKQkpTIQ25JJx/PTQ0jKCoDTxAbF9nUG6uJRBV1BNNGI6YaRid+WBOVKyYFBYUrEbt1Ckcq4AAQmVYg8LcBgRBynDwcMfDAQYVjJy5wArhigIM6aqAROQGCE4iAFkQo8EBCUQFOBZqZQVihlsoTJAwEdBIEADs=);
    }

.add-single-select-image-answer {
    height: 148px;
    width: 148px;
    float: left;
    margin-bottom: 20px;
    margin-right: 40px;
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAjCAYAAADxG9hnAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAJRJREFUeNrs1rERQEAQheH/zDWgBZUIKEEkV4MSNKIKAg1oQQtKOJGMMdYFhvfCnbk3X7Aztw5j6mkZjuZ9npV3ekIIAHjsKYiYhJdEEEEEEUSQz0JcPS0NkBredifz1tC1eqCK/JN2hjejdkSQq3hgjnwqjoau2T04nsPJ8Xyrcz+etSOCCCKIIIL8BrIBAAD//wMArwMXXoBtZFUAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px dashed #5bc0de;
    border-radius: 3px;
    cursor: pointer;
}

    .add-single-select-image-answer:hover {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAjCAYAAADxG9hnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Mzk2OEEzQzExMEM5MTFFNDhDMTU5RDVGQUE2OUVEMzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6Mzk2OEEzQzIxMEM5MTFFNDhDMTU5RDVGQUE2OUVEMzIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozOTY4QTNCRjEwQzkxMUU0OEMxNTlENUZBQTY5RUQzMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozOTY4QTNDMDEwQzkxMUU0OEMxNTlENUZBQTY5RUQzMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkswwJkAAACCSURBVHjaYvSZv4OBTLAbh7grKYZsTnAH0ywM5AMXBioCJoZBAkYdMuqQUYeMOmTUIcPWIaBKLw2IBaloZjkpin0X7ARR70EOCaVyTdpBhp49o2lk1CHE5JqzVG4q7iHDrLMgh1SQ6ZD/1Gw8j6aRUYeMOmTUIaMOGXXIiHEIQIABADV1D6F6EQLwAAAAAElFTkSuQmCC);
        border: 2px solid #4c9fb8;
    }

.single-select-image-actions-wrapper {
    height: 25px;
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 1;
    overflow: hidden;
}

    .single-select-image-actions-wrapper:hover {
        overflow: visible;
    }

    .single-select-image-actions-wrapper .remove-answer,
    .single-select-image-actions-wrapper .update-answer-image {
        display: inline-block;
        vertical-align: top;
        height: 21px;
        width: 20px;
        position: relative;
        top: -22px;
        background-color: #0c0c0c;
        background-image: url(images/sprites_16.png);
        background-repeat: no-repeat;
        border-radius: 3px;
        cursor: pointer;
        -moz-transition: top 0.1s linear;
        -webkit-transition: top 0.1s linear;
        transition: top 0.1s linear;
    }

        .single-select-image-actions-wrapper .remove-answer:hover,
        .single-select-image-actions-wrapper .update-answer-image:hover {
            background-color: black;
        }

    .single-select-image-actions-wrapper .info-tooltip {
        width: 100px;
        margin-left: -50px;
    }

    .single-select-image-actions-wrapper .update-answer-image {
        background-position: -61px -39px;
    }

    .single-select-image-actions-wrapper .remove-answer {
        background-position: -82px -39px;
    }

.single-select-image-answer-image:hover .remove-answer,
.single-select-image-answer-image:hover .update-answer-image {
    top: 4px;
}

.single-select-image-browse-image-btn {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 85px;
    background-color: #5bc0de;
    border: 1px solid white;
    box-shadow: 0 0 0 1px #EFEFEF;
    border-radius: 3px;
    cursor: pointer;
}

    .single-select-image-browse-image-btn:hover {
        background-color: #46b3d4;
    }

.single-select-image-browse-image-text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
}

@media (max-width: 1290px) {

    .single-select-image-answer {
        margin-right: 37px;
    }
}
