.statement .content-section-header {
  font-family: 'OpenSans-Semibold';
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.statement .content-section-answer-value-header {
  float: left;
  width: 80px;
  text-align: center;
}
.statement .content-section-answer-text-header {
  margin-left: 95px;
  text-align: center;
}
.statement .question-answer-value-wrapper {
  width: 95px;
}
