.statement {
    .content-section-header {
        font-family: 'OpenSans-Semibold';
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 15px;
    }

    .content-section-answer-value-header {
        float: left;
        width: 80px;
        text-align: center;
    }

    .content-section-answer-text-header {
        margin-left: 95px;
        text-align: center;
    }

    .question-answer-value-wrapper {
        width: 95px;

        .question-answer-value {
            height: 30px;
        }
    }
}

[lang~=de] {
    .statement {
        .content-section-answer-value-header {
            width: 92px;
        }

        .question-answer-value-wrapper {
            width: 100px;
        }

        .switch-toggle-slider {
            width: 90px;

            .switch-toggle-wrapper {
                width: 180px;
            }

            .switch-toggle-on,
            .switch-toggle-off {
                width: 90px;
            }
        }
    }
}

[lang~=nl] {
    .statement {
        .content-section-answer-value-header {
            width: 92px;
        }

        .question-answer-value-wrapper {
            width: 100px;
        }

        .switch-toggle-slider {
            width: 90px;

            .switch-toggle-wrapper {
                width: 180px;
            }

            .switch-toggle-on,
            .switch-toggle-off {
                width: 90px;
            }
        }
    }
}
