@font-face {
    font-family: 'Montserrat-Regular';
    src: url('font/Montserrat-Regular.eot');
    src: url('font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('font/Montserrat-Regular.woff') format('woff'), url('font/Montserrat-Regular.ttf') format('truetype'), url('font/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}

@media all and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'FontAwesome';
        src: url('font/fontawesome-webfont.svg#fontawesomeregular') format('svg'), url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

/*===================================
RESET CSS-STYLES
===================================*/

* {
    padding: 0;
    margin: 0;
}
/**, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	   		box-sizing: border-box;
}*/
/*===================================
EG CSS-STYLES
===================================*/

.inline {
    display: inline-block;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.icon-spinner-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -15px;
}

/*===================================
GENERAL CSS-STYLES
===================================*/

.navbar .brand {
    padding: 20px;
}

.navbar .user-properties,
.navbar .user-properties {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 28px;
}

    .navbar .user-properties:hover,
    .navbar .user-properties:focus {
        color: #fff;
        text-decoration: none;
    }

.eg-logo {
    width: 16px;
    height: 16px;
}

.show-control {
    text-align: center;
}
/*===================================
OBJECTIVE CSS-STYLES
===================================*/
.objectives-list,
.publications-list {
    margin: 5px;
}

.objective-brief,
.publication-brief {
    width: 280px;
    height: 170px;
    position: relative;
    float: left;
}

.objective-brief-content,
.publication-brief-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    padding: 20px;
    border: 1px dotted #EEEEEE;
    background-size: 100% 100%;
}

    .objective-brief-content:hover {
        border: 1px solid #000;
        cursor: pointer;
    }

/*===================================
ANSWERS CSS-STYLES
===================================*/
.answers-container {
    margin-bottom: 20px;
}

/*.container {
    width: auto;
    min-width: 640px;
    padding: 0;
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar .container {
    width: auto;
    min-width: 640px;
    padding: 0;
}*/


html, body {
    height: 100%;
}

body {
    background: url('images/bg.png') repeat;
}

.header {
    height: 62px;
    background-color: #353c3e;
    border-bottom: 3px solid #000000;
}

.brand {
    color: #fff;
    outline: none;
    font-size: 13px;
    font-family: Montserrat-Regular;
    text-transform: uppercase;
}

    .brand:hover, .brand:focus {
        color: #fff;
        text-decoration: none;
    }

    .brand:focus {
        outline: none;
    }

.navigation-menu, .navigation-menu-item {
    display: inline;
}

.navigation-menu-item {
    line-height: 55px;
    vertical-align: bottom;
}

.logo {
    padding: 10px 40px;
    width: 48px;
    height: 42px;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

.content-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 65px;
}

#applicationHost {
    max-width: 1280px;
    min-width: 640px;
    margin: auto;
}

#applicationHost, #content, .durandal-wrapper {
    height: 100%;
}


.objectives-wrapper {
    height: 100%;
    position: relative;
}

.objectives-navigation {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    text-align: center;
}


    .objectives-navigation > a, .objectives-navigation > span {
        line-height: 100px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: Montserrat-Regular;
        color: #999999;
        border-top: 5px solid #999999;
        margin: 20px;
        padding-top: 5px;
    }

    .objectives-navigation > a {
        opacity: 0.6;
    }

        .objectives-navigation > a:hover {
            opacity: 0.8;
            text-decoration: none;
        }

.objectives-header {
    position: absolute;
    top: 70px;
    height: 200px;
    width: 100%;
}

.objectives-header-title, .objectives-header-divider, .objectives-header-new-objective, .objectives-header-sort-label {
    display: table-cell;
    white-space: nowrap;
}

.objectives-header-title {
    font-size: 18px;
    font-family: Montserrat-Regular;
    color: #666666;
    text-transform: uppercase;
}

    .objectives-header-title .icon-wrapper {
        display: inline-block;
        border: 5px solid #e3e3e3;
        padding: 5px;
        border-radius: 30px;
        background-color: #fff;
    }

    .objectives-header-title .icon-plus:hover {
        text-decoration: none;
        color: #fff;
    }

    .objectives-header-title .icon-stack:hover .icon-circle {
        color: #464646;
    }


.objectives-header-divider {
    vertical-align: middle;
    width: 100%;
}

    .objectives-header-divider hr {
        margin: 0 10px 0 10px;
        border-top-color: #ADADAD;
        border-bottom-color: #f5f5f5;
        border-width: 1px 0;
    }

.objectives-header-sort-label {
    text-transform: uppercase;
    font-size: 13px;
    font-family: Montserrat-Regular;
    color: #acacac;
}

.objectives-header-sort-container {
    float: right;
    margin-top: -10px;
}

.objectives-sort-by-title-asc, .objectives-sort-by-title-desc {
    display: inline-block;
    border: 1px solid #acacac;
    color: #acacac;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Montserrat-Regular;
    padding: 5px;
    margin-left: 5px;
    opacity: 0.7;
}

    .objectives-sort-by-title-asc:hover, .objectives-sort-by-title-desc:hover {
        opacity: 1;
        cursor: pointer;
    }

    .objectives-sort-by-title-asc.active, .objectives-sort-by-title-desc.active {
        color: #777777;
        border-color: #777777;
        opacity: 1;
    }

.objectives-content {
    position: absolute;
    top: 200px;
    bottom: 0;
    overflow-y: auto;
}
