@tooltip-max-width: 200px;

@tooltip-arrow-width: 3px;
@tooltip-arrow-height: 4px;
@tooltip-arrow-color: #435160;

@tooltip-margin: 3px;
@tooltip-margin-animation: 8px;

@tooltip-color: #fff;
@tooltip-bg: #435160;
@tooltip-border-color: #414b56;
@border-radius-base: 3px;
// Base class
.tooltip {
    position: absolute;
    z-index: 10000;
    display: block;

    &.top {
        margin-top: -@tooltip-margin;
        padding: @tooltip-arrow-width 0;
    }

    &.right {
        margin-left: @tooltip-margin;
        padding: 0 @tooltip-arrow-width;
    }

    &.bottom {
        margin-top: @tooltip-margin;
        padding: @tooltip-arrow-width 0;
    }

    &.left {
        margin-left: -@tooltip-margin;
        padding: 0 @tooltip-arrow-width;
    }
}

// Wrapper for the tooltip content
.tooltip-inner {
    max-width: @tooltip-max-width;
    padding: 3px 6px;
    color: @tooltip-color;
    text-align: center;
    background-color: @tooltip-bg;
    border: 1px solid @tooltip-border-color;
    border-radius: @border-radius-base;
    font: 12px 'OpenSans';
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip {
    &.top .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -@tooltip-arrow-height;
        border-width: @tooltip-arrow-width @tooltip-arrow-height 0;
        border-top-color: @tooltip-arrow-color;
    }

    &.right .tooltip-arrow {
        top: 50%;
        left: 0;
        margin-top: -@tooltip-arrow-height;
        border-width: @tooltip-arrow-height @tooltip-arrow-width @tooltip-arrow-height 0;
        border-right-color: @tooltip-arrow-color;
    }

    &.left .tooltip-arrow {
        top: 50%;
        right: 0;
        margin-top: -@tooltip-arrow-height;
        border-width: @tooltip-arrow-height 0 @tooltip-arrow-height @tooltip-arrow-width;
        border-left-color: @tooltip-arrow-color;
    }

    &.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -@tooltip-arrow-height;
        border-width: 0 @tooltip-arrow-height @tooltip-arrow-width;
        border-bottom-color: @tooltip-arrow-color;
    }
}

// Animation
.tooltip.fade {
    transition: opacity 0.2s linear, margin 0.2s linear;
    opacity: 0;

    &.top {
        margin-top: -@tooltip-margin-animation;
    }

    &.right {
        margin-left: @tooltip-margin-animation;
    }

    &.bottom {
        margin-top: @tooltip-margin-animation;
    }

    &.left {
        margin-left: -@tooltip-margin-animation;
    }

    &.in {
        opacity: .9;

        &.top {
            margin-top: -@tooltip-margin;
        }

        &.right {
            margin-left: @tooltip-margin;
        }

        &.bottom {
            margin-top: @tooltip-margin;
        }

        &.left {
            margin-left: -@tooltip-margin;
        }
    }
}