.navigation-tree-shown-mode .nav-back-holder {
    left: 50px;
}

.navigation-tree-wrapper {
    position: fixed;
    top: 56px;
    bottom: 0;
    z-index: 200;
    width: 50px;
}

    .navigation-tree-wrapper.expanded {
        width: 18%;
        min-width: 200px;
        max-width: 300px;
    }

.navigation-tree {
    position: relative;
    display: block;
    height: 100%;
    padding-bottom: 85px;
    background: #F7F7F7;
    box-shadow: 3px 3px 3px #dedede;
    overflow: hidden;
}

    .navigation-tree.collapsed {
        width: 50px;
    }

        .navigation-tree.collapsed:hover {
            cursor: default;
            width: 52px;
        }

        .navigation-tree.collapsed:after {
            content: "";
            position: absolute;
            width: 22px;
            height: 21px;
            top: 12px;
            right: 14px;
            background: url('images/sprites.png') -102px -251px;
        }


.navigation-tree-header {
    position: relative;
    padding: 14px 0;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #303133;
    cursor: default;
}

    .navigation-tree-header:hover {
        background-color: #E8E8E8;
    }

    .navigation-tree-header:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 21px;
        left: 10px;
        top: 12px;
        background: url('images/sprites.png') -128px -251px;
    }

.navigation-tree-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #E1E1E1;
}


.navigation-tree-node-container {
    list-style: none;
}

.navigation-tree-node-caption-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #FFFFFF;
}

    .navigation-tree-node-caption-wrapper.disabled {
        opacity: 0.6;
    }

        .navigation-tree-node-caption-wrapper.disabled:hover,
        .navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-caption,
        .navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-icon {
            background-color: inherit;
            cursor: default;
        }

    .navigation-tree-node-caption-wrapper.active {
        background-color: #e1e9bc !important;
        border-bottom: 2px solid #adc733 !important;
    }


.navigation-tree-node-caption {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 5px;
    line-height: 15px;
    word-wrap: break-word;
    font-size: 12px;
    font-family: 'OpenSans';
    color: #303133;
}

.navigation-tree-node-caption-wrapper.expanded .navigation-tree-node-caption {
    color: #111111;
}

.navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
    cursor: default;
    padding: 12px 5px 11px;
}

    .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption:hover {
        background-color: inherit;
    }

.navigation-tree-node {
    display: inline;
}

    .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 7px;
        background-color: #F1F1F1;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 30px;
        background-color: #FAFAFA;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper {
        background-color: #FFFFFF;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 0;
        box-shadow: none;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper {
        padding-left: 60px;
    }

        .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper a.navigation-tree-node-caption-wrapper {
            padding-left: 5px;
        }

    .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover,
    .navigation-tree-node .navigation-tree-node-caption:hover,
    .navigation-tree-node .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover {
        background-color: #E8E8E8;
    }


    .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-wrapper {
        border-top: none;
        box-shadow: inset 0 6px 6px -5px #E2E2E2;
    }

    .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper {
        padding-top: 4px;
        padding-bottom: 4px;
    }

        .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper .navigation-tree-node-caption,
        .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper .navigation-tree-node-caption {
            padding: 8px 5px;
        }

        .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption,
        .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
            padding: 8px 5px 7px;
        }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-wrapper {
        border-bottom: 1px solid #E1E1E1;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-caption-wrapper {
        border-bottom: none;
    }

        .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
            padding: 12px 5px 10px;
        }

.navigation-tree-node-icon {
    display: table-cell;
    width: 15px;
    vertical-align: middle;
}

    .navigation-tree-node-icon:before {
        content: '';
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .navigation-tree-node-icon.create:before {
        width: 15px;
        height: 15px;
        background: url('images/sprites.png') -59px -267px;
    }

    .navigation-tree-node-icon.expand:before {
        width: 6px;
        height: 11px;
        background: url('images/sprites.png') -167px -261px;
    }

    .navigation-tree-node-icon.collapse:before {
        width: 11px;
        height: 6px;
        background: url('images/sprites.png') -167px -251px;
    }

    .navigation-tree-node-icon.expand:hover,
    .navigation-tree-node-icon.collapse:hover {
        background-color: #E8E8E8;
    }

.navigation-tree-node-caption-wrapper:hover .navigation-tree-node-icon.create:before {
    background: url('images/sprites.png') -35px -267px;
}

.navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-icon.create:before {
    background: url('images/sprites.png') -59px -267px;
}
