.navigation-tree-shown-mode .nav-back-holder{
    left: 50px;
}

.navigation-tree-wrapper {
    position: fixed;
    z-index: 200;
    height: 100%;
    padding-top: 56px;
    width: 50px;
}

.navigation-tree-wrapper.expanded {
    width: 18%;
    min-width: 200px;
    max-width: 300px;
}

.navigation-tree {
    display: block;
    background: #F7F7F7;
    height: 100%;
    -webkit-box-shadow: 3px 3px 3px #dedede;
    -moz-box-shadow: 3px 3px 3px #dedede;
    box-shadow: 3px 3px 3px #dedede;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .navigation-tree.collapsed {
        width: 50px;
    }

        .navigation-tree.collapsed:hover {
            cursor: default;
            width: 52px;
        }

        .navigation-tree.collapsed:after {
            content: "";
            position: absolute;
            width: 22px;
            height: 21px;
            top: 12px;
            right: 14px;
            background: url("images/nav_expand.png");
        }


.navigation-tree-header {
    position: relative;
    padding: 14px 0;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #303133;
    cursor: default;
}

    .navigation-tree-header:hover {
        background-color: #FBFBFB;
    }

    .navigation-tree-header:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 21px;
        left: 10px;
        top: 12px;
        background: url("images/nav_collapse.png");
    }

.navigation-tree-content {
    height: 100%;
    overflow-y: auto;
}


.navigation-tree-node-container {
    list-style: none;
}

.navigation-tree-node-caption-wrapper {
    display: table;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #ffffff;
}

    .navigation-tree-node-caption-wrapper.disabled {
        opacity: 0.6;
    }

        .navigation-tree-node-caption-wrapper.disabled:hover,
        .navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-caption,
        .navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-icon {
            background-color: inherit;
            cursor: default;
        }

.navigation-tree-node-caption {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 5px;
    line-height: 15px;
    font-size: 12px;
    font-family: 'OpenSans';
    color: #474747;
}

.navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
    font-family: 'OpenSans-Semibold';
    color: #313131;
}

.navigation-tree-node {
    display: inline;
}

    .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 7px;
        background-color: #F7F7F7;
    }

    .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover {
        background-color: #EFEFEF;
    }


    .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 30px;
        background-color: #FAFAFA;
    }


    .navigation-tree-node .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover {
        background-color: #EFEFEF;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 0px;
        background-color: #FFFFFF;
        box-shadow: none;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper {
        padding-left: 60px;
        background-color: #FFFFFF;
    }

        .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper a.navigation-tree-node-caption-wrapper {
            padding-left: 5px;
        }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover {
        background-color: #EFEFEF;
    }

    .navigation-tree-node .navigation-tree-node-caption:hover {
        background-color: #EFEFEF;
    }


    .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-wrapper {
        border-top: none;
        box-shadow: inset 0px 6px 6px -5px #E2E2E2;
    }

    .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper {
        padding-top: 4px;
        padding-bottom: 4px;
    }

        .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper .navigation-tree-node-caption,
        .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper .navigation-tree-node-caption {
            padding: 8px 5px;
        }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-wrapper {
        border-bottom: 1px solid #E1E1E1;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-caption-wrapper {
        border-bottom: none;
    }

.navigation-tree-node-icon {
    display: table-cell;
    width: 15px;
    vertical-align: middle;
}

    .navigation-tree-node-icon:before {
        content: '';
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .navigation-tree-node-icon.create:before {
        width: 15px;
        height: 15px;
        background-image: url('images/create.png');
    }

    .navigation-tree-node-icon.expand:before {
        width: 6px;
        height: 11px;
        background-image: url('images/expand.png');
    }

    .navigation-tree-node-icon.collapse:before {
        width: 11px;
        height: 6px;
        background-image: url('images/collapse.png');
    }

    .navigation-tree-node-icon.expand:hover,
    .navigation-tree-node-icon.collapse:hover {
        background-color: #EAEAEA;
    }

.navigation-tree-node-caption-wrapper:hover .navigation-tree-node-icon.create:before {
    background-image: url('images/create_active.png');
}

.navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-icon.create:before {
    background-image: url('images/create.png');
}
