.navigation-tree-wrapper {
    position: relative;
    min-width: 50px;
    z-index: 20;
}

    .navigation-tree-wrapper.expanded {
        border-right: 1px solid #dedede;
    }

.navigation-tree-wrapper-inner {
    position: relative;
    height: 100%;
}

.navigation-tree-wrapper-absolute-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.navigation-tree {
    position: relative;
    display: block;
    height: 100%;
    background: #F7F7F7;
    overflow: hidden;
}

    .navigation-tree.collapsed {
        width: 50px;
        border-right: 1px solid #dedede;
    }

        .navigation-tree.collapsed:hover {
            cursor: default;
            width: 52px;
            margin-right: -2px;
        }

        .navigation-tree.collapsed:after {
            content: "";
            position: absolute;
            width: 32px;
            height: 21px;
            top: 13px;
            right: 4px;
            background: url('images/sprites.png') -99px -251px;
        }


.navigation-tree-header {
    position: relative;
    width: 300px;
    height: 50px;
    padding: 14px 0;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #303133;
    cursor: default;
}

    .navigation-tree-header:hover {
        background-color: #E8E8E8;
    }

    .navigation-tree-header:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 21px;
        right: 10px;
        top: 13px;
        background: url('images/sprites.png') -132px -251px;
    }

.navigation-tree-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

    .navigation-tree-content > ul {
        border-bottom: 1px solid #E1E1E1;
    }

.navigation-tree-node-container {
    list-style: none;
}

.navigation-tree-node-caption-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .navigation-tree-node-caption-wrapper.disabled {
        opacity: 0.6;
    }

        .navigation-tree-node-caption-wrapper.disabled:hover,
        .navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-caption,
        .navigation-tree-node-caption-wrapper.disabled:hover .navigation-tree-node-icon {
            background-color: inherit;
            cursor: default;
            border-left-color: transparent;
        }

    .navigation-tree-node-caption-wrapper.active {
        position: relative;
        background-color: #fffddd !important;
        border-top: 1px solid #dedede !important;
        border-bottom: 1px solid #dedede !important;
    }

        .navigation-tree-node-caption-wrapper.active:after {
            content: '';
            display: block;
            height: 100%;
            width: 3px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #f59957;
        }

.navigation-tree-node-caption {
    position: relative;
    display: block;
    width: 100%;
    padding: 12px 5px 12px 8px;
    word-wrap: break-word;
    font-size: 12px;
    font-family: 'OpenSans';
    color: #303133;
}

.navigation-tree-node-caption-wrapper.expanded {
    border-bottom: 1px solid #dedede;
}

    .navigation-tree-node-caption-wrapper.expanded .navigation-tree-node-caption {
        color: #111111;
    }

.navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
    cursor: default;
    padding: 12px 5px 12px 8px;
}

    .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption:hover {
        background-color: inherit;
    }

.navigation-tree-node {
    display: inline;
}

    .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 7px;
        background-color: #F1F1F1;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 30px;
        background-color: #FAFAFA;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper {
        background-color: #FFFFFF;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-caption-wrapper {
        padding-left: 0;
        box-shadow: none;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper {
        padding-left: 60px;
    }

        .navigation-tree-node .navigation-tree-node .navigation-tree-node .navigation-tree-node-wrapper a.navigation-tree-node-caption-wrapper {
            padding-left: 5px;
        }

    .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover,
    .navigation-tree-node .navigation-tree-node-caption:hover,
    .navigation-tree-node .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node a.navigation-tree-node-caption-wrapper:hover {
        background-color: #E8E8E8;
    }


    .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper,
    .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-wrapper {
        border-top: none;
        box-shadow: inset 0 6px 6px -5px #E2E2E2;
    }

    .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper {
        padding-top: 4px;
        padding-bottom: 4px;
    }

        .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper .navigation-tree-node-caption,
        .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper .navigation-tree-node-caption {
            padding: 8px 5px;
        }

        .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption,
        .navigation-tree-node .navigation-tree-node .navigation-tree-node:first-child .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
            padding: 8px 5px 7px;
        }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-wrapper {
        border-bottom: 1px solid #E1E1E1;
    }

    .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-caption-wrapper {
        border-bottom: none;
    }

        .navigation-tree-node .navigation-tree-node .navigation-tree-node:last-child .navigation-tree-node-caption-wrapper.active .navigation-tree-node-caption {
            padding: 12px 5px 10px;
        }

.navigation-tree-node-icon {
    display: table-cell;
    width: 15px;
    vertical-align: middle;
}

    .navigation-tree-node-icon:before {
        content: '';
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .navigation-tree-node-icon.empty:before {
        width: 16px;
        height: 16px;
        background: url('images/sprites_16.png') -21px 0;
    }

    .navigation-tree-node-icon.expand:before {
        width: 6px;
        height: 11px;
        background: url('images/sprites.png') -167px -261px;
    }

    .navigation-tree-node-icon.collapse:before {
        width: 11px;
        height: 6px;
        background: url('images/sprites.png') -167px -251px;
    }

    .navigation-tree-node-icon.expand:hover,
    .navigation-tree-node-icon.collapse:hover {
        background-color: #E8E8E8;
    }

.navigation-tree-no-courses-icon {
        content: '';
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        background: url('images/sprites_32.png') -37px 0;
}

.navigation-tree-no-courses-caption {
    font-size: 14px;
    font-family: 'OpenSans';
    color: #999999;
}

.navigation-tree-no-courses-wrapper {
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -27px;
    text-align: center;
}

@media (min-width: 1550px) {

    .nav-back-wrapper {
        width: 0 !important;
        min-width: 0 !important;
    }

    .navigation-tree-shown-mode .nav-back-button {
        left: 48px;
    }

    .navigation-tree-wrapper {
        display: block;
        position: absolute;
        top: 56px;
        bottom: 0;
        z-index: 300;
    }

    .content-wrapper {
        max-width: 930px;
    }
}
