/*#region NAVIGATION TREE CONTAINER*/

.navigation-tree-wrapper {
    position: relative;
    min-width: 50px;
    border-right: 1px solid #dedede;
    z-index: 20;
}

.navigation-tree-wrapper-inner {
    position: relative;
    height: 100%;
}

.navigation-tree-wrapper-absolute-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.navigation-tree {
    position: relative;
    display: block;
    height: 100%;
    background: #F7F7F7;
    overflow: hidden;
}

    .navigation-tree.collapsed {
        width: 50px;
    }

        .navigation-tree.collapsed:hover {
            width: 52px;
            border-right: 1px solid #dedede;
            margin-right: -2px;
            cursor: default;
        }

        .navigation-tree.collapsed:after {
            content: "";
            position: absolute;
            width: 32px;
            height: 21px;
            top: 13px;
            right: 4px;
            background: url('images/sprites.png') -99px -251px;
        }


.navigation-tree-header {
    position: relative;
    width: 300px;
    height: 49px;
    padding: 14px 0;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-family: 'OpenSans';
    color: #303133;
    cursor: default;
}

    .navigation-tree-header:hover {
        background-color: #E8E8E8;
    }

    .navigation-tree-header:after {
        content: "";
        position: absolute;
        width: 32px;
        height: 21px;
        right: 10px;
        top: 13px;
        background: url('images/sprites.png') -132px -251px;
    }

.navigation-tree-content {
    position: absolute;
    top: 49px;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*#endregion NAVIGATION TREE CONTAINER*/

/*#region NAVIGATION TREE NODES*/

.navigation-tree-node {
    display: block;
}

.navigation-tree-node-caption-wrapper {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.navigation-tree-node.course {
    background-color: #f1f1f1;
}

    .navigation-tree-node.course > .navigation-tree-node-caption-wrapper {
        padding-left: 7px;
    }

.navigation-tree-node.objective {
    background-color: #fafafa;
}

    .navigation-tree-node.objective > .navigation-tree-node-caption-wrapper {
        padding-left: 30px;
    }

.navigation-tree-node.question {
    padding-left: 60px;
    background-color: #fff;
}

    .navigation-tree-node.objective:first-child,
    .navigation-tree-node.question:first-child {
        box-shadow: inset 0 6px 6px -5px #e2e2e2;
    }


/*#region expanded*/
.navigation-tree-node:not(.expanded):last-child,
.navigation-tree-node.expanded > .navigation-tree-node-caption-wrapper {
    border-bottom: 1px solid #dedede !important;
}
/*#endregion expanded*/


/*#region active*/
.navigation-tree-node.active > .navigation-tree-node-caption-wrapper {
    background-color: #fffddd !important;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.navigation-tree-node.active > .navigation-tree-node-caption-wrapper > .navigation-tree-node-caption:hover {
    background-color: #fffddd !important;
    cursor: default;
}

.navigation-tree-node.active:first-child > .navigation-tree-node-caption-wrapper {
    border-top: none;
}

.navigation-tree-node.active:last-child > .navigation-tree-node-caption-wrapper {
    border-bottom: none;
}

.navigation-tree-node.expanded + .navigation-tree-node.active > .navigation-tree-node-caption-wrapper {
    border-top: none;
}

.navigation-tree-node.active > .navigation-tree-node-caption-wrapper:after {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    top: 0;
    left: 0;
    background-color: #f59957;
}
/*#endregion active*/


/*#region disabled*/
.navigation-tree-node-caption-wrapper:not(.disabled) .navigation-tree-node-caption:hover {
    background-color: #E8E8E8;
}

.navigation-tree-node-caption-wrapper.disabled {
    cursor: default;
    opacity: 0.6;
}
/*#endregion disabled*/

.navigation-tree-node-caption {
    display: block;
    padding: 12px 5px 12px 8px;
    word-wrap: break-word;
    font-size: 12px;
    font-family: 'OpenSans';
    color: #303133;
}

/*#endregion NAVIGATION NODES*/

/*#region NODE ICONS*/

.navigation-tree-node-icon {
    display: table-cell;
    width: 15px;
    vertical-align: middle;
}

    .navigation-tree-node-icon:before {
        content: '';
        display: block;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .navigation-tree-node-icon.empty:before {
        width: 16px;
        height: 16px;
        background: url('images/sprites_16.png') -21px 0;
    }

    .navigation-tree-node-icon.expand:before {
        width: 6px;
        height: 11px;
        background: url('images/sprites.png') -167px -261px;
    }

    .navigation-tree-node-icon.collapse:before {
        width: 11px;
        height: 6px;
        background: url('images/sprites.png') -167px -251px;
    }

    .navigation-tree-node-icon.expand:hover,
    .navigation-tree-node-icon.collapse:hover {
        background-color: #E8E8E8;
    }

/*#endregion NODE ICONS*/

/*#region NO COURSES*/

.navigation-tree-no-courses-wrapper {
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -27px;
    text-align: center;
}

.navigation-tree-no-courses-icon {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    background: url('images/sprites_32.png') -37px 0;
}

.navigation-tree-no-courses-caption {
    font-size: 14px;
    font-family: 'OpenSans';
    color: #999999;
}

/*#endregion NO COURSES*/


@media (min-width: 1550px) {

    .nav-back-wrapper {
        width: 0 !important;
        min-width: 0 !important;
    }

    .navigation-tree-shown-mode .nav-back-button {
        left: 48px;
    }

    .navigation-tree-wrapper {
        display: block;
        position: absolute;
        top: 56px;
        bottom: 0;
        z-index: 300;
    }

    .content-wrapper {
        max-width: 930px;
    }
}
