<section class="panel-right" data-bind="slidingDialog: { isExpanded: isExpanded, position: '-300px', side: 'right', collapseOnOuterClick: true, onCollapsed: onCollapsed, cssClassOnExpanded: 'expanded' }">
    <div class="tab-headers-wrapper">
        <div class="tab-headers">
            <!-- ko if: isReviewTabVisible() -->
            <!-- ko  with: reviewTab-->
            <div class="tab-header" data-bind="click: $parent.toggleTabVisibility, css: { 'active': $parent.isExpanded() && $parent.activeTab() == $data }">
                <div class="tab-header-text" data-bind="localize: { text: 'review' }">Review</div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko  with: feedbackTab-->
            <div class="tab-header" data-bind="click: $parent.toggleTabVisibility, css: { 'active': $parent.isExpanded() && $parent.activeTab() == $data }">
                <div class="tab-header-text" data-bind="localize: { text: 'feedback' }">Feedback</div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="tab">
        <!-- ko if: _.isObject(activeTab()) -->
        <!-- ko if: activeTab() === reviewTab && isReviewTabVisible() -->
        <!-- ko compose: { model: reviewTab, cacheViews: false, activationData: reviewTabActivationData } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: activeTab() === feedbackTab -->
        <!-- ko compose: { model: feedbackTab, cacheViews: false } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</section>
