<section class="panel-right" data-bind="slidingDialog: { isExpanded: isExpanded, position: '-300px', side: 'right', collapseOnOuterClick: true, onCollapsed: onCollapsed }">
    <div class="tab-headers-wrapper">
        <div class="tab-headers">
            <!-- ko foreach: tabs -->
            <!-- ko if: isEnabled() -->
            <div class="tab-header" data-bind="click: $parent.toggleTabVisibility, css: { 'active': $parent.isExpanded() && $parent.activeTab() == $data }">
                <div class="tab-header-text" data-bind="text: title"></div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <div class="tab">
        <!-- ko compose: { model: activeTab, cacheViews: false } -->
        <!-- /ko -->
    </div>
</section>
