<li class="r-data" data-bind="css: { expanded: isExpanded, expandable: isExpandable }">
    <div class="r-table" data-bind="click: isExpandable ? (isExpanded() ? collapse : expand ) : null">
        <div class=" r-name"><span class="selectable" data-bind="text: learnerDisplayName, attr: { title: learnerDisplayName }"></span></div>
        <div class="r-result">
            <!-- ko if: isFinished -->
            <!-- ko if: passed -->
            <span class="correct">
                <span class="info-tooltip">
                    <span data-bind="localize: { text: 'passed' }">Passed</span>
                </span>
            </span>
            <!-- /ko -->
            <!-- ko ifnot: passed -->
            <!-- ko if: isProgressed -->
            <span class="started">
                <span class="info-tooltip">
                    <span data-bind="localize: { text: 'inProgress' }">In progress</span>
                </span>
            </span>
            <!-- /ko -->
            <!-- ko ifnot: isProgressed -->
            <span class="incorrect">
                <span class="info-tooltip">
                    <span data-bind="localize: { text: 'failed' }">Failed</span>
                </span>
            </span>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: isFinished -->
            <span class="started">
                <span class="info-tooltip">
                    <span data-bind="localize: { text: 'inProgress' }">In progress</span>
                </span>
            </span>
            <!-- /ko -->
        </div>
        <!-- ko if: hasScore -->
        <div class="r-score" data-bind="text: lrsStatement.score">score</div>
        <!-- /ko -->
        <!-- ko ifnot: hasScore -->
        <div class="r-score" data-bind="localize: { text: 'reportingInfoNotAvailable' }">N/A</div>
        <!-- /ko -->
        <!-- ko ifnot: isFinished && !isProgressed -->
        <div class="r-date semibold italic" data-bind="localize: { text: 'reportingNotFinished'}">Not finished yet</div>
        <!-- /ko -->
        <!-- ko if: isFinished && !isProgressed -->
        <div class="r-date" data-bind="date: { value: lrsStatement.date, formatString: 'MMM D, YYYY h:mm A' }">date</div>
        <!-- /ko -->
    </div>
    <!-- ko if: isExpanded -->
    <ul class="r-section">
        <li class="r-table">
            <div class="r-course-dates">
                <span data-bind="localize: { text: 'courseStartedAt' }">Course started at</span>&nbsp;<span class="r-date" data-bind="date: { value: startedLrsStatement.date, formatString: 'MMM D, YYYY h:mm A' }"></span>&nbsp;
                <!-- ko if: isProgressed -->
                <span class="lower" data-bind="localize: { text: 'and' }">and</span>&nbsp;<span class="lower" data-bind="localize: { text: 'reportingNotFinished' }">not finished yet</span>
                <!-- /ko -->
                <!-- ko ifnot: isProgressed -->
                <span data-bind="localize: { text: 'courseFinishedAt' }">and finished at</span>&nbsp;<span class="r-date" data-bind="date: { value: lrsStatement.date, formatString: 'MMM D, YYYY h:mm A' }"></span>
                <!-- /ko -->
            </div>
        </li>
        <!-- ko foreach: children -->
        <!-- ko compose: { view: 'reporting/views/objectiveStatement', model: $data } --><!-- /ko -->
        <!-- /ko -->
    </ul>
    <!-- /ko -->
</li>