<li class="expandable" data-bind="css: { expanded: isExpanded }">
    <div class="r-table" data-bind="click: isExpanded() ? collapse : expand">
        <div class="r-text objective" data-bind="localize: { text: 'reportingObjectiveTitle' }">objective:</div>
        <div class="r-title selectable">"<span data-bind="text: lrsStatement.name"></span>"</div>
        <div class="r-score">
            <p>
                <!-- ko if: hasScore -->
                <span data-bind="text: lrsStatement.score + '%'"></span>
                <!-- /ko -->
                <!-- ko ifnot: hasScore -->
                <span data-bind="localize: { text: 'reportingInfoNotAvailable' }"></span>
                <!-- /ko -->
            </p>
        </div>
    </div>
    <!-- ko if: isExpanded -->
    <ul class="r-question">
        <!-- ko if: children -->
            <!-- ko foreach: children -->
            <!-- ko compose: { view: 'reporting/views/questionStatement', model: $data } --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: children -->
        <li>
            <div class="r-table">
                <div class="r-text no-questions" data-bind="localize: { text: 'repotingNoQuestions' }">No questions have been answered yet or results are not available for this objective</div>
            </div>
        </li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->
</li>