@using System.Web.Optimization
@{
    ViewBag.Title = "easygenerator | Home";
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640,minimum-scale=0.5,maximum-scale=1.0,target-densitydpi=device-dpi">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>

    <div class="wrapper">
        <div class="header">
            <div class="brand">
                <img class="logo" width="48" height="42" src="~/Content/images/logo.png" alt="" />
            </div>
            <ul class="unstyled navigation-menu">
                <li class="navigation-menu-item">
                    <a href="#/">Home</a>
                </li>
                <li class="navigation-menu-item">&nbsp;/&nbsp;</li>
                <li class="navigation-menu-item">
                    <a href="#/user">User settings</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="content-container">
            <div id="applicationHost">
                <div class="icon-spinner-wrapper">
                    <i class="icon-spinner icon-2x icon-spin"></i>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/scripts/vendor")
    @{ Html.RenderPartial("GoogleAnalytics"); }

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="/App/durandal/amd/require.js" data-main="App/main"></script>
    }
    else
    {
        <script type="text/javascript" src="~/App/main-built.js"></script>
    }

</body>
</html>
