@using System.Web.Optimization
@{
    ViewBag.Title = "easygenerator | Home";
}
<div id="applicationHost">
    <div class="icon-spinner-wrapper">
        <i class="icon-spinner icon-2x icon-spin"></i>
    </div>
</div>

@Scripts.Render("~/scripts/vendor")

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <script src="/App/durandal/amd/require.js" data-main="App/main"></script>
}
else
{
    <script type="text/javascript" src="~/App/main-built.js"></script>
}