<section>
    <div class="content-section-wrapper">
        <div class="content-section">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded">
                <span class="expand-collapse-panel-label">BranchTrack designer</span>
                <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: 'collapse' }"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed">
                <span class="expand-collapse-panel-label">BranchTrack designer</span>
                <div class="expand-collapse-panel-btn" title="Expand" data-bind="click: toggleExpand, localize: { title: 'expand' }"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="content-section-wrapper answer-options" data-bind="visible: isExpanded">
        <div class="question-answer-options-area">
            <div class="content-section">
                <!-- ko if: content -->
                <div class="drag-and-drop-designer">
                    <div class="drag-and-drop-designer-background-wrapper">
                        <div data-bind="html: content"></div>
                    </div>
                    <div>
                        <div class="upload-background-image change info-tooltip-holder" data-bind="click: changeSimulation">
                            <div class="info-tooltip browse-image">
                                <span>Change simulation</span>
                            </div>
                        </div>
                        <div class="upload-background-image info-tooltip-holder" data-bind="click: editSimulation">
                            <div class="info-tooltip browse-image">
                                <span>Edit simulation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: content -->
                <div class="drag-and-drop-designer-empty">
                    <div class="drag-and-drop-designer-empty-title">BranchTrack simulation</div>
                    <div class="drag-and-drop-designer-empty-description">No simulation yet</div>
                    <div class="browse-image-btn-wrapper">
                        <button class="hotspot-browse-image-btn btn green" data-bind="click: createSimulation">+ Create simulation</button>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>

</section>