/*#region ADD VIDEO FROM LIBRARY BUTTON*/

.add-from-library-button {
    padding: 4px 0 !important;
}

    .add-from-library-button,
    .add-from-library-button span {
        cursor: default !important;
    }

.add-from-library-button-hint {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 5px;
    vertical-align: top;
    background: url('icons/info.png') no-repeat;
}

/*#endregion ADD VIDEO FROM LIBRARY BUTTON*/

/*#region VIDEO LIBRARY LIST*/

.videos-list-wrapper {
    bottom: 50px;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 10px;
    right: 1px;
}

.video-library {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    overflow-y: auto;
    white-space: normal;
    text-align: justify;
}

.video-library-item {
    display: inline-block;
    margin: 10px 0 10px 15px;
}

.video-library-item-img-wrapper {
    width: 175px;
    height: 130px;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 2px;
}

    .video-library-item-img-wrapper,
    .video-library-item-img-wrapper .video-library-item-img img {
        cursor: pointer;
    }

.video-library-item .video-library-item-img-wrapper img {
    width: 173px;
    height: 128px;
}

.video-library-item.selected .video-library-item-img-wrapper {
    border: 2px solid #2D91DF;
}

.video-library-item-img {
    width: 173px;
    height: 128px;
    border: 1px solid #E3E3E3;
    text-align: center;
    vertical-align: middle;
}

    .video-library-item-img img {
        display: inline-block;
        max-height: 100%;
        vertical-align: middle;
        margin: 0 auto;
    }

    .video-library-item-img div {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0px;
    }

.video-library-item:hover .video-library-item-img,
.video-library-item.selected .video-library-item-img {
    box-shadow: 0 0 3px 1px #BEBEBE;
    border-color: #BEBEBE;
}

.video-library-item-text {
    position: relative;
    display: inline-block;
    float: left;
    color: #8d9dac;
    font-family: OpenSans;
    font-size: 11px;
    padding-top: 2px;
    padding-left: 22px;
    width: 158px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

    .video-library-item-text:before {
        position: absolute;
        display: inline-block;
        content: '';
        width: 14px;
        height: 16px;
        background: url(icons/video-icon.png) no-repeat;
        top: 1px;
        left: 4px;
    }

.video-library-item:hover .video-library-item-text,
.video-library-item.selected .video-library-item-text {
    color: #5b6874;
}

/*#endregion VIDEO LIBRARY DIALOG*/

/*#region EMPTY VIDEOS LIST*/

.video-library-empty {
    position: absolute;
    top: 50%;
    left: 50%;
}

.video-library-empty-video {
    display: block;
    width: 200px;
    height: 40px;
    margin-left: -95px;
    margin-top: -15px;
}

.video-library-empty-video span {
    font-size: 18px;
    color: #5b6874;
    font-family: OpenSans;
    padding-top: 10px;
    display: inline-block;
    padding-left: 20px;
}

.video-library-empty-video img {
    float: left;
}

/*#endregion EMPTY VIDEOS LIST*/
/*#region VIDEO LIBRARY ERROR*/
.video-library-error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -126px;
    margin-top: -31px;
}

    .video-library-error .video-library-error-video {
        display: block;
        margin: 0 auto 8px;
    }

    .video-library-error .video-library-error-text {
        color: #999999;
    }

    .video-library-error .try-again-button {
        padding: 0;
        border: none;
        background: none !important;
        box-shadow: none !important;
        cursor: pointer;
    }

        .video-library-error .video-library-error-text,
        .video-library-error .try-again-button span {
            font-size: 16px;
            font-family: OpenSans;
        }

        .video-library-error .try-again-button span {
            text-decoration: underline;
            color: #46b7ff;
            padding: 0;
        }

        .video-library-error .try-again-button:hover span {
            text-decoration: none;
        }

/*#endregion VIDEO LIBRARY ERROR*/

/*# region VIDEO LIBRARY LOADER ANIMATION */

.loader-container {
    position: relative;
}

.video-circular-loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 32px;
    width: 32px;
    margin-top: -16px;
    margin-left: -16px;
}

.video-circular-loader-item {
    display: block;
    position: absolute;
    border-radius: 50%;
    -moz-animation: bounceCircle 0.48s linear infinite;
    -webkit-animation: bounceCircle 0.48s linear infinite;
    animation: bounceCircle 0.48s linear infinite;
    background-color: black;
    height: 8px;
    width: 8px;
}


.video-circular-loader-item:nth-child(1) {
    left: 0;
    top: 12px;
}

.video-circular-loader-item:nth-child(2) {
    left: 3px;
    top: 3px;
}

.video-circular-loader-item:nth-child(3) {
    top: 0;
    left: 12px;
}

.video-circular-loader-item:nth-child(4) {
    right: 3px;
    top: 3px;
}

.video-circular-loader-item:nth-child(5) {
    right: 0;
    top: 12px;
}

.video-circular-loader-item:nth-child(6) {
    right: 3px;
    bottom: 3px;
}

.video-circular-loader-item:nth-child(7) {
    left: 12px;
    bottom: 0;
}

.video-circular-loader-item:nth-child(8) {
    left: 3px;
    bottom: 3px;
}

.video-circular-loader-item:nth-child(1) {
    -moz-animation-delay: -0.6s;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.video-circular-loader-item:nth-child(2) {
    -moz-animation-delay: -0.54s;
    -webkit-animation-delay: -0.54s;
    animation-delay: -0.54s;
}

.video-circular-loader-item:nth-child(3) {
    -moz-animation-delay: -0.48s;
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
}

.video-circular-loader-item:nth-child(4) {
    -moz-animation-delay: -0.42s;
    -webkit-animation-delay: -0.42s;
    animation-delay: -0.42s;
}

.video-circular-loader-item:nth-child(5) {
    -moz-animation-delay: -0.36s;
    -webkit-animation-delay: -0.36s;
    animation-delay: -0.36s;
}

.video-circular-loader-item:nth-child(6) {
    -moz-animation-delay: -0.3s;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.video-circular-loader-item:nth-child(7) {
    -moz-animation-delay: -0.24s;
    -webkit-animation-delay: -0.24s;
    animation-delay: -0.24s;
}

.video-circular-loader-item:nth-child(8) {
    -moz-animation-delay: -0.18s;
    -webkit-animation-delay: -0.18s;
    animation-delay: -0.18s;
}

@-webkit-keyframes bounceCircle {
    0% {
        -webkit-transform: scale(1);
    }

    100% {
        -webkit-transform: scale(.3);
    }
}

@-moz-keyframes bounceCircle {
    0% {
        -moz-transform: scale(1);
    }

    100% {
        -moz-transform: scale(.3);
    }
}

@keyframes bounceCircle {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(.3);
    }
}

/*# endregion VIDEO LIBRARY LOADER ANIMATION */