<!DOCTYPE html>
<html>
<head>
    <title>Adaptive template settings</title>
    <link href="css/settings.css?v=1419428590554" rel="stylesheet" />
</head>
<body>
    <div class="settings-container">
        <div class="settings-header">
            <div class="settings-title">Define template settings</div>
            <button class="btn green uppercase apply-settings" data-bind="click: saveChanges">Apply settings</button>
            <div class="save-message-wrapper success" data-bind="style: { display: isSaved() ? 'block' : 'none' }">
                <span class="save-message">Settings have been saved successfully</span>
            </div>
            <div class="save-message-wrapper error" data-bind="style: { display: isFailed() ? 'block' : 'none' }">
                <span class="save-message">Something went wrong. Try again</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="settings-content-wrapper">
            <div class="settings-tabs-container" data-bind="tabs: {}">
                <ul class="settings-tabs-wrapper unstyled">
                    <li class="settings-tabs-item customization active" data-tab-link="customization">
                        Graphical customization
                    </li>
                    <li class="settings-tabs-item track-and-trace" data-tab-link="track-and-trace">
                        Results Tracking
                    </li>
                </ul>
                <div class="settings-tab-container customization" data-tab="customization">
                    <div class="settings-tab-wrapper">
                        <div class="tab-header-container">
                            <img src="img/graphical.png?v=1419428590554" />
                            <div class="tab-header-wrapper">
                                <h1 class="tab-header-title">Customize your course</h1>
                                <div class="tab-header-content">
                                    <span class="tab-header-content-text">Change the look and feel of the course</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content-container">
                            <div class="tab-content-row">
                                <h1 class="template-logo-title">
                                    Custom course logo:
                                </h1>
                                <div class="tab-content-wrapper">
                                    <div class="has-access">
                                        <div class="template-logo-url-container">
                                            <input class="template-logo-url" type="text" placeholder="Paste image URL here..." id="imgUrl" data-bind="value: logo.url, valueUpdate: ['afterkeydown', 'afterpaste'], enable: hasStarterPlan" />
                                            <span class="template-logo-or">or</span>
                                            <form id="logoForm" method="post" enctype="multipart/form-data" encoding="multipart/form-data" target="logoFrame">
                                                <a class="btn grey template-logo">
                                                    Upload logo image
                                                    <input type="file" id="logoInput" name="file">
                                                </a>
                                            </form>
                                        </div>
                                        <div class="template-logo-container">
                                            <div class="template-logo-wrapper" data-bind="style: { display: logo.hasLogo() || logo.isError() ? 'none' : 'inline-block' }">
                                                <div class="template-logo-emty-img"></div>
                                                <div class="template-logo-empty-text">
                                                    Your logo will appear here
                                                    <p>(recommended size 300 x 50 px)</p>
                                                </div>
                                            </div>
                                            <div class="template-logo-wrapper error" data-bind="style: { display: logo.isError() && logo.url() == '' ? 'inline-block' : 'none' }">
                                                <div class="template-logo-emty-img"></div>
                                                <div class="template-logo-empty-text">
                                                    <span data-bind="text: logo.errorText">Unsupported image format</span>
                                                    <p data-bind="text: logo.errorDescription">(Supported formats: jpg, png, bmp)</p>
                                                </div>
                                            </div>

                                            <div class="template-logo-wrapper not-empty" data-bind="style: { display: logo.hasLogo() ? 'inline-block' : 'none' }">
                                                <img class="template-logo" src="" alt="" data-bind="attr: { src: logo.url }" />
                                            </div>
                                            <div class="template-logo-clear-wrapper" data-bind="style: { display: logo.hasLogo() ? 'inline-block' : 'none' }">
                                                <div class="template-logo-clear-btn" data-bind="click: logo.clear">
                                                    <div class="tooltip">
                                                        <span class="tooltip-text">Clear logo</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="no-access" data-bind="fadeVisible: !hasStarterPlan()">
                                        <div class="no-access-img"></div>
                                        <div class="no-access-text">
                                            You have to
                                            <a target="_blank" href="/account/upgrade">upgrade your account</a>
                                            in order to set custom course logo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-tab-container track-and-trace" data-tab="track-and-trace">
                    <div class="settings-tab-wrapper">
                        <div class="tab-header-container">
                            <img src="img/track.png?v=1419428590554" />
                            <div class="tab-header-wrapper">
                                <h1 class="tab-header-title">Track and trace settings</h1>
                                <div class="tab-header-content">
                                    <div class="switcher">
                                        <div class="switcher-text" data-bind="css: { disabled: trackingData.enableXAPI() }">Disabled</div>
                                        <div class="switch-toggle-slider" data-bind="switchToggle: { value: trackingData.enableXAPI }">
                                            <div class="switch-toggle-wrapper">
                                                <div class="switch-toggle-on"></div>
                                                <div class="switch-toogle-blob"></div>
                                                <div class="switch-toggle-off"></div>
                                            </div>
                                        </div>
                                        <div class="switcher-text" data-bind="css: { disabled: !trackingData.enableXAPI() }">Enabled</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content-container">
                            <div class="tab-content-title-container" data-bind="click: toggleAdvancedSettings">
                                <div class="tab-content-title" data-bind="css: { expanded: advancedSettingsExpanded(),  collapsed: !advancedSettingsExpanded() }">Advanced settings</div>
                            </div>
                            <div class="template-selector-container" data-bind="visible: advancedSettingsExpanded()">
                                <div class="selector-items-container">
                                    <h2 class="selector-title">Report to:</h2>
                                    <ul class="selector-items-wrapper unstyled" data-bind="foreach: trackingData.lrsOptions">
                                        <li class="selector-item-container" data-bind="click: select, css: { selected: isSelected }">
                                            <div class="selector-item-btn"></div>
                                            <div class="selector-item-text" data-bind="text: text"></div>
                                        </li>
                                    </ul>
                                    <div class="preview-disabled" data-bind="visible: !trackingData.enableXAPI()"></div>
                                </div>
                                <div class="selector-preview-container">
                                    <h2 class="selector-title">Custom LRS settings</h2>
                                    <div class="preview-row">
                                        <label for="lrsUrl" class="preview-label">LRS URL</label>
                                        <div class="preview-col">
                                            <input class="preview-text-input" id="lrsUrl" type="text" data-bind="value: trackingData.lrsUrl, enable: trackingData.customLrsEnabled" />
                                        </div>
                                    </div>
                                    <div class="preview-row checkbox">
                                        <div class="preview-col pull-right">
                                            <label>
                                                <span class="preview-checkbox">
                                                    <input class="preview-checkbox-input" type="checkbox" data-bind="checked: trackingData.authenticationRequired">
                                                    <span class="preview-checkbox-checked"></span>
                                                </span>
                                                <span class="preview-label checkbox">Authentication required</span>
                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="preview-row">
                                        <label for="lapLogin" class="preview-label">LAP login</label>
                                        <div class="preview-col">
                                            <input class="preview-text-input" type="text" id="lapLogin" data-bind="value: trackingData.lapLogin, enable: trackingData.credentialsEnabled" />
                                        </div>
                                    </div>
                                    <div class="preview-row">
                                        <label for="lapPassword" class="preview-label">LAP password</label>
                                        <div class="preview-col">
                                            <input class="preview-text-input" type="text" id="lapPassword" data-bind="value: trackingData.lapPassword, enable: trackingData.credentialsEnabled" />
                                        </div>
                                    </div>
                                    <div class="preview-row statements">
                                        <div class="statements-title">Use statements:</div>
                                        <div class="statements-container">
                                            <div class="switcher statement">
                                                <div class="switch-toggle-slider" data-bind="switchToggle: { value: trackingData.statements.started }">
                                                    <div class="switch-toggle-wrapper">
                                                        <div class="switch-toggle-on"></div>
                                                        <div class="switch-toogle-blob"></div>
                                                        <div class="switch-toggle-off"></div>
                                                    </div>
                                                </div>
                                                <div class="switcher-text">Started</div>
                                            </div>
                                            <div class="switcher statement">
                                                <div class="switch-toggle-slider" data-bind="switchToggle: { value: trackingData.statements.stopped }">
                                                    <div class="switch-toggle-wrapper">
                                                        <div class="switch-toggle-on"></div>
                                                        <div class="switch-toogle-blob"></div>
                                                        <div class="switch-toggle-off"></div>
                                                    </div>
                                                </div>
                                                <div class="switcher-text">Stopped</div>
                                            </div>
                                            <div class="switcher statement">
                                                <div class="switch-toggle-slider" data-bind="switchToggle: { value: trackingData.statements.passed }">
                                                    <div class="switch-toggle-wrapper">
                                                        <div class="switch-toggle-on"></div>
                                                        <div class="switch-toogle-blob"></div>
                                                        <div class="switch-toggle-off"></div>
                                                    </div>
                                                </div>
                                                <div class="switcher-text">Passed</div>
                                            </div>
                                        </div>
                                        <div class="statements-container">
                                            <div class="switcher statement">
                                                <div class="switch-toggle-slider" data-bind="switchToggle: { value: trackingData.statements.mastered }">
                                                    <div class="switch-toggle-wrapper">
                                                        <div class="switch-toggle-on"></div>
                                                        <div class="switch-toogle-blob"></div>
                                                        <div class="switch-toggle-off"></div>
                                                    </div>
                                                </div>
                                                <div class="switcher-text">Mastered</div>
                                            </div>
                                            <div class="switcher statement">
                                                <div class="switch-toggle-slider" data-bind="switchToggle: { value: trackingData.statements.failed }">
                                                    <div class="switch-toggle-wrapper">
                                                        <div class="switch-toggle-on"></div>
                                                        <div class="switch-toogle-blob"></div>
                                                        <div class="switch-toggle-off"></div>
                                                    </div>
                                                </div>
                                                <div class="switcher-text">Failed</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-disabled" data-bind="visible: !trackingData.customLrsEnabled()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor.min.js?v=1419428590554"></script>
    <script src="js/settings.js?v=1419428590554"></script>
</body>
</html>
