<div class="question-learning-content-list-item-body-wrapper" data-bind="css: { removed: isRemoved }">
    <!-- ko if: isRemoved -->
    <div class="question-learning-content-list-item-removed">
        <span class="question-learning-content-removed-info">
            <span class="question-learning-content-removed-text" data-bind="localize: { text: 'learningContentRemoved' }"></span>
            <span class="question-learning-content-removed-undo" data-bind="localize: { text: 'undo' }, click: restore"></span>
        </span>
    </div>
    <!-- /ko -->
    <div class="question-learning-content-list-item-body">
        <!-- ko ifnot: isRemoved -->
        <div class="question-learning-content-drag-wrapper" data-bind="css:{ enabled: $parent.isSortingEnabled }, localize: { title: 'changeOrderTooltip' }"></div>
        <!-- /ko -->
        <div class="question-learning-content-body-wrapper" data-bind="css: { editing: hasFocus }">
            <div class="question-learning-content-body">
                <div class="question-learning-content-wrapper">
                    <div class="question-learning-content selectable" data-bind="ckeditor: { data: text, eventTracker: $parent.eventTracker, isEditing: hasFocus, save: updateLearningContent, focus: beginEditText, blur: function (data, event) { updateLearningContent(data, event), endEditText(data, event); }, autosaveInterval: $parent.autosaveInterval, localizationManager: $parent.localizationManager }">
                    </div>
                </div>
            </div>
        </div>
        <!-- ko ifnot: isRemoved -->
        <div class="question-learning-content-delete-wrapper">
            <span class="question-learning-content-delete-icon  info-tooltip-holder" data-bind="click: remove">
                <span class="info-tooltip right-side">
                    <span data-bind="localize: { text: 'delete' }">
                        Delete
                    </span>
                </span>
            </span>
        </div>
        <!-- /ko -->
    </div>
</div>