<div class="publish-tab-content" data-tab-content="private-link">
    <div class="publish-tab-content-wrapper">
        <!-- ko if: packageExists() -->
        <div class="publish-tab-default-container">
            <!-- ko compose: { view: 'views/courses/publishingActions/updatePublishedCourse', model: $data, activate: false } --><!-- /ko -->
            <div class="publish-tab-link-container">
                <h2 class="publish-tab-header" data-bind="localize: { text: 'courseUrl' }"></h2>
                <div class="publish-tab-action-content" data-bind="localize: { text: 'privateLinkCaption' }"></div>
                <div class="copy-control">
                    <div class="copy-text-container">
                        <input type="text" class="copy-text-link" readonly="readonly" data-bind="value: packageUrl(), selectText: state() === states.succeed"/>
                    </div>
                    <div class="copy-btn-wrapper">
                        <button class="btn" data-bind="copyToClipboard: { value: packageUrl, onCopied: copyLinkToClipboard, isDisabled: copyBtnDisabled }, css: { green: !courseIsDirty() && !usersAccessControlListViewModel.active(), 'green-white': courseIsDirty() || usersAccessControlListViewModel.active(), copied: linkCopied, disabled: copyBtnDisabled }, attr: { disabled: copyBtnDisabled() }">
                            <span data-bind="localize: { text: linkCopied() ? 'copied' : 'copy' }"></span>
                        </button>
                    </div>
                </div>
                <div class="publish-tab-item-service">
                    <a class="private-link" data-bind="localize: { text: 'openInNewWindow' }, click: openPublishedCourse, attr: { href: packageUrl() }"></a>
                </div>
                <div class="publish-tab-overlay" data-bind="visible: isCourseDelivering()"></div>
            </div>
            <div class="publish-settings" data-bind="css: { disabled: isPublishing }">
                <div class="header" data-bind="localize: { text: 'settings' }"></div>
                <div class="body">
                    <!-- ko compose: { model: usersAccessControlListViewModel, view: 'views/courses/publishingActions/components/usersAccessControlList.html', activationData: courseId } --><!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: packageExists() -->
        <div class="publish-tab-centered-container">
            <h2 class="publish-tab-header" data-bind="localize: { text: 'getCourseLink' }"></h2>
            <div class="publish-tab-action-content" data-bind="localize: { text: 'privateLinkCaption' }"></div>
            <button class="btn green publish-tab-btn" data-bind="click: publishCourse, css: { disabled: isCourseDelivering, progress: isPublishing }">
                <!-- ko if: isPublishing() -->
                <!-- ko if: state() === states.building || state() === states.publishing -->
                <span data-bind="localize: { text: 'publishing' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: isPublishing() -->
                <!-- ko if: packageExists() -->
                <span data-bind="localize: { text: 'republishOnline' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- ko ifnot: packageExists() -->
                <span data-bind="localize: { text: 'getPrivateLink' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
    </div>
</div>