@using System.Web.Optimization

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640,maximum-scale=1.0">
    <meta name="description" content="">
    <title>easygenerator</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/preview/css")
</head>
<body>
    <div class="course-preview">
        <!-- ko if: isReady -->
        <div class="content">
            <iframe src="#" frameborder="0" width="100%" height="100%" data-bind="attr: { src: previewUrl() }"></iframe>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isReady -->
        <div class="loading-spinner">
            <div class="loading-spinner-image">
                <img src="~/Content/images/loader.gif" alt="" />
            </div>
            <div class="loading-spinner-text">preparing preview...</div>
        </div>
        <!-- /ko -->
    </div>

    @Scripts.Render("~/bundles/scripts/preview")

    <script type="text/javascript">
        var app = app || {};
        $(function () {
            serviceUnavailableAjaxErrorHandler().subscribeOnGlobalErrorEvents();
            if ($('.course-preview').length) {
                var vm = app.previewViewModel();
                ko.applyBindings(vm, $('.course-preview')[0]);
                vm.buildPreviewPackage('@ViewBag.Url');
            }
        });
    </script>
</body>
</html>