<fieldset>
    <legend>New Objective</legend>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="objectiveTitle">Title</label>
            <div class="controls">
                <input type="text" id="objectiveTitle" placeholder="Objective title..." data-bind="value: title">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-bind="click: save">Save changes</button>
            <button type="button" class="btn" data-bind="click: cancel">Cancel</button>
        </div>
    </form>

</fieldset>
