<section id="createObjective" class="create-objective view-module">
    <div class="fixed-container">
        <div class="content-holder">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'createObjectiveFromExperience' }">Create learning objective</div>
            </div>
        </div>
        
        <!-- ko compose: { view: 'views/common/back', model: { goBackAction: navigateBack.bind($data), goBackLink: goBackLink, goBackTooltip: goBackTooltip } } -->
        <!-- /ko -->

    </div>
    <div class="content-holder">
        
        <form class="create-form">
            <div class="white-framing pull-left">
                <span class="create-form-image-wrapper white-bg">
                    <img class="create-form-image" src="/Content/images/objective.png" alt="" />
                </span>
            </div>
            <div class="create-form-field">
                <div data-autofocus="true" class="edit-field bordered selectable" data-bind="editableText: { text: title, multiline: false }, hasFocus: isTitleEditing, css: { error: !title.isValid() && title().length > objectiveTitleMaxLength, active: isTitleEditing }"></div>
                <div class="chars-counter" data-bind="css: { error: !title.isValid() && title().length > objectiveTitleMaxLength }">
                    <span data-bind="text: title().trim().length"></span>/<span data-bind="    text: objectiveTitleMaxLength"></span>
                </div>
                <!-- ko compose: { view: 'views/common/createtip', model: { text: 'createObjectiveTip' } } -->
                <!-- /ko -->
            </div>

            <!-- ko compose: { view: 'views/common/formactions', model: { isValid: title.isValid(), saveAndNew: createAndNew.bind($data), saveAndOpen: createAndEdit.bind($data) } } -->
            <!-- /ko -->

        </form>
    </div>
</section>
