<div class="eg-container list-of-questions">
    <div class="navbar">
        <a href="#/" class="inline nav-control">
            <span class="nav-btn inline">
                <i class="icon-chevron-left icon-2x"></i>
            </span>
            <span class="nav-title inline">
                <span data-bind="localize: { text: 'backTo' }"></span>&nbsp;<span data-bind="    localize: { text: 'learningObjectives' }"></span>    
            </span>
        </a>
    </div>
    <section class="header clearfix" style="height: auto">
        <img data-bind="attr: { src: image }" alt="" style="float: left"/>
        <h2 class="page-header-title" data-bind="text: title"></h2>
    </section>
    <section class="control-bar">
        <a class="btn btn-success" data-bind="attr: { href: '#/objective/' + id() + '/question/create' }"><i class="icon-plus"></i></a>     
        <span data-bind="localize: { text: 'relatedQuestions' }"></span>
    </section>
    <div>
        <ul class="unstyled">
            <!-- ko foreach: questions -->
            <li>
                <a data-bind="attr: { href: '#/objective/' + $parent.id() + '/question/' + id }, text: title"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>
<style type="text/css">
    .eg-container {
        margin: 0 auto;
        max-width: 1200px;
        min-width: 600px;
    }
    .nav-control {
        margin-top: 8px;
        line-height: 58px;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
    a.nav-control:hover {
        text-decoration: none;
        opacity: 0.75;
        filter: alpha(opacity=75);
    }
    .nav-btn {
        height: 58px;
        line-height: 58px;
        width: 58px;
        margin-right: 13px;
        background-color: #e0e0e0;
        -webkit-border-radius: 29px;
        -moz-border-radius: 29px;
        border-radius: 29px;
        text-align: center;
    }
    .nav-btn i {
        margin-left: -2px;
        vertical-align: middle;
        color: #666666;
    }
    .nav-title {
        font-size: 14px;
        text-transform: uppercase;
        color: #666666;
    }
</style>
