<section class="objective view-module">
    <div class="content-section-wrapper">
        <div class="content-section">


            <div class="page-view-caption clearfix">
                <div class="show-notify-btn info-tooltip-holder" data-bind="click: showObjectiveTip, visible: !isObjectiveTipVisible()">
                    <div class="info-tooltip show-notify-tip">
                        <span data-bind="localize: { text: 'howToCreateObjectiveTipText' }">Click to show tip</span>
                    </div>
                </div>
                <button class="page-view-caption-back-button info-tooltip-holder" data-bind="click: back">
                    <div class="info-tooltip">
                        <span>Go back</span>
                    </div>
                </button>
                <div class="page-view-caption-text" data-bind="localize: { text: 'learningObjective' }">Learning objective</div>
            </div>

            <div class="notify-container" data-bind="visible: isObjectiveTipVisible()">
                <header class="notify-header clearfix">
                    <h3 class="notify-title" data-bind="localize: { text: 'howToCreateObjectiveTipHeader' }">
                        Do you know how to create good learning objectives?
                    </h3>
                    <div class="notify-close-btn" data-bind="click: hideObjectiveTip"></div>
                </header>
                <div class="notify-content">
                    <h4 class="notify-content-title" data-bind="localize: { text: 'howToCreateObjectiveTipExamplesHeader' }">Examples</h4>
                    <div class="notify-content-text-wrapper">
                        <p class="notify-content-text" data-bind="localize: { text: 'howToCreateObjectiveTipExample1' }">Sales executives will be to assess chances of winning a client bid during a first prospect meeting with first 10 minutes.</p>
                        <p class="notify-content-text" data-bind="localize: { text: 'howToCreateObjectiveTipExample2' }">HR Managers will be able to indentify the most effective use of gamification in a 1000+ employee organization without hiring third party consultants within a month</p>
                        <p class="notify-content-text" data-bind="localize: { text: 'howToCreateObjectiveTipExample3' }">Socialogy Students will be able to indentify important nodes in a network under the condition of being given a quality dataset within a week</p>
                    </div>
                </div>
                <div class="read-more-btn-wrapper">
                    <a class="read-more-btn" target="blank" href="http://www.easygenerator.com/learning-objectives/">
                        <span class="read-more-btn-text" data-bind="localize: { text: 'howToCreateObjectiveTipLink' }">Read more</span>
                    </a>
                </div>
            </div>

            <div class="controls">
                <div class="image-container" data-bind="click: updateImage">
                    <div class="logo-background" data-bind="backgroundImage: imageUrl"></div>
                    <div class="overlay hover" data-bind="visible: !isImageLoading()">
                        <span class="image"></span>
                        <div class="text" data-bind="localize: { text: 'changeImage' }">Change image</div>
                    </div>
                    <div class="overlay uploading" data-bind="visible: isImageLoading()">
                        <span class="image"></span>
                        <div class="text" data-bind="localize: { text: 'uploading' }">Uploading...</div>
                    </div>
                </div>
                <div class="title-container">
                    <div class="edit-field-wrapper small question-title" data-bind="css: { 'active': title.isEditing(), 'error': !title.isValid() }">
                        <div class="edit-field selectable" data-bind="editableText: { text: title }, event: { focus: startEditTitle, blur: endEditTitle }, css: { 'active': title.isEditing(), 'error': !title.isValid() }, autofocus: { focus: isLastCreatedObjective, autoselect: isLastCreatedObjective }"></div>
                        <div class="validation-message">
                            <span data-bind="text: title().trim().length"></span>/<span data-bind="text: titleMaxLength"></span>
                        </div>
                    </div>
                    <div class="objective-help-link-container" data-bind="css : { 'visible': title.isEditing(), 'hidden': !title.isEditing() }">
                        <span class="objective-help-link" data-bind="localize: { text: 'objectiveHelpText' }">Need help with your objective? Try our new </span>
                        <span class="objective-help-link clickable" data-bind="localize: { html: 'objectiveHelpLink' }"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="main-content-list-holder">
                <div class="view-list-actions-holder">
                    <div class="list-item-action">
                        <span class="main-content-title" data-bind="localize: { text: 'relatedContents' }"></span>
                    </div>
                    <div class="list-item-action delete">
                        <!-- ko if: enableDeleteQuestions -->
                        <span class="selected-item-action delete enabled" data-bind="click: deleteSelectedQuestions, localize: { text: 'deleteSelected' }">Delete selected</span>
                        <!-- /ko -->
                        <!-- ko ifnot: enableDeleteQuestions -->
                        <span class="selected-item-action delete disabled" data-bind="localize: { text: 'deleteSelected' }">Delete selected</span>
                        <!-- /ko -->
                    </div>
                    <div class="list-item-action empty">
                        &nbsp;
                    </div>
                    <div class="list-item-action create">
                        <div class="action-item-btn-wrapper">
                            <!-- ko widget: { kind: 'createQuestion', courseId: contextCourseId, objectiveId: objectiveId } --><!-- /ko -->
                            <!-- ko if: questions().length === 0 -->
                            <div class="tip-arrow-holder right">
                                <div class="tip-arrow-text" data-bind="localize: { text : 'startFromHere' }">Start from here</div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

                <!-- ko if: questions().length === 0 -->
                <div class="empty-list-wrapper">
                    <span class="empty-list" data-bind="localize: { text: 'itemListIsEmpty'}">Question list is empty</span>
                </div>
                <!-- /ko -->

                <ul class="unstyled main-content-list" data-bind="sortable: { data: questions, afterMove: updateQuestionsOrder, isEnabled: isSortingEnabled, options: {handle: '.list-item-drag-icon', start: startReorderingQuestions, stop: endReorderingQuestions }}">
                    <li class="main-content-list-item draggable" data-bind="css: { 'scrollToElement': $parent.lastVisitedObjective == id, 'selected': isSelected }">
                        <div class="list-item-content-holder" data-bind="click: $parent.navigateToEditQuestion.bind($parent)">
                            <!-- ko if: $parent.isSortingEnabled() -->
                            <div class="list-item-drag-icon" data-bind="stopEventPropagation: { event: 'click' }, localize: { title: 'changeOrderTooltip' }"></div>
                            <!-- /ko -->
                            <!-- ko ifnot: $parent.isSortingEnabled() -->
                            <div class="list-item-drag-icon disabled" data-bind="stopEventPropagation: { event: 'click' }"></div>
                            <!-- /ko -->
                            <div class="empty-list-item"></div>
                            <div class="checkbox-holder" data-bind="click: $parent.toggleQuestionSelection, stopEventPropagation: { event: 'click' }">
                                <span class="custom-checkbox-wrapper" data-bind="css: { checked: isSelected }">
                                    <input class="custom-checkbox" type="checkbox" />
                                </span>
                            </div>
                            <div class="list-item-info-holder">
                                <div class="info-holder-table">
                                    <div class="list-item-logo">
                                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: image } " />
                                    </div>
                                    <div class="list-item-info">
                                        <div class="list-item-title">
                                            <span class="selectable" data-bind="text: title"></span>
                                        </div>
                                        <div class="list-item-saved">
                                            <span data-bind="localize: { text: 'lastEdited' }">Last edited:</span> <span data-bind="date: { value: modifiedOn, formatString: 'L', language: $parent.currentLanguage }"></span>
                                        </div>
                                    </div>
                                    <div class="list-item-open">
                                        <div class="list-item-open-btn course-action-btn info-tooltip-holder">
                                            <div class="info-tooltip open-item">
                                                <span data-bind="localize: { text: 'open' }">Open</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
