<div class="publish-tab-content html" data-tab-content="html">
    <div class="publish-tab-content-wrapper">
        <div class="publish-tab-default-container">
            <h2 class="publish-tab-header" data-bind="localize: { text: 'downloadCourse' }"></h2>
            <div class="publish-tab-action-content">
                <p data-bind="localize: { text: 'publishHtmlCaptionFirst' }"></p>
                <p data-bind="localize: { text: 'publishHtmlCaptionSecond' }"></p>
            </div>
            <button class="btn green publish-tab-btn" data-bind="click: downloadCourse, css:{ disabled: isCourseDelivering, progress: isPublishing }">
                <!-- ko if: isPublishing() -->
                <span data-bind="localize: { text: 'assembling' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- ko ifnot: isPublishing() -->
                <span data-bind="localize: { text: 'courseDownloadAction' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
            </button>
            <div class="publish-settings" data-bind="css: { disabled: isPublishing }">
                <div class="header" data-bind="localize: { text: 'settings' }"></div>
                <div class="body">
                    <div class="switch-toggle-slider small" data-bind="switchToggle: { value: includeMedia }">
                        <div class="switch-toggle-wrapper">
                            <div class="switch-toggle-on"></div>
                            <div class="switch-toogle-blob"></div>
                            <div class="switch-toggle-off"></div>
                        </div>
                    </div>
                    <div class="description" data-bind="css: { enabled: includeMedia }">
                        <div class="title" data-bind="localize: { text: 'includeMediaTitle' }"></div>
                        <div class="subtitle" data-bind="localize: { text: 'includeMediaSubtitle' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>