<div class="publish-tab-content" data-tab-content="private-link">
    <div class="publish-tab-content-wrapper">
        <!-- ko if: packageExists() -->
        <div class="publish-to-publication-server-container">
            <!-- ko compose: { view: 'views/courses/publishActions/updatePublishedCourse', model: $data, activate: false } --><!-- /ko -->
            <div class="publish-tab-link-container">
                <h2 class="publish-tab-header" data-bind="localize: { text: 'courseUrl' }">
                    Course URL
                </h2>
                <div class="publish-tab-action-content" data-bind="localize: { text: 'privateLinkCaption' }">
                    Copy and paste the URL of your course to share or view.
                </div>
                <div class="publish-tab-link-control-container">
                    <input type="text" class="publish-tab-input" readonly="readonly" data-bind="value: packageUrl(), selectText: state() === states.succeed" />
                    <div class="copy-btn-wrapper">
                        <button class="btn" data-bind="copyToClipboard: { value: packageUrl, onCopied: copyLinkToClipboard, isDisabled: copyBtnDisabled }, css: { green: !courseHasUnpublishedChanges(), 'green-white': courseHasUnpublishedChanges(), copied: linkCopied, disabled: copyBtnDisabled }, attr: { disabled: copyBtnDisabled() }">
                            <span data-bind="localize: { text: linkCopied() ? 'copied' : 'copy' }"></span>
                        </button>
                    </div>
                </div>
                <div class="publish-tab-item-service">
                    <a class="private-link" data-bind="localize: { text: 'openInNewWindow' }, click: openPublishedCourse, attr: { href: packageUrl() }"></a>
                </div>
                <div class="publish-tab-overlay" data-bind="visible: isCourseDelivering()"></div>
            </div>
        </div>
        <div class="publish-to-publication-server-helper"></div>
        <!-- /ko -->
        <!-- ko ifnot: packageExists() -->
        <div class="publish-tab-container">
            <h2 class="publish-tab-header" data-bind="localize: { text: 'getCourseLink' }">Get course link</h2>
            <div class="publish-tab-action-content" data-bind="localize: { text: 'privateLinkCaption' }">Copy and paste the URL of your course to share or view.</div>
            <button class="btn green publish-tab-btn" data-bind="click: publishCourse, css:{ disabled: isCourseDelivering(), progress : isPublishing()}">
                <!-- ko if: isPublishing() -->
                <!-- ko if: state() === states.building || state() === states.publishing -->
                <span data-bind="localize: { text: 'publishing' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: isPublishing() -->
                <!-- ko if: packageExists() -->
                <span data-bind="localize: { text: 'republishOnline' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- ko ifnot: packageExists() -->
                <span data-bind="localize: { text: 'getPrivateLink' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
    </div>
</div>