<div class="publish-tab-content" data-tab-content="aim">
    <div class="publish-tab-content-wrapper">
        <div class="publish-tab-container">
            <h2 class="publish-tab-header" data-bind="localize: {text: 'publishToCatalog'}">
                Publish and Sell your online course
            </h2>
            <div class="publish-tab-action-content" data-bind="localize: {text: 'publishToAim4YouPublishDescription'}">
                with our partner Aim 4 You
            </div>
            <button class="btn green publish-tab-btn" data-bind="click: publishToAim4You, css:{'disabled': isCourseDelivering(), 'progress':isPublishing()}">
                <!-- ko if: isPublishing() -->
                <!-- ko if: state() === states.building -->
                <span data-bind="localize: { text: 'assembling' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- ko if: state() === states.publishing -->
                <span data-bind="localize: { text: 'publishing' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: isPublishing() -->
                <span data-bind="localize: { text: 'publishToStore' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
            </button>
            <!-- ko if: !isCourseDelivering() && messageState() == infoMessageStates.published -->
            <div class="package-action-message-wrapper success">
                <div class="message">
                    <span data-bind="localize: { text: 'publishToAim4YouSuccessMessage' }">Your course is successfully  published. Check your email for more details.</span>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>