<div class="publish-tab-content" data-tab-content="private-link">
    <div class="publish-tab-content-wrapper">
        <!-- ko if: publishAction().packageExists() -->
        <div class="publish-tab-link-container">
            <h2 class="publish-tab-header" data-bind="localize: { text: 'courseUrl' }">
                Course URL
            </h2>
            <div class="publish-tab-action-content" data-bind="localize: { text: 'privateLinkCaption' }">
                Copy and paste the URL of your course to share or view.
            </div>
            <div class="publish-tab-link-control-container">
                <input type="text" class="publish-tab-input" readonly="readonly" data-bind="value: publishAction().packageUrl(), selectText: publishAction().state() === publishAction().states.succeed" />
                <div class="copy-btn-wrapper">
                    <button class="btn green" data-bind="copyToClipboard: { value: publishAction().packageUrl, onCopied: publishAction().copyLinkToClipboard, isDisabled: publishAction().copyBtnDisabled }, css: { copied: publishAction().linkCopied, disabled: publishAction().copyBtnDisabled }, attr: { disabled: publishAction().copyBtnDisabled() }">
                        <span data-bind="localize: { text: publishAction().linkCopied() ? 'copied' : 'copy' }"></span>
                    </button>
                </div>
            </div>
            <div class="publish-tab-item-service">
                <a class="private-link" data-bind="localize: { text: 'openInNewWindow' }, click: publishAction().openPublishedCourse, attr: { href: publishAction().packageUrl() }"></a>
            </div>
            <div class="publish-tab-overlay" data-bind="visible: publishAction().isCourseDelivering()"></div>
        </div>
        <div class="publish-tab-update-course">
            <div class="publish-tab-update-course-image"></div>
            <div class="publish-tab-update-course-text" data-bind="localize: { text: 'updateCourseCaption' }">
                Apply the latest changes to the published course by clicking this button
            </div>
            <button class="btn green-white publish-tab-btn" data-bind="click: publishAction().publishCourse, css:{ 'disabled': publishAction().isCourseDelivering(), 'progress': publishAction().isPublishing() }">
                <!-- ko if: publishAction().isPublishing() -->
                <!-- ko if: publishAction().state() === publishAction().states.publishing || publishAction().state() === publishAction().states.building  -->
                <span class="publish-tab-btn-caption" data-bind="localize: { text: 'updating' }"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: publishAction().isPublishing() -->
                <span class="publish-tab-btn-caption" data-bind="localize: { text: 'reviewUpdateCourse' }"></span>
                <!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: publishAction().packageExists() -->
        <div class="publish-tab-container">
            <h2 class="publish-tab-header" data-bind="localize: { text: 'getCourseLink' }">Get course link</h2>
            <div class="publish-tab-action-content" data-bind="localize: { text: 'privateLinkCaption' }">Copy and paste the URL of your course to share or view.</div>
            <button class="btn green publish-tab-btn" data-bind="click: publishAction().publishCourse, css:{ disabled: publishAction().isCourseDelivering(), progress : publishAction().isPublishing()}">
                <!-- ko if: publishAction().isPublishing() -->
                <!-- ko if: publishAction().state() === publishAction().states.building || publishAction().state() === publishAction().states.publishing -->
                <span data-bind="localize: { text: 'publishing' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: publishAction().isPublishing() -->
                <!-- ko if: publishAction().packageExists() -->
                <span data-bind="localize: { text: 'republishOnline' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- ko ifnot: publishAction().packageExists() -->
                <span data-bind="localize: { text: 'getPrivateLink' }" class="publish-tab-btn-caption"></span>
                <!-- /ko -->
                <!-- /ko -->
            </button>
        </div>
        <!-- /ko -->
    </div>
</div>