<section data-bind="with: singleSelectImage">
    <div class="content-section-wrapper">
        <div class="content-section">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }"></span>
                <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: 'collapse' }"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }"></span>
                <div class="expand-collapse-panel-btn" title="Expand" data-bind="click: toggleExpand, localize: { title: 'expand' }"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="content-section-wrapper answer-options" data-bind="visible: isExpanded">
        <div class="question-answer-options-area">
        </div>
    </div>
</section>
