<section data-bind="with: singleSelectImage">
    <div class="content-section-wrapper">
        <div class="content-section">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }"></span>
                <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: 'collapse' }"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }"></span>
                <div class="expand-collapse-panel-btn" title="Expand" data-bind="click: toggleExpand, localize: { title: 'expand' }"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="content-section-wrapper answer-options" data-bind="visible: isExpanded">
        <div class="question-answer-options-area">
            <div class="content-section">
                <ul class="single-select-image-list clearfix">
                    <!-- ko foreach: answers -->
                    <li class="single-select-image-answer">
                        <div class="single-select-image-answer-image" data-bind="answerImage: { answer: $data, onload: $parent.finishAswerProcessing }, css: { 'empty' : !hasImage() && !isProcessing(), loading: isProcessing() }">
                            <!-- ko if: isProcessing -->
                            <div class="single-select-image-loader-wrapper">
                                <div class="single-select-image-loader-spinner">
                                    <div data-bind="preloader: { settings: 'grey align-center' }"></div>
                                </div>
                                <p class="single-select-image-loader-text" data-bind="localize: { text: 'processing' }"></p>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: isProcessing -->
                                <!-- ko if: hasImage -->
                            <div class="list-item-context-actions-wrapper">
                                <div class="list-item-context-action info-tooltip-holder update-answer-image" data-bind="click: $parent.updateAnswerImage">
                                    <div class="info-tooltip">
                                        <span data-bind="localize: { text: 'changeImage' }"></span>
                                    </div>
                                </div>
                                <!-- ko if: $parent.canRemoveAnswer() -->
                                <div class="list-item-context-action info-tooltip-holder remove-answer" data-bind="click: $parent.removeAnswer">
                                    <div class="info-tooltip">
                                        <span data-bind="localize: { text: 'removeAnswer' }"></span>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                                <div class="item-overlay" data-bind="click: $parent.previewAnswerImage"></div>
                                <!-- /ko -->
                                <!-- ko ifnot: hasImage -->
                                <button class="single-select-image-browse-image-btn" data-bind="click: $parent.updateAnswerImage">
                                    <span class="single-select-image-browse-image-text" data-bind="localize: { text: 'addImage' }"></span>
                                </button>
                                <!-- /ko -->
                            <!-- /ko -->
                        </div>
                        <div class="question-answer-value-wrapper" data-bind="css: { correct: id() === $parent.correctAnswerId() }">
                            <div class="question-answer-radio question-answer-value info-tooltip-holder" data-bind="click: $parent.setCorrectAnswer, css: { 'correct' : id() === $parent.correctAnswerId() }">
                                <span data-bind="visible: id() === $parent.correctAnswerId()" class="answer-correct-icon">&nbsp;</span>
                                <div class="info-tooltip question-answer">
                                    <!-- ko if: id() === $parent.correctAnswerId() -->
                                    <span data-bind="localize: { text: 'correctAnswer' }">
                                    </span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: id() === $parent.correctAnswerId() -->
                                    <span data-bind="localize: { text: 'incorrectAnswer' }">
                                    </span>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: canAddAnswer -->
                        <li class="add-single-select-image-answer" data-bind="click: addAnswer"></li>
                    <!-- /ko -->
                    <!-- ko ifnot: canAddAnswer -->
                        <li class="add-single-select-image-answer disabled"></li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</section>
