<section id="explanations">
    <div class="btn-back-to">
        <a class="btn default justified" data-bind="click: backToQuestions">Back to questions
        </a>
    </div>
    <div class="content-holder">
        <div class="content-header">
            <div class="content-header-inner">
                <h3 class="content-title explanation-title">Explanations</h3>
            </div>
        </div>
        <ul class="unstyled explanations-list">
            <!-- ko foreach: explanations -->
            <li class="explanations-list-item" data-bind="html: explanation"></li>
            <!-- /ko -->
        </ul>
    </div>
</section>
