<section>
    <h2 class="text-center eg-experience-title" data-bind="text: titleOfExperience"></h2>
    <div data-bind="foreach: itemsQuestion">
        <div class="panel" data-bind="attr: { id: '' + objectiveId + id }">
            <div class="panel-heading  eg-question-title">
                <div class="title pull-left">
                    <span data-bind="text: title"></span>
                    <span data-bind="text: ' (Question ' + number + ' of ' + $parent.countOfQuestions() + ')'"></span>
                </div>
                <img src="img/explanation.png" alt="" class="img-circle pull-right explanation-icon" title="Show explanation" data-bind=" click: $parent.showExplanations"  />
            </div>
            <ul class="list-unstyled" data-bind="foreach: answers">
                <li class="eg-answer eg-cursor-pointer" data-bind="click: toggleCheck">
                    <div>
                        <a class="eg-answer-checkbox" data-bind="css: { checked: isChecked() }"></a>
                    </div>
                    <div data-bind="text: text"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-group btn-group-justified" data-bind="visible: isEndScroll()">
        <a class="btn btn-default" data-bind="click: submit">Submit</a>
    </div>
    <div data-bind="scroll: !(itemsQuestion().length == questions.length), scrollOptions: { loadFunc: getItems, offset: 5 }"></div>
</section>