<div class="main-container" ng-class="{'without-intro': !quiz.hasIntroductionContent}" scroll-control>
    <span class="main-background" ng-show="quiz.hasIntroductionContent"></span>
    <introduction class="introduction-container at-top-position" ng-show="quiz.hasIntroductionContent">
        <div class="introduction-wrapper">
            <header class="header">
                <img class="main-logo" ng-src="{{quiz.logoUrl}}" />
                <span class="vertical-align-helper"></span>
            </header>
            <div class="content-container">
                <div class="content-wrapper" content>
                    <div class="header-title-container">
                        <div class="header-title-wrapper">
                            <div class="header-quiz-label">{{ '[quiz]' | translate }}</div>
                            <div class="header-quiz-title">“{{quiz.title}}”</div>
                            <div class="header-questions-label">{{ quiz.questions.length }} {{ '[questions]' | translate }}</div>
                        </div>
                    </div>
                    <div class="content" ng-include src="'content/content.html'" onload="contentLoaded()" styled-content></div>
                </div>
            </div>
            <div class="controls" ng-click="scrollToQuestions()">
                <div class="buttons-container">
                    <button class="button large emphasize primary">
                        <span class="text-wrapper">
                            {{ '[start quiz]' | translate }}
                        </span>
                    </button>
                </div>
                <div class="scroll-hint-container">
                    <span class="text">{{ '[or scroll to start]' | translate }}</span>
                    <div class="icon-wrapper">
                        <span class="icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </introduction>
    <header class="main-header">
        <span class="main-background"></span>
        <img class="main-logo" ng-src="{{quiz.logoUrl}}" />
        <span class="vertical-align-helper"></span>
        <div class="button-container" ng-click="scrollToQuestions()">
            <span class="vertical-align-helper"></span>
            <button class="button small emphasize default">
                <span class="text-wrapper">
                    {{ '[start quiz]' | translate }}
                </span>
            </button>
        </div>
    </header>
    <questions class="questions-container">
        <div class="questions-wrapper">
            <ul class="unstyled">
                <li class="question" ng-repeat="question in quiz.questions">
                    <article>
                        <div class="question-container">
                            <h2 class="question-title">
                            <span class="index">{{ $index + 1 | leadingZeros: 2 }}</span>
                            {{ question.title }}
                            </h2>
                            <h3 class="question-content" ng-if="question.content">
                                <div html-compile="question.content" styled-content></div>
                            </h3>
                            <div class="question-body" ng-include="'app/views/' + question.getType() + '.html'"></div>
                        </div>
                        <div class="hint-container">
                            <div ng-if="question.hint.exists" ng-include="'app/views/hint.html'"></div>
                        </div>
                    </article>
                </li>
            </ul>

            <div class="submit-wrapper">
                <button class="button large primary emphasize" ng-click="quiz.submit()">
                    <span class="text-wrapper">
                        {{ '[submit all answers]' | translate }}
                    </span>
                </button>
            </div>
        </div>
    </questions>
</div>