<section id="homePage">
    <div class="page-title-holder">
        <h1 class="page-title selectable" data-bind="text: courseTitle"></h1>
    </div>
    <div data-bind="scroll: { enabled: !isFullyLoaded(), loadFunc: loadQuestions, offset: 200 }">
        <ul class="content-list-wrapper unstyled">
            <!-- ko foreach: questions -->
            <li class="content-holder" data-bind="attr: { id: id }">
                <header class="content-header question-header">
                    <div class="content-header-inner">
                        <div class="question-counter">
                            <span data-bind="text: ($index() + 1) + ' of ' + $parent.totalQuestionsCount"></span>
                        </div>
                        <div class="content-title question-text">
                            <span class="selectable" data-bind="text: title"></span>
                        </div>
                        <div class="question-learning-content" data-bind="click: $parent.showLearningContents">
                            <span class="question-learning-content-icon"></span>
                        </div>
                    </div>
                </header>
                <div class="question-content-wrapper" data-bind="visible: hasContent">
                    <div class="question-content" data-bind="html: content"></div>
                </div>
                <ul class="content-block unstyled">
                    <!-- ko foreach: answers -->
                    <li class="question-answer" data-bind="click: toggleCheck">
                        <div>
                            <a class="question-answer-checkbox" data-bind="css: { checked: isChecked() }">
                                <input class="custom-checkbox" type="checkbox" />
                            </a>
                        </div>
                        <div class="question-answer-text">
                            <span class="selectable answer-text" data-bind="text: text"></span>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="question-submit" data-bind="visible: isFullyLoaded()">
        <a class="btn default justified" data-bind="click: submit">Submit</a>
    </div>

</section>
