<div class="header clearfix unselectable" data-bind="css: 'module-' + cssName()">
    <div class="brand">
        <!-- ko ifnot: isRootLinkActive() -->
        <span class="inline main-logo"></span>
        <!-- /ko -->
        <!-- ko if: isRootLinkActive() -->
        <a href="#/" class="inline main-logo">&nbsp;</a>
        <!-- /ko -->
    </div>
</div>
<section id="content" class="container unselectable">
    <!--ko router: { transition:'entrance', cacheViews:false }--><!--/ko-->
</section>