<div class="header clearfix unselectable" data-bind="css: 'module-' + cssName()">
    <div class="brand">
        <!-- ko if: cssName() == homeModule -->
        <span class="inline main-logo"></span>
        <!-- /ko -->
        <!-- ko ifnot:cssName() == homeModule -->
        <a href="#/" class="inline main-logo">&nbsp;</a>
        <!-- /ko -->
    </div>
</div>
<section id="content" class="container unselectable">
    <!--ko compose: {
        model: router.activeItem, 
        afterCompose: router.afterCompose } -->
    <!--/ko-->
</section>