<div class="answer statement-item" ng-class="statement.state.toString()">
    <div class="title">{{ statement.text }}</div>
    <div class="statement-buttons-container">
        <button class="statement-button true" ng-class="{selected: statement.state === true }" ng-click="question.setTrueState(statement)">{{ '[statement question true text]' | translate }}</button><!-- --><button class="statement-button false" ng-class="{selected: statement.state === false }" ng-click="question.setFalseState(statement)">{{ '[statement question false text]' | translate }}</button>
    </div>
</div>
