<section id="summary">
    <div class="summary-header">
        <div class="clearfix summary-progress inline">
            <div class="circle-progressbar-wrapper">
                <canvas class="circle-progressbar" width="90" height="90" data-bind="circleProgress: { progress: overallScore }"></canvas>
                <span class="progress-score" data-bind="text: overallScore + '%'"></span>
            </div>
            <div class="page-title">Overall progress</div>
        </div>
    </div>

    <div class="content-holder">
        <header class="content-header">
            <div class="content-header-inner">
                <h3 class="content-title summary-title">
                    <span class="selectable">Objectives progress </span>
                </h3>
            </div>
        </header>
        <ul class="unstyled summary-list" data-bind="foreach: objectives">
            <li class="summary-list-item divided">
                <div class="objective-progressbar">
                    <div class="progressbar-holder">
                        <div class="progressbar-line"></div>
                        <div class="progressbar-full" data-bind="style: { width: score + '%' }"></div>
                    </div>
                </div>
                <p data-bind="text: title" class="objective-progress-title"></p>
            </li>
        </ul>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-default" data-bind="click: tryAgain">Try again</a>
        <a class="btn btn-default" data-bind="click: finish">Finish</a>
    </div>
</section>
