<section>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="text-center">Overall progress on "<span data-bind="text: titleOfExperience"></span>"</h3>
        </div>
        <div class="progress eg-progress">
            <div class="progress-bar " data-bind="style: { width: overallScore + '%' }, css: overallScore > 33 ? overallScore <= 67 ? 'progress-bar-warning' : 'progress-bar-success' : 'progress-bar-danger'"></div>
            <span class="badge eg-badge " data-bind="text: overallScore + '%'"></span>
        </div>
        <canvas width="90" height="90" data-bind="circleProgress: { progress: overallScore }"></canvas>
        <div data-bind="text: overallScore"></div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <h4>Progress objectives</h4>
        </div>
        <ul class="unstyled" data-bind="foreach: objectives">
            <li class="list-group-item">
                <img src="" alt="" class="img-thumbnail pull-left eg-objective-item-image" data-bind="attr: { src: image }" />
                <p data-bind="text: title" class="text-left"></p>
                <div class="clearfix"></div>
                <div class="progress eg-progress">
                    <div class="progress-bar " data-bind="style: { width: score + '%' }, css: score > 33 ? score <= 67 ? 'progress-bar-warning' : 'progress-bar-success' : 'progress-bar-danger'"></div>
                    <span class="badge eg-badge " data-bind="text: score + '%'"></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn-group btn-group-justified">
        <a class="btn btn-default" data-bind="click: tryAgain">Try again</a>
        <a class="btn btn-default" data-bind="click: finish">Finish</a>
    </div>
</section>
