<section>
    <div data-bind="foreach: objectives">
        <div class="panel" data-bind="css: scope > 33 ? scope <= 67 ? 'panel-warning' : 'panel-success' : 'panel-danger'">
            <!--<div class="panel-heading">Some head</div>-->
            <img src="" alt="" class="img-thumbnail pull-left eg-objective-item-image" data-bind="attr: { src: image }" />
            <p data-bind="text: title" class="text-left"></p>
            <div class="clearfix"></div>
            <div class="progress eg-progress">
                <div class="progress-bar " data-bind="style: { width: scope + '%' }, css: scope > 33 ? scope <= 67 ? 'progress-bar-warning' : 'progress-bar-success' : 'progress-bar-danger'"></div>
                <span class="badge eg-badge " data-bind="text: scope + '%'"></span>
            </div>
        </div>
    </div>
</section>
