<span class="image-loader-icon circular-loader x32 black align-center">
    <span class="circular-loader x32 black align-center">
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
        <span class="circular-loader-item"></span>
    </span>
</span>
