<section id="login" class="login content unselectable">
    
    <link rel="stylesheet" href="App/xApi/css/login.css" />

    <div class="container" data-bind="focusHandler: {}">
        <div class="content-holder">
            <header class="content-header">
                <div class="content-header-inner">
                    <h3 class="content-title xapi-title">
                        <span class="selectable">Your credentials for tracking progress</span>
                    </h3>
                </div>
            </header>
            <div class="xapi-form-holder">
                <div class="xapi-form-row name" data-bind="css: { error: !username.isValid() && username.isModified() }">
                    <div class="xapi-form-row-left">
                        <span class="xapi-form-row-title">Your name</span>
                    </div>
                    <div class="xapi-form-row-right">
                        <div class="xapi-form-input-holder">
                            <span class="xapi-form-input-wrapper"></span>
                            <input tabindex="5" class="xapi-form-input" type="text" ondrop="return false;" data-bind="value: username, valueUpdate: 'afterkeydown', event: { blur: username.markAsModified }">
                            <span class="xapi-form-message" data-bind="visible: !username.isValid() && username.isModified()">Enter a valid name</span>
                        </div>
                    </div>
                </div>
                <div class="xapi-form-row email" data-bind="css: { error: !usermail.isValid() && usermail.isModified() }">
                    <div class="xapi-form-row-left">
                        <span class="xapi-form-row-title">Your e-mail</span>
                    </div>
                    <div class="xapi-form-row-right">
                        <div class="xapi-form-input-holder">
                            <span class="xapi-form-input-wrapper"></span>
                            <input tabindex="5" class="xapi-form-input" type="text" ondrop="return false;" data-bind="value: usermail, valueUpdate: 'afterkeydown', event: { blur: usermail.markAsModified }">
                            <span class="xapi-form-message" data-bind="visible: !usermail.isValid() && usermail.isModified()">Enter a valid e-mail</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary-btn-holder clearfix">
            <a class="btn default pull-left" data-bind="click: skip">Start, but don't report my progress</a>
            <a class="btn default pull-right" data-bind="click: login">Start, and report my progress</a>
        </div>
    </div>

</section>
