<section id="xapiError" class="container xapi-error-section">
    
    <link rel="stylesheet" href="App/xApi/css/xAPIError.css?v=quiz" />

    <div class="xapi-error-container">
        <div class="xapi-error-container-img"></div>
        <h1 class="xapi-error-container-header">Something is wrong</h1>
        <span class="xapi-error-container-description">If you continue without restarting, your learning progress will not be reported.</span>
        <div class="summary-btn-holder clearfix">
            <a class="btn default pull-left" data-bind="click: restartCourse">Restart course</a>
            <a class="btn default pull-right" data-bind="click: continueLearning">Continue anyway</a>
        </div>
    </div>
</section>
