*, *:before, *:after {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .application-wrapper {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
}

body {
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased !important;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAIAAABPmPnhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzQzNzc2NUFFNDk0MTFFMkJDQTBBMEQwOEY3MUJCQUMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzQzNzc2NUJFNDk0MTFFMkJDQTBBMEQwOEY3MUJCQUMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NDM3NzY1OEU0OTQxMUUyQkNBMEEwRDA4RjcxQkJBQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NDM3NzY1OUU0OTQxMUUyQkNBMEEwRDA4RjcxQkJBQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ptq4ThMAAAB4SURBVHjaTI5bDgMhDAMDXSG4/115FZbOxmpVf0QW2JPYOWfOeVy3S761xoxmttYyF3/2VQiBeZEqpbxdKSUSwPjLOWNs7y1a7/0fq11RQK38rZB/2rgxhhjw8erVWjGXGjE+N75cuksvkbPJ0mNSxYhHAuRHgAEAQzadYvf2r5YAAAAASUVORK5CYII=') repeat;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 24px;
}


img {
    vertical-align: middle;
}

a {
    outline: 0;
    text-decoration: none;
}

    a:hover, a:active, a:focus {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }


ul.unstyled,
ol.unstyled  {
    margin-left: 0;
    list-style: none;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}


.header {
    padding: 0 20px;
    height: 40px;
    border-bottom: 3px solid #000000;
    background-color: #353C3E;
    color: #fff;
}

    .header ul, .header ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .header ul {
        width: 100%;
    }

        .header ul li {
            line-height: 40px;
        }

    .header a:visited, .header a:focus, .header a:active {
        color: #fff;
    }



.content {
    margin: 10px auto 0;
    padding: 5px 15px;
    -moz-min-width: 480px;
    -ms-min-width: 480px;
    -o-min-width: 480px;
    -webkit-min-width: 480px;
    min-width: 480px;
    max-width: 1200px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
}


.home ul {
    margin: 0;
    padding: 0;
}


.objective-brief {
    display: table;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    border: 1px solid #E1E1E1;
    background-color: #F5F5F5;
    color: #666666;
    text-align: justify;
    text-transform: uppercase;
    font-size: 14px;
}

    .objective-brief:hover {
        background-color: #e3e3e3;
    }


    .objective-brief > * {
        display: table-cell;
        vertical-align: middle;
    }

.objective-brief-indicator {
    display: table-cell;
    -moz-min-width: 10px;
    -ms-min-width: 10px;
    -o-min-width: 10px;
    -webkit-min-width: 10px;
    min-width: 10px;
    width: 10px;
    background-color: #F26C4F;
}

.objective-brief-image-wrapper {
    display: table-cell;
    padding: 5px 10px;
    width: 200px;
}


.objective-brief-image-border {
    user-select: none;
    position: relative;
    z-index: 10;
    border: 4px solid white;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: black;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#9d9d9d, strength=3);
}

.objective-brief-image {
    width: 165px;
    height: 85px;
}

.objective-brief-title {
    padding: 10px;
    width: 100%;
}

.objective-brief-expand-collapse-wrapper {
    -moz-min-width: 45px;
    -ms-min-width: 45px;
    -o-min-width: 45px;
    -webkit-min-width: 45px;
    min-width: 45px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
    text-align: center;
}

.btn-expand, .btn-collapse {
    display: inline-block;
    width: 22px;
    height: 13px;
    line-height: 0;
}

.btn-expand {
    background-image: url(../img/expand.png);
}


.btn-collapse {
    background-image: url(../img/collapse.png);
}

.question-brief-list {
    padding-left: 10px;
}

.question-brief {
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}


.question-brief-title {
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
    color: #666666;
}

    .question-brief-title:hover {
        background-color: #F4F4F4;
        text-decoration: underline;
    }
