* {
    padding: 0;
    margin: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

html, body, .application-wrapper {
    width: 100%;
    height: 100%;
}

body {
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-min-width: 640px;
    -ms-min-width: 640px;
    -o-min-width: 640px;
    -webkit-min-width: 640px;
    min-width: 640px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAIAAABPmPnhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzQzNzc2NUFFNDk0MTFFMkJDQTBBMEQwOEY3MUJCQUMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzQzNzc2NUJFNDk0MTFFMkJDQTBBMEQwOEY3MUJCQUMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NDM3NzY1OEU0OTQxMUUyQkNBMEEwRDA4RjcxQkJBQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NDM3NzY1OUU0OTQxMUUyQkNBMEEwRDA4RjcxQkJBQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ptq4ThMAAAB4SURBVHjaTI5bDgMhDAMDXSG4/115FZbOxmpVf0QW2JPYOWfOeVy3S761xoxmttYyF3/2VQiBeZEqpbxdKSUSwPjLOWNs7y1a7/0fq11RQK38rZB/2rgxhhjw8erVWjGXGjE+N75cuksvkbPJ0mNSxYhHAuRHgAEAQzadYvf2r5YAAAAASUVORK5CYII=') repeat;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 24px;
    color: #666666;
}

img {
    vertical-align: middle;
}

a {
    outline: 0;
    text-decoration: none;
}

    a:hover, a:active, a:focus {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

menu, ol, ul {
    margin: 0;
}

    ul.unstyled,
    ol.unstyled  {
        margin-left: 0;
        list-style: none;
    }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

.shadow-bottom-curve {
    position: relative;
}

    .shadow-bottom-curve:before, .shadow-bottom-curve:after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: -1;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -webkit-border-radius: 250px / 10px;
        -moz-border-radius: 250px / 10px;
        border-radius: 250px / 10px;
    }

.unselectable,
.unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable,
.selectable * {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.header {
    padding-left: 20px;
    height: 40px;
    border-bottom: 3px solid #000000;
    background-color: #404A4C;
    color: #fff;
}

.navigation-menu,
.navigation-menu-item {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navigation-menu {
    width: 100%;
}

.navigation-menu-item {
    line-height: 37px;
}

    .navigation-menu-item.active {
        display: none;
    }

.navigation-menu-item-home {
    line-height: 34px;
}

.navigation-menu-item-link {
    display: inline-block;
    height: 100%;
    padding: 0 20px;
}

    .navigation-menu-item-link:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

.navigation-menu a,
.navigation-menu a:visited,
.navigation-menu a:focus,
.navigation-menu a:active {
    color: #fff;
    font-size: 18px;
    font-family: Tahoma, Arial, sans-serif;
}

.content-wrapper {
    min-width: 640px;
    max-width: 1182px;
    margin: 11px auto 0;
}

.content {
    padding: 10px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
}

/* -------------- caption partial ------------- */

.caption {
    min-height: 68px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 10px;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    background-color: #F26C4F;
    color: #666666;
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
    cursor: default;
}

.caption-inner {
    display: table;
    height: 68px;
    width: 100%;
    padding-left: 16px;
    background-color: #F5F5F5;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.caption-icon {
    display: table-cell;
    width: 28px;
    text-align: center;
    vertical-align: middle;
}

.caption-icon-image {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../img/icons-images.png);
    background-repeat: no-repeat;
}

.caption-text {
    display: table-cell;
    vertical-align: middle;
    padding: 9px 18px;
}

    .caption-text > span {
        -ms-word-break: break-all;
        word-break: break-all;
    }

/* -------------- end of caption partial ------------- */


/* -------------- sub navigation partial ------------- */

.navigation-link-container {
    padding: 20px 0;
}

.navigation-link {
    display: inline-block;
    height: 100%;
    line-height: 57px;
    text-transform: uppercase;
    color: #666666;
    -ms-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

    .navigation-link:hover {
        -ms-opacity: 0.75;
        opacity: 0.75;
        filter: alpha(opacity=75);
    }

    .navigation-link > span {
        padding: 0 13px;
    }

.navigation-link-left-image,
.navigation-link-right-image {
    display: inline-block;
    width: 57px;
    height: 57px;
    vertical-align: top;
    background-image: url(../img/nav-icons.png);
    background-repeat: no-repeat;
}

.question .navigation-link-left-image,
.feedback .navigation-link-left-image,
.summary .navigation-link-left-image,
.explanations .navigation-link-left-image {
    background-position: 0 0;
}

/* -------------- end of sub navigation partial ------------- */



/* -------------- home view ------------- */

.objective-brief-list {
    margin: 0;
    padding: 0;
}

.objective-brief-expand-collapse-wrapper:hover {
    background-color: #e3e3e3;
}


.objective-brief-list-item + .objective-brief-list-item {
    margin-top: 5px;
}

.objective-brief {
    display: table;
    padding: 0;
    width: 100%;
    border: 1px solid #E1E1E1;
    background-color: #F9F9F9;
    color: #666666;
    text-align: justify;
    text-transform: uppercase;
    font-size: 14px;
}

    .objective-brief:hover {
    }

    .objective-brief > * {
        display: table-cell;
        vertical-align: middle;
    }

.objective-brief-indicator {
    display: table-cell;
    -moz-min-width: 10px;
    -ms-min-width: 10px;
    -o-min-width: 10px;
    -webkit-min-width: 10px;
    min-width: 10px;
    width: 10px;
    background-color: #F26C4F;
}

.objective-brief-image-wrapper {
    display: table-cell;
    padding: 5px 10px;
    width: 200px;
}

.objective-brief-image-border {
    user-select: none;
    position: relative;
    z-index: 10;
    border: 4px solid white;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: black;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#9d9d9d, strength=3);
}

.objective-brief-image {
    width: 165px;
    height: 85px;
}

.objective-brief-title {
    padding: 10px;
    width: 100%;
}

.objective-brief-expand-collapse-wrapper {
    -moz-min-width: 45px;
    -ms-min-width: 45px;
    -o-min-width: 45px;
    -webkit-min-width: 45px;
    min-width: 45px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
    text-align: center;
}

.btn-expand, .btn-collapse {
    display: inline-block;
    width: 22px;
    height: 13px;
    line-height: 0;
}

.btn-expand {
    background-image: url(../img/expand.png);
}


.btn-collapse {
    background-image: url(../img/collapse.png);
}

.question-brief-list {
    margin: 0;
    padding: 0 0 0 10px;
}

.question-brief {
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}


.question-brief-title {
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
    color: #666666;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

    .question-brief-title:hover {
        text-decoration: underline;
    }

/* -------------- end of home view ------------- */


/* -------------- question view ------------- */

.question .navigation-link-right-image {
    background-position: 0 -57px;
}

.question .caption-icon-image {
    background-position: 0 0;
}

.question-answers {
    padding: 20px;
}

.question-answer {
    padding: 15px 0;
}

    .question-answer > * {
        display: table-cell;
        vertical-align: middle;
    }

.question-answer-checkbox {
    width: 38px;
    height: 36px;
    border: 1px dashed #DADADA;
    display: block;
    margin-right: 15px;
}

    .question-answer-checkbox.checked {
        border: 2px solid #666666;
        background: url("../img/checkbox.png") no-repeat scroll center center transparent;
    }

.btn-submit-wrapper {
    margin: 0 20px 20px;
}

.btn-submit {
    background-color: #343a41;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: white;
    border: 1px solid #62676B;
    outline: none;
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
}

    .btn-submit:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

/* -------------- end of question view ------------- */



/* -------------- feedback view ------------- */

.feedback .content {
    padding: 10px;
}

.feedback .caption-icon-image {
    background-position: 0 -56px;
}

.feedback .caption-text {
    text-transform: uppercase;
}

.question-progress {
    position: relative;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 40px;
}

.question-progress-score {
    position: absolute;
    text-align: center;
    top: 144px;
    font-family: Arial;
    font-size: 24pt;
    width: 100%;
}

.navigation-btn-container {
    max-width: 704px;
    margin: 50px auto;
}

.navigation-btn-left,
.navigation-btn-right {
    min-width: 240px;
    max-width: 280px;
    height: 52px;
    line-height: 20px;
    padding: 15px 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.8;
}

    .navigation-btn-left:hover,
    .navigation-btn-right:hover {
        opacity: 1;
    }

.navigation-btn-left {
    background-color: #5698bb;
}

.navigation-btn-right {
    background-color: #343a41;
}

/* -------------- end of feedback view ------------- */


/* -------------- explanation view ------------- */
.explanations {
    padding-bottom: 10px;
}

    .explanations .navigation-link-right-image {
        background-position: 0 -114px;
    }

    .explanations .caption-icon-image {
        background-position: 0 -28px;
    }

    .explanations .caption-text {
        text-transform: uppercase;
    }

.explanation-items {
    padding: 0 10px;
    margin: 0;
}

    .explanation-items .explanation-item {
        padding: 20px 0;
        text-align: justify;
    }

        .explanation-items .explanation-item + .explanation-item {
            border-top: solid 2px #e0e0e0;
        }

/* -------------- end of explanations view ------------- */


/* -------------- not supported browser view ------------- */

.not-supported-browser {
    padding-top: 100px;
    text-align: center;
}

    .not-supported-browser ul {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

/* -------------- not supported browser view ------------- */
