.meter-wrapper {
    position: relative;
    display: inline-block;
    width: 351px;
    height: 21px;
}

.meter-border-outer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 355px;
    height: 21px;
    border-radius: 13px;
    border: 4px solid rgb(243,243,243);
}

.meter-border-inset-dark {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border-top: 1px solid rgb(122, 122, 122);
    border-left: 1px solid rgb(122, 122, 122);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
}

.meter-border-inset-light {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border-top: 1px solid rgb(169, 169, 169);
    border-left: 1px solid rgb(169, 169, 169);
    border-right: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.meter-value {
    position: absolute;
    top: 4px;
    left: 2px;
    height: 13px;
    background: rgb(99,177,216); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYjFkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MzkyYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(99,177,216,1) 0%, rgba(83,146,179,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,177,216,1)), color-stop(100%,rgba(83,146,179,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b1d8', endColorstr='#5392b3',GradientType=0 ); /* IE6-8 */
}

.meter-background {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 100%;
    height: 13px;
    background-color: rgb(217,217,217);
}

.ie9 .meter-value {
    filter: none;
}


.summary .content {
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
}


.summary .caption {
    text-transform: uppercase;
}

.summary .navigation-link-right-image {
    background-position: 0 -171px;
}

.summary .caption-icon-image {
    background-position: 0 -84px;
}

.summary-objectives {
    padding-left: 18px;
    padding-bottom: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.summary-progress-header {
    margin-left: 18px;
    border-bottom: 1px solid #E1E1E1;
}

.summary-progress-header-title {
    text-align: center;
    font-family: Arial;
    font-size: 36px;
    padding: 60px 0;
    margin-right: 420px;
}

.summary-progress-overall {
    float: right;
    width: 355px;
    text-align: center;
    margin-right: 25px;
    padding-top: 10px;
}

.summary-objective {
    padding: 0 25px;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}

.summary-objective-title {
    padding: 16px 0;
    margin-right: 420px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: default;
}

.summary-objective-progress {
    padding: 6px 0;
    width: 355px;
    float: right;
}

@media (max-width: 850px) {
    .summary-progress-overall {
       width: 125px; 
    }
    
    .summary-progress-header-title {
        margin-right: 175px;
    }

    .summary-objective {
        position: relative;
    }

    .summary-objective-title {
        margin-bottom: 47px;
        margin-right: 0;
    }

    .summary-objective-progress {
        position: absolute;
        top: 40px;
        left: 25px;
    }
}

.summary-objective-progress-value {
    text-align: center;
    line-height: 16px;
}
