<!DOCTYPE html>
<html>
<head>
    <title>easygenerator</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="height=device-height, width=640, minimum-scale=0.5, maximum-scale=1">

    <link rel="stylesheet" href="css/styles.css" />

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<!--[if IE 9]>
<body class="ie9">
<![endif]-->
<!--[if !IE 9]>-->
<body>
<!--<![endif]-->
    <div id="applicationHost" class="application-wrapper">
        <img class="loader" src="img/loader.gif" alt="" />
    </div>

    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/knockout-2.2.1.js"></script>
    <script src="js/sammy-0.7.4.js"></script>
    <script src="js/underscore-1.5.1.js"></script>
    <script src="js/q.js"></script>
    <script src="js/scrollBinding.js"></script>
    <script src="App/durandal/amd/require.js" data-main="App/main.js"></script>
    <script src="js/circleProgressBinding.js"></script>
</body>
</html>