<!DOCTYPE html>
<html>

<head>
    <title>easygenerator</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />

    <link href='http://fonts.googleapis.com/css?family=Roboto:500,400,300,100,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles.css?v=1476711527338">
</head>

<body>
    <img class="course-logo" data-bind="attr: { src: logoUrl }">

    <h1 class="course-caption" data-bind="text: title"></h1>

    <!-- ko if: hasIntroductionContent -->
    <div class="course-intro-text styled-content content" data-bind="loadHtml: '../content/content.html?v=1476711527338'"></div>
    <!-- /ko -->

    <!-- ko foreach: { data: sections, as: 'section' } -->
    <!-- ko if: $root.filterQuestionTypes(section.questions).length > 0 -->
    <h2 class="section-info" data-bind="text: section.title"></h2>

    <div>

        <!-- ko foreach: { data: $root.filterQuestionTypes(section.questions), as: 'question' } -->

        <div class="question-body">

            <!-- ko if: question.type == 'informationContent' -->

            <h3 class="question-title" data-bind="text: question.title"></h3>
            <!-- ko if: question.learningContents.length > 0 -->
            <ul class="learning-content-items content">
                <!-- ko foreach: question.learningContents -->
                <li class="learning-content-item styled-content" data-bind="loadHtml: '../content/' + section.id + '/' + question.id + '/' + id + '.html?v=1476711527338'"></li>
                <!-- /ko -->
            </ul>
            <!-- /ko -->

            <!-- /ko -->

            <!-- ko ifnot: question.type == 'informationContent' -->
            
            <!-- ko if: question.learningContents.length > 0 -->
            <h3 class="question-title with-icon" data-bind="text: question.title"></h3>
            <ul class="learning-content-items content with-icon">
                <!-- ko foreach: question.learningContents -->
                <li class="learning-content-item styled-content" data-bind="loadHtml: '../content/' + section.id + '/' + question.id + '/' + id + '.html?v=1476711527338'"></li>
                <!-- /ko -->
            </ul>
            <!-- /ko -->            
             
            <!-- /ko -->

        </div>

        <!-- /ko -->

    </div>
    <!-- /ko -->
    <!-- /ko -->

    <script src="scripts.js?v=1476711527338"></script>
</body>

</html>