<!DOCTYPE html>
<html>
<head>
    <title data-bind="text: title"></title>
    <link rel="stylesheet" href="css/styles.min.css?v=1436361848483">
    <script src="js/vendor.min.js?v=1436361848483"></script>
    <script src="js/main.min.js?v=1436361848483"></script>
</head>
<body>
    <div class="learning-path-container clearfix">
        <!-- ko ifnot: isError -->
        <div class="learning-path-title-panel">
            <div class="logo"></div>
            <div class="learning-path">Learning path:</div>
            <div class="learning-path-title" data-bind="text: title, css: { 'long': title.length > 60 }"></div>
        </div>
        <div class="learning-path-content">
            <h1 class="courses-title">Courses</h1>
            <ul class="courses-list">
                <!-- ko foreach: courses -->
                <li>
                    <a class="course-item" target="_blank" data-bind="attr: { href: link}, css: { linked: $index() < $parent.courses.length - 1}">
                        <span class="course-image">
                            <img data-bind="attr: {src: thumbnailUrl}" />
                        </span>
                        <span class="course-title" data-bind="css: { 'middle': title.length > 60 && title.length <= 140, 'long': title.length > 140}">
                            <span class="course-title-text" data-bind="text: title"></span>
                        </span>
                        <span class="start-course-link">Start course</span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <!-- /ko -->
        <!-- ko if: isError -->
        <div class="error">
            Error loading learning path...
        </div>
        <!-- /ko -->
    </div>
</body>
</html>