html, body, .application-wrapper
{
    width: 100%;
    height: 100%;
    color: #666 !important;
}

.eg-navbar-color
{
    background-color: #404A4C !important;
    border-radius: 0 !important;
}

.eg-container
{
    padding: 0 0 10px;
}

.eg-experience-title
{
    margin-bottom: 20px;
    margin-top: 0;
}

.eg-answers
{
    margin: 0 0 0 30px;
}

.eg-question-title
{
    padding: 0 0 10px;
    font-size: 20px;
    overflow: hidden;
}

    .eg-question-title .title
    {
        width: 90%;
    }

    .eg-question-title .explanation-icon
    {
        cursor: pointer;
    }

.eg-answer
{
    padding: 15px 0;
}

    .eg-answer > *
    {
        display: table-cell;
        vertical-align: middle;
    }

    .eg-answer .eg-answer-checkbox
    {
        width: 35px;
        height: 35px;
        border: 1px dashed #DADADA;
        display: block;
        margin-right: 15px;
        cursor: pointer;
    }

        .eg-answer .eg-answer-checkbox.checked
        {
            border: 2px solid #eee;
            background: url("../img/checkbox.png") no-repeat scroll center center transparent;
        }

        .eg-answer .eg-answer-checkbox.checked-ok
        {
            border: 2px solid #eee;
            background: url("../img/checkbox-ok.png") no-repeat scroll center center transparent;
        }

        .eg-answer .eg-answer-checkbox.checked-fail
        {
            border: 2px solid #eee;
            background: url("../img/checkbox-fail.png") no-repeat scroll center center transparent;
        }

.loader
{
    width: 50%;
    position: fixed;
    top: 45%;
    left: 25%;
}

.eg-objective-item-image
{
    margin: 0 10px 10px 0;
}

.not-supported-browser
{
    padding-top: 100px;
    text-align: center;
}

    .not-supported-browser ul
    {
        display: inline-block;
        zoom: 1;
        list-style: none;
    }

.eg-progress
{
    position: relative;
}

    .eg-progress .eg-badge
    {
        font-size: 14px !important;
        position: absolute;
        right: 0;
        border-radius: 0;
        background-color: #474949;
    }

.eg-btn-questions
{
    margin: -10px 0 10px !important;
    cursor: pointer;
}

.eg-cursor-pointer
{
    cursor: pointer;
}
