<section class="multiple-select">

    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="page-view-caption clearfix">
                <div class="action-item-btn-wrapper pull-right">
                    <!-- ko widget: { kind: 'createQuestion', objectiveId: objectiveId } --><!-- /ko -->
                </div>
                <div class="page-view-caption-text" data-bind="localize: { text: 'questionViewCaption' }">Question editor</div>
            </div>

            <header class="question-view-header" data-bind="with: title">
                <!-- ko if: $parent.isExpanded() -->
                <div class="expand-collapse-panel expanded" data-bind="click: $parent.toggleExpand">
                    <span class="expand-collapse-panel-label" data-bind="localize: { text: 'title'}">Title</span>
                </div>
                <div class="edit-field selectable" data-bind="editableText: { text: title, multiline: false }, event: { focus: startEditQuestionTitle, blur: endEditQuestionTitle }, css: { 'active': title.isEditing(), 'error': !title.isValid() } ,  autofocus: { focus: $parent.isCreatedQuestion, autoselect: $parent.isCreatedQuestion }">
                </div>
                <div class="chars-counter" data-bind="css: { error: !title.isValid() }">
                    <span data-bind="text: title().trim().length"></span>/<span data-bind="text: $parent.questionTitleMaxLength"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: $parent.isExpanded() -->
                <div class="expand-collapse-panel collapsed" data-bind="click: $parent.toggleExpand">
                    <span class="expand-collapse-panel-label" data-bind="localize: { text: 'title'}">Title</span>
                </div>
                <!-- /ko -->

            </header>

            <!-- ko if: isExpanded -->
            <div class="question-extra-content-block" data-bind="with: questionContent">
                <div class="extra-content-action-wrapper">
                    <!-- ko if: isContentDefined -->
                    <!-- ko if: isExpanded -->
                    <div class="extra-content-action hide cursor-default" data-bind="click: toggleExpand, localize: { text: 'hideQuestionContent' }"></div>
                    <!-- /ko -->
                    <!-- ko ifnot: isExpanded -->
                    <div class="extra-content-action show cursor-default" data-bind="click: toggleExpand, localize: { text: 'showQuestionConent' }"></div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko ifnot: isContentDefined -->
                    <div class="extra-content-action add cursor-default" data-bind="click: addContent, localize: { text: 'addExtraQuestionContent' }"></div>
                    <!-- /ko -->
                </div>
                <!-- ko if: isContentDefined -->
                <div class="question-content-items-list" data-bind="visible: isExpanded">
                    <div class="question-content-item" data-bind="css: { active: hasFocus }">
                        <div class="question-content-wrapper">
                            <div class="question-content selectable" data-bind="ckeditor: { data: text, eventTracker: $parent.eventTracker, isEditing: hasFocus, save: updateText, focus: beginEditText, blur: function (data, event) { updateText(data, event), endEditText(data, event); }, autosaveInterval: autosaveInterval, localizationManager: $parent.localizationManager }">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="content-section-wrapper">
        <div class="content-section" data-bind="with: answers">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded" data-bind="click: toggleExpand">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }">Answer options</span>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed" data-bind="click: toggleExpand">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }">Answer options</span>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="content-section-wrapper answer-options" data-bind="with: answers">
        <!-- ko if: isExpanded -->
        <div class="question-answer-options-area">
            <div class="content-section">
                <ul class="unstyled answer-option-list">
                    <!-- ko if: answers().length == 0 -->
                    <li class="empty-learning-content" data-bind="localize: { text : 'noAnswerOptionsYet' } + '...'">
                        No answer options yet...
                    </li>
                    <!-- /ko -->
                    <!-- ko foreach: answers -->
                    <li class="answer-option-item" data-bind="outsideClick: { action: $parent.clearSelection }">
                        <div class="answer-options-list-item">
                            <div class="question-answer-value-wrapper">
                                <!-- ko if: isCorrect -->
                                <div class="question-answer-checkbox correct question-answer-value" data-bind="click: $parent.toggleCorrectness">
                                    <span data-bind="visible: isCorrect" class="answer-correct-icon">&nbsp;</span>
                                    <div class="question-answer-tooltip">
                                        <span data-bind="localize: { text: 'markAsIncorrect' }">
                                            Mark as incorrect
                                        </span>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <!-- ko ifnot: isCorrect -->
                                <div class="question-answer-checkbox question-answer-value" data-bind="click: $parent.toggleCorrectness">
                                    <span data-bind="visible: isCorrect" class="answer-correct-icon">&nbsp;</span>
                                    <div class="question-answer-tooltip">
                                        <span data-bind="localize: { text: 'markAsCorrect' }">
                                            Mark as correct
                                        </span>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="question-answer-text-wrapper" data-bind="click: $parent.selectAnswer.bind($parent, $data), css: { active: $data == $parent.selectedAnswer() }">
                                <div class="question-answer-text">
                                    <div class="editarea-editable-text selectable" data-bind="editableText: { text: text, multiline: true, autosave: { interval: $parent.autosaveInterval, handler: $parent.updateAnswer } }, event: { focus: $parent.beginEditText, blur: function (data, event) { $parent.endEditText(data, event) } }, hasFocus: hasFocus, selectText: false">
                                    </div>
                                </div>
                            </div>
                            <div class="question-answer-delete-wrapper">
                                <span class="question-answer-delete-icon" data-bind="click: $parent.removeAnswer, localize: { title: 'deleteAnswerOption' }"></span>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
                <div class="add-answer-option-wrapper" data-bind="outsideClick: { action: clearSelection }">
                    <div class="add-answer-option-btn btn green" data-bind="click: addAnswer">
                        <span class="add-answer-option-text">Add answer option</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="content-section-wrapper">
        <div class="content-section" data-bind="with: learningContents">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded" data-bind="click: toggleExpand">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'learningContent' }">Learning content</span>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed" data-bind="click: toggleExpand">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'learningContent' }">Learning content</span>
            </div>
            <!-- /ko -->
            <!-- ko if: isExpanded -->
            <ul class="unstyled question-content-items-list" data-bind="visible: isExpanded">
                <!-- ko foreach: learningContents -->
                <li class="question-learning-content-list-item" data-bind="css: { active: hasFocus }">
                    <div class="question-learning-content-wrapper">
                        <div class="question-learning-content selectable" data-bind="ckeditor: { data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: $parent.updateText, focus: $parent.beginEditText, blur: function (data, event) { $parent.updateText(data, event), $parent.endEditText(data, event); }, autosaveInterval: $parent.autosaveInterval, localizationManager: $root.localizationManager }">
                        </div>
                    </div>
                    <div class="question-learning-content-delete-wrapper" data-bind="click: $parent.removeLearningContent, localize: { title: 'delete' }">
                        <span class="question-learning-content-delete-icon"></span>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
            <div class="add-button" data-bind="css: { disabled: !canAddLearningContent() }">
                <!-- ko if: canAddLearningContent -->
                <div class="add-button-text-wrapper" data-bind="click: addLearningContent">
                    <span class="add-button-text selectable" data-bind="localize: { text: 'clickToAddLearningContent' }"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canAddLearningContent -->
                <div class="add-button-text-wrapper">
                    <span class="add-button-text selectable" data-bind="localize: { text: 'clickToAddLearningContent' }"></span>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
    </div>
</section>