<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <add key="Browser" value="IE"/>
    <!-- Supported browsers Chrome, FF, IE -->
  </appSettings>
</configuration>