html {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	background-color: #fff;
}

.course-logo {
	max-width: 300px;
    max-height: 50px;
	margin-top: 20px;
}

.course-caption {
	margin: 30px 0 50px;
	font-size: 40px;
	line-height: 40px;
}

.content {
	position: relative;
	margin: 0;
	padding: 30px;
	font-size: 16px;
	border: none;
	background-color: rgba(200,209,215,.2);
	box-shadow: none;
}
.content.with-icon {
	margin: 0 0 0 35px;
}

.content.with-icon:before {
	content: "";
    display: inline-block;
    position: absolute;
    left: -16px;
    top: 17px;
    border-color: transparent;
    border-right-color: rgba(200,209,215,.2);
    border-width: 8px;
    border-style: solid;
}

.content.with-icon:after {
	content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -35px;
    top: 13px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNWWFMmUAAAMqSURBVEhLfZVJK75RGMYPMmzMw8KU2PgSbEg+gUiGlRQ7QywliRI+hLAj4hNYWEgSpczDVsZkvP5d9/teT7en9+9X533Oc+7x3Oc89xu+v79Bvr6+oPnPz489Ly8vMTs7i6amJlRVVSEnJwd5eXmor69Ha2srpqamcHp6arqy/fz8jOZ8Bk7oXLy9veHu7g6dnZ0oKytDX18ftre3cX19jdfXV9zf3+P4+BgbGxsYHBxEcXExOjo6TP7x8ZH0Ary/v9vTAhBlTcOCggJMTEzg8fHR1piJ5IRzZfn09ITJyUkLtLy8bGvcBaGeBZDx4uIiamtrLUM5ECqhDyS4dnh4iLq6OszPz9uagkQ7WF1dRXl5OW5ubpIrCWgsp/6cfAIqMW0rKyujnZBAIevHsuzv75sz78jDA87NzU2+/T47Zbyzs4OSkhILRrntoL29HWNjY6bg8dkTBsjPz0++JYjrkJGREbS1tdk8XF1dmeHLy4steGQYd8K5Pw89mTEHfRUVFdk1D9PT0+ju7v7lgMQdEjpV6VLJPf39/ZiZmUFobm7G+vq6KUkxlTEza2xstKHaez2t6Sy2trZA36Gmpib6GomM4iXgSE9Pt6F3L4tzfn6O6upqhOzsbPt6iTcSfh5CsCG8vtcj/KozMzMR+MMWQJS16ixU+4yMDBt6F38GYBM7OTmJaujrGzdMS0uzIVLpiKhE7JRra2uWkRR9dp54iTz/PWRepd7eXlv0+Kxk7ANojaTaQXRNuRV+FOyKPnPvQHNfor8CPD8/o7CwEBcXF4lW0dXVheHhYRMSGfv+zuDaQapEfJChoSH09PTYPFBwdnZmDWpvb8+MOWTgDRsaGmwIyWRDdnd3UVpaaodMuQUgKysr1q5vb29TOo8H9TLBrlxRUYGlpSV7p82v/+SFhQX7wzk6OorK4x2TeFDJDw4OwK4wNzcXyUi0A8I5+xLLNTo6agfvodzrk4eHB4yPj5sNq0C8XnSpFZGZ88+Cf+Q0GhgYwObmpt0I3nEOzrlGGW8LLwnbvloOiXbAH0XzV48K7Ods5y0tLXY+WVlZNjjnGmU6TCHHCYB/vr7WMrGyFfgAAAAASUVORK5CYII=") 0 0 no-repeat;
}

.section-info {
    position: relative;
    display: block;
    width: 100%;
    margin: 150px 0 25px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #444;
    font-family: Roboto Slab;
	font-size: 32px;
    font-weight: 400;
	line-height: 35px;
    word-wrap: break-word;
    vertical-align: middle;
}

.question-body {
	margin: 50px 0;
}

.question-body:not(:last-child):after {
	content: "";
	display: block;
	margin: 0 250px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.question-title {
	margin: 45px 0 30px;
	padding: 0;
	font-size: 23px;
    font-weight: normal;
    line-height: 35px;
}
.question-title.with-icon {
	padding: 0 0 0 35px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABxklEQVRIS62WMU4DQQxFf04AR4CaAugo4QSEEwASPXACoKRAyQ0ILQ3Q0pAbACcgNwBOAHqRPZodZnaGKJZW2Wi//f1tr2cH6rc1SfuSdiVxv2XwN0kzSVNJT3afjTQoxCfYhaQjC/BoQb4Mv2qEQ0tgIukqR5QjwOnWAl/2ZWdkJAMOPxIimWApAYBxDlgpJY8hQMmZ/c5dYgIHUG9qvIjRI/oSlDgBMl8lHacSF2DxRCGbOQHSMJhzBnhkU8T0UGeaWrIQDwKy/5C0XmgowVHHOOLIf+r8YIpzJCEmBICpO9JyRraMJRg3BuE06WHqi98UAm64XFYKpCQ8YxTdKCWjvN0zEGCGEDAxqKD7rQaWMnCVDMUjCH4qmaQBUEM5a+M8791/CfwlrAUnqUDQWiIa/WnjGfejr0TjliZ7ALJ+kbTX2K/Q5NqYtja+OKa1F80dNyTdSLo2JX3EnRcNYG1VgNmR9CzpRNJ9RVZnVYCFkWb/2ecL1Ce77IizrHXNIIStvOwDh/VxXjpwvBquhG2ZPWeTsvn5fdByZLqvn7OH0TJk6X0bYCU69EnozpYhmI6VvipiIt87kG7ag/fos8W/OLLz8AuRhHQ2RlhE+QAAAABJRU5ErkJggg==") 0 5px no-repeat;
}

.question-content-wrapper:last-child {
	margin: 0;
}

.fill-in-the-blank .blankInput {
	width: 250px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjJGQ0FFQzI0RThCNzExRTRBOEVCQUFEQTE5RDYxQkI5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjJGQ0FFQzI1RThCNzExRTRBOEVCQUFEQTE5RDYxQkI5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MkZDQUVDMjJFOEI3MTFFNEE4RUJBQURBMTlENjFCQjkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MkZDQUVDMjNFOEI3MTFFNEE4RUJBQURBMTlENjFCQjkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5kNJKiAAAA+klEQVR42mLs6+tnIBKwAXEFEHsA8TkgrgXi90wMxAN9IPaBGmQBxDOBWJAYA1iBuAeIvwJxDRD/g4orAXELExHO7gXi30D8EojfoRmiy0RAM8xmED0diCeB/I1kyD4WEjSDnHwPiO9DxXOA+AILHs1foM5H1pwFxEVAzA7ExSDFLGRo5gHiEpgGJhya+9A0Z6Jp/oVuAAua5mlomouxaUb2AgcQXwLiDaRoRnZBGhAvA+I2UjTDDJAC4iggVgbiO0B8hljNMC8YQdmgzNEBxDehBhLUDDPAGCltzwLilUA8FYh/AvFfQhmFBeqFLUB8FoqfkZBDGQACDAAWwkxX+NNH+AAAAABJRU5ErkJggg==');
}

.fill-in-the-blank .blankInput:hover,
.fill-in-the-blank .blankInput:focus {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDE0IDc5LjE1Njc5NywgMjAxNC8wOC8yMC0wOTo1MzowMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkExMTJEQkMzRTlCNjExRTRBNzU3RTA1M0MwQzk2QjM5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkExMTJEQkM0RTlCNjExRTRBNzU3RTA1M0MwQzk2QjM5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QTExMkRCQzFFOUI2MTFFNEE3NTdFMDUzQzBDOTZCMzkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QTExMkRCQzJFOUI2MTFFNEE3NTdFMDUzQzBDOTZCMzkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz49cJPCAAAA+UlEQVR42mJ03H6DgUjADsTTgTgKiA8CcQwQv2ZiIB5YA3Ec1CA3IN4PxKLEGMAGxOuB+BMQRwPxX6i4NhAvZSLC2RuA+BcQPwHiV2iGWDIR0Ayy+TMQ5wPxHiDeDvI3kiFrWUjQDHLyVSC+DvWOOxAfYcGjGaSoAE2zKxD3AzEHEAeAFLOQoZkfphndAGTNhWiaXYB4ApLmnzBNsEBkRdO8mxjNyC7gAuLjQDyHFM3IBjQAcS0QbyFFM8wLCtAA0wHiK9AkSpRmmAvsoWyQ87OA+ALUQIKaYS5wQErboFzWAo0uX0KaYS4AeWEhEB+A4gck5FAGgAADACM3S/HMRKxGAAAAAElFTkSuQmCC');
	background-position: 7px;
}

.linear-select {
	font-size: 18px;
    line-height: 23px;
    padding: 5px 10px 5px;
    display: inline-block;
    border-radius: 7px;
    border: 0;
    color: #222;
    margin: 5px 5px 0;
    border-bottom: 1px solid #9e9e9e;
    background-color: transparent;
    outline: none;
    max-width: 100%;
    box-sizing: border-box;
}

.linear-select span:not(:last-child):after {
	content: "|";
    margin: 0 12px;
    color: #9e9e9e;
}

.single-select-image .select-image-wrapper button {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAuCAYAAAC4e0AJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNvyMY98AAASaSURBVGhD1Zpbb01BFMfFJ8KDJ5c3JHwB4YPw6vbm9kC0KohbQoNQJdpK9EToi1LVohVB9UKV0Cipdqzf7D1jbjs9xznHOf0n/2SftWfW+p999sysWXNWKKWq5UrhBuEJ4TPhV+FvoQs+Y+c+7WhPv5S/spk0lsmtwiFhNaA/flL+l2TSuAS3Cz8Kawn84TcVr5BJYwE3Cd8KIywuLqrxqSnV19+vbty9q85evqKOnT6jjpxs0+QaG/doQ1v6JIB/4qTiR0waE9wjjPBtdlaVHvWp1vMX1METLRWRPvTFRwJ7hSkdHpNGh6uEA0IPc3NzqrtUUkdaT1oxbRcvqa7ekhp6NaKmPn3SbX4vLGhyjY17tGm7cNH2wwe+aBOAuMRP6dJMGnOuFY4LPbwcfa2OnzmrAx9qaVUdXd1qfHIyv1s+xiYmVEd3t/aBL3y+GB3N71oQHx0pfYXi+cbvhRYL8gR5auaJXbl5U03PzOR3/x34wJfxSwxiOUBH8heIDDkfCi3m5+fVtdu3tfOjMgD7BwfzO7XDk8Hn2jcxiEVMB+iJdEYGIYPFgqdw/c4d7fSY/LTMFPUCvolBLGIGv8B+oafV+yBkmvLQ1durnfFOfv7yJbfWD8QwY4rYAbYIrV5XOPRWTAYQTo62narrEw9BLGISe3hkJLdqvBBava7wHUILpi7zBJ4OVZsFVA5iEpsF7oc/je4URuK91dPMLO0dt3LL/4eZhYLXB52eeJIji2/fv6vDsnjAzzP1f8+LQGyjA00OdDJnxD/AYsCyzTfu7LmXWxqHzp4erQVNDtCrxZNXW5AwtZ47rzt8kFWw0Rgbn9Ba0BQkcysRvz67zsBIpzH5R7PA5ELBjLcO8buz6wx9j/t1w8Qc2zCYtYZ02sEuxLdn1xnIuWlIBtgsQAua0OagHfHsKy3YNNCQFLZZgBY0oc3BM8RPZ9cZTG6RyK8bBrSgCW0OphH/K7vOYDYYbCKaBWhBE9oc/Fr24pv/tfn5U2tKvTbLesAu66myYJEq5ZbGw2S4qUXKTw8ml1d60NSJGRrQUpSYwaZNiantoKUoJYb+ZmR2Vs+pbAIavRmhKIWWoCzobUbgG6EFJTi+cWO3gR1aQzB5oFNrdsVTYrZgkTIL1sDQcG79fyAmsdEQLJgUCiLx0C99jDRd6QN9Vq8rHG4Wemho0el+tCFCn9XrCjfcJ7QgKXLLfRMfa30o8hf4Nq8qMYPk8IDQ0+p9cOjNSxQ9r97q1E4phg4M134M4NO8Ktc6o0IreiKdkSHnGuGY0CIrcWevEGQmqEWJm+nQzCqQGEGBFR3oiXRGBocU9aNTAwaxeSf14YIsIv9yuMDKGR4uBIMTsMRXfLhguFropcyA2iFzr9m4QHOsgwBSWKY3niDkGhv3aBMe62AL6pGAuMRP6dJMGhP0BrEBq16vLNsteS5UCelD34IDtagWn2LSWEBq9++EEUiYmJtJp8m52TRQ3SW9gN5RprShbZBkGeC/5keZLlnh6nGIbFfOcpk0lsltwmoL9/THT8r/kkwaKyT7gY3CFiGDbKk/TtCO9lX+cUKt+APE0bdWXW1zbgAAAABJRU5ErkJggg==) 50% 50%;
}

.text-matching-caption {
	border-radius: 5px;
	box-shadow: none;
}

.text-matching-column.empty {
	width: 20%;
}

.text-matching-target-text {
	padding-left: 0;
}

.text-matching-target-text:before {
	display: none;
}

.edit-field-wrapper {
	padding: 0;
}

.edit-field-wrapper .edit-field {
	min-height: 175px;
}

.drag-and-drop-text {
    margin-left: 0px;
}

.drag-and-drop-text-draggable-container .drag-and-drop-text-draggable {
    font-family: Roboto Slab;
    margin-left: 14px;
}

.drag-and-drop-text-background-wrapper img {
    border-radius: 10px;
}

.ranking-item {
    position: relative;
    margin-bottom: 20px;
}

.ranking-item-box {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 65px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(142,142,143,.75) inset;
    display: inline-block;
}

.ranking-item-text {
    border-radius: 5px;
    background-color: rgba(200,209,215,.2);
    border: 1px solid rgba(200,209,215,.2);
    padding: 10px;
    cursor: pointer;
    font-family: Roboto Slab;
    font-size: 18px;
    line-height: 30px;
    min-height: 50px;
    color: #3a4046;
    margin-left: 80px;
}