<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=easygenerator-web;Integrated Security=false;MultipleActiveResultSets=True;User ID=easygenerator;Password=Easy123!" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <mailSender interval="60" enable="false" xdt:Transform="SetAttributes"/>
  <appSettings>
    <add key="MixPanelToken" value="2437bde765c21c653b058ba64a5c2cfa" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="127.0.0.1" port="25" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>