<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mailSender" type="easygenerator.Web.Components.Configuration.MailSender.MailSenderConfigurationSection, easygenerator.Web" />
    <section name="courseImport" type="easygenerator.Web.Components.Configuration.CourseImportConfigurationSection, easygenerator.Web" />
    <section name="fileStorage" type="easygenerator.Web.Components.Configuration.FileStorageConfigurationSection, easygenerator.Web" />
    <section name="templateStorage" type="easygenerator.Web.Components.Configuration.TemplateStorageConfigurationSection, easygenerator.Web" />
    <section name="mailChimp" type="easygenerator.Web.Components.Configuration.MailChimpConfigurationSection, easygenerator.Web" />
    <section name="externalApi" type="easygenerator.Web.Components.Configuration.ExternalApiSection, easygenerator.Web, Version=1.0.0.0, Culture=neutral" />
    <section name="authorization" type="easygenerator.Auth.ConfigurationSections.Authorization.AuthorizationSection, easygenerator.Auth, Version=1.0.0.0, Culture=neutral" />
    <section name="cryptography" type="easygenerator.Auth.ConfigurationSections.CryptographySection, easygenerator.Auth, Version=1.0.0.0, Culture=neutral" />
    <section name="httpRequestsSender" type="easygenerator.Web.Components.Configuration.HttpRequestsSenderConfigurationSection, easygenerator.Web" />
    <section name="wooCommerce" type="easygenerator.Web.Components.Configuration.WooCommerceConfigurationSection, easygenerator.Web" />
    <section name="publication" type="easygenerator.Web.Components.Configuration.PublicationConfigurationSection, easygenerator.Web" />
    <section name="branchtrack" type="easygenerator.Web.Components.Configuration.BranchTrackConfigurationSection, easygenerator.Web" />
    <section name="wintoweb" type="easygenerator.Web.Components.Configuration.WinToWebConfigurationSection, easygenerator.Web" />
    <section name="intercom" type="easygenerator.Web.Components.Configuration.IntercomConfigurationSection, easygenerator.Web" />
    <section name="coggno" type="easygenerator.Web.Components.Configuration.CoggnoConfigurationSection, easygenerator.Web" />
    <section name="sentry" type="easygenerator.Web.Components.Configuration.SentryConfigurationSection, easygenerator.Web" />
    <section name="samlIdP" type="easygenerator.Web.Components.Configuration.SAML.SamlIdPConfigurationSection, easygenerator.Web" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices" />
    <section name="googleFontsApi" type="easygenerator.Web.Components.Configuration.GoogleFontsApiConfigurationSection, easygenerator.Web" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=easygenerator-web;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <fileStorage MaximumFileSize="10485760" Path="FileStorage" />
  <templateStorage TemplatesPath="Templates" CustomTemplatesPath="Templates/CustomTemplates" />
  <courseImport presentationMaximumFileSize="10485760" />
  <wooCommerce serviceUrl="http://dev-site.easygenerator.com" apiKey="qEKqflBGqykahFf21eK6X16cje4aRt08" autologinKey="hecre5rubr6Ched5kesuwruqacucuquw" autologinVector="4abrej6nE4ADrecrUdEPe4T66ruMeWRa" />
  <mailChimp serviceUrl="https://us3.api.mailchimp.com/2.0" apiKey="1eac972208dbab78b5ab8e4998e081fa-us3" listName="Main" />
  <publication serviceUrl="//elearning-branches.easygenerator.com" apiKey="D79A82B1E3E44057B28CDFD427FF3529" />
  <googleFontsApi serviceUrl="https://www.googleapis.com/webfonts/v1/webfonts" apiKey="AIzaSyBtXDwbb7arGbMz9MXzno-m-tVcB_b1qp0" />
  <branchtrack serviceUrl="http://apps.branchtrack.com">
    <apiKeys>
      <apiKey name="Default" value="04yuleksvfg8x7jphd6c3ma5nw1or29z" />
      <apiKey name="AcademyBT" value="2rxuwb6qc4gnftsmvjoh9a7dlez0pik5" />
    </apiKeys>
  </branchtrack>
  <wintoweb serviceUrl="http://localhost:444/tickets" apiKey="907f7af6-1c20-4ff6-8588-67f120e1ac65" />
  <intercom serviceUrl="https://api.intercom.io/users" appId="" apiKey="" />
  <sentry serviceUrl="" />
  <coggno serviceUrl="https://beta.coggno.com/" serviceProviderUrl="https://beta.coggno.com/easygenerator/sp/saml_login" assertionConsumerServiceUrl="https://beta.coggno.com/easygenerator/sp/consume" issuer="http://beta.coggno.com" publicationUrl="http://beta.coggno.com/easygenerator/documents/create" apiKey="t49va22b9xogjzofl07q9kjs"/>
  <samlIdP rootPath="saml/idp" ssoServicePath="saml/idp/Auth" metadataPath="saml/idp" logoutServicePath="" certificatePath="~/SAML/IdentityProvider/Certificates/easygenerator.saml.idp.pfx" certificatePassword="easygenerator" wantAuthenticationRequestsSigned="false">
    <metadata validPeriodDays="1" cacheDays="0" cacheHours="15" cacheMinutes="0" />
    <organization name="Easygenerator" displayName="Easygenerator" url="https://www.easygenerator.com" />
    <contacts>
      <contact type="Technical" company="Easygenerator" givenName="Roman" surname="Petriv" emailAddress="r.petriv@easygenerator.com" />
      <contact type="Support" company="Easygenerator" givenName="Valery" surname="Kontsedaylo" emailAddress="v.kontsedaylo@easygenerator.com" />
    </contacts>
  </samlIdP>
  <kentor.authServices modulePath="/saml/sp">
    <metadata>
      <organization name="Easygenerator" displayName="Easygenerator" url="https://www.easygenerator.com" language="en"/>
    </metadata>
  </kentor.authServices>
  <httpRequestsSender interval="60" enabled="true" sendAttemptsLimit="10" batchSize="10" />
  <externalApi requiresHttps="false">
    <apiKeys>
      <apiKey name="wooCommerce" value="51dc0c99b1d2420d9aef279ffa8a50fb" />
      <apiKey name="easygenerator" value="4da42513d98d401793eb2de3e0a744a2"></apiKey>
    </apiKeys>
  </externalApi>
  <authorization issuer="localhost">
    <endpoints>
      <endpoint name="storage" scopes="storage,auth" audience="storage" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" apiKey="cZ5QY8epz28lCKsO0PAu2FP6SIV12E17" />
      <endpoint name="auth" scopes="auth" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="lti" scopes="lti" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="api" scopes="api" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="preview" scopes="preview" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="signalr" scopes="signalr" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="upgradeAccount" scopes="upgradeAccount" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="settings" scopes="settings,auth" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="saml" scopes="saml" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
      <endpoint name="samlAuth" scopes="samlAuth" audience="app" secret="LacHZGA6Qk4CwHdVaS6ntt7C0Din9OufnvQii6ZG3NuB18yuU+cMkXkEr4CgsvnJ+COaTk9/H6120VUC87Zh6w==" />
    </endpoints>
  </authorization>
  <mailSender interval="60" enable="true">
    <mailTemplates>
      <mailTemplate name="SignedUpUserTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="new user was registered"></mailTemplate>
      <mailTemplate name="ForgotPasswordTemplate" from="noreply@easygenerator.com"></mailTemplate>
      <mailTemplate name="UserEmailConfirmationTemplate" from="noreply@easygenerator.com"></mailTemplate>
      <mailTemplate name="FeedbackTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="Feedback from user (easygenerator web)"></mailTemplate>
      <mailTemplate name="NewEditorFeedbackTemplate" to="v.kontsedaylo@ism.nl" from="info@easygenerator.com" subject="New course editor feedback"></mailTemplate>
      <mailTemplate name="NewsletterSubscriptionFailedTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="Problem with Mailchimp Auto Subscribe"></mailTemplate>
      <mailTemplate name="IntercomSubscriptionFailedTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="Problem with Intercom Subscription update"></mailTemplate>
      <mailTemplate name="HttpRequestFailedTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="Failed to send http request"></mailTemplate>
      <mailTemplate name="InviteCollaboratorTemplate" from="noreply@easygenerator.com"></mailTemplate>
      <mailTemplate name="InviteOrganizationUserTemplate" from="noreply@easygenerator.com"></mailTemplate>
      <mailTemplate name="PublicationServerUserRequestFailedTemplate" to="noreply@easygenerator.com" from="info@easygenerator.com" subject="Failed to send request to publication server"></mailTemplate>
    </mailTemplates>
  </mailSender>
  <cryptography secret="ddfa88da31aa4651adfb6ca6eea02958" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MixPanelToken" value="" />
    <add key="NudgespotToken" value="" />
    <add key="GoogleAnalyticsAccount" value="" />
    <add key="GoogleAnalyticsDomain" value="" />
    <add key="StorageServiceUrl" value="localhost:888" />
    <add key="ConvertionServiceUrl" value="localhost:999/convertion" />
    <add key="WinToWebConvertionServiceUrl" value="localhost:444" />
    <add key="PlayerUrl" value="localhost:555" />
    <add key="PasswordRecoveryTicketExpirationInterval" value="1440" />
    <add key="ImageLibraryOnlyHttps" value="false" />
    <add key="demoCourses.allowedUsers" value="v.ivanchuk@ism-ukraine.com;democourses@easygenerator.com;vr.danylchuk@ism-ukraine.com;a@a.com;petriv.roma@gmail.com" />
    <add key="preview.allowedUsers" value="preview@easygenerator.com;vr.danylchuk@ism-ukraine.com;a@a.com;petriv.roma@gmail.com" />
    <add key="dashboard.allowedUsers" value="admin@easygenerator.com;sales@easygenerator.com;v.kontsedaylo@ism.nl;a.drebot@gmail.com;petriv.roma@gmail.com" />
    <add key="lti.auth.path" value="/lti/launch" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="version" value="1.0.0" />
    <add key="google.fonts.apiKey" value="AIzaSyBtXDwbb7arGbMz9MXzno-m-tVcB_b1qp0" />
  </appSettings>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="512000" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/signin" timeout="5258880" />
    </authentication>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/notfound" />
      <error statusCode="500" redirect="~/servererror" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>

    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/notfound" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/servererror" responseMode="ExecuteURL" />
    </httpErrors>
    <handlers>
      <add name="PingHttpHandler" path="/ping.ashx" verb="*" type="easygenerator.Web.Components.PingHttpHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="CP=&quot;P3P-HEADER&quot;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <settings />
    <mailSettings>
      <smtp>
        <network host="smtp.corp.ism-ukraine.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20511.1437" newVersion="4.0.20511.1437" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <security allowRemoteAccess="false" />
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32" />
      </test>
    </errorFilter>
  </elmah>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
