<li class="main-content-list-item">
    <div class="list-item-content-holder">
        <div class="list-item-info-holder">
            <div class="info-holder-table">
                <div class="list-item-logo">
                    <span class="list-item-logo-image-wrapper">
                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: thumbnail }">
                    </span>
                </div>
                <div class="list-item-info">
                    <div class="list-item-title">
                        <span class="selectable" data-bind="text: title"></span>
                    </div>
                    <div class="list-item-saved">
                        <span data-bind="localize: { text: 'lastEdited' }">Last edited:</span> <span data-bind="date: { value: modifiedOn, formatString: 'L', language: currentLanguage }"></span>
                    </div>
                </div>
                <div class="list-item-remove">
                    <button class="list-item-remove-btn info-tooltip-holder" data-bind="click: remove">
                        <div class="info-tooltip">
                            <span data-bind="localize: { text: 'removeFromPath' }"></span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</li>