<section class="learning-path">
    <div class="loader-container">
        <header class="content-section-wrapper learning-path-header-wrapper">
            <div class="content-section learning-path-header-content-section">
                <!--  ko compose: { model: titleField, view: 'views/common/titleField.html' }  -->
                <!-- /ko -->
                <div class="content-section-actions-wrapper">
                    <div class="learning-path-action-wrapper">
                        <!--  ko compose: 'dialogs/learningPath/shareLearningPath' -->
                        <!-- /ko -->
                        <a href="" class="learning-path-action action-share" data-bind="click: share">
                            <span data-bind="localize: { text: 'share' }"></span>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="content-section">
                <ul data-bind="foreach: router.navigationModel">
                    <li>
                        <a data-bind="attr: { href:  dynamicHash, 'data-text': ($index() + 1) + '. ' + title }, css: { active: isActive }, text: ($index() + 1) + '. ' + title, click: navigate"></a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="loader-container">
            <div data-bind="router: {}, style: { opacity: router.isViewReady() ? '1' : '0' }"></div>

            <!-- ko ifnot: router.isViewReady -->
            <div data-bind="preloader: { settings: 'align-center', styles: { top: '250px' } }"></div>
            <!-- /ko -->
        </div>
    </div>
</section>