<section class="learning-path publish view-module">
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="publish-container" data-bind="publishTabs: {}">
                <ul class="publish-tabs unstyled">
                    <!-- ko foreach: publishToCustomLmsModels -->
                    <li class="publish-tab" data-bind="click: $parent.onOpenCustomPublishTab, attr: { 'data-tab-link': 'publish-to-custom-lms-' + company.name }">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <img class="custom-publish-tab-image" data-bind="attr: { src: company.logoUrl, alt: company.name }, grayscale:{}" />
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: { key: 'publishToCompany', replace: { companyName: company.name } } }"></span>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: !publishToCustomLmsModels[0] || !publishToCustomLmsModels[0].company.hideDefaultPublishOptions -->
                    <li class="publish-tab" data-bind="click: onOpenLinkTab" data-tab-link="private-link">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image private-link"></span>
                        </div>
                        <span data-bind="localize: {text: 'sharePrivateLink'}">Share private link</span>
                    </li>
                    <li class="publish-tab" data-bind="click: onOpenEmbedTab" data-tab-link="embed">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image embed"></span>
                        </div>
                        <span data-bind="localize: {text: 'insideAWebsite'}">Inside a website</span>
                    </li>
                    <li class="publish-tab" data-bind="click: onOpenHtmlTab" data-tab-link="html">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image html"></span>
                        </div>
                        <span data-bind="localize: {text: 'toYourHosting'}">To your hosting</span>
                    </li>
                    <!-- /ko -->
                </ul>
                <div class="publish-tabs-content">
                    <!-- ko foreach: publishToCustomLmsModels -->
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishToCustomLms', model: $data.model, activationData: { learningPathId: $parent.learningPathId, companyInfo: $data.company } } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: !publishToCustomLmsModels[0] || !publishToCustomLmsModels[0].company.hideDefaultPublishOptions -->
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishToPublicationServerLink', model: publishAction, activationData: learningPathId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishToPublicationServerEmbed', model: publishAction, activationData: learningPathId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishAsHtml', model: downloadAction, activationData: learningPathId } --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>