<section class="learning-path publish view-module">
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="publish-container" data-bind="publishTabs: {}">
                <ul class="publish-tabs unstyled">
                    <li class="publish-tab active" data-bind="click: sendOpenLinkTab" data-tab-link="private-link">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image private-link"></span>
                        </div>
                        <span data-bind="localize: {text: 'sharePrivateLink'}">Share private link</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenEmbedTab" data-tab-link="embed">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image embed"></span>
                        </div>
                        <span data-bind="localize: {text: 'insideAWebsite'}">Inside a website</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenHtmlTab" data-tab-link="html">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image html"></span>
                        </div>
                        <span data-bind="localize: {text: 'toYourHosting'}">To your hosting</span>
                    </li>
                </ul>
                <div class="publish-tabs-content">
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishToPublicationServerLink', model: publishAction, activationData: learningPath } -->
                    <!-- /ko -->
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishToPublicationServerEmbed', model: publishAction, activationData: learningPath } -->
                    <!-- /ko -->
                    <!-- ko compose: { view: 'views/learningPaths/learningPath/publish/publishAsHtml', model: buildAction, activationData: learningPath } -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>