<section class="question create-question container unselectable">
    
    <nav class="navbar">
        <a class="inline nav-control left" data-bind="click: navigateToObjective" href="#/objective">
            <div class="nav-icon back-icon pull-left"></div>
            <div class="nav-title">
                <span data-bind="localize: { text: 'backTo' }"></span>&nbsp;
                <span data-bind="text: ' \'' + objectiveTitle + '\''"></span>
            </div>
        </a>
    </nav>
    <div class="create-question-content-wrapper">
        <form class="create-question-form clearfix">
            <div class="create-question-image white-framing">
                <img alt="" class="question-image" src="/Content/images/multichoice-question.png" />
            </div>
            <div class="create-question-text-wrapper">
                <div class="edit-field selectable">
                    <div class="text-block bordered" data-bind="css: { 'active': title.isEditing(), error: !title.isValid() && title().length > titleMaxLength }">
                        <div class="editarea editarea-editable-text" data-bind="editableText: { text: title, multiline: false }, hasFocus: title.isEditing"></div>
                        <div class="chars-counter" data-bind="css: { error: !title.isValid() && title().length > titleMaxLength }">
                            <span data-bind="text: title().length"></span>/<span data-bind="text: titleMaxLength"></span>
                        </div>
                    </div>
                </div>
                <div class="create-question-tip hand-writing">
                    <div class="create-question-tip-text" data-bind="localize: { text: 'typeQuestionTitleHere' }"></div>
                    <div class="create-question-tip-arrow"></div>
                </div>
            </div>
              <!-- ko compose: { view: 'views/common/formactions', model: { isValid: title.isValid(), saveAndNew: saveAndNew.bind($data), saveAndOpen: saveAndOpen.bind($data) } } -->
              <!-- /ko -->
        </form>
    </div>
</section>
<div class="alert alert-info" data-bind="visible: notification.visibility">
    <button class="close absolute-right" data-bind="click: notification.close">×</button>
    <span class="alert-content">
        <span class="info-icon"></span>
        <span class="alert-text">
            <span data-bind="text: notification.text()"></span>
        </span>
    </span>
</div>