<section id="createQuestion" class="create-question view-module">
    <div class="fixed-container">
        <div class="content-holder">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'createQuestionViewCaption' }">Create question</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navbar" data-bind="compose: { view: 'views/common/navbar.html', model: { goBackText: ' \'' + objectiveTitle + '\'', isGoBackTextLocalizable: false, goBackAction: navigateToObjective.bind($data), goBackLink: '#objective/' + objectiveId } }">
        </div>
        <form class="create-form">
            <div class="white-framing pull-left">
                <span class="create-form-image-wrapper">
                    <img class="create-form-image" src="/Content/images/multichoice-question.png" alt="" />
                </span>
            </div>
            <div class="create-form-field">
                <div data-autofocus="true" class="edit-field bordered selectable" data-bind="editableText: { text: title, multiline: false }, hasFocus: title.isEditing, css: { error: !title.isValid() && title().length > titleMaxLength, active: title.isEditing() }"></div>
                <div class="chars-counter" data-bind="css: { error: !title.isValid() && title().length > titleMaxLength }">
                    <span data-bind="text: title().trim().length"></span>/<span data-bind="    text: titleMaxLength"></span>
                </div>
                <!-- ko compose: { view: 'views/common/createtip', model: { text: 'typeQuestionTitleHere' } } -->
                <!-- /ko -->
            </div>
            <!-- ko compose: { view: 'views/common/formactions', model: { isValid: title.isValid(), saveAndNew: saveAndNew.bind($data), saveAndOpen: saveAndOpen.bind($data) } } -->
            <!-- /ko -->
        </form>
    </div>
</section>
