<div class="content-section-wrapper">
    <div class="content-section">
        <div class="expand-collapse-panel " data-bind="css: isExpanded() ? 'expanded' : 'collapsed' ">
            <span class="expand-collapse-panel-label" data-bind="localize: { text: 'questionFeedback' }">Question feedback</span>
            <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: isExpanded() ? 'collapse': 'expand'  }"></div>
        </div>
        <section class="content-item-holder" data-bind="expandBlock: { expanded: isExpanded() }">
            <!-- ko foreach: items -->
            <div class="question-feedback-wrapper" data-bind="css: key, css2: { hide: (key === 'incorrect' && $parent.surveyModeEnabled), survey: $parent.surveyModeEnabled }">
                <div class="question-feedback-icon">
                    <div class="info-tooltip">
                        <span data-bind="text: captions.hint"></span>
                    </div>
                </div>
                <div class="question-feedback" data-bind="css: { active: hasFocus, empty: isEmpty }">
                    <div class="question-feedback-text-wrapper selectable" data-bind="ckeditor: { data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, blur: updateText, autosaveInterval: $root.autosaveInterval, localizationManager: $root.localizationManager }">
                    </div>
                    <!-- ko if: isEmpty() && !hasFocus() -->
                    <div class="question-feedback-info-wrapper">
                        <span class="question-feedback-info" data-bind="text: (key === 'correct' && $parent.surveyModeEnabled()) ? captions.surveyInstruction : captions.instruction"></span>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
        </section>
    </div>
</div>
