<div class="content-section-wrapper">
    <div class="content-section">
        <!-- ko if: isExpanded -->
        <div class="expand-collapse-panel expanded">
            <span class="expand-collapse-panel-label" data-bind="localize: { text: 'questionFeedback' }">Question feedback</span>
            <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: 'collapse' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isExpanded -->
        <div class="expand-collapse-panel collapsed">
            <span class="expand-collapse-panel-label" data-bind="localize: { text: 'questionFeedback' }">Question feedback</span>
            <div class="expand-collapse-panel-btn" title="Expand" data-bind="click: toggleExpand, localize: { title: 'expand' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: isExpanded -->
        <!-- ko if: showGeneralFeedback() -->
        <div class="question-feedback-wrapper general">
            <div class="question-feedback-icon">
                <div class="info-tooltip left-side">
                    <span data-bind="localize: { text: 'generalFeedback' }">General feedback</span>
                </div>
            </div>
            <div class="question-feedback" data-bind="with: generalFeedback, css: { active: generalFeedback.hasFocus, empty: generalFeedback.isEmpty }">
                <div class="question-feedback-text-wrapper selectable" data-bind="ckeditor: { data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, blur: updateText, autosaveInterval: $root.autosaveInterval, localizationManager: $root.localizationManager }">
                </div>
                <!-- ko if: isEmpty() && !hasFocus() -->
                <div class="question-feedback-info-wrapper">
                    <span class="question-feedback-info" data-bind="localize: { text: 'putYourFeedback' }">Put your feedback</span>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: showGeneralFeedback() -->
        <div class="question-feedback-wrapper correct">
            <div class="question-feedback-icon">
                <div class="info-tooltip left-side">
                    <span data-bind="localize: { text: 'correctFeedback' }">Correct feedback</span>
                </div>
            </div>
            <div class="question-feedback" data-bind="with: correctFeedback, css: { active: correctFeedback.hasFocus, empty: correctFeedback.isEmpty }">
                <div class="question-feedback-text-wrapper selectable" data-bind="ckeditor: { data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, blur: updateText, autosaveInterval: $root.autosaveInterval, localizationManager: $root.localizationManager }">
                </div>
                <!-- ko if: isEmpty() && !hasFocus() -->
                <div class="question-feedback-info-wrapper">
                    <span class="question-feedback-info" data-bind="localize: { text: 'putYourPositiveFeedback' }">Put your positive feedback</span>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="question-feedback-wrapper incorrect">
            <div class="question-feedback-icon">
                <div class="info-tooltip left-side">
                    <span data-bind="localize: { text: 'incorrectFeedback' }">Incorrect feedback</span>
                </div>
            </div>
            <div class="question-feedback" data-bind="with: incorrectFeedback, css: { active: incorrectFeedback.hasFocus, empty: incorrectFeedback.isEmpty }">
                <div class="question-feedback-text-wrapper selectable" data-bind="ckeditor: { data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, blur: updateText, autosaveInterval: $root.autosaveInterval, localizationManager: $root.localizationManager }">
                </div>
                <!-- ko if: isEmpty() && !hasFocus() -->
                <div class="question-feedback-info-wrapper">
                    <span class="question-feedback-info" data-bind="localize: { text: 'putYourNegativeFeedback' }">Put your negative feedback</span>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
