<div class="content-section-wrapper">
    <div class="content-section">
        <!-- ko if: isExpanded -->
        <div class="expand-collapse-panel expanded">
            <span class="expand-collapse-panel-label" data-bind="localize: { text: 'learningContent' }">Learning content</span>
            <div class="tooltip-icon" data-bind="tooltip:'top'">
                <h4 class="tooltip-title" data-bind="localize: { html:'tooltipContentTitle'}"></h4>
                <div class="tooltip-content" data-bind="localize: { html: 'tooltipContentDescription'}">
                </div>
                <div class="tooltip-buttons-holder" data-bind="localize: { html: 'tooltipContentLink'}">
                </div>
            </div>
            <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: 'collapse' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: isExpanded -->
        <div class="expand-collapse-panel collapsed">
            <span class="expand-collapse-panel-label" data-bind="localize: { text: 'learningContent' }">Learning content</span>
            <div class="tooltip-icon" data-bind="tooltip:'top'">
                <h4 class="tooltip-title" data-bind="localize: { html:'tooltipContentTitle'}"></h4>
                <div class="tooltip-content" data-bind="localize: { html: 'tooltipContentDescription'}">
                </div>
                <div class="tooltip-buttons-holder" data-bind="localize: { html: 'tooltipContentLink'}">
                </div>
            </div>
            <div class="expand-collapse-panel-btn" title="Expand" data-bind="click: toggleExpand, localize: { title: 'expand' }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: isExpanded -->
        <ul class="unstyled question-content-items-list" data-bind="sortableExtended: { data: learningContents, afterMove: updateOrder, isEnabled: isSortingEnabled, maxHeight: 150, options: { handle: '.question-learning-content-drag-wrapper', start: startReordering, stop: stopReordering, distance:5, visible: isExpanded }}">

            <li class="question-learning-content-list-item draggable">
                <div class="question-learning-content-list-item-body-wrapper">
                    <div class="question-learning-content-list-item-body">
                        <div class="question-learning-content-drag-wrapper" data-bind="css:{ enabled: $parent.isSortingEnabled }, localize: { title: 'changeOrderTooltip' }"></div>
                        <div class="question-learning-content-body-wrapper" data-bind="css: { active: hasFocus }">
                            <div class="question-learning-content-body">
                                <div class="question-learning-content-wrapper">
                                    <div class="question-learning-content selectable" data-bind="ckeditor: { data: text, eventTracker: $parent.eventTracker, isEditing: hasFocus, save: $parent.updateText, focus: $parent.beginEditText, blur: function (data, event) { $parent.updateText(data, event), $parent.endEditText(data, event); }, autosaveInterval: $parent.autosaveInterval, localizationManager: $parent.localizationManager }">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="question-learning-content-delete-wrapper">
                            <span class="question-learning-content-delete-icon  info-tooltip-holder" data-bind="click: $parent.removeLearningContent">
                                <span class="info-tooltip right-side">
                                    <span data-bind="localize: { text: 'delete' }">
                                        Delete
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="add-button">
            <!-- ko ifnot: isAddedButtonsShown -->
            <div class="add-button-text-wrapper" data-bind="click: toggleIsAddedButtonsShown">
                <span class="add-button-text selectable" data-bind="localize: { text: 'clickToAddLearningContent' }"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: isAddedButtonsShown -->
            <div class="add-button-text-wrapper" data-bind="click: toggleIsAddedButtonsShown">
                <span class="add-button-text selectable" data-bind="localize: { text: 'clickToAddLearningContent' }"></span>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
