<div class="question container">
    <div class="navbar">
        <a href="#" data-bind="click: goToRelatedObjective" class="inline nav-control">
            <div class="nav-btn back-btn inline"></div>
            <div class="nav-title inline">
                <span data-bind="localize: { text: 'backTo' }"></span>
                <span data-bind="text: ' \'' + objectiveTitle + '\''"></span>
            </div>
        </a>
    </div>
    <div class="question-header clearfix">
        <!-- ko if: hasPrevious -->
        <a href="#" class="nav-element left" title="Previous" data-bind="click: goToPreviousQuestion, localize: { title: 'previous' }">
            <div class="question-nav-btn prev-btn inline"></div>
        </a>
        <!-- /ko -->
        <!-- ko ifnot: hasPrevious -->
        <div class="nav-element disabled left" title="Previous" data-bind="localize: { title: 'previous' }">
            <div class="question-nav-btn prev-btn inline"></div>
        </div>
        <!-- /ko -->
        <div class="white-framing left">
            <img class="question-image" src="/Content/images/question.jpg" alt="" />
        </div>
        <div class="left question-header-title">
            <h2 class="left page-header-title" data-bind="text: title"></h2>
        </div>
        <!-- ko if: hasNext -->
        <a href="#" class="nav-element right" title="Next" data-bind="click: goToNextQuestion, localize: { title: 'next' }">
            <div class="question-nav-btn forw-btn inline"></div>
        </a>
        <!-- /ko -->
        <!-- ko ifnot: hasNext -->
        <div class="nav-element disabled right" title="Next" data-bind="localize: { title: 'next' }">
            <div class="question-nav-btn forw-btn inline"></div>
        </div>
        <!-- /ko -->
    </div>
    <div class="question-content clearfix">
        <div class="question-content-block">
            <div class="question-content-block-header-wrapper">
                <div class="question-content-block-header" data-bind="css: {'shadow-bottom-curve': isAnswersBlockExpanded()}">
                    <div class="question-content-block-header-icon answer-option-icon"></div>
                    <div class="question-content-block-header-title" data-bind="localize: { text: 'answerOptions' }">Answer options</div>
                    <div class="question-content-block-size-element-wrapper right">
                        <a href="#" class="nav-element" data-bind="click: toggleAnswers">
                            <!-- ko if: isAnswersBlockExpanded -->
                            <span class="collapse-btn inline question-content-block-size-btn"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: isAnswersBlockExpanded -->
                            <span class="expand-btn inline question-content-block-size-btn"></span>
                            <!-- /ko -->
                        </a>
                    </div>
                </div>
            </div>
            <!-- ko if:isAnswersBlockExpanded -->
            <div class="question-content-items-list">
                <!-- ko if: answerOptions().length -->
                <ul class="unstyled" data-bind="foreach: answerOptions">
                    <li class="clearfix">
                        <div class="question-content-list-item">
                            <div class="question-answer-value" data-bind="click: $parent.toggleAnswerCorrectness">
                                <!-- ko if: isCorrect -->
                                <div class="answer-correct-icon"></div>
                                <!-- /ko -->
                            </div>
                            <div class="question-answer-text">
                                <div contentEditable="true" data-bind="html: text, event: { blur: $parent.saveAnswerOption }, hasFocus: true"></div>
                            </div>
                            <a data-bind="click: $parent.deleteAnswerOption">X</a>
                        </div>
                    </li>
                </ul>
                <!-- /ko -->
                <!-- ko ifnot: answerOptions().length -->
                <span data-bind="localize: { text: 'emptyAnswerOptions' }">The answer options list is empty</span>
                <!-- /ko -->
                <div class="question-answer-text add-answer" data-bind="click: addAnswerOption">
                    <span data-bind="localize: { text: 'addAnswerOption' }"></span>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div>
            <div class="question-content-block">
                <div class="question-content-block-header-wrapper">
                    <div class="question-content-block-header" data-bind="css: {'shadow-bottom-curve': isExplanationsBlockExpanded()}">
                        <div class="question-content-block-header-icon explanation-icon"></div>
                        <div class="question-content-block-header-title" data-bind="localize: { text: 'explanations' }">Explanations</div>
                        <div class="question-content-block-size-element-wrapper right">
                            <a href="#" class="nav-element" data-bind="click: toggleExplanations">
                                <!-- ko if: isExplanationsBlockExpanded -->
                                <span class="collapse-btn inline question-content-block-size-btn"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: isExplanationsBlockExpanded -->
                                <span class="expand-btn inline question-content-block-size-btn"></span>
                                <!-- /ko -->
                            </a>
                        </div>
                    </div>
                </div>
                <!-- ko if: isExplanationsBlockExpanded -->
                <div class="question-content-items-list">
                    <!-- ko if: explanations.length -->
                    <ul class="unstyled" data-bind="foreach: explanations">
                        <li>
                            <div class="question-content-list-item">
                                <div class="question-explanations-item" data-bind="html: $data"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- /ko -->
                    <!-- ko ifnot: explanations.length -->
                    <span data-bind="localize: {text: 'emptyExplanations'}">The explanations list is empty</span>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
