<div data-bind="dropDown: {}">
    <div class="header-submenu-holder">
        <span class="header-submenu-expand-icon"></span>
    </div>
    <div class="header-username">
        <div class="header-username-avatar-holder">
            <div class="user-avatar" data-bind="text: avatarLetter">
            </div>
        </div>
        <span data-bind="text: username"></span>
    </div>
    <ul class="dropdown-list header-submenu-list">
        <li class="header-submenu-item buy-btn">
            <a class="header-submenu-link" href="" data-bind="click: openUpgradePlanUrl, localize: { text: hasStarterAccess() ? 'renewMyPlan' : 'upgradeNow' }">Upgrade account</a>
        </li>
        <li class="header-submenu-item sign-out">
            <a class="header-submenu-link" href="/signout" data-bind="localize: { text: 'signOutButton' }">Sign out</a>
        </li>
    </ul>
</div>