<fieldset>
    <legend>New Publication</legend>
    <form class="form-horizontal">
        <div class="control-group" data-bind="css: { error: !title.isValid() && title.isModified() }">
            <label class="control-label" for="publicationTitle">Title</label>
            <div class="controls">
                <input type="text" id="publicationTitle" placeholder="Publication title..." data-bind="value: title, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="control-group">
            <ul class="unstyled" style="margin: 5px;">
                <!-- ko foreach: objectives -->
                <li style="width: 280px; height: 170px; position: relative; float: left;" data-bind="click: select">
                    <div style="border: 1px dotted #EEEEEE; margin: 5px; padding: 20px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-size: 100% 100%;" data-bind="style: { backgroundImage: 'url(' + image + ')' }">
                        <span data-bind="text: title" class="alert alert-info" style="display: inline-block"></span>
                        <!-- ko if: isSelected -->
                        <span class="alert alert-info pull-right">Mark</span>
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-bind="click: create">Create</button>
            <button type="button" class="btn" data-bind="click: cancel">Cancel</button>
        </div>
    </form>

</fieldset>
