<fieldset>
    <legend>New Publication</legend>
    <form class="form-horizontal">
        <div class="control-group" data-bind="css: { error: !title.isValid() && title.isModified() }">
            <label class="control-label" for="publicationTitle">Title</label>
            <div class="controls">
                <input type="text" id="publicationTitle" placeholder="Publication title..." data-bind="value: title, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="control-group">
            <ul class="unstyled objectives-list">
                <!-- ko foreach: objectives -->
                <li class="objective-brief" data-bind="click: select">
                    <div class="objective-brief-content" data-bind="style: { backgroundImage: 'url(' + image + ')' }">
                        <span data-bind="text: title" class="alert alert-info inline"></span>
                        <!-- ko if: isSelected -->
                        <span class="alert alert-info pull-right">Mark</span>
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->
            </ul>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-bind="click: create">Create</button>
            <button type="button" class="btn" data-bind="click: cancel">Cancel</button>
        </div>
    </form>
</fieldset>
