<div>
    <a href="/#/publication/create" class="btn btn-success"><i class="icon-book">&nbsp;</i>Create Publication</a>
    <div class="pull-right">
        <input type="text" class="input-xxlarge" data-bind="value: filter, valueUpdate: 'afterkeydown'" placeholder="SEARCH" />
    </div>
    <div class="clearfix">
    </div>
    <ul class="unstyled publications-list">
        <!-- ko foreach: publications -->
        <li class="publication-brief">
            <div class="publication-brief-content" style="background-image: url('Styles/images/publication.jpg');">
                <br/>
                <br/>
                <br/>
                <span class="alert alert-info inline" data-bind="text: title + ' [' + objectives.length + ']'"></span>
            </div>
        </li>
        <!-- /ko -->
    </ul>
    <div class="clearfix"></div>
    <!-- ko if: totalCount() > displayCount() -->
    <div class="show-control">
        <br />
        <strong data-bind="text: displayCount"></strong>&nbsp;of&nbsp;<strong data-bind="text: totalCount"></strong>
        <br />
        <a href="#" class="btn" data-bind="click: showMore">Show more</a>
    </div>
    <!-- /ko -->
</div>
