<div class="left-side-bar course-selector" data-bind="expander: { isExpanded: isExpanded, minSize: 0, maxSize: 300 }, css: { expanded: isExpanded }">
    <div class="course-selector-content">
        <!--  ko compose: { model: filter, view: 'views/learningPaths/courseSelector/courseFilter.html' }  -->
        <!-- /ko -->
        <ul class="course-selector-courses">
            <!-- ko foreach: filteredCourses -->
            <li class="course-selector-course" data-bind="click: toggleSelection, css: { selected: isSelected }">
                <div class="course-selector-course-title" data-bind="text: title"></div>
                <div class="course-selector-checkbox-wrapper" data-bind="css: { checked: isSelected }">
                    <div class="course-selector-checkbox">
                    </div>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>