<section data-bind="with: dragAndDropText">
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="expand-collapse-panel" data-bind="css: isExpanded() ? 'expanded' : 'collapsed' ">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'dragAndDropTextDesigner' }">Drag'n'drop designer</span>
                <div class="tooltip-icon" data-bind="tooltip:'top'">
                    <h4 class="tooltip-title" data-bind="localize: { html: 'tooltipDragAndDropTitle'}"></h4>
                    <div class="tooltip-content" data-bind="localize: { html: 'tooltipDragAndDropDescription'}">
                    </div>
                    <div class="tooltip-buttons-holder" data-bind="localize: { html: 'tooltipDragAndDropLink'}">
                    </div>
                </div>
                <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: isExpanded() ? 'collapse' : 'expand' }"></div>
            </div>

        </div>
    </div>
    <div class="content-section-wrapper answer-options content-item-holder" data-bind="expandBlock: { expanded: isExpanded() }">
        <div class="question-answer-options-area">
            <div class="content-section">
                <!-- ko if: background -->
                <div class="drag-and-drop-designer">

                    <div class="drag-and-drop-designer-background-wrapper">
                        <!-- ko if: background.isLoading -->
                        <div class="drag-and-drop-designer-background-loader-wrapper">
                            <div class="drag-and-drop-designer-background-loader">
                                <div class="drag-and-drop-designer-background-loader-spinner">
                                    <div data-bind="preloader: { settings: 'grey align-center' }"></div>
                                </div>
                                <div class="drag-and-drop-designer-background-loader-text" data-bind="localize: { text: 'loadingImage' }"></div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="drag-and-drop-designer-background" data-bind="background: background, style: { visibility: background.isLoading() ? 'hidden' : 'visible' }">
                            <!-- ko foreach: dropspots -->
                            <div class="draggable drag-and-drop-designer-draggable" data-bind="draggableText: { text: text, x: position.x, y: position.y, width: size.width, height: size.height, startMove: position.startMoveDropspot, endMove: function(data, event){ $parent.dropspotEndEdit($data); position.endMoveDropspot(data, event); } }"></div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="upload-background-image info-tooltip-holder" data-bind="click: uploadBackground">
                        <div class="info-tooltip browse-image">
                            <span data-bind="localize: { text: 'changeBackgroundImage' }">Browse image</span>
                        </div>
                    </div>

                    <div class="drag-and-drop-text-title" data-bind="localize: { text: 'dragAndDropText' }">Drag&amp;drop text</div>


                    <ul class="unstyled">
                        <!-- ko foreach: dropspots -->
                        <li class="dropspot-text">
                            <div>
                                <div class="editarea-editable-text selectable" data-bind="editableText: { text: text, multiline: false }, hasFocus: text.hasFocus, event: { focus: text.beginEditText, blur: function(data, event){ $parent.dropspotEndEdit($data); text.endEditText(data, event); } }">
                                </div>
                            </div>
                            <div class="dropspot-text-delete-wrapper">
                                <div class="dropspot-text-delete info-tooltip-holder" data-bind="click: $parent.removeDropspot">
                                    <div class="info-tooltip question-answer right-side">
                                        <span data-bind="localize: { text: 'delete' }">
                                            Delete
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /ko -->
                        <!-- ko if: dropspotToAdd.isVisible -->
                        <li class="dropspot-text">
                            <div>
                                <div class="editarea-editable-text selectable" data-bind="editableText: { text: dropspotToAdd, multiline: false }, event: { blur: addDropspot }, hasFocus: dropspotToAdd.hasFocus, scrollOnFocus: true">
                                </div>
                            </div>
                            <div class="dropspot-text-delete-wrapper">
                                <span class="dropspot-text-delete disabled"></span>
                            </div>
                        </li>
                        <!--/ko -->
                    </ul>

                    <button class="btn action-item-btn green" data-bind="click: dropspotToAdd.show, enable: !dropspotToAdd.isVisible() || dropspotToAdd.isValid(), css: { disabled: dropspotToAdd.isVisible() && !dropspotToAdd.isValid() }">+ <span data-bind="localize: { text: 'addDropspotText' }">Add dropspot text</span></button>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: background -->
                <div class="drag-and-drop-designer-empty">
                    <div class="drag-and-drop-designer-empty-title" data-bind="localize: { text: 'dragAndDropText' }">Drag&amp;drop text</div>
                    <div class="drag-and-drop-designer-empty-description" data-bind="localize: { text: 'dragAndDropTextEmptyBackgroundDescription' }">your background image here or</div>
                    <div class="browse-image-btn-wrapper">
                        <button class="hotspot-browse-image-btn btn green" data-bind="click: uploadBackground, localize: { html: 'browse' }"></button>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</section>