<div class="content-section-wrapper" data-bind="hotspoteditorcontainer: {}">
    <div class="content-section">
        <div class="expand-collapse-panel" data-bind="css: isExpanded() ? 'expanded' : 'collapsed' ">
            <span class="expand-collapse-panel-label" data-bind="localize: { text: 'learningContent' }"></span>
            <div class="tooltip-icon" data-bind="tooltip:'top'">
                <h4 class="tooltip-title" data-bind="localize: { html: 'tooltipContentTitle' }"></h4>
                <div class="tooltip-content" data-bind="localize: { html: 'tooltipContentDescription' }">
                </div>
                <div class="tooltip-buttons-holder" data-bind="localize: { html: 'tooltipContentLink' }">
                </div>
            </div>
            <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand, localize: { title: isExpanded() ? 'collapse' : 'expand' }"></div>
        </div>
        <section class="content-item-holder" data-bind="expandBlock: { expanded: isExpanded() }">
            <!-- ko compose: { view: 'contentEditor/views/learningContent', model: 'contentEditor/editor', activationData: { adapter: 'contentEditor/adapters/QuestionContentAdapter', adapterActivationData: questionId } } --><!-- /ko -->
        </section>
    </div>
    <div data-bind="widget: { kind: 'hotspotOnImageTextEditor' }"></div>
</div>
