@using System.Web.Mvc.Html
@using AccountRes
@model dynamic

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Restore password</title>
</head>
<body>
    In order to restore your password follow the link: <a href="@Model.Url">@Model.Url</a>
</body>
s
</html>
