@model easygenerator.DomainModel.Events.UserEvents.NewEditorUserFeedbackEvent

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Feedback from user (easygenerator web)</title>
</head>
<body>
    <div>
        <label>Rate: @Model.Rate</label>
        <br />
        @if (String.IsNullOrEmpty(Model.Message))
        {
            <label>Message: -</label>
        }
        else
        {
            <label>Message: @Model.Message</label>
        }
    </div>
</body>
</html>