<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Problem with Mailchimp Auto Subscribe</title>
  </head>
    <body>
        <span>Something went wrong while trying to auto subscribe the new user (@Model.Email) to MailChimp. Please do it manually.</span>
    </body>
</html>