<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Failed to @Model.Verb user in publication server</title>
</head>
<body>
    <span>Something went wrong while trying to @Model.Verb user in publication server. Please, do it manually. User info:</span>
    <br />
    <span>Email: @Model.Email</span>
    <br />
    <span>Access type: @Model.AccessType</span>
    <br />
    <span>For more information, check the logs.</span>
</body>
</html>
