@using easygenerator.Web.Components
@model easygenerator.DomainModel.Events.UserEvents.UserSignedUpEvent

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>New user was registered!</title>
</head>
<body>
    <label>First Name: @Model.User.FirstName</label>
    <br />
    <label>Last Name: @Model.User.LastName</label>
    <br />
    <label>Email Address: @Model.User.Email</label>
</body>
</html>