.file_upload_button
{
    position: relative !important;
    vertical-align: top !important;
    overflow: hidden !important; 
    height: 23px !important; 
    padding: 0 18px !important;
    line-height: 23px !important;
    cursor: default !important;
}
.file_upload_button.disabled {
    pointer-events: none !important;
    opacity: 0.6 !important;
}
.file_upload_button input
{
    position: absolute;
    left: 0; 
    top: 0; 	
    width: 100%; 
    height: 100%;
    cursor: default;
    opacity: 0; 
}
.file_upload_button  iframe
{
    width: 0px; 
    height: 0px; 
    border: none;
}

.file_upload_preloader {
    display: inline-block;

    background: url('loader.gif') no-repeat !important;
    width: 15px !important;
    height: 15px !important;

    margin: 5px !important;
    vertical-align: top !important;
}

.file_upload_status {
    background: url('failed.png') no-repeat;
    padding-left: 20px;
    margin-top: 10px;
    margin-right: -5px;
    color: #8D8D8D;
    white-space: normal;
}

/*hack for IE 9*/
.ie9 .file_upload_button {
    height: 22px !important; 
}

/*hack for IE 10*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .file_upload_button {
        height: 22px !important; 
    }
}