<section id="xapiNotSupported" class="xapiNotSupported unselectable">

    <link rel="stylesheet" href="App/xApi/css/xapiNotSupported.css" />

    <div class="container" data-bind="focusHandler: {}">
        <div class="content-holder">
            <header class="content-header">
                <div class="content-header-inner">
                    <h3 class="content-title xapi-title">
                        <span class="selectable">Progress tracking cannot be established</span>
                    </h3>
                </div>
            </header>
            <div class="xapi-form-holder">
                <div class="xapi-form-info-message">
                    <span class="xapi-form-info-text">
                        Sorry, this course does not support progress tracking in Internet Explorer 9. Please use one of the following browser: <strong>Chrome</strong>, <strong>Firefox</strong>, <strong>Safari</strong>, <strong>IE10+</strong> in order to track your progress, or just start the course without tracking.
                    </span>
                </div>
                <div class="message-btn-holder clearfix">
                    <a class="link default pull-left" data-bind="click: skip">Do not report, just start</a>
                </div>
            </div>
        </div>
    </div>

</section>
