@import "common";

.eg-content-editor {
    .column {
        /* two columns */
        &:nth-child(1):nth-last-child(2),
        &:nth-child(2):nth-last-child(1) {
            width: 100% !important;
            padding: 0;
        }

        &:nth-child(1):nth-last-child(2) {
            margin-bottom: 30px;
        }
    }
}