@import "common";

.eg-content-editor {
    .column {
        /* two columns */
        &:nth-child(1):nth-last-child(2),
        &:nth-child(2):nth-last-child(1) {
            width: 100% !important;
            padding: 0;
        }

        &:nth-child(1):nth-last-child(2) {
            margin-bottom: 30px;
        }
    }
}

.touch {
    .main-header {
        .button-container {
            display: none;
        }
    }
}

.scenario-question-container {
    overflow-x: auto;
}


.submit-wrapper {
    .button {
        min-width: 100%;
    }
}

.tl-wrapper {
    width: 170px;
}

.summary {
    .summary-header {
        .summary-header-content {
            .progress-control-container {
                .progress-control {
                    margin-left: -160px;
                }
            }
        }
    }
}