.question {
    .single-select-text , .statements {
        margin-left: 0;

        .answer-pair {
            display: block;
        }

        .answer-container {
            display: block;
            width: 100%;

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }
        }
    }
}
