@import "common";

html, body {
    -webkit-text-size-adjust: 100%; //IOS Safari Fix
}

.styled-content {

    figure.image-wrapper {
        float: none !important;
        margin: 30px 0 30px !important;
    }

    .hotspotOnImage figure.image-wrapper {
        margin: 0 !important;
    }

    cite {
        margin: 15px 50px;
    }
}

.question {
    .single-select-text, .multiple-select-text, .statements {
        padding-left: 0;

        .answer-pair {
            display: block;
        }

        .answer-container {
            display: block;
            width: 100%;

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }
        }
    }

    .single-select-image-list {
        padding-left: 0;

        .single-select-image-list-item {
            margin: 0;
        }
    }

    .statements {
        .statements-list {
            padding-left: 0;
        }
    }

    .text-matching-table-wrapper {
        padding-left: 0;
    }

    .open-question {
        padding-left: 0;
    }

    .draggables {
        padding-left: 0;
    }

    .dropspot-container {
        margin-left: 0;
    }

    .template-content {
        padding-left: 0;
    }

    .hint-container {
        margin: 0;

        .question-hint-container {
            padding-left: 0;

            .question-hint {
                border-radius: 0;

                .hint-button-container {
                    padding: 0 40px;

                    .hint-button {
                        .hint-button-caption {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.submit-wrapper {
    margin: 0 40px;
    padding-left: 0;

    .button {
        max-width: 100%;
    }
}

.app-header {
    padding-left: 25px;
    padding-right: 25px;
}

.introduction-container {
    .introduction-wrapper {
        .controls {
            .buttons-container {
                .button {
                    max-width: 100%;
                }
            }

            .scroll-hint-container {
                .text {
                    max-width: 100%;
                }
            }
        }
    }
}

.summary {
    .summary-header {
        .summary-header-content {
            .summary-buttons {
                .flex-direction(column);

                .summary-button-container {
                    .summary-retry-notification-container {
                        max-width: 100%;
                        margin-top: 7px;

                        .summary-retry-notification {
                            max-width: 100%;
                        }
                    }

                    .summary-button {
                        width: 100%;
                        max-width: 100%;
                    }

                    + .summary-button-container {
                        margin: 50px 0 0;
                    }
                }
            }
        }
    }
}
