.touch {

    .background {
        z-index: -1;
    }

    .main-container {

        .introduction-container {
            position: relative !important;
            height: auto !important;

            .introduction-wrapper {
                display: block;
            }

            .header {
                display: none;
            }

            .content-container {
                display: block;

                .content-wrapper {
                    display: inline-block;
                    width: 100%;
                }

                &:before,
                &:after {
                    display: none;
                }
            }

            .controls {
                display: none;
            }
        }
    }

    .without-intro {
        .button-container {
            display: none !important;
        }
    }

    .main-header {
        visibility: visible;
        box-shadow: 0 0 30px -10px #323232;

        .button-container {
            display: inline-block;
        }

        &.hide-buttons {
            .button-container {
                display: none;
            }
        }
    }
}
