@import "common";

@default-font: 'RobotoslabLight';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section, summary, mark, audio, video, img {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
}


body {
    font-family: @default-font;
}

button {
    outline: 0;

    &::-moz-focus-inner {
        border: 0;
    }
}

.app-header {
    width: 100%;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
    .border-box;

    .app-header-content {
        display: table;
        width: 100%;
        height: 100%;
    }

    .logo-wrapper {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        z-index: 1;
    }

    .main-logo {
        display: inline-block;
        max-height: 50px;
        max-width: 300px;
        vertical-align: middle;
    }

    .timer {
        display: table-cell;
        width: 150px;
        vertical-align: middle;
        z-index: 1;
    }
}

.vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.main-background {
    position: fixed;
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    opacity: 0.2;

    .touch & {
        z-index: -1;
    }
}

@import "dragAndDropText";
@import "fillInTheBlanks";
@import "hotspot";
@import "textMatching";
@import "singleSelectImage";
@import "singleSelectText";
@import "statement";
@import "openQuestion";
@import "scenario";
@import "rankingText";
@import "hint";

@import "imagePreview";
@import "tooltip";
@import "preloader";
@import "summary";
@import "content";
@import "introduction";
@import "questions";
@import "timer";

@import "login";
@import "errors";

.tl-wrapper {
    font: 16px @default-font;
    color: #fff;
}

@keyframes bounce {
    0%,100% {
        -moz-transform: translate(0, -7px);
        transform: translate(0, -7px);
    }

    50% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes bounce {
    0%,100% {
        -webkit-transform: translate(0, -7px);
        transform: translate(0, -7px);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@media (max-width:800px) {
    @import "800";
}

@media (max-width:640px) {
    @import "640";
}