.timer {
    display: inline-block;
    text-align: right;
    font: 36px 'TwCenMTCondensed';
    color: #3a4046;

    .time-part {
        display: inline-block;
        width: 36px;
        height: 45px;
        line-height: 45px;
        border-radius: 4px;
        background: -moz-linear-gradient(top, #a2b7c3 50%, #91a4af 50%, #91a4af 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#a2b7c3), color-stop(50%,#91a4af), color-stop(50%,#91a4af));
        background: -webkit-linear-gradient(top, #a2b7c3 50%,#91a4af 50%,#91a4af 50%);
        background: -ms-linear-gradient(top, #a2b7c3 50%,#91a4af 50%,#91a4af 50%);
        background: linear-gradient(to bottom, #a2b7c3 50%,#91a4af 50%,#91a4af 50%);
        text-align: center;
        vertical-align: middle;
    }
}
