<!DOCTYPE html>
<html>
<head>
    <title>Jasmine Spec Runner For Quiz Template</title>

    <link rel="stylesheet" type="text/css" href="../css/jasmine.css">

    <!-- Testing tool scripts -->
    <script type="text/javascript" src="../js/jasmine/jasmine-1.3.1.js"></script>
    <script type="text/javascript" src="../js/jasmine/jasmine-1.3.1-html.js"></script>
    <script type="text/javascript" src="../js/jasmine/jasmine-1.3.1-console.js"></script>
    <script type="text/javascript" src="../js/jasmine/jasmine-matchers.js"></script>

    <!-- Libraries -->
    <script type="text/javascript" src="../js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../js/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="../js/q.js"></script>
    <script type="text/javascript" src="../js/underscore-1.5.1.js"></script>
    <script type="text/javascript" src="../js/underscore.extensions.js"></script>

    <!-- Source scripts -->
    <script type="text/javascript" src="../js/require.js"></script>

    <script type="text/javascript">

        (function () {
            require.config({
                paths: {
                    'text': '../js/text',
                    'durandal': '../js/durandal',
                    'plugins': '../js/durandal/plugins',
                    'transitions': '../js/durandal/transitions'
                },
                urlArgs: 'v=' + Math.random()
            });

            require(['plugins/router'], function (router) {
                router.replace = function () { };
                router.updateDocumentTitle = function (instance, instruction) { };
            });

            define('jquery', function () { return jQuery; });
            define('knockout', function () { return ko; });

            var specs = [
                /*'viewmodels/notsupportedbrowser.spec',
                'viewmodels/notsupportedbrowserMobile.spec',
                'viewmodels/404.spec',*/
                'eventManager.spec',
                'modulesInitializer.spec',
                'moduleLoader.spec',
                'windowOperations.spec',
                'xApi/viewModels/login.spec',
                'xApi/viewmodels/xAPIError.spec',
                'xApi/base64.spec',
                'xApi/guard.spec',
                'xApi/activityProvider.spec',
                'xApi/routingManager.spec',
                'xApi/xApiInitializer.spec',
                'xApi/requestManager.spec',
                'xApi/errorsHandler.spec',
                'xApi/utils/dateTimeConverter.spec',
                'viewmodels/question.spec',
                'viewmodels/introduction.spec',
                'viewmodels/objectives.spec',
                'viewmodels/shell.spec',
                'modules/questionsNavigation.spec',
                'modules/graphicalCustomization.spec',
                'models/course.spec',
                'models/objective.spec',
                'models/question.spec',
                'eventDataBuilders/questionEventDataBuilder.spec',
                'eventDataBuilders/courseEventDataBuilder.spec',
                'repositories/questionRepository.spec',
                'repositories/objectiveRepository.spec',
                'repositories/courseRepository.spec'
            ];

            require(specs, function () {
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 1000;

                var htmlReporter = new jasmine.HtmlReporter();
                var consoleReporter = new jasmine.ConsoleReporter();

                jasmineEnv.addReporter(htmlReporter);
                jasmineEnv.addReporter(consoleReporter);

                jasmineEnv.specFilter = function (spec) {
                    return htmlReporter.specFilter(spec);
                };

                jasmine.DEFAULT_TIMEOUT_INTERVAL = 100;

                jasmineEnv.execute();
            });
        })();
    </script>
</head>
<body>
</body>
</html>
