<div class="error-page-container">
    <header class="main-logo-wrapper">
        <img class="main-logo" ng-src="{{xApiError.logoUrl}}">
        <span class="vertical-align-helper"></span>
    </header>
    <div class="error-container" ng-init="scrollToTop()" error-page>
        <div class="error-content-container xapi-error">
            <div class="error-title-container">
                Something is wrong
            </div>
            <div class="error-message-container">
                If you continue without restarting, your learning results will not be reported. Please try to restart course or contact your teacher if the problem persists.
            </div>
            <div class="error-button-container">
                <button ng-click="xApiError.continue()" class="button large emphasize default">Continue anyway</button>
                <button ng-click="xApiError.restartCourse()" class="button large emphasize primary">Restart course</button>
            </div>
        </div>
        <div class="error-footer-container">
            <div class="error-footer"></div>
        </div>
    </div>
</div>