html body.no-background .media-processing,
html body.no-background .media-not-found {
    background-color: @main-color;
}

html body .loading {
    background-color: @main-color;
}

html body .video-js .vjs-control-bar {
    background-color: @main-color;
}

html body.background .vjs-using-native-controls.video-js {
    background: @main-color;
}

html body .video-js.vjs-using-native-controls:before {
    background-color: @main-color;
}