<section data-bind="with: dragAndDrop">
    <div class="content-section-wrapper">
        <div class="content-section">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded">
                <span class="expand-collapse-panel-label">Drag'n'drop designer</span>
                <div class="expand-collapse-panel-btn" title="Collapse" data-bind="click: toggleExpand"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed">
                <span class="expand-collapse-panel-label">Drag'n'drop designer</span>
                <div class="expand-collapse-panel-btn" title="Expand" data-bind="click: toggleExpand"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <!-- ko if: isExpanded -->
    <div class="content-section-wrapper answer-options">
        <div class="question-answer-options-area">
            <div class="content-section">
                <!-- ko if: background -->
                <div class="drag-and-drop-designer">

                    <div class="drag-and-drop-designer-background-wrapper">
                        <div data-bind="background: background">
                            <!-- ko foreach: dropspots -->
                            <div class="draggable drag-and-drop-designer-draggable" data-bind="draggableText: { text: text, x: position.x, y: position.y, endMove: position.endMoveDropspot }"></div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="upload-background-image" data-bind="click: uploadBackground">
                        <div class="info-tooltip browse-image">
                            <span>Browse image</span>
                        </div>
                    </div>

                    <div class="drag-and-drop-text-title" style="">Drag'n'drop text</div>


                    <ul class="unstyled">
                        <!-- ko foreach: dropspots -->
                        <li class="dropspot-text">
                            <div>
                                <div class="editarea-editable-text selectable" data-bind="editableText: { text: text, multiline: false }, hasFocus: text.hasFocus, event: { focus: text.beginEditText, blur: text.endEditText }">
                                </div>
                            </div>
                            <div class="dropspot-text-delete-wrapper">
                                <span class="dropspot-text-delete" data-bind="click: $parent.removeDropspot" title="Delete item"></span>
                            </div>
                        </li>
                        <!-- /ko -->
                        <!-- ko if: dropspotToAdd.isVisible -->
                        <li class="dropspot-text">
                            <div>
                                <div class="editarea-editable-text selectable" data-bind="editableText: { text: dropspotToAdd, multiline: false }, event: { blur: addDropspot }, hasFocus: true">
                                </div>
                            </div>
                            <div class="dropspot-text-delete-wrapper">
                                <span class="dropspot-text-delete disabled" data-bind="click: $parent.removeDropspot"></span>
                            </div>
                        </li>
                        <!--/ko -->
                    </ul>

                    <button class="btn action-item-btn green" data-bind="click: dropspotToAdd.show, enable: !dropspotToAdd.isVisible() || dropspotToAdd.isValid(), css: { disabled: dropspotToAdd.isVisible() && !dropspotToAdd.isValid() }">+ Add dropspot text</button>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: background -->
                <div class="drag-and-drop-designer-empty" style="">
                    <div class="drag-and-drop-designer-empty-title">Drag'n'drop </div>
                    <div class="drag-and-drop-designer-empty-description">your background image here or</div>
                    <div class="browse-image-btn-wrapper">
                        <button class="browse-image-btn" data-bind="click: uploadBackground">
                            <span class="browse-image-text">Browse</span>
                        </button>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!-- /ko -->
</section>