<section class="drag-and-drop">
    <div class="content-holder">
        <div class="page-view-caption clearfix">
            <div class="action-item-btn-wrapper pull-right">
                <!-- ko widget: { kind: 'createQuestion', objectiveId: objectiveId} --><!-- /ko -->
            </div>
            <div class="page-view-caption-text" data-bind="localize: { text: 'questionViewCaption' }"></div>
        </div>
    </div>

    <div class="content-holder">
        <header class="view-header">
            <div class="view-header-title" data-bind="with: title">
                <div class="edit-field selectable" data-bind="editableText: { text: title, multiline: false }, event: { focus: startEditQuestionTitle, blur: endEditQuestionTitle }, css: { 'active': title.isEditing(), 'error': !title.isValid() } ,  autofocus: { focus: $parent.isCreatedQuestion, autoselect: $parent.isCreatedQuestion }">
                </div>
                <div class="chars-counter" data-bind="css: { error: !title.isValid() }">
                    <span data-bind="text: title().trim().length"></span>/<span data-bind="text: $parent.questionTitleMaxLength"></span>
                </div>
            </div>
        </header>
    </div>

    <!-- ko compose: { view: 'questions/dragAndDrop/designer.html' }-->
    <!-- /ko -->
    <!-- ko compose: { view: 'questions/dragAndDrop/learningContent.html' }-->
    <!-- /ko -->
    
</section>