<section class="shell-wrapper" data-bind="css: { 'pull-bottom': switchEditorMessageVisible }">

    <!-- ko compose: leftSideBarManager.bar -->
    <!-- /ko -->

    <section class="shell">
        <header>
            <div class="header">
                <div class="pull-left header-logo-holder">
                    <!-- ko if: activeModuleName() == homeModuleName || router.isNavigating() -->
                    <span class="header-logo"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: activeModuleName() == homeModuleName || router.isNavigating() -->
                    <a href="#/" class="header-logo">&nbsp;</a>
                    <!-- /ko -->
                </div>
                <div class="content-section-wrapper">
                    <div class="content-section clearfix">
                        <nav class="header-navigation">
                            <ul class="header-navigation-list clearfix">
                                <!-- ko foreach: router.navigationModel -->
                                <li class="header-navigation-item">
                                    <!-- ko ifnot: isActive -->
                                    <a href="#" class="top-navigation-item" data-bind="click: navigate, attr: { href: hash }">
                                        <span data-bind="text: title"></span>
                                    </a>
                                    <!-- /ko -->
                                    <!-- ko if: isActive -->
                                    <span class="top-navigation-item current" data-bind="click: navigate, scrollToTop: true">
                                        <span data-bind="text: title "></span>
                                    </span>
                                    <!-- /ko -->
                                    <!-- ko if: $data.isInBetaPhase -->
                                    <span class="top-navigation-item-beta-mark">beta</span>
                                    <!-- /ko -->
                                </li>
                                <!-- /ko -->
                            </ul>
                        </nav>
                        <ul class="header-menu-list clearfix">
                            <!-- ko if: showUpgradeNowLink -->
                            <li class="header-menu-list-item ">
                                <a href="" class="header-upgrade-link" data-bind="click: openUpgradePlanUrl, localize: { text: 'upgradeNow' }">Upgrade now</a>
                            </li>
                            <!-- /ko -->
                            <li class="header-menu-list-item dropdown-list-wrapper">
                                <!-- ko compose: 'notifications/notification' -->
                                <!-- /ko -->
                            </li>
                            <li class="header-menu-list-item mode profile">
                                <!-- ko compose: { view: 'views/user/userMenu', model: 'viewmodels/user/userMenu', activationData: { newEditor: newEditor(), switchEditor: switchEditor } } -->
                                <!-- /ko -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="editor-switcher" data-bind="css: { old: newEditor }">
                <!-- ko if: newEditor -->
                <span class="editor-switcher-message" data-bind="localize: { text: 'switchEditorToOldMessage' }">Switch back to the old course editor.</span>
                <a href="" class="switch-editor-btn" data-bind="click: switchEditor, localize: { text: 'switchEditorToOldTitle' }">Switch back</a>
                <!-- /ko -->
                <!-- ko ifnot: newEditor -->
                <span class="editor-switcher-message" data-bind="localize: { text: 'switchEditorToNewMessage' }">We are happy to introduce our NEW course editor - go ahead and try it out!</span>
                <a href="" class="switch-editor-btn" data-bind="click: switchEditor, localize: { text: 'switchEditorToNewTitle' }">Try the new editor now</a>
                <!-- /ko -->
                <a href="" class="close-switch-editor-message" data-bind="click: closeSwitchEditorMessage"></a>
            </div>
        </header>

        <main id="view_content" data-bind="router: {}, style: { opacity: router.isViewReady() ? '1' : '0' }"></main>

        <!-- ko ifnot: router.isViewReady -->
        <div data-bind="preloader: { settings: 'align-center' }"></div>
        <!-- /ko -->
        <!-- ko compose: { model: 'review/reviewPanel' } --><!-- /ko -->

    </section>

    <div data-bind="widget: { kind: 'uiLockViewer' }"></div>
    <div data-bind="widget: { kind: 'imagePreview' }"></div>
    <div data-bind="widget: { kind: 'notifyViewer' }"></div>
    <div data-bind="widget: { kind: 'cursorTooltip' }"></div>
    <div data-bind="widget: { kind: 'hotSpotOnImageTextEditor' }"></div>
    <div data-bind="widget: { kind: 'upgradeDialog' }"></div>
    <div data-bind="widget: { kind: 'dialog' }"></div>
</section>