<div class="main-container">
    <div class="fixed-container toolbar">
        <header class="header" data-bind="css: 'module-' + activeModuleName()">
            <div class="content-holder clearfix">
                <div class="pull-left header-logo-holder">
                    <!-- ko if: activeModuleName() == homeModuleName || router.isNavigating() -->
                    <span class="header-logo"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: activeModuleName() == homeModuleName || router.isNavigating() -->
                    <a href="#/" class="header-logo">&nbsp;</a>
                    <!-- /ko -->
                </div>
                <div class="pull-right ">
                    <ul class="header-menu-list clearfix">
                        <li class="header-menu-list-item sign-up" data-bind="visible: isTryMode">
                            <span data-bind="localize: { text: 'tryWarningMessage' }">In Try It Now mode your content is not safe!</span>
                            <a class="orange btn btn-small" href="/signup" data-bind="localize: { text: 'signUpButton' }">Sign up
                            </a>
                        </li>
                        <li class="header-menu-list-item help" data-bind="localize: { text: 'help' }, click: showHelpHint, css: { disabled: helpHint() != undefined }">Help</li>
                        <!-- ko if: userEmail != '' -->
                        <li class="header-menu-list-item mode profile" data-bind="dropDown: {}">
                            <div class="header-submenu-holder">
                                <span class="header-submenu-expand-icon"></span>
                            </div>
                            <div class="header-username"><span data-bind="text: userEmail"></span></div>
                            <ul class="dropdown-list header-submenu-list">
                                <li class="header-submenu-item sign-out">
                                    <a class="header-submenu-link" href="/signout" data-bind="localize: { text: 'signOutButton' }">Sign out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- /ko -->
                    </ul>
                </div>
            </div>
        </header>
        <nav class="top-navigation">
            <div class="content-holder">
                <!-- ko foreach: navigation -->
                <!-- ko ifnot: isActive -->
                <a href="#" class="top-navigation-item" data-bind="click: navigate, attr: { href: navigationLink }">
                    <span data-bind="localize: { text: title }, css: { 'cursor-default': $parent.router.isNavigating() }"></span>
                </a>
                <!-- /ko -->
                <!-- ko if: isActive -->
                <span class="top-navigation-item" data-bind="click: isEditor() ? navigate : '', css: { current: isPartOfModules, cursor: $parent.router.isNavigating(), 'cursor-pointer': isEditor() }, scrollToTop: true">
                    <span data-bind="localize: { text: title }, css: { 'cursor-default': $parent.router.isNavigating() }"></span>
                </span>
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </nav>
    </div>
    <div class="icon-spinner-wrapper" data-bind="visible: !isViewReady()">
        <img src="/Content/images/loader.gif" alt="" />
    </div>
    <section id="content" class="main" data-bind="style: { visibility: isViewReady() ? 'visible' : 'hidden' }, css: browserCulture() + '-lang'">
        <!-- ko if: helpHint() != undefined -->
        <div class="help-hint">
            <div class="content-holder">
                <div class="help-hint-content selectable">
                    <div class="help-hint-title" data-bind="text: helpHintTitle"></div>
                    <div class="help-hint-text" data-bind="html: helpHintText, fixedBlocksPosition: helpHintText()"></div>
                    <a class="help-hint-close" data-bind="click: hideHelpHint, localize: { text: 'helpCloseButton' }">Don‘t show again</a>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div data-bind="router: { cacheViews: false }"></div>
    </section>
</div>
<section>
    <!-- ko compose: activatorFeedback -->
    <!-- /ko -->
</section>

<footer class="footer try">
    
    <div class="content-wrapper try clearfix">
        <div class="footer-item pull-left">
            <span class="cursor-default" data-bind="localize: { text: 'CopyrightText' }"></span>
        </div>
    </div>
</footer>
