<div class="header clearfix unselectable" data-bind="css: 'module-' + activeModuleName()">
    <div class="brand">
        <!-- ko if: activeModuleName() == homeModuleName || router.isNavigating() -->
        <span class="inline main-logo"></span>
        <!-- /ko -->
        <!-- ko ifnot: activeModuleName() == homeModuleName || router.isNavigating() -->
        <a href="#/" class="inline main-logo">&nbsp;</a>
        <!-- /ko -->
    </div>
    <!-- ko ifnot: showNavigation() -->
    <div class="top-navigation">
        <div class="seperator"></div>
        <!-- ko foreach: navigation -->
        <!-- ko ifnot: isActive -->
        <a class="top-navigation-btn" data-bind="click: navigate">
            <span data-bind="localize: { text: title }"></span>
        </a>
        <!-- /ko -->
        <!-- ko if: isActive -->
        <span class="top-navigation-btn" data-bind="css: { current: !$parent.router.isNavigating(), cursor: $parent.router.isNavigating() }">
            <span data-bind="localize: { text: title }"></span>
        </span>
        <!-- /ko -->
        <div class="seperator"></div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
<div class="icon-spinner-wrapper" data-bind="visible: !isViewReady()">
    <img src="/Content/images/loader.gif" alt="" />
</div>
<section id="content" class="main" data-bind="style: { visibility: isViewReady() ? 'visible' : 'hidden' }, css: browserCulture() + '-lang'">
    <div data-bind="router: { cacheViews: false }"></div>
</section>
