

<section>

    <!-- ko compose: 'navigationBar/navigationBar' -->
    <!-- /ko -->

    <main id="view_content">
        <div data-bind="style: { visibility: isViewReady() ? 'visible' : 'hidden' }">
            <div data-bind="router: { cacheViews: false, transition: 'defaultRouterTransition' }"></div>
            <!-- ko compose: 'viewmodels/panels/sidePanel' -->
            <!-- /ko -->
        </div>
        <footer>
            <span data-bind="localize: { text: 'CopyrightText' }"></span>
        </footer>
    </main>

</section>
