<section class="objectives unselectable">
    <div class="objectives-navigation">
        <span class="learning-objectives-btn current" data-bind="localize: { text: 'learningObjectives' }">Learning objectives</span>
        <a class="experiences-btn" href="#/experiences" data-bind="click: navigateToExperiences, localize: { text: 'experiences' }">Experiences</a>
    </div>

    <div class="objectives-header">
        <div class="objectives-header-title" data-bind="css: { 'alone': !enableSorting() }">
            <a class="objectives-header-create-link" href="/#/404" data-bind="click: navigateToCreation, localize: { title: 'addNewObjective' }"></a>
            <span data-bind="localize: { text: 'learningObjective' }">Learning objective</span>
            <hr />
        </div>
        <div class="objectives-header-sort-label">
            <span data-bind="visible: enableSorting(), localize: { text: 'sortByTitle' }"></span>
        </div>
        <div class="objectives-header-sort-container" data-bind="visible: enableSorting()">
            <div class="objectives-sort-by-title-asc" data-bind="click: sortByTitleAsc, css: { 'active': currentSortingOption() == sortingOptions.byTitleAsc }, localize: { title: 'ascending' }">
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
            </div>
            <div class="objectives-sort-by-title-desc" data-bind="click: sortByTitleDesc, css: { 'active': currentSortingOption() == sortingOptions.byTitleDesc }, localize: { title: 'descending' }">
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
            </div>
        </div>
    </div>
    <div class="objectives-content-wrapper">
        <div class="objectives-content">
            <div class="objectives-list-wrapper">
            </div>
        </div>
    </div>
    <hr>
    <ul>
        <!-- ko foreach:objectives() -->
        <li class="li-test">
            <div class="obj-test">
            </div>
            <div class="options-test"></div>
        </li>
        <!-- /ko -->
    </ul>

    <style>
        .li-test {
            display: inline-block;
            position: relative;
            width: 300px;
            height: 150px;
        }

        .obj-test {
            height: 100%;
            width: 100%;
            border: 1px solid red;
            background-color: #c3c3c3;
        }

        .options-test {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
        }
        .li-test:hover .options-test {
            display: block;
        }
    </style>
</section>
