<section class="objectives unselectable">
    <div class="objectives-navigation">
        <span class="learning-objectives-btn current" data-bind="localize: { text: 'learningObjectives' }">Learning objectives</span>
        <a class="experiences-btn" href="#/experiences" data-bind="localize: { text: 'experiences' }">Experiences</a>
    </div>

    <div class="objectives-header">
        <div class="objectives-header-title" data-bind="css: { 'alone': !enableSorting() }">
            <a class="objectives-header-create-link" href="/#/404" data-bind="localize: { title: 'addNewObjective' }"></a>
            <span data-bind="localize: { text: 'learningObjective' }">Learning objective</span>
            <hr />
        </div>
        <div class="objectives-header-sort-label">
            <span data-bind="visible: enableSorting(), localize: { text: 'sortByTitle' }"></span>
        </div>
        <div class="objectives-header-sort-container" data-bind="visible: enableSorting()">
            <div class="objectives-sort-by-title-asc" data-bind="click: sortByTitleAsc, css: { 'active': currentSortingOption() == sortingOptions.byTitleAsc }, localize: { title: 'ascending' }">
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
            </div>
            <div class="objectives-sort-by-title-desc" data-bind="click: sortByTitleDesc, css: { 'active': currentSortingOption() == sortingOptions.byTitleDesc }, localize: { title: 'descending' }">
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
            </div>
        </div>
    </div>
    <div class="objectives-content-wrapper">
        <div class="objectives-content">
            <div class="objectives-list-wrapper" style="border: 1px solid red;">
                <ul class="unstyled objectives-list clearfix">
                    <!-- ko foreach: objectives -->
                    <li class="objective-brief" data-bind="css: { 'objective-brief-selected': isSelected() }" onclick="javascript: alert('yes');">
                        <div class="white-framing objective-brief-inner">
                            <div>
                                <div class="objective-brief-image" data-bind="style: { backgroundImage: 'url(' + image + ')' }">
                                </div>
                                <div class="objective-brief-toolbar">
                                    <div class="objective-brief-title" data-bind="attr: { title: title }">
                                        <span class="selectable" data-bind="text: title"></span>
                                    </div><!--
                                 --><div class="objective-brief-toolbar-question-count" data-bind="localize: { title: 'numberOfRelatedQuestions' }">
                                        <div class="objective-brief-toolbar-icon-question"></div>
                                        <div class="objective-question-count-text" data-bind="text: questionsCount"></div>
                                    </div>
                                </div>
                                <div class="objective-brief-options">
                                    <div class="objective-brief-options-select" data-bind="click: toggleSelection">
                                        <!-- ko if: isSelected -->
                                        <div data-bind="localize: { text: 'unselect' }">Unselect</div>
                                        <!-- /ko-->
                                        <!-- ko ifnot: isSelected -->
                                        <div data-bind="localize: { text: 'select' }">Select</div>
                                        <!-- /ko-->
                                        <div class="objective-brief-options-select-image" data-bind="css: { selected: isSelected() }">
                                            <input class="custom-checkbox" type="checkbox" />
                                        </div>
                                    </div>
                                    <div class="objective-brief-options-separator"></div>
                                    <div class="objective-brief-options-open" onclick="javascript:alert('goto');">
                                        <div data-bind="localize: { text: 'open' }">Open</div>
                                        <div class="objective-brief-options-open-image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
</section>
