<section class="objectives unselectable">
    <div class="objectives-navigation">
        <span class="learning-objectives-btn current" data-bind="localize: { text: 'learningObjectives' }">Learning objectives</span>
        <a class="experiences-btn" href="#/experiences" data-bind="click: navigateToExperiences, localize: { text: 'experiences' }">Experiences</a>
    </div>

    <div class="objectives-header">
        <div class="objectives-header-title" data-bind="css: { 'alone': !enableSorting() }">
            <a class="objectives-header-create-link" href="/#/404" data-bind="click: navigateToCreation, localize: { title: 'addNewObjective' }"></a>
            <span data-bind="localize: { text: 'learningObjective' }">Learning objective</span>
            <hr />
        </div>
        <div class="objectives-header-sort-label">
            <span data-bind="visible: enableSorting(), localize: { text: 'sortByTitle' }"></span>
        </div>
        <div class="objectives-header-sort-container" data-bind="visible: enableSorting()">
            <div class="objectives-sort-by-title-asc" data-bind="click: sortByTitleAsc, css: { 'active': currentSortingOption() == sortingOptions.byTitleAsc }, localize: { title: 'ascending' }">
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
            </div>
            <div class="objectives-sort-by-title-desc" data-bind="click: sortByTitleDesc, css: { 'active': currentSortingOption() == sortingOptions.byTitleDesc }, localize: { title: 'descending' }">
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
            </div>
        </div>
    </div>
    <hr>
    <ul class="content-list unstyled">
        <li class="content-list-item">
            <div class="hover-indicator"></div>
            <div class="logo-wrapper white-framing">
                <img class="logo" alt="" src="../../../Content/images/multichoice-question.png">
                <div class="item-options">
                    <div class="item-option select">
                        <div class="nowrap"></div>
                        <div class="action-img unchecked inline">
                            <input type="checkbox" class="custom-checkbox">
                        </div>
                        <div class="nowrap"></div>
                        <div class="action-img checked inline">
                            <input class="custom-checkbox" type="checkbox">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="item-option edit">
                        <div class="nowrap"></div>
                        <div class="action-img inline">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-block selectable">
                <p>asdasdsa</p>
            </div>
        </li>
    </ul>
</section>
