<section id="userLocalizationSettingsSection">
    
    <fieldset>
        <legend data-bind="localize: { text: 'userProperties' }"></legend>
        <form class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="selectedLanguage" data-bind="localize: { text: 'language' }"></label>
                <div class="controls">
                    <select id="selectedLanguage" data-bind="options: languages, value: selectedLanguage, optionsText:'title', optionsValue: 'id'"></select>
                </div>
            </div>
            
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" data-bind="click: save, localize: { text: 'save' }"></button>
            </div>
        </form>

    </fieldset>

</section>
