* {
    padding: 0;
    margin: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

html, body, .application-wrapper {
    width: 100%;
    min-width: 710px;
}

/* temporary css-hack for firefox until will be find out better decision*/
html, x:-moz-any-link {
    height: 100%;
}

body, .application-wrapper {
    height: 100%;
}

body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    min-width: 620px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAIAAABPmPnhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NzQzNzc2NUFFNDk0MTFFMkJDQTBBMEQwOEY3MUJCQUMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NzQzNzc2NUJFNDk0MTFFMkJDQTBBMEQwOEY3MUJCQUMiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NDM3NzY1OEU0OTQxMUUyQkNBMEEwRDA4RjcxQkJBQyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3NDM3NzY1OUU0OTQxMUUyQkNBMEEwRDA4RjcxQkJBQyIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Ptq4ThMAAAB4SURBVHjaTI5bDgMhDAMDXSG4/115FZbOxmpVf0QW2JPYOWfOeVy3S761xoxmttYyF3/2VQiBeZEqpbxdKSUSwPjLOWNs7y1a7/0fq11RQK38rZB/2rgxhhjw8erVWjGXGjE+N75cuksvkbPJ0mNSxYhHAuRHgAEAQzadYvf2r5YAAAAASUVORK5CYII=') repeat;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 24px;
    color: #666;
}

.header img {
    vertical-align: middle;
}

a {
    outline: 0;
    text-decoration: none;
}

    a:hover, a:active, a:focus {
        outline: 0;
    }

    a:focus {
        text-decoration: none;
    }

menu, ol, ul {
    margin: 0;
}

    ul.unstyled,
    ol.unstyled  {
        margin-left: 0;
        list-style: none;
    }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.shadow-bottom-curve {
    position: relative;
}

    .shadow-bottom-curve:before,
    .shadow-bottom-curve:after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: -1;
        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        -webkit-border-radius: 250px / 10px;
        -moz-border-radius: 250px / 10px;
        border-radius: 250px / 10px;
    }

.unselectable,
.unselectable * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable,
.selectable * {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.white-framing {
    display: inline-block;
    border: 4px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

    .white-framing img {
        vertical-align: top;
    }

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.loader-image {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
}

.header {
    display: table;
    width: 100%;
    min-height: 40px;
    padding: 5px 0px 5px 20px;
    background-color: #404a4c;
}

    .header.module-home .main-logo {
        cursor: default;
    }

.navigation-menu {
    display: table-row;
    width: 100%;
    position: relative;
}

.navigation-menu,
.navigation-menu-item {
    display: table-row;
    margin: 0;
    padding: 0;
}

.navigation-menu-item {
    display: table-cell;
    vertical-align: middle;
    height: 32px;
}

.navigation-menu-item-link {
    display: table-cell;
    vertical-align: middle;
    padding: 0 27px;
}

    .navigation-menu-item-link:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

.navigation-menu a,
.navigation-menu a:visited,
.navigation-menu a:focus,
.navigation-menu a:active {
    color: #fff;
    font-size: 18px;
    font-family: Tahoma, Arial, sans-serif;
}

.main-logo {
    max-height: 50px;
    max-width: 300px;
}

.content-wrapper {
    max-width: 1182px;
    padding: 0 20px;
    margin: 0 auto;
}

.content-holder {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.content {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    padding: 10px;
}

.question .content {
    border: none;
}

.content.home {
    margin-top: 11px;
}

/*#region caption partial*/

.caption {
    min-height: 68px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 10px;
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    background-color: #F26C4F;
    color: #666;
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
    cursor: default;
}

.question .caption {
    font-size: 14px;
}

.caption-inner {
    display: table;
    table-layout: fixed;
    height: 68px;
    width: 100%;
    padding-left: 16px;
    background-color: #F5F5F5;
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

.caption-icon {
    display: table-cell;
    width: 28px;
    text-align: center;
    vertical-align: middle;
}

.caption-icon-image {
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-image: url(../img/icons-images.png);
    background-repeat: no-repeat;
}

.caption-text {
    display: table-cell;
    vertical-align: middle;
    padding: 9px 18px;
    width: 100%;
    word-wrap: break-word;
    text-transform: uppercase;
}

/*#endregion caption partial*/

/*#region sub navigation partial*/

.navigation-link-container {
    padding: 20px 0;
}

.navigation-link {
    display: inline-block;
    height: 100%;
    line-height: 57px;
    text-transform: uppercase;
    color: #666;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

    .navigation-link.disabled {
        cursor: default;
    }

        .navigation-link.disabled:hover {
            opacity: 0.6;
            filter: alpha(opacity=60);
        }

    .navigation-link:hover {
        opacity: 0.75;
        filter: alpha(opacity=75);
    }

    .navigation-link > span {
        padding: 0 13px;
    }

.navigation-link-left-image,
.navigation-link-right-image {
    display: inline-block;
    width: 57px;
    height: 57px;
    vertical-align: top;
    background-image: url(../img/nav-icons.png);
    background-repeat: no-repeat;
}

    .navigation-link-right-image.loading {
        background-image: url(../img/buildprogress.gif);
        background-position: 0 0 !important;
    }

.question .navigation-link-left-image,
.feedback .navigation-link-left-image,
.summary .navigation-link-left-image,
.learning-contents .navigation-link-left-image {
    background-position: 0 0;
}

/*#endregion sub navigation partial */

/*#region home view*/

.objective-brief-list {
    margin: 0;
    padding: 0;
}

.objective-brief-expand-collapse-wrapper:hover {
    background-color: #e3e3e3;
}


.objective-brief-list-item + .objective-brief-list-item {
    margin-top: 5px;
}

.objective-brief-wrapper {
    position: relative;
    z-index: 1;
}

.objective-brief {
    display: table;
    table-layout: fixed;
    padding: 0;
    width: 100%;
    border: 1px solid #E1E1E1;
    background-color: #F9F9F9;
    color: #666;
    text-align: justify;
    text-transform: uppercase;
    font-size: 14px;
}

    .objective-brief > * {
        display: table-cell;
        vertical-align: middle;
    }

.objective-brief-indicator {
    display: table-cell;
    min-width: 10px;
    width: 10px;
    background-color: #F26C4F;
}

.objective-brief-image-wrapper {
    display: table-cell;
    padding: 5px 10px;
    width: 200px;
}

.objective-brief-image-border {
    position: relative;
    z-index: 10;
    border: 4px solid white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: black;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.objective-brief-image {
    width: 165px;
    height: 85px;
    outline: 1px solid #f8f8f8;
}

.objective-brief-title {
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}

.objective-brief-expand-collapse-wrapper {
    min-width: 45px;
    width: 45px;
    border-left: 1px solid #E1E1E1;
    text-align: center;
}

.btn-expand, .btn-collapse {
    display: inline-block;
    width: 22px;
    height: 13px;
    line-height: 0;
}

.btn-expand {
    background-image: url(../img/expand.png);
}


.btn-collapse {
    background-image: url(../img/collapse.png);
}

.question-brief-list {
    margin: 0;
    padding: 0 0 0 10px;
}

.question-brief {
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}


.question-brief-title {
    display: inline-block;
    padding: 15px 47px 15px 20px;
    width: 100%;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

    .question-brief-title:hover {
        text-decoration: underline;
    }

/*#endregion home view*/

/*#region question view*/

.question .navigation-link-right-image {
    background-position: 0 -57px;
}

.question .caption-icon-image {
    background-position: 0 0;
}

.question-content {
    padding: 10px 40px 20px;
    border-bottom: 1px solid #E0E0E0;
    word-wrap: break-word;
}

.question-answers {
    padding: 10px 20px 20px;
}

.question-answer {
    padding: 10px;
}

    .question-answer + .question-answer {
        margin-top: 10px;
    }

    .question-answer:hover {
        background-color: rgba(247,247,247, 0.75);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    .question-answer > * {
        display: table-cell;
        vertical-align: middle;
    }

.question-answer-text {
    word-break: break-all;
}

.question-answer-checkbox {
    width: 38px;
    height: 36px;
    border: 1px dashed #DADADA;
    display: block;
    margin-right: 15px;
}

    .question-answer-checkbox.checked {
        border: 2px solid #666;
        background: url("../img/checkbox.png") no-repeat scroll center center transparent;
    }

.btn-submit-wrapper {
    margin: 0 30px 20px;
}

.btn-submit {
    background-color: #343a41;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: white;
    border: 1px solid #62676B;
    outline: none;
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
}

    .btn-submit:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

/*#endregion question view */

/*#region feedback view */

.feedback .content {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.feedback .caption-icon-image {
    background-position: 0 -56px;
}

.feedback .caption-text {
    text-transform: uppercase;
}

.question-progress {
    position: relative;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 40px;
}

.question-progress-score {
    position: absolute;
    text-align: center;
    top: 144px;
    font-family: Arial;
    font-size: 24pt;
    width: 100%;
}

.navigation-btn-container {
    max-width: 704px;
    margin: 50px auto 35px;
}

.navigation-btn-left,
.navigation-btn-right {
    min-width: 240px;
    max-width: 280px;
    height: 52px;
    line-height: 20px;
    padding: 15px 10px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.8;
}

    .navigation-btn-left:hover,
    .navigation-btn-right:hover {
        opacity: 1;
    }

.navigation-btn-left {
    background-color: #5698bb;
}

.navigation-btn-right {
    background-color: #343a41;
}

/*#endregion feedback view */

/*#region learning content view*/
.learning-contents {
    padding-bottom: 10px;
}

    .learning-contents .navigation-link-right-image {
        background-position: 0 -114px;
    }

    .learning-contents .caption-icon-image {
        background-position: 0 -28px;
    }

    .learning-contents .caption-text {
        text-transform: uppercase;
    }

.learning-content-items {
    padding: 0 10px;
    margin: 0;
}

    .learning-content-items .learning-content-item {
        padding: 20px 0;
        word-wrap: break-word;
        overflow: hidden;
    }

        .learning-content-items .learning-content-item + .learning-content-item {
            border-top: solid 2px #e0e0e0;
        }

/*#endregion of learning content view*/

/*#region not supported browser view */

html.ie7, .ie7 body, .ie7 .application-wrapper,
html.ie8, .ie8 body, .ie8 .application-wrapper {
    overflow-y: hidden;
    min-width: 600px;
}

.not-supported-browser {
    padding-top: 100px;
    text-align: center;
}

.browser-icons-wrapper {
    display: inline;
    margin: 0 auto;
}

.browser-group {
    display: inline-block;
}

.ie7 .browser-group {
    display: inline;
}

.browser-group {
    white-space: nowrap;
}

/*#endregion not supported browser view */

/*#region not found view*/

.not-found {
    padding: 0 20px;
}

/* #endregion not found view*/

/*#region progress summary view */
.meter-wrapper {
    position: relative;
    display: inline-block;
    width: 351px;
    height: 21px;
}

.meter-border-outer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 355px;
    height: 21px;
    border-radius: 13px;
    border: 4px solid rgb(243,243,243);
}

.meter-border-inset-dark {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border-top: 1px solid rgb(122, 122, 122);
    border-left: 1px solid rgb(122, 122, 122);
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
}

.meter-border-inset-light {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border-top: 1px solid rgb(169, 169, 169);
    border-left: 1px solid rgb(169, 169, 169);
    border-right: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.meter-value {
    position: absolute;
    top: 4px;
    left: 2px;
    height: 13px;
    background: rgb(99,177,216); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYjFkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MzkyYjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(99,177,216,1) 0%, rgba(83,146,179,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,177,216,1)), color-stop(100%,rgba(83,146,179,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(99,177,216,1) 0%,rgba(83,146,179,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b1d8', endColorstr='#5392b3',GradientType=0 ); /* IE6-8 */
}

.meter-background {
    position: absolute;
    top: 4px;
    left: 2px;
    width: 100%;
    height: 13px;
    background-color: rgb(217,217,217);
}

.ie9 .meter-value {
    filter: none;
}


.summary .content {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    padding: 10px;
    font-size: 14px;
    font-family: Arial;
}


.summary .caption {
    text-transform: uppercase;
}

.summary .navigation-link-right-image {
    background-position: 0 -171px;
}

.summary .caption-icon-image {
    background-position: 0 -84px;
}

.summary-objectives {
    padding-left: 18px;
    padding-bottom: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.summary-progress-header {
    margin-left: 18px;
    border-bottom: 1px solid #E1E1E1;
}

.summary-progress-header-title {
    text-align: center;
    font-family: Arial;
    font-size: 36px;
    padding: 66px 0;
    margin-right: 420px;
}

.summary-progress-overall {
    position: relative;
    float: right;
    width: 355px;
    text-align: center;
    margin-right: 25px;
    padding-top: 16px;
}

.summary-progress-overall-score {
    position: absolute;
    font-family: Arial;
    font-size: 20pt;
    color: #666;
    text-align: center;
    width: 100%;
    top: 66px;
}

.summary-objective {
    padding: 0 25px;
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
}

.summary-objective-title {
    padding: 16px 66px 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summary-objective-progress {
    padding: 6px 0;
    width: 355px;
    float: right;
}

@media (max-width: 850px) {
    .summary-progress-overall {
        width: 125px;
    }

    .summary-progress-header-title {
        margin-right: 175px;
    }

    .summary-objective {
        position: relative;
    }

    .summary-objective-title {
        margin-bottom: 47px;
        margin-right: 0;
    }

    .summary-objective-progress {
        position: absolute;
        top: 40px;
        left: 25px;
    }
}

.summary-objective-progress-value {
    text-align: center;
    line-height: 16px;
}

/*#endregion progress summary view*/
