<div class="login content-size" ng-init="scrollToTop()" entire-height>
    <span class="main-background"></span>
    <div class="login-overlay"></div>
    <div class="login-container">
        <div class="login-skip-button" login-leave="skip"></div>
        <div class="login-skip-text-wrapper">
            <span class="login-skip-text-arrow"></span>
            <span class="login-skip-text">{{ '[tracking and tracing skip step]' | translate }}</span>
        </div>
        <div class="login-wrapper">
            <div class="login-content">
                <div class="course-title-container">
                    <span class="questions-count">{{ login.questionsLength }} {{ '[questions]' | translate }}</span>
                    <div class="course-title" course-title>“{{ login.courseTitle }}”</div>
                </div>
                <div class="login-form-container">
                    <div class="login-tooltip-container">
                        <div class="text">{{ '[tracking and tracing hint]' | translate }}</div>
                        <div class="text small">{{ '[tracking and tracing subhint]' | translate }}</div>
                    </div>
                    <div class="login-input-container name">
                        <input type="text" ng-model="login.username" ng-class="{ 'error': !login.usernameIsValid() && login.usernameModified }" ng-blur="login.markUsernameAsModified()" placeholder="{{ '[tracking and tracing name field]' | translate }}" class="login-input" />
                        <span class="login-error-text" ng-style="{ visibility: !login.usernameIsValid() && login.usernameModified ? 'visible' : 'hidden' }">{{ '[tracking and tracing name is not valid]' | translate }}</span>
                    </div>
                    <div class="login-input-container email">
                        <input type="text" ng-model="login.email" ng-class="{ 'error': !login.emailIsValid() && login.emailModified }" ng-blur="login.markEmailAsModified()" placeholder="{{ '[tracking and tracing email field]' | translate }}" class="login-input" />
                        <span class="login-error-text" ng-style="{ visibility: !login.emailIsValid() && login.emailModified ? 'visible' : 'hidden' }">{{ '[tracking and tracing email is not valid]' | translate }}</span>
                    </div>
                    <div class="login-form-submit-container">
                        <button class="button large emphasize primary" login-leave="submit">
                            <span class="wrapper">
                                <span class="text">{{ '[tracking and tracing start]' | translate }}</span>
                                <span>*</span>
                            </span>
                        </button>
                        <div class="login-skip-link" login-leave="skip">{{ '[tracking and tracing do not report]' | translate }}</div>
                        <span class="login-description">
                            * By clicking the button “{{ '[tracking and tracing start]' | translate }}” you agree to the fact that your results and scores will be stored. These results will only be visible to the organizer (author) of your course.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-container hiden">
        <div class="color-ball red">&nbsp;</div>
        <div class="color-ball green">&nbsp;</div>
        <div class="color-ball blue">&nbsp;</div>
        <div class="color-ball yellow">&nbsp;</div>
    </div>
</div>