<div class="error-page-container">
    <header class="main-logo-wrapper">
        <img class="main-logo" ng-src="{{ xApiError.logoUrl }}">
        <span class="vertical-align-helper"></span>
    </header>
    <div class="error-container" ng-init="scrollToTop()" entire-height>
        <div class="error-content-container xapi-error">
            <div class="error-title-container">
                {{ '[tracking and tracing error]' | translate }}
            </div>
            <div class="error-message-container">
                {{ xApiError.allowToContinue ? '[tracking and tracing error hint]' : '[tracking and tracing error hint without continue]' | translate }}
            </div>
            <div class="error-button-container">
                <button ng-if="xApiError.allowToContinue" ng-click="xApiError.continue()" class="button large emphasize default">
                    <span class="text-wrapper">
                        {{ '[tracking and tracing continue anyway]' | translate }}
                    </span>
                </button>
                <button ng-click="xApiError.restartCourse()" class="button large emphasize primary">
                    <span class="text-wrapper">
                        {{ '[tracking and tracing restart course]' | translate }}
                    </span>
                </button>
            </div>
        </div>
        <div class="error-footer-container">
            <div class="error-footer"></div>
        </div>
    </div>
</div>