<section id="homePage" class="home content unselectable">
    <ul class="unstyled objective-brief-list" data-bind="foreach: objectives">
        <li class="objective-brief-list-item">
            <div class="objective-brief-wrapper">
                <a class="objective-brief" data-bind="click: toggleExpand, css: { 'shadow-bottom-curve': isExpanded() }">
                    <div class="objective-brief-indicator"></div>
                    <div class="objective-brief-image-wrapper">
                        <div class="white-framing">
                            <img class="objective-brief-image" src="" alt="" data-bind="attr: { src: image }">
                        </div>
                    </div>
                    <div class="objective-brief-title selectable" data-bind="text: title">
                    </div>
                    <div class="objective-brief-expand-collapse-wrapper">
                        <div data-bind="css: { 'btn-collapse': isExpanded(), 'btn-expand': !isExpanded() }"></div>
                    </div>
                </a>
            </div>
            <!-- ko if: isExpanded() -->
            <ul class="unstyled question-brief-list" data-bind="foreach: questions">
                <li class="question-brief">
                    <a class="question-brief-title selectable" href="#" data-bind="text: title, attr: { href: '#/objective/' + $parent.id + '/question/' + id, title: title }"></a>
                </li>
            </ul>
            <!-- /ko -->
        </li>
    </ul>
</section>
