<section id="objectivesPage" class="objectives content unselectable">
    <h1 class="course-title-wrapper">
        <span>Course: </span><span class="course-caption" data-bind="text: courseTitle"></span>
    </h1>
    <ul class="unstyled objective-brief-list" data-bind="foreach: objectives">
        <li class="objective-brief-list-item">
            <div class="objective-brief-wrapper">
                <div class="objective-brief shadow-bottom-curve">
                    <div class="objective-brief-indicator"></div>
                    <div class="objective-brief-image-wrapper">
                        <div class="white-framing">
                            <img class="objective-brief-image" src="" alt="" data-bind="attr: { src: image }">
                        </div>
                    </div>
                    <div class="objective-brief-title selectable" data-bind="text: title">
                    </div>
                    <div class="objective-brief-start-wrapper">
                        <a class="start-objective-btn" href="#" data-bind="attr: { href: '#/objective/' + questions[0].objectiveId + '/question/' + 1 }">Start objective</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="img-preloader-block"></div>
</section>
