<section class="course">

    <header class="content-section-wrapper">
        <div class="content-section course-title-wrapper">
            <div class="edit-field-wrapper course-title" data-bind="css: { 'active': title.isEditing(), 'error': !title.isValid() }">
                <label>Course title</label>
                <div class="edit-field selectable" data-bind="editableText: { text: title }, event: { focus: title.beginEdit, blur: title.endEdit }, autofocus: { focus: title.isSelected(), autoselect: title.isSelected() }"></div>
                <div class="validation-message">
                    <span data-bind="text: title() && title().length"></span>\<span data-bind="text: title.maxLength"></span>
                </div>
            </div>
            <ul class="course-actions">
                <li class="">
                    <!--  ko compose: 'dialogs/collaboration/collaboration'  -->
                    <!-- /ko -->
                    <a href="" class="button button-collaboration" data-bind="click: collaborate">
                        Add co-authors
                        <!-- ko if: collaborators().length > 1 -->
                        <span class="count" data-bind="text: collaborators().length"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: collaborators().length > 1 -->
                        <span class="count">+</span>
                        <!-- /ko -->
                    </a>
                </li>
                <li class="separator"></li>
                <li><a href="" class="button button-preview" data-bind="click: preview">Preview</a></li>
                <li>
                    <!--  ko compose: 'dialogs/publishCourse/publishCourse'  -->
                    <!-- /ko -->
                    <a href="" class="button button-share" data-bind="click: share">Share</a>
                </li>
            </ul>
        </div>
        <nav>
            <ul data-bind="foreach: router.navigationModel">
                <li><a data-bind="attr: { href:  dynamicHash }, css: { active: isActive }, text: ($index() + 1) + '. ' + title, click: navigate"></a></li>
            </ul>
        </nav>
    </header>




    <div data-bind="router: {}, style: { opacity: router.isViewReady() ? '1' : '0' }">
    </div>

    <!-- ko ifnot: router.isViewReady -->
    <div class="circular-loader x32 black align-center">
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
        <div class="circular-loader-item"></div>
    </div>
    <!-- /ko -->

</section>