<section class="course">

    <header>
        <div class="course-title-wrapper">
            <div class="course-title">
                <label>Course title</label>
                <div class="edit-field selectable" data-bind="editableText: { text: title }, event: { focus: title.beginEdit, blur: title.endEdit }, css: { 'active': title.isEditing(), 'error': !title.isValid() }, autofocus: { focus: true, autoselect: false }"></div>
            </div>
            <ul class="course-actions">
                <li class="">
                    <!-- ko compose: collaboration -->
                    <!-- /ko -->
                    <a href="" class="button button-collaboration" data-bind="click: addMember">
                        Add co-authors
                    </a>
                </li>
                <li class="separator"></li>
                <li><a href="" class="button button-preview" data-bind="click: preview">Preview</a></li>
                <li>
                    <!--  ko compose: 'dialogs/publishCourse/publishCourse'  -->
                    <!-- /ko -->
                    <a href="" class="button button-share" data-bind="click: share">Share</a>
                </li>
            </ul>
        </div>
        <nav>
            <ul data-bind="foreach: router.navigationModel">
                <li><a data-bind="attr: { href:  hash }, css: { active: isActive }, text: ($index() + 1) + '. ' + title"></a></li>
            </ul>
        </nav>
    </header>

    

    <!-- ko router: {} -->
    <!-- /ko -->



</section>