<section class="course publish view-module">
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="publish-container" data-bind="publishTabs: {}">
                <ul class="publish-tabs unstyled">
                    <!-- ko if: companyInfo -->
                    <li class="publish-tab" data-bind="click: sendOpenCustomPublishTab" data-tab-link="publish-to-custom-lms">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <img class="custom-publish-tab-image" data-bind="attr: { src: companyInfo.logoUrl, alt: companyInfo.name }, grayscale:{}" />
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: { key: 'publishToCompany', replace: { companyName: companyInfo.name } } }"></span>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: !companyInfo || !companyInfo.hideDefaultPublishOptions -->
                    <li class="publish-tab" data-bind="click: sendOpenLinkTab" data-tab-link="private-link">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image private-link"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'sharePrivateLink' }">Share private link</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenEmbedTab" data-tab-link="embed">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image embed"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'insideAWebsite' }">Inside a website</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenScormTab" data-tab-link="scorm">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image scorm"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'toYourLMS' }">To your LMS</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenHtmlTab" data-tab-link="html">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image html"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'toYourHosting' }">To your hosting</span>
                    </li>
                    <!-- /ko -->
                </ul>
                <div class="publish-tabs-content">
                    <!-- ko if: companyInfo -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishToCustomLms', model: publishToCustomLms, activationData: courseId } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: !companyInfo || !companyInfo.hideDefaultPublishOptions -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishToPublicationServerLink', model: publishAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishToPublicationServerEmbed', model: publishAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishAsScorm', model: scormBuildAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishAsHtml', model: buildAction, activationData: courseId } --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>