<section class="course publish view-module">
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="publish-container" data-bind="tabs: {}">
                <ul class="publish-tabs unstyled">
                    <!-- ko foreach: publishToCustomLmsModels -->
                    <li class="publish-tab" data-bind="click: $parent.sendOpenCustomPublishTab, attr: { 'data-tab-link': 'publish-to-custom-lms-' + company.name }">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <img class="custom-publish-tab-image" data-bind="attr: { src: company.logoUrl, alt: company.name }, grayscale:{}"/>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: { key: 'publishToCompany', replace: { companyName: company.name } } }"></span>
                    </li>
                    <!-- /ko -->
                    <!-- ko if: !publishToCustomLmsModels[0] || !publishToCustomLmsModels[0].company.hideDefaultPublishOptions -->
                    <li class="publish-tab" data-bind="click: sendOpenLinkTab" data-tab-link="private-link">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image private-link"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'sharePrivateLink' }">Share private link</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenEmbedTab" data-tab-link="embed">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image embed"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'insideAWebsite' }">Inside a website</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenSellCourseTab" data-tab-link="coggno">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container new">
                            <span class="publish-tab-image coggno"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'sellYourCourse' }">Sell your course</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenScormTab" data-tab-link="scorm">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image scorm"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'toYourLMS' }">To your LMS</span>
                    </li>
                    <li class="publish-tab" data-bind="click: sendOpenHtmlTab" data-tab-link="html">
                        <div class="active-indicator"></div>
                        <div class="publish-tab-image-container">
                            <span class="publish-tab-image html"></span>
                        </div>
                        <span class="publish-tab-text" data-bind="localize: { text: 'toYourHosting' }">To your hosting</span>
                    </li>
                    <!-- /ko -->
                </ul>
                <div class="publish-tabs-content">
                    <!-- ko foreach: publishToCustomLmsModels -->
                    <!-- ko compose: { view: 'views/courses/publishingActions/publishToCustomLms', model: $data.model, activationData: { courseId: $parent.courseId, companyInfo: $data.company } } --><!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: !publishToCustomLmsModels[0] || !publishToCustomLmsModels[0].company.hideDefaultPublishOptions -->
                    <!-- ko compose: { view: 'views/courses/publishingActions/publishToPublicationServerLink', model: publishAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishingActions/publishToPublicationServerEmbed', model: publishAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishingActions/publishToCoggno', model: publishToCoggnoAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishingActions/publishAsScorm', model: scormBuildAction, activationData: courseId } --><!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishingActions/publishAsHtml', model: buildAction, activationData: courseId } --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>