<section class="multiple-choice">

    <div class="content-section-wrapper">
        <div class="content-section" data-bind="with: answers">
            <!-- ko if: isExpanded -->
            <div class="expand-collapse-panel expanded">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }">Answer options</span>
                <div class="expand-collapse-panel-btn" data-bind="click: toggleExpand"></div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isExpanded -->
            <div class="expand-collapse-panel collapsed">
                <span class="expand-collapse-panel-label" data-bind="localize: { text: 'answerOptions' }">Answer options</span>
                <div class="expand-collapse-panel-btn" data-bind="click: toggleExpand"></div>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="content-section-wrapper answer-options" data-bind="with: answers">
        <!-- ko if: isExpanded -->
        <div class="question-answer-options-area">
            <div class="content-section">
                <ul class="unstyled answer-option-list">
                    <!-- ko if: answers().length == 0 -->
                    <li class="empty-learning-content" data-bind="localize: { text : 'noAnswerOptionsYet' } + '...'">
                        No answer options yet...
                    </li>
                    <!-- /ko -->
                    <!-- ko foreach: answers -->
                    <li class="answer-option-item" data-bind="click: $parent.selectAnswer.bind($parent, $data), outsideClick: { action: $parent.clearSelection }">
                        <div class="answer-options-list-item">
                            <div class="question-answer-value-wrapper">
                                <div class="question-answer-radio question-answer-value info-tooltip-holder" data-bind="click: $parent.toggleCorrectness, css: { 'correct' : isCorrect }">
                                    <span data-bind="visible: isCorrect" class="answer-correct-icon">&nbsp;</span>
                                    <div class="info-tooltip question-answer left-side">
                                        <!-- ko if: isCorrect -->
                                        <span data-bind="localize: { text: 'correctAnswer' }">
                                            Mark as incorrect
                                        </span>
                                        <!-- /ko -->
                                        <!-- ko ifnot: isCorrect -->
                                        <span data-bind="localize: { text: 'incorrectAnswer' }">
                                            Mark as correct
                                        </span>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                            <div class="question-answer-text-wrapper" data-bind="click: $parent.selectAnswer.bind($parent, $data), css: { active: $data == $parent.selectedAnswer() }">
                                <div class="question-answer-text">
                                    <div class="editarea-editable-text selectable" data-bind="editableText: { text: text, multiline: true, autosave: { interval: $parent.autosaveInterval, handler: $parent.updateText } }, event: { focus: $parent.beginEditText, blur: function (data, event) { $parent.endEditText(data, event) } }, hasFocus: hasFocus, selectTextInAnswer: {}">
                                    </div>
                                </div>
                            </div>
                            <!-- ko if: $parent.showDeleteButton -->
                            <div class="question-answer-delete-wrapper">
                                <div class="question-answer-delete-icon-wrapper info-tooltip-holder">
                                    <span class="question-answer-delete-icon" data-bind="click: $parent.removeAnswer"></span>
                                    <div class="info-tooltip question-answer right-side">
                                        <span data-bind="localize: { text: 'deleteAnswerOption' }">
                                            Delete answer
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </li>
                    <!-- /ko -->
                </ul>
                <div class="add-answer-option-wrapper" data-bind="outsideClick: { action: clearSelection }">
                    <div class="add-answer-option-btn btn green" data-bind="click: addAnswer">
                        <span class="add-answer-option-text">Add answer option</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

</section>