<nav class="course-action-holder">
    <!-- ko foreach: $data.navigationItems -->
    <a class="course-action-item course-navigation" href="#" data-bind="click: navigate, css: { 'active': isActive, 'cursor-default': isRootView }, attr: { href: navigationLink }, localize: { text: title }"></a>
    <!-- /ko -->
    <a class="course-action-item course-preview" href="#" data-bind="click: previewCourse, attr: { href: coursePreviewLink }">
        <span class="course-action-item-text" data-bind="localize: { text: 'previewCourse' }"></span>
    </a>
</nav>