<nav class="course-action-holder">

    <div class="content-section-wrapper">
        <div class="content-section clearfix">
            <ul class="course-navigation-list clearfix">
                <li class="course-navigation-arrow left-side"></li>
                <!-- ko foreach: $data.navigationItems -->
                <li class="course-navigation-item" data-bind="css: { 'active': isActive }">
                    <a class="course-navigation-link" href="#" data-bind="click: navigate, attr: { href: navigationLink }, localize: { text: title }, css: { 'cursor-default': isRootView }"></a>
                    <span class="course-navigation-arrow"></span>
                </li>
                <!-- /ko -->
            </ul>
            <ul class="course-actions-list">
                <li class="course-action-item course-preview">
                    <a class="course-action-item-link" href="#" data-bind="click: previewCourse, attr: { href: coursePreviewLink }">
                        <div class="course-action-item-text" data-bind="localize: { text: 'previewCourse' }"></div>
                    </a>
                </li>
                <li class="course-action-item share-now">
                    <a class="course-action-item-link" href="#" data-bind="click: shareCourse">
                        <div class="course-action-item-text" data-bind="localize: { text: 'publishNow' }"></div>
                    </a>
                    <!-- ko compose: 'dialogs/shareCourse/shareCourse' -->
                    <!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
    
</nav>

