<div class="question-hint-container">
    <div class="hint-button-container">
        <div class="hint-button" ng-click="question.hint.isDisplayed ? question.hint.hide(false) : question.hint.show()" ng-class="{'hint-displayed': question.hint.isDisplayed}">
            <span class="hint-button-caption">{{question.hint.isDisplayed ? 'Hide hint' : 'Show hint'}}</span>
        </div>
    </div>
    <div class="question-hint" slide-toggle="question.hint.isDisplayed" slide-toggle-collapse-to="question.hint.collapseToQuestion ? '.question': ''">
        <div class="hint-content-container" ng-class="{loaded: question.hint.isLoaded}">
            <span ng-if="!question.hint.isLoaded" class="image-loader-icon circular-loader x32 black align-center">
                <span class="circular-loader x32 black align-center">
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                    <span class="circular-loader-item"></span>
                </span>
            </span>
            <div class="hint-content" ng-if="question.hint.isLoaded" ng-repeat="learningContent in question.hint.learningContents" show-toggle="question.hint.isLoaded && question.hint.isDisplayed">
                <div html-compile="learningContent.content" styled-content></div>
            </div>
        </div>
        <div class="hint-footer">
            <div class="hint-hide-button" ng-click="question.hint.hide(true)">
                <div class="button-caption"></div>
                <div class="button-hover-caption">
                    <span class="text-container">Hide</span>
                </div>
            </div>
        </div>
    </div>
</div>