<div class="error-page-container">
    <header class="app-header">
        <img class="main-logo" ng-src="{{ noAccess.logoUrl }}">
        <span class="vertical-align-helper"></span>
    </header>
    <div class="error-container" ng-init="scrollToTop()" entire-height>
        <div class="error-content-container noaccess-error">
            <div class="error-content-wrapper">
                <div class="error-message-container">
                    <div class="noaccess-icon">
                        <span class="icon-attention"></span>
                    </div>
                    <div class="error-message">
                        {{ '[the owner of the course has limited the access]' | translate }}
                    </div>
                    <div class="error-button-container">
                        <button ng-click="noAccess.goToLogin()" class="button large emphasize default">
                            <span class="text-wrapper">
                                {{ '[back to sign in]' | translate }}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="error-footer-container">
            <div class="error-footer"></div>
        </div>
    </div>
</div>