<header>
    <div class="main-logo-wrapper">
        <span class="main-logo-helper"></span>
        <img alt="" src="" class="main-logo" ng-src="{{quiz.logoUrl}}">
    </div>
</header>
<div class="questions-container">
    <ul class="unstyled">
        <li class="question" ng-repeat="question in quiz.questions">
            <article>
                <h1 class="question-title">
                    <span class="index">{{$index + 1 | leadingZeros: 2}}</span>
                    {{question.title}}
                </h1>
                <div class="question-content">
                    <div html-compile="question.content" styled-content></div>
                </div>
                <div class="question-body" ng-include="'app/views/' + question.getType() + '.html '">
                </div>
                <div ng-if="question.hint.exists" ng-include="'app/views/hint.html'"></div>
            </article>
        </li>
    </ul>

    <div class="submit-wrapper">
        <button class="button large primary emphasize" ng-click="quiz.submit()">Submit all answers</button>
    </div>
</div>