<div>
    <ul class="unstyled">
        <li class="question" ng-repeat="question in quiz.questions">
            <article>
                <h1 class="question-title">
                    <span class="index">{{$index + 1 | leadingZeros: 2}}</span>
                    {{question.title}}
                </h1>
                <div class="question-content" ng-show="question.contentUrl && question.contentUrl.length">
                    <div ng-include src="question.contentUrl"></div>
                </div>
                <div ng-switch="question.constructor.name">
                    <singleselect-text ng-switch-when="SinglselectText"></singleselect-text>
                    <drag-and-drop-text ng-switch-when="DragAndDropText"></drag-and-drop-text>
                    <statement ng-switch-when="Statement"></statement>
                    <single-select-image ng-switch-when="SingleSelectImage"></single-select-image>
                    <text-matching ng-switch-when="TextMatching"></text-matching>
                </div>
            </article>
        </li>
    </ul>

    <div class="submit-wrapper">
        <button class="button large primary emphasize" ng-click="quiz.submit()">Submit all answers</button>
    </div>
</div>