<div class="single-select-image">

    <div class="answers" ng-repeat="answer in question.answers">
        <div class="answer-pair" ng-if="$even">
            <div class="answer-container">
                <div class="answer-wrapper">
                    <div class="answer" ng-click="question.checkAnswer(answer)" ng-class="{ checked: answer.checked }">
                        <radio title="{{ answer.image }}" checked="answer.checked"></radio>
                    </div>
                </div>
            </div>
            <div class="answer-container">
                <div class="answer-wrapper">
                    <div class="answer" ng-click="question.checkAnswer(question.answers[$index + 1])" ng-class="{ checked: question.answers[$index + 1].checked }">
                        <radio title="{{ question.answers[$index + 1].image }}" checked="question.answers[$index + 1].checked"></radio>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
