<section class="courses view-module" data-bind="scrollToElement: {}">

    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="view-list-actions-holder">  
                <div class="list-item-action informer">
                    <!-- ko ifnot: isCreateCourseAvailable -->
                    <div class="limit-courses-informer-wrapper">
                        <div class="triangle-wrapper">
                            <div class="triangle-border"></div>
                        </div>
                        <div class="limit-courses-informer">
                            <div class="limit-courses-informer-text">
                                <span data-bind="localize: { html : 'limitCoursesInformerText' }"></span>
                                <span class="bold" data-bind="html: currentCoursesLimit"></span>
                                <span data-bind="localize: { html : 'limitCoursesInformerTextEnd' }"></span>
                            </div>
                            <div class="limit-courses-infomer-btn-holder">
                                <button class="upgrade-user-btn btn green" data-bind="click: openUpgradePlanUrl, localize: { text : 'upgradeNowBtn' }">Upgrade now</button>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="view-list-action panel">
                    <div class="view-list-actions-holder-left-side">
                        <div class="page-view-caption clearfix">
                            <div class="page-view-caption-text" data-bind="localize: { text: 'courses' }">Courses</div>
                        </div>
                        <div class="view-list-action filter" data-bind="searchInput: { value: coursesTitleFilter, placeholderKey: 'searchCourses', callback: coursesFilterChanged, enabled: courses().length !== 0 }"></div>
                    </div>

                    <div class="view-list-actions-holder-right-side">                        
                        <div class="view-list-action select-order" data-bind="selectPopover: { options: sortingOptions, value: coursesSortOrder, callback: coursesSortOrderChanged, enabled: courses().length !== 0 }"></div>
                        <div class="view-list-action select-template"  data-bind="selectPopover: { options: availableTemplates(), value: coursesTemplateFilter, enabled: courses().length !== 0, localize: false, enableCounter: true, callback: coursesFilterChanged }"></div>
                        <div class="list-item-action create">
                            <!-- ko if: isCreateCourseAvailable -->
                            <div class="action-item-btn-wrapper">
                                <button class="action-item-btn create-item btn green" data-bind="click: showNewCourseDialog">
                                    <span class="action-item-btn-caption" data-bind="localize: { text: 'createNewCourse' }">New course</span>
                                </button>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: isCreateCourseAvailable -->
                            <button class="action-item-btn create-item btn green disabled" disabled="disabled">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'createNewCourse' }">New course</span>
                            </button>
                            <!-- /ko -->
                            <!-- ko if: courses().length === 0 -->
                            <div class="tip-arrow-holder right">
                                <div class="tip-arrow-text" data-bind="localize: { text : 'startFromHere' }">Start from here</div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>                    
                </div>                
            </div>
            <ul class="unstyled main-content-list" data-bind="foreachAnimated: { data: ownedCourses, removeDelay: 0, speed: 0.3, hideSpeed: 0.4 }">
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedCourseId == id, selected: isSelected, processing: !isProcessed}">
                    <div class="list-item-content-holder" data-bind="click: $parent.navigateToDetails">
                        <div class="list-item-info-holder">
                            <div class="info-holder-table">
                                <div class="list-item-logo">
                                    <span class="list-item-logo-image-wrapper">
                                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: thumbnail }" src="" />
                                    </span>
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-title">
                                        <span class="selectable" data-bind="textWithMarkedMatches: { valueForCompare: $parent.coursesTitleFilter, text: title}"></span>
                                    </div>
                                    <div class="list-item-details">
                                        <div class="list-item-details-saved">
                                            <span data-bind="localize: { text: 'lastEdited' }"></span> <span data-bind="date: { value: modifiedOn, formatString: 'L' }"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- ko if: isProcessed -->
                                <div class="list-item-open">
                                    <div class="list-item-open-btn course-action-btn" data-bind="tip: { key: 'open' }"></div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="course-actions-panel">
                                <!-- ko if: isProcessed -->
                                <button class="course-action-btn delete-course-btn" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.deleteCourse, tip: { key: 'deleteCourse' }"></button>
                                <button class="course-action-btn duplicate-btn" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.duplicateCourse, tip: { key: 'duplicate' }"></button>
                                <a class="course-action-btn publish-btn" href="#" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.navigateToPublish, attr: { href: '#publish/' + id }, tip: { key: 'publish' }">
                                </a>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- ko ifnot: isProcessed -->
                    <div class="processing-block-container" data-bind="fadeOut: { predicate: isDuplicatingFinished, callback: finishDuplicating, duration: 500 }, scrollTo: {}">
                        <div class="processing-block">
                            <div class="circular-loader-container">
                                <div data-bind="preloader: { type: 'circular', settings: 'big orange align-center', styles: { top: '50%' } }"></div>
                            </div>
                            <div class="processing-message-block">
                                <h4 class="processing-message-title" data-bind="localize: { text: 'courseIsDuplicating' }">Course is duplicating...</h4>
                                <div class="processing-message-description" data-bind="localize: { text: 'PleaseWaitFewMinutes' }">Please wait, it may take few minutes</div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </li>                     
            </ul>

            <div class="main-content-list-title-wrapper" data-bind="css: {visible: sharedCourses().length > 0}">
                <span class="main-content-list-title" data-bind="localize: { text: 'sharedCourses' }"></span>
            </div>
            <ul class="unstyled main-content-list" data-bind="foreachAnimated: { data: sharedCourses, removeDelay: 0, speed: 0.3, hideSpeed: 0.4 }" >
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedCourseId == id, selected: isSelected }">
                    <div class="list-item-content-holder" data-bind="click: $parent.navigateToDetails">
                        <div class="list-item-info-holder">
                            <div class="info-holder-table">
                                <div class="list-item-logo">
                                    <span class="list-item-logo-image-wrapper">
                                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: thumbnail }" src="" />
                                    </span>
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-title">
                                        <span class="selectable" data-bind="text: title, textWithMarkedMatches: { valueForCompare: $parent.coursesTitleFilter, text: title}"></span>
                                    </div>
                                    <div class="list-item-details">
                                        <div class="list-item-details-author">
                                            <span data-bind="localize: { text: 'authorLabel' }"></span> <span data-bind="textWithMarkedMatches: { valueForCompare: $parent.coursesTitleFilter, text: createdByName}"></span>
                                        </div>
                                        <div class="list-item-details-saved">
                                            <span data-bind="localize: { text: 'lastEdited' }"></span> <span data-bind="date: { value: modifiedOn, formatString: 'L' }"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item-open">
                                    <div class="list-item-open-btn course-action-btn" data-bind="tip: { key: 'open' }"></div>
                                </div>
                            </div>
                            <div class="course-actions-panel">
                                <button class="course-action-btn stop-collaboration-btn" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.stopCollaboration, tip: { key: 'stopCoauthoring' }"></button>
                                <button class="course-action-btn duplicate-btn" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.duplicateCourse, tip: { key: 'duplicate' }"></button>
                                <a class="course-action-btn publish-btn" href="#" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.navigateToPublish, attr: { href: '#publish/' + id }, tip: { key: 'publish' }">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="main-content-list-title-wrapper" data-bind="css: {visible: organizationCourses().length > 0}">
                <span class="main-content-list-title" data-bind="localize: { text: 'myOrganization' }"></span>
            </div>
            <ul class="unstyled main-content-list" data-bind="foreachAnimated: { data: organizationCourses, removeDelay: 0, speed: 0.3, hideSpeed: 0.4 }">
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedCourseId == id, selected: isSelected }">
                    <div class="list-item-content-holder" data-bind="click: $parent.navigateToDetails">
                        <div class="list-item-info-holder">
                            <div class="info-holder-table">
                                <div class="list-item-logo">
                                    <span class="list-item-logo-image-wrapper">
                                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: thumbnail }" src="" />
                                    </span>
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-title">
                                        <span class="selectable" data-bind="textWithMarkedMatches: { valueForCompare: $parent.coursesTitleFilter, text: title}"></span>
                                    </div>
                                    <div class="list-item-details">
                                        <div class="list-item-details-author">
                                            <span data-bind="localize: { text: 'authorLabel' }"></span> <span data-bind="textWithMarkedMatches: { valueForCompare: $parent.coursesTitleFilter, text: createdByName}"></span>
                                        </div>
                                        <div class="list-item-details-saved">
                                            <span data-bind="localize: { text: 'lastEdited' }"></span> <span data-bind="date: { value: modifiedOn, formatString: 'L' }"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item-open">
                                    <div class="list-item-open-btn course-action-btn" data-bind="tip: { key: 'open' }"></div>
                                </div>
                            </div>
                            <div class="course-actions-panel">
                                <button class="course-action-btn duplicate-btn" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.duplicateCourse, tip: { key: 'duplicate' }"></button>
                                <a class="course-action-btn publish-btn" href="#" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.navigateToPublish, attr: { href: '#publish/' + id }, tip: { key: 'publish' }">
                                </a>
                            </div>
                        </div>
                    </div>
                </li>             
            </ul>
            <ul class="unstyled main-content-list">
                <li class="empty-list-wrapper courses-empty-list" data-bind="css: {visible: isCoursesListEmpty()}">
                    <!-- ko if: courses().length === 0 -->
                    <span class="empty-list title" data-bind="localize: { text: 'courseListIsEmpty'}">Course list is empty</span>
                    <!-- /ko -->
                    <!-- ko if: courses().length !== 0 && isCoursesListEmpty() -->
                    <span class="empty-list title" data-bind="localize: { text: 'noResultsTitle'}">No result found!</span>
                    <!-- /ko -->
                </li>
            </ul>
        </div>
    </div>
</section>