<section class="courses view-module" data-bind="scrollToElement: {}">

    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'courses' }">Courses</div>
            </div>
            <div class="view-list-actions-holder">
                <div class="list-item-action delete">
                    <!-- ko if: enableDeleteCourses -->
                    <span class="selected-item-action delete enabled" data-bind="click: deleteSelectedCourses, localize: { text: 'deleteSelected' }">Delete selected</span>
                    <!-- /ko -->
                    <!-- ko ifnot: enableDeleteCourses -->
                    <span class="selected-item-action delete disabled" data-bind="localize: { text: 'deleteSelected' }">Delete selected</span>
                    <!-- /ko -->
                </div>
                <div class="list-item-action informer">
                    <!-- ko ifnot: isCreateCourseAvailable -->
                    <div class="limit-courses-informer-wrapper">
                        <div class="triangle-wrapper">
                            <div class="triangle-border"></div>
                        </div>
                        <div class="limit-courses-informer">
                            <div class="limit-courses-informer-text">
                                <!-- ko if: hasStarterAccess -->
                                <span data-bind="localize: { html : 'limitCoursesInformerTextForStarter' }"></span>
                                <span class="bold" data-bind="html: coursesStarterLimit">50</span>
                                <!-- /ko -->
                                <!-- ko ifnot: hasStarterAccess -->
                                <span data-bind="localize: { html : 'limitCoursesInformerTextForFreeUser' }"></span>
                                <span class="bold" data-bind="html: coursesFreeLimit">50</span>
                                <!-- /ko -->
                                <span data-bind="localize: { html : 'limitCoursesInformerTextEnd' }"></span>
                            </div>
                            <div class="limit-courses-infomer-btn-holder">
                                <button class="upgrade-user-btn btn green" data-bind="click: openUpgradePlanUrl, localize: { text : 'upgradeNowBtn' }">Upgrade now</button>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="list-item-action create">
                    <!-- ko if: isCreateCourseAvailable -->
                    <div class="action-item-btn-wrapper">
                        <button class="action-item-btn create-item btn dropdown green" data-bind="click: showNewCoursePopover, outsideClick: { action: hideNewCoursePopover }, css: { expanded: newCoursePopoverVisible() }">
                            <span class="action-item-btn-caption" data-bind="localize: { text: 'createNewCourse' }">New course</span>
                        </button>
                        <div class="new-course-action-wrapper" data-bind="css: { visible: newCoursePopoverVisible() }">
                            <ul class="new-course-action-items">
                                <li class="new-course-action-item" data-bind="click: importCourseFromPresentation">
                                    <span class="new-course-action-import-pptx-icon"></span>
                                    <span class="new-course-action-item-title" data-bind="localize: { text: 'powerPointImport' }">Power Point import</span>
                                </li>
                                <li class="new-course-actions-separator"></li>
                                <li class="new-course-action-item" data-bind="click: createNewCourse">
                                    <span class="new-course-action-create-course-icon"></span>
                                    <span class="new-course-action-item-title" data-bind="localize: { text: 'createCourse' }">Create course</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: isCreateCourseAvailable -->
                    <button class="action-item-btn create-item btn green disabled" disabled="disabled">
                        <span class="action-item-btn-caption" data-bind="localize: { text: 'createNewCourse' }">New course</span>
                    </button>
                    <!-- /ko -->
                    <!-- ko if: courses().length === 0 && sharedCourses().length === 0 -->
                    <div class="tip-arrow-holder right">
                        <div class="tip-arrow-text" data-bind="localize: { text : 'startFromHere' }">Start from here</div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <ul class="unstyled main-content-list">
                <!-- ko if: courses().length === 0 -->
                <li class="empty-list-wrapper courses-empty-list">
                    <span class="empty-list" data-bind="localize: { text: 'courseListIsEmpty'}">Course list is empty</span>
                </li>
                <!-- /ko -->
                <!-- ko foreach: courses -->
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedCourseId == id, selected: isSelected, processing: !isProcessed }">
                    <div class="list-item-content-holder" data-bind="click: $parent.navigateToDetails">
                        <div class="checkbox-holder" data-bind="click: $parent.toggleSelection, stopEventPropagation: { event: 'click' }">
                            <span class="custom-checkbox-wrapper" data-bind="css: { checked: isSelected }">
                                <input class="custom-checkbox" type="checkbox" />
                            </span>
                        </div>
                        <div class="list-item-info-holder">
                            <div class="info-holder-table">
                                <div class="list-item-logo">
                                    <span class="list-item-logo-image-wrapper">
                                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: thumbnail }" src="" />
                                    </span>
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-title">
                                        <span class="selectable" data-bind="text: title"></span>
                                    </div>
                                    <div class="list-item-saved">
                                        <span data-bind="localize: { text: 'lastEdited' }">Last edited:</span> <span data-bind="date: { value: modifiedOn, formatString: 'L', language: $parent.currentLanguage }"></span>
                                    </div>
                                </div>
                                <!-- ko if: isProcessed -->
                                <div class="list-item-open">
                                    <div class="list-item-open-btn course-action-btn info-tooltip-holder">
                                        <div class="info-tooltip open-item">
                                            <span data-bind="localize: { text: 'open' }">Open</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="course-actions-panel">
                                <!-- ko if: isProcessed -->
                                <button class="course-action-btn duplicate-btn info-tooltip-holder" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.duplicateCourse">
                                    <div class="info-tooltip duplicate-item">
                                        <span data-bind="localize: { text: 'duplicate' }">Duplicate</span>
                                    </div>
                                </button>
                                <a class="course-action-btn publish-btn info-tooltip-holder" href="#" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.navigateToPublish, attr: { href: '#publish/' + id }">
                                    <div class="info-tooltip publish-item">
                                        <span data-bind="localize: { text: 'publish' }">Publish</span>
                                    </div>
                                </a>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- ko ifnot: isProcessed -->
                    <div class="processing-block-container" data-bind="fadeOut: { predicate: isDuplicatingFinished, callback: finishDuplicating, duration: 500 }, scrollTo: {}">
                        <div class="processing-block">
                            <div class="circular-loader-container">
                                <div data-bind="preloader: { type: 'circular', settings: 'big orange align-center', styles: { top: '50%' } }"></div>
                            </div>
                            <div class="processing-message-block">
                                <h4 class="processing-message-title" data-bind="localize: { text: 'courseIsDuplicating' }">Course is duplicating...</h4>
                                <div class="processing-message-description" data-bind="localize: { text: 'PleaseWaitFewMinutes' }">Please wait, it may take few minutes</div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </li>
                <!-- /ko -->
            </ul>

            <!-- ko if: sharedCourses().length > 0 -->
            <div class="main-content-list-title-wrapper">
                <span class="main-content-list-title" data-bind="localize: { text: 'sharedCourses' }"></span>
            </div>
            <ul class="unstyled main-content-list">
                <!-- ko foreach: sharedCourses -->
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedCourseId == id, selected: isSelected }">
                    <div class="list-item-content-holder" data-bind="click: $parent.navigateToDetails">
                        <div class="empty-list-item shared"></div>
                        <div class="list-item-info-holder">
                            <div class="info-holder-table">
                                <div class="list-item-logo">
                                    <span class="list-item-logo-image-wrapper">
                                        <img class="list-item-logo-image" alt="" data-bind="attr: { src: thumbnail }" src="" />
                                    </span>
                                </div>
                                <div class="list-item-info">
                                    <div class="list-item-title">
                                        <span class="selectable" data-bind="text: title"></span>
                                    </div>
                                    <div class="list-item-saved">
                                        <span data-bind="localize: { text: 'lastEdited' }">Last edited:</span> <span data-bind="date: { value: modifiedOn, formatString: 'L', language: $parent.currentLanguage }"></span>
                                    </div>
                                </div>
                                <div class="list-item-open">
                                    <div class="list-item-open-btn course-action-btn info-tooltip-holder">
                                        <div class="info-tooltip open-item">
                                            <span data-bind="localize: { text: 'open' }">Open</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="course-actions-panel">
                                <button class="course-action-btn duplicate-btn info-tooltip-holder" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.duplicateCourse">
                                    <div class="info-tooltip duplicate-item">
                                        <span data-bind="localize: { text: 'duplicate' }">Duplicate</span>
                                    </div>
                                </button>
                                <a class="course-action-btn publish-btn info-tooltip-holder" href="#" data-bind="stopEventPropagation: { event: 'click' }, click: $parent.navigateToPublish, attr: { href: '#publish/' + id }">
                                    <div class="info-tooltip publish-item">
                                        <span data-bind="localize: { text: 'publish' }">Publish</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
            <!-- /ko -->
        </div>
    </div>
</section>
