<section class="course define view-module">

    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'courseViewCaption' }">Course editor</div>
                <div data-bind="compose: {model: 'viewmodels/courses/collaboration/collaborators', activationData: {courseId: id, courseOwner: createdBy}}"></div>
            </div>


            <header class="view-header">
                <div class="view-header-title">
                    <div class="edit-field selectable" data-bind="editableText: { text: title, multiline: false }, event: { focus: startEditTitle, blur: endEditTitle }, css: { 'active': isEditing(), 'error': !title.isValid() }"></div>
                    <div class="chars-counter" data-bind="css: { error: !title.isValid() }">
                        <span data-bind="text: title().trim().length"></span>/<span data-bind="    text: courseTitleMaxLength"></span>
                    </div>
                </div>
            </header>
            <div class="course-introduction-wrapper" data-bind="with: courseIntroductionContent">
                <div class="entity-content-action-wrapper">
                    <!-- ko if: isContentDefined -->
                    <!-- ko if: isExpanded -->
                    <div class="entity-content-action hide cursor-default" data-bind="click: toggleExpand, localize: { text: 'hideCourseContent' }">Hide course introduction content</div>
                    <!-- /ko -->
                    <!-- ko ifnot: isExpanded -->
                    <div class="entity-content-action show cursor-default" data-bind="click: toggleExpand, localize: { text: 'showCourseContent' }">Show course introduction content</div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko ifnot: isContentDefined -->
                    <div class="entity-content-action add cursor-default" data-bind="click: addContent, localize: { text: 'addCourseContent' }">Add course introduction content</div>
                    <!-- /ko -->
                </div>
                <!-- ko if: isContentDefined -->
                <!-- ko if: isExpanded -->
                <div class="course-introduction-content-wrapper">
                    <div class="course-introduction-content" data-bind="css: { active: hasFocus }">
                        <div class="course-introduction-block">
                            <div class="course-introduction selectable" data-bind="ckeditor: { data: text, eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, focus: beginEditText, blur: function (data, event) { updateText(data, event), endEditText(data, event); }, autosaveInterval: autosaveInterval, localizationManager: $root.localizationManager }"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <div class="main-content-list-title-wrapper">
                <span class="main-content-list-title" data-bind="localize: { text: 'relatedLearningObjectives' }">Related learning objectives</span>
            </div>
            <div class="main-content-list-holder">
                <div class="view-list-actions-holder">
                    <div class="list-item-action delete">
                        <!-- ko if: objectivesMode() == objectivesListModes.display -->
                        <span class="selected-item-action disconnect enabled" data-bind="click: disconnectSelectedObjectives, localize: { text: 'disconnectSelected' }, css: { enabled: canDisconnectObjectives, disabled: !canDisconnectObjectives() }"></span>
                        <!--/ko -->
                    </div>
                    <div class="list-item-action empty">
                        &nbsp;
                    </div>
                    <div class="list-item-action connect-objectives">
                        <!-- ko if: objectivesMode() == objectivesListModes.display -->
                        <div class="action-item-btn-wrapper">
                            <button class="action-item-btn connect-item btn" data-bind="click: showAllAvailableObjectives">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'connectExistingLearningObjectives' }">Connect existing</span>
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="list-item-action create">
                        <!-- ko if: objectivesMode() == objectivesListModes.display -->
                        <div class="action-item-btn-wrapper">
                            <button class="action-item-btn create-item btn green" data-bind="click: navigateToCreateObjective">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'createAndConnectLearningObjective' }">Learning objective</span>
                            </button>
                            <!-- ko if: connectedObjectives().length < 1 -->
                            <div class="tip-arrow-holder right">
                                <div class="tip-arrow-text" data-bind="localize: { text : 'startFromHere' }">Start from here</div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if: objectivesMode() == objectivesListModes.appending -->
                        <div class="action-item-btn-wrapper">
                            <button class="action-item-btn finish-item btn" data-bind="click: showConnectedObjectives">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'finishConnectingLearningObjectives' }">Finish connecting</span>
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if: connectedObjectives().length == 0 && objectivesMode() == objectivesListModes.display -->
                <div class="empty-list-wrapper">
                    <span class="empty-list" data-bind="localize: { text: 'learningObjectiveListIsEmpty'}">Learning objective list is empty</span>
                </div>
                <!-- /ko -->
                <!--ko if: objectivesMode() == objectivesListModes.display && connectedObjectives().length > 0-->
                <ul class="unstyled main-content-list" data-bind="sortable: { data: connectedObjectives, afterMove: reorderObjectives, isEnabled: isSortingEnabled, options: { handle: '.list-item-drag-icon', start : startReorderingObjectives, stop: endReorderingObjectives } }">
                    <li class="main-content-list-item draggable" data-bind="css: { selected: isSelected }">
                        <div class="list-item-content-holder" data-bind="click: $parent.navigateToObjectiveDetails.bind($parent)">
                            <div class="list-item-drag-icon-wrapper">
                                <!-- ko if: $parent.isSortingEnabled() -->
                                <span class="list-item-drag-icon" data-bind="stopEventPropagation: { event: 'click' }, localize: { title: 'changeOrderTooltip' }"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: $parent.isSortingEnabled() -->
                                <span class="list-item-drag-icon disabled" data-bind="stopEventPropagation: { event: 'click' }"></span>
                                <!-- /ko -->
                            </div>
                            <div class="list-item-checkbox">&nbsp;</div>
                            <div class="list-item-logo">
                                <img class="list-item-logo-image" alt="" src="" data-bind="attr: { src: image }" />
                            </div>
                            <div class="list-item-info">
                                <div class="list-item-title">
                                    <span class="selectable" data-bind="text: title"></span>
                                </div>
                                <div class="list-item-saved">
                                    <span data-bind="localize: { text: 'lastEdited' }">Last edited: </span><span data-bind="date: { value: modifiedOn, formatString: 'L' }"></span>
                                </div>
                            </div>
                            <div class="list-item-open">
                                <div class="list-item-open-btn course-action-btn info-tooltip-holder">
                                    <div class="info-tooltip open-item">
                                        <span>Open</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="custom-checkbox-wrapper" data-bind="css: { checked: isSelected }, click: $parent.toggleObjectiveSelection">
                            <input class="custom-checkbox" type="checkbox" />
                        </span>
                    </li>
                </ul>
                <!-- /ko -->
                <!--ko ifnot: objectivesMode() == objectivesListModes.display-->
                <div class="connecting-objectives-holder">
                    <div class="connecting-objectives-item">
                        <div class="other-objectives-title">
                            <div data-bind="localize: { text: 'otherObjectives' }"></div>
                        </div>
                        <div class="connecting-objectives-item-container" data-bind="css: { empty:  availableObjectives().length == 0  }">
                            <!-- ko if: objectivesMode() == objectivesListModes.appending && availableObjectives().length == 0-->
                            <div class="empty-list-wrapper connecting-objectives">
                                <div class="empty-list-info">
                                    <div class="empty-list connecting-objectives" data-bind="localize: { text: 'allObjectivesConnected' }"></div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <ul class="unstyled main-content-list" data-bind="css: { 'disconnected': availableObjectives().length != 0, empty: availableObjectives().length == 0 }, sortablePlaceholder: { data: availableObjectives, beforeMove: disconnectObjective, placeholder: '.placeholder-wrapper' }">
                                <li class="main-content-list-item">
                                    <div class="list-item-content-holder">
                                        <div class="list-item-logo">
                                            <img class="list-item-logo-image" alt="" src="" data-bind="attr: { src: image }" />
                                        </div>
                                        <div class="list-item-info">
                                            <div class="list-item-title">
                                                <span data-bind="text: title"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="connecting-objectives-item empty">
                        &nbsp;
                    </div>
                    <div class="connecting-objectives-item">
                        <div class="connecting-objectives-item-wrapper">
                            <div class="tip-arrow-holder bottom-right">
                                <div class="tip-arrow-text" data-bind="localize: { text: 'dragLOHere' }">Drag learning objective here</div>
                            </div>
                            <div class="connected-objectives-title">
                                <div class="connected-objectives-title-text" data-bind="localize: { text: 'connectedObjectives' }"></div>
                            </div>
                            <div class="connecting-objectives-item-container" data-bind="css: { empty:  connectedObjectives().length == 0  }">
                                <!-- ko if: objectivesMode() == objectivesListModes.appending && connectedObjectives().length == 0 -->
                                <div class="empty-list-wrapper connecting-objectives connected">
                                    <div class=" empty-list-info">
                                        <div class="empty-list-image "></div>
                                        <div class="empty-list-caption"><span data-bind="localize: { html: 'dragAndDropObjectivesHere' }"></span></div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <ul class="unstyled main-content-list" data-bind="css: { 'connected': connectedObjectives().length != 0, empty: connectedObjectives().length == 0 }, sortablePlaceholder: { data: connectedObjectives, beforeMove: connectObjective, placeholder: '.placeholder-wrapper',  options: { start : startReorderingObjectives, stop: endReorderingObjectives } }">
                                    <li class="main-content-list-item">
                                        <div class="list-item-content-holder">
                                            <div class="list-item-drag-icon-wrapper">
                                                <!-- ko if: $parent.isSortingEnabled() -->
                                                <span class="list-item-drag-icon" data-bind="stopEventPropagation: { event: 'click' }, localize: { title: 'changeOrderTooltip' }"></span>
                                                <!-- /ko -->
                                                <!-- ko ifnot: $parent.isSortingEnabled() -->
                                                <span class="list-item-drag-icon disabled" data-bind="stopEventPropagation: { event: 'click' }"></span>
                                                <!-- /ko -->
                                            </div>
                                            <div class="list-item-logo">
                                                <img class="list-item-logo-image" alt="" src="" data-bind="attr: { src: image }" />
                                            </div>
                                            <div class="list-item-info">
                                                <div class="list-item-title">
                                                    <span data-bind="text: title"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <div class="customplaceholder" style="display: none;">
        <li class="placeholder-wrapper">
            <div class="placeholder">
                <div class="placeholder-text-wrapper">
                    <span class="placeholder-text" data-bind="localize: { text: 'dropHere' }"></span>
                </div>
            </div>
        </li>
    </div>
</section>
