<section class="course define view-module">

    <div class="content-holder">
        <div class="page-view-caption clearfix">
            <div class="page-view-caption-text" data-bind="localize: { text: 'courseViewCaption' }">Course editor</div>
        </div>
    </div>

    <div class="content-holder">
        <div class="content-holder resizable">

            <header class="view-header">
                <div class="view-header-title">
                    <div class="edit-field selectable" data-bind="editableText: { text: title, multiline: false }, event: { focus: startEditTitle, blur: endEditTitle }, css: { 'active': isEditing(), 'error': !title.isValid() }"></div>
                    <div class="chars-counter" data-bind="css: { error: !title.isValid() }">
                        <span data-bind="text: title().trim().length"></span>/<span data-bind="    text: courseTitleMaxLength"></span>
                    </div>
                </div>
            </header>
            <div class="course-introduction-wrapper" data-bind="with: courseIntroductionContent">
                <div class="entity-content-action-wrapper">
                    <!-- ko if: isContentDefined -->
                    <!-- ko if: isExpanded -->
                    <div class="entity-content-action hide cursor-default" data-bind="click: toggleExpand, localize: { text: 'hideCourseContent' }">Hide course introduction content</div>
                    <!-- /ko -->
                    <!-- ko ifnot: isExpanded -->
                    <div class="entity-content-action show cursor-default" data-bind="click: toggleExpand, localize: { text: 'showCourseContent' }">Show course introduction content</div>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko ifnot: isContentDefined -->
                    <div class="entity-content-action add cursor-default" data-bind="click: addContent, localize: { text: 'addCourseContent' }">Add course introduction content</div>
                    <!-- /ko -->
                </div>
                <!-- ko if: isContentDefined -->
                <!-- ko if: isExpanded -->
                <div class="course-introduction-content-wrapper">
                    <div class="course-introduction-content" data-bind="css: { active: hasFocus }">
                        <div class="course-introduction-block">
                            <div class="course-introduction selectable" data-bind="ckeditor: { data: text, language: $root.language(), eventTracker: $root.eventTracker, isEditing: hasFocus, save: updateText, focus: beginEditText, blur: function (data, event) { updateText(data, event), endEditText(data, event); }, autosaveInterval: autosaveInterval, localizationManager: $root.localizationManager }"></div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="main-content-list-holder">
                <div class="view-list-actions-holder">
                    <div class="list-item-action delete">
                        <!-- ko if: objectivesMode() == objectivesListModes.display -->
                        <!-- ko if: canDisconnectObjectives() -->
                        <span class="selected-item-action disconnect enabled" data-bind="click: disconnectSelectedObjectives, localize: { text: 'disconnectSelected' }"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: canDisconnectObjectives()-->
                        <span class="selected-item-action disconnect disabled" data-bind="localize: { text: 'disconnectSelected' }"></span>
                        <!-- /ko -->
                        <!--/ko -->
                    </div>
                    <div class="list-item-action empty">
                        &nbsp;
                    </div>
                    <div class="list-item-action connect-objectives">
                        <!-- ko if: objectivesMode() == objectivesListModes.display -->
                        <div class="action-item-btn-wrapper">
                            <button class="action-item-btn connect-item btn" data-bind="click: showAllAvailableObjectives">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'connectExistingLearningObjectives' }">Connect existing</span>
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="list-item-action create">
                        <!-- ko if: objectivesMode() == objectivesListModes.display -->
                        <div class="action-item-btn-wrapper">
                            <button class="action-item-btn create-item btn green" data-bind="click: navigateToCreateObjective">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'createAndConnectLearningObjective' }">Learning objective</span>
                            </button>
                            <!-- ko if: connectedObjectives().length < 1 -->
                            <div class="tip-arrow-holder right">
                                <div class="tip-arrow-text" data-bind="localize: { text : 'startFromHere' }">Start from here</div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if: objectivesMode() == objectivesListModes.appending -->
                        <div class="action-item-btn-wrapper">
                            <button class="action-item-btn finish-item btn" data-bind="click: showConnectedObjectives">
                                <span class="action-item-btn-caption" data-bind="localize: { text: 'finishConnectingLearningObjectives' }">Finish connecting</span>
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>

                <!-- ko if: connectedObjectives().length == 0 && objectivesMode() == objectivesListModes.display -->
                <div class="empty-list-wrapper">
                    <span class="empty-list" data-bind="localize: { text: 'learningObjectiveListIsEmpty'}">Learning objective list is empty</span>
                </div>
                <!-- /ko -->
                <!--ko if: objectivesMode() == objectivesListModes.display && connectedObjectives().length > 0-->
                <ul class="unstyled main-content-list" data-bind="sortable: { data: connectedObjectives, afterMove: reorderObjectives, isEnabled: isSortingEnabled, options: {handle: '.list-item-drag-icon'} }">
                    <li class="main-content-list-item" data-bind="css: { selected: isSelected }">
                        <div class="list-item-content-holder" data-bind="click: $parent.toggleObjectiveSelection">
                            <div class="list-item-drag-icon-wrapper">
                                <!-- ko if: $parent.isSortingEnabled() -->
                                <span class="list-item-drag-icon" data-bind="stopEventPropagation: { event: 'click' }, localize: { title: 'changeOrderTooltip' }"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: $parent.isSortingEnabled() -->
                                <span class="list-item-drag-icon disabled" data-bind="stopEventPropagation: { event: 'click' }"></span>
                                <!-- /ko -->
                            </div>
                            <div class="list-item-checkbox">
                                <span class="custom-checkbox-wrapper" data-bind="css: { checked: isSelected }">
                                    <input class="custom-checkbox" type="checkbox" />
                                </span>
                            </div>
                            <div class="list-item-logo">
                                <img class="list-item-logo-image" alt="" src="" data-bind="attr: { src: image }" />
                            </div>
                            <div class="list-item-info">
                                <div class="list-item-title">
                                    <span class="selectable" data-bind="text: title"></span>
                                </div>
                                <div class="list-item-saved">
                                    <span data-bind="localize: { text: 'lastEdited' }">Last edited: </span><span data-bind="date: { value: modifiedOn, formatString: 'L', language: $parent.currentLanguage }"></span>
                                </div>
                            </div>
                        </div>
                        <div class="open-item-btn">
                            <a href="#" class="cursor-pointer light-green btn btn-small open-btn" data-bind="click: $parent.navigateToObjectiveDetails.bind($parent), attr: { href: '#objective/' + id + '?courseId=' + $parent.id }">
                                <span class="open-btn-text" data-bind="localize: { text: 'open' }"></span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- /ko -->
                <!--ko ifnot: objectivesMode() == objectivesListModes.display-->
                <div class="connecting-objectives-holder">
                    <div class="connecting-objectives-item">
                        <div class="other-objectives-title">
                            <div data-bind="localize: { text: 'otherObjectives' }"></div>
                        </div>
                        <div class="connecting-objectives-item-container" data-bind="css: { 'for-drag': availableObjectives().length == 0 }">
                            <!-- ko if: objectivesMode() == objectivesListModes.appending && availableObjectives().length == 0-->
                            <div class="empty-list-wrapper connecting-objectives">
                                <div class="empty-list-info">
                                    <div class="empty-list connecting-objectives" data-bind="localize: { text: 'allObjectivesConnected' }"></div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <ul class="unstyled main-content-list connectedSortable" data-bind="css: { 'list-for-drag': availableObjectives().length == 0 }, sortable: { data: availableObjectives, beforeMove: disconnectObjective,  options: { connectWith: '.connectedSortable' } }">
                                <li class="main-content-list-item" data-bind="css: { selected: isSelected }">
                                    <div class="list-item-content-holder" data-bind="click: $parent.toggleObjectiveSelection">
                                        <div class="list-item-logo">
                                            <img class="list-item-logo-image" alt="" src="" data-bind="attr: { src: image }" />
                                        </div>
                                        <div class="list-item-info">
                                            <div class="list-item-title">
                                                <span data-bind="text: title"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="connecting-objectives-item empty">
                        &nbsp;
                    </div>
                    <div class="connecting-objectives-item">
                        <div class="connected-objectives-title">
                            <div class="connected-objectives-title-text" data-bind="localize: { text: 'connectedObjectives' }"></div>
                        </div>
                        <div class="connecting-objectives-item-container" data-bind="css: { 'for-drag': connectedObjectives().length == 0 }">
                            <!-- ko if: objectivesMode() == objectivesListModes.appending -->
                            <div class="empty-list-wrapper connecting-objectives connected" data-bind="css: { hint: connectedObjectives().length > 0 }">
                                <div class=" empty-list-info">
                                    <div class="empty-list-image"></div>
                                    <div class="empty-list-caption"><span data-bind="localize: { html: 'dragAndDropObjectivesHere' }"></span></div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <ul class="unstyled main-content-list connectedSortable" data-bind="css: { 'list-for-drag': connectedObjectives().length == 0 }, sortable: { data: connectedObjectives, beforeMove: connectObjective, options: { connectWith: '.connectedSortable' } }">
                                <li class="main-content-list-item" data-bind="css: { selected: isSelected }">
                                    <div class="list-item-content-holder" data-bind="click: $parent.toggleObjectiveSelection">
                                        <div class="list-item-drag-icon-wrapper">
                                            <!-- ko if: $parent.isSortingEnabled() -->
                                            <span class="list-item-drag-icon" data-bind="stopEventPropagation: { event: 'click' }, localize: { title: 'changeOrderTooltip' }"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: $parent.isSortingEnabled() -->
                                            <span class="list-item-drag-icon disabled" data-bind="stopEventPropagation: { event: 'click' }"></span>
                                            <!-- /ko -->
                                        </div>
                                        <div class="list-item-logo">
                                            <img class="list-item-logo-image" alt="" src="" data-bind="attr: { src: image }" />
                                        </div>
                                        <div class="list-item-info">
                                            <div class="list-item-title">
                                                <span data-bind="text: title"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</section>
