<section id="createCourse" class="view-module create-course">
    
    <!-- ko compose: { view: 'views/common/back', model: { goBackAction: navigateToCourses, goBackLink: '#courses', goBackTooltip: goBackTooltip } } -->
    <!-- /ko -->

    <div class="content-holder">
        <div class="page-view-caption clearfix">
            <div class="page-view-caption-text" data-bind="localize: { text: 'createCourseViewCaption' }">Create course</div>
        </div>
    </div>

    <div class="content-holder">

        <form class="form-create">
            <div class="form-create-title">
                <div class="form-create-title-circle blue number">
                    1
                    <div class="form-create-title-circle-triangle"></div>
                </div>
                <span class="form-create-title-text" data-bind="localize: { text: 'defineCourseTitle' }">Define course title</span>
            </div>
            <div class="form-create-field">
                <span class="form-create-field-placeholder" data-bind="visible: title().length == 0, localize: { text: 'typeCourseTitleHere' }, click: title.startEditing">Type learning objective title here</span>
                <div class="edit-field selectable" data-bind="editableText: { text: title, multiline: false }, hasFocus: title.isEditing, event: { focus: title.startEditing }, css: { error: !title.isValid() && title().length > courseTitleMaxLength, active: title.isEditing, empty: title().trim().length == 0 }, autofocus: { focus: true }"></div>
                <div class="chars-counter" data-bind="css: { error: !title.isValid() && title().length > courseTitleMaxLength }">
                    <span data-bind="text: title().trim().length"></span>/<span data-bind="    text: courseTitleMaxLength"></span>
                </div>
            </div>

            <div class="form-create-title choose-template">
                <div class="form-create-title-circle blue number">
                    2
                    <div class="form-create-title-circle-triangle"></div>
                </div>
                <span class="form-create-title-text" data-bind="localize: { text: 'chooseCourseTemplate' }">Choose course template</span>
            </div>
            <div class="form-create-choose-template-holder">
                <ul class="choose-template-list gorizontal" data-bind="foreach: templates">
                    <li class="choose-template-list-item" data-bind="css: { selected: isSelected }, click: $parent.selectTemplate">
                        <div class="template-image-holder">
                            <img class="template-image" data-bind="attr: { src: image }">
                        </div>
                        <div class="template-info-wrapper">
                            <div class="template-title" data-bind="text: name"></div>
                            <div class="template-desc" data-bind="text: description"></div>
                        </div>
                        <div class="template-preview-link" data-bind="visible: previewUrl, click: openPreview, localize: { text: 'previewTemplate' }">Preview template</div>
                    </li>
                </ul>
            </div>

            <!-- ko compose: { view: 'views/common/formactions', model: { isValid: isFormFilled(), createAndContinue: createAndContinue } } -->
            <!-- /ko -->
        </form>
    </div>
</section>
