<section class="course publish view-module">
    <div class="content-section-wrapper">
        <div class="content-section">
            <div class="package-actions-holder clearfix">
                <div class="package-action-column">
                    <!-- ko ifnot: publishToAim4YouAction().isTryMode -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishToAim4You', model: { publishToAim4YouAction: publishToAim4YouAction, isCourseDelivering: isCourseDelivering, states: states } } -->
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="package-action-column">
                    <!-- ko compose: { view: 'views/courses/publishActions/publishToPublicationServer', model: { publishAction: publishAction, isCourseDelivering: isCourseDelivering, states: states } } -->
                    <!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishAsScorm', model: { scormBuildAction: scormBuildAction, isCourseDelivering: isCourseDelivering, openUpgradePlanUrl: openUpgradePlanUrl } } -->
                    <!-- /ko -->
                    <!-- ko compose: { view: 'views/courses/publishActions/publishAsHtml', model: { buildAction: buildAction, isCourseDelivering: isCourseDelivering } } -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</section>