<section class="videos">
    <div class="content-section-wrapper">
        <div class="content-section">
            <ul class="video-list">

                <li class="video-list-item add-video-button" data-bind="click: addVideo"></li>

                <!-- ko ifnot: videos().length -->
                <li class="add-video-button-description">
                    <span class="tip-arrow-text" data-bind="localize: { text : 'uploadVideoDescription' }">Upload your own video by click on this button</span>
                </li>
                <!-- /ko -->
                <!-- ko foreach: videos -->
                <li class="video-list-item hovered" data-bind="click: $parent.showVideoPopup">
                    <!-- ko if: status() == $parent.statuses.loaded -->
                    <div class="video-list-item-thumbnail" data-bind="style: { backgroundImage: 'url(' + thumbnailUrl + ')' }">
                        <span class="play-icon"></span>
                    </div>
                    <!-- /ko-->
                    <!-- ko if: status() == $parent.statuses.failed -->
                    <div class="video-list-item-thumbnail error">

                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == $parent.statuses.inProgress -->
                    <div class="video-list-item-thumbnail uploading">
                        <canvas width="50" height="50" class="circle-progress" data-bind="circleProgress: { progress: progress, lineWidth: 2 }"></canvas>
                        <br />
                        <span class="video-uploading-progress" data-bind="text: progress"></span>
                        <span class="video-uploading-text" data-bind="localize: { text : 'uploading' }">uploading...</span>
                    </div>
                    <!-- /ko -->
                    <div class="video-list-item-title" data-bind="text: title, attr: { title: title }"></div>
                </li>
                <!-- /ko -->

            </ul>

            <!-- ko compose: 'dialogs/video/video' --><!-- /ko -->

        </div>
    </div>
</section>
