<section class="videos">
    <div class="content-section-wrapper">
        <div class="content-section">
            <ul class="library-list">

                <li class="library-list-item add-library-item-button" data-bind="click: addVideo">
                    <div class="free-space-section" data-bind="visible: storageSpaceProgressBarVisibility">
                        <span class="free-space-info">
                            <span class="free-space-info-title" data-bind="localize: { text: 'freeSpace' }"></span>
                            <span class="free-space-info-value" data-bind="text: availableStorageSpace"></span>
                        </span>
                        <span class="free-space-progress-bar">
                            <span class="free-space-progress-bar-value" data-bind="style: { width: availableStorageSpacePersentages() + '%' }"></span>
                        </span>
                    </div>
                </li>

                <!-- ko ifnot: videos().length -->
                <li class="add-library-item-button-description">
                    <span class="tip-arrow-text" data-bind="localize: { text : 'uploadVideoDescription' }">Upload your own video by click on this button</span>
                </li>
                <!-- /ko -->
                <!-- ko foreach: videos -->
                <li class="library-list-item" data-bind="click: isDeleteConfirmationShown() ? function(){} : $parent.showVideoPopup, css: { hovered: status() == $parent.statuses.loaded }">
                    <!-- ko if: status() == $parent.statuses.loaded -->
                    <div class="library-list-item-thumbnail" data-bind="style: { backgroundImage: 'url(' + thumbnailUrl() + ')' }">
                        <span class="play-icon"></span>
                        <!-- ko ifnot: isDeleteConfirmationShown -->
                        <div class="list-item-context-actions-wrapper">
                            <div class="list-item-context-action info-tooltip-holder delete" data-bind="stopEventPropagation: { event: 'click'}, click: $parent.showDeleteVideoConfirmation">
                                <div class="info-tooltip">
                                    <span data-bind="localize: { text: 'delete' }"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko-->
                    <!-- ko if: status() == $parent.statuses.failed -->
                    <div class="library-list-item-thumbnail error">
                        <span class="library-upload-error-image"></span>
                        <span class="library-upload-error-title" data-bind="localize: { text: 'videoUploadShortError' }"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == $parent.statuses.inProgress -->
                    <div class="library-list-item-thumbnail uploading">
                        <canvas width="70" height="70" class="circle-progress" data-bind="circleProgress: { progress: progress, lineWidth: 2 }"></canvas>
                        <span class="library-uploading-progress" data-bind="text: progress() + '%'"></span>
                    </div>
                    <!-- /ko -->
                    <div class="library-list-item-title-container">
                        <span class="library-list-item-title" data-bind="limitedLengthText: { text: title, maxLength: 40 }, attr: { title: title }"></span>
                    </div>
                    <div class="library-list-item-delete-confirmation" data-bind="css: {shown: isDeleteConfirmationShown}">
                        <!-- ko ifnot: isDeleting() -->
                        <div class="library-list-item-delete-confirmation-content-wrapper">
                            <div class="library-list-item-delete-confirmation-content">
                                <div class="library-list-item-delete-confirmation-text" data-bind="localize: { text: 'videoDeleteConfirmation'}"></div>
                                <div class="library-list-item-delete-confirmation-actions">
                                    <button class="library-list-item-delete-confirmation-action delete btn red small" data-bind="stopEventPropagation: { event: 'click'}, click: $parent.deleteVideo">
                                        <span class="btn-caption" data-bind="localize: { text: 'delete' }"></span>
                                    </button>
                                    <button class="library-list-item-delete-confirmation-action cancel btn white small" data-bind="stopEventPropagation: { event: 'click'}, click: $parent.hideDeleteVideoConfirmation">
                                        <span class="btn-caption" data-bind="localize: { text: 'cancel' }"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="library-list-item-delete-confirmation-hint">
                            <span class="library-list-item-delete-confirmation-hint-warning" data-bind="localize: { text: 'warning'}"></span>:&nbsp;
                            <span data-bind="localize: { text: 'videoDeleteWarning'}"></span>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: isDeleting() -->
                        <div data-bind="preloader: { type: 'circular', settings: 'big orange align-center' }"></div>
                        <!-- /ko -->
                    </div>
                </li>
                <!-- /ko -->

            </ul>

            <!-- ko compose: 'dialogs/video/video' --><!-- /ko -->
        </div>
    </div>
</section>
