<section class="videos">
    <div class="content-section-wrapper">
        <div class="content-section">
            <ul class="video-list">

                <li class="video-list-item add-video-button" data-bind="click: addVideo">
                    <div class="free-space-section" data-bind="visible: storageSpaceProgressBarVisibility">
                        <span class="free-space-info">
                            <span class="free-space-info-title" data-bind="localize: { text: 'freeSpace' }"></span>
                            <span class="free-space-info-value" data-bind="text: availableStorageSpace"></span>
                        </span>
                        <span class="free-space-progress-bar">
                            <span class="free-space-progress-bar-value" data-bind="style: { width: availableStorageSpacePersentages() + '%' }"></span>
                        </span>
                    </div>
                </li>

                <!-- ko ifnot: videos().length -->
                <li class="add-video-button-description">
                    <span class="tip-arrow-text" data-bind="localize: { text : 'uploadVideoDescription' }">Upload your own video by click on this button</span>
                </li>
                <!-- /ko -->
                <!-- ko foreach: videos -->
                <li class="video-list-item" data-bind="click: $parent.showVideoPopup, css: { hovered: status() == $parent.statuses.loaded }">
                    <!-- ko if: status() == $parent.statuses.loaded -->
                    <div class="video-list-item-thumbnail" data-bind="style: { backgroundImage: 'url(' + thumbnailUrl() + ')' }">
                        <span class="play-icon"></span>
                    </div>
                    <!-- /ko-->
                    <!-- ko if: status() == $parent.statuses.failed -->
                    <div class="video-list-item-thumbnail error">
                        <span class="video-upload-error-image"></span>
                        <span class="video-upload-error-title" data-bind="localize: { text: 'videoUploadShortError' }"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: status() == $parent.statuses.inProgress -->
                    <div class="video-list-item-thumbnail uploading">
                        <canvas width="70" height="70" class="circle-progress" data-bind="circleProgress: { progress: progress, lineWidth: 2 }"></canvas>
                        <span class="video-uploading-progress" data-bind="text: progress() + '%'"></span>
                    </div>
                    <!-- /ko -->
                    <div class="video-list-item-title-container">
                        <span class="video-list-item-title" data-bind="limitedLengthText: { text: title, maxLength: 40 }, attr: { title: title }"></span>
                    </div>
                </li>
                <!-- /ko -->

            </ul>

            <!-- ko compose: 'dialogs/video/video' --><!-- /ko -->
        </div>
    </div>
</section>
