<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org">

<head>
    <title ng-bind="$root.title"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=800,maximum-scale=1.0">

    <!-- build:css(src) css/vendor.css -->
    <link href="vendor/easygenerator-plugins/dist/styles.css" rel="stylesheet"/>
    <link href="vendor/angular-dragula/dist/dragula.css" rel="stylesheet" />
    <!-- endbuild -->

    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="main-app">
        <div class="container" ng-view autoscroll="true"></div>
        <div ng-hide="$root.isVisible" class="loader-container image-loader-icon">
            <div class="color-ball red">&nbsp;</div>
            <div class="color-ball green">&nbsp;</div>
            <div class="color-ball blue">&nbsp;</div>
            <div class="color-ball yellow">&nbsp;</div>
        </div>

        <div ng-controller="ImagePreviewController as preview">

            <div class="overlay-container" ng-style="{'display' : preview.visible? 'block': 'none'}">
                <div class="overlay" ng-click="preview.hide()">
                </div>
                <div class="center-containter">
                    <div class="center">
                        <div class="center-content">
                            <div class="image-containter">
                                <div class="image-wrapper" image-fullscreen-preview ng-transclude>
                                    <image-loader url="preview.imageUrl" width="preview.width" height="preview.height"></image-loader>
                                </div>
                                <div class="overlay-close-button-container">
                                    <a class="overlay-close-button" ng-click="preview.hide()"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer></footer>
    </div>

    <!-- build:js(src) app/vendor.js  -->
    <script src="vendor/components-webfontloader/webfontloader.js"></script>
    <script src="vendor/easygenerator-plugins/dist/plugins.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="vendor/underscore/underscore-min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/tincan/build/tincan.js"></script>
    <script src="vendor/scriptjs/dist/script.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="vendor/autosize/dist/autosize.js"></script>
    <script src="vendor/angular-dragula/dist/angular-dragula.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
        supportedBrowser.configure({
            browsers: {
                win: {
                    chrome: {},
                    firefox: {},    
                    msie: {},
                    edge: {}
                },
                mac: {
                    safari: {},
                    chrome: {},
                    firefox: {}
                },
                android: {
                    native: {
                        title: 'Android Browser',
                        image: 'css/img/browsers/android.png'
                    },
                    chrome: {
                        version: 39
                    }
                },
                ios: {
                    safari: {},
                    chrome: {}
                }
            },
            mainAppContainerId: 'main-app',
            globalBrowsersInfo: {
                chrome: {
                    title: 'Google Chrome',
                    link: 'http://www.google.com/chrome',
                    image: 'css/img/browsers/chrome.png',
                    version: 43
                },
                firefox: {
                    title: 'Mozilla Firefox',
                    link: 'http://www.mozilla.com/firefox',
                    image: 'css/img/browsers/firefox.png',
                    version: 33
                },
                msie: {
                    title: 'Internet Explorer',
                    link: 'http://windows.microsoft.com/en-US/internet-explorer/download-ie',
                    image: 'css/img/browsers/ie.png',
                    version: 11
                },
                edge: {
                    title: 'Microsoft Edge',
                    link: 'https://www.microsoft.com/en-us/windows/microsoft-edge',
                    image: 'css/img/browsers/edge.png'
                },
                safari: {
                    title: 'Apple Safari',
                    link: 'http://www.apple.com/safari',
                    image: 'css/img/browsers/safari.png'
                }
            }
        }).init();
    </script>

    <!-- build:js(src) app/app.js  -->
    <script src="app/app.js" type="text/javascript"></script>

    <script src="app/factories/eventPublisher.js"></script>

    <script src="app/data/models/Assessment.js"></script>
    <script src="app/data/models/Question.js"></script>
    <script src="app/data/models/SingleSelectText.js"></script>
    <script src="app/data/models/MultipleSelectText.js"></script>
    <script src="app/data/models/SingleSelectImage.js"></script>
    <script src="app/data/models/DragAndDropText.js"></script>
    <script src="app/data/models/TextMatching.js"></script>
    <script src="app/data/models/Statement.js"></script>
    <script src="app/data/models/FillInTheBlanks.js"></script>
    <script src="app/data/models/OpenQuestion.js"></script>
    <script src="app/data/models/ScenarioQuestion.js"></script>
    <script src="app/data/models/RankingText.js"></script>
    <script src="app/data/models/Hotspot.js"></script>
    <script src="app/data/models/Section.js"></script>
    <script src="app/data/models/LearningContent.js"></script>

    <script src="app/controllers/viewmodels/DragAndDropTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/QuestionViewModel.js"></script>
    <script src="app/controllers/viewmodels/SingleSelectImageViewModel.js"></script>
    <script src="app/controllers/viewmodels/SingleSelectTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/MultipleSelectTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/StatementViewModel.js"></script>
    <script src="app/controllers/viewmodels/TextMatchingViewModel.js"></script>
    <script src="app/controllers/viewmodels/FillInTheBlanksViewModel.js"></script>
    <script src="app/controllers/viewmodels/HotspotViewModel.js"></script>
    <script src="app/controllers/viewmodels/OpenQuestionViewModel.js"></script>
    <script src="app/controllers/viewmodels/ScenarioQuestionViewModel.js"></script>
    <script src="app/controllers/viewmodels/RankingTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/HintViewModel.js"></script>

    <script src="app/data/queries/sectionsQueries.js" type="text/javascript"></script>
    <script src="app/data/dataContext.js" type="text/javascript"></script>

    <script src="app/factories/imagePreviewFactory.js"></script>
    <script src="app/factories/questionsFactory.js"></script>
    <script src="app/factories/questionDataProcessor.js"></script>
    <script src="app/factories/viewmodelsFactory.js"></script>

    <script src="app/filters/leadingZeros.js"></script>
    <script src="app/filters/time.js"></script>
    
    <script src="app/services/attemptsLimiter.js"></script>
    <script src="app/services/timer.js"></script>
    <script src="app/services/htmlContentLoader.js"></script>
    <script src="app/services/questionPool.js"></script>

    <script src="app/providers/settingsProvider.js"></script>
    <script src="app/providers/htmlTemplatesCacheProvider.js"></script>
    <script src="app/providers/userProvider.js"></script>

    <script src="app/directives/widgets/tooltip.js"></script>
    <script src="app/directives/widgets/radio.js"></script>
    <script src="app/directives/widgets/checkbox.js"></script>
    <script src="app/directives/widgets/progressControl.js"></script>
    <script src="app/directives/widgets/imageLoader.js"></script>
    <script src="app/directives/widgets/imageFullscreenPreview.js"></script>
    <script src="app/directives/widgets/clickableArea.js"></script>

    <script src="app/directives/statement.js"></script>
    <script src="app/directives/textMatching.js"></script>
    <script src="app/directives/singleSelectImage.js"></script>
    <script src="app/directives/rankingText.js"></script>
    <script src="app/directives/scrollControl.js"></script>

    <script src="app/directives/adjustDropspotWidth.js"></script>
    <script src="app/directives/draggable.js"></script>
    <script src="app/directives/droppable.js"></script>
    <script src="app/directives/background.js"></script>
    <script src="app/directives/blankInput.js"></script>
    <script src="app/directives/blankSelect.js"></script>
    <script src="app/directives/styledContent.js"></script>

    <script src="app/directives/entireHeight.js"></script>
    <script src="app/directives/slideToggle.js"></script>
    <script src="app/directives/showToggle.js"></script>
    <script src="app/directives/htmlCompile.js"></script>
    <script src="app/directives/autosize.js"></script>
    <script src="app/directives/mainBackground.js"></script>
    <script src="app/directives/hint.js"></script>
    <script src="app/directives/timer.js"></script>

    <script src="app/controllers/ImagePreviewController.js"></script>
    <script src="app/controllers/MainController.js"></script>
    <script src="app/controllers/SummaryController.js"></script>
    <script src="app/controllers/NotFoundErrorController.js"></script>

    <script src="app/modules/xApi/xApi.js" type="text/javascript"></script>
    <script src="app/modules/xApi/controllers/XApiErrorController.js" type="text/javascript"></script>
    <script src="app/modules/xApi/controllers/XApiLoginController.js" type="text/javascript"></script>
    <script src="app/modules/xApi/directives/courseTitle.js" type="text/javascript"></script>
    <script src="app/modules/xApi/directives/loginLeaveAnimation.js" type="text/javascript"></script>
    <script src="app/modules/xApi/xApi/configuration/interactionTypes.js"></script>
    <script src="app/modules/xApi/xApi/configuration/settings.js"></script>
    <script src="app/modules/xApi/xApi/configuration/supportedQuestionTypes.js"></script>
    <script src="app/modules/xApi/xApi/configuration/verbs.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/dragAndDropTextDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/fillInTheBlanksDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/hotspotDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/multipleChoiceDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/openQuestionDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/singleChoiceDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/singleChoiceImageDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/statementDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/textMatchingDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/scenarioQuestionDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/rankingTextDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/questionDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/courseDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/sectionDataBulder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/learningContentDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/dataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/utils/dateTimeConverter.js"></script>
    <script src="app/modules/xApi/xApi/errorsHandler.js"></script>
    <script src="app/modules/xApi/xApi/eventsHandler.js"></script>
    <script src="app/modules/xApi/xApi/requestManager.js"></script>
    <script src="app/modules/xApi/xApi/statementsStorage.js"></script>
    <script src="app/modules/xApi/xApi/xApiManager.js"></script>
    
    <script src="app/modules/progressStoring/progressStorer.js"></script>
    
    <script src="app/modules/publishSettings/publishSettings.js" type="text/javascript"></script>
    <script src="app/modules/publishSettings/services/publishModulesInitializer.js" type="text/javascript"></script>
    <script src="app/modules/publishSettings/providers/publishSettingsProvider.js" type="text/javascript"></script>
    <script src="app/modules/publishSettings/providers/publishModulesProvider.js" type="text/javascript"></script>

    <script src="app/modules/bootstrapping/bootstrapping.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/services/webFontLoaderService.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/services/fileReadingService.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/services/publishModuleLoader.js" type="text/javascript"></script>
   
    <script src="app/modules/bootstrapping/tasks/detectDevice.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/loadFonts.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/readSettings.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/readPublishSettings.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/preloadImages.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/preloadHtml.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/authentication.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/starter.js" type="text/javascript"></script>
   
    <!-- endbuild -->
</body>

</html>
