<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org">

<head>
    <title ng-bind="$root.title"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=800,maximum-scale=1.0">

    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="main-app">
        <div class="container" ng-view autoscroll="true"></div>
        <div ng-hide="$root.isVisible" class="loader-container image-loader-icon">
            <div class="color-ball red">&nbsp;</div>
            <div class="color-ball green">&nbsp;</div>
            <div class="color-ball blue">&nbsp;</div>
            <div class="color-ball yellow">&nbsp;</div>
        </div>

        <div ng-controller="ImagePreviewController as preview">

            <div class="overlay-container" ng-style="{'display' : preview.visible? 'block': 'none'}">
                <div class="overlay" ng-click="preview.hide()">
                </div>
                <div class="center-containter">
                    <div class="center">
                        <div class="center-content">
                            <div class="image-containter">
                                <div class="image-wrapper" image-fullscreen-preview ng-transclude>
                                    <image-loader url="preview.imageUrl" width="preview.width" height="preview.height"></image-loader>
                                </div>
                                <div class="overlay-close-button-container">
                                    <a class="overlay-close-button" ng-click="preview.hide()"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer></footer>
    </div>

    <div id="not-supported-page" style="display:none">
        <table class="bg-table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="top-bg">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <div class="toothed-bg">&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td class="bottom-bg">&nbsp;</td>
            </tr>
        </table>
        <table class="markup-table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="3" class="eg-logo-wrapper">
                    <div class="eg-logo">&nbsp;</div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="content-cell">
                    <div class="content">
                        <h1 class="page-caption">Your browser is currently not supported</h1>
                        <p class="page-caption-description">Don't worry, there is an easy fix. All you have to do is click one of the icons below and follow the instructions.</p>
                        <table class="supported-browsers-group" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>&nbsp;</td>
                                <td class="supported-browser-item chrome">
                                    <a href="http://www.google.com/chrome" class="download-browser-link" target="_blank">
                                        <img class="browser-image" src="css/img/notSupportedPage/chrome.png" alt="">
                                        <p>
                                            <span class="browser-title">google chrome</span>
                                        </p>
                                    </a>
                                </td>
                                <td class="supported-browser-item chrome-mac">
                                    <a href="https://www.google.com/chrome/browser/desktop/" class="download-browser-link" target="_blank">
                                        <img class="browser-image" src="css/img/notSupportedPage/chrome.png" alt="">
                                        <p>
                                            <span class="browser-title">google chrome</span>
                                        </p>
                                    </a>
                                </td>
                                <td class="supported-browser-item chrome-mobile">
                                    <a href="https://play.google.com/store/apps/details?id=com.android.chrome&pcampaignid=website" class="download-browser-link" target="_blank">
                                        <img class="browser-image" src="css/img/notSupportedPage/chrome.png" alt="">
                                        <p>
                                            <span class="browser-title">google chrome</span>
                                        </p>
                                    </a>
                                </td>
                                <td class="supported-browser-item firefox">
                                    <a href="http://www.mozilla.com/firefox" class="download-browser-link" target="_blank">
                                        <img class="browser-image" src="css/img/notSupportedPage/firefox.png" alt="">
                                        <p>
                                            <span class="browser-title">mozilla firefox</span>
                                        </p>

                                    </a>
                                </td>
                                <td class="supported-browser-item safari">
                                    <a href="http://www.apple.com/safari/" class="download-browser-link" target="_blank">
                                        <img class="browser-image" src="css/img/notSupportedPage/safari.png" alt="">
                                        <p>
                                            <span class="browser-title">apple safari</span>
                                        </p>
                                    </a>
                                </td>
                                <td class="supported-browser-item ie">
                                    <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie" class="download-browser-link" target="_blank">
                                        <img class="browser-image" src="css/img/notSupportedPage/ie.png" alt="">
                                        <p>
                                            <span class="browser-title">internet explorer</span>
                                        </p>
                                    </a>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                        <div class="try-anyway-wrapper">
                            <span>or </span>
                            <a href="" id="skip-not-supported-page" class="try-anyway">let me try it anyway...</a>
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <div class="bottom-aligner">&nbsp;</div>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>

    <!-- Check browser support -->
    <script type="text/javascript">
        var browserSupport = browserSupportProvider();

        if (!browserSupport.isSupportedMobile && !browserSupport.isSupportedBrowser) {
            getById('main-app').style.display = 'none';
            document.getElementsByTagName("html")[0].style.height = '100%';
            document.getElementsByTagName("body")[0].style.height = '100%';

            var view = getById('not-supported-page');
            view.style.display = 'block';

            if (browserSupport.isIos || browserSupport.isAndroid) {
                view.className += ' mobile';
                view.className += browserSupport.isIos ? ' ios' : ' android';
            } else {
                view.className += browserSupport.isMac ? 'mac' : 'windows';
            }
            bindSkip('skip-not-supported-page');
        }

        function browserSupportProvider() {

            var ua = navigator.userAgent.toLowerCase();

            var browserSupport = {
                isSupportedMobile: null,
                isSupportedBrowser: null,
                isIos: null,
                isMac: null,
                isAndroid: null
            };

            function initialize() {
                var browserInfo = getBrowserInfo();
                browserSupport.isSupportedMobile = isSupportedMobile();
                browserSupport.isSupportedBrowser = isSupportedBrowser(browserInfo);
                browserSupport.isIos = isIos();
                browserSupport.isMac = isMac();
                browserSupport.isAndroid = isAndroid();
                return browserSupport;
            };

            function getBrowserInfo() {
                var N = navigator.appName,
                    tem,
                    M = ua.match(/(chrome|safari|firefox|msie)\/?\s*([\d\.]+)/i) || [];

                M = M[2] ? [M[1], M[2]] : [N, navigator.appVersion, '-?'];
                if (M && (tem = ua.match(/version\/([\.\d]+)/i)) != null) M[2] = tem[1];

                var browser = M[0].toLowerCase();
                var version = parseInt(M[1], 10);

                return {
                    browser: browser,
                    version: version
            };
            };

            function isIos() {
                return /(iPad|iPhone|iPod)/g.test(navigator.userAgent);
            }

            function isMac() {
                return ua.indexOf('macintosh') != -1 || ua.indexOf('mac os') != -1;
            }

            function isAndroid() {
                return ua.indexOf('android') != -1;
            }

            function isSupportedMobile() {
                if (isIos()) {
                    var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
                    if (parseInt(v[1], 10) >= 6 && ua.indexOf("opera") == -1 && ua.indexOf("firefox") == -1 && ua.indexOf("chrome") == -1 && ua.indexOf('crios') == -1) {
                        return true;
                    }
                }

                //Android is supported but not chrome, opera or firefox
                if (isAndroid() &&
                    ua.indexOf("opera") == -1 &&
                    ua.indexOf("firefox") == -1 &&
                    parseFloat(ua.slice(ua.indexOf("android") + 8)) > 2.2) {
                    return true;
                }

                return false;
            };

            function isSupportedBrowser(browserInfo) {
                if (isIos() || isAndroid()) {
                    return false;
                }

                //Mac OS only Safary
                if (isMac()) {
                    if (ua.indexOf('opera') != -1 || ua.indexOf('firefox') != -1) {
                        return false;
                    }
                    return true;
                }
                // Opera is not supported
                if (navigator.appName.toLowerCase() == "opera" || navigator.userAgent.indexOf("OPR") != -1)
                    return false;

                //Chrome 28+, Firefox 22+, Safari 5+ are supported
                var browser = browserInfo.browser;
                var version = browserInfo.version;

                if (browser == "chrome" && version >= 28 ||
                        browser == "firefox" && version >= 22)
                    return true;

                // IE 11 is supported
                if (ua.indexOf('rv:11.0') != -1) {
                    return true;
                }

                return false;
            };

            return initialize();
        };

        function getById(id) {
            return document.getElementById(id);
        }

        function bindSkip(id) {
            getById(id).onclick = function () {
                document.getElementsByTagName("html")[0].style.height = '';
                document.getElementsByTagName("body")[0].style.height = '';

                getById('not-supported-page').style.display = 'none';
                getById('main-app').style.display = '';
            }
        }
    </script>
    <!-- endCheck -->

    <!-- build:js(src) app/vendor.js  -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendor/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="vendor/underscore/underscore-min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="vendor/components-webfontloader/webfont.js"></script>
    <script src="vendor/tincan/build/tincan.js"></script>
    <script src="vendor/scriptjs/dist/script.js"></script>
    <script src="vendor/angular-translate/angular-translate.js"></script>
    <script src="vendor/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="vendor/autosize/dist/autosize.js"></script>
    <script src="vendor/easygenerator-hotspot-on-an-image-plugin/hotspotOnAnImagePlugin.js"></script>
    <!-- endbuild -->

    <!-- build:js(src) app/app.js  -->
    <script src="app/app.js" type="text/javascript"></script>

    <script src="app/factories/eventPublisher.js"></script>

    <script src="app/data/models/Quiz.js"></script>
    <script src="app/data/models/Question.js"></script>
    <script src="app/data/models/SingleSelectText.js"></script>
    <script src="app/data/models/MultipleSelectText.js"></script>
    <script src="app/data/models/SingleSelectImage.js"></script>
    <script src="app/data/models/DragAndDropText.js"></script>
    <script src="app/data/models/TextMatching.js"></script>
    <script src="app/data/models/Statement.js"></script>
    <script src="app/data/models/FillInTheBlanks.js"></script>
    <script src="app/data/models/OpenQuestion.js"></script>
    <script src="app/data/models/Hotspot.js"></script>
    <script src="app/data/models/Objective.js"></script>
    <script src="app/data/models/LearningContent.js"></script>

    <script src="app/controllers/viewmodels/DragAndDropTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/QuestionViewModel.js"></script>
    <script src="app/controllers/viewmodels/SingleSelectImageViewModel.js"></script>
    <script src="app/controllers/viewmodels/SingleSelectTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/MultipleSelectTextViewModel.js"></script>
    <script src="app/controllers/viewmodels/StatementViewModel.js"></script>
    <script src="app/controllers/viewmodels/TextMatchingViewModel.js"></script>
    <script src="app/controllers/viewmodels/FillInTheBlanksViewModel.js"></script>
    <script src="app/controllers/viewmodels/HotspotViewModel.js"></script>
    <script src="app/controllers/viewmodels/OpenQuestionViewModel.js"></script>
    <script src="app/controllers/viewmodels/HintViewModel.js"></script>

    <script src="app/data/queries/objectivesQueries.js" type="text/javascript"></script>
    <script src="app/data/dataContext.js" type="text/javascript"></script>

    <script src="app/filters/leadingZeros.js"></script>

    <script src="app/factories/imagePreviewFactory.js"></script>
    <script src="app/providers/settingsProvider.js"></script>
    <script src="app/providers/htmlTemplatesCacheProvider.js"></script>

    <script src="app/directives/widgets/tooltip.js"></script>
    <script src="app/directives/widgets/radio.js"></script>
    <script src="app/directives/widgets/checkbox.js"></script>
    <script src="app/directives/widgets/progressControl.js"></script>
    <script src="app/directives/widgets/imageLoader.js"></script>
    <script src="app/directives/widgets/imageFullscreenPreview.js"></script>
    <script src="app/directives/widgets/clickableArea.js"></script>

    <script src="app/directives/statement.js"></script>
    <script src="app/directives/textMatching.js"></script>
    <script src="app/directives/singleSelectImage.js"></script>
    <script src="app/directives/scrollControl.js"></script>

    <script src="app/directives/adjustDropspotWidth.js"></script>
    <script src="app/directives/draggable.js"></script>
    <script src="app/directives/droppable.js"></script>
    <script src="app/directives/background.js"></script>
    <script src="app/directives/blankInput.js"></script>
    <script src="app/directives/blankSelect.js"></script>
    <script src="app/directives/styledContent.js"></script>

    <script src="app/directives/entireHeight.js"></script>
    <script src="app/directives/slideToggle.js"></script>
    <script src="app/directives/showToggle.js"></script>
    <script src="app/directives/htmlCompile.js"></script>
    <script src="app/directives/autosize.js"></script>
    <script src="app/directives/mainBackground.js"></script>
    <script src="app/directives/hint.js"></script>

    <script src="app/controllers/ImagePreviewController.js"></script>
    <script src="app/controllers/MainController.js"></script>
    <script src="app/controllers/SummaryController.js"></script>
    <script src="app/controllers/NotFoundErrorController.js"></script>

    <script src="app/modules/xApi/xApi.js" type="text/javascript"></script>
    <script src="app/modules/xApi/controllers/XApiErrorController.js" type="text/javascript"></script>
    <script src="app/modules/xApi/controllers/XApiLoginController.js" type="text/javascript"></script>
    <script src="app/modules/xApi/directives/courseTitle.js" type="text/javascript"></script>
    <script src="app/modules/xApi/directives/loginLeaveAnimation.js" type="text/javascript"></script>
    <script src="app/modules/xApi/xApi/configuration/interactionTypes.js"></script>
    <script src="app/modules/xApi/xApi/configuration/settings.js"></script>
    <script src="app/modules/xApi/xApi/configuration/supportedQuestionTypes.js"></script>
    <script src="app/modules/xApi/xApi/configuration/verbs.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/dragAndDropTextDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/fillInTheBlanksDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/hotspotDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/multipleChoiceDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/openQuestionDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/singleChoiceDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/singleChoiceImageDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/statementDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/textMatchingDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/questionDataBuilder/questionDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/courseDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/objectiveDataBulder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/learningContentDataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/dataBuilders/dataBuilder.js"></script>
    <script src="app/modules/xApi/xApi/utils/dateTimeConverter.js"></script>
    <script src="app/modules/xApi/xApi/errorsHandler.js"></script>
    <script src="app/modules/xApi/xApi/eventsHandler.js"></script>
    <script src="app/modules/xApi/xApi/requestManager.js"></script>
    <script src="app/modules/xApi/xApi/statementsStorage.js"></script>
    <script src="app/modules/xApi/xApi/xApiManager.js"></script>
    
    <script src="app/modules/publishSettings/publishSettings.js" type="text/javascript"></script>  
    <script src="app/modules/publishSettings/services/publishModuleLoader.js" type="text/javascript"></script>
    <script src="app/modules/publishSettings/services/publishModulesInitializer.js" type="text/javascript"></script>
    <script src="app/modules/publishSettings/providers/publishSettingsProvider.js" type="text/javascript"></script>

    <script src="app/modules/bootstrapping/bootstrapping.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/services/webFontLoaderService.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/services/fileReadingService.js" type="text/javascript"></script>
   
    <script src="app/modules/bootstrapping/tasks/detectDevice.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/loadFonts.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/readSettings.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/readPublishSettings.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/preloadImages.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/tasks/preloadHtml.js" type="text/javascript"></script>
    <script src="app/modules/bootstrapping/starter.js" type="text/javascript"></script>
   
    <!-- endbuild -->
</body>

</html>
