@using ViewsResources

<div class="not-supported-device-page ">
    <table class="bg-table" border="0" cellpadding="0" cellspacing="0">
        <tr><td class="top-bg">&nbsp;</td></tr>
        <tr><td><div class="toothed-bg">&nbsp;</div></td></tr>
        <tr><td class="bottom-bg">&nbsp;</td></tr>
    </table>
    <table class="markup-table" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" class="eg-logo-wrapper">
                <div class="eg-logo-background">
                    <div class="eg-logo">&nbsp;</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="content-cell">
                <div class="content-item">
                    <h1 class="page-caption-device">@Resources.NotSupportedDeviceTitle</h1>
                    <p class="page-caption-description-device">@Resources.NotSupportedDeviceDescription <a href="http://help.easygenerator.com/en-us/starter-and-plus-edition/easygenerator/facts/supported-browsers" target="_blank">here</a></p>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <div class="bottom-aligner">&nbsp;</div>
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>

