.login .container {
    margin-top: 50px;
}

.module-experienceapi {
    margin-bottom: 109px;
}

.xapi-title {
    padding: 16px 20px 12px;
    vertical-align: middle;
}

    .xapi-title span {
        vertical-align: top;
    }

    .xapi-title:before {
        content: url(img/graphChart.png?v=quiz);
        display: block;
        width: 32px;
        height: 35px;
        float: left;
        margin-right: 15px;
        opacity: 0.85;
    }

.xapi-form-holder {
    position: relative;
    padding-top: 150px;
    padding-bottom: 35px;
    width: 60%;
    min-width: 540px;
    margin: 0 auto;
}

.xapi-form-info-message {
    width: 100%;
    position: absolute;
    top: 20px;
    padding: 28px 20px;
    background: #fefefe;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    cursor: default;
}

.xapi-form-info-text {
    display: block;
    line-height: 1.5;
    position: relative;
    color: #555555;
    padding-left: 51px;
    word-wrap: break-word;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

    .xapi-form-info-text:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -16px;
        height: 32px;
        width: 32px;
        background: url(img/info-message.png?v=quiz);
    }

.xapi-form-row {
    height: 100px;
    display: table;
    width: 100%;
}

.xapi-form-row-left {
    display: table-cell;
    vertical-align: middle;
    width: 37%;
}

.xapi-form-row-title {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 32px;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

    .xapi-form-row-title:after {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        width: 22px;
        height: 22px;
        background: url(img/icons-xApi.png?v=quiz) no-repeat;
    }

.email .xapi-form-row-title:after {
    background-position: 0 -6px;
}

.name .xapi-form-row-title:after {
    background-position: 0 -35px;
}

.xapi-form-row-right {
    display: table-cell;
    vertical-align: middle;
    width: 62%;
}

.xapi-form-input-holder {
    position: relative;
    padding: 6px 40px 6px 20px;
    height: 65px;
}

.xapi-form-input {
    display: block;
    position: relative;
    max-width: 340px;
    height: 24px;
    width: 100%;
    top: 13px;
    left: 0;
    right: 40px;
    border: none;
    color: #191919;
    font-size: 16px;
}

    .xapi-form-input:focus,
    .xapi-form-input:active {
        outline: none;
    }

.xapi-form-input-wrapper {
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 40px 12px 20px;
    background: #fff;
    border: solid 1px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: text;
}

    .xapi-form-input-wrapper:hover,
    .xapi-form-input-wrapper.hover {
        outline: none;
        -webkit-box-shadow: 0 0 3px #dedede;
        -moz-box-shadow: 0 0 3px #dedede;
        box-shadow: 0 0 3px #dedede;
    }

    .xapi-form-input-wrapper.focus {
        outline: none;
        border: solid 1px #00a8ff;
        -webkit-box-shadow: 0 0 2px #00a8ff;
        -moz-box-shadow: 0 0 2px #00a8ff;
        box-shadow: 0 0 2px #00a8ff;
    }

.xapi-form-row.error .xapi-form-input-wrapper {
    border: solid 1px #953b39;
    -webkit-box-shadow: 0 0 2px #953b39;
    -moz-box-shadow: 0 0 2px #953b39;
    box-shadow: 0 0 2px #953b39;
}

.xapi-form-message {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding-left: 21px;
    margin-top: -7px;
    font-size: 13px;
}

.xapi-form-row.error .xapi-form-message {
    display: block;
    color: #953b39;
    text-align: left;
}

.xapi-form-message:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    display: block;
    width: 11px;
    height: 11px;
    font-size: 12px;
    background: url(img/icons-xApi.png?v=quiz) -6px -67px;
}

.summary-btn-holder .btn {
    font-size: 20px;
}

.link.default {
    margin: 18px;
    font-size: 18px;
    border-bottom: 1px solid #3a87ad;
    color: #3a87ad;
    cursor: pointer;
}

    .link.default:hover {
        color: #2e6b89;
    }