<div class="course-collaborators-wrapper">
    <ul class="course-collaborators-list">
        <!-- ko foreach: members -->
        <li class="course-collaborator-item-wrapper">
            <div class="course-collaborator-item" data-bind="css: { 'course-owner': isOwner }">
                <div class="user-avatar course-collaborator-item-user-avatar" data-bind="text: avatarLetter"></div>
                <div class="course-collaborator-tooltip-wrapper">
                    <div class="course-collaborator-tooltip">
                        <span class="course-collaborator-tooltip-text" data-bind="text: displayName"></span>
                    </div>
                </div>
            </div>
        </li>
        <!-- /ko -->
        <!-- ko if: canAddMember -->
        <li class="course-collaborator-item-wrapper add-btn">
            <div class="course-collaborator-item add-btn">
                <div class="user-avatar course-collaborator-add-btn" data-bind="click: addMember">&nbsp;</div>
                <div class="course-collaborator-tooltip-wrapper">
                    <div class="course-collaborator-tooltip">
                        <span class="course-collaborator-tooltip-text" data-bind="localize: { text: 'addCollaborator' }"></span>
                    </div>
                </div>
            </div>
            <!-- ko compose: addMemberDialog--><!--/ko-->
        </li>
        <!-- /ko -->
    </ul>
</div>