<div class="summary" ng-init="scrollToTop()">
    <header class="app-header">
        <img class="main-logo" ng-src="{{ summary.logoUrl }}">
        <span class="vertical-align-helper"></span>
    </header>
    <div class="summary-header">
        <span class="main-background"></span>
        <div class="summary-header-content">
            <div class="header-title-container">
                <div class="header-assessment-label">{{ '[assessment]' | translate }}</div>
                <div class="header-assessment-title">&quot;{{ summary.title }}&quot;</div>
                <div class="header-questions-label">{{ summary.questions.length }} {{ '[questions]' | translate }}</div>
            </div>
            <div class="progress-control-container">
                <progress-control class="progress-control" progress="summary.progress" mastery-score="summary.masteryScore"></progress-control>
            </div>
            <div class="summary-buttons">
                <div class="summary-button-container" ng-if="!summary.singleAttempt">
                    <button class="summary-button button large emphasize" ng-disabled="!summary.canTryAgain" ng-class="{ primary:!summary.reachMasteryScore, default:summary.reachMasteryScore, disabled: !summary.canTryAgain }" ng-click="summary.tryAgain()">
                        <span class="text-wrapper">
                            {{ '[try again]' | translate }}
                        </span>
                    </button>
                    <div class="summary-retry-notification-container" ng-show="summary.attemptsLimited">
                        <span class="summary-retry-notification" ng-show="!summary.canTryAgain">{{ '[attempts note limit acceeded]' | translate }}</span>
                        <span class="summary-retry-notification" ng-show="summary.canTryAgain">
                            {{ '[attempts remaining]' | translate }}&nbsp;{{ summary.availableAttemptCount }}
                        </span>
                    </div>
                </div>
                <div class="summary-button-container">
                    <button class="summary-button button large emphasize" ng-class="{ primary:summary.reachMasteryScore || !summary.canTryAgain || summary.singleAttempt, default:!summary.reachMasteryScore }" ng-click="summary.finish()">
                        <span class="text-wrapper">
                            {{ '[finish course]' | translate }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="summary-questions">
        <div class="summary-questions-container">
            <div class="questions-title">{{ '[summary page questions list title]' | translate }}</div>
            <ul class="questions unstyled">
                <li class="question-item" ng-repeat="question in summary.questions" ng-class="{ correct: question.isCorrect, survey: question.isSurvey }">
                    <div class="question-number-cell">
                        <div class="question-number-container">
                            <span class="question-number">{{ $index + 1 | leadingZeros: 2 }}</span>
                        </div>
                    </div>
                    <div class="question-title-cell">{{ question.title }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="blockout" ng-class="{ active: summary.finished }"></div>
<div class="request-loader-container" ng-show="summary.isSendingRequest">
    <div class="request-loader">
        <span class="request-loader-text">{{ '[tracking and tracing reporting progress]' | translate }}</span>
    </div>
</div>
