<div class="form-actions">
    <!-- ko if: isValid -->
    <a href="" class="link-create" data-bind="click: saveAndNew">
        <span class="link-create-text" data-bind="localize: { text: 'createAndNew' }"></span>
    </a>
    <div type="submit" class="btn-create" data-bind="click: saveAndOpen">
        <span class="btn-create-text" data-bind="localize: { text: 'createAndEdit' }"></span>
    </div>
    <!-- /ko -->
    <!-- ko ifnot: isValid -->
    <div class="link-create disabled">
        <span class="link-create-text" data-bind="localize: { text: 'createAndNew' }"></span>
    </div>
    <div class="btn-create disabled">
        <span class="btn-create-text" data-bind="localize: { text: 'createAndEdit' }"></span>
    </div>
    <!-- /ko -->
</div>