@background-color: #262644;
@animation-time: 1s;

@keyframes fadeIn {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

html, body, .video-js {
    &.easy-player-dimensions {
        width: 100%;
        height: 100%;
    }

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@import "loader.less";

.media-processing,
.media-not-found {
    opacity: 0;
    -webkit-animation: fadeIn @animation-time forwards;
    animation: fadeIn @animation-time forwards;
}

.video-js {
    opacity: 0;
    -webkit-animation: fadeIn 0.8s forwards;
    animation: fadeIn 0.8s forwards;

    video {
        -webkit-transform: scale(1.00746);
        transform: scale(1.00746);
    }

    .vjs-control-bar {
        opacity: 0.8;
        border-radius: 5px;
        padding-right: 10px;
        background-color: @background-color;

        &:hover {
            opacity: 1;
        }

        .vjs-volume-menu-button {
            &:hover {
                .vjs-volume-bar.vjs-slider-horizontal {
                    height: 0.5em;
                    margin: 1.25em 1.35em;

                    .vjs-volume-level {
                        height: 0.5em;

                        &:before {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

.error-message {
    font-size: 16px;
    font-family: sans-serif;
    padding: 0 10px;
}

.error-status {
    font-size: 15px;
    font-family: sans-serif;
    padding: 0 10px;
}
