html {
    body {
        .media-processing,
        .media-not-found {
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .media-processing {
            background-image: url('../images/video_processing.jpg');
        }
        
        .media-not-found {
            background-image: url('../images/video_was_deleted.jpg');
        }
    }
}
