<section class="review-comments-section" data-bind="css: { empty: !reviewUrlExists() }">
    <div class="tab-title">
        <div class="tab-title-text" data-bind="localize: { text: 'reviewTabTitle' }">Comments</div>
        <div class="tab-title-remain-space"></div>
    </div>

    <div class="review-comments-block">
        <!-- ko if: isCommentsLoading -->
        <div class="review-comments-block-loader"></div>
        <!-- /ko -->
        <!-- ko ifnot: isCommentsLoading -->
            <!-- ko foreach: comments -->
            <div class="review-comment">
                <div class="review-comment-text">
                    "<span data-bind="text: text"></span>"
                </div>
                <!--<div class="review-comment-date" data-bind="text: time + ' ' + date"></div>-->
                <div class="review-comment-date">
                    <span data-bind="date: { value: createdOn, formatString: 'hh:mm A' }"></span>
                    <span data-bind="date: { value: createdOn, formatString: 'D/M/YYYY' }"></span>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: comments().length -->
            <div class="no-comments" data-bind="localize: { title: 'reviewNoComments' }">No comments yet</div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="tab-content">
        <div class="tab-help-info" data-bind="localize: { text: 'reviewTabHelp' }">
            Share this course with a private link and allow commenting
        </div>
        <!-- ko if: !reviewUrlExists() && !isDelivering() -->
        <button class="btn blue round pull-right tab-btn review-btn" data-bind="click: updateCourseForReview">
            <span class="btn-text" data-bind="localize: { text: 'reviewGetLink' }">Get link</span>
        </button>
        <!-- /ko -->
        <!-- ko if: reviewUrlExists() -->
        <div class="review-link" data-bind="css: { disabled: isDelivering() }">
            <div class="open-review-link" data-bind="click: openCourseReviewUrl, localize: { title: 'reviewOpenLinkTitle' }" title="Open link"></div>
            <div class="review-link-input-wrapper">
                <input class="review-link-input" type="text" readonly="readonly" data-bind="value: reviewUrl(), css: { selectable: !isDelivering() }, selectTextBinding: reviewUrlExists(), enable: !isDelivering()" />
            </div>
        </div>
        <!-- /ko -->
        <div class="tab-action-wrapper">
            <!-- ko if: !isDelivering() && reviewUrlExists()-->
            <button class="btn blue round pull-right tab-btn review-btn" data-bind="click: updateCourseForReview">
                <span class="btn-text" data-bind="localize: { text: 'reviewUpdateCourse' }">Update course</span>
            </button>
            <!-- /ko -->
            <!-- ko if: isDelivering() -->
            <button class="btn blue round pull-right tab-btn review-btn">
                <span class="btn-text iconed" data-bind="localize: { text: 'reviewPublishingCourse' }">Publishing...</span>
            </button>
            <!-- /ko -->
        </div>
    </div>
</section>
