<section class="review-comments-section" data-bind="css: { empty: !reviewUrlExists() }">
    <div class="tab-title">
        <div class="tab-title-text" data-bind="localize: { text: 'reviewTabTitle' }">Comments</div>
        <div class="tab-title-remain-space"></div>
    </div>

    <div class="review-comments-block">
        <!-- ko compose: { model: 'viewmodels/courses/courseComments', activationData: courseId }-->
        <!-- /ko -->
    </div>
    <div class="tab-content">
        <!-- ko ifnot: reviewUrlExists() -->
        <div class="tab-help-info" data-bind="localize: { text: 'getReviewTabHelp' }">
            Press the get link button and then share the link with your external reviewers:
        </div>
        <!-- /ko -->
        <!-- ko if: reviewUrlExists() -->
        <div class="tab-help-info" data-bind="localize: { text: 'updateReviewTabHelp' }">
            Press the upload button and then share the link with your external reviewers:
        </div>
        <!-- /ko -->

        <div class="tab-action-wrapper">
            <!-- ko if: !reviewUrlExists() && !isDelivering() -->
            <button class="btn blue round tab-btn review-btn" data-bind="click: updateCourseForReview">
                <span class="btn-text" data-bind="localize: { text: 'reviewGetLink' }">Get link</span>
            </button>
            <!-- /ko -->
            <!-- ko if: reviewUrlExists() && !isDelivering() -->
            <button class="btn blue round tab-btn review-btn" data-bind="click: updateCourseForReview">
                <span class="btn-text" data-bind="localize: { text: 'reviewUpdateCourse' }">Update course</span>
            </button>
            <!-- /ko -->
            <!-- ko if: isDelivering() -->
            <button class="btn blue round tab-btn review-btn">
                <span class="btn-text iconed" data-bind="localize: { text: 'reviewPublishingCourse' }">Publishing...</span>
            </button>
            <!-- /ko -->
        </div>
        
        <!-- ko if: reviewUrlExists() -->
        <div class="review-link" data-bind="css: { disabled: isDelivering() }">
            <div class="open-review-link" data-bind="click: openCourseReviewUrl, localize: { title: 'reviewOpenLinkTitle' }" title="Open link"></div>
            <div class="review-link-input-wrapper">
                <input class="review-link-input" type="text" readonly="readonly" data-bind="value: reviewUrl(), css: { selectable: !isDelivering() }, selectTextBinding: reviewUrlExists(), enable: !isDelivering()" />
            </div>
        </div>
        <!-- /ko -->
    </div>
</section>
