<section class="review-comments-section" data-bind="css: { empty: !reviewUrlExists() }">
    <div class="tab-title-text" data-bind="localize: { text: 'reviewTabTitle' }">Comments</div>

    <div class="review-comments-block" data-bind="scrollbar: {}">
        <!-- ko compose: { model: 'viewmodels/courses/courseComments', activationData: courseId }-->
        <!-- /ko -->
    </div>
    <div class="tab-content">
        <!-- ko ifnot: reviewUrlExists() -->
        <div class="tab-help-info" data-bind="localize: { text: 'getReviewTabHelp' }">
        </div>
        <!-- /ko -->
        <!-- ko if: reviewUrlExists() -->
        <div class="tab-help-info" data-bind="localize: { text: 'updateReviewTabHelp' }">
        </div>
        <!-- /ko -->

        <div class="tab-action-wrapper">
            <!-- ko if: !reviewUrlExists() && !isPublishing() -->
            <button class="btn green tab-btn review-btn" data-bind="click: updateCourseForReview">
                <span class="btn-text" data-bind="localize: { text: 'reviewGetLink' }">Get link</span>
            </button>
            <!-- /ko -->
            <!-- ko if: reviewUrlExists() && !isPublishing() -->
            <button class="btn green tab-btn review-btn" data-bind="click: updateCourseForReview">
                <span class="btn-text" data-bind="localize: { text: 'reviewUpdateCourse' }">Update course</span>
            </button>
            <!-- /ko -->
            <!-- ko if: isPublishing() -->
            <button class="btn green tab-btn review-btn">
                <span class="loader-container">
                    <span data-bind="preloader: { type: 'circular', settings: 'small white' }"></span>
                    <span class="btn-text" data-bind="localize: { text: 'reviewPublishingCourse' }">Publishing...</span>
                </span>
            </button>
            <!-- /ko -->
        </div>

        <!-- ko if: reviewUrlExists() -->
        <div class="review-link" data-bind="css: { disabled: isPublishing() }">
            <div class="review-link-input-wrapper">
                <input class="review-link-input" type="text" readonly="readonly" data-bind="value: reviewUrl(), css: { selectable: !isPublishing() }, selectText: reviewUrlExists(), enable: !isPublishing()"/>
            </div>
            <a href="#" class="open-review-link" data-bind="attr: {href: reviewUrl()}, click: openCourseReviewUrl">Open in new window</a>
        </div>
        <!-- /ko -->
    </div>
</section>
