<p>This course is designed to show you how an <strong>easygenerator </strong>course is constructed.</p>

<p>&nbsp;</p>

<p><img alt="" src="http://live.easygenerator.com/storage/image/2fbbf85e-c3de-4061-82ba-982cb7fb3174.gif" /></p>

<p>&nbsp;</p>

<p>It contains 5 learning objectives, each learning objective contains some questions and has attached learning content. From this content you can generate a quiz, an exam or a course by selecting another template.</p>

<p>&nbsp;</p>

<p>You don&#39;t have to change anything in the content for that. Just click on the design tab, select the correct template (Quiz, Exam, or &quot;Simple course&#39;. Go to the tab &#39;Publish&#39; and press &#39;Publish this course online&#39;. Click the &#39;open link&#39; button to view the result.</p>

<p>&nbsp;</p>

<p>If you have any questions, please contact us via Support@easygenerator.com.</p>
