<fieldset>
    <legend>New Experience</legend>
    <form class="form-horizontal">
        <div class="control-group" data-bind="css: { error: !title.isValid() && title.isModified() }">
            <label class="control-label" for="experienceTitle">Title</label>
            <div class="controls">
                <input type="text" id="experienceTitle" placeholder="Experience title..." data-bind="value: title, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="objectives-list">Objectives in experience</label>
            <div class="controls">
                <ul class="unstyled" id="objectives-list">
                    <!-- ko foreach: objectives -->
                    <li>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: isSelected">
                            <!-- ko text: title -->
                            <!-- /ko -->
                        </label>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-bind="click: create">Create</button>
            <button type="button" class="btn" data-bind="click: cancel">Cancel</button>
        </div>
    </form>
</fieldset>
