<section id="createExperience" class="view-module create-experience">

    <div class="fixed-container">
        <div class="content-holder">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'createExperienceViewCaption' }">Create learning experience</div>
            </div>
        </div>
    </div>

    <!-- ko compose: { view: 'views/common/back', model: { goBackAction: navigateToExperiences, goBackLink: '#experiences', goBackTooltip: goBackTooltip } } -->
    <!-- /ko -->

    <div class="content-holder">

        <form class="form-create">
            <div class="form-create-title">
                <div class="form-create-title-circle blue number">
                    1
                    <div class="form-create-title-circle-triangle"></div>
                </div>
                <span class="form-create-title-text" data-bind="localize: { text: 'defineLerningExperienceTitle' }">Define learning experience title</span>
            </div>
            <div class="form-create-field">
                <span class="form-create-field-placeholder" data-bind="visible: title().length == 0, localize: { text: 'typeExperienceTitleHere' }, click: title.startEditing">Type learning objective title here</span>
                <div class="edit-field selectable" data-bind="editableText: { text: title, multiline: false }, hasFocus: title.isEditing, event: { focus: title.startEditing }, css: { error: !title.isValid() && title().length > experienceTitleMaxLength, active: title.isEditing, empty: title().trim().length == 0 }, autofocus: { focus: true }"></div>
                <div class="chars-counter" data-bind="css: { error: !title.isValid() && title().length > experienceTitleMaxLength }">
                    <span data-bind="text: title().trim().length"></span>/<span data-bind="    text: experienceTitleMaxLength"></span>
                </div>
            </div>

            <div class="form-create-title choose-template">
                <div class="form-create-title-circle blue number">
                    2
                    <div class="form-create-title-circle-triangle"></div>
                </div>
                <span class="form-create-title-text" data-bind="localize: { text: 'chooseLearningExperienceTemplate' }">Choose learning experience template</span>
            </div>
            <div class="form-create-choose-template-holder">
                <ul class="choose-template-list gorizontal" data-bind="foreach: templates">
                    <li class="choose-template-list-item" data-bind="css: { selected: isSelected }, click: $parent.selectTemplate">
                        <div class="template-image-holder">
                            <img class="template-image" data-bind="attr: { src: image }">
                        </div>
                        <div class="template-info-wrapper">
                            <div class="template-title" data-bind="text: name"></div>
                            <div class="template-desc" data-bind="text: description"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- ko compose: { view: 'views/common/formactions', model: { isValid: isFormFilled(), createAndContinue: createAndContinue } } -->
            <!-- /ko -->
        </form>
    </div>
</section>
