<section>
    <div class="package-actions-holder">
        <div class="package-actions-content clearfix">
            <aside class="actions-left-column">
                <div class="package-action-btn-holder">
                    <!-- ko if: (status() == statuses.notStarted || status() == statuses.failed) && !packageExists() -->
                    <div class="package-action-btn btn orange create-package-btn" data-bind="click: buildExperience">
                        <span class="btn-title" data-bind="localize: { text: 'createPackage' }">Create package</span>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: status() == statuses.inProgress -->
                    <div class="package-action-btn btn orange creating-btn">
                        <!-- ko ifnot: packageExists() -->
                        <span class="btn-title" data-bind="localize: { text: 'creatingStatus' }">Creating...</span>
                        <!-- /ko -->
                        <!-- ko if: packageExists() -->
                        <span class="btn-title" data-bind="localize: { text: 'updatingStatus' }">Updating...</span>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <!-- ko if: packageExists() -->
                    <!-- ko if: status() == statuses.succeed && publishingState() != statuses.inProgress  -->
                    <div class="package-action-btn btn orange create-package-btn" data-bind="click: buildExperience">
                        <span class="btn-title" data-bind="localize: { text: 'updatePackage' }">Update package</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: publishingState() == statuses.inProgress  -->
                    <div class="package-action-btn btn orange create-package-btn disabled">
                        <span class="btn-title" data-bind="localize: { text: 'updatePackage' }">Update package</span>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="action-arrow down" data-bind="css: { disabled: status() != statuses.succeed || publishingState() == statuses.inProgress }">
                    <span class="icon-item"></span>
                </div>

                <div class="package-action-btn-holder">
                    <!-- ko if: !publishPackageExists() || status() == statuses.failed -->
                    <!-- ko if: status() == statuses.succeed && (publishingState() == statuses.notStarted || publishingState() == statuses.failed) -->
                    <div class="package-action-btn btn green publish-btn" data-bind="click: publishExperience">
                        <span class="btn-title" data-bind="localize: { text: 'publishOnline' }">Publish online</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: (status() != statuses.succeed && publishingState() != statuses.succeed) || status() == statuses.failed -->
                    <div class="package-action-btn btn green publish-btn disabled">
                        <span class="btn-title" data-bind="localize: { text: 'publishOnline' }">Publish online</span>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->

                    <!-- ko if: status() == statuses.succeed && publishingState() == statuses.inProgress -->
                    <div class="package-action-btn btn green publishing-btn">
                        <!-- ko ifnot: publishPackageExists() -->
                        <span class="btn-title" data-bind="localize: { text: 'publishing' }">Publishing...</span>
                        <!-- /ko -->
                        <!-- ko if: publishPackageExists() -->
                        <span class="btn-title" data-bind="localize: { text: 'republishing' }">Republishing...</span>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                    <!-- ko if: publishPackageExists() -->
                    <!-- ko if: status() == statuses.succeed && publishingState() == statuses.succeed -->
                    <div class="package-action-btn btn green publish-btn" data-bind="click: publishExperience">
                        <span class="btn-title" data-bind="localize: { text: 'republishOnline' }">Republish online</span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: (publishingState() != statuses.inProgress && publishingState() != statuses.succeed) || status() == statuses.inProgress -->
                    <div class="package-action-btn btn green publish-btn disabled">
                        <span class="btn-title" data-bind="localize: { text: 'republishOnline' }">Republish online</span>
                    </div>
                    <!-- /ko -->
                    <!-- /ko -->
                </div>
            </aside>
            <aside class="actions-right-column clearfix">
                <div class="action-arrow right" data-bind="css: { disabled: status() != statuses.succeed || publishingState() == statuses.inProgress }">
                    <i class="icon-item"></i>
                </div>
                <!-- ko if: status() == statuses.succeed && publishingState() != statuses.inProgress -->
                <div class="package-action-btn btn grey download-btn" data-bind="click: downloadExperience">
                    <span class="btn-title" data-bind="localize: { text: 'experienceDownloadAction' }">Download</span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: status() == statuses.succeed && publishingState() != statuses.inProgress -->
                <div class="package-action-btn btn grey download-btn disabled">
                    <span class="btn-title" data-bind="localize: { text: 'experienceDownloadAction' }">Download</span>
                </div>
                <!-- /ko -->
            </aside>
            <!-- ko if: successfullyPublished() -->
            <div class="copy-link-control clear clearfix">
                <div class="copy-link-input-wrapper" data-bind="css: { disabled: !successfullyPublished() }">
                    <input class="copy-link-input" type="text" readonly="readonly" data-bind="value: successfullyPublished() ? publishedPackageUrl() : '', css: { selectable: successfullyPublished() }, selectTextBinding: successfullyPublished" />
                    <a href="#" data-bind="click: openPublishedExperience">Open</a>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</section>
