<section class="design-view-module">
    <div class="container">
        <div class="clearfix">
            <div class="white-framing pull-left">
                <span class="template-logo-wrapper">
                    <img class="template-logo" data-bind="attr: { src: selectedTemlateImage }" alt="" />
                </span>
            </div>
            <div class="entity-actions">
                <div class="experience-template-selector-text-holder">
                    <span class="experience-template-selector-text" data-bind="localize: { text: 'learningExperienceTemplate' } ">Learning experience template:</span>
                </div>
                <div class="experience-template-selector" data-bind="selectBox: { options: templates, optionsText: 'name', optionsValue: 'id', value: selectedTemplateId }, event: { change: updateExperienceTemplate }"></div>
            </div>
        </div>
    </div>
</section>
