<div class="objectives-wrapper">
    <div class="objectives-navigation">
        <a href="#/objectives" data-bind="click: goToObjectives, localize: { text: 'learningObjectives' }">Learning objectives</a>
        <span data-bind="localize: { text: 'experiences' }">Experiences</span>
    </div>
    <div class="objectives-header">
        <div class="objectives-header-title">
            <div class="icon-wrapper">
                <span class="icon-stack">
                    <i class="icon-circle icon-stack-base"></i>
                    <a href="#" data-bind="click: goToCreateExperience" class="icon-plus icon-light"></a>
                </span>
            </div>
            <span data-bind="localize: { text: 'experiences' }">Experiences</span>
        </div>
        <div class="objectives-header-divider">
            <hr />
        </div>
        <div class="objectives-header-sort-label">
            <span data-bind="localize: { text: 'sortBy' }">Sort by</span>&nbsp;<i class="icon-caret-down"></i>
        </div>
        <div class="objectives-header-sort-container">
            <div class="objectives-sort-by-title-desc" data-bind="click: sortByTitleDesc, css: { 'active': currentSortingOption() == sortingOptions.byTitleDesc }">
                <span data-bind="localize: { text: 'lastLetter' }">z</span>&nbsp;<i class="icon-long-arrow-right"></i>&nbsp;<span data-bind="    localize: { text: 'firstLetter' }">a</span>
            </div>
            <div class="objectives-sort-by-title-asc" data-bind="click: sortByTitleAsc, css: { 'active': currentSortingOption() == sortingOptions.byTitleAsc }">
                <span data-bind="localize: { text: 'firstLetter' }">a</span>&nbsp;<i class="icon-long-arrow-right"></i>&nbsp;<span data-bind="    localize: { text: 'lastLetter' }">z</span>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <div class="objectives-content">
        <div class="objectives-list-wrapper">
            <ul class="unstyled publications-list">
                <!-- ko foreach: experiences -->
                <li class="objective-brief" data-bind="css: { 'objective-brief-selected': isSelected() }">
                    <div class="publication-brief-content" style="background-image: url('Content/images/experience.png');" data-bind="click: $parent.toggleSelection">
                        <br />
                        <br />
                        <br />
                        <button type="button" class="btn btn-info" data-bind="click: $parent.open, localize: { text: 'open' }">Open</button>
                        <span class="alert alert-info inline" data-bind="text: title + ' [' + objectives.length + ']'"></span>
                    </div>
                </li>
                <!-- /ko -->
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
