<section class="experiences view-module" data-bind="scrollToElement: {}">
    <div class="fixed-container">
        <div class="content-holder">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'experiences' }">Learning experiences</div>
            </div>
        </div>
        <div class="list-controls-holder">
            <!-- ko if: enableDeleteExperiences -->
            <span class="selected-item-action delete enabled" data-bind="click: deleteSelectedExperiences, localize: { text: 'deleteSelected' }">Delete selected</span>
            <!-- /ko -->

            <!-- ko ifnot: enableDeleteExperiences -->
            <span class="selected-item-action delete disabled" data-bind="localize: { text: 'deleteSelected' }">Delete selected</span>
            <!-- /ko -->
            <div class="dotted-line"></div>
        </div>
    </div>

    <div class="content-holder resizable">
        <div class="main-content-list-holder">
            <div class="create-new-holder">
                <a href="#experience/create" class="create-new-title" data-bind="click: navigateToCreation">
                    <span class="create-new-icon">&nbsp;</span>
                    <span data-bind="localize: { text: 'createNewExperience' }"></span>
                </a>
                <div class="dotted-line"></div>
            </div>
            <ul class="unstyled main-content-list" data-bind="selectOnMouseOver: 'copyLink'">
                <!-- ko foreach: experiences -->
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedExperienceId == id, selected: isSelected }">
                    <div class="list-item-content-holder" data-bind="click: $parent.toggleSelection">
                        <div class="list-item-checkbox">
                            <span class="custom-checkbox-wrapper" data-bind="css: { checked: isSelected }">
                                <input class="custom-checkbox" type="checkbox" />
                            </span>
                        </div>
                        <div class="list-item-logo">
                            <span class="list-item-logo-image-wrapper">
                                <img class="list-item-logo-image" alt="" data-bind="attr: { src: image }" src="" />
                            </span>
                        </div>
                        <div class="list-item-info">
                            <div class="list-item-title">
                                <span class="selectable" data-bind="text: title"></span>
                            </div>
                            <div class="list-item-saved">
                                <span data-bind="localize: { text: 'lastEdited' }">Last edited:</span> <span data-bind="date: { value: modifiedOn, formatString: 'L', language: $parent.currentLanguage }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="open-item-btn">
                        <a href="" class="cursor-pointer green btn btn-small open-btn" data-bind="click: $parent.navigateToDetails, attr: { href: '#experience/' + id }">
                            <span class="open-btn-text" data-bind="localize: { text: 'open' }">Open</span>
                        </a>
                    </div>
                    <div class="experience-actions-panel">
                        <div class="experience-actions-wrapper">
                            <div class="experience-action create-package" data-bind="click: $parent.buildExperience">
                                <span class="experience-action-title" data-bind="localize: { text: isFirstBuild() ? 'createPackage' : 'updatePackage' }">Create package</span>
                            </div>
                            <div class="experience-action download-package" data-bind="css: { disabled: isFirstBuild() }, click: $parent.downloadExperience">
                                <span class="experience-action-title" data-bind="localize: { text: 'experienceDownloadAction' }">Download</span>
                            </div>
                            <div class="experience-action publish-package" data-bind="css: { disabled: isFirstBuild() }, click: $parent.publishExperience">
                                <span class="experience-action-title" data-bind="localize: { text: isFirstPublish() ? 'publishOnline' : 'republishOnline' }">Publish online</span>
                            </div>
                            <div class="experience-action" data-bind="css: { disabled: isFirstPublish(), 'package-link': !isFirstPublish() }">
                                <input class="package-link-input" id="copyLink" type="text" readonly="readonly" data-bind="visible: !isFirstPublish(), value: publishedPackageUrl" />
                            </div>
                        </div>
                    </div>
                    <!-- ko if: showStatus() -->
                    <div class="experience-status-container" data-bind="event: { mouseover: $parent.enableOpenExperience }">
                        <!-- ko if: buildingStatus() == $parent.statuses.inProgress || publishingState() == $parent.statuses.inProgress -->
                            <!-- ko if: showCreatingStatus-->
                            <div class="experience-text-holder building">
                                <span class="experience-text" data-bind="localize: { text: buildingStatus() == $parent.statuses.inProgress ? 'creatingStatus' : 'publishing' }"></span>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: showCreatingStatus -->
                            <div class="experience-text-holder building">
                                <span class="experience-text" data-bind="localize: { text: buildingStatus() == $parent.statuses.inProgress ? 'updatingStatus' : 'republishing' }"></span>
                            </div>
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: showCompleteStatus() -->
                        <div class="experience-text-holder complete">
                            <span class="experience-text" data-bind="localize: { text: 'experienceCompleteStatus' }"></span>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: showFailedStatus() -->
                        <div class="experience-text-holder failed">
                            <span class="experience-text" data-bind="localize: { text: 'experienceFailedStatus' }"></span>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</section>
