<section class="experiences unselectable view-module">
    <div class="fixed-container">
        <div class="content-holder">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'experiences' }">Learning experiences</div>
            </div>
        </div>
    </div>

    <div class="experiences-header">
        <div class="experiences-header-title" data-bind="css: { 'alone': !enableSorting() }">
            <a class="experiences-header-create-link" href="/#/404" data-bind="click: navigateToCreation, localize: { title: 'addNewExperience' }"></a>
            <span class="experiences-header-title-text" data-bind="localize: { text: 'experience' }">Experience</span>
            <!-- ko if: canDeleteExperiences -->
            <span class="header-toolbar-item-wrapper" data-bind="click: deleteSelectedExperiences, localize: { title: 'delete' }">
                <span class="toolbar-remove"></span>
            </span>
            <!-- /ko -->
            <hr />
        </div>
        <div class="experiences-header-sort-label">
            <span data-bind="visible: enableSorting(), localize: { text: 'sortByTitle' }"></span>
        </div>
        <div class="experiences-header-sort-container" data-bind="visible: enableSorting()">
            <div class="experiences-sort-by-title-asc" data-bind="click: sortByTitleAsc, css: { 'active': currentSortingOption() == sortingOptions.byTitleAsc }, localize: { title: 'ascending' }">
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
            </div>
            <div class="experiences-sort-by-title-desc" data-bind="click: sortByTitleDesc, css: { 'active': currentSortingOption() == sortingOptions.byTitleDesc }, localize: { title: 'descending' }">
                <span data-bind="localize: { text: 'lastLetter' }">z</span>
                &nbsp;<i class="icon-long-arrow-right"></i>&nbsp;
                <span data-bind="localize: { text: 'firstLetter' }">a</span>
            </div>
        </div>
    </div>

    <!-- ko if: experiences().length -->
    <div class="content-holder">
        <div class="main-content-list-holder">
            <ul class="unstyled main-content-list">
                <!-- ko foreach: experiences -->
                <li class="main-content-list-item" data-bind="css: { 'scrollToElement': $parent.lastVistedExperienceId == id, selected: isSelected }">
                    <div class="list-item-content-holder" data-bind="click: $parent.toggleSelection">
                        <div class="list-item-checkbox">
                            <span class="custom-checkbox-input" data-bind="css: { checked: isSelected }">
                                <input class="custom-checkbox" type="checkbox" />
                            </span>
                        </div>
                        <div class="list-item-logo">
                            <span class="list-item-logo-image-wrapper">
                                <img class="list-item-logo-image" alt="" data-bind="attr: { src: image }" src="" />
                            </span>
                        </div>
                        <div class="list-item-info">
                            <div class="list-item-title">
                                <span class="selectable" data-bind="text: title"></span>
                            </div>
                            <div class="list-item-saved">
                                <span data-bind="localize: { text: 'lastEdited' }">Last edited:</span> <span data-bind="    date: { value: modifiedOn, formatString: 'L', language: $parent.currentLanguage }"></span>
                            </div>
                        </div>
                    </div>
                    <div class="open-item-btn">
                        <a href="" class="cursor-pointer green btn btn-small open-btn" data-bind="click: $parent.navigateToDetails">
                            <span class="open-btn-text" data-bind="localize: { text: 'open' }">Open</span>
                        </a>
                    </div>
                    <div class="package-actions-block cursor-default">
                        <!-- ko if: isFirstBuild -->
                        <div class="experience-action create-package-btn" data-bind="click: $parent.buildExperience">
                            <span class="btn-title" data-bind="localize: { text: 'createPackage' }">Create package</span>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: isFirstBuild -->
                        <div class="experience-action create-package-btn" data-bind="click: $parent.buildExperience">
                            <span class="btn-title" data-bind="localize: { text: 'updatePackage' }">Update package</span>
                        </div>
                        <div class="experience-action download-btn" data-bind="click: $parent.downloadExperience">
                            <span class="btn-title" data-bind="localize: { text: 'experienceDownloadAction' }">Download</span>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- ko if: showBuildingStatus() && buildingStatus() == $parent.buildingStatuses.inProgress -->
                    <div class="experience-status-container">
                        <!-- ko if: isFirstBuild -->
                        <div class="experience-text building" data-bind="localize: { text: 'creatingStatus' }"></div>
                        <!-- /ko -->
                        <!-- ko ifnot: isFirstBuild -->
                        <div class="experience-text building" data-bind="localize: { text: 'updatingStatus' }"></div>
                        <!-- /ko -->

                    </div>
                    <!-- /ko -->
                    <!-- ko if: showBuildingStatus() && buildingStatus() == $parent.buildingStatuses.succeed -->
                    <div class="experience-status-container" data-bind="event: { mouseover: $parent.enableOpenExperience }">
                        <div class="experience-text complete" data-bind="localize: { text: 'experienceCompleteStatus' }"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: showBuildingStatus() && buildingStatus() == $parent.buildingStatuses.failed -->
                    <div class="experience-status-container" data-bind="event: { mouseover: $parent.enableOpenExperience }">
                        <div class="experience-text failed" data-bind="localize: { text: 'experienceFailedStatus' }"></div>
                    </div>
                    <!-- /ko -->
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: experiences().length -->
    <div class="add-new-item-tip">
        <div class="add-new-item-tip-arrow"></div>
        <div class="add-new-item-tip-text rotate-right" data-bind="localize: { text: 'clickToAddExperience' }"></div>
    </div>
    <div class="empty-list-wrapper">
        <div class="empty-list">
            <div class="empty-list-text" data-bind="localize: { text: 'experiencesListIsEmpty' }"></div>
        </div>
    </div>
    <!-- /ko -->
    <!-- preloading images in mozilla browser in case their appearing by knockout bindings-->
    <div class="preloader-block">
        <div class="experience-brief-options-building-image"></div>
    </div>
</section>
