<section class="experience view-module">
    <div class="fixed-container">
        <div class="content-holder">
            <div class="page-view-caption clearfix">
                <div class="page-view-caption-text" data-bind="localize: { text: 'learningExperienceViewCaption' }">Learning experience editor</div>
            </div>
        </div>

        <!-- ko compose: { view: 'views/common/back', model: { goBackAction: navigateToExperiences, goBackLink: '#experiences', goBackTooltip: goBackTooltip } } -->
        <!-- /ko -->
    </div>
    <div class="content-holder">
        <div class="process-steps-container">
            <ul class="process-steps unstyled">
                <li class="tb-cell process-step" data-bind="click: goToDefine, css: { 'active': activeStep() == steps[0] }">
                    <span data-bind="localize: { text: 'experienceDefine' }">Define</span>
                </li>
                <li class="tb-cell">
                    <span class="separator">&nbsp;</span>
                </li>
                <li class="tb-cell process-step" data-bind="click: goToDesign, css: { 'active': activeStep() == steps[1] }">
                    <span data-bind="localize: { text: 'experienceDesign' }">Design</span>
                </li>
                <li class="tb-cell">
                    <span class="separator">&nbsp;</span>
                </li>
                <li class="tb-cell process-step active" data-bind="click: goToDeliver, css: { 'active': activeStep() == steps[2] }">
                    <span data-bind="localize: { text: 'experienceDeliver' }">Deliver</span>
                </li>
            </ul>
        </div>
        <!-- ko compose: { model: activeStep, cacheViews: false } -->
        <!-- /ko -->
    </div>
</section>
